Repository Azure/autorest.java: changes, and which Azure pipelines are due for each by the changed paths.
All: eng/pipelines/cadl-ci.yaml, eng/pipelines/fluent_integration.yaml

eng/pipelines/cadl-ci.yaml:
  jobs:
  - job: Build
    variables:
      JavaVersion: 1.8
      NodeVersion: 16.x
    pool:
      name: azsdk-pool-mms-ubuntu-2004-general
      vmImage: MMSUbuntu20.04
    steps:
    - task: NodeTool@0
      displayName: Install Node.js $(NodeVersion)
      inputs:
        versionSpec: $(NodeVersion)
    - task: Maven@3
  ...

eng/pipelines/fluent_integration.yaml:
  jobs:
  - job: Build
    timeoutInMinutes: 60
    pool:
      name: azsdk-pool-mms-win-2019-general
      vmImage: MMS2019
    steps:
    - task: NodeTool@0
      inputs:
        versionSpec: '>=14.0.0'
    - script: npm install autorest -g
    - task: Maven@3
      inputs:
        mavenPomFile: pom.xml
  ...

Cadl, add prettier (#1643)
  cadl-extension/.prettierignore
  cadl-extension/.prettierrc.yaml
  cadl-extension/package.json
  cadl-extension/readme.md
  cadl-extension/src/code-model-builder.ts
  cadl-extension/src/emitter.ts
  cadl-extension/src/schemas/choice.ts
  cadl-extension/src/schemas/usage.ts
  cadl-tests/.prettierrc.yaml
  cadl-tests/cadl/auth.cadl
  cadl-tests/cadl/builtin.cadl
  cadl-tests/cadl/enum.cadl
  cadl-tests/cadl/error.cadl
  cadl-tests/cadl/naming.cadl
  cadl-tests/cadl/odata.cadl
  cadl-tests/cadl/optional.cadl
  cadl-tests/cadl/paged.cadl
  cadl-tests/cadl/patch.cadl
  cadl-tests/cadl/polymorphism.cadl
  cadl-tests/cadl/response.cadl
  cadl-tests/cadl/server.cadl
  cadl-tests/cadl/visibility.cadl
  cadl-tests/package.json
  eng/pipelines/cadl-ci.yaml
Due: eng/pipelines/cadl-ci.yaml, eng/pipelines/fluent_integration.yaml

add partial update module
  partial-update/pom.xml
  partial-update/src/main/java/com/azure/autorest/partialupdate/util/PartialUpdateHandler.java
  partial-update/src/test/java/com/azure/autorest/partialupdate/util/PartialUpdateHandlerTest.java
  partial-update/src/test/resources/partialupdate/StringOperationGeneratedClient.java
  partial-update/src/test/resources/partialupdate/StringOperationWithAddedMemberClient.java
  partial-update/src/test/resources/partialupdate/StringOperationWithAddedMemberGeneratedClient.java
  partial-update/src/test/resources/partialupdate/StringOperationWithRemovedMemberClient.java
  partial-update/src/test/resources/partialupdate/StringOperationWithRemovedMemberGeneratedClient.java
  partial-update/src/test/resources/partialupdate/StringOperationWithUpdateMemberClient.java
  partial-update/src/test/resources/partialupdate/StringOperationWithUpdateMemberGeneratedClient.java
  pom.xml
Due: eng/pipelines/cadl-ci.yaml, eng/pipelines/fluent_integration.yaml

update cadl-extension and postprocessor dependencies
  cadl-extension/pom.xml
  cadl-extension/src/main/java/com/azure/autorest/CadlPlugin.java
  postprocessor/pom.xml
  postprocessor/src/main/java/com/azure/autorest/postprocessor/Postprocessor.java
  postprocessor/src/main/java/com/azure/autorest/postprocessor/util/PartialUpdateHandler.java
  postprocessor/src/test/java/com/azure/autorest/postprocessor/util/PartialUpdateHandlerTest.java
  postprocessor/src/test/resources/partialupdate/StringOperationGeneratedClient.java
  postprocessor/src/test/resources/partialupdate/StringOperationWithAddedMemberClient.java
  postprocessor/src/test/resources/partialupdate/StringOperationWithAddedMemberGeneratedClient.java
  postprocessor/src/test/resources/partialupdate/StringOperationWithRemovedMemberClient.java
  postprocessor/src/test/resources/partialupdate/StringOperationWithRemovedMemberGeneratedClient.java
  postprocessor/src/test/resources/partialupdate/StringOperationWithUpdateMemberClient.java
  postprocessor/src/test/resources/partialupdate/StringOperationWithUpdateMemberGeneratedClient.java
Due: eng/pipelines/cadl-ci.yaml, eng/pipelines/fluent_integration.yaml

enable ut in cadl-extension, also update surefire to M7
  cadl-extension/pom.xml
  cadl-extension/src/test/java/com/azure/cadl/util/ModelUtilTests.java
  fluentgen/pom.xml
  pom.xml
  protocol-sdk-integration-tests/sdk/parents/azure-client-sdk-parent/pom.xml
Due: eng/pipelines/cadl-ci.yaml, eng/pipelines/fluent_integration.yaml

move surefire out of local profile
  cadl-extension/pom.xml
  pom.xml
Due: eng/pipelines/cadl-ci.yaml, eng/pipelines/fluent_integration.yaml

tests in customization-base must be sequential
  customization-base/pom.xml
Due: eng/pipelines/cadl-ci.yaml, eng/pipelines/fluent_integration.yaml

sync plugin version with SDK repo
  customization-base/src/main/resources/pom.xml
  eng/versioning/external_dependencies.txt
  pom.xml
Due: eng/pipelines/cadl-ci.yaml, eng/pipelines/fluent_integration.yaml

disable parallelize test in fluengen
  fluentgen/pom.xml
Due: eng/pipelines/fluent_integration.yaml

fix wrong parent version
  azure-tests/pom.xml
  cadl-extension/pom.xml
  cadl-extension/src/test/java/com/azure/cadl/util/ModelUtilTests.java
  protocol-tests/pom.xml
  vanilla-tests/pom.xml
Due: eng/pipelines/cadl-ci.yaml, eng/pipelines/fluent_integration.yaml

regen azure-tests
  azure-tests/src/main/java/fixtures/lro/implementation/AutoRestLongRunningOperationTestServiceBuilder.java
  azure-tests/src/main/java/fixtures/lroparameterizedendpoints/implementation/LroWithParamaterizedEndpointsBuilder.java
  azure-tests/src/main/java/fixtures/lroparameterizedendpoints/models/ErrorException.java
Due: eng/pipelines/cadl-ci.yaml, eng/pipelines/fluent_integration.yaml

remove "java" level in "cadl-output", regen test, update test
  cadl-extension/readme.md
  cadl-extension/src/emitter.ts
  cadl-extension/src/main/java/com/azure/autorest/CadlPlugin.java
  cadl-extension/src/main/java/com/azure/cadl/Main.java
  cadl-tests/generate.sh
  cadl-tests/src/main/java/com/cadl/testserver/servicedriven1/ResiliencyServiceDriven1AsyncClient.java
  cadl-tests/src/main/java/com/cadl/testserver/servicedriven1/ResiliencyServiceDriven1Client.java
  cadl-tests/src/main/java/com/cadl/testserver/servicedriven1/ResiliencyServiceDriven1ClientBuilder.java
  cadl-tests/src/main/java/com/cadl/testserver/servicedriven1/ResiliencyServiceDriven1ServiceVersion.java
  cadl-tests/src/main/java/com/cadl/testserver/servicedriven1/implementation/ParamsImpl.java
  cadl-tests/src/main/java/com/cadl/testserver/servicedriven1/implementation/ResiliencyServiceDriven1ClientImpl.java
  cadl-tests/src/main/java/com/cadl/testserver/servicedriven1/implementation/package-info.java
  cadl-tests/src/main/java/com/cadl/testserver/servicedriven1/models/package-info.java
  cadl-tests/src/main/java/com/cadl/testserver/servicedriven1/package-info.java
  cadl-tests/src/main/java/com/cadl/testserver/servicedriven2/ResiliencyServiceDriven2AsyncClient.java
  cadl-tests/src/main/java/com/cadl/testserver/servicedriven2/ResiliencyServiceDriven2Client.java
  cadl-tests/src/main/java/com/cadl/testserver/servicedriven2/ResiliencyServiceDriven2ClientBuilder.java
  cadl-tests/src/main/java/com/cadl/testserver/servicedriven2/ResiliencyServiceDriven2ServiceVersion.java
  cadl-tests/src/main/java/com/cadl/testserver/servicedriven2/implementation/ParamsImpl.java
  cadl-tests/src/main/java/com/cadl/testserver/servicedriven2/implementation/ResiliencyServiceDriven2ClientImpl.java
  cadl-tests/src/main/java/com/cadl/testserver/servicedriven2/implementation/package-info.java
  cadl-tests/src/main/java/com/cadl/testserver/servicedriven2/models/package-info.java
  cadl-tests/src/main/java/com/cadl/testserver/servicedriven2/package-info.java
  cadl-tests/src/test/java/com/cadl/testserver/servicedriven1/DPGClientTest.java
  cadl-tests/src/test/java/com/cadl/testserver/servicedriven2/DPGClientTest.java
Due: eng/pipelines/cadl-ci.yaml

enable unit test in cadl-extension, also update surefire to M7 (#1644)
  azure-tests/pom.xml
  azure-tests/src/main/java/fixtures/lro/implementation/AutoRestLongRunningOperationTestServiceBuilder.java
  azure-tests/src/main/java/fixtures/lroparameterizedendpoints/implementation/LroWithParamaterizedEndpointsBuilder.java
  azure-tests/src/main/java/fixtures/lroparameterizedendpoints/models/ErrorException.java
  cadl-extension/pom.xml
  cadl-extension/readme.md
  cadl-extension/src/emitter.ts
  cadl-extension/src/main/java/com/azure/autorest/CadlPlugin.java
  cadl-extension/src/main/java/com/azure/cadl/Main.java
  cadl-extension/src/test/java/com/azure/cadl/util/ModelUtilTests.java
  cadl-tests/generate.sh
  cadl-tests/src/main/java/com/cadl/testserver/servicedriven1/ResiliencyServiceDriven1AsyncClient.java
  cadl-tests/src/main/java/com/cadl/testserver/servicedriven1/ResiliencyServiceDriven1Client.java
  cadl-tests/src/main/java/com/cadl/testserver/servicedriven1/ResiliencyServiceDriven1ClientBuilder.java
  cadl-tests/src/main/java/com/cadl/testserver/servicedriven1/ResiliencyServiceDriven1ServiceVersion.java
  cadl-tests/src/main/java/com/cadl/testserver/servicedriven1/implementation/ParamsImpl.java
  cadl-tests/src/main/java/com/cadl/testserver/servicedriven1/implementation/ResiliencyServiceDriven1ClientImpl.java
  cadl-tests/src/main/java/com/cadl/testserver/servicedriven1/implementation/package-info.java
  cadl-tests/src/main/java/com/cadl/testserver/servicedriven1/models/package-info.java
  cadl-tests/src/main/java/com/cadl/testserver/servicedriven1/package-info.java
  cadl-tests/src/main/java/com/cadl/testserver/servicedriven2/ResiliencyServiceDriven2AsyncClient.java
  cadl-tests/src/main/java/com/cadl/testserver/servicedriven2/ResiliencyServiceDriven2Client.java
  cadl-tests/src/main/java/com/cadl/testserver/servicedriven2/ResiliencyServiceDriven2ClientBuilder.java
  cadl-tests/src/main/java/com/cadl/testserver/servicedriven2/ResiliencyServiceDriven2ServiceVersion.java
  cadl-tests/src/main/java/com/cadl/testserver/servicedriven2/implementation/ParamsImpl.java
  cadl-tests/src/main/java/com/cadl/testserver/servicedriven2/implementation/ResiliencyServiceDriven2ClientImpl.java
  cadl-tests/src/main/java/com/cadl/testserver/servicedriven2/implementation/package-info.java
  cadl-tests/src/main/java/com/cadl/testserver/servicedriven2/models/package-info.java
  cadl-tests/src/main/java/com/cadl/testserver/servicedriven2/package-info.java
  cadl-tests/src/test/java/com/cadl/testserver/servicedriven1/DPGClientTest.java
  cadl-tests/src/test/java/com/cadl/testserver/servicedriven2/DPGClientTest.java
  customization-base/pom.xml
  customization-base/src/main/resources/pom.xml
  eng/versioning/external_dependencies.txt
  fluentgen/pom.xml
  pom.xml
  protocol-sdk-integration-tests/sdk/parents/azure-client-sdk-parent/pom.xml
  protocol-tests/pom.xml
  vanilla-tests/pom.xml
Due: eng/pipelines/cadl-ci.yaml, eng/pipelines/fluent_integration.yaml

enable sdk-integration, copy outputPath to output-folder in JavaSettings
  cadl-extension/src/main/java/com/azure/autorest/CadlPlugin.java
  cadl-extension/src/main/java/com/azure/cadl/Main.java
  cadl-extension/src/test/java/com/azure/cadl/util/ModelUtilTests.java
  extension-base/src/main/java/com/azure/autorest/extension/base/plugin/JavaSettings.java
Due: eng/pipelines/cadl-ci.yaml, eng/pipelines/fluent_integration.yaml

disable swagger readme in cadl
  cadl-extension/src/main/java/com/azure/autorest/CadlPlugin.java
  javagen/src/main/java/com/azure/autorest/Javagen.java
  javagen/src/test/java/com/azure/autorest/JavagenUnitTests.java
Due: eng/pipelines/cadl-ci.yaml, eng/pipelines/fluent_integration.yaml

cadl, skip swagger/readme.md, as it is for autorest
  cadl-extension/package.json
  cadl-extension/src/main/java/com/azure/autorest/CadlPlugin.java
  cadl-tests/generate.sh
  cadl-tests/package.json
  javagen/src/main/java/com/azure/autorest/model/projectmodel/Project.java
Due: eng/pipelines/cadl-ci.yaml, eng/pipelines/fluent_integration.yaml

put partial uodate before formatting
  cadl-extension/src/main/java/com/azure/autorest/CadlPlugin.java
  cadl-extension/src/main/java/com/azure/cadl/Main.java
Due: eng/pipelines/cadl-ci.yaml

update according to comments
  .github/CODEOWNERS
  partial-update/pom.xml
  partial-update/src/test/java/com/azure/autorest/partialupdate/util/PartialUpdateHandlerTest.java
Due: eng/pipelines/cadl-ci.yaml, eng/pipelines/fluent_integration.yaml

comment cadl-ranch resiliency tests as cadl-ranch server fails now
  cadl-tests/src/test/java/com/cadl/testserver/servicedriven1/DPGClientTest.java
  cadl-tests/src/test/java/com/cadl/testserver/servicedriven2/DPGClientTest.java
Due: eng/pipelines/cadl-ci.yaml

improve logic verifying sdk
  javagen/src/main/java/com/azure/autorest/model/projectmodel/Project.java
Due: eng/pipelines/cadl-ci.yaml, eng/pipelines/fluent_integration.yaml

Fix checkstyle error
  cadl-extension/src/main/java/com/azure/autorest/CadlPlugin.java
Due: eng/pipelines/cadl-ci.yaml

pom structure depends on whether sdk repo is found
  fluentgen/src/main/java/com/azure/autorest/fluent/mapper/FluentPomMapper.java
  javagen/src/main/java/com/azure/autorest/mapper/PomMapper.java
  javagen/src/main/java/com/azure/autorest/model/clientmodel/Pom.java
  javagen/src/main/java/com/azure/autorest/model/projectmodel/Project.java
  javagen/src/main/java/com/azure/autorest/template/PomTemplate.java
Due: eng/pipelines/cadl-ci.yaml, eng/pipelines/fluent_integration.yaml

format in parallel
  cadl-extension/src/main/java/com/azure/cadl/Main.java
Due: eng/pipelines/cadl-ci.yaml

Cadl, enable sdk-integration (#1646)
  cadl-extension/package.json
  cadl-extension/src/main/java/com/azure/autorest/CadlPlugin.java
  cadl-extension/src/main/java/com/azure/cadl/Main.java
  cadl-extension/src/test/java/com/azure/cadl/util/ModelUtilTests.java
  cadl-tests/generate.sh
  cadl-tests/package.json
  extension-base/src/main/java/com/azure/autorest/extension/base/plugin/JavaSettings.java
  fluentgen/src/main/java/com/azure/autorest/fluent/mapper/FluentPomMapper.java
  javagen/src/main/java/com/azure/autorest/Javagen.java
  javagen/src/main/java/com/azure/autorest/mapper/PomMapper.java
  javagen/src/main/java/com/azure/autorest/model/clientmodel/Pom.java
  javagen/src/main/java/com/azure/autorest/model/projectmodel/Project.java
  javagen/src/main/java/com/azure/autorest/template/PomTemplate.java
  javagen/src/test/java/com/azure/autorest/JavagenUnitTests.java
Due: eng/pipelines/cadl-ci.yaml, eng/pipelines/fluent_integration.yaml

handle ResponseBase with Void
  javagen/src/main/java/com/azure/autorest/template/ConvenienceSyncMethodTemplate.java
Due: eng/pipelines/cadl-ci.yaml, eng/pipelines/fluent_integration.yaml

update response.cadl to verify the change
  cadl-tests/cadl/response.cadl
  cadl-tests/src/main/java/com/cadl/response/ResponseAsyncClient.java
  cadl-tests/src/main/java/com/cadl/response/ResponseClient.java
  cadl-tests/src/main/java/com/cadl/response/implementation/ResponseOpsImpl.java
  cadl-tests/src/main/java/com/cadl/response/models/Resource.java
  cadl-tests/src/main/java/com/cadl/response/models/ResponseOpsCreateWithHeadersHeaders.java
  cadl-tests/src/main/java/com/cadl/response/models/ResponseOpsDeleteWithHeadersHeaders.java
  cadl-tests/src/main/java/com/cadl/response/models/package-info.java
Due: eng/pipelines/cadl-ci.yaml

Cadl, bug fix on response with headers (#1648)
  cadl-tests/cadl/response.cadl
  cadl-tests/src/main/java/com/cadl/response/ResponseAsyncClient.java
  cadl-tests/src/main/java/com/cadl/response/ResponseClient.java
  cadl-tests/src/main/java/com/cadl/response/implementation/ResponseOpsImpl.java
  cadl-tests/src/main/java/com/cadl/response/models/Resource.java
  cadl-tests/src/main/java/com/cadl/response/models/ResponseOpsCreateWithHeadersHeaders.java
  cadl-tests/src/main/java/com/cadl/response/models/ResponseOpsDeleteWithHeadersHeaders.java
  cadl-tests/src/main/java/com/cadl/response/models/package-info.java
  javagen/src/main/java/com/azure/autorest/template/ConvenienceSyncMethodTemplate.java
Due: eng/pipelines/cadl-ci.yaml, eng/pipelines/fluent_integration.yaml

update according to comments
  partial-update/pom.xml
Due: eng/pipelines/cadl-ci.yaml, eng/pipelines/fluent_integration.yaml

remove unknown code owner
  .github/CODEOWNERS
Due: eng/pipelines/cadl-ci.yaml, eng/pipelines/fluent_integration.yaml

dpg, put partial update as separate module (#1645)
  .github/CODEOWNERS
  cadl-extension/pom.xml
  cadl-extension/src/main/java/com/azure/autorest/CadlPlugin.java
  cadl-extension/src/main/java/com/azure/cadl/Main.java
  cadl-tests/src/test/java/com/cadl/testserver/servicedriven1/DPGClientTest.java
  cadl-tests/src/test/java/com/cadl/testserver/servicedriven2/DPGClientTest.java
  partial-update/pom.xml
  partial-update/src/main/java/com/azure/autorest/partialupdate/util/PartialUpdateHandler.java
  partial-update/src/test/java/com/azure/autorest/partialupdate/util/PartialUpdateHandlerTest.java
  partial-update/src/test/resources/partialupdate/StringOperationGeneratedClient.java
  partial-update/src/test/resources/partialupdate/StringOperationWithAddedMemberClient.java
  partial-update/src/test/resources/partialupdate/StringOperationWithAddedMemberGeneratedClient.java
  partial-update/src/test/resources/partialupdate/StringOperationWithRemovedMemberClient.java
  partial-update/src/test/resources/partialupdate/StringOperationWithRemovedMemberGeneratedClient.java
  partial-update/src/test/resources/partialupdate/StringOperationWithUpdateMemberClient.java
  partial-update/src/test/resources/partialupdate/StringOperationWithUpdateMemberGeneratedClient.java
  pom.xml
  postprocessor/pom.xml
  postprocessor/src/main/java/com/azure/autorest/postprocessor/Postprocessor.java
Due: eng/pipelines/cadl-ci.yaml, eng/pipelines/fluent_integration.yaml

cadl, use semi-formal getEffectiveModelType
  cadl-extension/src/code-model-builder.ts
  cadl-tests/cadl/response.cadl
  cadl-tests/src/main/java/com/cadl/response/ResponseAsyncClient.java
  cadl-tests/src/main/java/com/cadl/response/ResponseClient.java
  cadl-tests/src/main/java/com/cadl/response/ResponseClientBuilder.java
  cadl-tests/src/main/java/com/cadl/response/implementation/ResponseClientImpl.java
  cadl-tests/src/main/java/com/cadl/response/implementation/ResponseOpsImpl.java
  eng/pipelines/cadl-ci.yaml
  pom.xml
Due: eng/pipelines/cadl-ci.yaml, eng/pipelines/fluent_integration.yaml

format
  cadl-tests/cadl/response.cadl
Due: eng/pipelines/cadl-ci.yaml

cadl, use semi-formal getEffectiveModelType (#1649)
  cadl-extension/src/code-model-builder.ts
  cadl-tests/cadl/response.cadl
  cadl-tests/src/main/java/com/cadl/response/ResponseAsyncClient.java
  cadl-tests/src/main/java/com/cadl/response/ResponseClient.java
  cadl-tests/src/main/java/com/cadl/response/ResponseClientBuilder.java
  cadl-tests/src/main/java/com/cadl/response/implementation/ResponseClientImpl.java
  cadl-tests/src/main/java/com/cadl/response/implementation/ResponseOpsImpl.java
  eng/pipelines/cadl-ci.yaml
  pom.xml
Due: eng/pipelines/cadl-ci.yaml, eng/pipelines/fluent_integration.yaml

cadl, fix response cadl
  cadl-tests/cadl/response.cadl
Due: eng/pipelines/cadl-ci.yaml

cadl, fix response cadl (#1650)
  cadl-tests/cadl/response.cadl
Due: eng/pipelines/cadl-ci.yaml

load "java.json" and read namespace
  cadl-extension/src/emitter.ts
  cadl-extension/src/main/java/com/azure/cadl/Main.java
  extension-base/src/main/java/com/azure/autorest/extension/base/model/codemodel/CodeModel.java
Due: eng/pipelines/cadl-ci.yaml, eng/pipelines/fluent_integration.yaml

cadl, support LRO
  cadl-tests/cadl/lro.cadl
  cadl-tests/src/main/java/com/cadl/longrunning/LongRunningAsyncClient.java
  cadl-tests/src/main/java/com/cadl/longrunning/LongRunningClient.java
  cadl-tests/src/main/java/com/cadl/longrunning/LongRunningClientBuilder.java
  cadl-tests/src/main/java/com/cadl/longrunning/LongRunningServiceVersion.java
  cadl-tests/src/main/java/com/cadl/longrunning/implementation/LongRunningClientImpl.java
  cadl-tests/src/main/java/com/cadl/longrunning/implementation/LongRunningOpsImpl.java
  cadl-tests/src/main/java/com/cadl/longrunning/implementation/package-info.java
  cadl-tests/src/main/java/com/cadl/longrunning/models/LongRunningOpsCreateOrUpdateHeaders.java
  cadl-tests/src/main/java/com/cadl/longrunning/models/Resource.java
  cadl-tests/src/main/java/com/cadl/longrunning/models/package-info.java
  cadl-tests/src/main/java/com/cadl/longrunning/package-info.java
  cadl-tests/src/main/resources/cadl-longrunning.properties
Due: eng/pipelines/cadl-ci.yaml

builder.ts
  cadl-extension/src/code-model-builder.ts
Due: eng/pipelines/cadl-ci.yaml

add DELETE and POST as LRO
  cadl-tests/cadl/lro.cadl
  cadl-tests/src/main/java/com/cadl/longrunning/LongRunningAsyncClient.java
  cadl-tests/src/main/java/com/cadl/longrunning/LongRunningClient.java
  cadl-tests/src/main/java/com/cadl/longrunning/implementation/LongRunningOpsImpl.java
  cadl-tests/src/main/java/com/cadl/longrunning/models/LongRunningOpsDeleteHeaders.java
  cadl-tests/src/main/java/com/cadl/longrunning/models/LongRunningOpsExportHeaders.java
  cadl-tests/src/main/java/com/cadl/longrunning/models/OperationState.java
  cadl-tests/src/main/java/com/cadl/longrunning/models/OperationStatus.java
Due: eng/pipelines/cadl-ci.yaml

Path conditions:
  eng/pipelines/cadl-ci.yaml: any of: *, but not: fluent*
  eng/pipelines/fluent_integration.yaml: any of: *, but not: cadl*
