Repository Azure/autorest.java: changes, and which Azure pipelines are due for each by the changed paths.
All: eng/pipelines/cadl-ci.yaml, eng/pipelines/fluent_integration.yaml

eng/pipelines/cadl-ci.yaml:

trigger:
  branches:
    include:
      - main

pr:
  branches:
    include:
      - main
  paths:
    include:
      - '*'
    exclude:
      - 'fluent*'

jobs:
  - job: Build

    variables:
      JavaVersion: 1.8
      NodeVersion: '16.x'

    pool:
      name: "azsdk-pool-mms-ubuntu-2004-general"
      vmImage: "MMSUbuntu20.04"

    steps:
      - task: NodeTool@0
        displayName: 'Install Node.js $(NodeVersion)'
        inputs:
          versionSpec: '$(NodeVersion)'

      - task: Maven@3
        retryCountOnTaskFailure: 3
        displayName: 'Build JAR'
        inputs:
          mavenPomFile: pom.xml
          goals: 'clean verify package install'
          options: '-P local,cadl -T 1C --no-transfer-progress'
          javaHomeOption: 'JDKVersion'
          jdkVersionOption: $(JavaVersion)
          jdkArchitectureOption: 'x64'
          publishJUnitResults: false

      - task: Npm@1
        displayName: 'Install Dependencies for CADL Java'
        inputs:
          command: install
          workingDir: ./cadl-extension

      - task: Npm@1
        displayName: 'Build CADL Java'
        inputs:
          command: custom
          customCommand: run build
          workingDir: ./cadl-extension

      - task: Npm@1
        displayName: 'Lint CADL Java'
        inputs:
          command: custom
          customCommand: run lint
          workingDir: ./cadl-extension

      - task: Npm@1
        displayName: 'Pack CADL Java'
        inputs:
          command: custom
          customCommand: pack
          workingDir: ./cadl-extension

      - script: |
          npm install -g @cadl-lang/compiler
        displayName: 'Install CADL'

      - script: |
          bash ./generate.sh
        displayName: 'Generate Code'
        workingDirectory: ./cadl-tests

      - script: |
          git status
          git diff
        displayName: 'Git Diff'

      - script: |
          [ -z "`git status --porcelain`" ]
        displayName: 'Check no Diff'

      - task: Npm@1
        displayName: 'Install Testserver'
        inputs:
          command: install

      - script: |
          npm run testserver-run &
        displayName: 'Start Testserver'

      - task: Maven@3
        displayName: 'Run CADL Tests'
        inputs:
          mavenPomFile: pom.xml
          goals: 'clean test'
          options: '-PtestCadl -pl cadl-tests -DtrimStackTrace=false --no-transfer-progress'
          javaHomeOption: 'JDKVersion'
          jdkVersionOption: $(JavaVersion)
          jdkArchitectureOption: 'x64'
          publishJUnitResults: false

      - script: |
          npm run testserver-stop
        displayName: 'Stop Testserver'

eng/pipelines/fluent_integration.yaml:

trigger:
  branches:
    include:
    - main

pr:
  branches:
    include:
    - main
  paths:
    include:
      - '*'
    exclude:
      - 'cadl*'

jobs:
- job: 'Build'
  timeoutInMinutes: 60
  pool:
    name: "azsdk-pool-mms-win-2019-general"
    vmImage: "MMS2019"

  steps:
  - task: NodeTool@0
    inputs:
      versionSpec: '>=14.0.0'

  - script: npm install autorest -g

  - task: Maven@3
    inputs:
      mavenPomFile: 'pom.xml'
      mavenOptions: '-Xmx3072m'
      javaHomeOption: 'JDKVersion'
      jdkVersionOption: '1.11'
      jdkArchitectureOption: 'x64'
      publishJUnitResults: true
      testResultsFiles: '**/TEST-*.xml'
      goals: 'verify'
      options: '-P local,testFluent --no-transfer-progress'

  - task: PublishCodeCoverageResults@1
    inputs:
      codeCoverageTool: 'JaCoCo'
      summaryFileLocation: fluentgen/target/site/test-coverage/jacoco.xml
      reportDirectory: fluentgen/target/site/test-coverage/
      failIfCoverageEmpty: false

remove redundent null-check
  cadl-extension/src/code-model-builder.ts
Due: eng/pipelines/cadl-ci.yaml

Cadl, hack for cadl-azure-core (#1625)
  cadl-extension/src/code-model-builder.ts
  cadl-tests/cadl/error.cadl
  cadl-tests/cadl/response.cadl
  cadl-tests/src/main/java/com/cadl/response/ResponseAsyncClient.java
  cadl-tests/src/main/java/com/cadl/response/ResponseClient.java
  cadl-tests/src/main/java/com/cadl/response/ResponseClientBuilder.java
  cadl-tests/src/main/java/com/cadl/response/ResponseServiceVersion.java
  cadl-tests/src/main/java/com/cadl/response/implementation/ResponseClientImpl.java
  cadl-tests/src/main/java/com/cadl/response/implementation/ResponseOpsImpl.java
  cadl-tests/src/main/java/com/cadl/response/implementation/package-info.java
  cadl-tests/src/main/java/com/cadl/response/package-info.java
  cadl-tests/src/main/resources/cadl-response.properties
Due: eng/pipelines/cadl-ci.yaml

emitter for auth
  cadl-extension/src/code-model-builder.ts
Due: eng/pipelines/cadl-ci.yaml

update paged.cadl to use Azure.Core
  cadl-tests/cadl/paged.cadl
  cadl-tests/src/main/java/com/cadl/paged/PagedAsyncClient.java
  cadl-tests/src/main/java/com/cadl/paged/PagedClient.java
  cadl-tests/src/main/java/com/cadl/paged/PagedClientBuilder.java
  cadl-tests/src/main/java/com/cadl/paged/implementation/PagedClientImpl.java
  cadl-tests/src/main/java/com/cadl/paged/implementation/PagedOpsImpl.java
  cadl-tests/src/main/java/com/cadl/paged/models/CustomPageResource.java
Due: eng/pipelines/cadl-ci.yaml

test for auth
  cadl-tests/cadl/auth.cadl
  cadl-tests/src/main/java/com/cadl/auth/AuthAsyncClient.java
  cadl-tests/src/main/java/com/cadl/auth/AuthClient.java
  cadl-tests/src/main/java/com/cadl/auth/AuthClientBuilder.java
  cadl-tests/src/main/java/com/cadl/auth/AuthServiceVersion.java
  cadl-tests/src/main/java/com/cadl/auth/implementation/AuthClientImpl.java
  cadl-tests/src/main/java/com/cadl/auth/implementation/AuthOpsImpl.java
  cadl-tests/src/main/java/com/cadl/auth/implementation/package-info.java
  cadl-tests/src/main/java/com/cadl/auth/package-info.java
  cadl-tests/src/main/resources/cadl-auth.properties
Due: eng/pipelines/cadl-ci.yaml

remove code that now in 0.34
  cadl-extension/src/code-model-builder.ts
Due: eng/pipelines/cadl-ci.yaml

fix lint
  cadl-extension/src/code-model-builder.ts
Due: eng/pipelines/cadl-ci.yaml

Cadl, support ServiceAuthentication (#1626)
  cadl-extension/src/code-model-builder.ts
  cadl-tests/cadl/auth.cadl
  cadl-tests/cadl/paged.cadl
  cadl-tests/src/main/java/com/cadl/auth/AuthAsyncClient.java
  cadl-tests/src/main/java/com/cadl/auth/AuthClient.java
  cadl-tests/src/main/java/com/cadl/auth/AuthClientBuilder.java
  cadl-tests/src/main/java/com/cadl/auth/AuthServiceVersion.java
  cadl-tests/src/main/java/com/cadl/auth/implementation/AuthClientImpl.java
  cadl-tests/src/main/java/com/cadl/auth/implementation/AuthOpsImpl.java
  cadl-tests/src/main/java/com/cadl/auth/implementation/package-info.java
  cadl-tests/src/main/java/com/cadl/auth/package-info.java
  cadl-tests/src/main/java/com/cadl/paged/PagedAsyncClient.java
  cadl-tests/src/main/java/com/cadl/paged/PagedClient.java
  cadl-tests/src/main/java/com/cadl/paged/implementation/PagedOpsImpl.java
  cadl-tests/src/main/java/com/cadl/paged/models/CustomPageResource.java
  cadl-tests/src/main/resources/cadl-auth.properties
Due: eng/pipelines/cadl-ci.yaml

cadl, support array in query
  cadl-tests/cadl/enum.cadl
  cadl-tests/src/main/java/com/cadl/enumservice/EnumServiceAsyncClient.java
  cadl-tests/src/main/java/com/cadl/enumservice/EnumServiceClient.java
  cadl-tests/src/main/java/com/cadl/enumservice/implementation/EnumOpsImpl.java
  javagen/src/main/java/com/azure/autorest/template/ConvenienceMethodTemplateBase.java
  javagen/src/main/java/com/azure/autorest/template/ServiceAsyncClientTemplate.java
  javagen/src/main/java/com/azure/autorest/template/ServiceSyncClientTemplate.java
Due: eng/pipelines/cadl-ci.yaml, eng/pipelines/fluent_integration.yaml

add tests for resiliency
  cadl-extension/src/main/java/com/azure/cadl/Main.java
  cadl-tests/generate.sh
  cadl-tests/src/main/java/cadl/testserver/servicedriven1/DPGAsyncClient.java
  cadl-tests/src/main/java/cadl/testserver/servicedriven1/DPGClient.java
  cadl-tests/src/main/java/cadl/testserver/servicedriven1/DPGClientBuilder.java
  cadl-tests/src/main/java/cadl/testserver/servicedriven1/DPGServiceVersion.java
  cadl-tests/src/main/java/cadl/testserver/servicedriven1/implementation/DPGClientImpl.java
  cadl-tests/src/main/java/cadl/testserver/servicedriven1/implementation/ParamsImpl.java
  cadl-tests/src/main/java/cadl/testserver/servicedriven1/implementation/package-info.java
  cadl-tests/src/main/java/cadl/testserver/servicedriven1/models/Message.java
  cadl-tests/src/main/java/cadl/testserver/servicedriven1/models/PostInput.java
  cadl-tests/src/main/java/cadl/testserver/servicedriven1/models/package-info.java
  cadl-tests/src/main/java/cadl/testserver/servicedriven1/package-info.java
  cadl-tests/src/main/java/cadl/testserver/servicedriven2/DPGAsyncClient.java
  cadl-tests/src/main/java/cadl/testserver/servicedriven2/DPGClient.java
  cadl-tests/src/main/java/cadl/testserver/servicedriven2/DPGClientBuilder.java
  cadl-tests/src/main/java/cadl/testserver/servicedriven2/DPGServiceVersion.java
  cadl-tests/src/main/java/cadl/testserver/servicedriven2/implementation/DPGClientImpl.java
  cadl-tests/src/main/java/cadl/testserver/servicedriven2/implementation/ParamsImpl.java
  cadl-tests/src/main/java/cadl/testserver/servicedriven2/implementation/package-info.java
  cadl-tests/src/main/java/cadl/testserver/servicedriven2/models/Contenttype.java
  cadl-tests/src/main/java/cadl/testserver/servicedriven2/models/Message.java
  cadl-tests/src/main/java/cadl/testserver/servicedriven2/models/PostInput.java
  cadl-tests/src/main/java/cadl/testserver/servicedriven2/models/package-info.java
  cadl-tests/src/main/java/cadl/testserver/servicedriven2/package-info.java
  cadl-tests/src/main/resources/cadl-testserver-servicedriven1.properties
  cadl-tests/src/main/resources/cadl-testserver-servicedriven2.properties
  cadl-tests/src/test/java/cadl/testserver/servicedriven1/DPGClientTest.java
  cadl-tests/src/test/java/cadl/testserver/servicedriven2/DPGClientTest.java
Due: eng/pipelines/cadl-ci.yaml

add tests for resiliency (#1629)
  cadl-extension/src/main/java/com/azure/cadl/Main.java
  cadl-tests/generate.sh
  cadl-tests/src/main/java/cadl/testserver/servicedriven1/DPGAsyncClient.java
  cadl-tests/src/main/java/cadl/testserver/servicedriven1/DPGClient.java
  cadl-tests/src/main/java/cadl/testserver/servicedriven1/DPGClientBuilder.java
  cadl-tests/src/main/java/cadl/testserver/servicedriven1/DPGServiceVersion.java
  cadl-tests/src/main/java/cadl/testserver/servicedriven1/implementation/DPGClientImpl.java
  cadl-tests/src/main/java/cadl/testserver/servicedriven1/implementation/ParamsImpl.java
  cadl-tests/src/main/java/cadl/testserver/servicedriven1/implementation/package-info.java
  cadl-tests/src/main/java/cadl/testserver/servicedriven1/models/Message.java
  cadl-tests/src/main/java/cadl/testserver/servicedriven1/models/PostInput.java
  cadl-tests/src/main/java/cadl/testserver/servicedriven1/models/package-info.java
  cadl-tests/src/main/java/cadl/testserver/servicedriven1/package-info.java
  cadl-tests/src/main/java/cadl/testserver/servicedriven2/DPGAsyncClient.java
  cadl-tests/src/main/java/cadl/testserver/servicedriven2/DPGClient.java
  cadl-tests/src/main/java/cadl/testserver/servicedriven2/DPGClientBuilder.java
  cadl-tests/src/main/java/cadl/testserver/servicedriven2/DPGServiceVersion.java
  cadl-tests/src/main/java/cadl/testserver/servicedriven2/implementation/DPGClientImpl.java
  cadl-tests/src/main/java/cadl/testserver/servicedriven2/implementation/ParamsImpl.java
  cadl-tests/src/main/java/cadl/testserver/servicedriven2/implementation/package-info.java
  cadl-tests/src/main/java/cadl/testserver/servicedriven2/models/Contenttype.java
  cadl-tests/src/main/java/cadl/testserver/servicedriven2/models/Message.java
  cadl-tests/src/main/java/cadl/testserver/servicedriven2/models/PostInput.java
  cadl-tests/src/main/java/cadl/testserver/servicedriven2/models/package-info.java
  cadl-tests/src/main/java/cadl/testserver/servicedriven2/package-info.java
  cadl-tests/src/main/resources/cadl-testserver-servicedriven1.properties
  cadl-tests/src/main/resources/cadl-testserver-servicedriven2.properties
  cadl-tests/src/test/java/cadl/testserver/servicedriven1/DPGClientTest.java
  cadl-tests/src/test/java/cadl/testserver/servicedriven2/DPGClientTest.java
Due: eng/pipelines/cadl-ci.yaml

mgmt, auto rename for unnamed array>object
  fluentnamer/src/main/java/com/azure/autorest/fluent/transformer/SchemaNameNormalization.java
Due: eng/pipelines/fluent_integration.yaml

refactor to avoid duplicate code
  fluentgen/src/main/java/com/azure/autorest/fluent/util/FluentUtils.java
  fluentnamer/src/main/java/com/azure/autorest/fluent/transformer/SchemaNameNormalization.java
  fluentnamer/src/main/java/com/azure/autorest/fluent/util/Utils.java
Due: eng/pipelines/fluent_integration.yaml

mgmt, auto rename for unnamed array>object (#1633)
  fluentgen/src/main/java/com/azure/autorest/fluent/util/FluentUtils.java
  fluentnamer/src/main/java/com/azure/autorest/fluent/transformer/SchemaNameNormalization.java
  fluentnamer/src/main/java/com/azure/autorest/fluent/util/Utils.java
Due: eng/pipelines/fluent_integration.yaml

add mock test for enum
  cadl-tests/cadl/auth.cadl
  cadl-tests/cadl/enum.cadl
  cadl-tests/pom.xml
  cadl-tests/src/main/java/com/cadl/auth/implementation/AuthOpsImpl.java
  cadl-tests/src/main/java/com/cadl/enumservice/EnumServiceAsyncClient.java
  cadl-tests/src/main/java/com/cadl/enumservice/EnumServiceClient.java
  cadl-tests/src/main/java/com/cadl/enumservice/implementation/EnumOpsImpl.java
  cadl-tests/src/test/java/com/cadl/enumservice/EnumTests.java
  cadl-tests/src/test/resources/mockito-extensions/org.mockito.plugins.MockMaker
Due: eng/pipelines/cadl-ci.yaml

update array query to handle null in array; update tests accordingly
  cadl-tests/src/main/java/com/cadl/enumservice/EnumServiceAsyncClient.java
  cadl-tests/src/main/java/com/cadl/enumservice/EnumServiceClient.java
  cadl-tests/src/test/java/com/cadl/enumservice/EnumTests.java
  javagen/src/main/java/com/azure/autorest/template/ClientMethodTemplate.java
  javagen/src/main/java/com/azure/autorest/template/ConvenienceMethodTemplateBase.java
  javagen/src/main/java/com/azure/autorest/template/ServiceAsyncClientTemplate.java
  javagen/src/main/java/com/azure/autorest/template/ServiceSyncClientTemplate.java
Due: eng/pipelines/cadl-ci.yaml, eng/pipelines/fluent_integration.yaml

cadl, support array in query (#1628)
  cadl-tests/cadl/auth.cadl
  cadl-tests/cadl/enum.cadl
  cadl-tests/pom.xml
  cadl-tests/src/main/java/com/cadl/auth/implementation/AuthOpsImpl.java
  cadl-tests/src/main/java/com/cadl/enumservice/EnumServiceAsyncClient.java
  cadl-tests/src/main/java/com/cadl/enumservice/EnumServiceClient.java
  cadl-tests/src/main/java/com/cadl/enumservice/implementation/EnumOpsImpl.java
  cadl-tests/src/test/java/com/cadl/enumservice/EnumTests.java
  cadl-tests/src/test/resources/mockito-extensions/org.mockito.plugins.MockMaker
  javagen/src/main/java/com/azure/autorest/template/ClientMethodTemplate.java
  javagen/src/main/java/com/azure/autorest/template/ConvenienceMethodTemplateBase.java
  javagen/src/main/java/com/azure/autorest/template/ServiceAsyncClientTemplate.java
  javagen/src/main/java/com/azure/autorest/template/ServiceSyncClientTemplate.java
Due: eng/pipelines/cadl-ci.yaml, eng/pipelines/fluent_integration.yaml

specify the version for cadl-lang packages
  cadl-extension/package.json
  cadl-tests/cadl-project.yaml
  cadl-tests/package.json
Due: eng/pipelines/cadl-ci.yaml

minor update on codeowner
  .github/CODEOWNERS
Due: eng/pipelines/cadl-ci.yaml, eng/pipelines/fluent_integration.yaml

CADL, specify the version for cadl-lang packages (#1635)
  .github/CODEOWNERS
  cadl-extension/package.json
  cadl-tests/cadl-project.yaml
  cadl-tests/package.json
Due: eng/pipelines/cadl-ci.yaml, eng/pipelines/fluent_integration.yaml

cadl, switch to getPagedResult from cadl-azure-core
  cadl-extension/package.json
  cadl-extension/src/code-model-builder.ts
Due: eng/pipelines/cadl-ci.yaml

refactor code about whether model needs to be written to class
  cadl-extension/src/main/java/com/azure/autorest/CadlPlugin.java
  cadl-extension/src/main/java/com/azure/cadl/mapper/CadlClientMapper.java
  cadl-extension/src/main/java/com/azure/cadl/mapper/CadlMapperFactory.java
  cadl-extension/src/main/java/com/azure/cadl/util/ModelUtil.java
  javagen/src/main/java/com/azure/autorest/mapper/ClientMapper.java
Due: eng/pipelines/cadl-ci.yaml, eng/pipelines/fluent_integration.yaml

refactor code about whether model needs to be written to class (#1638)
  cadl-extension/src/main/java/com/azure/autorest/CadlPlugin.java
  cadl-extension/src/main/java/com/azure/cadl/mapper/CadlClientMapper.java
  cadl-extension/src/main/java/com/azure/cadl/mapper/CadlMapperFactory.java
  cadl-extension/src/main/java/com/azure/cadl/util/ModelUtil.java
  javagen/src/main/java/com/azure/autorest/mapper/ClientMapper.java
Due: eng/pipelines/cadl-ci.yaml, eng/pipelines/fluent_integration.yaml

bug fix, ServiceMethod annotation for convenience methods
  javagen/src/main/java/com/azure/autorest/template/ConvenienceMethodTemplateBase.java
  javagen/src/main/java/com/azure/autorest/template/WrapperClientMethodTemplate.java
  javagen/src/main/java/com/azure/autorest/util/TemplateUtil.java
Due: eng/pipelines/cadl-ci.yaml, eng/pipelines/fluent_integration.yaml

regen tests
  cadl-tests/src/main/java/cadl/testserver/servicedriven1/DPGAsyncClient.java
  cadl-tests/src/main/java/cadl/testserver/servicedriven1/DPGClient.java
  cadl-tests/src/main/java/cadl/testserver/servicedriven1/implementation/ParamsImpl.java
  cadl-tests/src/main/java/cadl/testserver/servicedriven2/DPGAsyncClient.java
  cadl-tests/src/main/java/cadl/testserver/servicedriven2/DPGClient.java
  cadl-tests/src/main/java/cadl/testserver/servicedriven2/implementation/ParamsImpl.java
  cadl-tests/src/main/java/cadl/testserver/servicedriven2/models/Contenttype.java
  cadl-tests/src/main/java/com/cadl/auth/AuthAsyncClient.java
  cadl-tests/src/main/java/com/cadl/auth/AuthClient.java
  cadl-tests/src/main/java/com/cadl/builtin/BuiltinAsyncClient.java
  cadl-tests/src/main/java/com/cadl/builtin/BuiltinClient.java
  cadl-tests/src/main/java/com/cadl/enumservice/EnumServiceAsyncClient.java
  cadl-tests/src/main/java/com/cadl/enumservice/EnumServiceClient.java
  cadl-tests/src/main/java/com/cadl/errormodel/ErrorAsyncClient.java
  cadl-tests/src/main/java/com/cadl/errormodel/ErrorClient.java
  cadl-tests/src/main/java/com/cadl/naming/NamingAsyncClient.java
  cadl-tests/src/main/java/com/cadl/naming/NamingClient.java
  cadl-tests/src/main/java/com/cadl/optional/OptionalAsyncClient.java
  cadl-tests/src/main/java/com/cadl/optional/OptionalClient.java
  cadl-tests/src/main/java/com/cadl/patch/JsonMergePatchAsyncClient.java
  cadl-tests/src/main/java/com/cadl/patch/JsonMergePatchClient.java
  cadl-tests/src/main/java/com/cadl/polymorphism/PolymorphismAsyncClient.java
  cadl-tests/src/main/java/com/cadl/polymorphism/PolymorphismClient.java
  cadl-tests/src/main/java/com/cadl/response/ResponseAsyncClient.java
  cadl-tests/src/main/java/com/cadl/response/ResponseClient.java
  cadl-tests/src/main/java/com/cadl/server/ServerAsyncClient.java
  cadl-tests/src/main/java/com/cadl/server/ServerClient.java
  cadl-tests/src/main/java/com/cadl/visibility/VisibilityOpAsyncClient.java
  cadl-tests/src/main/java/com/cadl/visibility/VisibilityOpClient.java
  cadl-tests/src/main/java/com/cadl/visibility/VisibilityReadAsyncClient.java
  cadl-tests/src/main/java/com/cadl/visibility/VisibilityReadClient.java
  cadl-tests/src/main/java/com/cadl/visibility/VisibilityWriteAsyncClient.java
  cadl-tests/src/main/java/com/cadl/visibility/VisibilityWriteClient.java
Due: eng/pipelines/cadl-ci.yaml

missing file
  cadl-tests/src/main/java/cadl/testserver/servicedriven2/models/ContentTypePath.java
Due: eng/pipelines/cadl-ci.yaml

fix test
  cadl-tests/src/test/java/cadl/testserver/servicedriven2/DPGClientTest.java
Due: eng/pipelines/cadl-ci.yaml

skip generated content-type, if header parameter already defined in cadl
  javagen/src/main/java/com/azure/autorest/mapper/ProxyMethodMapper.java
Due: eng/pipelines/cadl-ci.yaml, eng/pipelines/fluent_integration.yaml

make the model for header as convenienceMethod, if the operation is convenienceMethod
  javagen/src/main/java/com/azure/autorest/mapper/ClientMapper.java
Due: eng/pipelines/cadl-ci.yaml, eng/pipelines/fluent_integration.yaml

Cadl/DPG, bug fix on content-type and header model (#1642)
  javagen/src/main/java/com/azure/autorest/mapper/ClientMapper.java
  javagen/src/main/java/com/azure/autorest/mapper/ProxyMethodMapper.java
Due: eng/pipelines/cadl-ci.yaml, eng/pipelines/fluent_integration.yaml

prettier for emitter
  cadl-extension/.prettierignore
  cadl-extension/.prettierrc.yaml
  cadl-extension/package.json
  cadl-extension/src/code-model-builder.ts
  cadl-extension/src/emitter.ts
  cadl-extension/src/schemas/choice.ts
  cadl-extension/src/schemas/usage.ts
Due: eng/pipelines/cadl-ci.yaml

prettier for cadl
  cadl-tests/.prettierrc.yaml
  cadl-tests/cadl/auth.cadl
  cadl-tests/cadl/builtin.cadl
  cadl-tests/cadl/enum.cadl
  cadl-tests/cadl/error.cadl
  cadl-tests/cadl/naming.cadl
  cadl-tests/cadl/odata.cadl
  cadl-tests/cadl/optional.cadl
  cadl-tests/cadl/paged.cadl
  cadl-tests/cadl/patch.cadl
  cadl-tests/cadl/polymorphism.cadl
  cadl-tests/cadl/response.cadl
  cadl-tests/cadl/server.cadl
  cadl-tests/cadl/visibility.cadl
  cadl-tests/package.json
Due: eng/pipelines/cadl-ci.yaml

CI to check-format
  eng/pipelines/cadl-ci.yaml
Due: eng/pipelines/cadl-ci.yaml, eng/pipelines/fluent_integration.yaml

Update .prettierignore
  cadl-extension/.prettierignore
Due: eng/pipelines/cadl-ci.yaml

CADL -> Cadl
  cadl-extension/readme.md
  eng/pipelines/cadl-ci.yaml
Due: eng/pipelines/cadl-ci.yaml, eng/pipelines/fluent_integration.yaml

change CI order
  eng/pipelines/cadl-ci.yaml
Due: eng/pipelines/cadl-ci.yaml, eng/pipelines/fluent_integration.yaml
