Repository Azure/autorest.java: changes, and which Azure pipelines are due for each by the changed paths.
All: eng/pipelines/cadl-ci.yaml, eng/pipelines/fluent_integration.yaml

eng/pipelines/cadl-ci.yaml:
  jobs:
  - job: Build
    variables:
      JavaVersion: 1.8
      NodeVersion: 16.x
    pool:
      name: azsdk-pool-mms-ubuntu-2004-general
      vmImage: MMSUbuntu20.04
    steps:
    - task: NodeTool@0
      displayName: Install Node.js $(NodeVersion)
      inputs:
        versionSpec: $(NodeVersion)
    - task: Maven@3
  ...

eng/pipelines/fluent_integration.yaml:
  jobs:
  - job: Build
    timeoutInMinutes: 60
    pool:
      name: azsdk-pool-mms-win-2019-general
      vmImage: MMS2019
    steps:
    - task: NodeTool@0
      inputs:
        versionSpec: '>=14.0.0'
    - script: npm install autorest -g
    - task: Maven@3
      inputs:
        mavenPomFile: pom.xml
  ...

format
  cadl-extension/src/code-model-builder.ts
Due: eng/pipelines/cadl-ci.yaml

Fix request/response body javadoc type
  cadl-tests/src/main/java/com/cadl/builtin/BuiltinAsyncClient.java
  cadl-tests/src/main/java/com/cadl/builtin/BuiltinClient.java
  cadl-tests/src/main/java/com/cadl/builtin/implementation/BuiltinOpsImpl.java
  javagen/src/main/java/com/azure/autorest/template/ClientMethodTemplateBase.java
Due: eng/pipelines/cadl-ci.yaml, eng/pipelines/fluent_integration.yaml

Add a debug configuration to debug when generating a file directly
  cadl-tests/.vscode/launch.json
Due: eng/pipelines/cadl-ci.yaml

cadl, log warning when rename templated model (#1688)
  cadl-extension/src/code-model-builder.ts
Due: eng/pipelines/cadl-ci.yaml

updates to sync stack
  extension-base/src/main/java/com/azure/autorest/extension/base/plugin/JavaSettings.java
  javagen/src/main/java/com/azure/autorest/mapper/ClientMethodMapper.java
  javagen/src/main/java/com/azure/autorest/mapper/ProxyMethodMapper.java
  javagen/src/main/java/com/azure/autorest/model/clientmodel/ClientMethodType.java
  javagen/src/main/java/com/azure/autorest/model/clientmodel/ProxyMethod.java
  javagen/src/main/java/com/azure/autorest/template/ClientMethodTemplate.java
  javagen/src/main/java/com/azure/autorest/util/SchemaUtil.java
  vanilla-tests/pom.xml
Due: eng/pipelines/cadl-ci.yaml, eng/pipelines/fluent_integration.yaml

Sync stack (#1689)
  extension-base/src/main/java/com/azure/autorest/extension/base/plugin/JavaSettings.java
  javagen/src/main/java/com/azure/autorest/mapper/ClientMethodMapper.java
  javagen/src/main/java/com/azure/autorest/mapper/ProxyMethodMapper.java
  javagen/src/main/java/com/azure/autorest/model/clientmodel/ClientMethodType.java
  javagen/src/main/java/com/azure/autorest/model/clientmodel/ProxyMethod.java
  javagen/src/main/java/com/azure/autorest/template/ClientMethodTemplate.java
  javagen/src/main/java/com/azure/autorest/util/SchemaUtil.java
  vanilla-tests/pom.xml
Due: eng/pipelines/cadl-ci.yaml, eng/pipelines/fluent_integration.yaml

Regenerate
  javagen/src/main/java/com/azure/autorest/mapper/ProxyMethodMapper.java
  javagen/src/main/java/com/azure/autorest/model/clientmodel/ArrayType.java
  javagen/src/main/java/com/azure/autorest/model/clientmodel/ClassType.java
  javagen/src/main/java/com/azure/autorest/model/clientmodel/EnumType.java
  javagen/src/main/java/com/azure/autorest/model/clientmodel/GenericType.java
  javagen/src/main/java/com/azure/autorest/model/clientmodel/IType.java
  javagen/src/main/java/com/azure/autorest/model/clientmodel/PrimitiveType.java
  javagen/src/main/java/com/azure/autorest/template/ModelTemplate.java
  javagen/src/main/java/com/azure/autorest/template/StreamSerializationModelTemplate.java
  javagen/src/main/java/com/azure/autorest/template/XmlSequenceWrapperTemplate.java
  vanilla-tests/src/main/java/fixtures/streamstyleserialization/models/SmartSalmon.java
  vanilla-tests/src/main/java/fixtures/streamstylexmlserialization/implementation/BananasWrapper.java
  vanilla-tests/src/main/java/fixtures/streamstylexmlserialization/implementation/SignedIdentifiersWrapper.java
  vanilla-tests/src/main/java/fixtures/streamstylexmlserialization/models/AppleBarrel.java
  vanilla-tests/src/main/java/fixtures/streamstylexmlserialization/models/Blob.java
  vanilla-tests/src/main/java/fixtures/streamstylexmlserialization/models/Blobs.java
  vanilla-tests/src/main/java/fixtures/streamstylexmlserialization/models/Container.java
  vanilla-tests/src/main/java/fixtures/streamstylexmlserialization/models/ListContainersResponse.java
  vanilla-tests/src/main/java/fixtures/streamstylexmlserialization/models/Slide.java
  vanilla-tests/src/main/java/fixtures/streamstylexmlserialization/models/Slideshow.java
  vanilla-tests/src/main/java/fixtures/streamstylexmlserialization/models/StorageServiceProperties.java
  vanilla-tests/src/main/java/fixtures/streamstylexmlserialization/models/XmlsGetHeadersHeaders.java
Due: eng/pipelines/cadl-ci.yaml, eng/pipelines/fluent_integration.yaml

Update pom.xml
  extension-base/pom.xml
Due: eng/pipelines/cadl-ci.yaml, eng/pipelines/fluent_integration.yaml

loaderOptions.setNestingDepthLimit(Integer.MAX_VALUE)
  androidgen/src/main/java/com/azure/autorest/android/Androidgen.java
  cadl-extension/src/main/java/com/azure/cadl/Main.java
  extension-base/src/main/java/com/azure/autorest/extension/base/plugin/NewPlugin.java
  fluentgen/src/main/java/com/azure/autorest/fluent/FluentGen.java
  fluentgen/src/test/java/com/azure/autorest/extension/base/plugin/YamlPropertyTest.java
  fluentnamer/src/main/java/com/azure/autorest/fluentnamer/FluentNamer.java
  javagen/src/main/java/com/azure/autorest/Javagen.java
  preprocessor/src/test/java/com/azure/autorest/MockPreprocessor.java
Due: eng/pipelines/cadl-ci.yaml, eng/pipelines/fluent_integration.yaml

Update Androidgen.java
  androidgen/src/main/java/com/azure/autorest/android/Androidgen.java
Due: eng/pipelines/cadl-ci.yaml, eng/pipelines/fluent_integration.yaml

Update pom.xml (#1692)
  androidgen/src/main/java/com/azure/autorest/android/Androidgen.java
  cadl-extension/src/main/java/com/azure/cadl/Main.java
  extension-base/pom.xml
  extension-base/src/main/java/com/azure/autorest/extension/base/plugin/NewPlugin.java
  fluentgen/src/main/java/com/azure/autorest/fluent/FluentGen.java
  fluentgen/src/test/java/com/azure/autorest/extension/base/plugin/YamlPropertyTest.java
  fluentnamer/src/main/java/com/azure/autorest/fluentnamer/FluentNamer.java
  javagen/src/main/java/com/azure/autorest/Javagen.java
  preprocessor/src/test/java/com/azure/autorest/MockPreprocessor.java
Due: eng/pipelines/cadl-ci.yaml, eng/pipelines/fluent_integration.yaml

update tests, regen
  cadl-tests/cadl/lro.cadl
  cadl-tests/cadl/odata.cadl
  cadl-tests/cadl/paged.cadl
  cadl-tests/cadl/patch.cadl
  cadl-tests/cadl/response.cadl
  cadl-tests/src/main/java/com/authentication/apikey/AuthenticationApiKeyAsyncClient.java
  cadl-tests/src/main/java/com/authentication/apikey/AuthenticationApiKeyClient.java
  cadl-tests/src/main/java/com/authentication/apikey/AuthenticationApiKeyClientBuilder.java
  cadl-tests/src/main/java/com/authentication/apikey/AuthenticationApiKeyServiceVersion.java
  cadl-tests/src/main/java/com/authentication/apikey/implementation/ApiKeysImpl.java
  cadl-tests/src/main/java/com/authentication/apikey/implementation/AuthenticationApiKeyClientImpl.java
  cadl-tests/src/main/java/com/authentication/apikey/implementation/package-info.java
  cadl-tests/src/main/java/com/authentication/apikey/package-info.java
  cadl-tests/src/main/java/com/authentication/oauth2/AuthenticationOAuth2AsyncClient.java
  cadl-tests/src/main/java/com/authentication/oauth2/AuthenticationOAuth2Client.java
  cadl-tests/src/main/java/com/authentication/oauth2/AuthenticationOAuth2ClientBuilder.java
  cadl-tests/src/main/java/com/authentication/oauth2/AuthenticationOAuth2ServiceVersion.java
  cadl-tests/src/main/java/com/authentication/oauth2/implementation/AuthenticationOAuth2ClientImpl.java
  cadl-tests/src/main/java/com/authentication/oauth2/implementation/OAuth2sImpl.java
  cadl-tests/src/main/java/com/authentication/oauth2/implementation/package-info.java
  cadl-tests/src/main/java/com/authentication/oauth2/package-info.java
  cadl-tests/src/main/java/com/cadl/enumservice/EnumServiceAsyncClient.java
  cadl-tests/src/main/java/com/cadl/enumservice/EnumServiceClient.java
  cadl-tests/src/main/java/com/cadl/enumservice/implementation/EnumOpsImpl.java
  cadl-tests/src/main/java/com/cadl/enumservice/models/Priority.java
  cadl-tests/src/main/java/com/cadl/longrunning/implementation/LongRunningOpsImpl.java
  cadl-tests/src/main/java/com/cadl/odata/models/Resource.java
  cadl-tests/src/main/java/com/cadl/paged/implementation/PagedOpsImpl.java
  cadl-tests/src/main/java/com/cadl/paged/models/Resource.java
  cadl-tests/src/main/java/com/cadl/patch/JsonMergePatchAsyncClient.java
  cadl-tests/src/main/java/com/cadl/patch/implementation/PatchesImpl.java
  cadl-tests/src/main/java/com/cadl/patch/models/Resource.java
  cadl-tests/src/main/java/com/cadl/response/implementation/ResponseOpsImpl.java
  cadl-tests/src/main/java/com/readonlyproperties/implementation/ReadonlyPropertiesImpl.java
  cadl-tests/src/main/resources/authentication-apikey.properties
  cadl-tests/src/main/resources/authentication-oauth2.properties
Due: eng/pipelines/cadl-ci.yaml

use tilde ver
  cadl-extension/package.json
  cadl-tests/package.json
Due: eng/pipelines/cadl-ci.yaml

fix cadl enum value type
  cadl-extension/src/code-model-builder.ts
  cadl-tests/src/main/java/com/cadl/enumservice/models/Priority.java
Due: eng/pipelines/cadl-ci.yaml

update tests
  cadl-tests/src/main/java/com/cadl/enumservice/EnumServiceAsyncClient.java
  cadl-tests/src/main/java/com/cadl/enumservice/EnumServiceClient.java
  cadl-tests/src/main/java/com/cadl/enumservice/implementation/EnumOpsImpl.java
Due: eng/pipelines/cadl-ci.yaml

Cadl, upgrade compiler to 0.35 (#1693)
  cadl-extension/package.json
  cadl-extension/src/code-model-builder.ts
  cadl-tests/cadl/lro.cadl
  cadl-tests/cadl/odata.cadl
  cadl-tests/cadl/paged.cadl
  cadl-tests/cadl/patch.cadl
  cadl-tests/cadl/response.cadl
  cadl-tests/package.json
  cadl-tests/src/main/java/com/authentication/apikey/AuthenticationApiKeyAsyncClient.java
  cadl-tests/src/main/java/com/authentication/apikey/AuthenticationApiKeyClient.java
  cadl-tests/src/main/java/com/authentication/apikey/AuthenticationApiKeyClientBuilder.java
  cadl-tests/src/main/java/com/authentication/apikey/AuthenticationApiKeyServiceVersion.java
  cadl-tests/src/main/java/com/authentication/apikey/implementation/ApiKeysImpl.java
  cadl-tests/src/main/java/com/authentication/apikey/implementation/AuthenticationApiKeyClientImpl.java
  cadl-tests/src/main/java/com/authentication/apikey/implementation/package-info.java
  cadl-tests/src/main/java/com/authentication/apikey/package-info.java
  cadl-tests/src/main/java/com/authentication/oauth2/AuthenticationOAuth2AsyncClient.java
  cadl-tests/src/main/java/com/authentication/oauth2/AuthenticationOAuth2Client.java
  cadl-tests/src/main/java/com/authentication/oauth2/AuthenticationOAuth2ClientBuilder.java
  cadl-tests/src/main/java/com/authentication/oauth2/AuthenticationOAuth2ServiceVersion.java
  cadl-tests/src/main/java/com/authentication/oauth2/implementation/AuthenticationOAuth2ClientImpl.java
  cadl-tests/src/main/java/com/authentication/oauth2/implementation/OAuth2sImpl.java
  cadl-tests/src/main/java/com/authentication/oauth2/implementation/package-info.java
  cadl-tests/src/main/java/com/authentication/oauth2/package-info.java
  cadl-tests/src/main/java/com/cadl/longrunning/implementation/LongRunningOpsImpl.java
  cadl-tests/src/main/java/com/cadl/odata/models/Resource.java
  cadl-tests/src/main/java/com/cadl/paged/implementation/PagedOpsImpl.java
  cadl-tests/src/main/java/com/cadl/paged/models/Resource.java
  cadl-tests/src/main/java/com/cadl/patch/JsonMergePatchAsyncClient.java
  cadl-tests/src/main/java/com/cadl/patch/implementation/PatchesImpl.java
  cadl-tests/src/main/java/com/cadl/patch/models/Resource.java
  cadl-tests/src/main/java/com/cadl/response/implementation/ResponseOpsImpl.java
  cadl-tests/src/main/java/com/readonlyproperties/implementation/ReadonlyPropertiesImpl.java
  cadl-tests/src/main/resources/authentication-apikey.properties
  cadl-tests/src/main/resources/authentication-oauth2.properties
Due: eng/pipelines/cadl-ci.yaml

test case for api-key
  cadl-tests/src/test/java/com/authentication/apikey/ApiKeyTests.java
  cadl-tests/src/test/java/com/authentication/apikey/AzureKeyCredentialPolicy.java
Due: eng/pipelines/cadl-ci.yaml

test for invalid
  cadl-tests/src/test/java/com/authentication/apikey/ApiKeyTests.java
Due: eng/pipelines/cadl-ci.yaml

bug fix, null in reactor publisher
  cadl-tests/src/main/java/com/authentication/apikey/AuthenticationApiKeyAsyncClient.java
  cadl-tests/src/main/java/com/authentication/oauth2/AuthenticationOAuth2AsyncClient.java
  cadl-tests/src/main/java/com/cadl/response/ResponseAsyncClient.java
  cadl-tests/src/main/java/com/cadl/server/ServerAsyncClient.java
  cadl-tests/src/main/java/com/cadl/testserver/servicedriven1/ResiliencyServiceDriven1AsyncClient.java
  cadl-tests/src/main/java/com/cadl/testserver/servicedriven2/ResiliencyServiceDriven2AsyncClient.java
  cadl-tests/src/main/java/com/extensibleenums/ExtensibleEnumsAsyncClient.java
  cadl-tests/src/main/java/com/inputbasic/InputBasicAsyncClient.java
  cadl-tests/src/main/java/com/models/property/optional/BytesAsyncClient.java
  cadl-tests/src/main/java/com/models/property/optional/CollectionsByteAsyncClient.java
  cadl-tests/src/main/java/com/models/property/optional/CollectionsModelAsyncClient.java
  cadl-tests/src/main/java/com/models/property/optional/DatetimeOperationAsyncClient.java
  cadl-tests/src/main/java/com/models/property/optional/DurationOperationAsyncClient.java
  cadl-tests/src/main/java/com/models/property/optional/RequiredAndOptionalAsyncClient.java
  cadl-tests/src/main/java/com/models/property/optional/StringOperationAsyncClient.java
  cadl-tests/src/main/java/com/models/property/types/BooleanOperationAsyncClient.java
  cadl-tests/src/main/java/com/models/property/types/BytesAsyncClient.java
  cadl-tests/src/main/java/com/models/property/types/CollectionsIntAsyncClient.java
  cadl-tests/src/main/java/com/models/property/types/CollectionsModelAsyncClient.java
  cadl-tests/src/main/java/com/models/property/types/CollectionsStringAsyncClient.java
  cadl-tests/src/main/java/com/models/property/types/DatetimeOperationAsyncClient.java
  cadl-tests/src/main/java/com/models/property/types/DurationOperationAsyncClient.java
  cadl-tests/src/main/java/com/models/property/types/EnumAsyncClient.java
  cadl-tests/src/main/java/com/models/property/types/ExtensibleEnumAsyncClient.java
  cadl-tests/src/main/java/com/models/property/types/FloatOperationAsyncClient.java
  cadl-tests/src/main/java/com/models/property/types/IntAsyncClient.java
  cadl-tests/src/main/java/com/models/property/types/ModelAsyncClient.java
  cadl-tests/src/main/java/com/models/property/types/StringOperationAsyncClient.java
  cadl-tests/src/main/java/com/nestedmodelsbasic/NestedModelsBasicAsyncClient.java
  javagen/src/main/java/com/azure/autorest/template/ConvenienceAsyncMethodTemplate.java
Due: eng/pipelines/cadl-ci.yaml, eng/pipelines/fluent_integration.yaml

make key/segment read-only
  cadl-extension/src/code-model-builder.ts
  cadl-tests/cadl/response.cadl
  cadl-tests/src/main/java/com/cadl/longrunning/models/Resource.java
  cadl-tests/src/main/java/com/cadl/odata/models/Resource.java
  cadl-tests/src/main/java/com/cadl/paged/models/Resource.java
  cadl-tests/src/main/java/com/cadl/patch/models/Resource.java
  cadl-tests/src/main/java/com/cadl/response/CadlCoreOpAsyncClient.java
  cadl-tests/src/main/java/com/cadl/response/CadlCoreOpClient.java
  cadl-tests/src/main/java/com/cadl/response/CadlCoreOpClientBuilder.java
  cadl-tests/src/main/java/com/cadl/response/ResponseOpAsyncClient.java
  cadl-tests/src/main/java/com/cadl/response/ResponseOpClient.java
  cadl-tests/src/main/java/com/cadl/response/ResponseOpClientBuilder.java
  cadl-tests/src/main/java/com/cadl/response/implementation/CadlCoreOpsImpl.java
  cadl-tests/src/main/java/com/cadl/response/implementation/ResponseClientImpl.java
  cadl-tests/src/main/java/com/cadl/response/models/Resource.java
  cadl-tests/src/main/java/com/cadl/response/models/ResourceRequest.java
Due: eng/pipelines/cadl-ci.yaml

cadl, test case for api key (#1695)
  cadl-tests/src/main/java/com/authentication/apikey/AuthenticationApiKeyAsyncClient.java
  cadl-tests/src/main/java/com/authentication/oauth2/AuthenticationOAuth2AsyncClient.java
  cadl-tests/src/main/java/com/cadl/response/ResponseAsyncClient.java
  cadl-tests/src/main/java/com/cadl/server/ServerAsyncClient.java
  cadl-tests/src/main/java/com/cadl/testserver/servicedriven1/ResiliencyServiceDriven1AsyncClient.java
  cadl-tests/src/main/java/com/cadl/testserver/servicedriven2/ResiliencyServiceDriven2AsyncClient.java
  cadl-tests/src/main/java/com/extensibleenums/ExtensibleEnumsAsyncClient.java
  cadl-tests/src/main/java/com/inputbasic/InputBasicAsyncClient.java
  cadl-tests/src/main/java/com/models/property/optional/BytesAsyncClient.java
  cadl-tests/src/main/java/com/models/property/optional/CollectionsByteAsyncClient.java
  cadl-tests/src/main/java/com/models/property/optional/CollectionsModelAsyncClient.java
  cadl-tests/src/main/java/com/models/property/optional/DatetimeOperationAsyncClient.java
  cadl-tests/src/main/java/com/models/property/optional/DurationOperationAsyncClient.java
  cadl-tests/src/main/java/com/models/property/optional/RequiredAndOptionalAsyncClient.java
  cadl-tests/src/main/java/com/models/property/optional/StringOperationAsyncClient.java
  cadl-tests/src/main/java/com/models/property/types/BooleanOperationAsyncClient.java
  cadl-tests/src/main/java/com/models/property/types/BytesAsyncClient.java
  cadl-tests/src/main/java/com/models/property/types/CollectionsIntAsyncClient.java
  cadl-tests/src/main/java/com/models/property/types/CollectionsModelAsyncClient.java
  cadl-tests/src/main/java/com/models/property/types/CollectionsStringAsyncClient.java
  cadl-tests/src/main/java/com/models/property/types/DatetimeOperationAsyncClient.java
  cadl-tests/src/main/java/com/models/property/types/DurationOperationAsyncClient.java
  cadl-tests/src/main/java/com/models/property/types/EnumAsyncClient.java
  cadl-tests/src/main/java/com/models/property/types/ExtensibleEnumAsyncClient.java
  cadl-tests/src/main/java/com/models/property/types/FloatOperationAsyncClient.java
  cadl-tests/src/main/java/com/models/property/types/IntAsyncClient.java
  cadl-tests/src/main/java/com/models/property/types/ModelAsyncClient.java
  cadl-tests/src/main/java/com/models/property/types/StringOperationAsyncClient.java
  cadl-tests/src/main/java/com/nestedmodelsbasic/NestedModelsBasicAsyncClient.java
  cadl-tests/src/test/java/com/authentication/apikey/ApiKeyTests.java
  cadl-tests/src/test/java/com/authentication/apikey/AzureKeyCredentialPolicy.java
  javagen/src/main/java/com/azure/autorest/template/ConvenienceAsyncMethodTemplate.java
Due: eng/pipelines/cadl-ci.yaml, eng/pipelines/fluent_integration.yaml

remove key, use segment for now
  cadl-extension/src/code-model-builder.ts
Due: eng/pipelines/cadl-ci.yaml

exclude read-only property from model ctor
  javagen/src/main/java/com/azure/autorest/template/ModelTemplate.java
  javagen/src/main/java/com/azure/autorest/template/example/ModelExampleWriter.java
  javagen/src/main/java/com/azure/autorest/util/ClientModelUtil.java
Due: eng/pipelines/cadl-ci.yaml, eng/pipelines/fluent_integration.yaml

regen tests
  cadl-tests/src/main/java/com/cadl/longrunning/models/Resource.java
  cadl-tests/src/main/java/com/cadl/odata/models/Resource.java
  cadl-tests/src/main/java/com/cadl/paged/models/Resource.java
  cadl-tests/src/main/java/com/cadl/patch/models/Resource.java
  cadl-tests/src/main/java/com/cadl/response/models/Resource.java
  cadl-tests/src/main/java/com/cadl/visibility/models/Dog.java
  cadl-tests/src/main/java/com/cadl/visibility/models/ReadDog.java
  cadl-tests/src/main/java/com/readonlyproperties/models/OutputModel.java
  cadl-tests/src/main/java/com/readonlyproperties/models/RoundTripModel.java
Due: eng/pipelines/cadl-ci.yaml

cadl, treat property with @segment as readonly (#1696)
  cadl-extension/src/code-model-builder.ts
  cadl-tests/cadl/response.cadl
  cadl-tests/src/main/java/com/cadl/longrunning/models/Resource.java
  cadl-tests/src/main/java/com/cadl/odata/models/Resource.java
  cadl-tests/src/main/java/com/cadl/paged/models/Resource.java
  cadl-tests/src/main/java/com/cadl/patch/models/Resource.java
  cadl-tests/src/main/java/com/cadl/response/CadlCoreOpAsyncClient.java
  cadl-tests/src/main/java/com/cadl/response/CadlCoreOpClient.java
  cadl-tests/src/main/java/com/cadl/response/CadlCoreOpClientBuilder.java
  cadl-tests/src/main/java/com/cadl/response/ResponseOpAsyncClient.java
  cadl-tests/src/main/java/com/cadl/response/ResponseOpClient.java
  cadl-tests/src/main/java/com/cadl/response/ResponseOpClientBuilder.java
  cadl-tests/src/main/java/com/cadl/response/implementation/CadlCoreOpsImpl.java
  cadl-tests/src/main/java/com/cadl/response/implementation/ResponseClientImpl.java
  cadl-tests/src/main/java/com/cadl/response/models/Resource.java
  cadl-tests/src/main/java/com/cadl/response/models/ResourceRequest.java
Due: eng/pipelines/cadl-ci.yaml

minor change on test
  cadl-tests/cadl/response.cadl
  cadl-tests/src/main/java/com/cadl/response/implementation/CadlCoreOpsImpl.java
Due: eng/pipelines/cadl-ci.yaml

add list in cadl azure-core related case
  cadl-tests/cadl/response.cadl
  cadl-tests/src/main/java/com/cadl/response/CadlCoreOpAsyncClient.java
  cadl-tests/src/main/java/com/cadl/response/CadlCoreOpClient.java
  cadl-tests/src/main/java/com/cadl/response/implementation/CadlCoreOpsImpl.java
  cadl-tests/src/main/java/com/cadl/response/implementation/models/CustomPageResource.java
  cadl-tests/src/main/java/com/cadl/response/implementation/models/package-info.java
Due: eng/pipelines/cadl-ci.yaml

run generate.bat
  protocol-tests/src/main/java/fixtures/bodycomplex/PrimitiveAsyncClient.java
  protocol-tests/src/main/java/fixtures/bodycomplex/PrimitiveClient.java
  protocol-tests/src/main/java/fixtures/bodycomplex/implementation/PrimitivesImpl.java
Due: eng/pipelines/cadl-ci.yaml, eng/pipelines/fluent_integration.yaml

dpg, fix properties with specific types not correct in javadoc (#1694)
  cadl-tests/.vscode/launch.json
  cadl-tests/src/main/java/com/cadl/builtin/BuiltinAsyncClient.java
  cadl-tests/src/main/java/com/cadl/builtin/BuiltinClient.java
  cadl-tests/src/main/java/com/cadl/builtin/implementation/BuiltinOpsImpl.java
  javagen/src/main/java/com/azure/autorest/template/ClientMethodTemplateBase.java
  protocol-tests/src/main/java/fixtures/bodycomplex/PrimitiveAsyncClient.java
  protocol-tests/src/main/java/fixtures/bodycomplex/PrimitiveClient.java
  protocol-tests/src/main/java/fixtures/bodycomplex/implementation/PrimitivesImpl.java
Due: eng/pipelines/cadl-ci.yaml, eng/pipelines/fluent_integration.yaml

regen
  cadl-tests/src/main/java/com/cadl/response/implementation/ResponseClientImpl.java
Due: eng/pipelines/cadl-ci.yaml

cadl, model ctor without readonly properties (#1697)
  cadl-tests/cadl/response.cadl
  cadl-tests/src/main/java/com/cadl/longrunning/models/Resource.java
  cadl-tests/src/main/java/com/cadl/odata/models/Resource.java
  cadl-tests/src/main/java/com/cadl/paged/models/Resource.java
  cadl-tests/src/main/java/com/cadl/patch/models/Resource.java
  cadl-tests/src/main/java/com/cadl/response/CadlCoreOpAsyncClient.java
  cadl-tests/src/main/java/com/cadl/response/CadlCoreOpClient.java
  cadl-tests/src/main/java/com/cadl/response/implementation/CadlCoreOpsImpl.java
  cadl-tests/src/main/java/com/cadl/response/implementation/ResponseClientImpl.java
  cadl-tests/src/main/java/com/cadl/response/implementation/models/CustomPageResource.java
  cadl-tests/src/main/java/com/cadl/response/implementation/models/package-info.java
  cadl-tests/src/main/java/com/cadl/response/models/Resource.java
  cadl-tests/src/main/java/com/cadl/visibility/models/Dog.java
  cadl-tests/src/main/java/com/cadl/visibility/models/ReadDog.java
  cadl-tests/src/main/java/com/readonlyproperties/models/OutputModel.java
  cadl-tests/src/main/java/com/readonlyproperties/models/RoundTripModel.java
  javagen/src/main/java/com/azure/autorest/template/ModelTemplate.java
  javagen/src/main/java/com/azure/autorest/template/example/ModelExampleWriter.java
  javagen/src/main/java/com/azure/autorest/util/ClientModelUtil.java
Due: eng/pipelines/cadl-ci.yaml, eng/pipelines/fluent_integration.yaml

update snakeyaml
  extension-base/pom.xml
Due: eng/pipelines/cadl-ci.yaml, eng/pipelines/fluent_integration.yaml

sync version from sdk repo
  androidgen/pom.xml
  azure-tests/pom.xml
  cadl-extension/pom.xml
  cadl-tests/pom.xml
  customization-base/src/main/resources/pom.xml
  customization-tests/pom.xml
  fluent-tests/pom.xml
  fluentnamer/pom.xml
  javagen/pom.xml
  partial-update-tests/pom.xml
  protocol-resilience-test/pom.xml
  protocol-tests/pom.xml
  vanilla-tests/pom.xml
Due: eng/pipelines/cadl-ci.yaml, eng/pipelines/fluent_integration.yaml

sync default pom dependency version
  javagen/src/main/java/com/azure/autorest/model/projectmodel/Project.java
Due: eng/pipelines/cadl-ci.yaml, eng/pipelines/fluent_integration.yaml

remove unused dependency
  partial-update-tests/pom.xml
  protocol-tests/pom.xml
Due: eng/pipelines/cadl-ci.yaml, eng/pipelines/fluent_integration.yaml

bump package version
  package.json
Due: eng/pipelines/cadl-ci.yaml, eng/pipelines/fluent_integration.yaml

mgmt, enable generate-tests
  fluent-tests/prepare-tests.bat
Due: eng/pipelines/fluent_integration.yaml

fix, not generate UT for Headers models
  fluentgen/src/main/java/com/azure/autorest/fluent/FluentGen.java
Due: eng/pipelines/fluent_integration.yaml

switch test code to jackson
  protocol-tests/src/test/java/fixtures/bodystring/EnumOperationsTests.java
Due: eng/pipelines/cadl-ci.yaml, eng/pipelines/fluent_integration.yaml

comment about the test in protocol, it is not supported when DPG does not have model
  protocol-tests/src/test/java/fixtures/bodystring/EnumOperationsTests.java
Due: eng/pipelines/cadl-ci.yaml, eng/pipelines/fluent_integration.yaml

Path conditions:
  eng/pipelines/cadl-ci.yaml: any of: *, but not: fluent*
  eng/pipelines/fluent_integration.yaml: any of: *, but not: cadl*
