Repository Azure/autorest.java: changes, and which Azure pipelines are due for each by the changed paths.
All: eng/pipelines/cadl-ci.yaml, eng/pipelines/fluent_integration.yaml

eng/pipelines/cadl-ci.yaml:

trigger:
  branches:
    include:
      - main

pr:
  branches:
    include:
      - main
  paths:
    include:
      - '*'
    exclude:
      - 'fluent*'

jobs:
  - job: Build

    variables:
      JavaVersion: 1.8
      NodeVersion: '16.x'

    pool:
      name: "azsdk-pool-mms-ubuntu-2004-general"
      vmImage: "MMSUbuntu20.04"

    steps:
      - task: NodeTool@0
        displayName: 'Install Node.js $(NodeVersion)'
        inputs:
          versionSpec: '$(NodeVersion)'

      - task: Maven@3
        retryCountOnTaskFailure: 3
        displayName: 'Build JAR'
        inputs:
          mavenPomFile: pom.xml
          goals: 'clean verify package install'
          options: '-P local,cadl -T 1C --no-transfer-progress'
          javaHomeOption: 'JDKVersion'
          jdkVersionOption: $(JavaVersion)
          jdkArchitectureOption: 'x64'
          publishJUnitResults: false

      - task: Npm@1
        displayName: 'Install Dependencies for CADL Java'
        inputs:
          command: install
          workingDir: ./cadl-extension

      - task: Npm@1
        displayName: 'Build CADL Java'
        inputs:
          command: custom
          customCommand: run build
          workingDir: ./cadl-extension

      - task: Npm@1
        displayName: 'Lint CADL Java'
        inputs:
          command: custom
          customCommand: run lint
          workingDir: ./cadl-extension

      - task: Npm@1
        displayName: 'Pack CADL Java'
        inputs:
          command: custom
          customCommand: pack
          workingDir: ./cadl-extension

      - script: |
          npm install -g @cadl-lang/compiler
        displayName: 'Install CADL'

      - script: |
          bash ./generate.sh
        displayName: 'Generate Code'
        workingDirectory: ./cadl-tests

      - script: |
          git status
          git diff
        displayName: 'Git Diff'

      - script: |
          [ -z "`git status --porcelain`" ]
        displayName: 'Check no Diff'

      - task: Npm@1
        displayName: 'Install Testserver'
        inputs:
          command: install

      - script: |
          npm run testserver-run &
        displayName: 'Start Testserver'

      - task: Maven@3
        displayName: 'Run CADL Tests'
        inputs:
          mavenPomFile: pom.xml
          goals: 'clean test'
          options: '-PtestCadl -pl cadl-tests -DtrimStackTrace=false --no-transfer-progress'
          javaHomeOption: 'JDKVersion'
          jdkVersionOption: $(JavaVersion)
          jdkArchitectureOption: 'x64'
          publishJUnitResults: false

      - script: |
          npm run testserver-stop
        displayName: 'Stop Testserver'

eng/pipelines/fluent_integration.yaml:

trigger:
  branches:
    include:
    - main

pr:
  branches:
    include:
    - main
  paths:
    include:
      - '*'
    exclude:
      - 'cadl*'

jobs:
- job: 'Build'
  timeoutInMinutes: 60
  pool:
    name: "azsdk-pool-mms-win-2019-general"
    vmImage: "MMS2019"

  steps:
  - task: NodeTool@0
    inputs:
      versionSpec: '>=14.0.0'

  - script: npm install autorest -g

  - task: Maven@3
    inputs:
      mavenPomFile: 'pom.xml'
      mavenOptions: '-Xmx3072m'
      javaHomeOption: 'JDKVersion'
      jdkVersionOption: '1.11'
      jdkArchitectureOption: 'x64'
      publishJUnitResults: true
      testResultsFiles: '**/TEST-*.xml'
      goals: 'verify'
      options: '-P local,testFluent --no-transfer-progress'

  - task: PublishCodeCoverageResults@1
    inputs:
      codeCoverageTool: 'JaCoCo'
      summaryFileLocation: fluentgen/target/site/test-coverage/jacoco.xml
      reportDirectory: fluentgen/target/site/test-coverage/
      failIfCoverageEmpty: false

add partial update test in cadl-tests
  cadl-extension/src/main/java/com/azure/autorest/CadlPlugin.java
  cadl-extension/src/main/java/com/azure/cadl/Main.java
  cadl-tests/cadl/partialupdate.cadl
  cadl-tests/generate.sh
  cadl-tests/src/main/java/com/cadl/partialupdate/PartialUpdateAsyncClient.java
  cadl-tests/src/main/java/com/cadl/partialupdate/PartialUpdateClient.java
  cadl-tests/src/main/java/com/cadl/partialupdate/PartialUpdateClientBuilder.java
  cadl-tests/src/main/java/com/cadl/partialupdate/PartialUpdateServiceVersion.java
  cadl-tests/src/main/java/com/cadl/partialupdate/implementation/PartialUpdateClientImpl.java
  cadl-tests/src/main/java/com/cadl/partialupdate/implementation/PartialUpdateOpsImpl.java
  cadl-tests/src/main/java/com/cadl/partialupdate/implementation/package-info.java
  cadl-tests/src/main/java/com/cadl/partialupdate/models/PartialUpdateModel.java
  cadl-tests/src/main/java/com/cadl/partialupdate/models/package-info.java
  cadl-tests/src/main/java/com/cadl/partialupdate/package-info.java
Due: eng/pipelines/cadl-ci.yaml

Rough implementation of fromXml
  javagen/src/main/java/com/azure/autorest/implementation/ClientModelPropertiesManager.java
  javagen/src/main/java/com/azure/autorest/model/clientmodel/ArrayType.java
  javagen/src/main/java/com/azure/autorest/model/clientmodel/ClassType.java
  javagen/src/main/java/com/azure/autorest/model/clientmodel/EnumType.java
  javagen/src/main/java/com/azure/autorest/model/clientmodel/GenericType.java
  javagen/src/main/java/com/azure/autorest/model/clientmodel/IType.java
  javagen/src/main/java/com/azure/autorest/model/clientmodel/PrimitiveType.java
  javagen/src/main/java/com/azure/autorest/template/StreamSerializationModelTemplate.java
  vanilla-tests/src/main/java/fixtures/streamstylexmlserialization/models/AccessPolicy.java
  vanilla-tests/src/main/java/fixtures/streamstylexmlserialization/models/AppleBarrel.java
  vanilla-tests/src/main/java/fixtures/streamstylexmlserialization/models/Banana.java
  vanilla-tests/src/main/java/fixtures/streamstylexmlserialization/models/Blob.java
  vanilla-tests/src/main/java/fixtures/streamstylexmlserialization/models/BlobPrefix.java
  vanilla-tests/src/main/java/fixtures/streamstylexmlserialization/models/BlobProperties.java
  vanilla-tests/src/main/java/fixtures/streamstylexmlserialization/models/Blobs.java
  vanilla-tests/src/main/java/fixtures/streamstylexmlserialization/models/ComplexTypeNoMeta.java
  vanilla-tests/src/main/java/fixtures/streamstylexmlserialization/models/ComplexTypeWithMeta.java
  vanilla-tests/src/main/java/fixtures/streamstylexmlserialization/models/Container.java
  vanilla-tests/src/main/java/fixtures/streamstylexmlserialization/models/ContainerProperties.java
  vanilla-tests/src/main/java/fixtures/streamstylexmlserialization/models/CorsRule.java
  vanilla-tests/src/main/java/fixtures/streamstylexmlserialization/models/Error.java
  vanilla-tests/src/main/java/fixtures/streamstylexmlserialization/models/JsonInput.java
  vanilla-tests/src/main/java/fixtures/streamstylexmlserialization/models/JsonOutput.java
  vanilla-tests/src/main/java/fixtures/streamstylexmlserialization/models/ListBlobsResponse.java
  vanilla-tests/src/main/java/fixtures/streamstylexmlserialization/models/ListContainersResponse.java
  vanilla-tests/src/main/java/fixtures/streamstylexmlserialization/models/Logging.java
  vanilla-tests/src/main/java/fixtures/streamstylexmlserialization/models/Metrics.java
  vanilla-tests/src/main/java/fixtures/streamstylexmlserialization/models/ModelWithByteProperty.java
  vanilla-tests/src/main/java/fixtures/streamstylexmlserialization/models/ModelWithUrlProperty.java
  vanilla-tests/src/main/java/fixtures/streamstylexmlserialization/models/ObjectWithXMsTextProperty.java
  vanilla-tests/src/main/java/fixtures/streamstylexmlserialization/models/RetentionPolicy.java
  vanilla-tests/src/main/java/fixtures/streamstylexmlserialization/models/RootWithRefAndMeta.java
  vanilla-tests/src/main/java/fixtures/streamstylexmlserialization/models/RootWithRefAndNoMeta.java
  vanilla-tests/src/main/java/fixtures/streamstylexmlserialization/models/SignedIdentifier.java
  vanilla-tests/src/main/java/fixtures/streamstylexmlserialization/models/Slide.java
  vanilla-tests/src/main/java/fixtures/streamstylexmlserialization/models/Slideshow.java
  vanilla-tests/src/main/java/fixtures/streamstylexmlserialization/models/StorageServiceProperties.java
Due: eng/pipelines/cadl-ci.yaml, eng/pipelines/fluent_integration.yaml

load "java.json" and read namespace (#1651)
  cadl-extension/src/emitter.ts
  cadl-extension/src/main/java/com/azure/cadl/Main.java
  extension-base/src/main/java/com/azure/autorest/extension/base/model/codemodel/CodeModel.java
Due: eng/pipelines/cadl-ci.yaml, eng/pipelines/fluent_integration.yaml

mgmt, fix swagger branch in test script
  fluent-tests/swagger/readme.appservice.md
  fluent-tests/swagger/readme.containerservice.md
  fluent-tests/swagger/readme.network.md
  fluent-tests/swagger/readme.storage.md
Due: eng/pipelines/fluent_integration.yaml

other master -> main
  androidgen/package.json
  customization-tests/swagger/README.md
  docs/client/initializing.md
  docs/client/operations.md
  docs/developer/2022-05-18-dpg-archboard-review.md
  docs/samples/specification/azure_key_credential/readme.md
  docs/samples/specification/basic/readme.md
  docs/samples/specification/management/readme.md
  fluentgen/src/test/java/com/azure/autorest/fluent/TestUtils.java
  fluentnamer/src/main/java/com/azure/autorest/fluent/transformer/ResourceTypeNormalization.java
  generate-android.bat
  postprocessor/package.json
  preprocessor/package.json
  readme.md
Due: eng/pipelines/cadl-ci.yaml, eng/pipelines/fluent_integration.yaml

ignore header in LRO
  javagen/src/main/java/com/azure/autorest/util/SchemaUtil.java
Due: eng/pipelines/cadl-ci.yaml, eng/pipelines/fluent_integration.yaml

remove LRO headers in DPG
  cadl-tests/src/main/java/com/cadl/longrunning/models/LongRunningOpsCreateOrUpdateHeaders.java
  cadl-tests/src/main/java/com/cadl/longrunning/models/LongRunningOpsDeleteHeaders.java
  cadl-tests/src/main/java/com/cadl/longrunning/models/LongRunningOpsExportHeaders.java
Due: eng/pipelines/cadl-ci.yaml

support format on Model or ModelProperty
  cadl-extension/src/code-model-builder.ts
Due: eng/pipelines/cadl-ci.yaml

enhance test
  cadl-tests/cadl/builtin.cadl
  cadl-tests/src/main/java/com/cadl/builtin/BuiltinAsyncClient.java
  cadl-tests/src/main/java/com/cadl/builtin/BuiltinClient.java
  cadl-tests/src/main/java/com/cadl/builtin/implementation/BuiltinOpsImpl.java
  cadl-tests/src/main/java/com/cadl/builtin/models/Builtin.java
  cadl-tests/src/main/java/com/cadl/builtin/models/FormatString.java
Due: eng/pipelines/cadl-ci.yaml

bug fix
  cadl-extension/src/code-model-builder.ts
  cadl-tests/src/main/java/com/cadl/builtin/models/FormatString.java
Due: eng/pipelines/cadl-ci.yaml

only copy partial update code to existingcode folder
  cadl-tests/generate.sh
Due: eng/pipelines/cadl-ci.yaml

put convenience method comment inside method.
  javagen/src/main/java/com/azure/autorest/template/ConvenienceMethodTemplateBase.java
Due: eng/pipelines/cadl-ci.yaml, eng/pipelines/fluent_integration.yaml

add `service-name` to java.json
  cadl-extension/src/main/java/com/azure/autorest/CadlPlugin.java
  cadl-extension/src/main/java/com/azure/cadl/Main.java
Due: eng/pipelines/cadl-ci.yaml

cadl, support LRO (#1652)
  cadl-extension/src/code-model-builder.ts
  cadl-tests/cadl/lro.cadl
  cadl-tests/src/main/java/com/cadl/longrunning/LongRunningAsyncClient.java
  cadl-tests/src/main/java/com/cadl/longrunning/LongRunningClient.java
  cadl-tests/src/main/java/com/cadl/longrunning/LongRunningClientBuilder.java
  cadl-tests/src/main/java/com/cadl/longrunning/LongRunningServiceVersion.java
  cadl-tests/src/main/java/com/cadl/longrunning/implementation/LongRunningClientImpl.java
  cadl-tests/src/main/java/com/cadl/longrunning/implementation/LongRunningOpsImpl.java
  cadl-tests/src/main/java/com/cadl/longrunning/implementation/package-info.java
  cadl-tests/src/main/java/com/cadl/longrunning/models/OperationState.java
  cadl-tests/src/main/java/com/cadl/longrunning/models/OperationStatus.java
  cadl-tests/src/main/java/com/cadl/longrunning/models/Resource.java
  cadl-tests/src/main/java/com/cadl/longrunning/models/package-info.java
  cadl-tests/src/main/java/com/cadl/longrunning/package-info.java
  cadl-tests/src/main/resources/cadl-longrunning.properties
  javagen/src/main/java/com/azure/autorest/util/SchemaUtil.java
Due: eng/pipelines/cadl-ci.yaml, eng/pipelines/fluent_integration.yaml

cadl, hack for unnamed template in request
  cadl-extension/src/code-model-builder.ts
  cadl-tests/cadl/lro.cadl
  cadl-tests/cadl/response.cadl
  cadl-tests/src/main/java/com/cadl/longrunning/LongRunningAsyncClient.java
  cadl-tests/src/main/java/com/cadl/longrunning/LongRunningClient.java
  cadl-tests/src/main/java/com/cadl/longrunning/implementation/LongRunningOpsImpl.java
  cadl-tests/src/main/java/com/cadl/longrunning/models/Resource.java
  cadl-tests/src/main/java/com/cadl/longrunning/models/ResourceRequest.java
  cadl-tests/src/main/java/com/cadl/response/ResponseAsyncClient.java
  cadl-tests/src/main/java/com/cadl/response/ResponseClient.java
  cadl-tests/src/main/java/com/cadl/response/implementation/ResponseOpsImpl.java
  cadl-tests/src/main/java/com/cadl/response/models/Resource.java
  cadl-tests/src/main/java/com/cadl/response/models/ResourceRequest.java
Due: eng/pipelines/cadl-ci.yaml

add null/empty check
  cadl-extension/src/main/java/com/azure/autorest/CadlPlugin.java
Due: eng/pipelines/cadl-ci.yaml

bug fix
  cadl-extension/src/code-model-builder.ts
Due: eng/pipelines/cadl-ci.yaml

manually resolve inconsistency
  cadl-tests/src/main/java/com/cadl/longrunning/LongRunningAsyncClient.java
  cadl-tests/src/main/java/com/cadl/longrunning/LongRunningClient.java
Due: eng/pipelines/cadl-ci.yaml

add `service-name` to java.json (#1663)
  cadl-extension/src/main/java/com/azure/autorest/CadlPlugin.java
  cadl-extension/src/main/java/com/azure/cadl/Main.java
  cadl-tests/src/main/java/com/cadl/longrunning/LongRunningAsyncClient.java
  cadl-tests/src/main/java/com/cadl/longrunning/LongRunningClient.java
Due: eng/pipelines/cadl-ci.yaml

Cadl, support format on Model or ModelProperty (#1661)
  cadl-extension/src/code-model-builder.ts
  cadl-tests/cadl/builtin.cadl
  cadl-tests/src/main/java/com/cadl/builtin/BuiltinAsyncClient.java
  cadl-tests/src/main/java/com/cadl/builtin/BuiltinClient.java
  cadl-tests/src/main/java/com/cadl/builtin/implementation/BuiltinOpsImpl.java
  cadl-tests/src/main/java/com/cadl/builtin/models/Builtin.java
  cadl-tests/src/main/java/com/cadl/builtin/models/FormatString.java
Due: eng/pipelines/cadl-ci.yaml

cadl, hack for unnamed template in request (#1662)
  cadl-extension/src/code-model-builder.ts
  cadl-tests/cadl/lro.cadl
  cadl-tests/cadl/response.cadl
  cadl-tests/src/main/java/com/cadl/longrunning/LongRunningAsyncClient.java
  cadl-tests/src/main/java/com/cadl/longrunning/LongRunningClient.java
  cadl-tests/src/main/java/com/cadl/longrunning/implementation/LongRunningOpsImpl.java
  cadl-tests/src/main/java/com/cadl/longrunning/models/Resource.java
  cadl-tests/src/main/java/com/cadl/longrunning/models/ResourceRequest.java
  cadl-tests/src/main/java/com/cadl/response/ResponseAsyncClient.java
  cadl-tests/src/main/java/com/cadl/response/ResponseClient.java
  cadl-tests/src/main/java/com/cadl/response/implementation/ResponseOpsImpl.java
  cadl-tests/src/main/java/com/cadl/response/models/Resource.java
  cadl-tests/src/main/java/com/cadl/response/models/ResourceRequest.java
Due: eng/pipelines/cadl-ci.yaml

cadl, prepare dev.4
  cadl-extension/package.json
  cadl-tests/package.json
Due: eng/pipelines/cadl-ci.yaml

cadl, prepare dev.4 (#1665)
  cadl-extension/package.json
  cadl-tests/package.json
Due: eng/pipelines/cadl-ci.yaml

cadl, improve convenience method
  cadl-tests/src/main/java/com/basicpolymorphicmodels/BasicPolymorphicModelsClient.java
  cadl-tests/src/main/java/com/cadl/auth/AuthClient.java
  cadl-tests/src/main/java/com/cadl/builtin/BuiltinClient.java
  cadl-tests/src/main/java/com/cadl/enumservice/EnumServiceClient.java
  cadl-tests/src/main/java/com/cadl/errormodel/ErrorClient.java
  cadl-tests/src/main/java/com/cadl/longrunning/LongRunningClient.java
  cadl-tests/src/main/java/com/cadl/naming/NamingClient.java
  cadl-tests/src/main/java/com/cadl/optional/OptionalClient.java
  cadl-tests/src/main/java/com/cadl/partialupdate/PartialUpdateClient.java
  cadl-tests/src/main/java/com/cadl/patch/JsonMergePatchClient.java
  cadl-tests/src/main/java/com/cadl/polymorphism/PolymorphismClient.java
  cadl-tests/src/main/java/com/cadl/response/ResponseClient.java
  cadl-tests/src/main/java/com/cadl/server/ServerClient.java
  cadl-tests/src/main/java/com/cadl/testserver/servicedriven1/ResiliencyServiceDriven1Client.java
  cadl-tests/src/main/java/com/cadl/testserver/servicedriven2/ResiliencyServiceDriven2Client.java
  cadl-tests/src/main/java/com/cadl/visibility/VisibilityOpClient.java
  cadl-tests/src/main/java/com/cadl/visibility/VisibilityReadClient.java
  cadl-tests/src/main/java/com/cadl/visibility/VisibilityWriteClient.java
  cadl-tests/src/main/java/com/inputbasic/InputBasicClient.java
  cadl-tests/src/main/java/com/models/property/types/BooleanOperationClient.java
  cadl-tests/src/main/java/com/models/property/types/BytesClient.java
  cadl-tests/src/main/java/com/models/property/types/CollectionsIntClient.java
  cadl-tests/src/main/java/com/models/property/types/CollectionsModelClient.java
  cadl-tests/src/main/java/com/models/property/types/CollectionsStringClient.java
  cadl-tests/src/main/java/com/models/property/types/DatetimeOperationClient.java
  cadl-tests/src/main/java/com/models/property/types/DurationOperationClient.java
  cadl-tests/src/main/java/com/models/property/types/EnumClient.java
  cadl-tests/src/main/java/com/models/property/types/ExtensibleEnumClient.java
  cadl-tests/src/main/java/com/models/property/types/FloatOperationClient.java
  cadl-tests/src/main/java/com/models/property/types/IntClient.java
  cadl-tests/src/main/java/com/models/property/types/ModelClient.java
  cadl-tests/src/main/java/com/models/property/types/StringOperationClient.java
  cadl-tests/src/main/java/com/nestedmodelsbasic/NestedModelsBasicClient.java
  cadl-tests/src/main/java/com/optionalproperties/OptionalPropertiesClient.java
  cadl-tests/src/main/java/com/outputbasic/OutputBasicClient.java
  cadl-tests/src/main/java/com/readonlyproperties/ReadonlyPropertiesClient.java
  cadl-tests/src/main/java/com/roundtripbasic/RoundTripBasicClient.java
  javagen/src/main/java/com/azure/autorest/mapper/ClientMethodMapper.java
Due: eng/pipelines/cadl-ci.yaml, eng/pipelines/fluent_integration.yaml

codegen change
  javagen/src/main/java/com/azure/autorest/template/ModelTemplate.java
Due: eng/pipelines/cadl-ci.yaml, eng/pipelines/fluent_integration.yaml

fix javadoc
  javagen/src/main/java/com/azure/autorest/template/ModelTemplate.java
Due: eng/pipelines/cadl-ci.yaml, eng/pipelines/fluent_integration.yaml

regen
  cadl-tests/src/main/java/com/cadl/builtin/models/FormatString.java
  cadl-tests/src/main/java/com/cadl/response/models/ResourceRequest.java
Due: eng/pipelines/cadl-ci.yaml

cadl, improve convenience method (#1667)
  cadl-tests/src/main/java/com/basicpolymorphicmodels/BasicPolymorphicModelsClient.java
  cadl-tests/src/main/java/com/cadl/auth/AuthClient.java
  cadl-tests/src/main/java/com/cadl/builtin/BuiltinClient.java
  cadl-tests/src/main/java/com/cadl/enumservice/EnumServiceClient.java
  cadl-tests/src/main/java/com/cadl/errormodel/ErrorClient.java
  cadl-tests/src/main/java/com/cadl/longrunning/LongRunningClient.java
  cadl-tests/src/main/java/com/cadl/naming/NamingClient.java
  cadl-tests/src/main/java/com/cadl/optional/OptionalClient.java
  cadl-tests/src/main/java/com/cadl/partialupdate/PartialUpdateClient.java
  cadl-tests/src/main/java/com/cadl/patch/JsonMergePatchClient.java
  cadl-tests/src/main/java/com/cadl/polymorphism/PolymorphismClient.java
  cadl-tests/src/main/java/com/cadl/response/ResponseClient.java
  cadl-tests/src/main/java/com/cadl/server/ServerClient.java
  cadl-tests/src/main/java/com/cadl/testserver/servicedriven1/ResiliencyServiceDriven1Client.java
  cadl-tests/src/main/java/com/cadl/testserver/servicedriven2/ResiliencyServiceDriven2Client.java
  cadl-tests/src/main/java/com/cadl/visibility/VisibilityOpClient.java
  cadl-tests/src/main/java/com/cadl/visibility/VisibilityReadClient.java
  cadl-tests/src/main/java/com/cadl/visibility/VisibilityWriteClient.java
  cadl-tests/src/main/java/com/inputbasic/InputBasicClient.java
  cadl-tests/src/main/java/com/models/property/types/BooleanOperationClient.java
  cadl-tests/src/main/java/com/models/property/types/BytesClient.java
  cadl-tests/src/main/java/com/models/property/types/CollectionsIntClient.java
  cadl-tests/src/main/java/com/models/property/types/CollectionsModelClient.java
  cadl-tests/src/main/java/com/models/property/types/CollectionsStringClient.java
  cadl-tests/src/main/java/com/models/property/types/DatetimeOperationClient.java
  cadl-tests/src/main/java/com/models/property/types/DurationOperationClient.java
  cadl-tests/src/main/java/com/models/property/types/EnumClient.java
  cadl-tests/src/main/java/com/models/property/types/ExtensibleEnumClient.java
  cadl-tests/src/main/java/com/models/property/types/FloatOperationClient.java
  cadl-tests/src/main/java/com/models/property/types/IntClient.java
  cadl-tests/src/main/java/com/models/property/types/ModelClient.java
  cadl-tests/src/main/java/com/models/property/types/StringOperationClient.java
  cadl-tests/src/main/java/com/nestedmodelsbasic/NestedModelsBasicClient.java
  cadl-tests/src/main/java/com/optionalproperties/OptionalPropertiesClient.java
  cadl-tests/src/main/java/com/outputbasic/OutputBasicClient.java
  cadl-tests/src/main/java/com/readonlyproperties/ReadonlyPropertiesClient.java
  cadl-tests/src/main/java/com/roundtripbasic/RoundTripBasicClient.java
  javagen/src/main/java/com/azure/autorest/mapper/ClientMethodMapper.java
Due: eng/pipelines/cadl-ci.yaml, eng/pipelines/fluent_integration.yaml

move known Page<> model to implementation.models; generalize handling of models in package-info and module-info
  cadl-extension/src/main/java/com/azure/cadl/mapper/CadlClientMapper.java
  javagen/src/main/java/com/azure/autorest/mapper/ClientMapper.java
  javagen/src/main/java/com/azure/autorest/mapper/ObjectMapper.java
Due: eng/pipelines/cadl-ci.yaml, eng/pipelines/fluent_integration.yaml

regen test
  cadl-tests/src/main/java/com/cadl/paged/implementation/models/CustomPageResource.java
  cadl-tests/src/main/java/com/cadl/paged/implementation/models/package-info.java
Due: eng/pipelines/cadl-ci.yaml

re-generate test code
  protocol-tests/src/main/java/fixtures/dpgcustomization/models/package-info.java
Due: eng/pipelines/cadl-ci.yaml, eng/pipelines/fluent_integration.yaml

Cadl, move known Page<> model to implementation.models (#1669)
  cadl-extension/src/main/java/com/azure/cadl/mapper/CadlClientMapper.java
  cadl-tests/src/main/java/com/cadl/paged/implementation/models/CustomPageResource.java
  cadl-tests/src/main/java/com/cadl/paged/implementation/models/package-info.java
  javagen/src/main/java/com/azure/autorest/mapper/ClientMapper.java
  javagen/src/main/java/com/azure/autorest/mapper/ObjectMapper.java
Due: eng/pipelines/cadl-ci.yaml, eng/pipelines/fluent_integration.yaml

cadl, support x-ms-convenient-api
  cadl-extension/src/code-model-builder.ts
Due: eng/pipelines/cadl-ci.yaml

fix bug
  cadl-tests/cadl/optional.cadl
  javagen/src/main/java/com/azure/autorest/template/ModelTemplate.java
  javagen/src/main/java/com/azure/autorest/util/ClientModelUtil.java
Due: eng/pipelines/cadl-ci.yaml, eng/pipelines/fluent_integration.yaml
