Repository Azure/autorest.java: changes, and which Azure pipelines are due for each by the changed paths.
All: eng/pipelines/cadl-ci.yaml, eng/pipelines/fluent_integration.yaml

eng/pipelines/cadl-ci.yaml:

trigger:
  branches:
    include:
      - main

pr:
  branches:
    include:
      - main
  paths:
    include:
      - '*'
    exclude:
      - 'fluent*'

jobs:
  - job: Build

    variables:
      JavaVersion: 1.8
      NodeVersion: '16.x'

    pool:
      name: "azsdk-pool-mms-ubuntu-2004-general"
      vmImage: "MMSUbuntu20.04"

    steps:
      - task: NodeTool@0
        displayName: 'Install Node.js $(NodeVersion)'
        inputs:
          versionSpec: '$(NodeVersion)'

      - task: Maven@3
        retryCountOnTaskFailure: 3
        displayName: 'Build JAR'
        inputs:
          mavenPomFile: pom.xml
          goals: 'clean verify package install'
          options: '-P local,cadl -T 1C --no-transfer-progress'
          javaHomeOption: 'JDKVersion'
          jdkVersionOption: $(JavaVersion)
          jdkArchitectureOption: 'x64'
          publishJUnitResults: false

      - task: Npm@1
        displayName: 'Install Dependencies for CADL Java'
        inputs:
          command: install
          workingDir: ./cadl-extension

      - task: Npm@1
        displayName: 'Build CADL Java'
        inputs:
          command: custom
          customCommand: run build
          workingDir: ./cadl-extension

      - task: Npm@1
        displayName: 'Lint CADL Java'
        inputs:
          command: custom
          customCommand: run lint
          workingDir: ./cadl-extension

      - task: Npm@1
        displayName: 'Pack CADL Java'
        inputs:
          command: custom
          customCommand: pack
          workingDir: ./cadl-extension

      - script: |
          npm install -g @cadl-lang/compiler
        displayName: 'Install CADL'

      - script: |
          bash ./generate.sh
        displayName: 'Generate Code'
        workingDirectory: ./cadl-tests

      - script: |
          git status
          git diff
        displayName: 'Git Diff'

      - script: |
          [ -z "`git status --porcelain`" ]
        displayName: 'Check no Diff'

      - task: Npm@1
        displayName: 'Install Testserver'
        inputs:
          command: install

      - script: |
          npm run testserver-run &
        displayName: 'Start Testserver'

      - task: Maven@3
        displayName: 'Run CADL Tests'
        inputs:
          mavenPomFile: pom.xml
          goals: 'clean test'
          options: '-PtestCadl -pl cadl-tests -DtrimStackTrace=false --no-transfer-progress'
          javaHomeOption: 'JDKVersion'
          jdkVersionOption: $(JavaVersion)
          jdkArchitectureOption: 'x64'
          publishJUnitResults: false

      - script: |
          npm run testserver-stop
        displayName: 'Stop Testserver'

eng/pipelines/fluent_integration.yaml:

trigger:
  branches:
    include:
    - main

pr:
  branches:
    include:
    - main
  paths:
    include:
      - '*'
    exclude:
      - 'cadl*'

jobs:
- job: 'Build'
  timeoutInMinutes: 60
  pool:
    name: "azsdk-pool-mms-win-2019-general"
    vmImage: "MMS2019"

  steps:
  - task: NodeTool@0
    inputs:
      versionSpec: '>=14.0.0'

  - script: npm install autorest -g

  - task: Maven@3
    inputs:
      mavenPomFile: 'pom.xml'
      mavenOptions: '-Xmx3072m'
      javaHomeOption: 'JDKVersion'
      jdkVersionOption: '1.11'
      jdkArchitectureOption: 'x64'
      publishJUnitResults: true
      testResultsFiles: '**/TEST-*.xml'
      goals: 'verify'
      options: '-P local,testFluent --no-transfer-progress'

  - task: PublishCodeCoverageResults@1
    inputs:
      codeCoverageTool: 'JaCoCo'
      summaryFileLocation: fluentgen/target/site/test-coverage/jacoco.xml
      reportDirectory: fluentgen/target/site/test-coverage/
      failIfCoverageEmpty: false

Only remove single page paging in fluent gen
  fluentgen/src/main/java/com/azure/autorest/fluent/mapper/FluentClientMethodMapper.java
Due: eng/pipelines/fluent_integration.yaml

Don't generate single page sync in fluentgen
  fluentgen/src/main/java/com/azure/autorest/fluent/mapper/FluentClientMethodMapper.java
Due: eng/pipelines/fluent_integration.yaml

Fix valid context being Context.NONE
  javagen/src/main/java/com/azure/autorest/template/ClientMethodTemplate.java
Due: eng/pipelines/cadl-ci.yaml, eng/pipelines/fluent_integration.yaml

Cadl, support roundtrip model (#1712)
  cadl-extension/src/code-model-builder.ts
  cadl-tests/src/main/java/com/cadl/longrunning/LongRunningAsyncClient.java
  cadl-tests/src/main/java/com/cadl/longrunning/LongRunningClient.java
  cadl-tests/src/main/java/com/cadl/longrunning/implementation/LongRunningOpsImpl.java
  cadl-tests/src/main/java/com/cadl/longrunning/models/ResourceRequest.java
  cadl-tests/src/main/java/com/cadl/response/CadlCoreOpAsyncClient.java
  cadl-tests/src/main/java/com/cadl/response/CadlCoreOpClient.java
  cadl-tests/src/main/java/com/cadl/response/implementation/CadlCoreOpsImpl.java
  cadl-tests/src/main/java/com/cadl/response/models/ResourceRequest.java
Due: eng/pipelines/cadl-ci.yaml

use API from cadl-azure-core, improve handling of LRO
  cadl-extension/package.json
  cadl-extension/src/code-model-builder.ts
  cadl-extension/tsconfig.json
  cadl-tests/cadl/lro.cadl
Due: eng/pipelines/cadl-ci.yaml

regen tests
  cadl-tests/src/main/java/com/cadl/longrunning/LongRunningAsyncClient.java
  cadl-tests/src/main/java/com/cadl/longrunning/LongRunningClient.java
  cadl-tests/src/main/java/com/cadl/longrunning/implementation/LongRunningOpsImpl.java
  cadl-tests/src/main/java/com/cadl/longrunning/models/OperationStatusResourceResource.java
Due: eng/pipelines/cadl-ci.yaml

minor update lro.cadl
  cadl-tests/cadl/lro.cadl
Due: eng/pipelines/cadl-ci.yaml

cadl, test case for oauth2
  cadl-tests/src/test/java/com/authentication/oauth2/BearerTokenAuthenticationPolicy.java
  cadl-tests/src/test/java/com/authentication/oauth2/OAuth2Tests.java
Due: eng/pipelines/cadl-ci.yaml

ignore cadl-ranch-coverage.json
  .gitignore
Due: eng/pipelines/cadl-ci.yaml, eng/pipelines/fluent_integration.yaml

support option output-model-immutable
  cadl-extension/src/main/java/com/azure/autorest/CadlPlugin.java
  extension-base/src/main/java/com/azure/autorest/extension/base/plugin/JavaSettings.java
  javagen/src/main/java/com/azure/autorest/template/ModelTemplate.java
  javagen/src/main/java/com/azure/autorest/template/ModelTestTemplate.java
  javagen/src/main/resources/data-plane.md
Due: eng/pipelines/cadl-ci.yaml, eng/pipelines/fluent_integration.yaml

Cadl, improve LRO handling (DPG 1.0 pattern) (#1715)
  cadl-extension/package.json
  cadl-extension/src/code-model-builder.ts
  cadl-extension/tsconfig.json
  cadl-tests/cadl/lro.cadl
  cadl-tests/src/main/java/com/cadl/longrunning/LongRunningAsyncClient.java
  cadl-tests/src/main/java/com/cadl/longrunning/LongRunningClient.java
  cadl-tests/src/main/java/com/cadl/longrunning/implementation/LongRunningOpsImpl.java
  cadl-tests/src/main/java/com/cadl/longrunning/models/OperationStatusResourceResource.java
Due: eng/pipelines/cadl-ci.yaml

regen body-complex as case for output-model-immutable
  generate
  generate.bat
  vanilla-tests/src/main/java/fixtures/bodycomplex/models/ArrayWrapper.java
  vanilla-tests/src/main/java/fixtures/bodycomplex/models/Basic.java
  vanilla-tests/src/main/java/fixtures/bodycomplex/models/BooleanWrapper.java
  vanilla-tests/src/main/java/fixtures/bodycomplex/models/ByteWrapper.java
  vanilla-tests/src/main/java/fixtures/bodycomplex/models/Cat.java
  vanilla-tests/src/main/java/fixtures/bodycomplex/models/DateWrapper.java
  vanilla-tests/src/main/java/fixtures/bodycomplex/models/DatetimeWrapper.java
  vanilla-tests/src/main/java/fixtures/bodycomplex/models/Datetimerfc1123Wrapper.java
  vanilla-tests/src/main/java/fixtures/bodycomplex/models/DictionaryWrapper.java
  vanilla-tests/src/main/java/fixtures/bodycomplex/models/Dog.java
  vanilla-tests/src/main/java/fixtures/bodycomplex/models/DotFish.java
  vanilla-tests/src/main/java/fixtures/bodycomplex/models/DotFishMarket.java
  vanilla-tests/src/main/java/fixtures/bodycomplex/models/DotSalmon.java
  vanilla-tests/src/main/java/fixtures/bodycomplex/models/DoubleWrapper.java
  vanilla-tests/src/main/java/fixtures/bodycomplex/models/DurationWrapper.java
  vanilla-tests/src/main/java/fixtures/bodycomplex/models/Error.java
  vanilla-tests/src/main/java/fixtures/bodycomplex/models/FloatWrapper.java
  vanilla-tests/src/main/java/fixtures/bodycomplex/models/IntWrapper.java
  vanilla-tests/src/main/java/fixtures/bodycomplex/models/LongWrapper.java
  vanilla-tests/src/main/java/fixtures/bodycomplex/models/MyBaseType.java
  vanilla-tests/src/main/java/fixtures/bodycomplex/models/MyDerivedType.java
  vanilla-tests/src/main/java/fixtures/bodycomplex/models/Pet.java
  vanilla-tests/src/main/java/fixtures/bodycomplex/models/ReadonlyObj.java
  vanilla-tests/src/main/java/fixtures/bodycomplex/models/Siamese.java
  vanilla-tests/src/main/java/fixtures/bodycomplex/models/StringWrapper.java
  vanilla-tests/src/test/java/fixtures/bodycomplex/generated/DotFishMarketTests.java
  vanilla-tests/src/test/java/fixtures/bodycomplex/generated/DotFishTests.java
  vanilla-tests/src/test/java/fixtures/bodycomplex/generated/DotSalmonTests.java
  vanilla-tests/src/test/java/fixtures/bodycomplex/generated/ErrorTests.java
  vanilla-tests/src/test/java/fixtures/bodycomplex/generated/MyBaseTypeTests.java
  vanilla-tests/src/test/java/fixtures/bodycomplex/generated/MyDerivedTypeTests.java
Due: eng/pipelines/cadl-ci.yaml, eng/pipelines/fluent_integration.yaml

regen cadl tests
  cadl-tests/src/main/java/com/cadl/builtin/models/Builtin.java
  cadl-tests/src/main/java/com/cadl/builtin/models/FormatString.java
  cadl-tests/src/main/java/com/cadl/enumservice/models/Operation.java
  cadl-tests/src/main/java/com/cadl/errormodel/models/Diagnostic.java
  cadl-tests/src/main/java/com/cadl/longrunning/models/OperationStatus.java
  cadl-tests/src/main/java/com/cadl/naming/models/BinaryData.java
  cadl-tests/src/main/java/com/cadl/naming/models/DataResponse.java
  cadl-tests/src/main/java/com/cadl/odata/models/PagedResource.java
  cadl-tests/src/main/java/com/cadl/odata/models/Resource.java
  cadl-tests/src/main/java/com/cadl/optional/models/AllPropertiesOptional.java
  cadl-tests/src/main/java/com/cadl/optional/models/ImmutableModel.java
  cadl-tests/src/main/java/com/cadl/optional/models/OptionalOpsPutHeaders.java
  cadl-tests/src/main/java/com/cadl/paged/implementation/models/CustomPageResource.java
  cadl-tests/src/main/java/com/cadl/paged/models/Resource.java
  cadl-tests/src/main/java/com/cadl/partialupdate/models/PartialUpdateModel.java
  cadl-tests/src/main/java/com/cadl/polymorphism/models/Cat.java
  cadl-tests/src/main/java/com/cadl/polymorphism/models/Dog.java
  cadl-tests/src/main/java/com/cadl/polymorphism/models/EntitiesTaskParameters.java
  cadl-tests/src/main/java/com/cadl/polymorphism/models/Parameter.java
  cadl-tests/src/main/java/com/cadl/polymorphism/models/Pet.java
  cadl-tests/src/main/java/com/cadl/polymorphism/models/Task.java
  cadl-tests/src/main/java/com/cadl/response/implementation/models/CustomPageResource.java
  cadl-tests/src/main/java/com/cadl/response/models/ResponseOpsCreateWithHeadersHeaders.java
  cadl-tests/src/main/java/com/cadl/response/models/ResponseOpsDeleteWithHeadersHeaders.java
  cadl-tests/src/main/java/com/cadl/testserver/servicedriven1/models/Message.java
  cadl-tests/src/main/java/com/cadl/testserver/servicedriven2/models/Message.java
  cadl-tests/src/main/java/com/cadl/visibility/models/Dog.java
  cadl-tests/src/main/java/com/models/property/optional/models/BytesProperty.java
  cadl-tests/src/main/java/com/models/property/optional/models/CollectionsByteProperty.java
  cadl-tests/src/main/java/com/models/property/optional/models/DatetimeProperty.java
  cadl-tests/src/main/java/com/models/property/optional/models/DurationProperty.java
  cadl-tests/src/main/java/com/models/property/optional/models/StringProperty.java
  cadl-tests/src/main/java/com/nestedmodelsbasic/models/NestedOutputOnlyModel.java
  cadl-tests/src/main/java/com/nestedmodelsbasic/models/OutputModel.java
  cadl-tests/src/main/java/com/outputbasic/models/OutputModel.java
  cadl-tests/src/main/java/com/readonlyproperties/models/OutputModel.java
  cadl-tests/src/main/java/com/readonlyproperties/models/RoundTripModel.java
Due: eng/pipelines/cadl-ci.yaml

fix Immutable annotation
  cadl-tests/src/main/java/com/cadl/longrunning/models/OperationStatus.java
  cadl-tests/src/main/java/com/cadl/odata/models/PagedResource.java
  cadl-tests/src/main/java/com/cadl/optional/models/AllPropertiesOptional.java
  cadl-tests/src/main/java/com/cadl/optional/models/OptionalOpsPutHeaders.java
  cadl-tests/src/main/java/com/cadl/paged/implementation/models/CustomPageResource.java
  cadl-tests/src/main/java/com/cadl/polymorphism/models/Cat.java
  cadl-tests/src/main/java/com/cadl/polymorphism/models/Dog.java
  cadl-tests/src/main/java/com/cadl/polymorphism/models/Pet.java
  cadl-tests/src/main/java/com/cadl/response/implementation/models/CustomPageResource.java
  cadl-tests/src/main/java/com/cadl/response/models/ResponseOpsCreateWithHeadersHeaders.java
  cadl-tests/src/main/java/com/cadl/response/models/ResponseOpsDeleteWithHeadersHeaders.java
  javagen/src/main/java/com/azure/autorest/template/ModelTemplate.java
Due: eng/pipelines/cadl-ci.yaml, eng/pipelines/fluent_integration.yaml

support relative url in lro and paging
  extension-base/src/main/java/com/azure/autorest/extension/base/plugin/JavaSettings.java
  javagen/src/main/java/com/azure/autorest/template/ClientMethodTemplate.java
Due: eng/pipelines/cadl-ci.yaml, eng/pipelines/fluent_integration.yaml

regen cadl tests
  cadl-tests/src/main/java/com/cadl/longrunning/models/OperationStatusResourceResource.java
Due: eng/pipelines/cadl-ci.yaml

regen code
  protocol-tests/src/main/java/fixtures/dpgcustomization/implementation/DpgClientImpl.java
  protocol-tests/src/main/java/fixtures/lro/implementation/LROsImpl.java
  protocol-tests/src/main/java/fixtures/lro/implementation/LroRetrysImpl.java
  protocol-tests/src/main/java/fixtures/lro/implementation/LrosCustomHeadersImpl.java
  protocol-tests/src/main/java/fixtures/lro/implementation/LrosaDsImpl.java
  protocol-tests/src/main/java/fixtures/specialheader/implementation/HeadersImpl.java
Due: eng/pipelines/cadl-ci.yaml, eng/pipelines/fluent_integration.yaml

convert another test case to use output-model-immutable
  generate
  generate.bat
  vanilla-tests/src/main/java/fixtures/requiredfieldsascotrargstransformation/models/TransformationAsParentRequiredFields.java
  vanilla-tests/src/main/java/fixtures/requiredfieldsascotrargstransformation/models/TransformationAsRequiredFields.java
Due: eng/pipelines/cadl-ci.yaml, eng/pipelines/fluent_integration.yaml

Fix checkstyle error
  javagen/src/main/java/com/azure/autorest/template/ClientMethodTemplate.java
Due: eng/pipelines/cadl-ci.yaml, eng/pipelines/fluent_integration.yaml

support special headers
  cadl-extension/src/code-model-builder.ts
  cadl-tests/cadl/special-headers.cadl
Due: eng/pipelines/cadl-ci.yaml

codegen
  cadl-tests/src/main/java/com/cadl/specialheaders/SpecialHeadersAsyncClient.java
  cadl-tests/src/main/java/com/cadl/specialheaders/SpecialHeadersClient.java
  cadl-tests/src/main/java/com/cadl/specialheaders/SpecialHeadersClientBuilder.java
  cadl-tests/src/main/java/com/cadl/specialheaders/SpecialHeadersServiceVersion.java
  cadl-tests/src/main/java/com/cadl/specialheaders/implementation/SpecialHeadersClientImpl.java
  cadl-tests/src/main/java/com/cadl/specialheaders/implementation/SpecialHeadersOpsImpl.java
  cadl-tests/src/main/java/com/cadl/specialheaders/implementation/models/CustomPageResourceCustomizations.java
  cadl-tests/src/main/java/com/cadl/specialheaders/implementation/models/package-info.java
  cadl-tests/src/main/java/com/cadl/specialheaders/implementation/package-info.java
  cadl-tests/src/main/java/com/cadl/specialheaders/models/Resource.java
  cadl-tests/src/main/java/com/cadl/specialheaders/models/package-info.java
  cadl-tests/src/main/java/com/cadl/specialheaders/package-info.java
  cadl-tests/src/main/resources/cadl-specialheaders.properties
Due: eng/pipelines/cadl-ci.yaml

remove pagable, refactor ts
  cadl-extension/src/code-model-builder.ts
  cadl-tests/cadl/special-headers.cadl
  cadl-tests/src/main/java/com/cadl/specialheaders/SpecialHeadersAsyncClient.java
  cadl-tests/src/main/java/com/cadl/specialheaders/SpecialHeadersClient.java
  cadl-tests/src/main/java/com/cadl/specialheaders/implementation/SpecialHeadersOpsImpl.java
  cadl-tests/src/main/java/com/cadl/specialheaders/implementation/models/CustomPageResourceCustomizations.java
  cadl-tests/src/main/java/com/cadl/specialheaders/implementation/models/package-info.java
Due: eng/pipelines/cadl-ci.yaml

prettier
  cadl-tests/cadl/special-headers.cadl
Due: eng/pipelines/cadl-ci.yaml

cadl, handle special headers (#1719)
  cadl-extension/src/code-model-builder.ts
  cadl-tests/cadl/special-headers.cadl
  cadl-tests/src/main/java/com/cadl/specialheaders/SpecialHeadersAsyncClient.java
  cadl-tests/src/main/java/com/cadl/specialheaders/SpecialHeadersClient.java
  cadl-tests/src/main/java/com/cadl/specialheaders/SpecialHeadersClientBuilder.java
  cadl-tests/src/main/java/com/cadl/specialheaders/SpecialHeadersServiceVersion.java
  cadl-tests/src/main/java/com/cadl/specialheaders/implementation/SpecialHeadersClientImpl.java
  cadl-tests/src/main/java/com/cadl/specialheaders/implementation/SpecialHeadersOpsImpl.java
  cadl-tests/src/main/java/com/cadl/specialheaders/implementation/package-info.java
  cadl-tests/src/main/java/com/cadl/specialheaders/models/Resource.java
  cadl-tests/src/main/java/com/cadl/specialheaders/models/package-info.java
  cadl-tests/src/main/java/com/cadl/specialheaders/package-info.java
  cadl-tests/src/main/resources/cadl-specialheaders.properties
Due: eng/pipelines/cadl-ci.yaml

StreamResponse and Miscellaneous Fixes
  javagen/src/main/java/com/azure/autorest/mapper/ClientMethodMapper.java
  javagen/src/main/java/com/azure/autorest/mapper/ProxyMethodMapper.java
  javagen/src/main/java/com/azure/autorest/model/clientmodel/ClientMethod.java
  javagen/src/main/java/com/azure/autorest/template/ClientMethodTemplate.java
  javagen/src/main/java/com/azure/autorest/template/ModelTemplate.java
Due: eng/pipelines/cadl-ci.yaml, eng/pipelines/fluent_integration.yaml

Regenerate and update FluentGen visibility
  azure-tests/src/main/java/fixtures/custombaseuri/paging/Pagings.java
  azure-tests/src/main/java/fixtures/paging/Pagings.java
  fluentgen/src/main/java/com/azure/autorest/fluent/mapper/FluentClientMethodMapper.java
  vanilla-tests/src/main/java/fixtures/bodyfile/Files.java
  vanilla-tests/src/main/java/fixtures/specialheader/Headers.java
  vanilla-tests/src/main/java/fixtures/xmlservice/models/AppleBarrel.java
  vanilla-tests/src/main/java/fixtures/xmlservice/models/ListContainersResponse.java
  vanilla-tests/src/main/java/fixtures/xmlservice/models/StorageServiceProperties.java
Due: eng/pipelines/cadl-ci.yaml, eng/pipelines/fluent_integration.yaml

Keep non-context paging APIs if context isn't being generated
  azure-tests/src/main/java/fixtures/custombaseuri/paging/Pagings.java
  azure-tests/src/main/java/fixtures/paging/Pagings.java
  javagen/src/main/java/com/azure/autorest/mapper/ClientMethodMapper.java
  vanilla-tests/src/main/java/fixtures/specialheader/Headers.java
Due: eng/pipelines/cadl-ci.yaml, eng/pipelines/fluent_integration.yaml

test case for method overload
  fluent-tests/src/test/java/com/azure/mgmttest/LiteCompilationTests.java
  fluent-tests/src/test/java/com/azure/mgmttest/RuntimeTests.java
Due: eng/pipelines/fluent_integration.yaml

test case for method overload, pageable
  fluent-tests/src/test/java/com/azure/mgmttest/LiteCompilationTests.java
  fluent-tests/src/test/java/com/azure/mgmttest/RuntimeTests.java
Due: eng/pipelines/fluent_integration.yaml

support unknown as any
  cadl-extension/src/code-model-builder.ts
Due: eng/pipelines/cadl-ci.yaml

bug fix
  cadl-extension/src/code-model-builder.ts
Due: eng/pipelines/cadl-ci.yaml

rename method
  cadl-extension/src/code-model-builder.ts
Due: eng/pipelines/cadl-ci.yaml

fix lint
  cadl-extension/src/code-model-builder.ts
Due: eng/pipelines/cadl-ci.yaml

fix for pageable overload
  fluentgen/src/main/java/com/azure/autorest/fluent/mapper/FluentClientMethodMapper.java
  javagen/src/main/java/com/azure/autorest/mapper/ClientMethodMapper.java
Due: eng/pipelines/cadl-ci.yaml, eng/pipelines/fluent_integration.yaml
