Repository Azure/autorest.java: changes, and which Azure pipelines are due for each by the changed paths.
All: eng/pipelines/cadl-ci.yaml, eng/pipelines/fluent_integration.yaml

eng/pipelines/cadl-ci.yaml:
  jobs:
  - job: Build
    variables:
      JavaVersion: 1.8
      NodeVersion: 16.x
    pool:
      name: azsdk-pool-mms-ubuntu-2004-general
      vmImage: MMSUbuntu20.04
    steps:
    - task: NodeTool@0
      displayName: Install Node.js $(NodeVersion)
      inputs:
        versionSpec: $(NodeVersion)
    - task: Maven@3
  ...

eng/pipelines/fluent_integration.yaml:
  jobs:
  - job: Build
    timeoutInMinutes: 60
    pool:
      name: azsdk-pool-mms-win-2019-general
      vmImage: MMS2019
    steps:
    - task: NodeTool@0
      inputs:
        versionSpec: '>=14.0.0'
    - script: npm install autorest -g
    - task: Maven@3
      inputs:
        mavenPomFile: pom.xml
  ...

regen dpg tests
  protocol-tests/src/main/java/fixtures/dpgcustomization/implementation/DpgClientImpl.java
  protocol-tests/src/main/java/fixtures/lro/implementation/LROsImpl.java
  protocol-tests/src/main/java/fixtures/lro/implementation/LroRetrysImpl.java
  protocol-tests/src/main/java/fixtures/lro/implementation/LrosCustomHeadersImpl.java
  protocol-tests/src/main/java/fixtures/lro/implementation/LrosaDsImpl.java
  protocol-tests/src/main/java/fixtures/specialheader/implementation/HeadersImpl.java
Due: eng/pipelines/cadl-ci.yaml, eng/pipelines/fluent_integration.yaml

add and document testing env var
  cadl-extension/readme.md
  cadl-extension/src/main/java/com/azure/autorest/CadlPlugin.java
  cadl-extension/src/main/java/com/azure/cadl/Main.java
  cadl-tests/generate.sh
Due: eng/pipelines/cadl-ci.yaml

allow convenienceMethod on interface
  cadl-extension/readme.md
  cadl-extension/src/code-model-builder.ts
Due: eng/pipelines/cadl-ci.yaml

improve module-info and package-info for convenience method
  extension-base/src/main/java/com/azure/autorest/extension/base/model/codemodel/CodeModelCustomConstructor.java
  extension-base/src/main/java/com/azure/autorest/extension/base/model/extensionmodel/XmsExtensions.java
  javagen/src/main/java/com/azure/autorest/mapper/ClientMapper.java
  javagen/src/main/java/com/azure/autorest/util/ClientModelUtil.java
Due: eng/pipelines/cadl-ci.yaml, eng/pipelines/fluent_integration.yaml

improve casing in SDK for odata
  cadl-tests/cadl/odata.cadl
  cadl-tests/src/main/java/com/cadl/odata/OdataAsyncClient.java
  cadl-tests/src/main/java/com/cadl/odata/OdataClient.java
  cadl-tests/src/main/java/com/cadl/odata/OdataClientBuilder.java
  cadl-tests/src/main/java/com/cadl/odata/OdataServiceVersion.java
  cadl-tests/src/main/java/com/cadl/odata/implementation/OdataClientImpl.java
  cadl-tests/src/main/java/com/cadl/odata/implementation/OdataOpsImpl.java
  cadl-tests/src/main/java/com/cadl/odata/implementation/package-info.java
  cadl-tests/src/main/java/com/cadl/odata/models/PagedResource.java
  cadl-tests/src/main/java/com/cadl/odata/models/Resource.java
  cadl-tests/src/main/java/com/cadl/odata/models/package-info.java
  cadl-tests/src/main/java/com/cadl/odata/package-info.java
  cadl-tests/src/main/resources/cadl-odata.properties
  preprocessor/src/main/java/com/azure/autorest/preprocessor/tranformer/Transformer.java
Due: eng/pipelines/cadl-ci.yaml, eng/pipelines/fluent_integration.yaml

update cadl to use query parameter for maxpagesize
  cadl-tests/cadl/odata.cadl
  cadl-tests/src/main/java/com/cadl/odata/OdataAsyncClient.java
  cadl-tests/src/main/java/com/cadl/odata/OdataClient.java
  cadl-tests/src/main/java/com/cadl/odata/implementation/OdataOpsImpl.java
Due: eng/pipelines/cadl-ci.yaml

use protocolMethod to clarify code
  javagen/src/main/java/com/azure/autorest/model/clientmodel/ConvenienceMethod.java
  javagen/src/main/java/com/azure/autorest/template/ConvenienceAsyncMethodTemplate.java
  javagen/src/main/java/com/azure/autorest/template/ConvenienceMethodTemplateBase.java
  javagen/src/main/java/com/azure/autorest/template/ConvenienceSyncMethodTemplate.java
Due: eng/pipelines/cadl-ci.yaml, eng/pipelines/fluent_integration.yaml

add cadl ranch dependencies
  cadl-tests/package.json
Due: eng/pipelines/cadl-ci.yaml

update generate script to generate both local tests and cadl ranch tests sources
  cadl-tests/generate.sh
Due: eng/pipelines/cadl-ci.yaml

update tests
  cadl-tests/src/test/java/com/azure/client/AzureClientTests.java
  cadl-tests/src/test/java/com/cadl/testserver/dpgupdate/DpgUpdateTests.java
Due: eng/pipelines/cadl-ci.yaml

update CI
  eng/pipelines/cadl-ci.yaml
Due: eng/pipelines/cadl-ci.yaml, eng/pipelines/fluent_integration.yaml

review feedback
  javagen/src/main/java/com/azure/autorest/mapper/ClientMethodMapper.java
  javagen/src/main/java/com/azure/autorest/template/ConvenienceAsyncMethodTemplate.java
  javagen/src/main/java/com/azure/autorest/template/ConvenienceMethodTemplateBase.java
  javagen/src/main/java/com/azure/autorest/template/ConvenienceSyncMethodTemplate.java
Due: eng/pipelines/cadl-ci.yaml, eng/pipelines/fluent_integration.yaml

regen tests
  cadl-tests/generate.sh
  cadl-tests/src/main/java/com/azure/client/AzureAsyncClient.java
  cadl-tests/src/main/java/com/azure/client/AzureClient.java
  cadl-tests/src/main/java/com/azure/client/implementation/HelloesImpl.java
  cadl-tests/src/main/java/com/cadl/testserver/collectionpropertiesbasic/CollectionPropertiesBasicAsyncClient.java
  cadl-tests/src/main/java/com/cadl/testserver/collectionpropertiesbasic/CollectionPropertiesBasicClient.java
  cadl-tests/src/main/java/com/cadl/testserver/collectionpropertiesbasic/implementation/CollectionPropertiesBasicsImpl.java
  cadl-tests/src/main/java/com/cadl/testserver/enumpropertiesbasic/EnumPropertiesBasicAsyncClient.java
  cadl-tests/src/main/java/com/cadl/testserver/enumpropertiesbasic/EnumPropertiesBasicClient.java
  cadl-tests/src/main/java/com/cadl/testserver/enumpropertiesbasic/implementation/EnumPropertiesBasicsImpl.java
  cadl-tests/src/main/java/com/cadl/testserver/inputbasic/InputBasicAsyncClient.java
  cadl-tests/src/main/java/com/cadl/testserver/inputbasic/InputBasicClient.java
  cadl-tests/src/main/java/com/cadl/testserver/inputbasic/implementation/InputBasicsImpl.java
  cadl-tests/src/main/java/com/cadl/testserver/nestedmodelsbasic/NestedModelsBasicAsyncClient.java
  cadl-tests/src/main/java/com/cadl/testserver/nestedmodelsbasic/NestedModelsBasicClient.java
  cadl-tests/src/main/java/com/cadl/testserver/nestedmodelsbasic/implementation/NestedModelsBasicsImpl.java
  cadl-tests/src/main/java/com/cadl/testserver/optionalproperties/OptionalPropertiesAsyncClient.java
  cadl-tests/src/main/java/com/cadl/testserver/optionalproperties/OptionalPropertiesClient.java
  cadl-tests/src/main/java/com/cadl/testserver/optionalproperties/implementation/OptionalPropertiesImpl.java
  cadl-tests/src/main/java/com/cadl/testserver/outputbasic/OutputBasicAsyncClient.java
  cadl-tests/src/main/java/com/cadl/testserver/outputbasic/OutputBasicClient.java
  cadl-tests/src/main/java/com/cadl/testserver/outputbasic/implementation/OutputBasicsImpl.java
  cadl-tests/src/main/java/com/cadl/testserver/primitiveproperties/PrimitivePropertyAsyncClient.java
  cadl-tests/src/main/java/com/cadl/testserver/primitiveproperties/PrimitivePropertyClient.java
  cadl-tests/src/main/java/com/cadl/testserver/primitiveproperties/implementation/PrimitivePropertiesImpl.java
  cadl-tests/src/main/java/com/cadl/testserver/roundtripbasic/RoundTripBasicAsyncClient.java
  cadl-tests/src/main/java/com/cadl/testserver/roundtripbasic/RoundTripBasicClient.java
  cadl-tests/src/main/java/com/cadl/testserver/roundtripbasic/implementation/RoundTripBasicsImpl.java
Due: eng/pipelines/cadl-ci.yaml

filter json methods
  fluentgen/src/main/java/com/azure/autorest/fluent/mapper/ExampleParser.java
Due: eng/pipelines/fluent_integration.yaml

bug fix, and switch to convenience method in CADL test
  cadl-tests/src/main/java/com/azure/client/AzureAsyncClient.java
  cadl-tests/src/main/java/com/azure/client/AzureClient.java
  cadl-tests/src/test/java/com/azure/client/AzureClientTests.java
  javagen/src/main/java/com/azure/autorest/template/ConvenienceAsyncMethodTemplate.java
  javagen/src/main/java/com/azure/autorest/template/ConvenienceMethodTemplateBase.java
  javagen/src/main/java/com/azure/autorest/template/ConvenienceSyncMethodTemplate.java
Due: eng/pipelines/cadl-ci.yaml, eng/pipelines/fluent_integration.yaml

remove old tests
  cadl-tests/confidentialledger/confidentialledger.cadl
  cadl-tests/confidentialledger/identityservice.cadl
  cadl-tests/confidentialledger/main.cadl
  cadl-tests/petstore/decorators.js
  cadl-tests/petstore/petstore.cadl
  cadl-tests/testserver/body-boolean.cadl
  cadl-tests/testserver/body-complex.cadl
  cadl-tests/testserver/body-string.cadl
  cadl-tests/testserver/body-time.cadl
  cadl-tests/testserver/decorators.js
  cadl-tests/testserver/dpg-update1.cadl
  cadl-tests/testserver/media-types.cadl
  cadl-tests/testserver/multiple-inheritance.cadl
  cadl-tests/textanalytics/customentities.cadl
  cadl-tests/textanalytics/custommultilabel.cadl
  cadl-tests/textanalytics/customsinglelabel.cadl
  cadl-tests/textanalytics/entities.cadl
  cadl-tests/textanalytics/entitylinking.cadl
  cadl-tests/textanalytics/healthcare.cadl
  cadl-tests/textanalytics/internal-decorators.js
  cadl-tests/textanalytics/keyphrases.cadl
  cadl-tests/textanalytics/languages.cadl
  cadl-tests/textanalytics/lib.cadl
  cadl-tests/textanalytics/main.cadl
  cadl-tests/textanalytics/pii.cadl
  cadl-tests/textanalytics/sentiment.cadl
  cadl-tests/textanalytics/summarization.cadl
Due: eng/pipelines/cadl-ci.yaml

Update readme.md
  cadl-extension/readme.md
Due: eng/pipelines/cadl-ci.yaml

modify patch method input parameter as Option<>
  javagen/src/main/java/com/azure/autorest/template/PatchModelTemplate.java
Due: eng/pipelines/cadl-ci.yaml, eng/pipelines/fluent_integration.yaml

fix checkstyle
  javagen/src/main/java/com/azure/autorest/template/ConvenienceAsyncMethodTemplate.java
  javagen/src/main/java/com/azure/autorest/template/ConvenienceSyncMethodTemplate.java
Due: eng/pipelines/cadl-ci.yaml, eng/pipelines/fluent_integration.yaml

filter json methods (#1619)
  fluentgen/src/main/java/com/azure/autorest/fluent/mapper/ExampleParser.java
Due: eng/pipelines/fluent_integration.yaml

dpg, fix getEndpoint from client (#1595)
  androidgen/src/main/java/com/azure/autorest/android/model/clientmodel/AndroidServiceClient.java
  javagen/src/main/java/com/azure/autorest/mapper/ClientMapper.java
  javagen/src/main/java/com/azure/autorest/mapper/ServiceClientMapper.java
  javagen/src/main/java/com/azure/autorest/model/clientmodel/ClientBuilderTrait.java
  javagen/src/main/java/com/azure/autorest/model/clientmodel/ServiceClient.java
  javagen/src/main/java/com/azure/autorest/model/clientmodel/ServiceClientProperty.java
  javagen/src/main/java/com/azure/autorest/template/ServiceAsyncClientTemplate.java
  javagen/src/main/java/com/azure/autorest/template/ServiceSyncClientTemplate.java
Due: eng/pipelines/cadl-ci.yaml, eng/pipelines/fluent_integration.yaml

mgmt, fix spotbugs error
  fluentgen/src/main/java/com/azure/autorest/fluent/model/clientmodel/fluentmodel/method/CollectionMethodOperationByIdTemplate.java
Due: eng/pipelines/fluent_integration.yaml

more general solution
  javagen/src/main/java/com/azure/autorest/mapper/ClientParameterMapper.java
  preprocessor/src/main/java/com/azure/autorest/preprocessor/tranformer/Transformer.java
Due: eng/pipelines/cadl-ci.yaml, eng/pipelines/fluent_integration.yaml

client, improve casing in SDK for odata (#1617)
  cadl-tests/cadl/odata.cadl
  cadl-tests/src/main/java/com/cadl/odata/OdataAsyncClient.java
  cadl-tests/src/main/java/com/cadl/odata/OdataClient.java
  cadl-tests/src/main/java/com/cadl/odata/OdataClientBuilder.java
  cadl-tests/src/main/java/com/cadl/odata/OdataServiceVersion.java
  cadl-tests/src/main/java/com/cadl/odata/implementation/OdataClientImpl.java
  cadl-tests/src/main/java/com/cadl/odata/implementation/OdataOpsImpl.java
  cadl-tests/src/main/java/com/cadl/odata/implementation/package-info.java
  cadl-tests/src/main/java/com/cadl/odata/models/PagedResource.java
  cadl-tests/src/main/java/com/cadl/odata/models/Resource.java
  cadl-tests/src/main/java/com/cadl/odata/models/package-info.java
  cadl-tests/src/main/java/com/cadl/odata/package-info.java
  cadl-tests/src/main/resources/cadl-odata.properties
  javagen/src/main/java/com/azure/autorest/mapper/ClientParameterMapper.java
  preprocessor/src/main/java/com/azure/autorest/preprocessor/tranformer/Transformer.java
Due: eng/pipelines/cadl-ci.yaml, eng/pipelines/fluent_integration.yaml

mgmt, fix spotbugs error (#1620)
  fluentgen/src/main/java/com/azure/autorest/fluent/model/clientmodel/fluentmodel/method/CollectionMethodOperationByIdTemplate.java
Due: eng/pipelines/fluent_integration.yaml

adapt cadl compiler breaking changes
  cadl-extension/src/code-model-builder.ts
Due: eng/pipelines/cadl-ci.yaml

skip null check for setters
  javagen/src/main/java/com/azure/autorest/template/PatchModelTemplate.java
Due: eng/pipelines/cadl-ci.yaml, eng/pipelines/fluent_integration.yaml

cadl-azure-core namespace changed
  javagen/src/main/java/com/azure/autorest/util/SchemaUtil.java
Due: eng/pipelines/cadl-ci.yaml, eng/pipelines/fluent_integration.yaml

bump version
  cadl-extension/package.json
  cadl-tests/package.json
  package.json
Due: eng/pipelines/cadl-ci.yaml, eng/pipelines/fluent_integration.yaml

update pom version
  androidgen/pom.xml
  azure-tests/pom.xml
  cadl-extension/pom.xml
  cadl-tests/pom.xml
  customization-base/src/main/resources/pom.xml
  customization-tests/pom.xml
  fluent-tests/pom.xml
  fluentnamer/pom.xml
  javagen/pom.xml
  partial-update-tests/pom.xml
  protocol-resilience-test/pom.xml
  protocol-tests/pom.xml
  vanilla-tests/pom.xml
Due: eng/pipelines/cadl-ci.yaml, eng/pipelines/fluent_integration.yaml

update version
  javagen/src/main/java/com/azure/autorest/model/projectmodel/Project.java
  protocol-sdk-integration-tests/eng/versioning/version_client.txt
Due: eng/pipelines/cadl-ci.yaml, eng/pipelines/fluent_integration.yaml

add patch template (#1575)
  javagen/src/main/java/com/azure/autorest/template/PatchModelTemplate.java
Due: eng/pipelines/cadl-ci.yaml, eng/pipelines/fluent_integration.yaml

Bump version (#1622)
  androidgen/pom.xml
  azure-tests/pom.xml
  cadl-extension/package.json
  cadl-extension/pom.xml
  cadl-tests/package.json
  cadl-tests/pom.xml
  customization-base/src/main/resources/pom.xml
  customization-tests/pom.xml
  fluent-tests/pom.xml
  fluentnamer/pom.xml
  javagen/pom.xml
  javagen/src/main/java/com/azure/autorest/model/projectmodel/Project.java
  package.json
  partial-update-tests/pom.xml
  protocol-resilience-test/pom.xml
  protocol-sdk-integration-tests/eng/versioning/version_client.txt
  protocol-tests/pom.xml
  vanilla-tests/pom.xml
Due: eng/pipelines/cadl-ci.yaml, eng/pipelines/fluent_integration.yaml

hadk for ResourceCreatedOrOkResponse
  cadl-extension/src/code-model-builder.ts
  cadl-tests/cadl/error.cadl
  cadl-tests/src/main/java/com/cadl/errormodel/implementation/ErrorOpsImpl.java
Due: eng/pipelines/cadl-ci.yaml

fix binary response, add a test
  cadl-extension/src/code-model-builder.ts
  cadl-tests/cadl/response.cadl
  cadl-tests/src/main/java/com/cadl/response/ResponseAsyncClient.java
  cadl-tests/src/main/java/com/cadl/response/ResponseClient.java
  cadl-tests/src/main/java/com/cadl/response/ResponseClientBuilder.java
  cadl-tests/src/main/java/com/cadl/response/ResponseServiceVersion.java
  cadl-tests/src/main/java/com/cadl/response/implementation/ResponseClientImpl.java
  cadl-tests/src/main/java/com/cadl/response/implementation/ResponseOpsImpl.java
  cadl-tests/src/main/java/com/cadl/response/implementation/package-info.java
  cadl-tests/src/main/java/com/cadl/response/package-info.java
  cadl-tests/src/main/resources/cadl-response.properties
Due: eng/pipelines/cadl-ci.yaml

Path conditions:
  eng/pipelines/cadl-ci.yaml: any of: *, but not: fluent*
  eng/pipelines/fluent_integration.yaml: any of: *, but not: cadl*
