Repository Azure/autorest.java: changes, and which Azure pipelines are due for each by the changed paths.
All: eng/pipelines/cadl-ci.yaml, eng/pipelines/fluent_integration.yaml

eng/pipelines/cadl-ci.yaml:

trigger:
  branches:
    include:
      - main

pr:
  branches:
    include:
      - main
  paths:
    include:
      - '*'
    exclude:
      - 'fluent*'

jobs:
  - job: Build

    variables:
      JavaVersion: 1.8
      NodeVersion: '16.x'

    pool:
      name: "azsdk-pool-mms-ubuntu-2004-general"
      vmImage: "MMSUbuntu20.04"

    steps:
      - task: NodeTool@0
        displayName: 'Install Node.js $(NodeVersion)'
        inputs:
          versionSpec: '$(NodeVersion)'

      - task: Maven@3
        retryCountOnTaskFailure: 3
        displayName: 'Build JAR'
        inputs:
          mavenPomFile: pom.xml
          goals: 'clean verify package install'
          options: '-P local,cadl -T 1C --no-transfer-progress'
          javaHomeOption: 'JDKVersion'
          jdkVersionOption: $(JavaVersion)
          jdkArchitectureOption: 'x64'
          publishJUnitResults: false

      - task: Npm@1
        displayName: 'Install Dependencies for CADL Java'
        inputs:
          command: install
          workingDir: ./cadl-extension

      - task: Npm@1
        displayName: 'Build CADL Java'
        inputs:
          command: custom
          customCommand: run build
          workingDir: ./cadl-extension

      - task: Npm@1
        displayName: 'Lint CADL Java'
        inputs:
          command: custom
          customCommand: run lint
          workingDir: ./cadl-extension

      - task: Npm@1
        displayName: 'Pack CADL Java'
        inputs:
          command: custom
          customCommand: pack
          workingDir: ./cadl-extension

      - script: |
          npm install -g @cadl-lang/compiler
        displayName: 'Install CADL'

      - script: |
          bash ./generate.sh
        displayName: 'Generate Code'
        workingDirectory: ./cadl-tests

      - script: |
          git status
          git diff
        displayName: 'Git Diff'

      - script: |
          [ -z "`git status --porcelain`" ]
        displayName: 'Check no Diff'

      - task: Npm@1
        displayName: 'Install Testserver'
        inputs:
          command: install

      - script: |
          npm run testserver-run &
        displayName: 'Start Testserver'

      - task: Maven@3
        displayName: 'Run CADL Tests'
        inputs:
          mavenPomFile: pom.xml
          goals: 'clean test'
          options: '-PtestCadl -pl cadl-tests -DtrimStackTrace=false --no-transfer-progress'
          javaHomeOption: 'JDKVersion'
          jdkVersionOption: $(JavaVersion)
          jdkArchitectureOption: 'x64'
          publishJUnitResults: false

      - script: |
          npm run testserver-stop
        displayName: 'Stop Testserver'

eng/pipelines/fluent_integration.yaml:

trigger:
  branches:
    include:
    - main

pr:
  branches:
    include:
    - main
  paths:
    include:
      - '*'
    exclude:
      - 'cadl*'

jobs:
- job: 'Build'
  timeoutInMinutes: 60
  pool:
    name: "azsdk-pool-mms-win-2019-general"
    vmImage: "MMS2019"

  steps:
  - task: NodeTool@0
    inputs:
      versionSpec: '>=14.0.0'

  - script: npm install autorest -g

  - task: Maven@3
    inputs:
      mavenPomFile: 'pom.xml'
      mavenOptions: '-Xmx3072m'
      javaHomeOption: 'JDKVersion'
      jdkVersionOption: '1.11'
      jdkArchitectureOption: 'x64'
      publishJUnitResults: true
      testResultsFiles: '**/TEST-*.xml'
      goals: 'verify'
      options: '-P local,testFluent --no-transfer-progress'

  - task: PublishCodeCoverageResults@1
    inputs:
      codeCoverageTool: 'JaCoCo'
      summaryFileLocation: fluentgen/target/site/test-coverage/jacoco.xml
      reportDirectory: fluentgen/target/site/test-coverage/
      failIfCoverageEmpty: false

add copyright
  cadl-tests/src/test/java/com/models/property/optional/CollectionsModelClientTest.java
Due: eng/pipelines/cadl-ci.yaml

update according to comments
  cadl-tests/src/test/java/com/authentication/apikey/AuthenticationApiKeyClientTest.java
Due: eng/pipelines/cadl-ci.yaml

dpg, cadl-ranch, add tests for property-optional (#1732)
  cadl-tests/src/test/java/com/models/property/optional/BytesClientTest.java
  cadl-tests/src/test/java/com/models/property/optional/CollectionsByteClientTest.java
  cadl-tests/src/test/java/com/models/property/optional/CollectionsModelClientTest.java
  cadl-tests/src/test/java/com/models/property/optional/DatetimeOperationClientTest.java
  cadl-tests/src/test/java/com/models/property/optional/DurationOperationClientTest.java
  cadl-tests/src/test/java/com/models/property/optional/RequiredAndOptionalClientTest.java
  cadl-tests/src/test/java/com/models/property/optional/StringOperationClientTest.java
  cadl-tests/src/test/java/com/models/property/types/DatetimeOperationClientTest.java
  cadl-tests/src/test/java/com/models/property/types/DurationOperationClientTest.java
  cadl-tests/src/test/java/com/models/property/types/EnumClientTest.java
  cadl-tests/src/test/java/com/models/property/types/ExtensibleEnumClientTest.java
Due: eng/pipelines/cadl-ci.yaml

mgmt, improve generated tests (#1731)
  .gitignore
  fluentgen/src/main/java/com/azure/autorest/fluent/mapper/FluentMapper.java
  fluentgen/src/main/java/com/azure/autorest/fluent/mapper/UnitTestParser.java
  fluentgen/src/main/java/com/azure/autorest/fluent/model/javamodel/FluentJavaPackage.java
  javagen/src/main/java/com/azure/autorest/model/javamodel/JavaPackage.java
  javagen/src/main/java/com/azure/autorest/util/ModelTestCaseUtil.java
  javagen/src/main/java/com/azure/autorest/util/PossibleCredentialException.java
Due: eng/pipelines/cadl-ci.yaml, eng/pipelines/fluent_integration.yaml

refact client method overload
  androidgen/src/main/java/com/azure/autorest/android/mapper/AndroidClientMethodMapper.java
  extension-base/src/main/java/com/azure/autorest/extension/base/plugin/JavaSettings.java
  fluentgen/src/main/java/com/azure/autorest/fluent/mapper/FluentClientMethodMapper.java
  fluentgen/src/main/java/com/azure/autorest/fluent/template/FluentClientMethodTemplate.java
  javagen/src/main/java/com/azure/autorest/mapper/ClientMethodMapper.java
  javagen/src/main/java/com/azure/autorest/mapper/ProxyMethodMapper.java
  javagen/src/main/java/com/azure/autorest/model/clientmodel/ClientMethodParameter.java
  javagen/src/main/java/com/azure/autorest/template/ClientMethodTemplate.java
Due: eng/pipelines/cadl-ci.yaml, eng/pipelines/fluent_integration.yaml

regen lro tests
  azure-tests/src/main/java/fixtures/lro/fluent/models/ProductInner.java
  azure-tests/src/main/java/fixtures/lro/fluent/models/ProductProperties.java
  azure-tests/src/main/java/fixtures/lro/fluent/models/SkuInner.java
  azure-tests/src/main/java/fixtures/lro/fluent/models/SubProductInner.java
  azure-tests/src/main/java/fixtures/lro/fluent/models/SubProductProperties.java
  azure-tests/src/main/java/fixtures/lroparameterizedendpoints/models/Error.java
Due: eng/pipelines/cadl-ci.yaml, eng/pipelines/fluent_integration.yaml

refactor client method overload
  azure-tests/src/main/java/fixtures/lro/fluent/models/ProductInner.java
  azure-tests/src/main/java/fixtures/lro/fluent/models/ProductProperties.java
  azure-tests/src/main/java/fixtures/lro/fluent/models/SkuInner.java
  azure-tests/src/main/java/fixtures/lro/fluent/models/SubProductInner.java
  azure-tests/src/main/java/fixtures/lro/fluent/models/SubProductProperties.java
  azure-tests/src/main/java/fixtures/lroparameterizedendpoints/models/Error.java
  fluentgen/src/main/java/com/azure/autorest/fluent/template/FluentClientMethodTemplate.java
  javagen/src/main/java/com/azure/autorest/mapper/ClientMethodMapper.java
Due: eng/pipelines/cadl-ci.yaml, eng/pipelines/fluent_integration.yaml

lro handling for fluent
  fluentgen/src/main/java/com/azure/autorest/fluent/mapper/FluentClientMethodMapper.java
  fluentgen/src/main/java/com/azure/autorest/fluent/template/FluentClientMethodTemplate.java
  javagen/src/main/java/com/azure/autorest/mapper/ClientMethodMapper.java
  javagen/src/main/java/com/azure/autorest/template/ClientMethodTemplate.java
Due: eng/pipelines/cadl-ci.yaml, eng/pipelines/fluent_integration.yaml

fix for dpg
  javagen/src/main/java/com/azure/autorest/mapper/ClientMethodMapper.java
Due: eng/pipelines/cadl-ci.yaml, eng/pipelines/fluent_integration.yaml

bug fix
  fluentgen/src/main/java/com/azure/autorest/fluent/mapper/FluentClientMethodMapper.java
  javagen/src/main/java/com/azure/autorest/mapper/ClientMethodMapper.java
Due: eng/pipelines/cadl-ci.yaml, eng/pipelines/fluent_integration.yaml

regen cadl tests
  cadl-tests/src/main/java/com/models/property/optional/DurationOperationAsyncClient.java
  cadl-tests/src/main/java/com/models/property/optional/DurationOperationClient.java
  cadl-tests/src/main/java/com/models/property/optional/implementation/DurationOperationsImpl.java
  cadl-tests/src/main/java/com/models/property/optional/models/DurationProperty.java
Due: eng/pipelines/cadl-ci.yaml

fix fluent test
  fluent-tests/src/test/java/com/azure/mgmttest/RuntimeTests.java
Due: eng/pipelines/fluent_integration.yaml

bug fix, addOptionalVariables for beginLRO method
  androidgen/src/main/java/com/azure/autorest/android/template/AndroidClientMethodTemplate.java
  fluentgen/src/main/java/com/azure/autorest/fluent/template/FluentClientMethodTemplate.java
  javagen/src/main/java/com/azure/autorest/template/ClientMethodTemplate.java
Due: eng/pipelines/cadl-ci.yaml, eng/pipelines/fluent_integration.yaml

refactor ReqeustOptions parameter in proxy/client
  javagen/src/main/java/com/azure/autorest/mapper/ClientMethodMapper.java
  javagen/src/main/java/com/azure/autorest/mapper/ProxyMethodMapper.java
  javagen/src/main/java/com/azure/autorest/model/clientmodel/ClientMethodParameter.java
  javagen/src/main/java/com/azure/autorest/model/clientmodel/ProxyMethodParameter.java
Due: eng/pipelines/cadl-ci.yaml, eng/pipelines/fluent_integration.yaml

bug fix on fluent SympleSync+Context
  fluentgen/src/main/java/com/azure/autorest/fluent/mapper/FluentClientMethodMapper.java
Due: eng/pipelines/fluent_integration.yaml

fluent test on LRO APIs
  fluent-tests/src/test/java/com/azure/mgmttest/RuntimeTests.java
Due: eng/pipelines/fluent_integration.yaml

update fluent-test script
  fluent-tests/prepare-tests.bat
Due: eng/pipelines/fluent_integration.yaml

bug fix on fluent SimpleAsync
  fluent-tests/src/test/java/com/azure/mgmttest/RuntimeTests.java
  fluentgen/src/main/java/com/azure/autorest/fluent/mapper/FluentClientMethodMapper.java
Due: eng/pipelines/fluent_integration.yaml

Remove usage of Providers
  javagen/src/main/java/com/azure/autorest/template/StreamSerializationModelTemplate.java
Due: eng/pipelines/cadl-ci.yaml, eng/pipelines/fluent_integration.yaml

Fix XML attribute and text handling
  javagen/src/main/java/com/azure/autorest/template/StreamSerializationModelTemplate.java
  vanilla-tests/src/main/java/fixtures/complexstreamstylexmlserialization/models/BlobName.java
  vanilla-tests/src/main/java/fixtures/streamstylexmlserialization/models/ListBlobsResponse.java
  vanilla-tests/src/main/java/fixtures/streamstylexmlserialization/models/ListContainersResponse.java
  vanilla-tests/src/main/java/fixtures/streamstylexmlserialization/models/ObjectWithXMsTextProperty.java
  vanilla-tests/src/main/java/fixtures/streamstylexmlserialization/models/Slide.java
  vanilla-tests/src/main/java/fixtures/streamstylexmlserialization/models/Slideshow.java
Due: eng/pipelines/cadl-ci.yaml, eng/pipelines/fluent_integration.yaml

Fix import reording
  vanilla-tests/src/main/java/fixtures/streamstylexmlserialization/models/ListContainersResponse.java
  vanilla-tests/src/main/java/fixtures/streamstylexmlserialization/models/Slide.java
Due: eng/pipelines/cadl-ci.yaml, eng/pipelines/fluent_integration.yaml

fix ProxyResource override
  fluent-tests/prepare-tests.bat
  fluent-tests/src/test/java/com/azure/mgmttest/CompilationTests.java
  fluentnamer/src/main/java/com/azure/autorest/fluent/transformer/ResourceTypeNormalization.java
Due: eng/pipelines/fluent_integration.yaml

checkstyle
  fluentgen/src/main/java/com/azure/autorest/fluent/template/FluentClientMethodTemplate.java
Due: eng/pipelines/fluent_integration.yaml

fix
  javagen/src/main/java/com/azure/autorest/mapper/ProxyMethodMapper.java
Due: eng/pipelines/cadl-ci.yaml, eng/pipelines/fluent_integration.yaml

checkstyle
  fluentnamer/src/main/java/com/azure/autorest/fluent/transformer/ResourceTypeNormalization.java
Due: eng/pipelines/fluent_integration.yaml

move tryMergeBinaryRequests so that it only called once
  javagen/src/main/java/com/azure/autorest/mapper/ClientMethodMapper.java
  javagen/src/main/java/com/azure/autorest/mapper/MethodGroupMapper.java
  javagen/src/main/java/com/azure/autorest/mapper/ProxyMethodMapper.java
  javagen/src/main/java/com/azure/autorest/mapper/ServiceClientMapper.java
  javagen/src/main/java/com/azure/autorest/util/MethodUtil.java
Due: eng/pipelines/cadl-ci.yaml, eng/pipelines/fluent_integration.yaml

fix prepare-test.bat
  fluent-tests/prepare-tests.bat
Due: eng/pipelines/fluent_integration.yaml

javadoc and rename to tryMergeBinaryRequestsAndUpdateOperation
  javagen/src/main/java/com/azure/autorest/mapper/MethodGroupMapper.java
  javagen/src/main/java/com/azure/autorest/mapper/ServiceClientMapper.java
  javagen/src/main/java/com/azure/autorest/util/MethodUtil.java
Due: eng/pipelines/cadl-ci.yaml, eng/pipelines/fluent_integration.yaml

do not generate SimpleSync+Context, there is bug
  javagen/src/main/java/com/azure/autorest/mapper/ClientMethodMapper.java
  javagen/src/test/java/com/azure/autorest/mapper/ClientMethodMapperAccessor.java
Due: eng/pipelines/cadl-ci.yaml, eng/pipelines/fluent_integration.yaml

fix adaptforparentschema (#1738)
  fluent-tests/prepare-tests.bat
  fluent-tests/src/test/java/com/azure/mgmttest/CompilationTests.java
  fluentnamer/src/main/java/com/azure/autorest/fluent/transformer/ResourceTypeNormalization.java
Due: eng/pipelines/fluent_integration.yaml

regen
  azure-tests/src/main/java/fixtures/azurespecials/ApiVersionDefaults.java
  azure-tests/src/main/java/fixtures/azurespecials/ApiVersionLocals.java
  azure-tests/src/main/java/fixtures/azurespecials/Headers.java
  azure-tests/src/main/java/fixtures/azurespecials/Odatas.java
  azure-tests/src/main/java/fixtures/azurespecials/SkipUrlEncodings.java
  azure-tests/src/main/java/fixtures/azurespecials/SubscriptionInCredentials.java
  azure-tests/src/main/java/fixtures/azurespecials/SubscriptionInMethods.java
  azure-tests/src/main/java/fixtures/azurespecials/XMsClientRequestIds.java
  customization-tests/src/main/java/fixtures/bodycomplex/ArrayClient.java
  customization-tests/src/main/java/fixtures/bodycomplex/BasicClient.java
  customization-tests/src/main/java/fixtures/bodycomplex/DictionaryClient.java
  customization-tests/src/main/java/fixtures/bodycomplex/FlattencomplexClient.java
  customization-tests/src/main/java/fixtures/bodycomplex/InheritanceClient.java
  customization-tests/src/main/java/fixtures/bodycomplex/PolymorphicrecursiveClient.java
  customization-tests/src/main/java/fixtures/bodycomplex/PolymorphismClient.java
  customization-tests/src/main/java/fixtures/bodycomplex/PrimitiveClient.java
  customization-tests/src/main/java/fixtures/bodycomplex/ReadonlypropertyClient.java
  customization-tests/src/main/java/fixtures/bodycomplex/implementation/ArraysImpl.java
  customization-tests/src/main/java/fixtures/bodycomplex/implementation/BasicsImpl.java
  customization-tests/src/main/java/fixtures/bodycomplex/implementation/DictionariesImpl.java
  customization-tests/src/main/java/fixtures/bodycomplex/implementation/FlattencomplexesImpl.java
  customization-tests/src/main/java/fixtures/bodycomplex/implementation/InheritancesImpl.java
  customization-tests/src/main/java/fixtures/bodycomplex/implementation/PolymorphicrecursivesImpl.java
  customization-tests/src/main/java/fixtures/bodycomplex/implementation/PolymorphismsImpl.java
  customization-tests/src/main/java/fixtures/bodycomplex/implementation/PrimitivesImpl.java
  customization-tests/src/main/java/fixtures/bodycomplex/implementation/ReadonlypropertiesImpl.java
  vanilla-tests/src/main/java/fixtures/bodyboolean/Bools.java
  vanilla-tests/src/main/java/fixtures/bodyfile/Files.java
  vanilla-tests/src/main/java/fixtures/header/Headers.java
  vanilla-tests/src/main/java/fixtures/lro/LRORetrys.java
  vanilla-tests/src/main/java/fixtures/lro/LROs.java
  vanilla-tests/src/main/java/fixtures/lro/LROsCustomHeaders.java
  vanilla-tests/src/main/java/fixtures/lro/LrosaDs.java
  vanilla-tests/src/main/java/fixtures/nonamedresponsetypes/Headers.java
Due: eng/pipelines/cadl-ci.yaml, eng/pipelines/fluent_integration.yaml

add duration operation tests in property/optional
  cadl-tests/src/main/java/com/models/property/optional/DurationOperationAsyncClient.java
  cadl-tests/src/main/java/com/models/property/optional/DurationOperationClient.java
  cadl-tests/src/main/java/com/models/property/optional/implementation/DurationOperationsImpl.java
  cadl-tests/src/main/java/com/models/property/optional/models/DurationProperty.java
  cadl-tests/src/test/java/com/models/property/optional/DurationOperationClientTest.java
Due: eng/pipelines/cadl-ci.yaml

add extensible enums tests
  cadl-tests/src/test/java/com/extensibleenums/ExtensibleEnumsClientTest.java
Due: eng/pipelines/cadl-ci.yaml

add hello tests
  cadl-tests/src/test/java/com/hello/HelloClientTest.java
Due: eng/pipelines/cadl-ci.yaml

add inheritance tests
  cadl-tests/src/test/java/com/models/inheritance/DiscriminatedClientTest.java
  cadl-tests/src/test/java/com/models/inheritance/InheritanceClientTest.java
Due: eng/pipelines/cadl-ci.yaml

add dictionary tests in property/types
  cadl-tests/src/test/java/com/models/property/types/DictionaryStringClientTest.java
Due: eng/pipelines/cadl-ci.yaml

bug fix on begin LRO without optional parameters
  javagen/src/main/java/com/azure/autorest/template/ClientMethodTemplate.java
  vanilla-tests/src/main/java/fixtures/lro/LRORetrys.java
  vanilla-tests/src/main/java/fixtures/lro/LROs.java
  vanilla-tests/src/main/java/fixtures/lro/LROsCustomHeaders.java
  vanilla-tests/src/main/java/fixtures/lro/LrosaDs.java
Due: eng/pipelines/cadl-ci.yaml, eng/pipelines/fluent_integration.yaml

dpg, cadl, add cadl ranch tests (#1740)
  cadl-tests/src/main/java/com/models/property/optional/DurationOperationAsyncClient.java
  cadl-tests/src/main/java/com/models/property/optional/DurationOperationClient.java
  cadl-tests/src/main/java/com/models/property/optional/implementation/DurationOperationsImpl.java
  cadl-tests/src/main/java/com/models/property/optional/models/DurationProperty.java
  cadl-tests/src/test/java/com/extensibleenums/ExtensibleEnumsClientTest.java
  cadl-tests/src/test/java/com/hello/HelloClientTest.java
  cadl-tests/src/test/java/com/models/inheritance/DiscriminatedClientTest.java
  cadl-tests/src/test/java/com/models/inheritance/InheritanceClientTest.java
  cadl-tests/src/test/java/com/models/property/optional/DurationOperationClientTest.java
  cadl-tests/src/test/java/com/models/property/types/DictionaryStringClientTest.java
Due: eng/pipelines/cadl-ci.yaml
