Repository Azure/autorest.java: changes, and which Azure pipelines are due for each by the changed paths.
All: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

Path conditions:
  eng/pipelines/ci-cadl-java.yaml: any of: *, but not: fluent*, postprocessor, vanilla-tests, protocol*
  eng/pipelines/ci-typespec-java.yaml: any of: *, but not: fluent*, postprocessor, vanilla-tests, protocol*
  eng/pipelines/ci.yaml: any of: *, but not: fluent*, typespec*
  eng/pipelines/fluent_integration.yaml: any of: *, but not: typespec*

Add test cases for Projection_ProjectedName_Model_client and Projection_ProjectedName_Model_language
  typespec-tests/src/test/java/com/projection/projectedname/ProjectedNameClientTest.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

Fixed comment for pr#2439
  typespec-tests/src/test/java/com/projection/projectedname/ProjectedNameClientTest.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

Add test cases for tsp, cadl-ranch Type/Property/Optional (#2438)
  typespec-tests/src/test/java/com/type/property/optional/BooleanLiteralClientTests.java
  typespec-tests/src/test/java/com/type/property/optional/FloatLiteralClientTests.java
  typespec-tests/src/test/java/com/type/property/optional/IntLiteralClientTests.java
  typespec-tests/src/test/java/com/type/property/optional/StringLiteralClientTests.java
  typespec-tests/src/test/java/com/type/property/optional/UnionFloatLiteralClientTests.java
  typespec-tests/src/test/java/com/type/property/optional/UnionIntLiteralClientTests.java
  typespec-tests/src/test/java/com/type/property/optional/UnionStringLiteralClientTests.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

Add test cases for for tsp, cadl-ranch Projection.ProjectedName (#2439)
  typespec-tests/src/test/java/com/projection/projectedname/ProjectedNameClientTest.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

enhance discriminator case and map/array
  javagen/src/main/java/com/azure/autorest/template/JsonMergePatchHelperTemplate.java
  javagen/src/main/java/com/azure/autorest/template/StreamSerializationModelTemplate.java
  typespec-tests/tsp/patch.tsp
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

Fix polymorphic discriminator, use Linux for fluentgen CI
  Generate.ps1
  eng/pipelines/fluent_integration.yaml
  fluent-tests/Initialize-Tests.ps1
  fluent-tests/pom.xml
  javagen/src/main/java/com/azure/autorest/template/StreamSerializationModelTemplate.java
  typespec-tests/src/main/java/com/type/model/inheritance/nesteddiscriminator/models/GoblinShark.java
  typespec-tests/src/main/java/com/type/model/inheritance/nesteddiscriminator/models/SawShark.java
  typespec-tests/src/main/java/com/type/model/inheritance/nesteddiscriminator/models/Shark.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

Change exec configuration
  fluent-tests/pom.xml
Due: eng/pipelines/fluent_integration.yaml

Roll back change to PowerShell and Linux but keep script
  eng/pipelines/fluent_integration.yaml
  fluent-tests/pom.xml
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

Use slf4j-simple instead of logback
  eng/versioning/external_dependencies.txt
  typespec-extension/pom.xml
  typespec-extension/src/emitter.ts
  typespec-extension/src/main/resources/logback.xml
  typespec-extension/src/main/resources/simplelogger.properties
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

Fix indentation
  eng/scripts/Build-Packages.ps1
  eng/scripts/Initialize-Repository.ps1
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

Fix more indentation
  eng/scripts/Command-InvocationHelpers.ps1
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

Have enums map to their backing value for TypeSpec
  javagen/src/main/java/com/azure/autorest/model/clientmodel/ClientMethod.java
  javagen/src/main/java/com/azure/autorest/model/clientmodel/GenericType.java
  javagen/src/main/java/com/azure/autorest/model/clientmodel/ProxyMethodParameter.java
  javagen/src/main/java/com/azure/autorest/model/javamodel/JavaFileContents.java
  javagen/src/main/java/com/azure/autorest/model/xmlmodel/XmlFileContents.java
  javagen/src/main/java/com/azure/autorest/template/ConvenienceMethodTemplateBase.java
  javagen/src/main/java/com/azure/autorest/template/PomTemplate.java
  javagen/src/main/java/com/azure/autorest/template/ServiceClientTemplate.java
  typespec-tests/src/main/java/com/type/enums/extensible/ExtensibleAsyncClient.java
  typespec-tests/src/main/java/com/type/enums/extensible/ExtensibleClient.java
  typespec-tests/src/main/java/com/type/enums/fixed/FixedAsyncClient.java
  typespec-tests/src/main/java/com/type/enums/fixed/FixedClient.java
  typespec-tests/src/main/java/com/type/union/FloatsOnlyAsyncClient.java
  typespec-tests/src/main/java/com/type/union/FloatsOnlyClient.java
  typespec-tests/src/main/java/com/type/union/IntsOnlyAsyncClient.java
  typespec-tests/src/main/java/com/type/union/IntsOnlyClient.java
  typespec-tests/src/main/java/com/type/union/StringExtensibleAsyncClient.java
  typespec-tests/src/main/java/com/type/union/StringExtensibleClient.java
  typespec-tests/src/main/java/com/type/union/StringExtensibleNamedAsyncClient.java
  typespec-tests/src/main/java/com/type/union/StringExtensibleNamedClient.java
  typespec-tests/src/main/java/com/type/union/StringsOnlyAsyncClient.java
  typespec-tests/src/main/java/com/type/union/StringsOnlyClient.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

Use slf4j-simple instead of logback (#2441)
  eng/versioning/external_dependencies.txt
  typespec-extension/pom.xml
  typespec-extension/src/emitter.ts
  typespec-extension/src/main/resources/logback.xml
  typespec-extension/src/main/resources/simplelogger.properties
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

Fix polymorphic discriminator, use Linux for fluentgen CI (#2440)
  Generate.ps1
  fluent-tests/Initialize-Tests.ps1
  fluent-tests/pom.xml
  javagen/src/main/java/com/azure/autorest/template/StreamSerializationModelTemplate.java
  typespec-tests/src/main/java/com/type/model/inheritance/nesteddiscriminator/models/GoblinShark.java
  typespec-tests/src/main/java/com/type/model/inheritance/nesteddiscriminator/models/SawShark.java
  typespec-tests/src/main/java/com/type/model/inheritance/nesteddiscriminator/models/Shark.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

use nullable of element type for enum, in case the enum itself is optional
  javagen/src/main/java/com/azure/autorest/model/clientmodel/EnumType.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

enable failed test
  typespec-tests/src/test/java/com/type/property/optional/FloatLiteralClientTests.java
  typespec-tests/src/test/java/com/type/property/optional/IntLiteralClientTests.java
  typespec-tests/src/test/java/com/type/property/optional/UnionFloatLiteralClientTests.java
  typespec-tests/src/test/java/com/type/property/optional/UnionIntLiteralClientTests.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

Update TypeSpecPlugin.java
  typespec-extension/src/main/java/com/azure/autorest/TypeSpecPlugin.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

Update changelog.md
  typespec-extension/changelog.md
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

regen
  typespec-tests/src/main/java/com/cadl/enumservice/models/Operation.java
  typespec-tests/src/main/java/com/type/property/optional/models/FloatLiteralProperty.java
  typespec-tests/src/main/java/com/type/property/optional/models/IntLiteralProperty.java
  typespec-tests/src/main/java/com/type/property/optional/models/UnionFloatLiteralProperty.java
  typespec-tests/src/main/java/com/type/property/optional/models/UnionIntLiteralProperty.java
  typespec-tests/src/main/java/com/type/property/valuetypes/models/UnionFloatLiteralProperty.java
  typespec-tests/src/main/java/com/type/property/valuetypes/models/UnionIntLiteralProperty.java
  typespec-tests/src/main/java/com/type/union/models/GetResponse3.java
  typespec-tests/src/main/java/com/type/union/models/GetResponse4.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

sync sdk version
  azure-dataplane-tests/pom.xml
  azure-tests/pom.xml
  customization-base/src/main/resources/pom.xml
  customization-tests/pom.xml
  eng/versioning/external_dependencies.txt
  fluent-tests/pom.xml
  fluentnamer/pom.xml
  javagen/src/main/java/com/azure/autorest/model/projectmodel/Project.java
  pom.xml
  protocol-sdk-integration-tests/eng/versioning/version_client.txt
  protocol-tests/pom.xml
  typespec-tests/pom.xml
  vanilla-tests/pom.xml
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

support BigDecimal
  javagen/src/main/java/com/azure/autorest/model/clientmodel/ClassType.java
  javagen/src/main/java/com/azure/autorest/template/ConvenienceMethodTemplateBase.java
  typespec-extension/src/code-model-builder.ts
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

Add test cases for tsp, cadl-ranch Type/Property/AdditionalProperties && Type/Property/ValueTypes
  typespec-tests/src/test/java/com/type/property/additionalproperties/ExtendsTests.java
  typespec-tests/src/test/java/com/type/property/additionalproperties/IsFloatClientTest.java
  typespec-tests/src/test/java/com/type/property/additionalproperties/IsModelArrayClientTest.java
  typespec-tests/src/test/java/com/type/property/additionalproperties/IsModelClientTest.java
  typespec-tests/src/test/java/com/type/property/additionalproperties/IsStringClientTest.java
  typespec-tests/src/test/java/com/type/property/additionalproperties/IsUnknownClientTest.java
  typespec-tests/src/test/java/com/type/property/valuetypes/LiteralTests.java
  typespec-tests/src/test/java/com/type/property/valuetypes/UnionTests.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

regen
  typespec-tests/src/main/java/com/cadl/builtin/BuiltinAsyncClient.java
  typespec-tests/src/main/java/com/cadl/builtin/BuiltinClient.java
  typespec-tests/src/main/java/com/cadl/builtin/implementation/BuiltinClientImpl.java
  typespec-tests/src/main/java/com/cadl/builtin/models/Builtin.java
  typespec-tests/src/main/java/com/type/property/valuetypes/Decimal128AsyncClient.java
  typespec-tests/src/main/java/com/type/property/valuetypes/Decimal128Client.java
  typespec-tests/src/main/java/com/type/property/valuetypes/DecimalAsyncClient.java
  typespec-tests/src/main/java/com/type/property/valuetypes/DecimalClient.java
  typespec-tests/src/main/java/com/type/property/valuetypes/implementation/Decimal128sImpl.java
  typespec-tests/src/main/java/com/type/property/valuetypes/implementation/DecimalsImpl.java
  typespec-tests/src/main/java/com/type/property/valuetypes/models/Decimal128Property.java
  typespec-tests/src/main/java/com/type/property/valuetypes/models/DecimalProperty.java
  typespec-tests/src/main/java/com/type/scalar/Decimal128TypeAsyncClient.java
  typespec-tests/src/main/java/com/type/scalar/Decimal128TypeClient.java
  typespec-tests/src/main/java/com/type/scalar/Decimal128VerifyAsyncClient.java
  typespec-tests/src/main/java/com/type/scalar/Decimal128VerifyClient.java
  typespec-tests/src/main/java/com/type/scalar/DecimalTypeAsyncClient.java
  typespec-tests/src/main/java/com/type/scalar/DecimalTypeClient.java
  typespec-tests/src/main/java/com/type/scalar/DecimalVerifyAsyncClient.java
  typespec-tests/src/main/java/com/type/scalar/DecimalVerifyClient.java
  typespec-tests/src/main/java/com/type/scalar/implementation/Decimal128TypesImpl.java
  typespec-tests/src/main/java/com/type/scalar/implementation/Decimal128VerifiesImpl.java
  typespec-tests/src/main/java/com/type/scalar/implementation/DecimalTypesImpl.java
  typespec-tests/src/main/java/com/type/scalar/implementation/DecimalVerifiesImpl.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

Add test cases for tsp, cadl-ranch Type/Property/AdditionalProperties && Type/Property/ValueTypes (#2445)
  typespec-tests/src/test/java/com/type/property/additionalproperties/ExtendsTests.java
  typespec-tests/src/test/java/com/type/property/additionalproperties/IsFloatClientTest.java
  typespec-tests/src/test/java/com/type/property/additionalproperties/IsModelArrayClientTest.java
  typespec-tests/src/test/java/com/type/property/additionalproperties/IsModelClientTest.java
  typespec-tests/src/test/java/com/type/property/additionalproperties/IsStringClientTest.java
  typespec-tests/src/test/java/com/type/property/additionalproperties/IsUnknownClientTest.java
  typespec-tests/src/test/java/com/type/property/valuetypes/LiteralTests.java
  typespec-tests/src/test/java/com/type/property/valuetypes/UnionTests.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

add test case
  typespec-tests/src/test/java/com/type/scalar/ScalarTests.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

add test
  typespec-tests/src/test/java/com/type/scalar/DecimalTests.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

add test for model via Jackson
  typespec-tests/src/test/java/com/type/scalar/DecimalTests.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

tsp, bug fix for stream-seralization in optional Enum (#2444)
  azure-dataplane-tests/pom.xml
  azure-tests/pom.xml
  customization-base/src/main/resources/pom.xml
  customization-tests/pom.xml
  eng/versioning/external_dependencies.txt
  fluent-tests/pom.xml
  fluentnamer/pom.xml
  javagen/src/main/java/com/azure/autorest/model/clientmodel/EnumType.java
  javagen/src/main/java/com/azure/autorest/model/projectmodel/Project.java
  pom.xml
  protocol-sdk-integration-tests/eng/versioning/version_client.txt
  protocol-tests/pom.xml
  typespec-tests/pom.xml
  typespec-tests/src/main/java/com/cadl/enumservice/models/Operation.java
  typespec-tests/src/main/java/com/type/property/optional/models/FloatLiteralProperty.java
  typespec-tests/src/main/java/com/type/property/optional/models/IntLiteralProperty.java
  typespec-tests/src/main/java/com/type/property/optional/models/UnionFloatLiteralProperty.java
  typespec-tests/src/main/java/com/type/property/optional/models/UnionIntLiteralProperty.java
  typespec-tests/src/main/java/com/type/property/valuetypes/models/UnionFloatLiteralProperty.java
  typespec-tests/src/main/java/com/type/property/valuetypes/models/UnionIntLiteralProperty.java
  typespec-tests/src/main/java/com/type/union/models/GetResponse3.java
  typespec-tests/src/main/java/com/type/union/models/GetResponse4.java
  typespec-tests/src/test/java/com/type/property/optional/FloatLiteralClientTests.java
  typespec-tests/src/test/java/com/type/property/optional/IntLiteralClientTests.java
  typespec-tests/src/test/java/com/type/property/optional/UnionFloatLiteralClientTests.java
  typespec-tests/src/test/java/com/type/property/optional/UnionIntLiteralClientTests.java
  vanilla-tests/pom.xml
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

Alan fixed the enum case
  typespec-tests/src/test/java/com/type/union/UnionsClientTest.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

use fromString
  typespec-tests/src/test/java/com/type/union/UnionsClientTest.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

re-generate test code
  typespec-tests/src/main/java/com/cadl/multipart/models/ImageType.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

Update test to do a better comparison
  typespec-tests/src/test/java/com/cadl/builtin/EncodeTests.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

tsp, support decimal (#2446)
  javagen/src/main/java/com/azure/autorest/model/clientmodel/ClassType.java
  javagen/src/main/java/com/azure/autorest/template/ConvenienceMethodTemplateBase.java
  typespec-extension/src/code-model-builder.ts
  typespec-tests/src/main/java/com/cadl/builtin/BuiltinAsyncClient.java
  typespec-tests/src/main/java/com/cadl/builtin/BuiltinClient.java
  typespec-tests/src/main/java/com/cadl/builtin/implementation/BuiltinClientImpl.java
  typespec-tests/src/main/java/com/cadl/builtin/models/Builtin.java
  typespec-tests/src/main/java/com/type/property/valuetypes/Decimal128AsyncClient.java
  typespec-tests/src/main/java/com/type/property/valuetypes/Decimal128Client.java
  typespec-tests/src/main/java/com/type/property/valuetypes/DecimalAsyncClient.java
  typespec-tests/src/main/java/com/type/property/valuetypes/DecimalClient.java
  typespec-tests/src/main/java/com/type/property/valuetypes/implementation/Decimal128sImpl.java
  typespec-tests/src/main/java/com/type/property/valuetypes/implementation/DecimalsImpl.java
  typespec-tests/src/main/java/com/type/property/valuetypes/models/Decimal128Property.java
  typespec-tests/src/main/java/com/type/property/valuetypes/models/DecimalProperty.java
  typespec-tests/src/main/java/com/type/scalar/Decimal128TypeAsyncClient.java
  typespec-tests/src/main/java/com/type/scalar/Decimal128TypeClient.java
  typespec-tests/src/main/java/com/type/scalar/Decimal128VerifyAsyncClient.java
  typespec-tests/src/main/java/com/type/scalar/Decimal128VerifyClient.java
  typespec-tests/src/main/java/com/type/scalar/DecimalTypeAsyncClient.java
  typespec-tests/src/main/java/com/type/scalar/DecimalTypeClient.java
  typespec-tests/src/main/java/com/type/scalar/DecimalVerifyAsyncClient.java
  typespec-tests/src/main/java/com/type/scalar/DecimalVerifyClient.java
  typespec-tests/src/main/java/com/type/scalar/implementation/Decimal128TypesImpl.java
  typespec-tests/src/main/java/com/type/scalar/implementation/Decimal128VerifiesImpl.java
  typespec-tests/src/main/java/com/type/scalar/implementation/DecimalTypesImpl.java
  typespec-tests/src/main/java/com/type/scalar/implementation/DecimalVerifiesImpl.java
  typespec-tests/src/test/java/com/type/scalar/DecimalTests.java
  typespec-tests/src/test/java/com/type/scalar/ScalarTests.java
  typespec-tests/src/test/java/com/type/union/UnionsClientTest.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

allow access(public) to get the pollingOperation back to public
  typespec-extension/changelog.md
  typespec-extension/src/code-model-builder.ts
  typespec-extension/src/models.ts
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

regen
  typespec-tests/package.json
  typespec-tests/src/main/java/com/_specs_/azure/core/lro/rpc/legacy/LegacyAsyncClient.java
  typespec-tests/src/main/java/com/_specs_/azure/core/lro/rpc/legacy/LegacyClient.java
  typespec-tests/src/main/java/com/_specs_/azure/core/lro/rpc/legacy/implementation/LegacyClientImpl.java
  typespec-tests/src/test/java/com/type/union/UnionsClientTest.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

test
  typespec-tests/src/test/java/com/encode/bytes/EncodeBytesTests.java
  typespec-tests/src/test/java/com/type/model/inheritance/RecursiveReferenceTests.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml
