Repository Azure/autorest.java: changes, and which Azure pipelines are due for each by the changed paths.
All: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

Path conditions:
  eng/pipelines/ci-cadl-java.yaml: any of: *, but not: fluent*, postprocessor, vanilla-tests, protocol*
  eng/pipelines/ci-typespec-java.yaml: any of: *, but not: androidgen, azure-dataplane-tests, azure-tests, fluent-tests, partial-update-tests, vanilla-tests, protocol*
  eng/pipelines/ci.yaml: any of: *, but not: fluent*, typespec*
  eng/pipelines/fluent_integration.yaml: any of: *, but not: typespec*

tsp, bug fix multiple content-type + json-patch+json (#2870)
  javagen/src/main/java/com/azure/autorest/mapper/ClientMethodMapper.java
  javagen/src/main/java/com/azure/autorest/mapper/ClientParameterMapper.java
  javagen/src/main/java/com/azure/autorest/mapper/CustomClientParameterMapper.java
  typespec-extension/changelog.md
  typespec-extension/package.json
  typespec-tests/package.json
  typespec-tests/src/main/java/com/cadl/multicontenttypes/MultipleContentTypesOnRequestAsyncClient.java
  typespec-tests/src/main/java/com/cadl/multicontenttypes/MultipleContentTypesOnRequestClient.java
  typespec-tests/src/main/java/com/cadl/multicontenttypes/implementation/MultipleContentTypesOnRequestsImpl.java
  typespec-tests/tsp/multiple-content-types.tsp
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

disable commit id update
  eng/sdk/sync_sdk.py
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

Finish replacing Jackson with azure-json
  androidgen/src/main/java/com/azure/autorest/android/Main.java
  extension-base/src/main/java/com/azure/autorest/extension/base/jsonrpc/Connection.java
  extension-base/src/main/java/com/azure/autorest/extension/base/plugin/JavaSettings.java
  extension-base/src/main/java/com/azure/autorest/extension/base/plugin/NewPlugin.java
  fluentgen/src/main/java/com/azure/autorest/fluent/Main.java
  fluentnamer/pom.xml
  javagen/pom.xml
  javagen/src/main/java/com/azure/autorest/Main.java
  javagen/src/main/java/com/azure/autorest/template/ModelTestTemplate.java
  postprocessor/src/main/java/com/azure/autorest/postprocessor/Postprocessor.java
  typespec-extension/pom.xml
  typespec-tests/src/main/resources/META-INF/native-image/com.azure.resourcemanager/azure-resourcemanager-armresourceprovider-generated/proxy-config.json
  typespec-tests/src/main/resources/META-INF/native-image/com.azure.resourcemanager/azure-resourcemanager-armresourceprovider-generated/reflect-config.json
  typespec-tests/src/main/resources/META-INF/native-image/com.azure.resourcemanager/azure-resourcemanager-armstreamstyleserialization-generated/proxy-config.json
  typespec-tests/src/main/resources/META-INF/native-image/com.azure.resourcemanager/azure-resourcemanager-armstreamstyleserialization-generated/reflect-config.json
  typespec-tests/src/main/resources/META-INF/native-image/com.azure.resourcemanager/azure-resourcemanager-models-commontypes-managedidentity/proxy-config.json
  typespec-tests/src/main/resources/META-INF/native-image/com.azure.resourcemanager/azure-resourcemanager-models-commontypes-managedidentity/reflect-config.json
  typespec-tests/src/main/resources/META-INF/native-image/com.azure.resourcemanager/azure-resourcemanager-models-resources/proxy-config.json
  typespec-tests/src/main/resources/META-INF/native-image/com.azure.resourcemanager/azure-resourcemanager-models-resources/reflect-config.json
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

Fix tests
  fluentgen/pom.xml
Due: eng/pipelines/ci-typespec-java.yaml, eng/pipelines/fluent_integration.yaml

Additional fixes
  extension-base/src/main/java/com/azure/autorest/extension/base/plugin/JavaSettings.java
  fluentgen/src/main/java/com/azure/autorest/fluent/template/FluentMethodMockTestTemplate.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

handle hierarchical client name
  typespec-extension/src/code-model-builder.ts
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

regen
  typespec-tests/src/main/java/com/client/structure/service/implementation/BarsImpl.java
  typespec-tests/src/main/java/com/client/structure/service/implementation/BazFoosImpl.java
  typespec-tests/src/main/java/com/client/structure/service/implementation/ClientAClientImpl.java
  typespec-tests/src/main/java/com/client/structure/service/implementation/ClientBClientImpl.java
  typespec-tests/src/main/java/com/client/structure/service/implementation/FoosImpl.java
  typespec-tests/src/main/java/com/client/structure/service/implementation/Group1sImpl.java
  typespec-tests/src/main/java/com/client/structure/service/implementation/Group2sImpl.java
  typespec-tests/src/main/java/com/client/structure/service/implementation/GroupsImpl.java
  typespec-tests/src/main/java/com/client/structure/service/implementation/QuxBarsImpl.java
  typespec-tests/src/main/java/com/client/structure/service/implementation/QuxesImpl.java
  typespec-tests/src/main/java/com/client/structure/service/implementation/RenamedOperationClientImpl.java
  typespec-tests/src/main/java/com/client/structure/service/implementation/ServiceClientClientImpl.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

tsp, move createSdkContext to async func
  typespec-extension/src/code-model-builder.ts
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

introduce ManagementError and AdditionalInfo models
  fluentgen/src/main/java/com/azure/autorest/fluent/mapper/FluentObjectMapper.java
  fluentgen/src/main/java/com/azure/autorest/fluent/model/arm/ErrorClientModel.java
  fluentgen/src/main/java/com/azure/autorest/fluent/util/FluentUtils.java
  fluentnamer/src/main/java/com/azure/autorest/fluent/model/FluentType.java
  typespec-tests/tsp/arm-stream-style-serialization.tsp
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/fluent_integration.yaml

deserialization adaption
  fluentgen/src/main/java/com/azure/autorest/fluent/model/arm/ErrorClientModel.java
  fluentgen/src/main/java/com/azure/autorest/fluent/template/FluentStreamStyleSerializationModelTemplate.java
  javagen/src/main/java/com/azure/autorest/template/StreamSerializationModelTemplate.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

deserialization fix on duplicate fields
  javagen/src/main/java/com/azure/autorest/template/StreamSerializationModelTemplate.java
  typespec-tests/tsp/arm-stream-style-serialization.tsp
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

enable sss for appservice
  fluent-tests/Initialize-Tests.ps1
Due: eng/pipelines/fluent_integration.yaml

re-generate test code
  typespec-tests/src/main/java/com/cadl/armstreamstyleserialization/fluent/FishesClient.java
  typespec-tests/src/main/java/com/cadl/armstreamstyleserialization/implementation/FishesClientImpl.java
  typespec-tests/src/main/java/com/cadl/armstreamstyleserialization/models/Error.java
  typespec-tests/src/main/java/com/cadl/armstreamstyleserialization/models/ErrorException.java
  typespec-tests/src/main/java/com/cadl/armstreamstyleserialization/models/ErrorMin.java
  typespec-tests/src/main/java/com/cadl/armstreamstyleserialization/models/ErrorMinException.java
  typespec-tests/src/main/java/com/cadl/armstreamstyleserialization/models/Fishes.java
  typespec-tests/src/main/java/com/cadl/armstreamstyleserialization/models/SawShark.java
  typespec-tests/src/main/resources/META-INF/native-image/com.azure.resourcemanager/azure-resourcemanager-armstreamstyleserialization-generated/reflect-config.json
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

bump java dependencies
  azure-dataplane-tests/pom.xml
  azure-tests/pom.xml
  customization-base/src/main/resources/pom.xml
  customization-tests/pom.xml
  fluent-tests/pom.xml
  fluentnamer/pom.xml
  javagen/src/main/java/com/azure/autorest/model/projectmodel/Project.java
  pom.xml
  protocol-sdk-integration-tests/eng/versioning/version_client.txt
  protocol-tests/pom.xml
  typespec-tests/pom.xml
  vanilla-tests/pom.xml
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

tsp, move createSdkContext to async func (#2875)
  azure-dataplane-tests/pom.xml
  azure-tests/pom.xml
  customization-base/src/main/resources/pom.xml
  customization-tests/pom.xml
  fluent-tests/pom.xml
  fluentnamer/pom.xml
  javagen/src/main/java/com/azure/autorest/model/projectmodel/Project.java
  pom.xml
  protocol-sdk-integration-tests/eng/versioning/version_client.txt
  protocol-tests/pom.xml
  typespec-extension/src/code-model-builder.ts
  typespec-tests/pom.xml
  vanilla-tests/pom.xml
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

add sss test
  typespec-tests/src/test/java/com/cadl/armstreamstyleserialization/StreamStyleSerializationTests.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

format
  typespec-tests/tsp/arm-stream-style-serialization.tsp
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

add handling in codegen to use response.description
  javagen/src/main/java/com/azure/autorest/mapper/ClientMethodMapper.java
  typespec-tests/tsp/response.tsp
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

fix generated code
  javagen/src/main/java/com/azure/autorest/template/StreamSerializationModelTemplate.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

regen typespec
  typespec-tests/src/main/java/com/cadl/armstreamstyleserialization/models/Error.java
  typespec-tests/src/main/java/com/cadl/armstreamstyleserialization/models/ErrorMin.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

address comment
  fluentgen/src/main/java/com/azure/autorest/fluent/template/FluentModelTemplate.java
  fluentgen/src/main/java/com/azure/autorest/fluent/util/FluentUtils.java
Due: eng/pipelines/ci-typespec-java.yaml, eng/pipelines/fluent_integration.yaml

test
  fluent-tests/swagger/stream-style-serialization.json
Due: eng/pipelines/fluent_integration.yaml

fix
  fluentgen/src/main/java/com/azure/autorest/fluent/template/FluentClientMethodTemplate.java
  javagen/src/main/java/com/azure/autorest/model/clientmodel/ClientMethod.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

upgrade dependency
  typespec-extension/package-lock.json
  typespec-extension/package.json
  typespec-tests/package.json
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

add changelog
  typespec-extension/changelog.md
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

integrate with tcgc 0.44.2
  typespec-extension/src/code-model-builder.ts
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

update typespec-tests/package.json
  typespec-tests/package.json
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

format
  typespec-extension/src/code-model-builder.ts
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

add class initialization
  fluent-tests/src/test/java/com/azure/mgmttest/LiteCompilationTests.java
Due: eng/pipelines/fluent_integration.yaml

tsp, upgrade TCGC version to 0.44.2 (#2880)
  typespec-extension/changelog.md
  typespec-extension/package-lock.json
  typespec-extension/package.json
  typespec-extension/src/code-model-builder.ts
  typespec-tests/package.json
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

azure-json mgmt, fix pageable lro (#2879)
  fluent-tests/src/test/java/com/azure/mgmttest/LiteCompilationTests.java
  fluent-tests/swagger/stream-style-serialization.json
  fluentgen/src/main/java/com/azure/autorest/fluent/template/FluentClientMethodTemplate.java
  javagen/src/main/java/com/azure/autorest/model/clientmodel/ClientMethod.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

azure-json, fix deserialization bug on ManagementError subclasses (#2876)
  fluent-tests/Initialize-Tests.ps1
  fluentgen/src/main/java/com/azure/autorest/fluent/mapper/FluentObjectMapper.java
  fluentgen/src/main/java/com/azure/autorest/fluent/model/arm/ErrorClientModel.java
  fluentgen/src/main/java/com/azure/autorest/fluent/template/FluentModelTemplate.java
  fluentgen/src/main/java/com/azure/autorest/fluent/template/FluentStreamStyleSerializationModelTemplate.java
  fluentgen/src/main/java/com/azure/autorest/fluent/util/FluentUtils.java
  fluentnamer/src/main/java/com/azure/autorest/fluent/model/FluentType.java
  javagen/src/main/java/com/azure/autorest/template/StreamSerializationModelTemplate.java
  typespec-tests/src/main/java/com/cadl/armstreamstyleserialization/fluent/FishesClient.java
  typespec-tests/src/main/java/com/cadl/armstreamstyleserialization/implementation/FishesClientImpl.java
  typespec-tests/src/main/java/com/cadl/armstreamstyleserialization/models/Error.java
  typespec-tests/src/main/java/com/cadl/armstreamstyleserialization/models/ErrorException.java
  typespec-tests/src/main/java/com/cadl/armstreamstyleserialization/models/ErrorMin.java
  typespec-tests/src/main/java/com/cadl/armstreamstyleserialization/models/ErrorMinException.java
  typespec-tests/src/main/java/com/cadl/armstreamstyleserialization/models/Fishes.java
  typespec-tests/src/main/java/com/cadl/armstreamstyleserialization/models/SawShark.java
  typespec-tests/src/main/resources/META-INF/native-image/com.azure.resourcemanager/azure-resourcemanager-armstreamstyleserialization-generated/reflect-config.json
  typespec-tests/src/test/java/com/cadl/armstreamstyleserialization/StreamStyleSerializationTests.java
  typespec-tests/tsp/arm-stream-style-serialization.tsp
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

use details
  typespec-extension/src/code-model-builder.ts
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

remove isMulti from processMultipartFormDataFilePropertySchemaFromSdkType
  typespec-extension/src/code-model-builder.ts
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

basic support for File case
  typespec-extension/src/code-model-builder.ts
  typespec-extension/src/common/client.ts
  typespec-extension/src/common/operation.ts
  typespec-extension/src/external-schemas.ts
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

test cases
  typespec-tests/tsp/multipart.tsp
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

re-generate test code
  typespec-tests/src/main/java/com/cadl/multipart/MultipartAsyncClient.java
  typespec-tests/src/main/java/com/cadl/multipart/MultipartClient.java
  typespec-tests/src/main/java/com/cadl/multipart/implementation/MultipartClientImpl.java
  typespec-tests/src/main/java/com/cadl/multipart/models/FileDataFileDetails.java
  typespec-tests/src/main/java/com/cadl/multipart/models/FormData.java
  typespec-tests/src/main/java/com/cadl/multipart/models/Inherit2FileDetails.java
  typespec-tests/src/main/java/com/cadl/multipart/models/UploadHttpPartRequest.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

inline comment
  typespec-extension/src/external-schemas.ts
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml
