Repository Azure/autorest.java: changes, and which Azure pipelines are due for each by the changed paths.
All: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

Path conditions:
  eng/pipelines/ci-cadl-java.yaml: any of: *, but not: fluent*, postprocessor, vanilla-tests, protocol*
  eng/pipelines/ci-typespec-java.yaml: any of: *, but not: androidgen, azure-dataplane-tests, azure-tests, fluent-tests, partial-update-tests, vanilla-tests, protocol*
  eng/pipelines/ci.yaml: any of: *, but not: fluent*, typespec*
  eng/pipelines/fluent_integration.yaml: any of: *, but not: typespec*

update version 0.29.0
  typespec-extension/changelog.md
  typespec-extension/package-lock.json
  typespec-extension/package.json
  typespec-extension/readme.md
  typespec-tests/package.json
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

fix
  typespec-tests/package.json
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

re-generate test code
  vanilla-tests/src/main/java/fixtures/mediatypes/MediaTypesClient.java
  vanilla-tests/src/main/java/fixtures/requiredoptional/Explicits.java
  vanilla-tests/src/main/java/fixtures/requiredoptional/Implicits.java
Due: eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

bump core
  typespec-tests/package.json
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

update a few emitter optoins
  typespec-extension/src/options.ts
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

bump commit
  eng/sdk/sync_sdk.py
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

Revert "re-generate test code"
  vanilla-tests/src/main/java/fixtures/mediatypes/MediaTypesClient.java
  vanilla-tests/src/main/java/fixtures/requiredoptional/Explicits.java
  vanilla-tests/src/main/java/fixtures/requiredoptional/Implicits.java
Due: eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

temporary skip codegen in autorest
  eng/pipelines/ci.yaml
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

fix
  eng/pipelines/ci.yaml
  typespec-extension/changelog.md
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

add azure-health-insights-radiologyinsights to skip list
  eng/sdk/sync_sdk.py
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

filter modules
  eng/sdk/sync_sdk.py
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

update commit
  eng/sdk/sync_sdk.py
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

eng, sync upgrade rc, prepare release 0.29.0 (#3060)
  eng/pipelines/ci.yaml
  eng/sdk/sync_sdk.py
  typespec-extension/changelog.md
  typespec-extension/package-lock.json
  typespec-extension/package.json
  typespec-extension/readme.md
  typespec-extension/src/options.ts
  typespec-tests/package.json
  typespec-tests/src/main/java/tsptest/armresourceprovider/implementation/ArmResourceProviderClientImpl.java
  typespec-tests/src/main/java/tsptest/armresourceprovider/implementation/ChildExtensionResourceInterfacesClientImpl.java
  typespec-tests/src/main/java/tsptest/armresourceprovider/implementation/ChildResourcesInterfacesClientImpl.java
  typespec-tests/src/main/java/tsptest/armresourceprovider/implementation/CustomTemplateResourceInterfacesClientImpl.java
  typespec-tests/src/main/java/tsptest/armresourceprovider/implementation/ManagedMaintenanceWindowStatusOperationsClientImpl.java
  typespec-tests/src/main/java/tsptest/armresourceprovider/implementation/ModelInterfaceSameNamesClientImpl.java
  typespec-tests/src/main/java/tsptest/armresourceprovider/implementation/OperationsClientImpl.java
  typespec-tests/src/main/java/tsptest/armresourceprovider/implementation/TopLevelArmResourceInterfacesClientImpl.java
  typespec-tests/src/main/java/tsptest/multipart/MultipartAsyncClient.java
  typespec-tests/src/main/java/tsptest/multipart/MultipartClient.java
  typespec-tests/src/main/java/tsptest/multipart/models/FileDetails.java
  typespec-tests/src/main/java/tsptest/multipart/models/UploadHttpPartRequest.java
  typespec-tests/src/test/java/encode/bytes/EncodeBytesTests.java
  typespec-tests/tsp/multipart.tsp
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

re-generate test code
  azure-dataplane-tests/src/main/java/com/azure/containers/containerregistry/implementation/ContainerRegistryBlobsImpl.java
  azure-dataplane-tests/src/main/java/com/azure/data/schemaregistry/implementation/SchemasImpl.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

revert of skip diff
  eng/pipelines/ci.yaml
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

Fix typo in git diff command
  eng/pipelines/ci.yaml
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

eng, revert skip diff (#3064)
  eng/pipelines/ci.yaml
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

re-generate test code
  azure-dataplane-tests/src/main/java/com/azure/ai/formrecognizer/documentanalysis/implementation/DocumentModelsImpl.java
  azure-dataplane-tests/src/main/java/com/azure/containers/containerregistry/implementation/ContainerRegistriesImpl.java
  azure-dataplane-tests/src/main/java/com/azure/containers/containerregistry/implementation/ContainerRegistryBlobsImpl.java
  azure-dataplane-tests/src/main/java/com/azure/data/schemaregistry/implementation/SchemasImpl.java
  vanilla-tests/src/main/java/fixtures/binaryrequestresponse/Binaries.java
  vanilla-tests/src/main/java/fixtures/binaryrequestresponsesync/Binaries.java
  vanilla-tests/src/main/java/fixtures/mediatypes/MediaTypesClient.java
  vanilla-tests/src/main/java/fixtures/requiredoptional/Explicits.java
  vanilla-tests/src/main/java/fixtures/requiredoptional/Implicits.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

remove buggy test
  Generate.ps1
  vanilla-tests/src/main/java/fixtures/binaryrequestresponse/Binaries.java
  vanilla-tests/src/main/java/fixtures/binaryrequestresponse/BinariesClient.java
  vanilla-tests/src/main/java/fixtures/binaryrequestresponse/BinariesClientBuilder.java
  vanilla-tests/src/main/java/fixtures/binaryrequestresponse/package-info.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

re-generate test code
  vanilla-tests/src/main/java/fixtures/binaryrequestresponsesync/Binaries.java
Due: eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

sync tests
  typespec-tests/src/main/java/tsptest/namespaceclient/NamespaceAsyncClient.java
  typespec-tests/src/main/java/tsptest/namespaceclient/NamespaceClient.java
  typespec-tests/src/main/java/tsptest/namespaceclient/NamespaceClientBuilder.java
  typespec-tests/src/main/java/tsptest/namespaceclient/implementation/NamespaceClientImpl.java
  typespec-tests/src/main/java/tsptest/namespaceclient/implementation/package-info.java
  typespec-tests/src/main/java/tsptest/namespaceclient/package-info.java
  typespec-tests/src/main/java/tsptest/namespacemodel/models/Model.java
  typespec-tests/src/main/java/tsptest/namespacemodel/models/package-info.java
  typespec-tests/src/main/resources/tsptest-namespaceclient.properties
  typespec-tests/tsp/namespace.tsp
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

mgmt, sync PR to replace Flux<ByteBuffer> with BinaryData (#3059)
  Generate.ps1
  fluent-tests/swagger/sync-stack.json
  typespec-tests/src/main/java/tsptest/namespaceclient/NamespaceAsyncClient.java
  typespec-tests/src/main/java/tsptest/namespaceclient/NamespaceClient.java
  typespec-tests/src/main/java/tsptest/namespaceclient/NamespaceClientBuilder.java
  typespec-tests/src/main/java/tsptest/namespaceclient/implementation/NamespaceClientImpl.java
  typespec-tests/src/main/java/tsptest/namespaceclient/implementation/package-info.java
  typespec-tests/src/main/java/tsptest/namespaceclient/package-info.java
  typespec-tests/src/main/java/tsptest/namespacemodel/models/Model.java
  typespec-tests/src/main/java/tsptest/namespacemodel/models/package-info.java
  typespec-tests/src/main/resources/tsptest-namespaceclient.properties
  typespec-tests/tsp/namespace.tsp
  vanilla-tests/src/main/java/fixtures/binaryrequestresponsesync/Binaries.java
  vanilla-tests/src/main/java/fixtures/binaryrequestresponsesync/BinariesClient.java
  vanilla-tests/src/main/java/fixtures/binaryrequestresponsesync/BinariesClientBuilder.java
  vanilla-tests/src/main/java/fixtures/binaryrequestresponsesync/package-info.java
  vanilla-tests/src/test/java/fixtures/mediatypes/MediaTypesTests.java
  vanilla-tests/swagger/binary-request-response.json
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml
