Repository Azure/autorest.java: changes, and which Azure pipelines are due for each by the changed paths.
All: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

Path conditions:
  eng/pipelines/ci-cadl-java.yaml: any of: *, but not: fluent*, postprocessor, vanilla-tests, protocol*
  eng/pipelines/ci-typespec-java.yaml: any of: *, but not: androidgen, azure-dataplane-tests, azure-tests, fluent-tests, partial-update-tests, vanilla-tests, protocol*
  eng/pipelines/ci.yaml: any of: *, but not: fluent*, typespec*
  eng/pipelines/fluent_integration.yaml: any of: *, but not: typespec*

format
  typespec-extension/src/code-model-builder.ts
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

update comment
  typespec-extension/src/common/schemas/usage.ts
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

use includes, improve comment
  typespec-extension/src/code-model-builder.ts
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

bump to 0.20.1
  typespec-extension/changelog.md
  typespec-extension/package-lock.json
  typespec-extension/package.json
  typespec-tests/package.json
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

add microsoft/typespec as submodule
  .gitmodules
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

ci
  .gitignore
  Generate-TypeSpec.ps1
  eng/pipelines/ci-typespec-java.yaml
  pom.xml
  typespec-extension/package.json
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

include customization lib
  pom.xml
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

apply diff
  Generate-TypeSpec.ps1
  core.diff
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

update core
  Generate-TypeSpec.ps1
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

fix
  Generate-TypeSpec.ps1
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

build JAR in script
  Generate-TypeSpec.ps1
  eng/pipelines/ci-typespec-java.yaml
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

tsp, pin cadl-ranch-expect
  typespec-extension/src/code-model-builder.ts
  typespec-tests/package.json
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

fix
  Generate-TypeSpec.ps1
  typespec-tests/package.json
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

print
  Generate-TypeSpec.ps1
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

test
  Generate-TypeSpec.ps1
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

tsp, pin cadl-ranch-expect (#2941)
  typespec-extension/src/code-model-builder.ts
  typespec-tests/package.json
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

update script
  Build-TypeSpec.ps1
  Generate-TypeSpec.ps1
  eng/pipelines/post-publish-sdk.yaml
  eng/pipelines/publish-typespec-java.yaml
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

do not run diff
  eng/pipelines/ci-typespec-java.yaml
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

update core, update ci
  core.diff
  eng/pipelines/ci.yaml
  eng/pipelines/fluent_integration.yaml
  fluentgen/src/test/java/com/microsoft/typespec/http/client/generator/mgmt/model/projectmodel/ChangelogTests.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

fix patch
  Build-TypeSpec.ps1
  eng/pipelines/ci.yaml
  eng/pipelines/fluent_integration.yaml
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

extension-base module
  Build-TypeSpec.ps1
  pom.xml
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

ignore format in com.microsoft.typespec
  checkstyle-suppressions.xml
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

skip coverage check
  fluentgen/pom.xml
Due: eng/pipelines/ci-typespec-java.yaml, eng/pipelines/fluent_integration.yaml

fix test
  fluentgen/src/test/java/com/microsoft/typespec/http/client/generator/core/extension/plugin/TestYamlPropertyBean.java
  fluentgen/src/test/java/com/microsoft/typespec/http/client/generator/core/extension/plugin/YamlPropertyTest.java
  fluentgen/src/test/java/com/microsoft/typespec/http/client/generator/mgmt/util/TypeConversionUtilsTests.java
Due: eng/pipelines/ci-typespec-java.yaml, eng/pipelines/fluent_integration.yaml

refine pom
  javagen/pom.xml
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

add missed resources
  eng/pipelines/ci-typespec-java-dev-nightly.yaml
  eng/pipelines/publish-autorest-java.yaml
  fluentgen/src/main/resources/readme/eclipse-format-azure-sdk-for-java.xml
  fluentgen/src/main/resources/readme/pom.xml
  fluentgen/src/main/resources/simplelogger.properties
  javagen/src/main/resources/readme/eclipse-format-azure-sdk-for-java.xml
  javagen/src/main/resources/readme/pom.xml
  javagen/src/main/resources/simplelogger.properties
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

fix resources
  fluentgen/src/main/resources/readme/pom.xml
  javagen/src/main/resources/readme/pom.xml
  typespec-tests/package.json
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

diff ignore submodules
  eng/pipelines/ci.yaml
  javagen/src/main/resources/data-plane.md
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

bump version
  package-lock.json
  package.json
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

bump version (#2942)
  package-lock.json
  package.json
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

remove PartialUpdateHandler, use that from typespec
  javagen/pom.xml
  partial-update/pom.xml
  partial-update/src/main/java/com/azure/autorest/partialupdate/util/PartialUpdateHandler.java
  partial-update/src/test/java/com/azure/autorest/partialupdate/util/PartialUpdateHandlerTest.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

Fix case where property is defined in two different ways
  javagen/src/main/java/com/azure/autorest/implementation/ClientModelPropertiesManager.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

Add TSP for testing
  typespec-tests/src/main/java/com/cadl/discriminatoredgecases/DiscriminatorEdgeCasesAsyncClient.java
  typespec-tests/src/main/java/com/cadl/discriminatoredgecases/DiscriminatorEdgeCasesClient.java
  typespec-tests/src/main/java/com/cadl/discriminatoredgecases/DiscriminatorEdgeCasesClientBuilder.java
  typespec-tests/src/main/java/com/cadl/discriminatoredgecases/implementation/DiscriminatorEdgeCasesClientImpl.java
  typespec-tests/src/main/java/com/cadl/discriminatoredgecases/implementation/package-info.java
  typespec-tests/src/main/java/com/cadl/discriminatoredgecases/models/ChildWithAnotherDiscriminator.java
  typespec-tests/src/main/java/com/cadl/discriminatoredgecases/models/ChildWithRequiredPropertyAsDiscriminator.java
  typespec-tests/src/main/java/com/cadl/discriminatoredgecases/models/GrandChildWithAnotherDiscriminator.java
  typespec-tests/src/main/java/com/cadl/discriminatoredgecases/models/GrandChildWithRequiredProperty.java
  typespec-tests/src/main/java/com/cadl/discriminatoredgecases/models/ParentWithRequiredProperty.java
  typespec-tests/src/main/java/com/cadl/discriminatoredgecases/models/package-info.java
  typespec-tests/src/main/java/com/cadl/discriminatoredgecases/package-info.java
  typespec-tests/src/main/resources/cadl-discriminatoredgecases.properties
  typespec-tests/src/test/java/com/cadl/discriminatoredgecases/generated/DiscriminatorEdgeCasesClientTestBase.java
  typespec-tests/tsp/discriminator-edge-cases.tsp
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml
