Repository Azure/autorest.java: changes, and which Azure pipelines are due for each by the changed paths.
All: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

eng/pipelines/ci-cadl-java.yaml:
  jobs:
  - job: Build
    timeoutInMinutes: 30
    variables:
      JavaVersion: 1.8
      NodeVersion: 18.x
      isMain: $[eq(variables['Build.SourceBranch'], 'refs/heads/main')]
    pool:
      name: azsdk-pool-mms-ubuntu-2004-general
      vmImage: MMSUbuntu20.04
    steps:
    - task: NodeTool@0
  ...

eng/pipelines/ci-typespec-java.yaml:
  jobs:
  - job: Build
    timeoutInMinutes: 30
    variables:
    - template: /eng/pipelines/variables/globals.yml
    - name: isMain
      value: $[eq(variables['Build.SourceBranch'], 'refs/heads/main')]
    pool:
      name: azsdk-pool-mms-ubuntu-2004-general
      vmImage: MMSUbuntu20.04
    steps:
  ...

eng/pipelines/ci.yaml:
  jobs:
  - job: Build
    timeoutInMinutes: 60
    variables:
      JavaVersion: 1.11
      NodeVersion: 18.x
    pool:
      name: azsdk-pool-mms-ubuntu-2004-general
      vmImage: MMSUbuntu20.04
    steps:
    - task: NodeTool@0
      displayName: Install Node.js $(NodeVersion)
      inputs:
  ...

eng/pipelines/fluent_integration.yaml:
  jobs:
  - job: Build
    timeoutInMinutes: 60
    pool:
      name: azsdk-pool-mms-ubuntu-2004-general
      vmImage: MMSUbuntu20.04
    variables:
    - template: /eng/pipelines/variables/globals.yml
    steps:
    - task: NodeTool@0
      inputs:
        versionSpec: $(NodeVersion)
    - script: npm install autorest -g
  ...

bump core
  fluentgen/src/main/java/com/azure/autorest/fluent/provisioning/ProvisioningGen.java
Due: eng/pipelines/ci-typespec-java.yaml, eng/pipelines/fluent_integration.yaml

eng, sync core, bump clientcore beta.5 (#3029)
  azure-dataplane-tests/pom.xml
  azure-tests/pom.xml
  customization-base/src/main/resources/pom.xml
  customization-tests/pom.xml
  eng/versioning/external_dependencies.txt
  fluent-tests/pom.xml
  pom.xml
  protocol-sdk-integration-tests/eng/versioning/version_client.txt
  protocol-tests/pom.xml
  typespec-tests/pom.xml
  vanilla-tests/pom.xml
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

bump tcgc 0.51.3
  typespec-extension/package-lock.json
  typespec-extension/package.json
  typespec-tests/package.json
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

sync test
  typespec-tests/src/main/java/tsptest/armstreamstyleserialization/models/Priority.java
  typespec-tests/src/main/java/tsptest/enumservice/models/OlympicRecordModel.java
  typespec-tests/src/main/java/tsptest/enumservice/models/PriorityModel.java
  typespec-tests/src/main/java/tsptest/naming/models/RunObject.java
  typespec-tests/src/main/java/tsptest/naming/models/RunObjectLastError1.java
  typespec-tests/src/test/java/tsptest/armstreamstyleserialization/StreamStyleSerializationTests.java
  typespec-tests/tsp/arm-stream-style-serialization.tsp
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

update core
  typespec-tests/src/main/java/payload/pageable/PageableAsyncClient.java
  typespec-tests/src/main/java/payload/pageable/PageableClient.java
  typespec-tests/src/main/java/payload/pageable/PageableClientBuilder.java
  typespec-tests/src/main/java/payload/pageable/implementation/PageableClientImpl.java
  typespec-tests/src/test/java/payload/pageable/PageableTests.java
  typespec-tests/src/test/java/payload/pageable/generated/PageableClientTestBase.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

bump jar
  azure-dataplane-tests/pom.xml
  azure-tests/pom.xml
  customization-base/src/main/resources/pom.xml
  customization-tests/pom.xml
  fluent-tests/pom.xml
  pom.xml
  protocol-sdk-integration-tests/eng/versioning/version_client.txt
  protocol-tests/pom.xml
  typespec-tests/pom.xml
  vanilla-tests/pom.xml
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

bump npm
  typespec-tests/package.json
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

update core
  typespec-tests/src/main/java/payload/pageable/ServerDrivenPaginationAsyncClient.java
  typespec-tests/src/main/java/payload/pageable/ServerDrivenPaginationClient.java
  typespec-tests/src/main/java/payload/pageable/ServerDrivenPaginationContinuationTokenAsyncClient.java
  typespec-tests/src/main/java/payload/pageable/ServerDrivenPaginationContinuationTokenClient.java
  typespec-tests/src/main/java/payload/pageable/implementation/ServerDrivenPaginationContinuationTokensImpl.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

sync-stack
  fluent-tests/Initialize-Tests.ps1
Due: eng/pipelines/fluent_integration.yaml

fluent settings
  fluentgen/readme.md
Due: eng/pipelines/ci-typespec-java.yaml, eng/pipelines/fluent_integration.yaml

prepare 0.27.5
  azure-dataplane-tests/pom.xml
  azure-tests/pom.xml
  customization-base/src/main/resources/pom.xml
  customization-tests/pom.xml
  fluent-tests/pom.xml
  pom.xml
  protocol-sdk-integration-tests/eng/versioning/version_client.txt
  protocol-tests/pom.xml
  typespec-extension/package-lock.json
  typespec-extension/package.json
  typespec-tests/package.json
  typespec-tests/pom.xml
  typespec-tests/src/main/java/tsptest/armstreamstyleserialization/models/Priority.java
  typespec-tests/src/main/java/tsptest/enumservice/models/OlympicRecordModel.java
  typespec-tests/src/main/java/tsptest/enumservice/models/PriorityModel.java
  typespec-tests/src/main/java/tsptest/flatten/FlattenAsyncClient.java
  typespec-tests/src/main/java/tsptest/flatten/FlattenClient.java
  typespec-tests/src/main/java/tsptest/flatten/implementation/FlattenClientImpl.java
  typespec-tests/src/main/java/tsptest/naming/models/RunObject.java
  typespec-tests/src/main/java/tsptest/naming/models/RunObjectLastError.java
  typespec-tests/src/samples/java/tsptest/flatten/generated/FlattenOpSend.java
  typespec-tests/src/test/java/tsptest/armstreamstyleserialization/StreamStyleSerializationTests.java
  typespec-tests/src/test/java/tsptest/flatten/generated/FlattenOpSendTests.java
  typespec-tests/tsp/arm-stream-style-serialization.tsp
  typespec-tests/tsp/examples/2022-06-01-preview/FlattenOp_Send.json
  typespec-tests/tsp/flatten.tsp
  vanilla-tests/pom.xml
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

sync
  typespec-tests/src/test/java/tsptest/flatten/FlattenTests.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

changelog
  typespec-extension/changelog.md
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

missing file
  typespec-tests/src/main/java/tsptest/naming/models/RunObjectLastError1.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

eng, sync core and prepare release 0.27.5 (#3032)
  azure-dataplane-tests/pom.xml
  azure-tests/pom.xml
  customization-base/src/main/resources/pom.xml
  customization-tests/pom.xml
  fluent-tests/pom.xml
  pom.xml
  protocol-sdk-integration-tests/eng/versioning/version_client.txt
  protocol-tests/pom.xml
  typespec-extension/changelog.md
  typespec-extension/package-lock.json
  typespec-extension/package.json
  typespec-tests/package.json
  typespec-tests/pom.xml
  typespec-tests/src/main/java/tsptest/armstreamstyleserialization/models/Priority.java
  typespec-tests/src/main/java/tsptest/enumservice/models/OlympicRecordModel.java
  typespec-tests/src/main/java/tsptest/enumservice/models/PriorityModel.java
  typespec-tests/src/main/java/tsptest/flatten/FlattenAsyncClient.java
  typespec-tests/src/main/java/tsptest/flatten/FlattenClient.java
  typespec-tests/src/main/java/tsptest/flatten/implementation/FlattenClientImpl.java
  typespec-tests/src/main/java/tsptest/naming/models/RunObject.java
  typespec-tests/src/main/java/tsptest/naming/models/RunObjectLastError1.java
  typespec-tests/src/samples/java/tsptest/flatten/generated/FlattenOpSend.java
  typespec-tests/src/test/java/tsptest/armstreamstyleserialization/StreamStyleSerializationTests.java
  typespec-tests/src/test/java/tsptest/flatten/FlattenTests.java
  typespec-tests/src/test/java/tsptest/flatten/generated/FlattenOpSendTests.java
  typespec-tests/tsp/arm-stream-style-serialization.tsp
  typespec-tests/tsp/examples/2022-06-01-preview/FlattenOp_Send.json
  typespec-tests/tsp/flatten.tsp
  vanilla-tests/pom.xml
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

sync
  typespec-extension/changelog.md
  typespec-extension/package.json
  typespec-tests/package.json
  typespec-tests/src/main/java/tsptest/errormodel/ErrorModelAsyncClient.java
  typespec-tests/src/main/java/tsptest/errormodel/ErrorModelClient.java
  typespec-tests/src/main/java/tsptest/errormodel/implementation/ErrorOpsImpl.java
  typespec-tests/src/main/java/tsptest/errormodel/models/Diagnostic.java
  typespec-tests/src/main/java/tsptest/errormodel/models/InnerError.java
  typespec-tests/src/main/java/tsptest/errormodel/models/SubError.java
  typespec-tests/tsp/error.tsp
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

liftr-base 0.8
  typespec-extension/package-lock.json
  typespec-extension/package.json
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

update core
  typespec-tests/src/main/java/tsptest/flatten/FlattenAsyncClient.java
  typespec-tests/src/main/java/tsptest/flatten/FlattenClient.java
  typespec-tests/src/main/java/tsptest/flatten/implementation/FlattenClientImpl.java
  typespec-tests/src/samples/java/tsptest/flatten/generated/FlattenOpSend.java
  typespec-tests/src/test/java/tsptest/flatten/FlattenTests.java
  typespec-tests/src/test/java/tsptest/flatten/generated/FlattenOpSendTests.java
  typespec-tests/tsp/examples/2022-06-01-preview/FlattenOp_Send.json
  typespec-tests/tsp/flatten.tsp
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

eng, sync 6185 and prepare 0.27.6 (#3033)
  typespec-extension/changelog.md
  typespec-extension/package-lock.json
  typespec-extension/package.json
  typespec-tests/package.json
  typespec-tests/src/main/java/tsptest/errormodel/ErrorModelAsyncClient.java
  typespec-tests/src/main/java/tsptest/errormodel/ErrorModelClient.java
  typespec-tests/src/main/java/tsptest/errormodel/implementation/ErrorOpsImpl.java
  typespec-tests/src/main/java/tsptest/errormodel/models/Diagnostic.java
  typespec-tests/src/main/java/tsptest/errormodel/models/InnerError.java
  typespec-tests/src/main/java/tsptest/errormodel/models/SubError.java
  typespec-tests/tsp/error.tsp
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

use beta core
  fluent-tests/pom.xml
Due: eng/pipelines/fluent_integration.yaml

fix script
  fluent-tests/Initialize-Tests.ps1
Due: eng/pipelines/fluent_integration.yaml

client, fix nightly build
  typespec-extension/tsconfig.json
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

sync core
  typespec-tests/src/main/java/tsptest/flatten/FlattenAsyncClient.java
  typespec-tests/src/main/java/tsptest/flatten/FlattenClient.java
  typespec-tests/src/main/java/tsptest/flatten/implementation/FlattenClientImpl.java
  typespec-tests/src/main/java/tsptest/flatten/implementation/models/SendLongRequest.java
  typespec-tests/src/main/java/tsptest/flatten/models/SendLongOptions.java
  typespec-tests/tsp/flatten.tsp
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

client, fix nightly build (#3034)
  typespec-extension/tsconfig.json
  typespec-tests/src/main/java/tsptest/flatten/FlattenAsyncClient.java
  typespec-tests/src/main/java/tsptest/flatten/FlattenClient.java
  typespec-tests/src/main/java/tsptest/flatten/implementation/FlattenClientImpl.java
  typespec-tests/src/main/java/tsptest/flatten/implementation/models/SendLongRequest.java
  typespec-tests/src/main/java/tsptest/flatten/models/SendLongOptions.java
  typespec-tests/tsp/flatten.tsp
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

sync core
  typespec-tests/tsp/arm-stream-style-serialization.tsp
  typespec-tests/tsp/arm.tsp
  typespec-tests/tsp/builtin.tsp
  typespec-tests/tsp/discriminator-edge-cases.tsp
  typespec-tests/tsp/enum.tsp
  typespec-tests/tsp/error.tsp
  typespec-tests/tsp/flatten.tsp
  typespec-tests/tsp/internal.tsp
  typespec-tests/tsp/literal.tsp
  typespec-tests/tsp/lro.tsp
  typespec-tests/tsp/method-override.tsp
  typespec-tests/tsp/model.tsp
  typespec-tests/tsp/multipart.tsp
  typespec-tests/tsp/multiple-apiversion.tsp
  typespec-tests/tsp/multiple-content-types.tsp
  typespec-tests/tsp/naming.tsp
  typespec-tests/tsp/nested-enum-discriminator.tsp
  typespec-tests/tsp/optional.tsp
  typespec-tests/tsp/partialupdate.tsp
  typespec-tests/tsp/patch.tsp
  typespec-tests/tsp/protocol-api-convenient-api.tsp
  typespec-tests/tsp/response.tsp
  typespec-tests/tsp/server.tsp
  typespec-tests/tsp/special-chars.tsp
  typespec-tests/tsp/special-headers.tsp
  typespec-tests/tsp/union.tsp
  typespec-tests/tsp/versioning.tsp
  typespec-tests/tsp/visibility.tsp
  typespec-tests/tsp/wire-type.tsp
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

0.27.7
  typespec-extension/changelog.md
  typespec-extension/package-lock.json
  typespec-extension/package.json
  typespec-tests/package.json
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

bump npm
  typespec-extension/package-lock.json
  typespec-extension/package.json
  typespec-tests/package.json
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

readme
  typespec-extension/readme.md
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

Path conditions:
  eng/pipelines/ci-cadl-java.yaml: any of: *, but not: fluent*, postprocessor, vanilla-tests, protocol*
  eng/pipelines/ci-typespec-java.yaml: any of: *, but not: androidgen, azure-dataplane-tests, azure-tests, fluent-tests, partial-update-tests, vanilla-tests, protocol*
  eng/pipelines/ci.yaml: any of: *, but not: fluent*, typespec*
  eng/pipelines/fluent_integration.yaml: any of: *, but not: typespec*
