Repository Azure/autorest.java: changes, and which Azure pipelines are due for each by the changed paths.
All: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

Path conditions:
  eng/pipelines/ci-cadl-java.yaml: any of: *, but not: fluent*, postprocessor, vanilla-tests, protocol*
  eng/pipelines/ci-typespec-java.yaml: any of: *, but not: androidgen, azure-dataplane-tests, azure-tests, fluent-tests, partial-update-tests, vanilla-tests, protocol*
  eng/pipelines/ci.yaml: any of: *, but not: fluent*, typespec*
  eng/pipelines/fluent_integration.yaml: any of: *, but not: typespec*

bump specs
  typespec-tests/package.json
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

prepare 0.22.1
  typespec-extension/changelog.md
  typespec-extension/package-lock.json
  typespec-extension/package.json
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

eng, prepare release 0.22.1 (#2966)
  typespec-extension/changelog.md
  typespec-extension/package-lock.json
  typespec-extension/package.json
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

sync test
  typespec-tests/src/main/java/com/type/array/UnknownValueAsyncClient.java
  typespec-tests/src/main/java/com/type/array/UnknownValueClient.java
  typespec-tests/src/main/java/com/type/array/implementation/UnknownValuesImpl.java
  typespec-tests/src/main/java/com/type/dictionary/UnknownValueAsyncClient.java
  typespec-tests/src/main/java/com/type/dictionary/UnknownValueClient.java
  typespec-tests/src/main/java/com/type/dictionary/implementation/UnknownValuesImpl.java
  typespec-tests/src/main/java/com/type/model/inheritance/enumnesteddiscriminator/EnumNestedDiscriminatorClientBuilder.java
  typespec-tests/src/test/java/com/azure/resourcemanager/commonproperties/ManagedIdentityManagerTests.java
  typespec-tests/src/test/java/com/azure/resourcemanager/resources/ArmResourceTest.java
  typespec-tests/src/test/java/com/type/array/UnknownValueClientTest.java
  typespec-tests/src/test/java/com/type/dictionary/UnknownValueClientTest.java
  typespec-tests/src/test/java/com/type/model/inheritance/enumnesteddiscriminator/generated/EnumNestedDiscriminatorClientTestBase.java
  typespec-tests/tsp/nested-enum-discriminator.tsp
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

bump version to 0.23.0
  typespec-extension/changelog.md
  typespec-extension/package-lock.json
  typespec-extension/package.json
  typespec-tests/package.json
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

swagger mgmt, use-object-for-unknown=true
  fluentgen/readme.md
  fluentgen/src/test/java/com/microsoft/typespec/http/client/generator/mgmt/TestUtils.java
Due: eng/pipelines/ci-typespec-java.yaml, eng/pipelines/fluent_integration.yaml

use-object-for-unknown=true for swagger
  javagen/data-plane.md
  javagen/readme.md
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

update generate.ps1
  typespec-tests/Generate.ps1
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

eng, sync test from core
  typespec-tests/src/main/java/com/type/model/inheritance/enumnesteddiscriminator/EnumNestedDiscriminatorClientBuilder.java
  typespec-tests/src/test/java/com/azure/resourcemanager/commonproperties/ManagedIdentityManagerTests.java
  typespec-tests/src/test/java/com/azure/resourcemanager/resources/ArmResourceTest.java
  typespec-tests/src/test/java/com/type/model/inheritance/enumnesteddiscriminator/generated/EnumNestedDiscriminatorClientTestBase.java
  typespec-tests/tsp/nested-enum-discriminator.tsp
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

eng, sync test from core (#2971)
  typespec-tests/src/main/java/com/type/model/inheritance/enumnesteddiscriminator/EnumNestedDiscriminatorClientBuilder.java
  typespec-tests/src/test/java/com/azure/resourcemanager/commonproperties/ManagedIdentityManagerTests.java
  typespec-tests/src/test/java/com/azure/resourcemanager/resources/ArmResourceTest.java
  typespec-tests/src/test/java/com/type/model/inheritance/enumnesteddiscriminator/generated/EnumNestedDiscriminatorClientTestBase.java
  typespec-tests/tsp/nested-enum-discriminator.tsp
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

fix Setup.ps1
  typespec-tests/Setup.ps1
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

fix Setup.ps1 (#2973)
  typespec-tests/Setup.ps1
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

update changelog
  typespec-extension/changelog.md
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

pin tsp-client to 0.13.0
  eng/pipelines/post-publish-sdk.yaml
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

eng, add suppress from typespec (#2975)
  eng/pipelines/post-publish-sdk.yaml
  eng/pipelines/templates/stages/1es-redirect.yml
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

pin compiler 0.61.0
  eng/pipelines/post-publish-sdk.yaml
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

update
  eng/pipelines/post-publish-sdk.yaml
  eng/sdk/sync_sdk.py
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

log failure, but do not stop the script
  eng/sdk/sync_sdk.py
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

fix
  eng/sdk/sync_sdk.py
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

rename to failed_modules
  eng/sdk/sync_sdk.py
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

eng, report error, but do not fail during regen SDK (#2976)
  eng/pipelines/post-publish-sdk.yaml
  eng/sdk/sync_sdk.py
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

eng, always=true for nightly
  eng/pipelines/ci-typespec-java-dev-nightly.yaml
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

eng, always=true for nightly (#2977)
  eng/pipelines/ci-typespec-java-dev-nightly.yaml
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

update versions
  typespec-extension/changelog.md
  typespec-extension/package-lock.json
  typespec-extension/package.json
  typespec-tests/package.json
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

sync tests
  typespec-tests/src/main/java/com/_specs_/azure/clientgenerator/core/access/RelativeModelInOperationAsyncClient.java
  typespec-tests/src/main/java/com/_specs_/azure/clientgenerator/core/access/RelativeModelInOperationClient.java
  typespec-tests/src/main/java/com/_specs_/azure/clientgenerator/core/access/implementation/RelativeModelInOperationsImpl.java
  typespec-tests/src/main/java/com/_specs_/azure/clientgenerator/core/usage/UsageAsyncClient.java
  typespec-tests/src/main/java/com/_specs_/azure/clientgenerator/core/usage/UsageClient.java
  typespec-tests/src/main/java/com/_specs_/azure/clientgenerator/core/usage/implementation/ModelInOperationsImpl.java
  typespec-tests/src/main/java/com/azure/resourcemanager/commonproperties/CommonPropertiesManager.java
  typespec-tests/src/main/java/com/azure/resourcemanager/resources/ResourcesManager.java
  typespec-tests/src/main/java/com/cadl/armresourceprovider/ArmResourceProviderManager.java
  typespec-tests/src/main/java/com/cadl/armstreamstyleserialization/ArmStreamStyleSerializationManager.java
  typespec-tests/tsp/response.tsp
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

update readme
  typespec-extension/readme.md
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

tsp, prepare release for upgrading compiler to 0.62 (#2978)
  typespec-extension/changelog.md
  typespec-extension/package-lock.json
  typespec-extension/package.json
  typespec-extension/readme.md
  typespec-tests/package.json
  typespec-tests/src/main/java/com/_specs_/azure/clientgenerator/core/access/RelativeModelInOperationAsyncClient.java
  typespec-tests/src/main/java/com/_specs_/azure/clientgenerator/core/access/RelativeModelInOperationClient.java
  typespec-tests/src/main/java/com/_specs_/azure/clientgenerator/core/access/implementation/RelativeModelInOperationsImpl.java
  typespec-tests/src/main/java/com/_specs_/azure/clientgenerator/core/usage/UsageAsyncClient.java
  typespec-tests/src/main/java/com/_specs_/azure/clientgenerator/core/usage/UsageClient.java
  typespec-tests/src/main/java/com/_specs_/azure/clientgenerator/core/usage/implementation/ModelInOperationsImpl.java
  typespec-tests/src/main/java/com/azure/resourcemanager/commonproperties/CommonPropertiesManager.java
  typespec-tests/src/main/java/com/azure/resourcemanager/resources/ResourcesManager.java
  typespec-tests/src/main/java/com/cadl/armresourceprovider/ArmResourceProviderManager.java
  typespec-tests/src/main/java/com/cadl/armstreamstyleserialization/ArmStreamStyleSerializationManager.java
  typespec-tests/tsp/response.tsp
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

bump jar versions
  azure-dataplane-tests/pom.xml
  azure-tests/pom.xml
  customization-base/pom.xml
  customization-base/src/main/resources/pom.xml
  customization-tests/pom.xml
  eng/versioning/external_dependencies.txt
  fluent-tests/pom.xml
  fluentgen/pom.xml
  javagen/pom.xml
  partial-update/pom.xml
  pom.xml
  protocol-sdk-integration-tests/eng/versioning/version_client.txt
  protocol-tests/pom.xml
  typespec-tests/pom.xml
  vanilla-tests/pom.xml
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

update sync_version script to include core/packages/http-client-java/generator/http-client-generator-core/src/main/resources/pom.xml
  eng/versioning/sync_versions.py
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

release 4.1.40
  package-lock.json
  package.json
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml
