Repository Azure/autorest.java: changes, and which Azure pipelines are due for each by the changed paths.
All: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

eng/pipelines/ci-cadl-java.yaml:
  jobs:
  - job: Build
    timeoutInMinutes: 30
    variables:
      JavaVersion: 1.8
      NodeVersion: 18.x
      isMain: $[eq(variables['Build.SourceBranch'], 'refs/heads/main')]
    pool:
      name: azsdk-pool-mms-ubuntu-2004-general
      vmImage: MMSUbuntu20.04
    steps:
    - task: NodeTool@0
  ...

eng/pipelines/ci-typespec-java.yaml:
  jobs:
  - job: Build
    timeoutInMinutes: 30
    variables:
    - template: /eng/pipelines/variables/globals.yml
    - name: isMain
      value: $[eq(variables['Build.SourceBranch'], 'refs/heads/main')]
    pool:
      name: azsdk-pool-mms-ubuntu-2004-general
      vmImage: MMSUbuntu20.04
    steps:
  ...

eng/pipelines/ci.yaml:
  jobs:
  - job: Build
    timeoutInMinutes: 60
    variables:
      JavaVersion: 1.11
      NodeVersion: 18.x
    pool:
      name: azsdk-pool-mms-ubuntu-2004-general
      vmImage: MMSUbuntu20.04
    steps:
    - task: NodeTool@0
      displayName: Install Node.js $(NodeVersion)
      inputs:
  ...

eng/pipelines/fluent_integration.yaml:
  jobs:
  - job: Build
    timeoutInMinutes: 60
    pool:
      name: azsdk-pool-mms-ubuntu-2004-general
      vmImage: MMSUbuntu20.04
    variables:
    - template: /eng/pipelines/variables/globals.yml
    steps:
    - task: NodeTool@0
      inputs:
        versionSpec: $(NodeVersion)
    - script: npm install autorest -g
  ...

nit
  protocol-tests/src/test/java/fixtures/dpgcustomization/DpgCustomizationTests.java
Due: eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

only disable convenient method when stream style is explicitly set to false
  typespec-extension/src/code-model-builder.ts
  typespec-tests/tspconfig.yaml
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

comment
  partial-update/src/main/java/com/azure/autorest/partialupdate/util/PartialUpdateHandler.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

add a includeStaticInitializerDeclaration to hasGeneratedAnnotation
  partial-update/src/main/java/com/azure/autorest/partialupdate/util/PartialUpdateHandler.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

separate isMemberGenerated from hasGeneratedAnnotation
  partial-update/src/main/java/com/azure/autorest/partialupdate/util/PartialUpdateHandler.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

nit
  partial-update/src/main/java/com/azure/autorest/partialupdate/util/PartialUpdateHandler.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

regen
  typespec-tests/src/main/java/com/type/property/nullable/models/DatetimeProperty.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

tsp, partial-update, replace static initializer declaration (#2593)
  partial-update/src/main/java/com/azure/autorest/partialupdate/util/PartialUpdateHandler.java
  partial-update/src/test/java/com/azure/autorest/partialupdate/util/PartialUpdateHandlerTest.java
  partial-update/src/test/resources/partialupdate/ModelWithStaticBlock.java
  partial-update/src/test/resources/partialupdate/ModelWithStaticBlockGenerated.java
  partial-update/src/test/resources/partialupdate/ModelWithoutStaticBlock.java
  partial-update/src/test/resources/partialupdate/ModelWithoutStaticBlockGenerated.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

tsp, json-merge-patch, bug fixes (#2576)
  javagen/src/main/java/com/azure/autorest/template/StreamSerializationModelTemplate.java
  typespec-extension/changelog.md
  typespec-extension/package-lock.json
  typespec-extension/package.json
  typespec-extension/src/code-model-builder.ts
  typespec-tests/package.json
  typespec-tests/src/main/java/com/_specs_/azure/core/basic/models/User.java
  typespec-tests/src/main/java/com/_specs_/azure/core/basic/models/UserOrder.java
  typespec-tests/src/main/java/com/cadl/patch/PatchAsyncClient.java
  typespec-tests/src/main/java/com/cadl/patch/PatchClient.java
  typespec-tests/src/main/java/com/cadl/patch/implementation/PatchesImpl.java
  typespec-tests/src/main/java/com/cadl/patch/models/Fish.java
  typespec-tests/src/main/java/com/cadl/patch/models/InnerModel.java
  typespec-tests/src/main/java/com/cadl/patch/models/Resource.java
  typespec-tests/src/main/java/com/cadl/patch/models/Salmon.java
  typespec-tests/src/main/java/com/cadl/patch/models/Shark.java
  typespec-tests/src/main/java/com/cadl/specialheaders/models/Resource.java
  typespec-tests/src/main/java/com/payload/jsonmergepatch/models/InnerModel.java
  typespec-tests/src/main/java/com/payload/jsonmergepatch/models/ResourcePatch.java
  typespec-tests/src/main/java/com/type/property/nullable/models/BytesProperty.java
  typespec-tests/src/main/java/com/type/property/nullable/models/CollectionsByteProperty.java
  typespec-tests/src/main/java/com/type/property/nullable/models/CollectionsModelProperty.java
  typespec-tests/src/main/java/com/type/property/nullable/models/DatetimeProperty.java
  typespec-tests/src/main/java/com/type/property/nullable/models/DurationProperty.java
  typespec-tests/src/main/java/com/type/property/nullable/models/InnerModel.java
  typespec-tests/src/main/java/com/type/property/nullable/models/StringProperty.java
  typespec-tests/src/test/java/com/cadl/patch/PatchClientTest.java
  typespec-tests/tsp/patch.tsp
  typespec-tests/tspconfig.yaml
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

eng, sdk repo now contains emitter-package-lock.json (#2590)
  eng/pipelines/post-publish-sdk.yaml
  eng/sdk/sync_sdk.py
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

Fix known media type evaluation
  javagen/src/main/java/com/azure/autorest/template/ConvenienceMethodTemplateBase.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

update version
  typespec-extension/package-lock.json
  typespec-extension/package.json
  typespec-tests/package.json
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

ignore error media type
  javagen/src/main/java/com/azure/autorest/template/ConvenienceMethodTemplateBase.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

Fix known media type evaluation (#2597)
  javagen/src/main/java/com/azure/autorest/template/ConvenienceMethodTemplateBase.java
  typespec-extension/package-lock.json
  typespec-extension/package.json
  typespec-tests/package.json
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

dpg, settings, remove generate-models (#2594)
  docs/generate/dataplane-customization.md
  extension-base/src/main/java/com/azure/autorest/extension/base/plugin/JavaSettings.java
  javagen/src/main/java/com/azure/autorest/Javagen.java
  javagen/src/main/java/com/azure/autorest/mapper/ClientMapper.java
  protocol-sdk-integration-tests/test.py
  protocol-tests/src/main/java/fixtures/dpgcustomization/implementation/DpgClientImpl.java
  protocol-tests/src/main/java/fixtures/dpgcustomization/implementation/models/ProductResult.java
  protocol-tests/src/main/java/fixtures/dpgcustomization/implementation/models/package-info.java
  protocol-tests/src/main/java/fixtures/dpgcustomization/models/Input.java
  protocol-tests/src/main/java/fixtures/dpgcustomization/models/LroProduct.java
  protocol-tests/src/main/java/fixtures/dpgcustomization/models/Product.java
  protocol-tests/src/main/java/fixtures/dpgcustomization/models/ProductReceived.java
  protocol-tests/src/main/java/fixtures/dpgcustomization/models/package-info.java
  protocol-tests/src/test/java/fixtures/dpgcustomization/DpgCustomizationTests.java
  protocol-tests/swagger/dpg-customization.md
  readme.md
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

Update codgen to support latest generic APIs (#2598)
  extension-base/src/main/java/com/azure/autorest/extension/base/plugin/JavaSettings.java
  javagen/pom.xml
  javagen/src/main/java/com/azure/autorest/mapper/PrimitiveMapper.java
  javagen/src/main/java/com/azure/autorest/mapper/ProxyMethodMapper.java
  javagen/src/main/java/com/azure/autorest/model/clientmodel/Annotation.java
  javagen/src/main/java/com/azure/autorest/model/clientmodel/ClassType.java
  javagen/src/main/java/com/azure/autorest/model/clientmodel/ClientModel.java
  javagen/src/main/java/com/azure/autorest/model/clientmodel/ProxyMethod.java
  javagen/src/main/java/com/azure/autorest/model/clientmodel/ProxyMethodParameter.java
  javagen/src/main/java/com/azure/autorest/model/javamodel/JavaPackage.java
  javagen/src/main/java/com/azure/autorest/template/ClientMethodTemplateBase.java
  javagen/src/main/java/com/azure/autorest/template/ConvenienceMethodTemplateBase.java
  javagen/src/main/java/com/azure/autorest/template/EnumTemplate.java
  javagen/src/main/java/com/azure/autorest/template/MethodGroupTemplate.java
  javagen/src/main/java/com/azure/autorest/template/ModelTemplate.java
  javagen/src/main/java/com/azure/autorest/template/ProxyTemplate.java
  javagen/src/main/java/com/azure/autorest/template/ServiceAsyncClientTemplate.java
  javagen/src/main/java/com/azure/autorest/template/ServiceClientBuilderTemplate.java
  javagen/src/main/java/com/azure/autorest/template/ServiceClientTemplate.java
  javagen/src/main/java/com/azure/autorest/template/ServiceSyncClientTemplate.java
  javagen/src/main/java/com/azure/autorest/template/WrapperClientMethodTemplate.java
  javagen/src/main/java/com/azure/autorest/util/ClientModelUtil.java
  javagen/src/main/resources/GenericMultipartFormDataHelper.java
  typespec-extension/src/main/java/com/azure/autorest/TypeSpecPlugin.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

add a case for enum as discriminator value
  Generate.ps1
  vanilla-tests/swagger/discriminator-enum.json
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

re-generate test code
  vanilla-tests/src/main/java/fixtures/discriminatorenum/EnumDiscriminator.java
  vanilla-tests/src/main/java/fixtures/discriminatorenum/EnumDiscriminatorBuilder.java
  vanilla-tests/src/main/java/fixtures/discriminatorenum/models/Dog.java
  vanilla-tests/src/main/java/fixtures/discriminatorenum/models/DogKind.java
  vanilla-tests/src/main/java/fixtures/discriminatorenum/models/Golden.java
  vanilla-tests/src/main/java/fixtures/discriminatorenum/models/package-info.java
  vanilla-tests/src/main/java/fixtures/discriminatorenum/package-info.java
Due: eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

version 0.13.11
  typespec-extension/changelog.md
  typespec-extension/package-lock.json
  typespec-extension/package.json
  typespec-tests/package.json
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

pick https://github.com/Azure/autorest.java/pull/2597
  javagen/src/main/java/com/azure/autorest/template/ConvenienceMethodTemplateBase.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

add flavor option and make nonbranding as default
  typespec-extension/src/code-model-builder.ts
  typespec-extension/src/emitter.ts
  typespec-extension/src/main/java/com/azure/autorest/TypeSpecPlugin.java
  typespec-extension/src/main/java/com/azure/typespec/model/EmitterOptions.java
  typespec-tests/tspconfig.yaml
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

tsp, update changelog
  typespec-extension/changelog.md
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

Update changelog.md
  typespec-extension/changelog.md
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

first change on processSchema
  typespec-extension/src/code-model-builder.ts
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

Remove JSON flatten setting (#2592)
  customization-tests/src/main/java/fixtures/bodycomplex/implementation/models/DotFish.java
  customization-tests/src/main/java/fixtures/bodycomplex/implementation/models/DotSalmon.java
  extension-base/src/main/java/com/azure/autorest/extension/base/plugin/JavaSettings.java
  javagen/src/main/java/com/azure/autorest/mapper/ModelMapper.java
  readme.md
  vanilla-tests/src/main/java/fixtures/bodycomplex/models/DotFish.java
  vanilla-tests/src/main/java/fixtures/bodycomplex/models/DotSalmon.java
  vanilla-tests/src/main/java/fixtures/inheritance/passdiscriminator/models/MetricAlertCriteria.java
  vanilla-tests/src/main/java/fixtures/inheritance/passdiscriminator/models/MetricAlertSingleResourceMultipleMetricCriteria.java
  vanilla-tests/src/main/java/fixtures/streamstyleserialization/models/DotFish.java
  vanilla-tests/src/main/java/fixtures/streamstyleserialization/models/DotSalmon.java
  vanilla-tests/src/main/java/fixtures/streamstyleserializationctorargs/models/DotFish.java
  vanilla-tests/src/main/java/fixtures/streamstyleserializationctorargs/models/DotSalmon.java
  vanilla-tests/src/main/java/fixtures/streamstyleserializationimmutableoutput/models/DotFish.java
  vanilla-tests/src/main/java/fixtures/streamstyleserializationimmutableoutput/models/DotSalmon.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

tsp, patch + flatten
  typespec-tests/tsp/flatten.tsp
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

re-generate test code
  typespec-tests/src/main/java/com/cadl/flatten/FlattenAsyncClient.java
  typespec-tests/src/main/java/com/cadl/flatten/FlattenClient.java
  typespec-tests/src/main/java/com/cadl/flatten/implementation/FlattenClientImpl.java
  typespec-tests/src/main/java/com/cadl/flatten/implementation/JsonMergePatchHelper.java
  typespec-tests/src/main/java/com/cadl/flatten/implementation/models/UpdateRequest.java
  typespec-tests/src/main/java/com/cadl/flatten/models/TodoItem.java
  typespec-tests/src/main/java/com/cadl/flatten/models/TodoItemPatch.java
  typespec-tests/src/main/java/com/cadl/flatten/models/TodoItemPatchStatus.java
  typespec-tests/src/main/java/com/cadl/flatten/models/TodoItemStatus.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

skip flatten for application/merge-patch+json
  typespec-extension/src/code-model-builder.ts
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

re-generate test code
  typespec-tests/src/main/java/com/cadl/flatten/FlattenAsyncClient.java
  typespec-tests/src/main/java/com/cadl/flatten/FlattenClient.java
  typespec-tests/src/main/java/com/cadl/flatten/implementation/JsonMergePatchHelper.java
  typespec-tests/src/main/java/com/cadl/flatten/models/UpdateRequest.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

bump dependencies
  typespec-extension/package-lock.json
  typespec-extension/package.json
  typespec-tests/package.json
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

switch to isErrorOrChildOfError
  typespec-extension/src/code-model-builder.ts
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

changelog
  typespec-extension/changelog.md
  typespec-extension/readme.md
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

re-generate test code
  typespec-tests/src/main/java/com/cadl/armresourceprovider/models/ChildResourceListResult.java
  typespec-tests/src/main/java/com/cadl/armresourceprovider/models/PagedOperation.java
  typespec-tests/src/main/java/com/cadl/armresourceprovider/models/TopLevelArmResourceListResult.java
  typespec-tests/src/main/java/com/client/structure/service/ClientAClientBuilder.java
  typespec-tests/src/main/java/com/client/structure/service/ClientBClientBuilder.java
  typespec-tests/src/main/java/com/client/structure/service/RenamedOperationClientBuilder.java
  typespec-tests/src/main/java/com/client/structure/service/ServiceClientClientBuilder.java
  typespec-tests/src/main/java/com/client/structure/service/ServiceServiceVersion.java
  typespec-tests/src/main/java/com/client/structure/service/TwoOperationGroupClientBuilder.java
  typespec-tests/src/main/java/com/client/structure/service/implementation/BarsImpl.java
  typespec-tests/src/main/java/com/client/structure/service/implementation/BazFoosImpl.java
  typespec-tests/src/main/java/com/client/structure/service/implementation/ClientAClientImpl.java
  typespec-tests/src/main/java/com/client/structure/service/implementation/ClientBClientImpl.java
  typespec-tests/src/main/java/com/client/structure/service/implementation/FoosImpl.java
  typespec-tests/src/main/java/com/client/structure/service/implementation/Group1sImpl.java
  typespec-tests/src/main/java/com/client/structure/service/implementation/Group2sImpl.java
  typespec-tests/src/main/java/com/client/structure/service/implementation/GroupsImpl.java
  typespec-tests/src/main/java/com/client/structure/service/implementation/QuxBarsImpl.java
  typespec-tests/src/main/java/com/client/structure/service/implementation/QuxesImpl.java
  typespec-tests/src/main/java/com/client/structure/service/implementation/RenamedOperationClientImpl.java
  typespec-tests/src/main/java/com/client/structure/service/implementation/ServiceClientClientImpl.java
  typespec-tests/src/main/java/com/client/structure/service/implementation/TwoOperationGroupClientImpl.java
  typespec-tests/src/main/java/com/type/property/optional/FloatLiteralAsyncClient.java
  typespec-tests/src/main/java/com/type/property/optional/FloatLiteralClient.java
  typespec-tests/src/main/java/com/type/property/optional/UnionFloatLiteralAsyncClient.java
  typespec-tests/src/main/java/com/type/property/optional/UnionFloatLiteralClient.java
  typespec-tests/src/main/java/com/type/property/optional/implementation/FloatLiteralsImpl.java
  typespec-tests/src/main/java/com/type/property/optional/implementation/UnionFloatLiteralsImpl.java
  typespec-tests/src/main/java/com/type/property/optional/models/FloatLiteralPropertyProperty.java
  typespec-tests/src/main/java/com/type/property/optional/models/UnionFloatLiteralPropertyProperty.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

fix package
  typespec-extension/package.json
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

update test
  typespec-tests/src/test/java/com/type/array/NullableFloatValueClientTest.java
  typespec-tests/src/test/java/com/type/dictionary/NullableFloatValueClientTests.java
  typespec-tests/src/test/java/com/type/property/optional/FloatLiteralClientTests.java
  typespec-tests/src/test/java/com/type/property/optional/UnionFloatLiteralClientTests.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

deprecate ServiceAuthentication
  typespec-extension/src/code-model-builder.ts
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

deprecate service.version
  typespec-extension/src/code-model-builder.ts
  typespec-tests/tsp/arm.tsp
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

target 2024-03-07
  typespec-extension/changelog.md
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

Path conditions:
  eng/pipelines/ci-cadl-java.yaml: any of: *, but not: fluent*, postprocessor, vanilla-tests, protocol*
  eng/pipelines/ci-typespec-java.yaml: any of: *, but not: androidgen, azure-dataplane-tests, azure-tests, fluent-tests, partial-update-tests, vanilla-tests, protocol*
  eng/pipelines/ci.yaml: any of: *, but not: fluent*, typespec*
  eng/pipelines/fluent_integration.yaml: any of: *, but not: typespec*
