Repository Azure/autorest.java: changes, and which Azure pipelines are due for each by the changed paths.
All: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

eng/pipelines/ci-cadl-java.yaml:
  jobs:
  - job: Build
    timeoutInMinutes: 30
    variables:
      JavaVersion: 1.8
      NodeVersion: 18.x
      isMain: $[eq(variables['Build.SourceBranch'], 'refs/heads/main')]
    pool:
      name: azsdk-pool-mms-ubuntu-2004-general
      vmImage: MMSUbuntu20.04
    steps:
    - task: NodeTool@0
  ...

eng/pipelines/ci-typespec-java.yaml:
  jobs:
  - job: Build
    timeoutInMinutes: 30
    variables:
    - template: /eng/pipelines/variables/globals.yml
    - name: isMain
      value: $[eq(variables['Build.SourceBranch'], 'refs/heads/main')]
    pool:
      name: azsdk-pool-mms-ubuntu-2004-general
      vmImage: MMSUbuntu20.04
    steps:
  ...

eng/pipelines/ci.yaml:
  jobs:
  - job: Build
    timeoutInMinutes: 60
    variables:
      JavaVersion: 1.11
      NodeVersion: 18.x
    pool:
      name: azsdk-pool-mms-ubuntu-2004-general
      vmImage: MMSUbuntu20.04
    steps:
    - task: NodeTool@0
      displayName: Install Node.js $(NodeVersion)
      inputs:
  ...

eng/pipelines/fluent_integration.yaml:
  jobs:
  - job: Build
    timeoutInMinutes: 60
    pool:
      name: azsdk-pool-mms-ubuntu-2004-general
      vmImage: MMSUbuntu20.04
    variables:
    - template: /eng/pipelines/variables/globals.yml
    steps:
    - task: NodeTool@0
      inputs:
        versionSpec: $(NodeVersion)
    - script: npm install autorest -g
  ...

bump typespec-java
  typespec-extension/changelog.md
  typespec-extension/package-lock.json
  typespec-extension/package.json
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

bump tcgc/cadl-ranch-specs
  typespec-extension/package-lock.json
  typespec-extension/package.json
  typespec-tests/package.json
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

fix typespec-test dependency
  typespec-tests/package.json
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

regen typespec
  typespec-tests/src/main/java/_specs_/azure/core/page/PageAsyncClient.java
  typespec-tests/src/main/java/_specs_/azure/core/page/PageClient.java
  typespec-tests/src/main/java/_specs_/azure/core/page/implementation/PageClientImpl.java
  typespec-tests/src/main/java/_specs_/azure/core/page/models/UserListResults.java
  typespec-tests/src/main/java/tsptest/armresourceprovider/models/PriorityModel.java
  typespec-tests/src/main/java/tsptest/armstreamstyleserialization/models/Golden.java
  typespec-tests/src/main/java/tsptest/clientinitialization/ClientInitializationAsyncClient.java
  typespec-tests/src/main/java/tsptest/clientinitialization/ClientInitializationClient.java
  typespec-tests/src/main/java/tsptest/clientinitialization/ClientInitializationClientBuilder.java
  typespec-tests/src/main/java/tsptest/clientinitialization/SubAsyncClient.java
  typespec-tests/src/main/java/tsptest/clientinitialization/SubClient.java
  typespec-tests/src/main/java/tsptest/clientinitialization/implementation/ClientInitializationClientImpl.java
  typespec-tests/src/main/java/tsptest/clientinitialization/implementation/SubClientsImpl.java
  typespec-tests/src/main/java/tsptest/enumservice/models/OlympicRecordModel.java
  typespec-tests/src/main/java/tsptest/enumservice/models/PriorityModel.java
  typespec-tests/src/main/java/tsptest/naming/NamingAsyncClient.java
  typespec-tests/src/main/java/tsptest/naming/NamingClient.java
  typespec-tests/src/main/java/tsptest/naming/NamingClientBuilder.java
  typespec-tests/src/main/java/tsptest/naming/implementation/NamingClientImpl.java
  typespec-tests/src/main/java/tsptest/naming/implementation/NamingOpsImpl.java
  typespec-tests/src/main/java/tsptest/naming/implementation/package-info.java
  typespec-tests/src/main/java/tsptest/naming/models/BinaryData.java
  typespec-tests/src/main/java/tsptest/naming/models/BytesData.java
  typespec-tests/src/main/java/tsptest/naming/models/Data.java
  typespec-tests/src/main/java/tsptest/naming/models/DataRequest.java
  typespec-tests/src/main/java/tsptest/naming/models/DataResponse.java
  typespec-tests/src/main/java/tsptest/naming/models/DataStatus.java
  typespec-tests/src/main/java/tsptest/naming/models/GetAnonymousResponse.java
  typespec-tests/src/main/java/tsptest/naming/models/RequestParameters.java
  typespec-tests/src/main/java/tsptest/naming/models/RequestParametersType.java
  typespec-tests/src/main/java/tsptest/naming/models/RunObject.java
  typespec-tests/src/main/java/tsptest/naming/models/RunObjectLastError.java
  typespec-tests/src/main/java/tsptest/naming/models/RunObjectLastErrorCode.java
  typespec-tests/src/main/java/tsptest/naming/models/TypesModel.java
  typespec-tests/src/main/java/tsptest/naming/models/package-info.java
  typespec-tests/src/main/java/tsptest/naming/package-info.java
  typespec-tests/src/main/resources/tsptest-naming.properties
  typespec-tests/src/test/java/tsptest/clientinitialization/generated/ClientInitializationClientTestBase.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

modify Generate.ps1
  typespec-tests/Generate.ps1
  typespec-tests/src/main/java/_specs_/azure/core/page/PageAsyncClient.java
  typespec-tests/src/main/java/_specs_/azure/core/page/PageClient.java
  typespec-tests/src/main/java/_specs_/azure/core/page/implementation/PageClientImpl.java
  typespec-tests/src/main/java/_specs_/azure/core/page/models/UserListResults.java
  typespec-tests/src/main/java/tsptest/armresourceprovider/models/PriorityModel.java
  typespec-tests/src/main/java/tsptest/armstreamstyleserialization/models/Golden.java
  typespec-tests/src/main/java/tsptest/clientinitialization/ClientInitializationAsyncClient.java
  typespec-tests/src/main/java/tsptest/clientinitialization/ClientInitializationClient.java
  typespec-tests/src/main/java/tsptest/clientinitialization/SubAsyncClient.java
  typespec-tests/src/main/java/tsptest/clientinitialization/SubClient.java
  typespec-tests/src/main/java/tsptest/clientinitialization/implementation/SubClientImpl.java
  typespec-tests/src/main/java/tsptest/enumservice/models/OlympicRecordModel.java
  typespec-tests/src/main/java/tsptest/enumservice/models/PriorityModel.java
  typespec-tests/src/main/java/tsptest/naming/NamingAsyncClient.java
  typespec-tests/src/main/java/tsptest/naming/NamingClient.java
  typespec-tests/src/main/java/tsptest/naming/NamingClientBuilder.java
  typespec-tests/src/main/java/tsptest/naming/implementation/NamingClientImpl.java
  typespec-tests/src/main/java/tsptest/naming/implementation/NamingOpsImpl.java
  typespec-tests/src/main/java/tsptest/naming/implementation/package-info.java
  typespec-tests/src/main/java/tsptest/naming/models/BinaryData.java
  typespec-tests/src/main/java/tsptest/naming/models/BytesData.java
  typespec-tests/src/main/java/tsptest/naming/models/Data.java
  typespec-tests/src/main/java/tsptest/naming/models/DataRequest.java
  typespec-tests/src/main/java/tsptest/naming/models/DataResponse.java
  typespec-tests/src/main/java/tsptest/naming/models/DataStatus.java
  typespec-tests/src/main/java/tsptest/naming/models/GetAnonymousResponse.java
  typespec-tests/src/main/java/tsptest/naming/models/RequestParameters.java
  typespec-tests/src/main/java/tsptest/naming/models/RequestParametersType.java
  typespec-tests/src/main/java/tsptest/naming/models/RunObject.java
  typespec-tests/src/main/java/tsptest/naming/models/RunObjectLastError.java
  typespec-tests/src/main/java/tsptest/naming/models/RunObjectLastErrorCode.java
  typespec-tests/src/main/java/tsptest/naming/models/TypesModel.java
  typespec-tests/src/main/java/tsptest/naming/models/package-info.java
  typespec-tests/src/main/java/tsptest/naming/package-info.java
  typespec-tests/src/main/resources/tsptest-naming.properties
  typespec-tests/src/test/java/tsptest/clientinitialization/generated/ClientInitializationClientTestBase.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

revert cadl-ranch
  typespec-tests/package.json
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

revert customization test
  vanilla-tests/src/main/java/fixtures/nonstringenum/models/FloatEnum.java
  vanilla-tests/src/main/java/fixtures/nonstringenum/models/IntEnum.java
Due: eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

fix inconsistency in setup script
  .github/workflows/generate-test-code.yml
  typespec-tests/Setup.ps1
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

fix Generate.ps1
  typespec-tests/Generate.ps1
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

update release date
  typespec-extension/changelog.md
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

regen
  typespec-tests/src/main/java/tsptest/clientinitialization/ClientInitializationAsyncClient.java
  typespec-tests/src/main/java/tsptest/clientinitialization/ClientInitializationClient.java
  typespec-tests/src/main/java/tsptest/clientinitialization/implementation/ClientInitializationClientImpl.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

Prepare autorest 4.1.43/typespec 0.26.1 (#2994)
  .github/workflows/generate-test-code.yml
  package-lock.json
  package.json
  typespec-extension/changelog.md
  typespec-extension/package-lock.json
  typespec-extension/package.json
  typespec-tests/Generate.ps1
  typespec-tests/Setup.ps1
  typespec-tests/package.json
  typespec-tests/src/main/java/tsptest/armresourceprovider/models/PriorityModel.java
  typespec-tests/src/main/java/tsptest/armstreamstyleserialization/fluent/models/OutputOnlyModelInner.java
  typespec-tests/src/main/java/tsptest/armstreamstyleserialization/fluent/models/OutputOnlyModelProperties.java
  typespec-tests/src/main/java/tsptest/armstreamstyleserialization/implementation/OutputOnlyModelImpl.java
  typespec-tests/src/main/java/tsptest/armstreamstyleserialization/models/Dog.java
  typespec-tests/src/main/java/tsptest/armstreamstyleserialization/models/DogKind.java
  typespec-tests/src/main/java/tsptest/armstreamstyleserialization/models/Golden.java
  typespec-tests/src/main/java/tsptest/armstreamstyleserialization/models/OutputOnlyModel.java
  typespec-tests/src/main/java/tsptest/armstreamstyleserialization/models/OutputOnlyModelChild.java
  typespec-tests/src/main/java/tsptest/clientinitialization/ClientInitializationAsyncClient.java
  typespec-tests/src/main/java/tsptest/clientinitialization/ClientInitializationClient.java
  typespec-tests/src/main/java/tsptest/clientinitialization/implementation/ClientInitializationClientImpl.java
  typespec-tests/src/main/java/tsptest/enumservice/models/OlympicRecordModel.java
  typespec-tests/src/main/java/tsptest/enumservice/models/PriorityModel.java
  typespec-tests/src/test/java/tsptest/enumservice/EnumTests.java
  typespec-tests/tsp/arm-stream-style-serialization.tsp
  vanilla-tests/src/main/java/fixtures/nonstringenum/models/FloatEnum.java
  vanilla-tests/src/main/java/fixtures/nonstringenum/models/IntEnum.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

use cadl-ranch 0.39.5
  typespec-tests/package.json
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

use nextLink
  typespec-tests/tsp/response.tsp
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

bump npm deps
  typespec-extension/changelog.md
  typespec-extension/package-lock.json
  typespec-extension/package.json
  typespec-tests/package.json
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

sync test
  typespec-tests/src/main/java/tsptest/armresourceprovider/fluent/models/OperationInner.java
  typespec-tests/src/main/java/tsptest/response/implementation/ResponseClientImpl.java
  typespec-tests/src/main/java/tsptest/visibility/VisibilityAsyncClient.java
  typespec-tests/src/main/java/tsptest/visibility/VisibilityClient.java
  typespec-tests/src/main/java/tsptest/visibility/VisibilityWriteAsyncClient.java
  typespec-tests/src/main/java/tsptest/visibility/VisibilityWriteClient.java
  typespec-tests/src/main/java/tsptest/visibility/implementation/VisibilityClientImpl.java
  typespec-tests/src/main/java/tsptest/visibility/implementation/VisibilityWritesImpl.java
  typespec-tests/src/main/java/tsptest/visibility/models/ReadDog.java
  typespec-tests/src/main/java/tsptest/visibility/models/WriteDog.java
  typespec-tests/tsp/error.tsp
  typespec-tests/tsp/naming.tsp
  typespec-tests/tsp/response.tsp
  typespec-tests/tsp/visibility.tsp
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

update readme
  typespec-extension/readme.md
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

eng, bump typespec libs, prepare 0.27.0 release (#2995)
  typespec-extension/changelog.md
  typespec-extension/package-lock.json
  typespec-extension/package.json
  typespec-extension/readme.md
  typespec-tests/package.json
  typespec-tests/src/main/java/tsptest/armresourceprovider/fluent/models/OperationInner.java
  typespec-tests/src/main/java/tsptest/response/implementation/ResponseClientImpl.java
  typespec-tests/src/main/java/tsptest/visibility/VisibilityAsyncClient.java
  typespec-tests/src/main/java/tsptest/visibility/VisibilityClient.java
  typespec-tests/src/main/java/tsptest/visibility/VisibilityWriteAsyncClient.java
  typespec-tests/src/main/java/tsptest/visibility/VisibilityWriteClient.java
  typespec-tests/src/main/java/tsptest/visibility/implementation/VisibilityClientImpl.java
  typespec-tests/src/main/java/tsptest/visibility/implementation/VisibilityWritesImpl.java
  typespec-tests/src/main/java/tsptest/visibility/models/ReadDog.java
  typespec-tests/src/main/java/tsptest/visibility/models/WriteDog.java
  typespec-tests/tsp/error.tsp
  typespec-tests/tsp/naming.tsp
  typespec-tests/tsp/response.tsp
  typespec-tests/tsp/visibility.tsp
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

add test case for xml with property of constant value
  Generate.ps1
  vanilla-tests/src/main/java/fixtures/xmlconstant/models/QueryRequest.java
  vanilla-tests/src/main/java/fixtures/xmlconstant/models/package-info.java
  vanilla-tests/src/main/java/fixtures/xmlconstant/package-info.java
  vanilla-tests/swagger/xml-constant.json
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

update after fix
  vanilla-tests/src/main/java/fixtures/xmlconstant/models/QueryRequest.java
  vanilla-tests/swagger/xml-constant.json
Due: eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

sync test
  typespec-tests/tsp/subclient.tsp
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

migrate to tsp-spector
  .gitignore
  eng/pipelines/ci-typespec-java-dev-nightly.yaml
  eng/pipelines/ci-typespec-java.yaml
  typespec-tests/Generate.ps1
  typespec-tests/package.json
  typespec-tests/pom.xml
  typespec-tests/readme.md
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

add --no-install
  eng/pipelines/ci-typespec-java-dev-nightly.yaml
  eng/pipelines/ci-typespec-java.yaml
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

remove Spector from displayName
  eng/pipelines/ci-typespec-java.yaml
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

comment
  typespec-tests/Generate.ps1
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

fix step
  eng/pipelines/ci-typespec-java.yaml
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

update command
  typespec-tests/package.json
  typespec-tests/readme.md
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

revert that Report only upload if CI runs on main
  eng/pipelines/ci-typespec-java.yaml
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

use npx --no-install
  typespec-tests/Generate.ps1
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

audit fix
  package-lock.json
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

sync test
  typespec-tests/src/main/java/tsptest/armresourceprovider/models/PriorityModel.java
  typespec-tests/src/main/java/tsptest/enumservice/models/OlympicRecordModel.java
  typespec-tests/src/main/java/tsptest/enumservice/models/PriorityModel.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

Path conditions:
  eng/pipelines/ci-cadl-java.yaml: any of: *, but not: fluent*, postprocessor, vanilla-tests, protocol*
  eng/pipelines/ci-typespec-java.yaml: any of: *, but not: androidgen, azure-dataplane-tests, azure-tests, fluent-tests, partial-update-tests, vanilla-tests, protocol*
  eng/pipelines/ci.yaml: any of: *, but not: fluent*, typespec*
  eng/pipelines/fluent_integration.yaml: any of: *, but not: typespec*
