Repository Azure/autorest.java: changes, and which Azure pipelines are due for each by the changed paths.
All: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

eng/pipelines/ci-cadl-java.yaml:
  jobs:
  - job: Build
    timeoutInMinutes: 30
    variables:
      JavaVersion: 1.8
      NodeVersion: 18.x
      isMain: $[eq(variables['Build.SourceBranch'], 'refs/heads/main')]
    pool:
      name: azsdk-pool-mms-ubuntu-2004-general
      vmImage: MMSUbuntu20.04
    steps:
    - task: NodeTool@0
  ...

eng/pipelines/ci-typespec-java.yaml:
  jobs:
  - job: Build
    timeoutInMinutes: 30
    variables:
    - template: /eng/pipelines/variables/globals.yml
    - name: isMain
      value: $[eq(variables['Build.SourceBranch'], 'refs/heads/main')]
    pool:
      name: azsdk-pool-mms-ubuntu-2004-general
      vmImage: MMSUbuntu20.04
    steps:
  ...

eng/pipelines/ci.yaml:
  jobs:
  - job: Build
    timeoutInMinutes: 60
    variables:
      JavaVersion: 1.11
      NodeVersion: 18.x
    pool:
      name: azsdk-pool-mms-ubuntu-2004-general
      vmImage: MMSUbuntu20.04
    steps:
    - task: NodeTool@0
      displayName: Install Node.js $(NodeVersion)
      inputs:
  ...

eng/pipelines/fluent_integration.yaml:
  jobs:
  - job: Build
    timeoutInMinutes: 60
    pool:
      name: azsdk-pool-mms-ubuntu-2004-general
      vmImage: MMSUbuntu20.04
    variables:
    - template: /eng/pipelines/variables/globals.yml
    steps:
    - task: NodeTool@0
      inputs:
        versionSpec: $(NodeVersion)
    - script: npm install autorest -g
  ...

re-generate test code
  vanilla-tests/src/test/java/fixtures/bodycomplex/generated/CookiecuttersharkTests.java
  vanilla-tests/src/test/java/fixtures/bodycomplex/generated/DotFishMarketTests.java
  vanilla-tests/src/test/java/fixtures/bodycomplex/generated/DotFishTests.java
  vanilla-tests/src/test/java/fixtures/bodycomplex/generated/DotSalmonTests.java
  vanilla-tests/src/test/java/fixtures/bodycomplex/generated/FishTests.java
  vanilla-tests/src/test/java/fixtures/bodycomplex/generated/GoblinsharkTests.java
  vanilla-tests/src/test/java/fixtures/bodycomplex/generated/MyBaseTypeTests.java
  vanilla-tests/src/test/java/fixtures/bodycomplex/generated/MyDerivedTypeTests.java
  vanilla-tests/src/test/java/fixtures/bodycomplex/generated/ReadonlyObjTests.java
  vanilla-tests/src/test/java/fixtures/bodycomplex/generated/SalmonTests.java
  vanilla-tests/src/test/java/fixtures/bodycomplex/generated/SawsharkTests.java
  vanilla-tests/src/test/java/fixtures/bodycomplex/generated/SharkTests.java
  vanilla-tests/src/test/java/fixtures/bodycomplex/generated/SmartSalmonTests.java
Due: eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

client, test gen, exclude PolymorphicDiscriminator property from mock data (#2726)
  javagen/src/main/java/com/azure/autorest/util/ModelTestCaseUtil.java
  vanilla-tests/src/test/java/fixtures/bodycomplex/generated/CookiecuttersharkTests.java
  vanilla-tests/src/test/java/fixtures/bodycomplex/generated/DotFishMarketTests.java
  vanilla-tests/src/test/java/fixtures/bodycomplex/generated/DotFishTests.java
  vanilla-tests/src/test/java/fixtures/bodycomplex/generated/DotSalmonTests.java
  vanilla-tests/src/test/java/fixtures/bodycomplex/generated/FishTests.java
  vanilla-tests/src/test/java/fixtures/bodycomplex/generated/GoblinsharkTests.java
  vanilla-tests/src/test/java/fixtures/bodycomplex/generated/MyBaseTypeTests.java
  vanilla-tests/src/test/java/fixtures/bodycomplex/generated/MyDerivedTypeTests.java
  vanilla-tests/src/test/java/fixtures/bodycomplex/generated/ReadonlyObjTests.java
  vanilla-tests/src/test/java/fixtures/bodycomplex/generated/SalmonTests.java
  vanilla-tests/src/test/java/fixtures/bodycomplex/generated/SawsharkTests.java
  vanilla-tests/src/test/java/fixtures/bodycomplex/generated/SharkTests.java
  vanilla-tests/src/test/java/fixtures/bodycomplex/generated/SmartSalmonTests.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

do not generate tag line, if no tag
  fluentgen/src/main/java/com/azure/autorest/fluent/model/projectmodel/FluentProject.java
Due: eng/pipelines/ci-typespec-java.yaml, eng/pipelines/fluent_integration.yaml

update script to use tsp-client --generate-lock-file
  eng/sdk/sync_sdk.py
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

bump to 0.15.15
  typespec-extension/changelog.md
  typespec-extension/package-lock.json
  typespec-extension/package.json
  typespec-tests/package.json
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

tsp, mgmt, no tag line in readme/changelog/pom, if generated from typespec (#2727)
  eng/sdk/sync_sdk.py
  fluentgen/src/main/java/com/azure/autorest/fluent/model/projectmodel/FluentProject.java
  typespec-extension/changelog.md
  typespec-extension/package-lock.json
  typespec-extension/package.json
  typespec-tests/package.json
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

refine code to limit type cast
  typespec-extension/src/code-model-builder.ts
  typespec-extension/src/type-utils.ts
  typespec-extension/src/utils.ts
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

refine code to limit type cast
  typespec-extension/src/operation-utils.ts
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

refine code to limit type cast
  typespec-extension/src/code-model-builder.ts
  typespec-extension/src/type-utils.ts
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

lint
  typespec-extension/src/code-model-builder.ts
  typespec-extension/src/utils.ts
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

Finalize code generation
  customization-base/README.md
  customization-base/src/main/java/com/azure/autorest/customization/ClassCustomization.java
  customization-base/src/main/java/com/azure/autorest/customization/ConstructorCustomization.java
  customization-base/src/main/java/com/azure/autorest/customization/JavadocCustomization.java
  customization-base/src/main/java/com/azure/autorest/customization/LibraryCustomization.java
  customization-base/src/main/java/com/azure/autorest/customization/MethodCustomization.java
  customization-base/src/main/java/com/azure/autorest/customization/PropertyCustomization.java
  customization-base/src/main/java/com/azure/autorest/customization/implementation/Utils.java
  customization-base/src/samples/java/com/azure/autorest/customization/ReadmeSamples.java
  customization-tests/src/main/java/fixtures/bodycomplex/ArrayClient.java
  customization-tests/src/main/java/fixtures/bodycomplex/implementation/models/CMYKColors.java
  customization-tests/src/main/java/fixtures/bodycomplex/implementation/models/DotSalmon.java
  customization-tests/src/main/java/fixtures/bodycomplex/implementation/models/Fish.java
  customization-tests/src/main/java/fixtures/bodycomplex/implementation/models/GoblinShark.java
  customization-tests/src/main/java/fixtures/bodycomplex/implementation/models/ReadonlyObj.java
  customization-tests/src/main/java/fixtures/bodycomplex/implementation/models/Shark.java
  customization-tests/swagger/src/main/java/BodyComplexCustomization.java
  typespec-tests/customization/src/main/java/CustomizationNestedDiscriminator.java
  typespec-tests/src/main/java/com/cadl/naming/NamingClient.java
  typespec-tests/src/main/java/com/encode/bytes/models/Base64urlArrayBytesProperty.java
  typespec-tests/src/main/java/com/type/model/inheritance/nesteddiscriminator/models/GoblinShark.java
  typespec-tests/src/main/java/com/type/model/inheritance/nesteddiscriminator/models/SawShark.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

Delete file so git can take the rename
  customization-tests/src/main/java/fixtures/bodycomplex/implementation/models/GoblinShark.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

update according to comments
  typespec-extension/src/code-model-builder.ts
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

format and lint
  typespec-extension/src/code-model-builder.ts
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

revert change
  .gitignore
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

Update typespec-extension/src/code-model-builder.ts
  typespec-extension/src/code-model-builder.ts
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

remove fallback on summary
  typespec-extension/src/code-model-builder.ts
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

Fix file name
  customization-tests/src/main/java/fixtures/bodycomplex/implementation/models/Goblinshark.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

test script, delete samples folder
  typespec-tests/Generate.ps1
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

update import HttpHeaderName, but they should be equivalent
  javagen/src/main/java/com/azure/autorest/template/example/ProtocolExampleWriter.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

projection in loadExamples
  typespec-extension/src/code-model-builder.ts
  typespec-extension/src/operation-utils.ts
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

always use projectionSource
  typespec-extension/src/code-model-builder.ts
  typespec-extension/src/operation-utils.ts
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

add etag to response
  typespec-tests/tsp/examples/2022-06-01-preview/EtagHeaders_ListWithEtag.json
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

re-generate test code
  azure-dataplane-tests/src/main/java/com/azure/ai/formrecognizer/documentanalysis/dpg/DocumentModelsAsyncClient.java
  azure-dataplane-tests/src/main/java/com/azure/ai/formrecognizer/documentanalysis/dpg/DocumentModelsClient.java
  azure-dataplane-tests/src/main/java/com/azure/ai/formrecognizer/documentanalysis/dpg/DocumentModelsClientBuilder.java
  azure-dataplane-tests/src/main/java/com/azure/ai/formrecognizer/documentanalysis/dpg/MiscellaneousAsyncClient.java
  azure-dataplane-tests/src/main/java/com/azure/ai/formrecognizer/documentanalysis/dpg/MiscellaneousClient.java
  azure-dataplane-tests/src/main/java/com/azure/ai/formrecognizer/documentanalysis/dpg/MiscellaneousClientBuilder.java
  azure-dataplane-tests/src/main/java/com/azure/ai/formrecognizer/documentanalysis/dpg/implementation/DocumentModelsImpl.java
  azure-dataplane-tests/src/main/java/com/azure/ai/formrecognizer/documentanalysis/dpg/implementation/FormRecognizerClientImpl.java
  azure-dataplane-tests/src/main/java/com/azure/ai/formrecognizer/documentanalysis/dpg/implementation/MiscellaneousImpl.java
  azure-dataplane-tests/src/main/java/com/azure/ai/formrecognizer/documentanalysis/implementation/DocumentModelsImpl.java
  azure-dataplane-tests/src/main/java/com/azure/ai/formrecognizer/documentanalysis/implementation/FormRecognizerClientImpl.java
  azure-dataplane-tests/src/main/java/com/azure/ai/formrecognizer/documentanalysis/implementation/MiscellaneousImpl.java
  azure-dataplane-tests/src/main/java/com/azure/ai/formrecognizer/documentanalysis/implementation/models/DocumentModelsAnalyzeDocumentHeaders.java
  azure-dataplane-tests/src/main/java/com/azure/ai/formrecognizer/documentanalysis/implementation/models/DocumentModelsBuildModelHeaders.java
  azure-dataplane-tests/src/main/java/com/azure/ai/formrecognizer/documentanalysis/implementation/models/DocumentModelsComposeModelHeaders.java
  azure-dataplane-tests/src/main/java/com/azure/ai/formrecognizer/documentanalysis/implementation/models/DocumentModelsCopyModelToHeaders.java
  typespec-tests/src/samples/java/com/_specs_/azure/core/ReadmeSamples.java
  typespec-tests/src/samples/java/com/cadl/versioning/generated/VersioningOpList.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

fix missing HttpHeaderName
  javagen/src/main/java/com/azure/autorest/template/example/ClientMethodExampleWriter.java
  typespec-tests/tsp/examples/2022-06-01-preview/EtagHeaders_PutWithRequestHeaders.json
  typespec-tests/tsp/special-headers.tsp
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

mv to 2022-09-01
  typespec-tests/tsp/examples/2022-09-01/VersioningOp_List.json
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

re-generate test code
  typespec-tests/src/main/java/com/cadl/specialheaders/EtagHeadersAsyncClient.java
  typespec-tests/src/main/java/com/cadl/specialheaders/EtagHeadersClient.java
  typespec-tests/src/main/java/com/cadl/specialheaders/implementation/EtagHeadersImpl.java
  typespec-tests/src/samples/java/com/cadl/specialheaders/generated/EtagHeadersListWithEtag.java
  typespec-tests/src/samples/java/com/cadl/versioning/generated/VersioningOpList.java
  typespec-tests/src/test/java/com/cadl/specialheaders/generated/EtagHeadersListWithEtagTests.java
  typespec-tests/src/test/java/com/cadl/specialheaders/generated/EtagHeadersPutWithRequestHeadersTests.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

bump tcgc
  eng/sdk/sync_sdk.py
  typespec-extension/changelog.md
  typespec-extension/package-lock.json
  typespec-extension/package.json
  typespec-tests/package.json
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

bump version for autorest.java
  azure-dataplane-tests/pom.xml
  azure-tests/pom.xml
  customization-base/src/main/resources/pom.xml
  customization-tests/pom.xml
  fluent-tests/pom.xml
  fluentnamer/pom.xml
  javagen/src/main/java/com/azure/autorest/model/projectmodel/Project.java
  package-lock.json
  package.json
  pom.xml
  protocol-sdk-integration-tests/eng/versioning/version_client.txt
  protocol-tests/pom.xml
  typespec-tests/pom.xml
  vanilla-tests/pom.xml
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

tsp, handle the case of optional Constant, but valueType already an enum
  preprocessor/src/main/java/com/azure/autorest/preprocessor/Preprocessor.java
  typespec-tests/tsp/enum.tsp
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

address feedback
  typespec-extension/src/code-model-builder.ts
  typespec-extension/src/operation-utils.ts
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

re-generate test code
  typespec-tests/src/main/java/com/cadl/enumservice/EnumServiceAsyncClient.java
  typespec-tests/src/main/java/com/cadl/enumservice/EnumServiceClient.java
  typespec-tests/src/main/java/com/cadl/enumservice/implementation/EnumServiceClientImpl.java
  typespec-tests/src/main/java/com/cadl/enumservice/models/Operation.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

nit
  preprocessor/src/main/java/com/azure/autorest/preprocessor/Preprocessor.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

tsp, update @azure-tools/cadl-ranch-specs to 0.13.1 1st PR
  typespec-tests/package.json
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

Path conditions:
  eng/pipelines/ci-cadl-java.yaml: any of: *, but not: fluent*, postprocessor, vanilla-tests, protocol*
  eng/pipelines/ci-typespec-java.yaml: any of: *, but not: androidgen, azure-dataplane-tests, azure-tests, fluent-tests, partial-update-tests, vanilla-tests, protocol*
  eng/pipelines/ci.yaml: any of: *, but not: fluent*, typespec*
  eng/pipelines/fluent_integration.yaml: any of: *, but not: typespec*
