Repository Azure/autorest.java: changes, and which Azure pipelines are due for each by the changed paths.
All: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

eng/pipelines/ci-cadl-java.yaml:
  jobs:
  - job: Build
    timeoutInMinutes: 30
    variables:
      JavaVersion: 1.8
      NodeVersion: 18.x
      isMain: $[eq(variables['Build.SourceBranch'], 'refs/heads/main')]
    pool:
      name: azsdk-pool-mms-ubuntu-2004-general
      vmImage: MMSUbuntu20.04
    steps:
    - task: NodeTool@0
  ...

eng/pipelines/ci-typespec-java.yaml:
  jobs:
  - job: Build
    timeoutInMinutes: 30
    variables:
    - template: /eng/pipelines/variables/globals.yml
    - name: isMain
      value: $[eq(variables['Build.SourceBranch'], 'refs/heads/main')]
    pool:
      name: azsdk-pool-mms-ubuntu-2004-general
      vmImage: MMSUbuntu20.04
    steps:
  ...

eng/pipelines/ci.yaml:
  jobs:
  - job: Build
    timeoutInMinutes: 60
    variables:
      JavaVersion: 1.11
      NodeVersion: 18.x
    pool:
      name: azsdk-pool-mms-ubuntu-2004-general
      vmImage: MMSUbuntu20.04
    steps:
    - task: NodeTool@0
      displayName: Install Node.js $(NodeVersion)
      inputs:
  ...

eng/pipelines/fluent_integration.yaml:
  jobs:
  - job: Build
    timeoutInMinutes: 60
    pool:
      name: azsdk-pool-mms-ubuntu-2004-general
      vmImage: MMSUbuntu20.04
    variables:
    - template: /eng/pipelines/variables/globals.yml
    steps:
    - task: NodeTool@0
      inputs:
        versionSpec: $(NodeVersion)
    - script: npm install autorest -g
  ...

update test
  typespec-tests/src/test/java/com/type/property/additionalproperties/ExtendsTests.java
  typespec-tests/src/test/java/com/type/property/additionalproperties/IsUnknownClientTest.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

tsp, fix wire name on header/query/path (#2848)
  typespec-extension/changelog.md
  typespec-extension/package-lock.json
  typespec-extension/package.json
  typespec-extension/src/code-model-builder.ts
  typespec-tests/package.json
  typespec-tests/src/main/java/com/_specs_/azure/core/model/ModelAsyncClient.java
  typespec-tests/src/main/java/com/_specs_/azure/core/model/ModelClient.java
  typespec-tests/src/main/java/com/_specs_/azure/core/model/ModelClientBuilder.java
  typespec-tests/src/main/java/com/_specs_/azure/core/model/ModelServiceVersion.java
  typespec-tests/src/main/java/com/_specs_/azure/core/model/implementation/AzureCoreEmbeddingVectorsImpl.java
  typespec-tests/src/main/java/com/_specs_/azure/core/model/implementation/ModelClientImpl.java
  typespec-tests/src/main/java/com/_specs_/azure/core/model/implementation/package-info.java
  typespec-tests/src/main/java/com/_specs_/azure/core/model/models/AzureEmbeddingModel.java
  typespec-tests/src/main/java/com/_specs_/azure/core/model/models/package-info.java
  typespec-tests/src/main/java/com/_specs_/azure/core/model/package-info.java
  typespec-tests/src/main/java/com/client/naming/NamingAsyncClient.java
  typespec-tests/src/main/java/com/client/naming/NamingClient.java
  typespec-tests/src/main/java/com/client/naming/implementation/NamingClientImpl.java
  typespec-tests/src/main/resources/_specs_-azure-core-model.properties
  typespec-tests/src/test/java/com/_specs_/azure/core/model/generated/ModelClientTestBase.java
  typespec-tests/src/test/java/com/type/property/additionalproperties/ExtendsTests.java
  typespec-tests/src/test/java/com/type/property/additionalproperties/IsUnknownClientTest.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

client, handle single repeatability header (#2845)
  javagen/src/main/java/com/azure/autorest/mapper/ProxyMethodMapper.java
  javagen/src/main/java/com/azure/autorest/template/ClientMethodTemplate.java
  javagen/src/main/java/com/azure/autorest/util/MethodUtil.java
  package-lock.json
  package.json
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

re-generate test code
  typespec-tests/src/main/java/com/client/naming/implementation/models/CompatibleWithEncodedNameRequest.java
  typespec-tests/src/main/java/com/client/naming/implementation/models/package-info.java
  typespec-tests/src/main/java/com/client/naming/models/ClientNameAndJsonEncodedNameModel.java
  typespec-tests/src/main/java/com/client/naming/models/ClientNameModel.java
  typespec-tests/src/main/java/com/client/naming/models/LanguageClientNameModel.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

update test
  typespec-tests/src/test/java/com/parameters/bodyoptionality/BodyTests.java
  typespec-tests/src/test/java/com/parameters/spread/SpreadTests.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

eng, sync-sdk script
  eng/sdk/sync_sdk.py
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

update commit id
  eng/sdk/sync_sdk.py
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

use tcgc 0.44.0-dev.19
  typespec-extension/package-lock.json
  typespec-extension/package.json
  typespec-tests/azure-tools-typespec-client-generator-core-0.44.0-pr-886.20240701.33.tgz
  typespec-tests/package.json
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

temporary remove typespec-autorest
  typespec-extension/package-lock.json
  typespec-extension/package.json
  typespec-tests/package.json
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

getHttpOperationWithCache
  typespec-extension/src/code-model-builder.ts
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

change example param name for anonymous model
  typespec-tests/tsp/examples/2022-06-01-preview/FlattenOp_Send.json
  typespec-tests/tsp/examples/2022-06-01-preview/FlattenOp_SendLong.json
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

use the same logic of fallback to "body" param
  javagen/src/main/java/com/azure/autorest/template/example/ClientMethodExampleWriter.java
  javagen/src/main/java/com/azure/autorest/util/ModelExampleUtil.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

re-generate test code
  typespec-tests/src/main/java/com/cadl/flatten/FlattenAsyncClient.java
  typespec-tests/src/main/java/com/cadl/flatten/FlattenClient.java
  typespec-tests/src/main/java/com/cadl/flatten/implementation/FlattenClientImpl.java
  typespec-tests/src/main/java/com/cadl/union/UnionAsyncClient.java
  typespec-tests/src/main/java/com/cadl/union/UnionClient.java
  typespec-tests/src/main/java/com/cadl/union/implementation/UnionFlattenOpsImpl.java
  typespec-tests/src/main/java/com/parameters/spread/AliasAsyncClient.java
  typespec-tests/src/main/java/com/parameters/spread/AliasClient.java
  typespec-tests/src/main/java/com/parameters/spread/implementation/AliasImpl.java
  typespec-tests/src/main/java/com/payload/multipart/MultiPartAsyncClient.java
  typespec-tests/src/main/java/com/payload/multipart/MultiPartClient.java
  typespec-tests/src/main/java/com/payload/multipart/implementation/FormDatasImpl.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

Update FlattenOp_SendLong.json
  typespec-tests/tsp/examples/2022-06-01-preview/FlattenOp_SendLong.json
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

tsp, TCGC getHttpOperationWithCache (#2849)
  javagen/src/main/java/com/azure/autorest/template/example/ClientMethodExampleWriter.java
  javagen/src/main/java/com/azure/autorest/util/ModelExampleUtil.java
  typespec-extension/src/code-model-builder.ts
  typespec-tests/src/main/java/com/cadl/flatten/FlattenAsyncClient.java
  typespec-tests/src/main/java/com/cadl/flatten/FlattenClient.java
  typespec-tests/src/main/java/com/cadl/flatten/implementation/FlattenClientImpl.java
  typespec-tests/src/main/java/com/cadl/union/UnionAsyncClient.java
  typespec-tests/src/main/java/com/cadl/union/UnionClient.java
  typespec-tests/src/main/java/com/cadl/union/implementation/UnionFlattenOpsImpl.java
  typespec-tests/src/main/java/com/parameters/spread/AliasAsyncClient.java
  typespec-tests/src/main/java/com/parameters/spread/AliasClient.java
  typespec-tests/src/main/java/com/parameters/spread/implementation/AliasImpl.java
  typespec-tests/src/main/java/com/payload/multipart/MultiPartAsyncClient.java
  typespec-tests/src/main/java/com/payload/multipart/MultiPartClient.java
  typespec-tests/src/main/java/com/payload/multipart/implementation/FormDatasImpl.java
  typespec-tests/tsp/examples/2022-06-01-preview/FlattenOp_Send.json
  typespec-tests/tsp/examples/2022-06-01-preview/FlattenOp_SendLong.json
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

mgmt, no jackson if sss
  fluentgen/src/main/java/com/azure/autorest/fluent/mapper/FluentMapper.java
Due: eng/pipelines/ci-typespec-java.yaml, eng/pipelines/fluent_integration.yaml

version bump
  package-lock.json
  package.json
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

mgmt, bug fix on module-info (#2850)
  fluentgen/src/main/java/com/azure/autorest/fluent/mapper/FluentMapper.java
  package-lock.json
  package.json
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

mgmt, truncate test file name, if path too long
  fluentgen/src/main/java/com/azure/autorest/fluent/model/javamodel/FluentJavaPackage.java
  javagen/src/main/java/com/azure/autorest/util/ClassNameUtil.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

tcgc 0.43.2
  typespec-extension/changelog.md
  typespec-extension/package-lock.json
  typespec-extension/package.json
  typespec-tests/Setup.ps1
  typespec-tests/package.json
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

re-generate test code
  typespec-tests/src/main/java/com/client/naming/ClientModelAsyncClient.java
  typespec-tests/src/main/java/com/client/naming/ClientModelClient.java
  typespec-tests/src/main/java/com/client/naming/NamingClientBuilder.java
  typespec-tests/src/main/java/com/client/naming/implementation/ClientModelsImpl.java
  typespec-tests/src/main/java/com/client/naming/implementation/NamingClientImpl.java
  typespec-tests/src/main/java/com/parameters/spread/ModelAsyncClient.java
  typespec-tests/src/main/java/com/parameters/spread/ModelClient.java
  typespec-tests/src/main/java/com/parameters/spread/implementation/ModelsImpl.java
  typespec-tests/src/test/java/com/client/naming/generated/NamingClientTestBase.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

update test
  typespec-tests/src/test/java/com/client/naming/NamingTests.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

doc
  typespec-extension/src/code-model-builder.ts
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

comment
  typespec-extension/src/code-model-builder.ts
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

mgmt, truncate test file name, if path too long (#2851)
  fluentgen/src/main/java/com/azure/autorest/fluent/model/javamodel/FluentJavaPackage.java
  javagen/src/main/java/com/azure/autorest/util/ClassNameUtil.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

tsp, spread implicit request body (#2821)
  typespec-extension/changelog.md
  typespec-extension/package-lock.json
  typespec-extension/package.json
  typespec-extension/src/code-model-builder.ts
  typespec-tests/package.json
  typespec-tests/src/main/java/com/client/naming/ClientModelAsyncClient.java
  typespec-tests/src/main/java/com/client/naming/ClientModelClient.java
  typespec-tests/src/main/java/com/client/naming/NamingClientBuilder.java
  typespec-tests/src/main/java/com/client/naming/implementation/ClientModelsImpl.java
  typespec-tests/src/main/java/com/client/naming/implementation/NamingClientImpl.java
  typespec-tests/src/main/java/com/parameters/bodyoptionality/BodyOptionalityAsyncClient.java
  typespec-tests/src/main/java/com/parameters/bodyoptionality/BodyOptionalityClient.java
  typespec-tests/src/main/java/com/parameters/bodyoptionality/implementation/BodyOptionalityClientImpl.java
  typespec-tests/src/main/java/com/parameters/bodyoptionality/implementation/models/RequiredImplicitRequest.java
  typespec-tests/src/main/java/com/parameters/bodyoptionality/implementation/models/package-info.java
  typespec-tests/src/main/java/com/parameters/spread/AliasAsyncClient.java
  typespec-tests/src/main/java/com/parameters/spread/AliasClient.java
  typespec-tests/src/main/java/com/parameters/spread/ModelAsyncClient.java
  typespec-tests/src/main/java/com/parameters/spread/ModelClient.java
  typespec-tests/src/main/java/com/parameters/spread/implementation/ModelsImpl.java
  typespec-tests/src/main/java/com/parameters/spread/implementation/models/SpreadAsRequestBodyRequest1.java
  typespec-tests/src/main/java/com/parameters/spread/implementation/models/SpreadCompositeRequestMixRequest.java
  typespec-tests/src/test/java/com/client/naming/NamingTests.java
  typespec-tests/src/test/java/com/client/naming/generated/NamingClientTestBase.java
  typespec-tests/src/test/java/com/parameters/bodyoptionality/BodyTests.java
  typespec-tests/src/test/java/com/parameters/spread/SpreadTests.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

convert more functions from using raw to tcgc types
  typespec-extension/src/code-model-builder.ts
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

update test
  typespec-tests/tsp/internal.tsp
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

Fix a few tests
  azure-tests/src/test/java/fixtures/azurespecials/AzureSpecialParametersTests.java
  azure-tests/src/test/java/fixtures/lro/LroCustomHeaderTests.java
  azure-tests/src/test/java/fixtures/lro/LroNoRetryTests.java
  azure-tests/src/test/java/fixtures/lro/LroTests.java
  azure-tests/src/test/java/fixtures/lroparameterizedendpoints/LroParameterizedEndpointsTests.java
  azure-tests/src/test/java/fixtures/paging/PagingTests.java
  fluentgen/src/main/java/com/azure/autorest/fluent/util/FluentUtils.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

Don't default to ResponseBase in Fluent
  extension-base/src/main/java/com/azure/autorest/extension/base/plugin/JavaSettings.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

Use more unique names for paging lambda parameters
  javagen/src/main/java/com/azure/autorest/template/ConvenienceAsyncMethodTemplate.java
  typespec-tests/src/main/java/com/_specs_/azure/core/basic/BasicAsyncClient.java
  typespec-tests/src/main/java/com/_specs_/azure/core/basic/TwoModelsAsPageItemAsyncClient.java
  typespec-tests/src/main/java/com/cadl/protocolandconvenient/ProtocolAndConvenientAsyncClient.java
  typespec-tests/src/main/java/com/cadl/response/ResponseAsyncClient.java
  typespec-tests/src/main/java/com/cadl/specialheaders/EtagHeadersAsyncClient.java
  typespec-tests/src/main/java/com/cadl/versioning/VersioningAsyncClient.java
  typespec-tests/src/main/java/com/payload/pageable/PageableAsyncClient.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

Use more unique names for paging lambda parameters (#2854)
  javagen/src/main/java/com/azure/autorest/template/ConvenienceAsyncMethodTemplate.java
  typespec-tests/src/main/java/com/_specs_/azure/core/basic/BasicAsyncClient.java
  typespec-tests/src/main/java/com/_specs_/azure/core/basic/TwoModelsAsPageItemAsyncClient.java
  typespec-tests/src/main/java/com/cadl/protocolandconvenient/ProtocolAndConvenientAsyncClient.java
  typespec-tests/src/main/java/com/cadl/response/ResponseAsyncClient.java
  typespec-tests/src/main/java/com/cadl/specialheaders/EtagHeadersAsyncClient.java
  typespec-tests/src/main/java/com/cadl/versioning/VersioningAsyncClient.java
  typespec-tests/src/main/java/com/payload/pageable/PageableAsyncClient.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

update logic to judge if bodyParameterFlatten
  typespec-extension/src/code-model-builder.ts
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

skip constant value for convenience api param
  typespec-extension/src/code-model-builder.ts
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

add a test for constant in param
  typespec-tests/tsp/flatten.tsp
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

re-generate test code
  typespec-tests/src/main/java/com/cadl/flatten/implementation/FlattenClientImpl.java
  typespec-tests/src/main/java/com/cadl/multicontenttypes/implementation/MultiContentTypesClientImpl.java
  typespec-tests/src/main/java/com/cadl/multicontenttypes/implementation/MultipleContentTypesOnRequestsImpl.java
  typespec-tests/src/main/java/com/cadl/multicontenttypes/implementation/SingleContentTypesImpl.java
  typespec-tests/src/main/java/com/cadl/multipart/implementation/MultipartClientImpl.java
  typespec-tests/src/main/java/com/cadl/patch/implementation/PatchesImpl.java
  typespec-tests/src/main/java/com/encode/bytes/implementation/RequestBodiesImpl.java
  typespec-tests/src/main/java/com/payload/jsonmergepatch/implementation/JsonMergePatchClientImpl.java
  typespec-tests/src/main/java/com/payload/mediatype/implementation/StringBodiesImpl.java
  typespec-tests/src/main/java/com/payload/multipart/implementation/FormDatasImpl.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

tsp, convenience api skip param of constant value (#2855)
  typespec-extension/src/code-model-builder.ts
  typespec-tests/src/main/java/com/cadl/flatten/implementation/FlattenClientImpl.java
  typespec-tests/src/main/java/com/cadl/multicontenttypes/implementation/MultiContentTypesClientImpl.java
  typespec-tests/src/main/java/com/cadl/multicontenttypes/implementation/MultipleContentTypesOnRequestsImpl.java
  typespec-tests/src/main/java/com/cadl/multicontenttypes/implementation/SingleContentTypesImpl.java
  typespec-tests/src/main/java/com/cadl/multipart/implementation/MultipartClientImpl.java
  typespec-tests/src/main/java/com/cadl/patch/implementation/PatchesImpl.java
  typespec-tests/src/main/java/com/encode/bytes/implementation/RequestBodiesImpl.java
  typespec-tests/src/main/java/com/payload/jsonmergepatch/implementation/JsonMergePatchClientImpl.java
  typespec-tests/src/main/java/com/payload/mediatype/implementation/StringBodiesImpl.java
  typespec-tests/src/main/java/com/payload/multipart/implementation/FormDatasImpl.java
  typespec-tests/tsp/flatten.tsp
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

Path conditions:
  eng/pipelines/ci-cadl-java.yaml: any of: *, but not: fluent*, postprocessor, vanilla-tests, protocol*
  eng/pipelines/ci-typespec-java.yaml: any of: *, but not: androidgen, azure-dataplane-tests, azure-tests, fluent-tests, partial-update-tests, vanilla-tests, protocol*
  eng/pipelines/ci.yaml: any of: *, but not: fluent*, typespec*
  eng/pipelines/fluent_integration.yaml: any of: *, but not: typespec*
