Repository Azure/autorest.java: changes, and which Azure pipelines are due for each by the changed paths.
All: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

Path conditions:
  eng/pipelines/ci-cadl-java.yaml: any of: *, but not: fluent*, postprocessor, vanilla-tests, protocol*
  eng/pipelines/ci-typespec-java.yaml: any of: *, but not: azure-dataplane-tests, azure-tests, fluent-tests, partial-update-tests, vanilla-tests, protocol*
  eng/pipelines/ci.yaml: any of: *, but not: fluent*, typespec*
  eng/pipelines/fluent_integration.yaml: any of: *, but not: typespec*

eng, sync the fix for nightly build (#3165)
  azure-dataplane-tests/src/main/java/com/azure/data/schemaregistry/implementation/SchemaGroupsOperationsImpl.java
  azure-dataplane-tests/src/main/java/com/azure/data/schemaregistry/implementation/SchemasImpl.java
  protocol-tests/src/main/java/fixtures/dpgcustomization/implementation/DpgClientImpl.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

Update Package for Latest Dependencies and Prepare for Patch Release 0.31.9 (#3167)
  typespec-extension/changelog.md
  typespec-extension/package-lock.json
  typespec-extension/package.json
  typespec-tests/package.json
  typespec-tests/src/main/java/azure/clientgenerator/core/methodoverride/GroupParametersAsyncClient.java
  typespec-tests/src/main/java/azure/clientgenerator/core/methodoverride/GroupParametersClient.java
  typespec-tests/src/main/java/azure/clientgenerator/core/methodoverride/OverrideClientBuilder.java
  typespec-tests/src/main/java/azure/clientgenerator/core/methodoverride/ReorderParametersAsyncClient.java
  typespec-tests/src/main/java/azure/clientgenerator/core/methodoverride/ReorderParametersClient.java
  typespec-tests/src/main/java/azure/clientgenerator/core/methodoverride/implementation/GroupParametersImpl.java
  typespec-tests/src/main/java/azure/clientgenerator/core/methodoverride/implementation/OverrideClientImpl.java
  typespec-tests/src/main/java/azure/clientgenerator/core/methodoverride/implementation/ReorderParametersImpl.java
  typespec-tests/src/main/java/azure/clientgenerator/core/methodoverride/implementation/package-info.java
  typespec-tests/src/main/java/azure/clientgenerator/core/methodoverride/models/GroupParametersOptions.java
  typespec-tests/src/main/java/azure/clientgenerator/core/methodoverride/models/package-info.java
  typespec-tests/src/main/java/azure/clientgenerator/core/methodoverride/package-info.java
  typespec-tests/src/main/java/tsptest/errormodel/models/InnerError.java
  typespec-tests/src/main/java/type/union/discriminated/DiscriminatedClientBuilder.java
  typespec-tests/src/main/java/type/union/discriminated/EnvelopeObjectCustomPropertiesAsyncClient.java
  typespec-tests/src/main/java/type/union/discriminated/EnvelopeObjectCustomPropertiesClient.java
  typespec-tests/src/main/java/type/union/discriminated/EnvelopeObjectDefaultAsyncClient.java
  typespec-tests/src/main/java/type/union/discriminated/EnvelopeObjectDefaultClient.java
  typespec-tests/src/main/java/type/union/discriminated/NoEnvelopeCustomDiscriminatorAsyncClient.java
  typespec-tests/src/main/java/type/union/discriminated/NoEnvelopeCustomDiscriminatorClient.java
  typespec-tests/src/main/java/type/union/discriminated/NoEnvelopeDefaultAsyncClient.java
  typespec-tests/src/main/java/type/union/discriminated/NoEnvelopeDefaultClient.java
  typespec-tests/src/main/java/type/union/discriminated/implementation/DiscriminatedClientImpl.java
  typespec-tests/src/main/java/type/union/discriminated/implementation/EnvelopeObjectCustomPropertiesImpl.java
  typespec-tests/src/main/java/type/union/discriminated/implementation/EnvelopeObjectDefaultsImpl.java
  typespec-tests/src/main/java/type/union/discriminated/implementation/NoEnvelopeCustomDiscriminatorsImpl.java
  typespec-tests/src/main/java/type/union/discriminated/implementation/NoEnvelopeDefaultsImpl.java
  typespec-tests/src/main/java/type/union/discriminated/implementation/package-info.java
  typespec-tests/src/main/java/type/union/discriminated/package-info.java
  typespec-tests/src/main/resources/azure-clientgenerator-core-methodoverride.properties
  typespec-tests/src/main/resources/type-union-discriminated.properties
  typespec-tests/src/test/java/azure/clientgenerator/core/methodoverride/generated/OverrideClientTestBase.java
  typespec-tests/src/test/java/type/union/discriminated/generated/DiscriminatedClientTestBase.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

use dev
  typespec-extension/package-lock.json
  typespec-extension/package.json
  typespec-tests/package.json
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

bump tcgc
  typespec-extension/package-lock.json
  typespec-extension/package.json
  typespec-tests/package.json
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

Update Package for Latest Dependencies and Prepare for Patch Release 0.31.10 (#3171)
  typespec-extension/changelog.md
  typespec-extension/package-lock.json
  typespec-extension/package.json
  typespec-tests/package.json
  typespec-tests/src/test/java/azure/clientgenerator/core/methodoverride/OverrideTests.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

bump dev latest
  typespec-extension/package-lock.json
  typespec-extension/package.json
  typespec-tests/package.json
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

sync test
  typespec-tests/src/test/java/azure/clientgenerator/core/methodoverride/OverrideTests.java
  typespec-tests/tsp/arm-stream-style-serialization.tsp
  typespec-tests/tsp/response.tsp
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

bump dev
  typespec-extension/package-lock.json
  typespec-extension/package.json
  typespec-tests/package.json
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

update dev
  typespec-extension/package-lock.json
  typespec-extension/package.json
  typespec-tests/package.json
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

sync test
  typespec-tests/Generate.ps1
  typespec-tests/src/main/java/tsptest/naming/models/RunObject.java
  typespec-tests/src/main/java/tsptest/naming/models/RunObjectLastErrorCodeRenamed.java
  typespec-tests/src/main/java/tsptest/naming/models/RunObjectLastErrorRenamed.java
  typespec-tests/tsp/arm-stream-style-serialization.tsp
  typespec-tests/tsp/response.tsp
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

bump java dep
  azure-dataplane-tests/pom.xml
  azure-tests/pom.xml
  customization-base/pom.xml
  customization-base/src/main/resources/pom.xml
  customization-tests/pom.xml
  fluent-tests/pom.xml
  fluentgen/pom.xml
  javagen/pom.xml
  partial-update/pom.xml
  pom.xml
  protocol-sdk-integration-tests/eng/versioning/version_client.txt
  protocol-tests/pom.xml
  typespec-tests/pom.xml
  vanilla-tests/pom.xml
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

bump npm dep
  typespec-extension/package-lock.json
  typespec-extension/package.json
  typespec-tests/package.json
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

sync test
  typespec-tests/src/main/java/tsptest/armstreamstyleserialization/fluent/models/ResultData.java
  typespec-tests/src/main/java/tsptest/armstreamstyleserialization/models/Result.java
  typespec-tests/tsp/arm-stream-style-serialization.tsp
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

Update Node.JS package dependencies - sync peerDependencies and overrides
  typespec-extension/package.json
  typespec-tests/package.json
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

commit file
  .github/copilot-instructions.md
  typespec-extension/package-lock.json
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

bump version for release
  package-lock.json
  package.json
  typespec-extension/changelog.md
  typespec-extension/package-lock.json
  typespec-extension/package.json
  typespec-tests/package.json
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

sync core
  typespec-tests/src/main/java/authentication/apikey/implementation/ApiKeyClientImpl.java
  typespec-tests/src/main/java/authentication/http/custom/implementation/CustomClientImpl.java
  typespec-tests/src/main/java/authentication/oauth2/implementation/OAuth2ClientImpl.java
  typespec-tests/src/main/java/azure/core/basic/implementation/BasicClientImpl.java
  typespec-tests/src/main/java/azure/resourcemanager/operationtemplates/implementation/LroesClientImpl.java
  typespec-tests/src/main/java/azure/resourcemanager/resources/implementation/ExtensionsResourcesClientImpl.java
  typespec-tests/src/main/java/azure/resourcemanager/resources/implementation/LocationResourcesClientImpl.java
  typespec-tests/src/main/java/azure/resourcemanager/resources/implementation/NestedsClientImpl.java
  typespec-tests/src/main/java/azure/resourcemanager/resources/implementation/TopLevelsClientImpl.java
  typespec-tests/src/main/java/response/statuscoderange/implementation/StatusCodeRangeClientImpl.java
  typespec-tests/src/main/java/tsptest/armresourceprovider/implementation/ChildExtensionResourceInterfacesClientImpl.java
  typespec-tests/src/main/java/tsptest/armresourceprovider/implementation/ChildResourcesInterfacesClientImpl.java
  typespec-tests/src/main/java/tsptest/armresourceprovider/implementation/ManagedMaintenanceWindowStatusOperationsClientImpl.java
  typespec-tests/src/main/java/tsptest/armresourceprovider/implementation/ModelInterfaceSameNamesClientImpl.java
  typespec-tests/src/main/java/tsptest/armresourceprovider/implementation/TopLevelArmResourceInterfacesClientImpl.java
  typespec-tests/src/main/java/tsptest/methodoverride/implementation/MethodOverrideClientImpl.java
  typespec-tests/src/main/java/tsptest/response/implementation/ResponseClientImpl.java
  typespec-tests/src/main/java/tsptest/specialheaders/implementation/SkipSpecialHeadersImpl.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

revert core and dep to tcgc 0.58.0
  typespec-extension/package-lock.json
  typespec-extension/package.json
  typespec-tests/package.json
  typespec-tests/src/main/java/authentication/apikey/implementation/ApiKeyClientImpl.java
  typespec-tests/src/main/java/authentication/http/custom/implementation/CustomClientImpl.java
  typespec-tests/src/main/java/authentication/oauth2/implementation/OAuth2ClientImpl.java
  typespec-tests/src/main/java/azure/core/basic/implementation/BasicClientImpl.java
  typespec-tests/src/main/java/azure/resourcemanager/operationtemplates/implementation/LroesClientImpl.java
  typespec-tests/src/main/java/azure/resourcemanager/resources/implementation/ExtensionsResourcesClientImpl.java
  typespec-tests/src/main/java/azure/resourcemanager/resources/implementation/LocationResourcesClientImpl.java
  typespec-tests/src/main/java/azure/resourcemanager/resources/implementation/NestedsClientImpl.java
  typespec-tests/src/main/java/azure/resourcemanager/resources/implementation/TopLevelsClientImpl.java
  typespec-tests/src/main/java/response/statuscoderange/implementation/StatusCodeRangeClientImpl.java
  typespec-tests/src/main/java/tsptest/armresourceprovider/fluent/ChildResourcesInterfacesClient.java
  typespec-tests/src/main/java/tsptest/armresourceprovider/implementation/ChildExtensionResourceInterfacesClientImpl.java
  typespec-tests/src/main/java/tsptest/armresourceprovider/implementation/ChildResourcesInterfacesClientImpl.java
  typespec-tests/src/main/java/tsptest/armresourceprovider/implementation/ManagedMaintenanceWindowStatusOperationsClientImpl.java
  typespec-tests/src/main/java/tsptest/armresourceprovider/implementation/ModelInterfaceSameNamesClientImpl.java
  typespec-tests/src/main/java/tsptest/armresourceprovider/implementation/TopLevelArmResourceInterfacesClientImpl.java
  typespec-tests/src/main/java/tsptest/armresourceprovider/implementation/models/ChildResourceListResult.java
  typespec-tests/src/main/java/tsptest/armresourceprovider/models/ChildResourcesInterfaces.java
  typespec-tests/src/main/java/tsptest/methodoverride/implementation/MethodOverrideClientImpl.java
  typespec-tests/src/main/java/tsptest/response/implementation/ResponseClientImpl.java
  typespec-tests/src/main/java/tsptest/specialheaders/implementation/SkipSpecialHeadersImpl.java
  typespec-tests/tsp/arm.tsp
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

eng, prepare release 0.31.11 (#3172)
  .github/copilot-instructions.md
  azure-dataplane-tests/pom.xml
  azure-tests/pom.xml
  customization-base/pom.xml
  customization-base/src/main/resources/pom.xml
  customization-tests/pom.xml
  fluent-tests/pom.xml
  fluentgen/pom.xml
  javagen/pom.xml
  package-lock.json
  package.json
  partial-update/pom.xml
  pom.xml
  protocol-sdk-integration-tests/eng/versioning/version_client.txt
  protocol-tests/pom.xml
  typespec-extension/changelog.md
  typespec-extension/package-lock.json
  typespec-extension/package.json
  typespec-tests/Generate.ps1
  typespec-tests/package.json
  typespec-tests/pom.xml
  typespec-tests/src/main/java/tsptest/armresourceprovider/fluent/ChildResourcesInterfacesClient.java
  typespec-tests/src/main/java/tsptest/armresourceprovider/implementation/ChildResourcesInterfacesClientImpl.java
  typespec-tests/src/main/java/tsptest/armresourceprovider/implementation/models/ChildResourceListResult.java
  typespec-tests/src/main/java/tsptest/armresourceprovider/models/ChildResourcesInterfaces.java
  typespec-tests/src/main/java/tsptest/armstreamstyleserialization/fluent/models/ResultData.java
  typespec-tests/src/main/java/tsptest/armstreamstyleserialization/models/Result.java
  typespec-tests/src/main/java/tsptest/naming/models/RunObject.java
  typespec-tests/src/main/java/tsptest/naming/models/RunObjectLastErrorCodeRenamed.java
  typespec-tests/src/main/java/tsptest/naming/models/RunObjectLastErrorRenamed.java
  typespec-tests/tsp/arm-stream-style-serialization.tsp
  typespec-tests/tsp/arm.tsp
  typespec-tests/tsp/response.tsp
  vanilla-tests/pom.xml
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

test dev tcgc
  typespec-extension/package-lock.json
  typespec-extension/package.json
  typespec-tests/package.json
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

remove overload test for now
  typespec-tests/Generate.ps1
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

fix profile
  typespec-extension/src/options.ts
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

bug fix, missed this
  typespec-extension/src/options.ts
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

expose rename-model, as it is not for DPG too
  typespec-extension/src/options.ts
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

expose rename-model, as it is now enabled for DPG too
  readme.md
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

add property-include-always in options.ts
  typespec-extension/src/options.ts
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

sync core on main
  typespec-tests/Generate.ps1
  typespec-tests/src/main/java/tsptest/armstreamstyleserialization/fluent/models/FunctionConfiguration.java
  typespec-tests/src/test/java/tsptest/armstreamstyleserialization/StreamStyleSerializationTests.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

Update options.ts for rename-model (#3174)
  readme.md
  typespec-extension/src/options.ts
  typespec-tests/Generate.ps1
  typespec-tests/src/main/java/tsptest/armstreamstyleserialization/fluent/models/FunctionConfiguration.java
  typespec-tests/src/test/java/tsptest/armstreamstyleserialization/StreamStyleSerializationTests.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml
