Repository Azure/autorest.java: changes, and which Azure pipelines are due for each by the changed paths.
All: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

Path conditions:
  eng/pipelines/ci-cadl-java.yaml: any of: *, but not: fluent*, postprocessor, vanilla-tests, protocol*
  eng/pipelines/ci-typespec-java.yaml: any of: *, but not: azure-dataplane-tests, azure-tests, fluent-tests, partial-update-tests, vanilla-tests, protocol*
  eng/pipelines/ci.yaml: any of: *, but not: fluent*, typespec*
  eng/pipelines/fluent_integration.yaml: any of: *, but not: typespec*

maven-help-plugin no longer in eng/versioning/external_dependencies.txt
  eng/versioning/external_dependencies.txt
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

bump 0.37.2
  typespec-extension/changelog.md
  typespec-extension/package-lock.json
  typespec-extension/package.json
  typespec-tests/package.json
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

bump autorest.java
  package-lock.json
  package.json
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

update core.patch
  core.patch
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

prepare 0.37.2 (#3235)
  core.patch
  eng/versioning/external_dependencies.txt
  package-lock.json
  package.json
  typespec-extension/changelog.md
  typespec-extension/package-lock.json
  typespec-extension/package.json
  typespec-tests/package.json
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

eng, sync core (#3236)
  core.patch
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

sync test
  typespec-tests/src/main/java/tsptest/armresourceprovider/fluent/LroNoBodiesClient.java
  typespec-tests/src/main/java/tsptest/armresourceprovider/implementation/LroNoBodiesClientImpl.java
  typespec-tests/src/main/java/tsptest/armresourceprovider/implementation/LroNoBodiesImpl.java
  typespec-tests/src/main/java/tsptest/armresourceprovider/models/ActionFinalResult.java
  typespec-tests/src/main/java/tsptest/armresourceprovider/models/LroNoBodies.java
  typespec-tests/src/test/java/tsptest/arm/LroResponseTests.java
  typespec-tests/src/test/java/tsptest/armstreamstyleserialization/StreamStyleSerializationTests.java
  typespec-tests/tsp/arm.tsp
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

do not use specs main branch
  fluent-tests/Initialize-Tests.ps1
Due: eng/pipelines/fluent_integration.yaml

swagger moved
  protocol-sdk-integration-tests/data-specs.json
Due: eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

Http client java fix final result model removed (#3237)
  fluent-tests/Initialize-Tests.ps1
  protocol-sdk-integration-tests/data-specs.json
  typespec-tests/src/main/java/tsptest/armresourceprovider/fluent/LroNoBodiesClient.java
  typespec-tests/src/main/java/tsptest/armresourceprovider/implementation/LroNoBodiesClientImpl.java
  typespec-tests/src/main/java/tsptest/armresourceprovider/implementation/LroNoBodiesImpl.java
  typespec-tests/src/main/java/tsptest/armresourceprovider/models/ActionFinalResult.java
  typespec-tests/src/main/java/tsptest/armresourceprovider/models/LroNoBodies.java
  typespec-tests/src/test/java/tsptest/arm/LroResponseTests.java
  typespec-tests/src/test/java/tsptest/armstreamstyleserialization/StreamStyleSerializationTests.java
  typespec-tests/tsp/arm.tsp
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

typespec-java: prepare release 0.37.3 (#3241)
  typespec-extension/changelog.md
  typespec-extension/package-lock.json
  typespec-extension/package.json
  typespec-tests/package.json
  typespec-tests/src/main/java/documentation/DocumentationClientBuilder.java
  typespec-tests/src/main/java/documentation/ListsAsyncClient.java
  typespec-tests/src/main/java/documentation/ListsClient.java
  typespec-tests/src/main/java/documentation/TextFormattingAsyncClient.java
  typespec-tests/src/main/java/documentation/TextFormattingClient.java
  typespec-tests/src/main/java/documentation/implementation/DocumentationClientImpl.java
  typespec-tests/src/main/java/documentation/implementation/ListsImpl.java
  typespec-tests/src/main/java/documentation/implementation/TextFormattingsImpl.java
  typespec-tests/src/main/java/documentation/implementation/package-info.java
  typespec-tests/src/main/java/documentation/lists/implementation/models/BulletPointsModelRequest.java
  typespec-tests/src/main/java/documentation/lists/implementation/models/package-info.java
  typespec-tests/src/main/java/documentation/lists/models/BulletPointsEnum.java
  typespec-tests/src/main/java/documentation/lists/models/BulletPointsModel.java
  typespec-tests/src/main/java/documentation/lists/models/package-info.java
  typespec-tests/src/main/java/documentation/package-info.java
  typespec-tests/src/main/java/encode/array/ArrayAsyncClient.java
  typespec-tests/src/main/java/encode/array/ArrayClient.java
  typespec-tests/src/main/java/encode/array/ArrayClientBuilder.java
  typespec-tests/src/main/java/encode/array/implementation/ArrayClientImpl.java
  typespec-tests/src/main/java/encode/array/implementation/PropertiesImpl.java
  typespec-tests/src/main/java/encode/array/implementation/package-info.java
  typespec-tests/src/main/java/encode/array/models/CommaDelimitedArrayProperty.java
  typespec-tests/src/main/java/encode/array/models/NewlineDelimitedArrayProperty.java
  typespec-tests/src/main/java/encode/array/models/PipeDelimitedArrayProperty.java
  typespec-tests/src/main/java/encode/array/models/SpaceDelimitedArrayProperty.java
  typespec-tests/src/main/java/encode/array/models/package-info.java
  typespec-tests/src/main/java/encode/array/package-info.java
  typespec-tests/src/main/java/specialwords/ModelPropertiesAsyncClient.java
  typespec-tests/src/main/java/specialwords/ModelPropertiesClient.java
  typespec-tests/src/main/java/specialwords/implementation/ModelPropertiesImpl.java
  typespec-tests/src/main/java/specialwords/modelproperties/models/DictMethods.java
  typespec-tests/src/main/resources/documentation.properties
  typespec-tests/src/main/resources/encode-array.properties
  typespec-tests/src/test/java/documentation/generated/DocumentationClientTestBase.java
  typespec-tests/src/test/java/encode/array/generated/ArrayClientTestBase.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

core on branch
  typespec-tests/src/main/java/encode/array/models/CommaDelimitedArrayProperty.java
  typespec-tests/src/main/java/encode/array/models/NewlineDelimitedArrayProperty.java
  typespec-tests/src/main/java/encode/array/models/PipeDelimitedArrayProperty.java
  typespec-tests/src/main/java/encode/array/models/SpaceDelimitedArrayProperty.java
  typespec-tests/src/test/java/azure/clientgenerator/core/clientlocation/ClientLocationClientTests.java
  typespec-tests/src/test/java/encode/array/EncodeArraySerializationTests.java
  typespec-tests/src/test/java/encode/array/EncodeArrayTests.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

version bump
  typespec-extension/changelog.md
  typespec-extension/package-lock.json
  typespec-extension/package.json
  typespec-tests/package.json
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

add spec of client-side-validations to options.ts
  typespec-extension/src/options.ts
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

fix changelog
  typespec-extension/changelog.md
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

update core
  typespec-tests/src/test/java/encode/array/EncodeArraySerializationTests.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

core on main
  typespec-tests/src/main/java/tsptest/builtin/BuiltinAsyncClient.java
  typespec-tests/src/main/java/tsptest/builtin/BuiltinClient.java
  typespec-tests/src/main/java/tsptest/builtin/implementation/BuiltinOpsImpl.java
  typespec-tests/src/main/java/tsptest/builtin/models/Encoded.java
  typespec-tests/src/samples/java/tsptest/builtin/generated/BuiltinOpWrite.java
  typespec-tests/src/test/java/tsptest/builtin/generated/BuiltinOpReadTests.java
  typespec-tests/src/test/java/tsptest/builtin/generated/BuiltinOpWriteTests.java
  typespec-tests/tsp/builtin.tsp
  typespec-tests/tsp/examples/BuiltinOp_Read.json
  typespec-tests/tsp/examples/BuiltinOp_Write.json
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

changelog
  typespec-extension/changelog.md
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

eng, prepare release 0.37.4 (#3242)
  typespec-extension/changelog.md
  typespec-extension/package-lock.json
  typespec-extension/package.json
  typespec-extension/src/options.ts
  typespec-tests/package.json
  typespec-tests/src/main/java/encode/array/models/CommaDelimitedArrayProperty.java
  typespec-tests/src/main/java/encode/array/models/NewlineDelimitedArrayProperty.java
  typespec-tests/src/main/java/encode/array/models/PipeDelimitedArrayProperty.java
  typespec-tests/src/main/java/encode/array/models/SpaceDelimitedArrayProperty.java
  typespec-tests/src/main/java/tsptest/builtin/BuiltinAsyncClient.java
  typespec-tests/src/main/java/tsptest/builtin/BuiltinClient.java
  typespec-tests/src/main/java/tsptest/builtin/implementation/BuiltinOpsImpl.java
  typespec-tests/src/main/java/tsptest/builtin/models/Encoded.java
  typespec-tests/src/samples/java/tsptest/builtin/generated/BuiltinOpWrite.java
  typespec-tests/src/test/java/azure/clientgenerator/core/clientlocation/ClientLocationClientTests.java
  typespec-tests/src/test/java/encode/array/EncodeArraySerializationTests.java
  typespec-tests/src/test/java/encode/array/EncodeArrayTests.java
  typespec-tests/src/test/java/tsptest/builtin/generated/BuiltinOpReadTests.java
  typespec-tests/src/test/java/tsptest/builtin/generated/BuiltinOpWriteTests.java
  typespec-tests/tsp/builtin.tsp
  typespec-tests/tsp/examples/BuiltinOp_Read.json
  typespec-tests/tsp/examples/BuiltinOp_Write.json
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

Update changelog.md
  typespec-extension/changelog.md
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

sync script
  typespec-tests/Generate.ps1
  typespec-tests/package.json
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

add test
  fluent-tests/Initialize-Tests.ps1
  fluent-tests/src/test/java/com/azure/mgmttest/LiteCompilationTests.java
Due: eng/pipelines/fluent_integration.yaml

fix test
  fluent-tests/src/test/java/com/azure/mgmttest/LiteCompilationTests.java
Due: eng/pipelines/fluent_integration.yaml

fix test arg
  fluent-tests/Initialize-Tests.ps1
Due: eng/pipelines/fluent_integration.yaml
