Repository Azure/autorest.java: changes, and which Azure pipelines are due for each by the changed paths.
All: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

Path conditions:
  eng/pipelines/ci-cadl-java.yaml: any of: *, but not: fluent*, postprocessor, vanilla-tests, protocol*
  eng/pipelines/ci-typespec-java.yaml: any of: *, but not: androidgen, azure-dataplane-tests, azure-tests, fluent-tests, partial-update-tests, vanilla-tests, protocol*
  eng/pipelines/ci.yaml: any of: *, but not: fluent*, typespec*
  eng/pipelines/fluent_integration.yaml: any of: *, but not: typespec*

Remove unused package-private setting in JSON merge patch models
  javagen/src/main/java/com/azure/autorest/template/ModelTemplate.java
  typespec-tests/src/main/java/com/cadl/patch/models/Fish.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

client, use CoreUtils.createHttpHeadersFromClientOptions in Builder
  javagen/src/main/java/com/azure/autorest/template/TemplateHelper.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

add a mock test
  typespec-tests/src/test/java/com/cadl/builtin/ClientOptionsTests.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

change test case for mutable=create
  typespec-tests/tsp/arm.tsp
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

re-generate test code
  typespec-tests/src/main/java/com/cadl/armresourceprovider/fluent/models/TopLevelArmResourceUpdateProperties.java
  typespec-tests/src/main/java/com/cadl/armresourceprovider/implementation/TopLevelArmResourceImpl.java
  typespec-tests/src/main/java/com/cadl/armresourceprovider/models/TopLevelArmResource.java
  typespec-tests/src/main/java/com/cadl/armresourceprovider/models/TopLevelArmResourceUpdate.java
  typespec-tests/src/main/resources/META-INF/native-image/com.azure.resourcemanager/azure-resourcemanager-armresourceprovider-generated/reflect-config.json
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

output m4 x-ms-mutability
  typespec-extension/src/code-model-builder.ts
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

use TCGC's name for model property schema name and union
  typespec-extension/src/code-model-builder.ts
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

regen
  typespec-tests/src/main/java/com/cadl/literalservice/LiteralServiceAsyncClient.java
  typespec-tests/src/main/java/com/cadl/literalservice/LiteralServiceClient.java
  typespec-tests/src/main/java/com/cadl/literalservice/models/Model.java
  typespec-tests/src/main/java/com/cadl/literalservice/models/ModelOptionalLiteralOptionalLiteral.java
  typespec-tests/src/main/java/com/cadl/literalservice/models/PutRequestOptionalLiteralParam.java
  typespec-tests/src/main/java/com/type/property/optional/models/BooleanLiteralProperty.java
  typespec-tests/src/main/java/com/type/property/optional/models/BooleanLiteralPropertyPropertyTrue.java
  typespec-tests/src/main/java/com/type/property/optional/models/FloatLiteralProperty.java
  typespec-tests/src/main/java/com/type/property/optional/models/FloatLiteralPropertyProperty125.java
  typespec-tests/src/main/java/com/type/property/optional/models/IntLiteralProperty.java
  typespec-tests/src/main/java/com/type/property/optional/models/IntLiteralPropertyProperty1.java
  typespec-tests/src/main/java/com/type/property/optional/models/StringLiteralProperty.java
  typespec-tests/src/main/java/com/type/property/optional/models/StringLiteralPropertyPropertyHello.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

remove unused functions
  typespec-extension/src/code-model-builder.ts
  typespec-extension/src/type-utils.ts
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

tsp, visibility to m4 x-ms-mutable (#2786)
  typespec-extension/src/code-model-builder.ts
  typespec-tests/src/main/java/com/cadl/armresourceprovider/fluent/models/TopLevelArmResourceUpdateProperties.java
  typespec-tests/src/main/java/com/cadl/armresourceprovider/implementation/TopLevelArmResourceImpl.java
  typespec-tests/src/main/java/com/cadl/armresourceprovider/models/TopLevelArmResource.java
  typespec-tests/src/main/java/com/cadl/armresourceprovider/models/TopLevelArmResourceUpdate.java
  typespec-tests/src/main/resources/META-INF/native-image/com.azure.resourcemanager/azure-resourcemanager-armresourceprovider-generated/reflect-config.json
  typespec-tests/tsp/arm.tsp
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

change the union schema's name back
  typespec-extension/src/code-model-builder.ts
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

use tcgc name for constant schema
  typespec-extension/src/code-model-builder.ts
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

include x-ms-original-file in example dict
  typespec-extension/src/operation-utils.ts
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

refactor
  javagen/src/main/java/com/azure/autorest/model/clientmodel/ProxyMethodExample.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

resolve the relativeOriginalFileName with the help of tsp-location content
  javagen/src/main/java/com/azure/autorest/model/clientmodel/ProxyMethodExample.java
  typespec-extension/src/main/java/com/azure/typespec/Main.java
  typespec-extension/src/main/java/com/azure/typespec/util/TspLocationUtil.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

bump to 0.16.1
  typespec-extension/changelog.md
  typespec-extension/package-lock.json
  typespec-extension/package.json
  typespec-tests/package.json
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

unit test
  javagen/src/main/java/com/azure/autorest/model/clientmodel/ProxyMethodExample.java
  javagen/src/test/java/com/azure/autorest/model/clientmodel/ProxyMethodExampleTests.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

upgrade junit5 for javagen
  javagen/pom.xml
  javagen/src/test/java/com/azure/autorest/JavagenUnitTests.java
  javagen/src/test/java/com/azure/autorest/MockUnitJavagen.java
  javagen/src/test/java/com/azure/autorest/mapper/ClientMethodMapperTests.java
  javagen/src/test/java/com/azure/autorest/mapper/PomMapperTests.java
  javagen/src/test/java/com/azure/autorest/template/TestProxyAssertsTemplateTests.java
  javagen/src/test/java/com/azure/autorest/util/ClassNameUtilTests.java
  javagen/src/test/java/com/azure/autorest/util/CodeNamerTests.java
  javagen/src/test/java/com/azure/autorest/util/ModelTestCaseUtilTests.java
  javagen/src/test/java/com/azure/autorest/util/SchemaUtilTests.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

add the invalid test
  typespec-tests/src/test/java/com/type/enums/fixed/FixedClientTest.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

junit5
  postprocessor/pom.xml
  preprocessor/pom.xml
  preprocessor/src/test/java/com/azure/autorest/PreprocessorTests.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

bump org.eclipse.jdt.core to latest/3.37.0
  postprocessor/pom.xml
Due: eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

3.33.0
  postprocessor/pom.xml
Due: eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

eng, bump org.eclipse.jdt.core to latest Java11 -- 3.33.0 (#2790)
  postprocessor/pom.xml
Due: eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

add BeforeAllTestsExtension to init mock javagen/fluentgen
  fluentgen/src/test/java/com/azure/autorest/BeforeAllTestsExtension.java
  fluentgen/src/test/resources/META-INF/services/org.junit.jupiter.api.extension.Extension
  javagen/pom.xml
  javagen/src/test/java/com/azure/autorest/BeforeAllTestsExtension.java
  javagen/src/test/resources/META-INF/services/org.junit.jupiter.api.extension.Extension
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

tsp, generate origin (JSON) example file name in mgmt sample files (#2789)
  fluentgen/src/test/java/com/azure/autorest/BeforeAllTestsExtension.java
  fluentgen/src/test/resources/META-INF/services/org.junit.jupiter.api.extension.Extension
  javagen/pom.xml
  javagen/src/main/java/com/azure/autorest/model/clientmodel/ProxyMethodExample.java
  javagen/src/test/java/com/azure/autorest/BeforeAllTestsExtension.java
  javagen/src/test/java/com/azure/autorest/JavagenUnitTests.java
  javagen/src/test/java/com/azure/autorest/MockUnitJavagen.java
  javagen/src/test/java/com/azure/autorest/mapper/ClientMethodMapperTests.java
  javagen/src/test/java/com/azure/autorest/mapper/PomMapperTests.java
  javagen/src/test/java/com/azure/autorest/model/clientmodel/ProxyMethodExampleTests.java
  javagen/src/test/java/com/azure/autorest/template/TestProxyAssertsTemplateTests.java
  javagen/src/test/java/com/azure/autorest/util/ClassNameUtilTests.java
  javagen/src/test/java/com/azure/autorest/util/CodeNamerTests.java
  javagen/src/test/java/com/azure/autorest/util/ModelTestCaseUtilTests.java
  javagen/src/test/java/com/azure/autorest/util/SchemaUtilTests.java
  javagen/src/test/resources/META-INF/services/org.junit.jupiter.api.extension.Extension
  postprocessor/pom.xml
  preprocessor/pom.xml
  preprocessor/src/test/java/com/azure/autorest/PreprocessorTests.java
  typespec-extension/changelog.md
  typespec-extension/package-lock.json
  typespec-extension/package.json
  typespec-extension/src/main/java/com/azure/typespec/Main.java
  typespec-extension/src/main/java/com/azure/typespec/util/TspLocationUtil.java
  typespec-extension/src/operation-utils.ts
  typespec-tests/package.json
  typespec-tests/src/test/java/com/type/enums/fixed/FixedClientTest.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

Remove polymorphic discriminator from JSON merge patch tracking (#2784)
  javagen/src/main/java/com/azure/autorest/template/ModelTemplate.java
  javagen/src/main/java/com/azure/autorest/template/StreamSerializationModelTemplate.java
  typespec-tests/src/main/java/com/_specs_/azure/core/basic/models/UserOrder.java
  typespec-tests/src/main/java/com/cadl/patch/models/Fish.java
  typespec-tests/src/main/java/com/cadl/patch/models/Salmon.java
  typespec-tests/src/main/java/com/cadl/patch/models/SawShark.java
  typespec-tests/src/main/java/com/cadl/patch/models/Shark.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

Remove JSON merge patch usage from output only models
  javagen/src/main/java/com/azure/autorest/mapper/ModelMapper.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

Remove JSON merge patch usage from output only models (#2793)
  javagen/src/main/java/com/azure/autorest/mapper/ModelMapper.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

fix tests
  typespec-tests/src/test/java/com/type/property/optional/BooleanLiteralClientTests.java
  typespec-tests/src/test/java/com/type/property/optional/FloatLiteralClientTests.java
  typespec-tests/src/test/java/com/type/property/optional/IntLiteralClientTests.java
  typespec-tests/src/test/java/com/type/property/optional/StringLiteralClientTests.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

bump version to 0.16.2
  typespec-extension/changelog.md
  typespec-extension/package-lock.json
  typespec-extension/package.json
  typespec-tests/package.json
  typespec-tests/pom.xml
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

remove the logic of getting name from raw model and scalar
  typespec-extension/src/code-model-builder.ts
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

regen
  typespec-tests/src/main/java/com/cadl/specialchars/SpecialCharsAsyncClient.java
  typespec-tests/src/main/java/com/cadl/specialchars/SpecialCharsClient.java
  typespec-tests/src/main/java/com/cadl/specialchars/implementation/BuiltinOpsImpl.java
  typespec-tests/src/main/java/com/parameters/basic/ImplicitBodyAsyncClient.java
  typespec-tests/src/main/java/com/parameters/basic/ImplicitBodyClient.java
  typespec-tests/src/main/java/com/parameters/basic/implementation/ImplicitBodiesImpl.java
  typespec-tests/src/main/java/com/parameters/spread/AliasAsyncClient.java
  typespec-tests/src/main/java/com/parameters/spread/AliasClient.java
  typespec-tests/src/main/java/com/parameters/spread/implementation/AliasImpl.java
  typespec-tests/src/main/java/com/type/union/EnumsOnlyAsyncClient.java
  typespec-tests/src/main/java/com/type/union/EnumsOnlyClient.java
  typespec-tests/src/main/java/com/type/union/FloatsOnlyAsyncClient.java
  typespec-tests/src/main/java/com/type/union/FloatsOnlyClient.java
  typespec-tests/src/main/java/com/type/union/IntsOnlyAsyncClient.java
  typespec-tests/src/main/java/com/type/union/IntsOnlyClient.java
  typespec-tests/src/main/java/com/type/union/MixedLiteralsAsyncClient.java
  typespec-tests/src/main/java/com/type/union/MixedLiteralsClient.java
  typespec-tests/src/main/java/com/type/union/MixedTypesAsyncClient.java
  typespec-tests/src/main/java/com/type/union/MixedTypesClient.java
  typespec-tests/src/main/java/com/type/union/ModelsOnlyAsyncClient.java
  typespec-tests/src/main/java/com/type/union/ModelsOnlyClient.java
  typespec-tests/src/main/java/com/type/union/StringAndArrayAsyncClient.java
  typespec-tests/src/main/java/com/type/union/StringAndArrayClient.java
  typespec-tests/src/main/java/com/type/union/StringExtensibleAsyncClient.java
  typespec-tests/src/main/java/com/type/union/StringExtensibleClient.java
  typespec-tests/src/main/java/com/type/union/StringExtensibleNamedAsyncClient.java
  typespec-tests/src/main/java/com/type/union/StringExtensibleNamedClient.java
  typespec-tests/src/main/java/com/type/union/StringsOnlyAsyncClient.java
  typespec-tests/src/main/java/com/type/union/StringsOnlyClient.java
  typespec-tests/src/main/java/com/type/union/implementation/EnumsOnliesImpl.java
  typespec-tests/src/main/java/com/type/union/implementation/FloatsOnliesImpl.java
  typespec-tests/src/main/java/com/type/union/implementation/IntsOnliesImpl.java
  typespec-tests/src/main/java/com/type/union/implementation/MixedLiteralsImpl.java
  typespec-tests/src/main/java/com/type/union/implementation/MixedTypesImpl.java
  typespec-tests/src/main/java/com/type/union/implementation/ModelsOnliesImpl.java
  typespec-tests/src/main/java/com/type/union/implementation/StringAndArraysImpl.java
  typespec-tests/src/main/java/com/type/union/implementation/StringExtensibleNamedsImpl.java
  typespec-tests/src/main/java/com/type/union/implementation/StringExtensiblesImpl.java
  typespec-tests/src/main/java/com/type/union/implementation/StringsOnliesImpl.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

clean up unused function
  typespec-extension/src/type-utils.ts
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

validateBuilder and validateClient
  javagen/src/main/java/com/azure/autorest/template/ServiceClientBuilderTemplate.java
  javagen/src/main/java/com/azure/autorest/template/TemplateHelper.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml
