Repository Azure/autorest.java: changes, and which Azure pipelines are due for each by the changed paths.
All: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

Path conditions:
  eng/pipelines/ci-cadl-java.yaml: any of: *, but not: fluent*, postprocessor, vanilla-tests, protocol*
  eng/pipelines/ci-typespec-java.yaml: any of: *, but not: androidgen, azure-dataplane-tests, azure-tests, fluent-tests, partial-update-tests, vanilla-tests, protocol*
  eng/pipelines/ci.yaml: any of: *, but not: fluent*, typespec*
  eng/pipelines/fluent_integration.yaml: any of: *, but not: typespec*

add typespec/readme.md
  docs/developer/code-generator-mode.md
  docs/developer/readme.md
  docs/developer/typespec/readme.md
  typespec-tests/.vscode/launch.json
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

run mvn package after codegen of DPG
  eng/sdk/sync_sdk.py
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

revert package.json as dev
  typespec-extension/package.json
  typespec-tests/package.json
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

add pageable test
  fluent-tests/Initialize-Tests.ps1
  fluent-tests/swagger/sync-stack.json
Due: eng/pipelines/fluent_integration.yaml

minor update
  docs/developer/typespec/readme.md
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

Update docs/developer/readme.md
  docs/developer/readme.md
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

update about temp output dir
  docs/developer/design.md
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

sync test
  typespec-tests/src/main/java/tsptest/flatten/FlattenAsyncClient.java
  typespec-tests/src/main/java/tsptest/flatten/FlattenClient.java
  typespec-tests/src/main/java/tsptest/flatten/implementation/FlattenClientImpl.java
  typespec-tests/src/main/java/tsptest/flatten/implementation/MultipartFormDataHelper.java
  typespec-tests/src/main/java/tsptest/flatten/implementation/models/UploadFileRequest.java
  typespec-tests/src/main/java/tsptest/flatten/implementation/models/UploadTodoRequest.java
  typespec-tests/src/main/java/tsptest/flatten/models/FileDataFileDetails.java
  typespec-tests/src/main/java/tsptest/flatten/models/UploadTodoOptions.java
  typespec-tests/tsp/flatten.tsp
  typespec-tests/tsp/multipart.tsp
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

update on vanilla mode
  docs/developer/code-generator-mode.md
  docs/developer/design.md
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

use java8 for fluent-test
  fluent-tests/pom.xml
Due: eng/pipelines/fluent_integration.yaml

log file removal
  fluent-tests/Initialize-Tests.ps1
Due: eng/pipelines/fluent_integration.yaml

add log
  fluent-tests/Initialize-Tests.ps1
Due: eng/pipelines/fluent_integration.yaml

more logs
  fluent-tests/Initialize-Tests.ps1
Due: eng/pipelines/fluent_integration.yaml

run codesnippet:update-codesnippet
  eng/sdk/sync_sdk.py
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

ss
  readme.md
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

use release instead of source and target
  fluent-tests/pom.xml
Due: eng/pipelines/fluent_integration.yaml

set generation timeout to a higher value
  fluent-tests/Initialize-Tests.ps1
Due: eng/pipelines/fluent_integration.yaml

add compilation test
  fluent-tests/Initialize-Tests.ps1
  fluent-tests/gen_all.py
  fluent-tests/src/test/java/com/azure/mgmttest/LiteCompilationTests.java
Due: eng/pipelines/fluent_integration.yaml

test case for binary
  fluent-tests/swagger/sync-stack.json
Due: eng/pipelines/fluent_integration.yaml

add "Publish customization libraries to Maven"
  docs/developer/readme.md
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

use dev of spector
  typespec-tests/package.json
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

use dev of azure-http-specs
  typespec-tests/package.json
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

sync Generate.ps1
  typespec-tests/Generate.ps1
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

use dev
  typespec-tests/package.json
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

vanilla test
  Generate.ps1
  fluent-tests/swagger/sync-stack.json
  vanilla-tests/swagger/binary-request-response.json
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

update test
  typespec-tests/src/test/java/type/union/UnionsClientTest.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

re-generate test code
  azure-dataplane-tests/src/main/java/com/azure/ai/formrecognizer/documentanalysis/implementation/DocumentModelsImpl.java
  azure-dataplane-tests/src/main/java/com/azure/containers/containerregistry/implementation/ContainerRegistriesImpl.java
  azure-dataplane-tests/src/main/java/com/azure/containers/containerregistry/implementation/ContainerRegistryBlobsImpl.java
  azure-dataplane-tests/src/main/java/com/azure/data/schemaregistry/implementation/SchemasImpl.java
  vanilla-tests/src/main/java/fixtures/binaryrequestresponse/Binaries.java
  vanilla-tests/src/main/java/fixtures/binaryrequestresponse/BinariesClient.java
  vanilla-tests/src/main/java/fixtures/binaryrequestresponse/BinariesClientBuilder.java
  vanilla-tests/src/main/java/fixtures/binaryrequestresponse/package-info.java
  vanilla-tests/src/main/java/fixtures/binaryrequestresponsesync/Binaries.java
  vanilla-tests/src/main/java/fixtures/binaryrequestresponsesync/BinariesClient.java
  vanilla-tests/src/main/java/fixtures/binaryrequestresponsesync/BinariesClientBuilder.java
  vanilla-tests/src/main/java/fixtures/binaryrequestresponsesync/package-info.java
  vanilla-tests/src/main/java/fixtures/mediatypes/MediaTypesClient.java
  vanilla-tests/src/main/java/fixtures/requiredoptional/Explicits.java
  vanilla-tests/src/main/java/fixtures/requiredoptional/Implicits.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

fix test
  vanilla-tests/src/test/java/fixtures/mediatypes/MediaTypesTests.java
Due: eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

bump core
  typespec-tests/src/main/java/tsptest/armresourceprovider/implementation/ArmResourceProviderClientImpl.java
  typespec-tests/src/main/java/tsptest/armresourceprovider/implementation/ChildExtensionResourceInterfacesClientImpl.java
  typespec-tests/src/main/java/tsptest/armresourceprovider/implementation/ChildResourcesInterfacesClientImpl.java
  typespec-tests/src/main/java/tsptest/armresourceprovider/implementation/CustomTemplateResourceInterfacesClientImpl.java
  typespec-tests/src/main/java/tsptest/armresourceprovider/implementation/ManagedMaintenanceWindowStatusOperationsClientImpl.java
  typespec-tests/src/main/java/tsptest/armresourceprovider/implementation/ModelInterfaceSameNamesClientImpl.java
  typespec-tests/src/main/java/tsptest/armresourceprovider/implementation/OperationsClientImpl.java
  typespec-tests/src/main/java/tsptest/armresourceprovider/implementation/TopLevelArmResourceInterfacesClientImpl.java
  typespec-tests/src/main/java/tsptest/multipart/MultipartAsyncClient.java
  typespec-tests/src/main/java/tsptest/multipart/MultipartClient.java
  typespec-tests/src/main/java/tsptest/multipart/models/FileDetails.java
  typespec-tests/src/main/java/tsptest/multipart/models/UploadHttpPartRequest.java
  typespec-tests/src/test/java/encode/bytes/EncodeBytesTests.java
  typespec-tests/tsp/multipart.tsp
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml
