Repository Azure/autorest.java: changes, and which Azure pipelines are due for each by the changed paths.
All: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

Path conditions:
  eng/pipelines/ci-cadl-java.yaml: any of: *, but not: fluent*, postprocessor, vanilla-tests, protocol*
  eng/pipelines/ci-typespec-java.yaml: any of: *, but not: androidgen, azure-dataplane-tests, azure-tests, fluent-tests, partial-update-tests, vanilla-tests, protocol*
  eng/pipelines/ci.yaml: any of: *, but not: fluent*, typespec*
  eng/pipelines/fluent_integration.yaml: any of: *, but not: typespec*

sync core
  typespec-tests/src/samples/java/azure/example/basic/generated/BasicAction.java
  typespec-tests/src/samples/java/tsptest/builtin/generated/BuiltinOpRead.java
  typespec-tests/src/samples/java/tsptest/flatten/generated/FlattenOpSend.java
  typespec-tests/src/samples/java/tsptest/flatten/generated/FlattenOpSendLong.java
  typespec-tests/src/samples/java/tsptest/longrunning/generated/LongRunningCreateJob.java
  typespec-tests/src/samples/java/tsptest/model/generated/ModelOpPutNested.java
  typespec-tests/src/samples/java/tsptest/multicontenttypes/generated/SingleContentTypeUploadImageForSingleContentType.java
  typespec-tests/src/samples/java/tsptest/response/generated/ResponseOpExists.java
  typespec-tests/src/samples/java/tsptest/response/generated/ResponseOpListStrings.java
  typespec-tests/src/samples/java/tsptest/specialchars/generated/BuiltinOpRead.java
  typespec-tests/src/samples/java/tsptest/specialheaders/generated/EtagHeadersListWithEtag.java
  typespec-tests/src/samples/java/tsptest/specialheaders/generated/EtagHeadersPutWithRequestHeaders.java
  typespec-tests/src/samples/java/tsptest/versioning/generated/VersioningOpList.java
  typespec-tests/src/test/java/encode/bytes/EncodeBytesTests.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

minor dep bump
  typespec-extension/package-lock.json
  typespec-extension/package.json
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

remove unnecessary option
  typespec-tests/Generate.ps1
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

fix script
  typespec-tests/Generate.ps1
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

update list of sdks to skip
  eng/sdk/sync_sdk.py
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

bump azure-http-specs
  typespec-tests/package.json
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

update core
  typespec-tests/src/main/java/tsptest/armresourceprovider/ArmResourceProviderManager.java
  typespec-tests/src/main/java/tsptest/armresourceprovider/fluent/ArmResourceProviderClient.java
  typespec-tests/src/main/java/tsptest/armresourceprovider/implementation/ArmResourceProviderClientImpl.java
  typespec-tests/src/main/java/tsptest/enumservice/EnumServiceAsyncClient.java
  typespec-tests/src/main/java/tsptest/enumservice/EnumServiceClient.java
  typespec-tests/src/main/java/tsptest/enumservice/implementation/EnumServiceClientImpl.java
  typespec-tests/src/main/resources/META-INF/native-image/com.azure.resourcemanager/azure-resourcemanager-armresourceprovider-generated/proxy-config.json
  typespec-tests/src/main/resources/META-INF/native-image/com.azure.resourcemanager/azure-resourcemanager-armresourceprovider-generated/reflect-config.json
  typespec-tests/src/test/java/tsptest/enumservice/EnumTests.java
  typespec-tests/tsp/arm.tsp
  typespec-tests/tsp/enum.tsp
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

redirect output to null
  eng/pipelines/ci-typespec-java.yaml
  typespec-tests/Generate.ps1
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

sync core
  typespec-tests/src/main/java/tsptest/armresourceprovider/fluent/ManagedMaintenanceWindowStatusOperationsClient.java
  typespec-tests/src/main/java/tsptest/armresourceprovider/fluent/ModelInterfaceSameNamesClient.java
  typespec-tests/src/main/java/tsptest/armresourceprovider/fluent/models/ManagedMaintenanceWindowStatusContentProperties.java
  typespec-tests/src/main/java/tsptest/armresourceprovider/fluent/models/ManagedMaintenanceWindowStatusInner.java
  typespec-tests/src/main/java/tsptest/armresourceprovider/fluent/models/ModelInterfaceDifferentNameProperties.java
  typespec-tests/src/main/java/tsptest/armresourceprovider/fluent/models/ModelInterfaceSameNameInner.java
  typespec-tests/src/main/java/tsptest/armresourceprovider/implementation/ManagedMaintenanceWindowStatusImpl.java
  typespec-tests/src/main/java/tsptest/armresourceprovider/implementation/ManagedMaintenanceWindowStatusOperationsClientImpl.java
  typespec-tests/src/main/java/tsptest/armresourceprovider/implementation/ManagedMaintenanceWindowStatusOperationsImpl.java
  typespec-tests/src/main/java/tsptest/armresourceprovider/implementation/ModelInterfaceSameNameImpl.java
  typespec-tests/src/main/java/tsptest/armresourceprovider/implementation/ModelInterfaceSameNamesClientImpl.java
  typespec-tests/src/main/java/tsptest/armresourceprovider/implementation/ModelInterfaceSameNamesImpl.java
  typespec-tests/src/main/java/tsptest/armresourceprovider/models/ManagedMaintenanceWindowStatus.java
  typespec-tests/src/main/java/tsptest/armresourceprovider/models/ManagedMaintenanceWindowStatusOperations.java
  typespec-tests/src/main/java/tsptest/armresourceprovider/models/ModelInterfaceSameName.java
  typespec-tests/src/main/java/tsptest/armresourceprovider/models/ModelInterfaceSameNames.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

still having problem with optional dependency, disable to workaround
  eng/pipelines/ci-typespec-java.yaml
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

bump tcgc and http-specs
  typespec-extension/package-lock.json
  typespec-extension/package.json
  typespec-tests/package.json
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

core on main branch
  typespec-tests/src/main/java/versioning/returntypechangedfrom/ReturnTypeChangedFromAsyncClient.java
  typespec-tests/src/main/java/versioning/returntypechangedfrom/ReturnTypeChangedFromClient.java
  typespec-tests/src/main/java/versioning/returntypechangedfrom/implementation/ReturnTypeChangedFromClientImpl.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

channgelog
  typespec-extension/changelog.md
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

eng, sync PR 6669
  typespec-extension/package-lock.json
  typespec-extension/package.json
  typespec-tests/package.json
  typespec-tests/src/main/java/azure/core/page/implementation/PageClientImpl.java
  typespec-tests/src/main/java/payload/multipart/FormDataAsyncClient.java
  typespec-tests/src/main/java/payload/multipart/FormDataClient.java
  typespec-tests/src/main/java/payload/multipart/implementation/FormDatasImpl.java
  typespec-tests/src/main/java/payload/multipart/implementation/models/AnonymousModelRequest.java
  typespec-tests/src/main/java/payload/multipart/implementation/models/package-info.java
  typespec-tests/src/main/java/type/model/visibility/VisibilityAsyncClient.java
  typespec-tests/src/main/java/type/model/visibility/VisibilityClient.java
  typespec-tests/src/main/java/type/model/visibility/implementation/VisibilityClientImpl.java
  typespec-tests/src/main/java/type/model/visibility/models/VisibilityModel.java
  typespec-tests/src/test/java/payload/multipart/MultipartTests.java
  typespec-tests/src/test/java/type/model/visibility/AutomaticClientTest.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

pin spector/spec-api version
  typespec-tests/package.json
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

eng sync, pin spector and spec-api (#3051)
  typespec-tests/package.json
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

remove android
  checkstyle-suppressions.xml
  docs/developer/design.md
  generate-android.bat
  readme.md
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

remove preprocessor, fluentnamer, postprocess from doc
  .gitignore
  docs/developer/design.md
  docs/developer/readme.md
  package.json
  readme.md
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

remove ref on extension-base, it should be replaced by http-client-generator-core
  docs/developer/design.md
  readme.md
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

sync tests
  typespec-extension/package-lock.json
  typespec-tests/package.json
  typespec-tests/src/main/java/azure/resourcemanager/nonresource/NonResourceManager.java
  typespec-tests/src/main/java/azure/resourcemanager/nonresource/fluent/NonResourceClient.java
  typespec-tests/src/main/java/azure/resourcemanager/nonresource/fluent/NonResourceOperationsClient.java
  typespec-tests/src/main/java/azure/resourcemanager/nonresource/fluent/models/NonResourceInner.java
  typespec-tests/src/main/java/azure/resourcemanager/nonresource/fluent/models/package-info.java
  typespec-tests/src/main/java/azure/resourcemanager/nonresource/fluent/package-info.java
  typespec-tests/src/main/java/azure/resourcemanager/nonresource/implementation/NonResourceClientBuilder.java
  typespec-tests/src/main/java/azure/resourcemanager/nonresource/implementation/NonResourceClientImpl.java
  typespec-tests/src/main/java/azure/resourcemanager/nonresource/implementation/NonResourceImpl.java
  typespec-tests/src/main/java/azure/resourcemanager/nonresource/implementation/NonResourceOperationsClientImpl.java
  typespec-tests/src/main/java/azure/resourcemanager/nonresource/implementation/NonResourceOperationsImpl.java
  typespec-tests/src/main/java/azure/resourcemanager/nonresource/implementation/ResourceManagerUtils.java
  typespec-tests/src/main/java/azure/resourcemanager/nonresource/implementation/package-info.java
  typespec-tests/src/main/java/azure/resourcemanager/nonresource/models/NonResource.java
  typespec-tests/src/main/java/azure/resourcemanager/nonresource/models/NonResourceOperations.java
  typespec-tests/src/main/java/azure/resourcemanager/nonresource/models/package-info.java
  typespec-tests/src/main/java/azure/resourcemanager/nonresource/package-info.java
  typespec-tests/src/main/java/payload/multipart/formdata/models/AnonymousModelRequest.java
  typespec-tests/src/main/java/payload/multipart/formdata/models/package-info.java
  typespec-tests/src/main/resources/META-INF/native-image/com.azure.resourcemanager/azure-resourcemanager-nonresource-generated/proxy-config.json
  typespec-tests/src/main/resources/META-INF/native-image/com.azure.resourcemanager/azure-resourcemanager-nonresource-generated/reflect-config.json
  typespec-tests/src/main/resources/azure-resourcemanager-nonresource-generated.properties
  typespec-tests/src/test/java/azure/resourcemanager/nonresource/NonResourceTests.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

eng, sync PR 6669 (#3049)
  typespec-extension/package-lock.json
  typespec-extension/package.json
  typespec-tests/package.json
  typespec-tests/src/main/java/azure/core/page/implementation/PageClientImpl.java
  typespec-tests/src/main/java/azure/resourcemanager/nonresource/NonResourceManager.java
  typespec-tests/src/main/java/azure/resourcemanager/nonresource/fluent/NonResourceClient.java
  typespec-tests/src/main/java/azure/resourcemanager/nonresource/fluent/NonResourceOperationsClient.java
  typespec-tests/src/main/java/azure/resourcemanager/nonresource/fluent/models/NonResourceInner.java
  typespec-tests/src/main/java/azure/resourcemanager/nonresource/fluent/models/package-info.java
  typespec-tests/src/main/java/azure/resourcemanager/nonresource/fluent/package-info.java
  typespec-tests/src/main/java/azure/resourcemanager/nonresource/implementation/NonResourceClientBuilder.java
  typespec-tests/src/main/java/azure/resourcemanager/nonresource/implementation/NonResourceClientImpl.java
  typespec-tests/src/main/java/azure/resourcemanager/nonresource/implementation/NonResourceImpl.java
  typespec-tests/src/main/java/azure/resourcemanager/nonresource/implementation/NonResourceOperationsClientImpl.java
  typespec-tests/src/main/java/azure/resourcemanager/nonresource/implementation/NonResourceOperationsImpl.java
  typespec-tests/src/main/java/azure/resourcemanager/nonresource/implementation/ResourceManagerUtils.java
  typespec-tests/src/main/java/azure/resourcemanager/nonresource/implementation/package-info.java
  typespec-tests/src/main/java/azure/resourcemanager/nonresource/models/NonResource.java
  typespec-tests/src/main/java/azure/resourcemanager/nonresource/models/NonResourceOperations.java
  typespec-tests/src/main/java/azure/resourcemanager/nonresource/models/package-info.java
  typespec-tests/src/main/java/azure/resourcemanager/nonresource/package-info.java
  typespec-tests/src/main/java/payload/multipart/FormDataAsyncClient.java
  typespec-tests/src/main/java/payload/multipart/FormDataClient.java
  typespec-tests/src/main/java/payload/multipart/formdata/models/AnonymousModelRequest.java
  typespec-tests/src/main/java/payload/multipart/formdata/models/package-info.java
  typespec-tests/src/main/java/payload/multipart/implementation/FormDatasImpl.java
  typespec-tests/src/main/java/type/model/visibility/VisibilityAsyncClient.java
  typespec-tests/src/main/java/type/model/visibility/VisibilityClient.java
  typespec-tests/src/main/java/type/model/visibility/implementation/VisibilityClientImpl.java
  typespec-tests/src/main/java/type/model/visibility/models/VisibilityModel.java
  typespec-tests/src/main/resources/META-INF/native-image/com.azure.resourcemanager/azure-resourcemanager-nonresource-generated/proxy-config.json
  typespec-tests/src/main/resources/META-INF/native-image/com.azure.resourcemanager/azure-resourcemanager-nonresource-generated/reflect-config.json
  typespec-tests/src/main/resources/azure-resourcemanager-nonresource-generated.properties
  typespec-tests/src/test/java/azure/resourcemanager/nonresource/NonResourceTests.java
  typespec-tests/src/test/java/payload/multipart/MultipartTests.java
  typespec-tests/src/test/java/type/model/visibility/AutomaticClientTest.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

add code-generator-mode.md
  docs/developer/code-generator-mode.md
  docs/developer/readme.md
  docs/developer/typespec/readme.md
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

sync test
  typespec-tests/src/main/java/azure/resourcemanager/nonresource/implementation/NonResourceClientImpl.java
  typespec-tests/src/main/java/azure/resourcemanager/nonresource/implementation/NonResourceOperationsClientImpl.java
  typespec-tests/src/main/java/tsptest/armresourceprovider/fluent/models/ChildExtensionResourceInner.java
  typespec-tests/src/main/java/tsptest/armresourceprovider/fluent/models/ChildResourceInner.java
  typespec-tests/src/main/java/tsptest/armresourceprovider/fluent/models/ChildResourceProperties.java
  typespec-tests/src/main/java/tsptest/armresourceprovider/fluent/models/CustomTemplateResourceInner.java
  typespec-tests/src/main/java/tsptest/armresourceprovider/fluent/models/CustomTemplateResourceProperties.java
  typespec-tests/src/main/java/tsptest/armresourceprovider/fluent/models/ManagedMaintenanceWindowStatusContentProperties.java
  typespec-tests/src/main/java/tsptest/armresourceprovider/fluent/models/ManagedMaintenanceWindowStatusInner.java
  typespec-tests/src/main/java/tsptest/armresourceprovider/fluent/models/ModelInterfaceDifferentNameProperties.java
  typespec-tests/src/main/java/tsptest/armresourceprovider/fluent/models/ModelInterfaceSameNameInner.java
  typespec-tests/src/main/java/tsptest/armresourceprovider/fluent/models/OperationInner.java
  typespec-tests/src/main/java/tsptest/armresourceprovider/fluent/models/ResultInner.java
  typespec-tests/src/main/java/tsptest/armresourceprovider/fluent/models/TopLevelArmResourceInner.java
  typespec-tests/src/main/java/tsptest/armresourceprovider/fluent/models/TopLevelArmResourceProperties.java
  typespec-tests/src/main/java/tsptest/armresourceprovider/fluent/models/TopLevelArmResourceUpdateProperties.java
  typespec-tests/src/main/java/tsptest/armresourceprovider/implementation/models/ChildExtensionResourceListResult.java
  typespec-tests/src/main/java/tsptest/armresourceprovider/implementation/models/ChildResourceListResult.java
  typespec-tests/src/main/java/tsptest/armresourceprovider/implementation/models/OperationListResult.java
  typespec-tests/src/main/java/tsptest/armresourceprovider/implementation/models/TopLevelArmResourceListResult.java
  typespec-tests/src/main/java/tsptest/armresourceprovider/models/ActionType.java
  typespec-tests/src/main/java/tsptest/armresourceprovider/models/ChildExtensionResourceProperties.java
  typespec-tests/src/main/java/tsptest/armresourceprovider/models/ChildExtensionResourceUpdate.java
  typespec-tests/src/main/java/tsptest/armresourceprovider/models/ChildResourceUpdate.java
  typespec-tests/src/main/java/tsptest/armresourceprovider/models/CustomTemplateResourcePatch.java
  typespec-tests/src/main/java/tsptest/armresourceprovider/models/CustomTemplateResourcePropertiesAnonymousEmptyModel.java
  typespec-tests/src/main/java/tsptest/armresourceprovider/models/Dog.java
  typespec-tests/src/main/java/tsptest/armresourceprovider/models/DogKind.java
  typespec-tests/src/main/java/tsptest/armresourceprovider/models/EmptyModel.java
  typespec-tests/src/main/java/tsptest/armresourceprovider/models/Golden.java
  typespec-tests/src/main/java/tsptest/armresourceprovider/models/ManagedServiceIdentity.java
  typespec-tests/src/main/java/tsptest/armresourceprovider/models/ManagedServiceIdentityType.java
  typespec-tests/src/main/java/tsptest/armresourceprovider/models/OperationDisplay.java
  typespec-tests/src/main/java/tsptest/armresourceprovider/models/Origin.java
  typespec-tests/src/main/java/tsptest/armresourceprovider/models/PriorityModel.java
  typespec-tests/src/main/java/tsptest/armresourceprovider/models/ProvisioningState.java
  typespec-tests/src/main/java/tsptest/armresourceprovider/models/TopLevelArmResourceUpdate.java
  typespec-tests/src/main/java/tsptest/armresourceprovider/models/UserAssignedIdentity.java
  typespec-tests/src/main/resources/META-INF/native-image/com.azure.resourcemanager/azure-resourcemanager-armresourceprovider-generated/reflect-config.json
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

disable sync-stack by default
  fluentgen/readme.md
Due: eng/pipelines/ci-typespec-java.yaml, eng/pipelines/fluent_integration.yaml

async fix
  fluent-tests/Initialize-Tests.ps1
Due: eng/pipelines/fluent_integration.yaml

script fix
  fluent-tests/Initialize-Tests.ps1
Due: eng/pipelines/fluent_integration.yaml

sync spotbugs fix
  fluent-tests/Initialize-Tests.ps1
Due: eng/pipelines/fluent_integration.yaml
