Repository Azure/autorest.java: changes, and which Azure pipelines are due for each by the changed paths.
All: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

eng/pipelines/ci-cadl-java.yaml:
  jobs:
  - job: Build
    timeoutInMinutes: 30
    variables:
      JavaVersion: 1.8
      NodeVersion: 18.x
      isMain: $[eq(variables['Build.SourceBranch'], 'refs/heads/main')]
    pool:
      name: azsdk-pool-mms-ubuntu-2004-general
      vmImage: MMSUbuntu20.04
    steps:
    - task: NodeTool@0
  ...

eng/pipelines/ci-typespec-java.yaml:
  jobs:
  - job: Build
    timeoutInMinutes: 30
    variables:
    - template: /eng/pipelines/variables/globals.yml
    - name: isMain
      value: $[eq(variables['Build.SourceBranch'], 'refs/heads/main')]
    pool:
      name: azsdk-pool-mms-ubuntu-2004-general
      vmImage: MMSUbuntu20.04
    steps:
  ...

eng/pipelines/ci.yaml:
  jobs:
  - job: Build
    timeoutInMinutes: 60
    variables:
      JavaVersion: 1.11
      NodeVersion: 18.x
    pool:
      name: azsdk-pool-mms-ubuntu-2004-general
      vmImage: MMSUbuntu20.04
    steps:
    - task: NodeTool@0
      displayName: Install Node.js $(NodeVersion)
      inputs:
  ...

eng/pipelines/fluent_integration.yaml:
  jobs:
  - job: Build
    timeoutInMinutes: 60
    pool:
      name: azsdk-pool-mms-ubuntu-2004-general
      vmImage: MMSUbuntu20.04
    variables:
    - template: /eng/pipelines/variables/globals.yml
    steps:
    - task: NodeTool@0
      inputs:
        versionSpec: $(NodeVersion)
    - script: npm install autorest -g
  ...

tsp, bug fix, isDisciminator not set to discriminator property
  typespec-extension/src/code-model-builder.ts
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

tsp, bug fix, isDisciminator not set to discriminator property (#2623)
  typespec-extension/src/code-model-builder.ts
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

re-generate test code
  azure-dataplane-tests/src/main/java/com/azure/ai/formrecognizer/documentanalysis/implementation/models/OperationDetails.java
  customization-tests/src/main/java/fixtures/bodycomplex/implementation/models/DotFish.java
  customization-tests/src/main/java/fixtures/bodycomplex/implementation/models/Fish.java
  customization-tests/src/main/java/fixtures/bodycomplex/implementation/models/MyBaseType.java
  typespec-tests/src/main/java/com/cadl/naming/models/Data.java
  typespec-tests/src/main/java/com/cadl/patch/models/Fish.java
  typespec-tests/src/main/java/com/type/model/inheritance/enumdiscriminator/models/Dog.java
  typespec-tests/src/main/java/com/type/model/inheritance/enumdiscriminator/models/Snake.java
  typespec-tests/src/main/java/com/type/model/inheritance/nesteddiscriminator/models/Fish.java
  typespec-tests/src/main/java/com/type/model/inheritance/singlediscriminator/models/Bird.java
  typespec-tests/src/main/java/com/type/model/inheritance/singlediscriminator/models/Dinosaur.java
  typespec-tests/src/main/java/com/type/property/additionalproperties/models/ExtendsUnknownAdditionalPropertiesDiscriminated.java
  typespec-tests/src/main/java/com/type/property/additionalproperties/models/IsUnknownAdditionalPropertiesDiscriminated.java
  vanilla-tests/src/main/java/fixtures/bodycomplex/models/DotFish.java
  vanilla-tests/src/main/java/fixtures/bodycomplex/models/Fish.java
  vanilla-tests/src/main/java/fixtures/bodycomplex/models/MyBaseType.java
  vanilla-tests/src/main/java/fixtures/discriminatorenum/models/Dog.java
  vanilla-tests/src/main/java/fixtures/discriminatorflattening/clientflatten/models/MetricAlertCriteria.java
  vanilla-tests/src/main/java/fixtures/discriminatorflattening/models/MetricAlertCriteria.java
  vanilla-tests/src/main/java/fixtures/discriminatorflattening/noflatten/models/MetricAlertCriteria.java
  vanilla-tests/src/main/java/fixtures/discriminatorflattening/requirexmsflattened/models/MetricAlertCriteria.java
  vanilla-tests/src/main/java/fixtures/discriminatorsetter/EnumDiscriminator.java
  vanilla-tests/src/main/java/fixtures/discriminatorsetter/EnumDiscriminatorBuilder.java
  vanilla-tests/src/main/java/fixtures/discriminatorsetter/implementation/models/Dog.java
  vanilla-tests/src/main/java/fixtures/discriminatorsetter/implementation/models/DogKind.java
  vanilla-tests/src/main/java/fixtures/discriminatorsetter/implementation/models/package-info.java
  vanilla-tests/src/main/java/fixtures/discriminatorsetter/models/Golden.java
  vanilla-tests/src/main/java/fixtures/discriminatorsetter/models/package-info.java
  vanilla-tests/src/main/java/fixtures/discriminatorsetter/package-info.java
  vanilla-tests/src/main/java/fixtures/inheritance/passdiscriminator/models/MetricAlertCriteria.java
  vanilla-tests/src/main/java/fixtures/streamstyleserialization/models/DotFish.java
  vanilla-tests/src/main/java/fixtures/streamstyleserialization/models/Fish.java
  vanilla-tests/src/main/java/fixtures/streamstyleserialization/models/MyBaseType.java
  vanilla-tests/src/main/java/fixtures/streamstyleserializationctorargs/models/DotFish.java
  vanilla-tests/src/main/java/fixtures/streamstyleserializationctorargs/models/Fish.java
  vanilla-tests/src/main/java/fixtures/streamstyleserializationctorargs/models/MyBaseType.java
  vanilla-tests/src/main/java/fixtures/streamstyleserializationimmutableoutput/models/DotFish.java
  vanilla-tests/src/main/java/fixtures/streamstyleserializationimmutableoutput/models/Fish.java
  vanilla-tests/src/main/java/fixtures/streamstyleserializationimmutableoutput/models/MyBaseType.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

disable mock test
  fluent-tests/Initialize-Tests.ps1
Due: eng/pipelines/fluent_integration.yaml

if property is discriminator, it is required
  javagen/src/main/java/com/azure/autorest/template/ClientMethodTemplateBase.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

do not generate json-merge-patch model if not stream
  javagen/src/main/java/com/azure/autorest/mapper/ModelMapper.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

re-generate test code
  azure-dataplane-tests/src/main/java/com/azure/ai/formrecognizer/documentanalysis/dpg/FormRecognizerAsyncClient.java
  azure-dataplane-tests/src/main/java/com/azure/ai/formrecognizer/documentanalysis/dpg/FormRecognizerClient.java
  azure-dataplane-tests/src/main/java/com/azure/ai/formrecognizer/documentanalysis/dpg/implementation/FormRecognizerClientImpl.java
  protocol-tests/src/main/java/fixtures/bodycomplex/FlattencomplexAsyncClient.java
  protocol-tests/src/main/java/fixtures/bodycomplex/FlattencomplexClient.java
  protocol-tests/src/main/java/fixtures/bodycomplex/PolymorphicrecursiveAsyncClient.java
  protocol-tests/src/main/java/fixtures/bodycomplex/PolymorphicrecursiveClient.java
  protocol-tests/src/main/java/fixtures/bodycomplex/PolymorphismAsyncClient.java
  protocol-tests/src/main/java/fixtures/bodycomplex/PolymorphismClient.java
  protocol-tests/src/main/java/fixtures/bodycomplex/implementation/FlattencomplexesImpl.java
  protocol-tests/src/main/java/fixtures/bodycomplex/implementation/PolymorphicrecursivesImpl.java
  protocol-tests/src/main/java/fixtures/bodycomplex/implementation/PolymorphismsImpl.java
  typespec-tests/src/main/java/com/_specs_/azure/clientgenerator/core/access/RelativeModelInOperationAsyncClient.java
  typespec-tests/src/main/java/com/_specs_/azure/clientgenerator/core/access/RelativeModelInOperationClient.java
  typespec-tests/src/main/java/com/_specs_/azure/clientgenerator/core/access/implementation/RelativeModelInOperationsImpl.java
  typespec-tests/src/main/java/com/cadl/naming/NamingAsyncClient.java
  typespec-tests/src/main/java/com/cadl/naming/implementation/NamingOpsImpl.java
  typespec-tests/src/main/java/com/cadl/patch/PatchAsyncClient.java
  typespec-tests/src/main/java/com/cadl/patch/PatchClient.java
  typespec-tests/src/main/java/com/cadl/patch/implementation/PatchesImpl.java
  typespec-tests/src/main/java/com/type/model/inheritance/enumdiscriminator/EnumDiscriminatorAsyncClient.java
  typespec-tests/src/main/java/com/type/model/inheritance/enumdiscriminator/EnumDiscriminatorClient.java
  typespec-tests/src/main/java/com/type/model/inheritance/enumdiscriminator/implementation/EnumDiscriminatorClientImpl.java
  typespec-tests/src/main/java/com/type/model/inheritance/nesteddiscriminator/NestedDiscriminatorAsyncClient.java
  typespec-tests/src/main/java/com/type/model/inheritance/nesteddiscriminator/NestedDiscriminatorClient.java
  typespec-tests/src/main/java/com/type/model/inheritance/nesteddiscriminator/implementation/NestedDiscriminatorClientImpl.java
  typespec-tests/src/main/java/com/type/model/inheritance/singlediscriminator/SingleDiscriminatorAsyncClient.java
  typespec-tests/src/main/java/com/type/model/inheritance/singlediscriminator/SingleDiscriminatorClient.java
  typespec-tests/src/main/java/com/type/model/inheritance/singlediscriminator/implementation/SingleDiscriminatorClientImpl.java
  typespec-tests/src/main/java/com/type/property/additionalproperties/ExtendsUnknownDiscriminatedAsyncClient.java
  typespec-tests/src/main/java/com/type/property/additionalproperties/ExtendsUnknownDiscriminatedClient.java
  typespec-tests/src/main/java/com/type/property/additionalproperties/IsUnknownDiscriminatedAsyncClient.java
  typespec-tests/src/main/java/com/type/property/additionalproperties/IsUnknownDiscriminatedClient.java
  typespec-tests/src/main/java/com/type/property/additionalproperties/implementation/ExtendsUnknownDiscriminatedsImpl.java
  typespec-tests/src/main/java/com/type/property/additionalproperties/implementation/IsUnknownDiscriminatedsImpl.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

bump version
  typespec-extension/changelog.md
  typespec-extension/package-lock.json
  typespec-extension/package.json
  typespec-tests/package.json
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

add logics on enum and union
  typespec-extension/src/code-model-builder.ts
  typespec-tests/tsp/enum.tsp
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

Clean up some issues
  extension-base/src/main/java/com/azure/autorest/extension/base/util/HttpHeaderName.java
  fluentgen/src/main/java/com/azure/autorest/fluent/template/FluentManagerTemplate.java
  fluentgen/src/main/java/com/azure/autorest/fluent/util/FluentUtils.java
  javagen/src/main/java/com/azure/autorest/template/ClientMethodTemplate.java
  javagen/src/main/java/com/azure/autorest/template/ConvenienceMethodTemplateBase.java
  javagen/src/main/java/com/azure/autorest/template/util/ModelTemplateHeaderHelper.java
  javagen/src/main/java/com/azure/autorest/util/ReturnTypeDescriptionAssembler.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

Fix generation that broke
  protocol-tests/src/main/java/fixtures/constantandclientparam/ConstantAndClientParameterServiceAsyncClient.java
  protocol-tests/src/main/java/fixtures/constantandclientparam/ConstantAndClientParameterServiceClient.java
  protocol-tests/src/main/java/fixtures/constantandclientparam/ConstantAndClientParameterServiceClientBuilder.java
  protocol-tests/src/main/java/fixtures/constantandclientparam/ConstantAndClientParameterServiceVersion.java
  protocol-tests/src/main/java/fixtures/constantandclientparam/implementation/ConstantAndClientParameterServiceClientImpl.java
  protocol-tests/src/main/java/fixtures/constantandclientparam/implementation/package-info.java
  protocol-tests/src/main/java/fixtures/constantandclientparam/package-info.java
  protocol-tests/src/main/java/fixtures/endpointlro/LroEndpointAsyncClient.java
  protocol-tests/src/main/java/fixtures/endpointlro/LroEndpointClient.java
  protocol-tests/src/main/java/fixtures/endpointlro/LroEndpointClientBuilder.java
  protocol-tests/src/main/java/fixtures/endpointlro/LroEndpointServiceVersion.java
  protocol-tests/src/main/java/fixtures/endpointlro/implementation/LROsImpl.java
  protocol-tests/src/main/java/fixtures/endpointlro/implementation/LroEndpointClientImpl.java
  protocol-tests/src/main/java/fixtures/endpointlro/implementation/package-info.java
  protocol-tests/src/main/java/fixtures/endpointlro/package-info.java
  protocol-tests/src/main/resources/fixtures-constantandclientparam.properties
  protocol-tests/src/main/resources/fixtures-endpointlro.properties
Due: eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

Update to fix ObjectMapper
  fluentgen/src/main/java/com/azure/autorest/fluent/template/FluentMethodMockTestTemplate.java
  javagen/pom.xml
  javagen/src/main/java/com/azure/autorest/template/ModelTestTemplate.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

Further clean up
  javagen/src/main/java/com/azure/autorest/Javagen.java
  javagen/src/main/java/com/azure/autorest/util/ClientModelUtil.java
  javagen/src/main/resources/CoreToCodegenBridgeUtils.java
  typespec-extension/src/main/java/com/azure/autorest/TypeSpecPlugin.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

Add missing version
  azure-dataplane-tests/pom.xml
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

temporary, eng to update SDK code on dpg_sync-0.15.3
  eng/pipelines/post-publish-sdk.yaml
  eng/sdk/sync_sdk.py
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

Use latest generic core types
  javagen/src/main/java/com/azure/autorest/model/clientmodel/ClassType.java
  javagen/src/main/java/com/azure/autorest/model/clientmodel/ClientBuilderTrait.java
  javagen/src/main/java/com/azure/autorest/model/clientmodel/ClientMethod.java
  javagen/src/main/java/com/azure/autorest/model/clientmodel/ProxyMethod.java
  javagen/src/main/java/com/azure/autorest/template/ConvenienceMethodTemplateBase.java
  javagen/src/main/java/com/azure/autorest/template/MethodGroupTemplate.java
  javagen/src/main/java/com/azure/autorest/util/TemplateUtil.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

remove unused import
  javagen/src/main/java/com/azure/autorest/util/TemplateUtil.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

logger fix
  javagen/src/main/java/com/azure/autorest/util/TemplateUtil.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

Update codeowners
  .github/CODEOWNERS
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

Update codeowners (#2632)
  .github/CODEOWNERS
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

change enum test back
  typespec-tests/tsp/enum.tsp
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

refactor for constant
  typespec-extension/src/code-model-builder.ts
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

apply tsp test script
  typespec-tests/Apply.ps1
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

use dev version tcgc
  typespec-extension/src/code-model-builder.ts
  typespec-tests/package.json
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

mgmt, support skip resource model via resource-collection-associations
  fluentgen/src/main/java/com/azure/autorest/fluent/mapper/FluentMapper.java
  fluentgen/src/main/java/com/azure/autorest/fluent/model/clientmodel/fluentmodel/create/ResourceCreate.java
  fluentnamer/src/main/java/com/azure/autorest/fluent/model/ResourceCollectionAssociation.java
Due: eng/pipelines/ci-typespec-java.yaml, eng/pipelines/fluent_integration.yaml

test
  typespec-tests/tsp/arm.tsp
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

add etag grouping flag
  typespec-extension/src/code-model-builder.ts
  typespec-extension/src/emitter.ts
  typespec-tests/tsp/arm.tsp
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

fallback to operation.sourceOperation, if operation cannot find example data
  typespec-extension/src/code-model-builder.ts
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

re-generate test code
  typespec-tests/src/main/java/com/cadl/armresourceprovider/fluent/CustomTemplateResourceInterfacesClient.java
  typespec-tests/src/main/java/com/cadl/armresourceprovider/implementation/CustomTemplateResourceImpl.java
  typespec-tests/src/main/java/com/cadl/armresourceprovider/implementation/CustomTemplateResourceInterfacesClientImpl.java
  typespec-tests/src/main/java/com/cadl/armresourceprovider/models/CustomTemplateResource.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

try example directory based on program.projectRoot
  typespec-extension/src/operation-utils.ts
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

comment
  typespec-extension/src/operation-utils.ts
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

minor rename
  typespec-extension/src/operation-utils.ts
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

tsp, fix examples loading (#2637)
  typespec-extension/src/code-model-builder.ts
  typespec-extension/src/operation-utils.ts
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

skip azure-analytics-defender-easm
  eng/sdk/sync_sdk.py
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

change to group-etag-headers
  typespec-extension/src/code-model-builder.ts
  typespec-extension/src/emitter.ts
  typespec-tests/Generate.ps1
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

Path conditions:
  eng/pipelines/ci-cadl-java.yaml: any of: *, but not: fluent*, postprocessor, vanilla-tests, protocol*
  eng/pipelines/ci-typespec-java.yaml: any of: *, but not: androidgen, azure-dataplane-tests, azure-tests, fluent-tests, partial-update-tests, vanilla-tests, protocol*
  eng/pipelines/ci.yaml: any of: *, but not: fluent*, typespec*
  eng/pipelines/fluent_integration.yaml: any of: *, but not: typespec*
