Repository Azure/autorest.java: changes, and which Azure pipelines are due for each by the changed paths.
All: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

Path conditions:
  eng/pipelines/ci-cadl-java.yaml: any of: *, but not: fluent*, postprocessor, vanilla-tests, protocol*
  eng/pipelines/ci-typespec-java.yaml: any of: *, but not: azure-dataplane-tests, azure-tests, fluent-tests, partial-update-tests, vanilla-tests, protocol*
  eng/pipelines/ci.yaml: any of: *, but not: fluent*, typespec*
  eng/pipelines/fluent_integration.yaml: any of: *, but not: typespec*

mgmt, bug fix on extra Resource class generated, prepare release 0.32.1 (#3182)
  eng/sdk/sync_sdk.py
  fluent-tests/src/test/java/com/azure/mgmttest/CompilationTests.java
  fluent-tests/src/test/java/com/azure/mgmttest/RuntimeTests.java
  fluent-tests/swagger/readme.storage.md
  package-lock.json
  package.json
  typespec-extension/changelog.md
  typespec-extension/package-lock.json
  typespec-extension/package.json
  typespec-tests/package.json
  typespec-tests/src/main/java/tsptest/patch/PatchAsyncClient.java
  typespec-tests/src/main/java/tsptest/patch/PatchClient.java
  typespec-tests/src/main/java/tsptest/patch/implementation/PatchesImpl.java
  typespec-tests/src/test/java/tsptest/patch/PatchClientTest.java
  typespec-tests/tsp/patch.tsp
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

Upgrade Node.js packages and sync Java dependency versions (#3184)
  azure-dataplane-tests/pom.xml
  azure-tests/pom.xml
  customization-base/src/main/resources/pom.xml
  customization-tests/pom.xml
  fluent-tests/pom.xml
  pom.xml
  protocol-sdk-integration-tests/eng/versioning/version_client.txt
  protocol-tests/pom.xml
  typespec-extension/package-lock.json
  typespec-extension/package.json
  typespec-tests/package.json
  typespec-tests/pom.xml
  typespec-tests/src/main/java/client/naming/ModelAsyncClient.java
  typespec-tests/src/main/java/client/naming/ModelClient.java
  typespec-tests/src/main/java/client/naming/NamingClientBuilder.java
  typespec-tests/src/main/java/client/naming/implementation/ModelClientsImpl.java
  typespec-tests/src/main/java/client/naming/implementation/NamingClientImpl.java
  typespec-tests/src/test/java/client/naming/NamingTests.java
  typespec-tests/src/test/java/client/naming/generated/NamingClientTestBase.java
  vanilla-tests/pom.xml
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

Update Node.js packages to latest dependencies
  typespec-extension/package-lock.json
  typespec-extension/package.json
  typespec-tests/package.json
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

Prepare patch release 0.32.2
  typespec-extension/changelog.md
  typespec-extension/package.json
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

fix
  typespec-tests/package.json
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

eng, prepare release 0.32.2 (#3187)
  typespec-extension/changelog.md
  typespec-extension/package-lock.json
  typespec-extension/package.json
  typespec-tests/package.json
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

sync https://github.com/microsoft/typespec/pull/8301
  typespec-tests/src/main/java/tsptest/partialupdate/implementation/PartialUpdateOpsImpl.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

bump to 0.33.0
  typespec-extension/changelog.md
  typespec-extension/package-lock.json
  typespec-extension/package.json
  typespec-tests/package.json
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

log error on codesnippet:update-codesnippet
  eng/sdk/sync_sdk.py
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

fix test
  fluentgen/src/test/java/com/microsoft/typespec/http/client/generator/mgmt/model/projectmodel/ProjectTests.java
Due: eng/pipelines/ci-typespec-java.yaml, eng/pipelines/fluent_integration.yaml

update core
  Build-TypeSpec.ps1
  typespec-tests/tsp/arm-stream-style-serialization.tsp
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

update changelog
  typespec-extension/changelog.md
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

option description for clear-output-folder
  typespec-extension/src/options.ts
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

update core to https://github.com/microsoft/typespec/pull/8375
  typespec-tests/tsp/arm-stream-style-serialization.tsp
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

changelog
  typespec-extension/changelog.md
  typespec-extension/src/options.ts
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

update readme url for botservice
  fluent-tests/Initialize-Tests.ps1
Due: eng/pipelines/fluent_integration.yaml

eng, prepare 0.33.0 (#3189)
  Build-TypeSpec.ps1
  eng/sdk/sync_sdk.py
  fluent-tests/Initialize-Tests.ps1
  fluentgen/src/test/java/com/microsoft/typespec/http/client/generator/mgmt/model/projectmodel/ProjectTests.java
  typespec-extension/changelog.md
  typespec-extension/package-lock.json
  typespec-extension/package.json
  typespec-extension/src/options.ts
  typespec-tests/package.json
  typespec-tests/src/main/java/tsptest/partialupdate/implementation/PartialUpdateOpsImpl.java
  typespec-tests/tsp/arm-stream-style-serialization.tsp
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

bump commit ID for libs
  eng/sdk/sync_sdk.py
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

readme moved
  fluent-tests/Initialize-Tests.ps1
Due: eng/pipelines/fluent_integration.yaml

eng, add patch for batch lib
  eng/sdk/patches/0001-revert-main.patch
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

eng, add patch for batch lib (#3199)
  eng/sdk/patches/0001-revert-main.patch
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

sync test
  typespec-tests/src/main/java/tsptest/armstreamstyleserialization/fluent/FunctionsClient.java
  typespec-tests/src/main/java/tsptest/armstreamstyleserialization/implementation/FunctionsClientImpl.java
  typespec-tests/src/main/java/tsptest/armstreamstyleserialization/implementation/FunctionsImpl.java
  typespec-tests/src/main/java/tsptest/armstreamstyleserialization/models/Functions.java
  typespec-tests/src/main/java/tsptest/armstreamstyleserialization/models/FunctionsCreateFunctionHeaders.java
  typespec-tests/src/main/java/tsptest/armstreamstyleserialization/models/FunctionsCreateFunctionResponse.java
  typespec-tests/tsp/arm-stream-style-serialization.tsp
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

bump npm dep
  typespec-extension/package-lock.json
  typespec-extension/package.json
  typespec-tests/package.json
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml
