Repository Azure/autorest.java: changes, and which Azure pipelines are due for each by the changed paths.
All: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

Path conditions:
  eng/pipelines/ci-cadl-java.yaml: any of: *, but not: fluent*, postprocessor, vanilla-tests, protocol*
  eng/pipelines/ci-typespec-java.yaml: any of: *, but not: fluent*, postprocessor, vanilla-tests, protocol*
  eng/pipelines/ci.yaml: any of: *, but not: fluent*, typespec*
  eng/pipelines/fluent_integration.yaml: any of: *, but not: typespec*

fix arm api-version
  typespec-extension/src/code-model-builder.ts
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

add comment
  typespec-extension/src/code-model-builder.ts
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

not add for enum
  javagen/src/main/java/com/azure/autorest/template/EnumTemplate.java
  javagen/src/main/java/com/azure/autorest/template/ServiceClientTemplate.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

re-generate test code
  typespec-tests/src/main/java/com/cadl/armresourceprovider/implementation/ArmResourceProviderClientImpl.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

only add start/end comment for dpg, to align with addGeneratedAnnotation() logic
  javagen/src/main/java/com/azure/autorest/template/ModelTemplate.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

mpg, fix api-version (#2511)
  typespec-extension/src/code-model-builder.ts
  typespec-tests/src/main/java/com/cadl/armresourceprovider/implementation/ArmResourceProviderClientImpl.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

re-generate test code
  typespec-tests/src/main/java/com/cadl/armresourceprovider/fluent/models/ChildResourceInner.java
  typespec-tests/src/main/java/com/cadl/armresourceprovider/fluent/models/OperationInner.java
  typespec-tests/src/main/java/com/cadl/armresourceprovider/fluent/models/TopLevelArmResourceInner.java
  typespec-tests/src/main/java/com/cadl/armresourceprovider/models/ChildResourceListResult.java
  typespec-tests/src/main/java/com/cadl/armresourceprovider/models/ChildResourceProperties.java
  typespec-tests/src/main/java/com/cadl/armresourceprovider/models/ChildResourceUpdate.java
  typespec-tests/src/main/java/com/cadl/armresourceprovider/models/OperationDisplay.java
  typespec-tests/src/main/java/com/cadl/armresourceprovider/models/PagedOperation.java
  typespec-tests/src/main/java/com/cadl/armresourceprovider/models/TopLevelArmResourceListResult.java
  typespec-tests/src/main/java/com/cadl/armresourceprovider/models/TopLevelArmResourceProperties.java
  typespec-tests/src/main/java/com/cadl/armresourceprovider/models/TopLevelArmResourceUpdate.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

convert to constant
  javagen/src/main/java/com/azure/autorest/model/javamodel/JavaJavadocComment.java
  javagen/src/main/java/com/azure/autorest/util/TemplateUtil.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

Enable ARM to override stream-style-serialization
  customization-tests/src/main/java/fixtures/bodycomplex/implementation/models/Cat.java
  customization-tests/swagger/src/main/java/BodyComplexCustomization.java
  typespec-extension/src/main/java/com/azure/autorest/fluent/TypeSpecFluentPlugin.java
  typespec-tests/Generate.ps1
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

Regenerate code
  vanilla-tests/src/main/java/fixtures/additionalproperties/models/CatAPTrue.java
  vanilla-tests/src/main/java/fixtures/discriminatorflattening/clientflatten/models/MetricAlertSingleResourceMultipleMetricCriteria.java
  vanilla-tests/src/main/java/fixtures/discriminatorflattening/models/MetricAlertSingleResourceMultipleMetricCriteria.java
  vanilla-tests/src/main/java/fixtures/discriminatorflattening/noflatten/models/MetricAlertSingleResourceMultipleMetricCriteria.java
  vanilla-tests/src/main/java/fixtures/discriminatorflattening/requirexmsflattened/models/MetricAlertSingleResourceMultipleMetricCriteria.java
  vanilla-tests/src/main/java/fixtures/inheritance/donotpassdiscriminator/models/MetricAlertSingleResourceMultipleMetricCriteria.java
  vanilla-tests/src/main/java/fixtures/inheritance/passdiscriminator/models/MetricAlertSingleResourceMultipleMetricCriteria.java
Due: eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

Update TypeSpecFluentPlugin.java
  typespec-extension/src/main/java/com/azure/autorest/fluent/TypeSpecFluentPlugin.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

Update readme.md
  fluentgen/readme.md
Due: eng/pipelines/fluent_integration.yaml

tsp, bump cadl-ranch
  typespec-extension/src/code-model-builder.ts
  typespec-tests/package.json
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

remove error
  typespec-extension/src/code-model-builder.ts
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

remove dependency on typespec-azure-resource-manager
  typespec-extension/package.json
  typespec-extension/src/code-model-builder.ts
  typespec-extension/src/type-utils.ts
  typespec-tests/package.json
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

update package-lock.json
  typespec-extension/package-lock.json
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

devDependencies
  typespec-tests/package.json
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

tsp, bump cadl-ranch (#2513)
  typespec-extension/package-lock.json
  typespec-extension/package.json
  typespec-extension/src/code-model-builder.ts
  typespec-extension/src/type-utils.ts
  typespec-tests/package.json
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

mgmt, rename generated class Utils to ResourceManagerUtils
  fluentgen/src/main/java/com/azure/autorest/fluent/FluentGen.java
  fluentgen/src/main/java/com/azure/autorest/fluent/model/clientmodel/ModelNaming.java
  fluentgen/src/main/java/com/azure/autorest/fluent/model/clientmodel/fluentmodel/method/CollectionMethodOperationByIdTemplate.java
  fluentgen/src/main/java/com/azure/autorest/fluent/model/clientmodel/fluentmodel/method/FluentConstructorByInner.java
  fluentgen/src/main/java/com/azure/autorest/fluent/model/clientmodel/immutablemodel/CollectionMethodTypeConversionTemplate.java
  fluentgen/src/main/java/com/azure/autorest/fluent/model/javamodel/FluentJavaPackage.java
  fluentgen/src/main/java/com/azure/autorest/fluent/template/ResourceManagerUtilsTemplate.java
  fluentgen/src/main/java/com/azure/autorest/fluent/util/TypeConversionUtils.java
  fluentgen/src/main/resources/ResourceManagerUtils_PagedIterableImpl.txt
  fluentgen/src/main/resources/ResourceManagerUtils_getValueFromIdByName.txt
  fluentgen/src/main/resources/ResourceManagerUtils_getValueFromIdByParameterName.txt
  fluentgen/src/test/java/com/azure/autorest/fluent/model/clientmodel/fluentmodel/FluentMethodTests.java
  fluentgen/src/test/java/com/azure/autorest/fluent/util/TypeConversionUtilsTests.java
Due: eng/pipelines/fluent_integration.yaml

mgmt, rename generated class Utils to ResourceManagerUtils (#2514)
  fluentgen/src/main/java/com/azure/autorest/fluent/FluentGen.java
  fluentgen/src/main/java/com/azure/autorest/fluent/model/clientmodel/ModelNaming.java
  fluentgen/src/main/java/com/azure/autorest/fluent/model/clientmodel/fluentmodel/method/CollectionMethodOperationByIdTemplate.java
  fluentgen/src/main/java/com/azure/autorest/fluent/model/clientmodel/fluentmodel/method/FluentConstructorByInner.java
  fluentgen/src/main/java/com/azure/autorest/fluent/model/clientmodel/immutablemodel/CollectionMethodTypeConversionTemplate.java
  fluentgen/src/main/java/com/azure/autorest/fluent/model/javamodel/FluentJavaPackage.java
  fluentgen/src/main/java/com/azure/autorest/fluent/template/ResourceManagerUtilsTemplate.java
  fluentgen/src/main/java/com/azure/autorest/fluent/util/TypeConversionUtils.java
  fluentgen/src/main/resources/ResourceManagerUtils_PagedIterableImpl.txt
  fluentgen/src/main/resources/ResourceManagerUtils_getValueFromIdByName.txt
  fluentgen/src/main/resources/ResourceManagerUtils_getValueFromIdByParameterName.txt
  fluentgen/src/test/java/com/azure/autorest/fluent/model/clientmodel/fluentmodel/FluentMethodTests.java
  fluentgen/src/test/java/com/azure/autorest/fluent/util/TypeConversionUtilsTests.java
Due: eng/pipelines/fluent_integration.yaml

typespec now handles mgmt, so we cannot exclude fluent*
  eng/pipelines/ci-typespec-java.yaml
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

regen arm
  typespec-tests/src/main/java/com/cadl/armresourceprovider/implementation/ChildResourceImpl.java
  typespec-tests/src/main/java/com/cadl/armresourceprovider/implementation/ChildResourcesInterfacesImpl.java
  typespec-tests/src/main/java/com/cadl/armresourceprovider/implementation/OperationsImpl.java
  typespec-tests/src/main/java/com/cadl/armresourceprovider/implementation/ResourceManagerUtils.java
  typespec-tests/src/main/java/com/cadl/armresourceprovider/implementation/TopLevelArmResourceImpl.java
  typespec-tests/src/main/java/com/cadl/armresourceprovider/implementation/TopLevelArmResourceInterfacesImpl.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

eng, typespec now handles mgmt, so we cannot exclude fluent* (#2515)
  eng/pipelines/ci-typespec-java.yaml
  typespec-tests/src/main/java/com/cadl/armresourceprovider/implementation/ChildResourceImpl.java
  typespec-tests/src/main/java/com/cadl/armresourceprovider/implementation/ChildResourcesInterfacesImpl.java
  typespec-tests/src/main/java/com/cadl/armresourceprovider/implementation/OperationsImpl.java
  typespec-tests/src/main/java/com/cadl/armresourceprovider/implementation/ResourceManagerUtils.java
  typespec-tests/src/main/java/com/cadl/armresourceprovider/implementation/TopLevelArmResourceImpl.java
  typespec-tests/src/main/java/com/cadl/armresourceprovider/implementation/TopLevelArmResourceInterfacesImpl.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

add isPartialUpdateSupported()
  androidgen/src/main/java/com/azure/autorest/android/template/AndroidServiceAsyncClientTemplate.java
  androidgen/src/main/java/com/azure/autorest/android/template/AndroidServiceClientBuilderTemplate.java
  androidgen/src/main/java/com/azure/autorest/android/template/AndroidServiceSyncClientTemplate.java
  fluentgen/src/main/java/com/azure/autorest/fluent/template/FluentModelTemplate.java
  fluentgen/src/main/java/com/azure/autorest/fluent/template/FluentServiceClientBuilderTemplate.java
  javagen/src/main/java/com/azure/autorest/template/ModelTemplate.java
  javagen/src/main/java/com/azure/autorest/template/ServiceAsyncClientTemplate.java
  javagen/src/main/java/com/azure/autorest/template/ServiceClientBuilderTemplate.java
  javagen/src/main/java/com/azure/autorest/template/ServiceSyncClientTemplate.java
  javagen/src/main/java/com/azure/autorest/template/ServiceSyncClientWrapAsyncClientTemplate.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

regen
  typespec-tests/src/main/java/com/cadl/armresourceprovider/implementation/ArmResourceProviderClientBuilder.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

hardcode testdep_ prefix
  eng/versioning/sync_versions.py
  javagen/src/main/java/com/azure/autorest/model/projectmodel/Project.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

code with hardcoded testdep_net.bytebuddy:byte-buddy
  javagen/src/main/java/com/azure/autorest/model/projectmodel/Project.java
  javagen/src/main/java/com/azure/autorest/template/PomTemplate.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

test case for the version update tag
  fluent-tests/src/test/java/com/azure/mgmttest/RuntimeTests.java
Due: eng/pipelines/fluent_integration.yaml

nit
  fluent-tests/src/test/java/com/azure/mgmttest/RuntimeTests.java
Due: eng/pipelines/fluent_integration.yaml

generate pom.xml, readme and changelog
  typespec-extension/src/main/java/com/azure/typespec/Main.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

re-generate test code
  typespec-tests/src/main/resources/META-INF/native-image/com.azure.resourcemanager/azure-resourcemanager-armresourceprovider-generated/proxy-config.json
  typespec-tests/src/main/resources/META-INF/native-image/com.azure.resourcemanager/azure-resourcemanager-armresourceprovider-generated/reflect-config.json
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

mpg, generate pom.xml, readme and changelog (#2521)
  typespec-extension/src/main/java/com/azure/typespec/Main.java
  typespec-tests/src/main/resources/META-INF/native-image/com.azure.resourcemanager/azure-resourcemanager-armresourceprovider-generated/proxy-config.json
  typespec-tests/src/main/resources/META-INF/native-image/com.azure.resourcemanager/azure-resourcemanager-armresourceprovider-generated/reflect-config.json
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

minor change, use private
  javagen/src/main/java/com/azure/autorest/model/projectmodel/Project.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

update to 4.1.26
  package.json
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

mgmt, fix bytebuddy version update tag (#2516)
  eng/versioning/sync_versions.py
  fluent-tests/src/test/java/com/azure/mgmttest/RuntimeTests.java
  javagen/src/main/java/com/azure/autorest/model/projectmodel/Project.java
  javagen/src/main/java/com/azure/autorest/template/PomTemplate.java
  package.json
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

add validation
  typespec-tests/src/test/java/com/payload/multipart/MultipartTests.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

skip request body JSON schema in Javadoc, if that is multipart
  javagen/src/main/java/com/azure/autorest/template/ClientMethodTemplateBase.java
  javagen/src/main/resources/MultipartFormDataHelper.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

regen
  typespec-tests/src/main/java/com/cadl/multipart/MultipartAsyncClient.java
  typespec-tests/src/main/java/com/cadl/multipart/MultipartClient.java
  typespec-tests/src/main/java/com/cadl/multipart/implementation/MultipartClientImpl.java
  typespec-tests/src/main/java/com/cadl/multipart/implementation/MultipartFormDataHelper.java
  typespec-tests/src/main/java/com/payload/multipart/MultiPartAsyncClient.java
  typespec-tests/src/main/java/com/payload/multipart/MultiPartClient.java
  typespec-tests/src/main/java/com/payload/multipart/implementation/FormDatasImpl.java
  typespec-tests/src/main/java/com/payload/multipart/implementation/MultipartFormDataHelper.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml
