Repository Azure/autorest.java: changes, and which Azure pipelines are due for each by the changed paths.
All: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

eng/pipelines/ci-cadl-java.yaml:
  jobs:
  - job: Build
    timeoutInMinutes: 30
    variables:
      JavaVersion: 1.8
      NodeVersion: 18.x
      isMain: $[eq(variables['Build.SourceBranch'], 'refs/heads/main')]
    pool:
      name: azsdk-pool-mms-ubuntu-2004-general
      vmImage: MMSUbuntu20.04
    steps:
    - task: NodeTool@0
  ...

eng/pipelines/ci-typespec-java.yaml:
  jobs:
  - extends: null
    template: /eng/pipelines/jobs/build-typespec.yml
    parameters:
      UploadSpectorReport: true

eng/pipelines/ci.yaml:
  jobs:
  - template: /eng/pipelines/jobs/autorest-java.yml

eng/pipelines/fluent_integration.yaml:
  jobs:
  - template: /eng/pipelines/jobs/build-autorest-mgmt.yml

Prepare 4.1.50 release
  package-lock.json
  package.json
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

Copy customization framework code changes
  customization-base/src/main/java/com/azure/autorest/customization/AnnotationCustomization.java
  customization-base/src/main/java/com/azure/autorest/customization/ClassCustomization.java
  customization-base/src/main/java/com/azure/autorest/customization/CodeCustomization.java
  customization-base/src/main/java/com/azure/autorest/customization/ConstantCustomization.java
  customization-base/src/main/java/com/azure/autorest/customization/ConstructorCustomization.java
  customization-base/src/main/java/com/azure/autorest/customization/Customization.java
  customization-base/src/main/java/com/azure/autorest/customization/Editor.java
  customization-base/src/main/java/com/azure/autorest/customization/JavadocCustomization.java
  customization-base/src/main/java/com/azure/autorest/customization/LibraryCustomization.java
  customization-base/src/main/java/com/azure/autorest/customization/MethodCustomization.java
  customization-base/src/main/java/com/azure/autorest/customization/PackageCustomization.java
  customization-base/src/main/java/com/azure/autorest/customization/PropertyCustomization.java
  customization-base/src/main/java/com/azure/autorest/customization/implementation/Utils.java
  customization-base/src/main/java/com/azure/autorest/customization/implementation/eclipsecustomization/EclipseClassCustomization.java
  customization-base/src/main/java/com/azure/autorest/customization/implementation/eclipsecustomization/EclipseCodeCustomization.java
  customization-base/src/main/java/com/azure/autorest/customization/implementation/eclipsecustomization/EclipseConstantCustomization.java
  customization-base/src/main/java/com/azure/autorest/customization/implementation/eclipsecustomization/EclipseConstructorCustomization.java
  customization-base/src/main/java/com/azure/autorest/customization/implementation/eclipsecustomization/EclipseJavadocCustomization.java
  customization-base/src/main/java/com/azure/autorest/customization/implementation/eclipsecustomization/EclipseLibraryCustomization.java
  customization-base/src/main/java/com/azure/autorest/customization/implementation/eclipsecustomization/EclipseMethodCustomization.java
  customization-base/src/main/java/com/azure/autorest/customization/implementation/eclipsecustomization/EclipsePackageCustomization.java
  customization-base/src/main/java/com/azure/autorest/customization/implementation/eclipsecustomization/EclipsePropertyCustomization.java
  customization-base/src/main/java/com/azure/autorest/customization/implementation/eclipsecustomization/EclipseUtils.java
  customization-base/src/main/java/com/azure/autorest/customization/implementation/javaparsercustomization/JavaParserClassCustomization.java
  customization-base/src/main/java/com/azure/autorest/customization/implementation/javaparsercustomization/JavaParserCodeCustomization.java
  customization-base/src/main/java/com/azure/autorest/customization/implementation/javaparsercustomization/JavaParserLibraryCustomization.java
  customization-base/src/main/java/com/azure/autorest/customization/implementation/javaparsercustomization/JavaParserPackageCustomization.java
  customization-base/src/main/java/com/azure/autorest/customization/implementation/ls/EclipseLanguageClient.java
  customization-base/src/main/java/com/azure/autorest/customization/implementation/ls/EclipseLanguageServerFacade.java
  customization-base/src/main/java/com/azure/autorest/customization/implementation/ls/models/JavaCodeActionKind.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

Cleanup
  customization-base/src/main/java/com/azure/autorest/customization/ClassCustomization.java
  customization-base/src/main/java/com/azure/autorest/customization/CodeCustomization.java
  customization-base/src/main/java/com/azure/autorest/customization/Customization.java
  customization-base/src/main/java/com/azure/autorest/customization/Editor.java
  customization-base/src/main/java/com/azure/autorest/customization/LibraryCustomization.java
  customization-base/src/main/java/com/azure/autorest/customization/PropertyCustomization.java
  customization-base/src/main/java/com/azure/autorest/customization/implementation/Utils.java
  customization-base/src/main/java/com/azure/autorest/customization/implementation/eclipsecustomization/EclipseClassCustomization.java
  customization-base/src/main/java/com/azure/autorest/customization/implementation/eclipsecustomization/EclipseCodeCustomization.java
  customization-base/src/main/java/com/azure/autorest/customization/implementation/eclipsecustomization/EclipseConstantCustomization.java
  customization-base/src/main/java/com/azure/autorest/customization/implementation/eclipsecustomization/EclipseConstructorCustomization.java
  customization-base/src/main/java/com/azure/autorest/customization/implementation/eclipsecustomization/EclipseJavadocCustomization.java
  customization-base/src/main/java/com/azure/autorest/customization/implementation/eclipsecustomization/EclipseLibraryCustomization.java
  customization-base/src/main/java/com/azure/autorest/customization/implementation/eclipsecustomization/EclipseMethodCustomization.java
  customization-base/src/main/java/com/azure/autorest/customization/implementation/eclipsecustomization/EclipsePackageCustomization.java
  customization-base/src/main/java/com/azure/autorest/customization/implementation/eclipsecustomization/EclipsePropertyCustomization.java
  customization-base/src/main/java/com/azure/autorest/customization/implementation/eclipsecustomization/EclipseUtils.java
  customization-base/src/main/java/com/azure/autorest/customization/implementation/javaparsercustomization/JavaParserClassCustomization.java
  customization-base/src/main/java/com/azure/autorest/customization/implementation/javaparsercustomization/JavaParserCodeCustomization.java
  customization-base/src/main/java/com/azure/autorest/customization/implementation/javaparsercustomization/JavaParserLibraryCustomization.java
  customization-base/src/main/java/com/azure/autorest/customization/implementation/javaparsercustomization/JavaParserPackageCustomization.java
  customization-base/src/main/java/com/azure/autorest/customization/implementation/ls/EclipseLanguageClient.java
  customization-base/src/main/java/com/azure/autorest/customization/implementation/ls/EclipseLanguageServerFacade.java
  customization-base/src/test/java/com/azure/autorest/customization/AnnotationTests.java
  customization-base/src/test/java/com/azure/autorest/customization/ClassCustomizationTests.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

Fix tests
  customization-base/src/test/java/com/azure/autorest/customization/implementation/eclipsecustomization/EclipseUtilsTests.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

bump dependencies
  .github/copilot-instructions.md
  typespec-extension/package-lock.json
  typespec-extension/package.json
  typespec-tests/package.json
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

prepare 0.31.0
  typespec-extension/changelog.md
  typespec-extension/package-lock.json
  typespec-extension/package.json
  typespec-tests/package.json
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

revert
  .github/copilot-instructions.md
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

format
  typespec-tests/package.json
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

eng, prepare release 0.31 (#3121)
  typespec-extension/changelog.md
  typespec-extension/package-lock.json
  typespec-extension/package.json
  typespec-tests/package.json
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

fix JavaSettings
  extension-base/src/main/java/com/azure/autorest/extension/base/plugin/JavaSettings.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

sync tests
  typespec-tests/src/main/java/tsptest/namingjavaparser/NamingJavaParserAsyncClient.java
  typespec-tests/src/main/java/tsptest/namingjavaparser/NamingJavaParserClient.java
  typespec-tests/src/main/java/tsptest/namingjavaparser/NamingJavaParserClientBuilder.java
  typespec-tests/src/main/java/tsptest/namingjavaparser/implementation/NamingJavaParserClientImpl.java
  typespec-tests/src/main/java/tsptest/namingjavaparser/implementation/NamingOpsImpl.java
  typespec-tests/src/main/java/tsptest/namingjavaparser/implementation/package-info.java
  typespec-tests/src/main/java/tsptest/namingjavaparser/models/BinaryData.java
  typespec-tests/src/main/java/tsptest/namingjavaparser/models/BytesData.java
  typespec-tests/src/main/java/tsptest/namingjavaparser/models/Data.java
  typespec-tests/src/main/java/tsptest/namingjavaparser/models/DataRequest.java
  typespec-tests/src/main/java/tsptest/namingjavaparser/models/DataResponse.java
  typespec-tests/src/main/java/tsptest/namingjavaparser/models/DataStatus.java
  typespec-tests/src/main/java/tsptest/namingjavaparser/models/GetAnonymousResponse.java
  typespec-tests/src/main/java/tsptest/namingjavaparser/models/RequestParameters.java
  typespec-tests/src/main/java/tsptest/namingjavaparser/models/RequestParametersType.java
  typespec-tests/src/main/java/tsptest/namingjavaparser/models/RunObject.java
  typespec-tests/src/main/java/tsptest/namingjavaparser/models/RunObjectLastError1.java
  typespec-tests/src/main/java/tsptest/namingjavaparser/models/RunObjectLastErrorCode.java
  typespec-tests/src/main/java/tsptest/namingjavaparser/models/TypesModel.java
  typespec-tests/src/main/java/tsptest/namingjavaparser/models/package-info.java
  typespec-tests/src/main/java/tsptest/namingjavaparser/package-info.java
  typespec-tests/src/main/resources/tsptest-namingjavaparser.properties
  typespec-tests/src/test/java/tsptest/namingjavaparser/generated/NamingJavaParserClientTestBase.java
  typespec-tests/tsp/naming-javaparser.tsp
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

add script
  typespec-tests/Generate.ps1
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

try bump local version to beta.10
  core.diff
  customization-base/README.md
  customization-base/pom.xml
  customization-tests/swagger/pom.xml
  fluentgen/src/main/resources/readme/pom.xml
  javagen/src/main/resources/readme/pom.xml
  typespec-tests/customization/pom.xml
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

try add step to install azure-autorest-customization
  eng/pipelines/jobs/build-autorest.yml
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

Remove additional build and install step
  eng/pipelines/jobs/build-autorest.yml
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

sync test
  typespec-tests/src/main/java/azure/resourcemanager/largeheader/LargeHeaderManager.java
  typespec-tests/src/main/java/azure/resourcemanager/largeheader/fluent/LargeHeaderClient.java
  typespec-tests/src/main/java/azure/resourcemanager/largeheader/fluent/LargeHeadersClient.java
  typespec-tests/src/main/java/azure/resourcemanager/largeheader/fluent/models/CancelResultInner.java
  typespec-tests/src/main/java/azure/resourcemanager/largeheader/fluent/models/package-info.java
  typespec-tests/src/main/java/azure/resourcemanager/largeheader/fluent/package-info.java
  typespec-tests/src/main/java/azure/resourcemanager/largeheader/implementation/CancelResultImpl.java
  typespec-tests/src/main/java/azure/resourcemanager/largeheader/implementation/LargeHeaderClientBuilder.java
  typespec-tests/src/main/java/azure/resourcemanager/largeheader/implementation/LargeHeaderClientImpl.java
  typespec-tests/src/main/java/azure/resourcemanager/largeheader/implementation/LargeHeadersClientImpl.java
  typespec-tests/src/main/java/azure/resourcemanager/largeheader/implementation/LargeHeadersImpl.java
  typespec-tests/src/main/java/azure/resourcemanager/largeheader/implementation/ResourceManagerUtils.java
  typespec-tests/src/main/java/azure/resourcemanager/largeheader/implementation/package-info.java
  typespec-tests/src/main/java/azure/resourcemanager/largeheader/models/CancelResult.java
  typespec-tests/src/main/java/azure/resourcemanager/largeheader/models/LargeHeaders.java
  typespec-tests/src/main/java/azure/resourcemanager/largeheader/models/package-info.java
  typespec-tests/src/main/java/azure/resourcemanager/largeheader/package-info.java
  typespec-tests/src/main/resources/META-INF/native-image/com.azure.resourcemanager/azure-resourcemanager-largeheader-generated/proxy-config.json
  typespec-tests/src/main/resources/META-INF/native-image/com.azure.resourcemanager/azure-resourcemanager-largeheader-generated/reflect-config.json
  typespec-tests/src/main/resources/azure-resourcemanager-largeheader-generated.properties
  typespec-tests/src/test/java/azure/resourcemanager/largeheader/LargeHeaderTests.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

fix script
  typespec-tests/Generate.ps1
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

bump lib
  typespec-tests/package.json
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

use dev
  typespec-extension/package-lock.json
  typespec-extension/package.json
  typespec-tests/package.json
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

re-generate test code
  azure-tests/src/main/java/fixtures/azureparametergrouping/ParameterGroupings.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

fix javadoc
  extension-base/src/main/java/com/azure/autorest/extension/base/plugin/JavaSettings.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

tsp, fix Generate.ps1 script (#3123)
  azure-tests/src/main/java/fixtures/azureparametergrouping/ParameterGroupings.java
  extension-base/src/main/java/com/azure/autorest/extension/base/plugin/JavaSettings.java
  typespec-tests/Generate.ps1
  typespec-tests/package.json
  typespec-tests/src/main/java/azure/resourcemanager/largeheader/LargeHeaderManager.java
  typespec-tests/src/main/java/azure/resourcemanager/largeheader/fluent/LargeHeaderClient.java
  typespec-tests/src/main/java/azure/resourcemanager/largeheader/fluent/LargeHeadersClient.java
  typespec-tests/src/main/java/azure/resourcemanager/largeheader/fluent/models/CancelResultInner.java
  typespec-tests/src/main/java/azure/resourcemanager/largeheader/fluent/models/package-info.java
  typespec-tests/src/main/java/azure/resourcemanager/largeheader/fluent/package-info.java
  typespec-tests/src/main/java/azure/resourcemanager/largeheader/implementation/CancelResultImpl.java
  typespec-tests/src/main/java/azure/resourcemanager/largeheader/implementation/LargeHeaderClientBuilder.java
  typespec-tests/src/main/java/azure/resourcemanager/largeheader/implementation/LargeHeaderClientImpl.java
  typespec-tests/src/main/java/azure/resourcemanager/largeheader/implementation/LargeHeadersClientImpl.java
  typespec-tests/src/main/java/azure/resourcemanager/largeheader/implementation/LargeHeadersImpl.java
  typespec-tests/src/main/java/azure/resourcemanager/largeheader/implementation/ResourceManagerUtils.java
  typespec-tests/src/main/java/azure/resourcemanager/largeheader/implementation/package-info.java
  typespec-tests/src/main/java/azure/resourcemanager/largeheader/models/CancelResult.java
  typespec-tests/src/main/java/azure/resourcemanager/largeheader/models/LargeHeaders.java
  typespec-tests/src/main/java/azure/resourcemanager/largeheader/models/package-info.java
  typespec-tests/src/main/java/azure/resourcemanager/largeheader/package-info.java
  typespec-tests/src/main/resources/META-INF/native-image/com.azure.resourcemanager/azure-resourcemanager-largeheader-generated/proxy-config.json
  typespec-tests/src/main/resources/META-INF/native-image/com.azure.resourcemanager/azure-resourcemanager-largeheader-generated/reflect-config.json
  typespec-tests/src/main/resources/azure-resourcemanager-largeheader-generated.properties
  typespec-tests/src/test/java/azure/resourcemanager/largeheader/LargeHeaderTests.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

sync test
  typespec-tests/tsp/internal.tsp
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

azure-health-insights-radiologyinsights PR merged
  eng/sdk/sync_sdk.py
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

skip v2 module
  eng/sdk/sync_sdk.py
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

package.json
  typespec-extension/package-lock.json
  typespec-extension/package.json
  typespec-tests/package.json
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

update emitter-options
  typespec-extension/src/options.ts
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

changelog.md
  typespec-extension/changelog.md
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

fix options.ts
  typespec-extension/src/options.ts
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

Path conditions:
  eng/pipelines/ci-cadl-java.yaml: any of: *, but not: fluent*, postprocessor, vanilla-tests, protocol*
  eng/pipelines/ci-typespec-java.yaml: any of: *, but not: azure-dataplane-tests, azure-tests, fluent-tests, partial-update-tests, vanilla-tests, protocol*
  eng/pipelines/ci.yaml: any of: *, but not: fluent*, typespec*
  eng/pipelines/fluent_integration.yaml: any of: *, but not: typespec*
