Repository Azure/autorest.java: changes, and which Azure pipelines are due for each by the changed paths.
All: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

Path conditions:
  eng/pipelines/ci-cadl-java.yaml: any of: *, but not: fluent*, postprocessor, vanilla-tests, protocol*
  eng/pipelines/ci-typespec-java.yaml: any of: *, but not: azure-dataplane-tests, azure-tests, fluent-tests, partial-update-tests, vanilla-tests, protocol*
  eng/pipelines/ci.yaml: any of: *, but not: fluent*, typespec*
  eng/pipelines/fluent_integration.yaml: any of: *, but not: typespec*

changelog
  typespec-extension/changelog.md
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

update specs on options
  typespec-extension/src/options.ts
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

use patch version
  typespec-extension/changelog.md
  typespec-extension/package-lock.json
  typespec-extension/package.json
  typespec-tests/package.json
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

Update package.json
  typespec-tests/package.json
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

bump dep
  typespec-extension/package-lock.json
  typespec-extension/package.json
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

Option for backward compatible, prepare release 0.36.1 (#3212)
  typespec-extension/changelog.md
  typespec-extension/package-lock.json
  typespec-extension/package.json
  typespec-extension/src/options.ts
  typespec-tests/Generate.ps1
  typespec-tests/package.json
  typespec-tests/src/main/java/tsptest/armresourceprovider/fluent/models/TopLevelArmResourceInner.java
  typespec-tests/src/main/java/tsptest/armresourceprovider/fluent/models/TopLevelArmResourceProperties.java
  typespec-tests/src/main/java/tsptest/armresourceprovider/implementation/TopLevelArmResourceImpl.java
  typespec-tests/src/main/java/tsptest/armresourceprovider/models/ManagedServiceIdentity.java
  typespec-tests/src/main/java/tsptest/armresourceprovider/models/TopLevelArmResource.java
  typespec-tests/src/main/java/tsptest/armresourceprovider/models/UserAssignedIdentity.java
  typespec-tests/src/main/java/tsptest/builtin/BuiltinAsyncClient.java
  typespec-tests/src/main/java/tsptest/builtin/BuiltinClient.java
  typespec-tests/src/main/java/tsptest/builtin/implementation/BuiltinOpsImpl.java
  typespec-tests/src/main/java/tsptest/builtin/models/Builtin.java
  typespec-tests/tsp/arm.tsp
  typespec-tests/tsp/builtin.tsp
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

revert
  typespec-tests/src/test/java/azure/resourcemanager/resources/ArmResourceTest.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

format
  typespec-tests/package.json
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

swagger moved
  fluent-tests/Initialize-Tests.ps1
Due: eng/pipelines/fluent_integration.yaml

Update Node.js dependencies and prepare patch release 0.36.2 (#3214)
  fluent-tests/Initialize-Tests.ps1
  typespec-extension/changelog.md
  typespec-extension/package-lock.json
  typespec-extension/package.json
  typespec-tests/package.json
  typespec-tests/tsp/arm.tsp
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/fluent_integration.yaml

update core
  typespec-tests/src/main/java/azure/clientgenerator/core/alternatetype/AlternateTypeAsyncClient.java
  typespec-tests/src/main/java/azure/clientgenerator/core/alternatetype/AlternateTypeClient.java
  typespec-tests/src/main/java/azure/clientgenerator/core/alternatetype/externaltype/models/Feature.java
  typespec-tests/src/main/java/azure/clientgenerator/core/alternatetype/externaltype/models/Geometry.java
  typespec-tests/src/main/java/azure/clientgenerator/core/alternatetype/externaltype/models/ModelWithFeatureProperty.java
  typespec-tests/src/test/java/azure/clientgenerator/core/alternatetype/AlternateTypeTests.java
  typespec-tests/src/test/java/azure/resourcemanager/resources/ArmResourceTest.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

update core.patch
  core.patch
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

update test
  fluentgen/src/test/java/com/microsoft/typespec/http/client/generator/mgmt/MockJavagen.java
  fluentgen/src/test/java/com/microsoft/typespec/http/client/generator/mgmt/TestUtils.java
Due: eng/pipelines/ci-typespec-java.yaml, eng/pipelines/fluent_integration.yaml

prompt: migrate copilot-instructions.md to AGENTS.md
  AGENTS.md
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

remove copilot-instructions
  .github/copilot-instructions.md
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

some instruction for dev
  AGENTS.md
  docs/developer/typespec/readme.md
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

update core
  typespec-tests/src/test/java/azure/clientgenerator/core/alternatetype/AlternateTypeTests.java
  typespec-tests/src/test/java/azure/resourcemanager/resources/ArmResourceTest.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

eng, sync https://github.com/microsoft/typespec/pull/8937 (#3215)
  core.patch
  fluentgen/src/test/java/com/microsoft/typespec/http/client/generator/mgmt/MockJavagen.java
  fluentgen/src/test/java/com/microsoft/typespec/http/client/generator/mgmt/TestUtils.java
  typespec-tests/src/main/java/azure/clientgenerator/core/alternatetype/AlternateTypeAsyncClient.java
  typespec-tests/src/main/java/azure/clientgenerator/core/alternatetype/AlternateTypeClient.java
  typespec-tests/src/main/java/azure/clientgenerator/core/alternatetype/externaltype/models/Feature.java
  typespec-tests/src/main/java/azure/clientgenerator/core/alternatetype/externaltype/models/Geometry.java
  typespec-tests/src/main/java/azure/clientgenerator/core/alternatetype/externaltype/models/ModelWithFeatureProperty.java
  typespec-tests/src/test/java/azure/clientgenerator/core/alternatetype/AlternateTypeTests.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

add customization doc
  customization-base/README.md
  customization-base/src/samples/java/com/azure/autorest/customization/ReadmeSamples.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

more doc
  AGENTS.md
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

add customization doc (#3217)
  customization-base/README.md
  customization-base/src/samples/java/com/azure/autorest/customization/ReadmeSamples.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

Prepare patch release v4.1.60
  package-lock.json
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

chore(typespec-java): update dependencies, peerDependencies and overrides
  typespec-extension/package-lock.json
  typespec-extension/package.json
  typespec-tests/package.json
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

chore(typespec-java): bump version to 0.36.3 and update changelog
  typespec-extension/changelog.md
  typespec-extension/package-lock.json
  typespec-extension/package.json
  typespec-tests/package.json
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

sync
  typespec-tests/src/test/java/azure/resourcemanager/resources/ArmResourceTest.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

prepare release for autorest plugin too
  package-lock.json
  package.json
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

sync test
  typespec-tests/src/main/java/azure/clientgenerator/core/nextlinkverb/NextLinkVerbAsyncClient.java
  typespec-tests/src/main/java/azure/clientgenerator/core/nextlinkverb/NextLinkVerbClient.java
  typespec-tests/src/main/java/azure/clientgenerator/core/nextlinkverb/NextLinkVerbClientBuilder.java
  typespec-tests/src/main/java/azure/clientgenerator/core/nextlinkverb/implementation/NextLinkVerbClientImpl.java
  typespec-tests/src/main/java/azure/clientgenerator/core/nextlinkverb/implementation/package-info.java
  typespec-tests/src/main/java/azure/clientgenerator/core/nextlinkverb/models/Test.java
  typespec-tests/src/main/java/azure/clientgenerator/core/nextlinkverb/models/package-info.java
  typespec-tests/src/main/java/azure/clientgenerator/core/nextlinkverb/package-info.java
  typespec-tests/src/main/java/encode/duration/HeaderAsyncClient.java
  typespec-tests/src/main/java/encode/duration/HeaderClient.java
  typespec-tests/src/main/java/encode/duration/PropertyAsyncClient.java
  typespec-tests/src/main/java/encode/duration/PropertyClient.java
  typespec-tests/src/main/java/encode/duration/QueryAsyncClient.java
  typespec-tests/src/main/java/encode/duration/QueryClient.java
  typespec-tests/src/main/java/encode/duration/implementation/HeadersImpl.java
  typespec-tests/src/main/java/encode/duration/implementation/PropertiesImpl.java
  typespec-tests/src/main/java/encode/duration/implementation/QueriesImpl.java
  typespec-tests/src/main/java/encode/duration/property/models/FloatMillisecondsLargerUnitDurationProperty.java
  typespec-tests/src/main/java/encode/duration/property/models/FloatSecondsLargerUnitDurationProperty.java
  typespec-tests/src/main/java/encode/duration/property/models/Int32MillisecondsLargerUnitDurationProperty.java
  typespec-tests/src/main/java/encode/duration/property/models/Int32SecondsLargerUnitDurationProperty.java
  typespec-tests/src/main/resources/azure-clientgenerator-core-nextlinkverb.properties
  typespec-tests/src/test/java/azure/clientgenerator/core/alternatetype/AlternateTypeTests.java
  typespec-tests/src/test/java/azure/clientgenerator/core/nextlinkverb/NextLinkPostTests.java
  typespec-tests/src/test/java/azure/clientgenerator/core/nextlinkverb/generated/NextLinkVerbClientTestBase.java
  typespec-tests/src/test/java/azure/resourcemanager/resources/ArmResourceTest.java
  typespec-tests/src/test/java/org/utils/ArmUtils.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

prepare release emitter 0.36.3 (#3221)
  package-lock.json
  package.json
  typespec-extension/changelog.md
  typespec-extension/package-lock.json
  typespec-extension/package.json
  typespec-tests/package.json
  typespec-tests/src/main/java/azure/clientgenerator/core/nextlinkverb/NextLinkVerbAsyncClient.java
  typespec-tests/src/main/java/azure/clientgenerator/core/nextlinkverb/NextLinkVerbClient.java
  typespec-tests/src/main/java/azure/clientgenerator/core/nextlinkverb/NextLinkVerbClientBuilder.java
  typespec-tests/src/main/java/azure/clientgenerator/core/nextlinkverb/implementation/NextLinkVerbClientImpl.java
  typespec-tests/src/main/java/azure/clientgenerator/core/nextlinkverb/implementation/package-info.java
  typespec-tests/src/main/java/azure/clientgenerator/core/nextlinkverb/models/Test.java
  typespec-tests/src/main/java/azure/clientgenerator/core/nextlinkverb/models/package-info.java
  typespec-tests/src/main/java/azure/clientgenerator/core/nextlinkverb/package-info.java
  typespec-tests/src/main/java/encode/duration/HeaderAsyncClient.java
  typespec-tests/src/main/java/encode/duration/HeaderClient.java
  typespec-tests/src/main/java/encode/duration/PropertyAsyncClient.java
  typespec-tests/src/main/java/encode/duration/PropertyClient.java
  typespec-tests/src/main/java/encode/duration/QueryAsyncClient.java
  typespec-tests/src/main/java/encode/duration/QueryClient.java
  typespec-tests/src/main/java/encode/duration/implementation/HeadersImpl.java
  typespec-tests/src/main/java/encode/duration/implementation/PropertiesImpl.java
  typespec-tests/src/main/java/encode/duration/implementation/QueriesImpl.java
  typespec-tests/src/main/java/encode/duration/property/models/FloatMillisecondsLargerUnitDurationProperty.java
  typespec-tests/src/main/java/encode/duration/property/models/FloatSecondsLargerUnitDurationProperty.java
  typespec-tests/src/main/java/encode/duration/property/models/Int32MillisecondsLargerUnitDurationProperty.java
  typespec-tests/src/main/java/encode/duration/property/models/Int32SecondsLargerUnitDurationProperty.java
  typespec-tests/src/main/resources/azure-clientgenerator-core-nextlinkverb.properties
  typespec-tests/src/test/java/azure/clientgenerator/core/alternatetype/AlternateTypeTests.java
  typespec-tests/src/test/java/azure/clientgenerator/core/nextlinkverb/NextLinkPostTests.java
  typespec-tests/src/test/java/azure/clientgenerator/core/nextlinkverb/generated/NextLinkVerbClientTestBase.java
  typespec-tests/src/test/java/azure/resourcemanager/resources/ArmResourceTest.java
  typespec-tests/src/test/java/org/utils/ArmUtils.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

update patch
  core.patch
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

replace
  fluentgen/src/test/java/com/microsoft/typespec/http/client/generator/mgmt/mapper/ResourceParserTests.java
Due: eng/pipelines/ci-typespec-java.yaml, eng/pipelines/fluent_integration.yaml

pom for test
  fluentgen/pom.xml
  fluentgen/src/test/java/com/microsoft/typespec/http/client/generator/mgmt/util/RetryOptionsTests.java
Due: eng/pipelines/ci-typespec-java.yaml, eng/pipelines/fluent_integration.yaml

update test
  fluentgen/src/test/java/com/microsoft/typespec/http/client/generator/mgmt/mapper/FluentMethodGroupMapperTests.java
Due: eng/pipelines/ci-typespec-java.yaml, eng/pipelines/fluent_integration.yaml

fix test
  fluentgen/src/test/java/com/microsoft/typespec/http/client/generator/mgmt/util/TypeConversionUtilsTests.java
Due: eng/pipelines/ci-typespec-java.yaml, eng/pipelines/fluent_integration.yaml

sync test
  typespec-tests/src/main/java/tsptest/response/ResponseAsyncClient.java
  typespec-tests/src/main/java/tsptest/response/ResponseClient.java
  typespec-tests/src/main/java/tsptest/response/implementation/ResponseClientImpl.java
  typespec-tests/src/test/java/azure/resourcemanager/resources/ArmResourceTest.java
  typespec-tests/tsp/response.tsp
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml
