Repository Azure/autorest.java: changes, and which Azure pipelines are due for each by the changed paths.
All: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

eng/pipelines/ci-cadl-java.yaml:
  jobs:
  - job: Build
    timeoutInMinutes: 30
    variables:
      JavaVersion: 1.8
      NodeVersion: 18.x
      isMain: $[eq(variables['Build.SourceBranch'], 'refs/heads/main')]
    pool:
      name: azsdk-pool-mms-ubuntu-2004-general
      vmImage: MMSUbuntu20.04
    steps:
    - task: NodeTool@0
  ...

eng/pipelines/ci-typespec-java.yaml:
  jobs:
  - extends: null
    template: /eng/pipelines/jobs/build-typespec.yml
    parameters:
      UploadSpectorReport: true

eng/pipelines/ci.yaml:
  jobs:
  - template: /eng/pipelines/jobs/autorest-java.yml

eng/pipelines/fluent_integration.yaml:
  jobs:
  - template: /eng/pipelines/jobs/build-autorest-mgmt.yml

revert testserver
  package-lock.json
  package.json
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

remove use-iterable in test
  Generate.ps1
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

dpg, fix type error in iterator mode (#3112)
  package-lock.json
  package.json
  typespec-extension/package-lock.json
  typespec-extension/package.json
  typespec-tests/package.json
  typespec-tests/src/main/java/azure/core/lro/rpc/implementation/RpcClientImpl.java
  typespec-tests/src/main/java/azure/core/lro/standard/implementation/StandardClientImpl.java
  typespec-tests/src/main/java/tsptest/longrunning/implementation/LongRunningClientImpl.java
  typespec-tests/src/main/java/tsptest/protocolandconvenient/implementation/ProtocolAndConvenienceOpsImpl.java
  typespec-tests/src/main/java/tsptest/response/implementation/ResponseClientImpl.java
  typespec-tests/src/main/java/tsptest/specialheaders/implementation/RepeatabilityHeadersImpl.java
  typespec-tests/src/main/java/tsptest/union/implementation/UnionFlattenOpsImpl.java
  typespec-tests/src/main/java/tsptest/versioning/implementation/VersioningOpsImpl.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

Update changelog.md
  typespec-extension/changelog.md
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

core on main
  typespec-tests/Generate.ps1
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

sync test
  typespec-tests/src/main/resources/META-INF/azure-resourcemanager-armresourceprovider-generated_metadata.json
  typespec-tests/src/main/resources/META-INF/azure-resourcemanager-armstreamstyleserialization-generated_metadata.json
  typespec-tests/src/main/resources/META-INF/azure-resourcemanager-commonproperties-generated_metadata.json
  typespec-tests/src/main/resources/META-INF/azure-resourcemanager-nonresource-generated_metadata.json
  typespec-tests/src/main/resources/META-INF/azure-resourcemanager-operationtemplates-generated_metadata.json
  typespec-tests/src/main/resources/META-INF/azure-resourcemanager-resources-generated_metadata.json
  typespec-tests/src/main/resources/META-INF/tsptest-clientinitialization_metadata.json
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

bump to 0.30.3
  typespec-extension/changelog.md
  typespec-extension/package-lock.json
  typespec-extension/package.json
  typespec-tests/package.json
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

nit
  typespec-tests/package.json
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

eng, sync and prepare release 0.30.3 (#3114)
  typespec-extension/changelog.md
  typespec-extension/package-lock.json
  typespec-extension/package.json
  typespec-tests/Generate.ps1
  typespec-tests/package.json
  typespec-tests/src/main/resources/META-INF/azure-resourcemanager-armresourceprovider-generated_metadata.json
  typespec-tests/src/main/resources/META-INF/azure-resourcemanager-armstreamstyleserialization-generated_metadata.json
  typespec-tests/src/main/resources/META-INF/azure-resourcemanager-commonproperties-generated_metadata.json
  typespec-tests/src/main/resources/META-INF/azure-resourcemanager-nonresource-generated_metadata.json
  typespec-tests/src/main/resources/META-INF/azure-resourcemanager-operationtemplates-generated_metadata.json
  typespec-tests/src/main/resources/META-INF/azure-resourcemanager-resources-generated_metadata.json
  typespec-tests/src/main/resources/META-INF/tsptest-clientinitialization_metadata.json
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

bump versions
  fluent-tests/pom.xml
  fluentgen/pom.xml
  protocol-sdk-integration-tests/eng/versioning/version_client.txt
  typespec-tests/pom.xml
  typespec-tests/src/main/resources/META-INF/native-image/com.azure.resourcemanager/armstreamstyleserialization-generated/proxy-config.json
  typespec-tests/src/main/resources/META-INF/native-image/com.azure.resourcemanager/armstreamstyleserialization-generated/reflect-config.json
  vanilla-tests/pom.xml
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

prepare 4.1.49
  package-lock.json
  package.json
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

Update package.json
  package.json
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

jackson-dataformat-xml 2.17.2
  fluentgen/pom.xml
  vanilla-tests/pom.xml
Due: eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

eng, prepare 4.1.49 (#3115)
  fluent-tests/pom.xml
  fluentgen/pom.xml
  package-lock.json
  package.json
  protocol-sdk-integration-tests/eng/versioning/version_client.txt
  typespec-tests/pom.xml
  typespec-tests/src/main/resources/META-INF/native-image/com.azure.resourcemanager/armstreamstyleserialization-generated/proxy-config.json
  typespec-tests/src/main/resources/META-INF/native-image/com.azure.resourcemanager/armstreamstyleserialization-generated/reflect-config.json
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

improve doc on options
  typespec-extension/package-lock.json
  typespec-extension/package.json
  typespec-extension/src/options.ts
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

Update options.ts
  typespec-extension/src/options.ts
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

tsp, improve doc on options (#3116)
  typespec-extension/package-lock.json
  typespec-extension/package.json
  typespec-extension/src/options.ts
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

prepare 0.30.4
  typespec-extension/changelog.md
  typespec-extension/package-lock.json
  typespec-extension/package.json
  typespec-tests/package.json
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

sync tests
  typespec-tests/src/samples/java/azure/example/basic/generated/BasicAction.java
  typespec-tests/src/samples/java/tsptest/builtin/generated/BuiltinOpRead.java
  typespec-tests/src/samples/java/tsptest/flatten/generated/FlattenOpSend.java
  typespec-tests/src/samples/java/tsptest/flatten/generated/FlattenOpSendLong.java
  typespec-tests/src/samples/java/tsptest/longrunning/generated/LongRunningCreateJob.java
  typespec-tests/src/samples/java/tsptest/model/generated/ModelOpPutNested.java
  typespec-tests/src/samples/java/tsptest/multicontenttypes/generated/SingleContentTypeUploadImageForSingleContentType.java
  typespec-tests/src/samples/java/tsptest/response/generated/ResponseOpExists.java
  typespec-tests/src/samples/java/tsptest/response/generated/ResponseOpListStrings.java
  typespec-tests/src/samples/java/tsptest/specialchars/generated/BuiltinOpRead.java
  typespec-tests/src/samples/java/tsptest/specialheaders/generated/EtagHeadersListWithEtag.java
  typespec-tests/src/samples/java/tsptest/specialheaders/generated/EtagHeadersPutWithRequestHeaders.java
  typespec-tests/src/samples/java/tsptest/versioning/generated/VersioningOpList.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

format
  typespec-tests/Generate.ps1
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

update core and sync
  typespec-tests/src/test/java/tsptest/armstreamstyleserialization/StreamStyleSerializationTests.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

remove mediaservices
  fluent-tests/Initialize-Tests.ps1
Due: eng/pipelines/fluent_integration.yaml

remove ref to mediaservices
  fluent-tests/src/test/java/com/azure/mgmttest/LiteCompilationTests.java
Due: eng/pipelines/fluent_integration.yaml

fix script
  fluent-tests/src/test/java/com/azure/mgmttest/RuntimeTests.java
  typespec-tests/Generate.ps1
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/fluent_integration.yaml

nit
  fluent-tests/Initialize-Tests.ps1
Due: eng/pipelines/fluent_integration.yaml

Path conditions:
  eng/pipelines/ci-cadl-java.yaml: any of: *, but not: fluent*, postprocessor, vanilla-tests, protocol*
  eng/pipelines/ci-typespec-java.yaml: any of: *, but not: azure-dataplane-tests, azure-tests, fluent-tests, partial-update-tests, vanilla-tests, protocol*
  eng/pipelines/ci.yaml: any of: *, but not: fluent*, typespec*
  eng/pipelines/fluent_integration.yaml: any of: *, but not: typespec*
