Repository Azure/autorest.java: changes, and which Azure pipelines are due for each by the changed paths.
All: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

Path conditions:
  eng/pipelines/ci-cadl-java.yaml: any of: *, but not: fluent*, postprocessor, vanilla-tests, protocol*
  eng/pipelines/ci-typespec-java.yaml: any of: *, but not: androidgen, azure-dataplane-tests, azure-tests, fluent-tests, partial-update-tests, vanilla-tests, protocol*
  eng/pipelines/ci.yaml: any of: *, but not: fluent*, typespec*
  eng/pipelines/fluent_integration.yaml: any of: *, but not: typespec*

re-generate test code
  typespec-tests/src/main/java/com/type/union/IntsOnlyAsyncClient.java
  typespec-tests/src/main/java/com/type/union/IntsOnlyClient.java
  typespec-tests/src/main/java/com/type/union/StringExtensibleAsyncClient.java
  typespec-tests/src/main/java/com/type/union/StringExtensibleClient.java
  typespec-tests/src/main/java/com/type/union/StringsOnlyAsyncClient.java
  typespec-tests/src/main/java/com/type/union/StringsOnlyClient.java
  typespec-tests/src/main/java/com/type/union/implementation/models/SendRequest.java
  typespec-tests/src/main/java/com/type/union/implementation/models/SendRequest1.java
  typespec-tests/src/main/java/com/type/union/implementation/models/SendRequest3.java
  typespec-tests/src/main/java/com/type/union/models/GetResponse6.java
  typespec-tests/src/main/java/com/type/union/models/GetResponse8.java
  typespec-tests/src/main/java/com/type/union/models/GetResponse9.java
  typespec-tests/src/main/java/com/type/union/models/GetResponseProp2.java
  typespec-tests/src/main/java/com/type/union/models/GetResponseProp3.java
  typespec-tests/src/main/java/com/type/union/models/GetResponseProp4.java
  typespec-tests/src/main/java/com/type/union/models/GetResponseProp5.java
  typespec-tests/src/main/resources/META-INF/native-image/com.azure.resourcemanager/azure-resourcemanager-armresourceprovider-generated/reflect-config.json
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

propagate usage/access to children, only for discriminated model
  typespec-extension/src/code-model-builder.ts
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

bump to 0.15.17
  typespec-extension/changelog.md
  typespec-extension/package-lock.json
  typespec-extension/package.json
  typespec-tests/package.json
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

re-generate test code
  typespec-tests/src/main/java/com/cadl/union/models/SubResult.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

comment
  typespec-extension/src/code-model-builder.ts
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

add access to test
  typespec-tests/tsp/union.tsp
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

re-generate test code
  typespec-tests/src/main/java/com/cadl/union/implementation/models/SubResult.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

fix test
  typespec-tests/src/test/java/com/cadl/union/UnionTests.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

tsp, enum is closed enum
  typespec-extension/changelog.md
  typespec-extension/package-lock.json
  typespec-extension/package.json
  typespec-extension/src/code-model-builder.ts
  typespec-tests/package.json
  typespec-tests/tsp/enum.tsp
  typespec-tests/tsp/internal.tsp
  typespec-tests/tsp/naming.tsp
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

re-generate test code
  typespec-tests/src/main/java/com/cadl/longrunning/models/OperationState.java
  typespec-tests/src/main/java/com/cadl/response/models/OperationState.java
  typespec-tests/src/main/java/com/versioning/added/models/EnumV1.java
  typespec-tests/src/main/java/com/versioning/added/models/EnumV2.java
  typespec-tests/src/main/java/com/versioning/removed/models/EnumV2.java
  typespec-tests/src/main/java/com/versioning/renamedfrom/models/NewEnum.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

test
  fluent-tests/swagger/schema-cleanup.json
Due: eng/pipelines/fluent_integration.yaml

tsp, propagate usage/access to children, only for discriminated model (#2751)
  typespec-extension/changelog.md
  typespec-extension/package-lock.json
  typespec-extension/package.json
  typespec-extension/src/code-model-builder.ts
  typespec-tests/package.json
  typespec-tests/src/main/java/com/cadl/union/implementation/models/SubResult.java
  typespec-tests/src/test/java/com/cadl/union/UnionTests.java
  typespec-tests/tsp/union.tsp
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

tsp, enum is closed enum (#2752)
  typespec-extension/changelog.md
  typespec-extension/package-lock.json
  typespec-extension/package.json
  typespec-extension/src/code-model-builder.ts
  typespec-tests/package.json
  typespec-tests/src/main/java/com/cadl/longrunning/models/OperationState.java
  typespec-tests/src/main/java/com/cadl/response/models/OperationState.java
  typespec-tests/src/main/java/com/versioning/added/models/EnumV1.java
  typespec-tests/src/main/java/com/versioning/added/models/EnumV2.java
  typespec-tests/src/main/java/com/versioning/removed/models/EnumV2.java
  typespec-tests/src/main/java/com/versioning/renamedfrom/models/NewEnum.java
  typespec-tests/tsp/enum.tsp
  typespec-tests/tsp/internal.tsp
  typespec-tests/tsp/naming.tsp
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

order items in graalvm json
  javagen/src/main/java/com/azure/autorest/model/clientmodel/GraalVmConfig.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

revert mock test code in arm
  eng/sdk/sync_sdk.py
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

re-generate test code
  typespec-tests/src/main/resources/META-INF/native-image/com.azure.resourcemanager/azure-resourcemanager-armresourceprovider-generated/proxy-config.json
  typespec-tests/src/main/resources/META-INF/native-image/com.azure.resourcemanager/azure-resourcemanager-armresourceprovider-generated/reflect-config.json
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

fix SchemaCleanup
  fluent-tests/src/test/java/com/azure/mgmttest/CompilationTests.java
  fluent-tests/swagger/schema-cleanup.json
  fluentnamer/src/main/java/com/azure/autorest/fluent/transformer/SchemaCleanup.java
Due: eng/pipelines/ci-typespec-java.yaml, eng/pipelines/fluent_integration.yaml

address comments
  fluentnamer/src/main/java/com/azure/autorest/fluent/transformer/SchemaCleanup.java
Due: eng/pipelines/ci-typespec-java.yaml, eng/pipelines/fluent_integration.yaml

revert unncessary change
  fluentnamer/src/main/java/com/azure/autorest/fluent/transformer/SchemaCleanup.java
Due: eng/pipelines/ci-typespec-java.yaml, eng/pipelines/fluent_integration.yaml

typescript
  typespec-extension/src/code-model-builder.ts
  typespec-extension/src/common/long-running-metadata.ts
  typespec-extension/src/operation-utils.ts
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

java to resources
  javagen/src/main/resources/OperationLocationPollingStrategy.java
  javagen/src/main/resources/PollingUtils.java
  javagen/src/main/resources/SyncOperationLocationPollingStrategy.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

finalResultPropertySerializedName
  extension-base/src/main/java/com/azure/autorest/extension/base/model/codemodel/LongRunningMetadata.java
  typespec-extension/src/code-model-builder.ts
  typespec-extension/src/common/long-running-metadata.ts
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

mgmt, schemacleanup bug fix (#2754)
  fluent-tests/src/test/java/com/azure/mgmttest/CompilationTests.java
  fluent-tests/swagger/schema-cleanup.json
  fluentnamer/src/main/java/com/azure/autorest/fluent/transformer/SchemaCleanup.java
Due: eng/pipelines/ci-typespec-java.yaml, eng/pipelines/fluent_integration.yaml

eng, order items in graalvm json (#2753)
  eng/sdk/sync_sdk.py
  javagen/src/main/java/com/azure/autorest/model/clientmodel/GraalVmConfig.java
  typespec-tests/src/main/resources/META-INF/native-image/com.azure.resourcemanager/azure-resourcemanager-armresourceprovider-generated/proxy-config.json
  typespec-tests/src/main/resources/META-INF/native-image/com.azure.resourcemanager/azure-resourcemanager-armresourceprovider-generated/reflect-config.json
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

java code
  javagen/src/main/java/com/azure/autorest/Javagen.java
  javagen/src/main/java/com/azure/autorest/mapper/ClientMethodMapper.java
  javagen/src/main/java/com/azure/autorest/util/ClientModelUtil.java
  javagen/src/main/resources/OperationLocationPollingStrategy.java
  javagen/src/main/resources/PollingUtils.java
  javagen/src/main/resources/SyncOperationLocationPollingStrategy.java
  typespec-extension/src/main/java/com/azure/autorest/TypeSpecPlugin.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

re-generate test code
  typespec-tests/src/main/java/com/_specs_/azure/core/lro/rpc/implementation/OperationLocationPollingStrategy.java
  typespec-tests/src/main/java/com/_specs_/azure/core/lro/rpc/implementation/PollingUtils.java
  typespec-tests/src/main/java/com/_specs_/azure/core/lro/rpc/implementation/RpcClientImpl.java
  typespec-tests/src/main/java/com/_specs_/azure/core/lro/rpc/implementation/SyncOperationLocationPollingStrategy.java
  typespec-tests/src/main/java/com/_specs_/azure/core/lro/standard/implementation/StandardClientImpl.java
  typespec-tests/src/main/java/com/_specs_/azure/core/lro/standard/implementation/SyncOperationLocationPollingStrategy.java
  typespec-tests/src/main/java/com/cadl/longrunning/LongRunningAsyncClient.java
  typespec-tests/src/main/java/com/cadl/longrunning/LongRunningClient.java
  typespec-tests/src/main/java/com/cadl/longrunning/implementation/LongRunningClientImpl.java
  typespec-tests/src/main/java/com/cadl/longrunning/implementation/OperationLocationPollingStrategy.java
  typespec-tests/src/main/java/com/cadl/longrunning/implementation/PollingUtils.java
  typespec-tests/src/main/java/com/cadl/longrunning/implementation/SyncOperationLocationPollingStrategy.java
  typespec-tests/src/main/java/com/cadl/protocolandconvenient/implementation/OperationLocationPollingStrategy.java
  typespec-tests/src/main/java/com/cadl/protocolandconvenient/implementation/PollingUtils.java
  typespec-tests/src/main/java/com/cadl/protocolandconvenient/implementation/ProtocolAndConvenienceOpsImpl.java
  typespec-tests/src/main/java/com/cadl/protocolandconvenient/implementation/SyncOperationLocationPollingStrategy.java
  typespec-tests/src/main/java/com/cadl/response/ResponseAsyncClient.java
  typespec-tests/src/main/java/com/cadl/response/ResponseClient.java
  typespec-tests/src/main/java/com/cadl/response/implementation/OperationLocationPollingStrategy.java
  typespec-tests/src/main/java/com/cadl/response/implementation/PollingUtils.java
  typespec-tests/src/main/java/com/cadl/response/implementation/ResponseClientImpl.java
  typespec-tests/src/main/java/com/cadl/response/implementation/SyncOperationLocationPollingStrategy.java
  typespec-tests/src/main/java/com/cadl/specialheaders/implementation/OperationLocationPollingStrategy.java
  typespec-tests/src/main/java/com/cadl/specialheaders/implementation/PollingUtils.java
  typespec-tests/src/main/java/com/cadl/specialheaders/implementation/RepeatabilityHeadersImpl.java
  typespec-tests/src/main/java/com/cadl/specialheaders/implementation/SyncOperationLocationPollingStrategy.java
  typespec-tests/src/main/java/com/cadl/union/implementation/OperationLocationPollingStrategy.java
  typespec-tests/src/main/java/com/cadl/union/implementation/PollingUtils.java
  typespec-tests/src/main/java/com/cadl/union/implementation/SyncOperationLocationPollingStrategy.java
  typespec-tests/src/main/java/com/cadl/union/implementation/UnionFlattenOpsImpl.java
  typespec-tests/src/main/java/com/cadl/versioning/implementation/OperationLocationPollingStrategy.java
  typespec-tests/src/main/java/com/cadl/versioning/implementation/PollingUtils.java
  typespec-tests/src/main/java/com/cadl/versioning/implementation/SyncOperationLocationPollingStrategy.java
  typespec-tests/src/main/java/com/cadl/versioning/implementation/VersioningOpsImpl.java
  typespec-tests/src/samples/java/com/cadl/longrunning/generated/LongRunningCreateJob.java
  typespec-tests/src/test/java/com/cadl/longrunning/generated/LongRunningCreateJobTests.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

remove azure-core-experimental from pom
  typespec-tests/pom.xml
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

nit
  typespec-extension/src/code-model-builder.ts
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

regen
  typespec-tests/src/main/java/com/cadl/armresourceprovider/models/UserAssignedIdentity.java
  typespec-tests/src/main/resources/META-INF/native-image/com.azure.resourcemanager/azure-resourcemanager-armresourceprovider-generated/reflect-config.json
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

dpg, use setPlaybackSyncPollerPollInterval in test
  javagen/src/main/java/com/azure/autorest/template/ClientMethodSampleTemplate.java
  javagen/src/main/java/com/azure/autorest/template/ClientMethodTestTemplate.java
  javagen/src/main/java/com/azure/autorest/template/ProtocolSampleTemplate.java
  javagen/src/main/java/com/azure/autorest/template/ProtocolTestTemplate.java
  javagen/src/main/java/com/azure/autorest/template/example/ClientMethodExampleWriter.java
  javagen/src/main/java/com/azure/autorest/template/example/ProtocolExampleWriter.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

dpg, use setPlaybackSyncPollerPollInterval in test
  javagen/src/main/java/com/azure/autorest/template/example/ClientMethodExampleWriter.java
  javagen/src/main/java/com/azure/autorest/template/example/ProtocolExampleWriter.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

re-generate test code
  typespec-tests/src/test/java/com/cadl/longrunning/generated/LongRunningCreateJobTests.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

fix
  javagen/src/main/java/com/azure/autorest/template/example/ClientMethodExampleWriter.java
  javagen/src/main/java/com/azure/autorest/template/example/ProtocolExampleWriter.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

use constant
  javagen/src/main/java/com/azure/autorest/util/ClientModelUtil.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

tsp, handle decprecate of default
  typespec-extension/src/code-model-builder.ts
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

Fix polymorphic XML stream-style serialization
  javagen/src/main/java/com/azure/autorest/implementation/ClientModelPropertiesManager.java
  javagen/src/main/java/com/azure/autorest/template/StreamSerializationModelTemplate.java
  vanilla-tests/src/main/java/fixtures/streamstylexmlserialization/models/AccessPolicy.java
  vanilla-tests/src/main/java/fixtures/streamstylexmlserialization/models/Blob.java
  vanilla-tests/src/main/java/fixtures/streamstylexmlserialization/models/BlobPrefix.java
  vanilla-tests/src/main/java/fixtures/streamstylexmlserialization/models/BlobProperties.java
  vanilla-tests/src/main/java/fixtures/streamstylexmlserialization/models/Container.java
  vanilla-tests/src/main/java/fixtures/streamstylexmlserialization/models/ContainerProperties.java
  vanilla-tests/src/main/java/fixtures/streamstylexmlserialization/models/CorsRule.java
  vanilla-tests/src/main/java/fixtures/streamstylexmlserialization/models/ListBlobsResponse.java
  vanilla-tests/src/main/java/fixtures/streamstylexmlserialization/models/ListContainersResponse.java
  vanilla-tests/src/main/java/fixtures/streamstylexmlserialization/models/Logging.java
  vanilla-tests/src/main/java/fixtures/streamstylexmlserialization/models/Metrics.java
  vanilla-tests/src/main/java/fixtures/streamstylexmlserialization/models/RetentionPolicy.java
  vanilla-tests/src/main/java/fixtures/streamstylexmlserialization/models/SignedIdentifier.java
  vanilla-tests/src/main/java/fixtures/xmlservice/models/AccessPolicy.java
  vanilla-tests/src/main/java/fixtures/xmlservice/models/Blob.java
  vanilla-tests/src/main/java/fixtures/xmlservice/models/BlobPrefix.java
  vanilla-tests/src/main/java/fixtures/xmlservice/models/BlobProperties.java
  vanilla-tests/src/main/java/fixtures/xmlservice/models/Container.java
  vanilla-tests/src/main/java/fixtures/xmlservice/models/ContainerProperties.java
  vanilla-tests/src/main/java/fixtures/xmlservice/models/CorsRule.java
  vanilla-tests/src/main/java/fixtures/xmlservice/models/ListBlobsResponse.java
  vanilla-tests/src/main/java/fixtures/xmlservice/models/ListContainersResponse.java
  vanilla-tests/src/main/java/fixtures/xmlservice/models/Logging.java
  vanilla-tests/src/main/java/fixtures/xmlservice/models/Metrics.java
  vanilla-tests/src/main/java/fixtures/xmlservice/models/RetentionPolicy.java
  vanilla-tests/src/main/java/fixtures/xmlservice/models/SignedIdentifier.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

Use deserialized polymorphic value rather than hard coded
  javagen/src/main/java/com/azure/autorest/template/StreamSerializationModelTemplate.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml
