Repository Azure/autorest.java: changes, and which Azure pipelines are due for each by the changed paths.
All: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

Path conditions:
  eng/pipelines/ci-cadl-java.yaml: any of: *, but not: fluent*, postprocessor, vanilla-tests, protocol*
  eng/pipelines/ci-typespec-java.yaml: any of: *, but not: androidgen, azure-dataplane-tests, azure-tests, fluent-tests, partial-update-tests, vanilla-tests, protocol*
  eng/pipelines/ci.yaml: any of: *, but not: fluent*, typespec*
  eng/pipelines/fluent_integration.yaml: any of: *, but not: typespec*

fix
  javagen/src/main/java/com/azure/autorest/template/ServiceClientBuilderTemplate.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

test
  javagen/src/main/java/com/azure/autorest/template/ModelTemplate.java
  javagen/src/main/java/com/azure/autorest/template/StreamSerializationModelTemplate.java
  typespec-extension/src/main/java/com/azure/autorest/fluent/TypeSpecFluentPlugin.java
  typespec-tests/tsp/arm.tsp
  typespec-tests/tspconfig.yaml
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

generate shadow properties
  javagen/src/main/java/com/azure/autorest/template/ModelTemplate.java
  javagen/src/main/java/com/azure/autorest/template/StreamSerializationModelTemplate.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

fromJson
  javagen/src/main/java/com/azure/autorest/template/ModelTemplate.java
  javagen/src/main/java/com/azure/autorest/template/StreamSerializationModelTemplate.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

update test
  azure-tests/src/test/java/fixtures/azurespecials/AzureSpecialParametersTests.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

Add typespec rulesets package as emitter dependency
  typespec-extension/package-lock.json
  typespec-extension/package.json
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

Add typespec rulesets package as emitter dependency (#2795)
  typespec-extension/package-lock.json
  typespec-extension/package.json
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

remove validatePipeline
  javagen/src/main/java/com/azure/autorest/template/ServiceClientBuilderTemplate.java
  javagen/src/main/java/com/azure/autorest/template/TemplateHelper.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

implement getter
  javagen/src/main/java/com/azure/autorest/template/ModelTemplate.java
  javagen/src/main/java/com/azure/autorest/template/StreamSerializationModelTemplate.java
  typespec-tests/tsp/arm.tsp
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

fix validation
  fluentgen/src/main/java/com/azure/autorest/fluent/template/FluentStreamStyleSerializationModelTemplate.java
  fluentgen/src/main/java/com/azure/autorest/fluent/template/FluentTemplateFactory.java
Due: eng/pipelines/ci-typespec-java.yaml, eng/pipelines/fluent_integration.yaml

fix test
  fluent-tests/Initialize-Tests.ps1
  fluent-tests/src/test/java/com/azure/mgmttest/RuntimeTests.java
  fluent-tests/swagger/stream-style-serialization.json
  typespec-tests/Generate.ps1
  typespec-tests/tsp/arm-stream-style-serialization.tsp
  typespec-tests/tsp/arm.tsp
  typespec-tests/tspconfig.yaml
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/fluent_integration.yaml

fix test
  fluent-tests/src/test/java/com/azure/mgmttest/RuntimeTests.java
  typespec-tests/Generate.ps1
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/fluent_integration.yaml

Add new TypeSpec for testing
  typespec-tests/tsp/nested-discriminator.tsp
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

Fix nested enum discriminators
  javagen/src/main/java/com/azure/autorest/mapper/ModelMapper.java
  javagen/src/main/java/com/azure/autorest/template/ModelTemplate.java
  typespec-tests/src/main/java/com/cadl/patch/models/SawShark.java
  typespec-tests/src/main/java/com/cadl/patch/models/Shark.java
  typespec-tests/src/main/java/com/type/model/inheritance/enumnesteddiscriminator/EnumNestedDiscriminatorAsyncClient.java
  typespec-tests/src/main/java/com/type/model/inheritance/enumnesteddiscriminator/EnumNestedDiscriminatorClient.java
  typespec-tests/src/main/java/com/type/model/inheritance/enumnesteddiscriminator/EnumNestedDiscriminatorClientBuilder.java
  typespec-tests/src/main/java/com/type/model/inheritance/enumnesteddiscriminator/implementation/EnumNestedDiscriminatorClientImpl.java
  typespec-tests/src/main/java/com/type/model/inheritance/enumnesteddiscriminator/implementation/package-info.java
  typespec-tests/src/main/java/com/type/model/inheritance/enumnesteddiscriminator/models/Fish.java
  typespec-tests/src/main/java/com/type/model/inheritance/enumnesteddiscriminator/models/FishKind.java
  typespec-tests/src/main/java/com/type/model/inheritance/enumnesteddiscriminator/models/GoblinShark.java
  typespec-tests/src/main/java/com/type/model/inheritance/enumnesteddiscriminator/models/Salmon.java
  typespec-tests/src/main/java/com/type/model/inheritance/enumnesteddiscriminator/models/SawShark.java
  typespec-tests/src/main/java/com/type/model/inheritance/enumnesteddiscriminator/models/Shark.java
  typespec-tests/src/main/java/com/type/model/inheritance/enumnesteddiscriminator/models/SharkKind.java
  typespec-tests/src/main/java/com/type/model/inheritance/enumnesteddiscriminator/models/package-info.java
  typespec-tests/src/main/java/com/type/model/inheritance/enumnesteddiscriminator/package-info.java
  typespec-tests/src/main/java/com/type/model/inheritance/nesteddiscriminator/models/GoblinShark.java
  typespec-tests/src/main/resources/type-model-inheritance-enumnesteddiscriminator.properties
  typespec-tests/src/test/java/com/type/model/inheritance/enumnesteddiscriminator/generated/EnumNestedDiscriminatorClientTestBase.java
  typespec-tests/tsp/nested-enum-discriminator.tsp
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

bump 0.16.3
  typespec-extension/changelog.md
  typespec-extension/package-lock.json
  typespec-extension/package.json
  typespec-tests/package.json
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

Fixes for multi-level discriminators (#2799)
  javagen/src/main/java/com/azure/autorest/mapper/ModelMapper.java
  javagen/src/main/java/com/azure/autorest/template/ModelTemplate.java
  typespec-tests/src/main/java/com/cadl/patch/models/SawShark.java
  typespec-tests/src/main/java/com/cadl/patch/models/Shark.java
  typespec-tests/src/main/java/com/type/model/inheritance/enumnesteddiscriminator/EnumNestedDiscriminatorAsyncClient.java
  typespec-tests/src/main/java/com/type/model/inheritance/enumnesteddiscriminator/EnumNestedDiscriminatorClient.java
  typespec-tests/src/main/java/com/type/model/inheritance/enumnesteddiscriminator/EnumNestedDiscriminatorClientBuilder.java
  typespec-tests/src/main/java/com/type/model/inheritance/enumnesteddiscriminator/implementation/EnumNestedDiscriminatorClientImpl.java
  typespec-tests/src/main/java/com/type/model/inheritance/enumnesteddiscriminator/implementation/package-info.java
  typespec-tests/src/main/java/com/type/model/inheritance/enumnesteddiscriminator/models/Fish.java
  typespec-tests/src/main/java/com/type/model/inheritance/enumnesteddiscriminator/models/FishKind.java
  typespec-tests/src/main/java/com/type/model/inheritance/enumnesteddiscriminator/models/GoblinShark.java
  typespec-tests/src/main/java/com/type/model/inheritance/enumnesteddiscriminator/models/Salmon.java
  typespec-tests/src/main/java/com/type/model/inheritance/enumnesteddiscriminator/models/SawShark.java
  typespec-tests/src/main/java/com/type/model/inheritance/enumnesteddiscriminator/models/Shark.java
  typespec-tests/src/main/java/com/type/model/inheritance/enumnesteddiscriminator/models/SharkKind.java
  typespec-tests/src/main/java/com/type/model/inheritance/enumnesteddiscriminator/models/package-info.java
  typespec-tests/src/main/java/com/type/model/inheritance/enumnesteddiscriminator/package-info.java
  typespec-tests/src/main/java/com/type/model/inheritance/nesteddiscriminator/models/GoblinShark.java
  typespec-tests/src/main/resources/type-model-inheritance-enumnesteddiscriminator.properties
  typespec-tests/src/test/java/com/type/model/inheritance/enumnesteddiscriminator/generated/EnumNestedDiscriminatorClientTestBase.java
  typespec-tests/tsp/nested-enum-discriminator.tsp
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

handle result for LRO differently for ARM
  typespec-extension/src/code-model-builder.ts
  typespec-tests/tsp/arm.tsp
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

re-generate test code
  typespec-tests/src/main/java/com/_specs_/azure/core/lro/rpc/RpcAsyncClient.java
  typespec-tests/src/main/java/com/_specs_/azure/core/lro/rpc/RpcClient.java
  typespec-tests/src/main/java/com/_specs_/azure/core/lro/rpc/implementation/RpcClientImpl.java
  typespec-tests/src/main/java/com/_specs_/azure/core/lro/standard/StandardAsyncClient.java
  typespec-tests/src/main/java/com/_specs_/azure/core/lro/standard/StandardClient.java
  typespec-tests/src/main/java/com/_specs_/azure/core/lro/standard/implementation/StandardClientImpl.java
  typespec-tests/src/main/java/com/cadl/armresourceprovider/fluent/TopLevelArmResourceInterfacesClient.java
  typespec-tests/src/main/java/com/cadl/armresourceprovider/fluent/models/ResultInner.java
  typespec-tests/src/main/java/com/cadl/armresourceprovider/implementation/ResultImpl.java
  typespec-tests/src/main/java/com/cadl/armresourceprovider/implementation/TopLevelArmResourceImpl.java
  typespec-tests/src/main/java/com/cadl/armresourceprovider/implementation/TopLevelArmResourceInterfacesClientImpl.java
  typespec-tests/src/main/java/com/cadl/armresourceprovider/implementation/TopLevelArmResourceInterfacesImpl.java
  typespec-tests/src/main/java/com/cadl/armresourceprovider/models/Result.java
  typespec-tests/src/main/java/com/cadl/armresourceprovider/models/TopLevelArmResource.java
  typespec-tests/src/main/java/com/cadl/armresourceprovider/models/TopLevelArmResourceInterfaces.java
  typespec-tests/src/main/java/com/cadl/longrunning/LongRunningAsyncClient.java
  typespec-tests/src/main/java/com/cadl/longrunning/LongRunningClient.java
  typespec-tests/src/main/java/com/cadl/longrunning/implementation/LongRunningClientImpl.java
  typespec-tests/src/main/java/com/cadl/union/UnionAsyncClient.java
  typespec-tests/src/main/java/com/cadl/union/UnionClient.java
  typespec-tests/src/main/java/com/cadl/union/implementation/UnionFlattenOpsImpl.java
  typespec-tests/src/main/java/com/cadl/versioning/VersioningAsyncClient.java
  typespec-tests/src/main/java/com/cadl/versioning/VersioningClient.java
  typespec-tests/src/main/java/com/cadl/versioning/implementation/VersioningOpsImpl.java
  typespec-tests/src/main/resources/META-INF/native-image/com.azure.resourcemanager/azure-resourcemanager-armresourceprovider-generated/reflect-config.json
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

comments
  typespec-extension/src/code-model-builder.ts
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

fix
  typespec-extension/src/code-model-builder.ts
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

nit
  typespec-extension/src/code-model-builder.ts
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

re-generate test code
  typespec-tests/src/main/java/com/type/model/inheritance/enumnesteddiscriminator/EnumNestedDiscriminatorClientBuilder.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

unify logic
  typespec-extension/src/code-model-builder.ts
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

tsp, fix response of LRO POST action in ARM (#2801)
  typespec-extension/src/code-model-builder.ts
  typespec-tests/src/main/java/com/_specs_/azure/core/lro/rpc/RpcAsyncClient.java
  typespec-tests/src/main/java/com/_specs_/azure/core/lro/rpc/RpcClient.java
  typespec-tests/src/main/java/com/_specs_/azure/core/lro/rpc/implementation/RpcClientImpl.java
  typespec-tests/src/main/java/com/_specs_/azure/core/lro/standard/StandardAsyncClient.java
  typespec-tests/src/main/java/com/_specs_/azure/core/lro/standard/StandardClient.java
  typespec-tests/src/main/java/com/_specs_/azure/core/lro/standard/implementation/StandardClientImpl.java
  typespec-tests/src/main/java/com/cadl/armresourceprovider/fluent/TopLevelArmResourceInterfacesClient.java
  typespec-tests/src/main/java/com/cadl/armresourceprovider/fluent/models/ResultInner.java
  typespec-tests/src/main/java/com/cadl/armresourceprovider/implementation/ResultImpl.java
  typespec-tests/src/main/java/com/cadl/armresourceprovider/implementation/TopLevelArmResourceImpl.java
  typespec-tests/src/main/java/com/cadl/armresourceprovider/implementation/TopLevelArmResourceInterfacesClientImpl.java
  typespec-tests/src/main/java/com/cadl/armresourceprovider/implementation/TopLevelArmResourceInterfacesImpl.java
  typespec-tests/src/main/java/com/cadl/armresourceprovider/models/Result.java
  typespec-tests/src/main/java/com/cadl/armresourceprovider/models/TopLevelArmResource.java
  typespec-tests/src/main/java/com/cadl/armresourceprovider/models/TopLevelArmResourceInterfaces.java
  typespec-tests/src/main/java/com/cadl/longrunning/LongRunningAsyncClient.java
  typespec-tests/src/main/java/com/cadl/longrunning/LongRunningClient.java
  typespec-tests/src/main/java/com/cadl/longrunning/implementation/LongRunningClientImpl.java
  typespec-tests/src/main/java/com/cadl/union/UnionAsyncClient.java
  typespec-tests/src/main/java/com/cadl/union/UnionClient.java
  typespec-tests/src/main/java/com/cadl/union/implementation/UnionFlattenOpsImpl.java
  typespec-tests/src/main/java/com/cadl/versioning/VersioningAsyncClient.java
  typespec-tests/src/main/java/com/cadl/versioning/VersioningClient.java
  typespec-tests/src/main/java/com/cadl/versioning/implementation/VersioningOpsImpl.java
  typespec-tests/src/main/java/com/type/model/inheritance/enumnesteddiscriminator/EnumNestedDiscriminatorClientBuilder.java
  typespec-tests/src/main/resources/META-INF/native-image/com.azure.resourcemanager/azure-resourcemanager-armresourceprovider-generated/reflect-config.json
  typespec-tests/tsp/arm.tsp
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

replace logics for process parameter
  typespec-extension/src/code-model-builder.ts
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

tsp, minor clean up
  typespec-extension/src/code-model-builder.ts
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

format
  typespec-extension/src/code-model-builder.ts
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

minor change for parameter name for host
  typespec-extension/src/code-model-builder.ts
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

tsp, minor clean up (#2802)
  typespec-extension/src/code-model-builder.ts
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

bug fix
  typespec-extension/src/code-model-builder.ts
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

fix when model is immutable output
  javagen/src/main/java/com/azure/autorest/template/ModelTemplate.java
  javagen/src/main/java/com/azure/autorest/template/StreamSerializationModelTemplate.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

use json string in test
  fluent-tests/src/test/java/com/azure/mgmttest/RuntimeTests.java
Due: eng/pipelines/fluent_integration.yaml

re-generate test code
  typespec-tests/src/main/java/com/cadl/armstreamstyleserialization/fluent/models/SalmonInner.java
  typespec-tests/src/main/java/com/cadl/armstreamstyleserialization/fluent/models/TopLevelArmResourceInner.java
  typespec-tests/src/main/java/com/cadl/armstreamstyleserialization/models/GoblinShark.java
  typespec-tests/src/main/java/com/cadl/armstreamstyleserialization/models/SawShark.java
  typespec-tests/src/main/java/com/cadl/armstreamstyleserialization/models/Shark.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

fix output immutable
  javagen/src/main/java/com/azure/autorest/template/StreamSerializationModelTemplate.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

re-generate test code
  typespec-tests/src/main/java/com/cadl/armstreamstyleserialization/fluent/models/TopLevelArmResourceInner.java
  vanilla-tests/src/main/java/fixtures/additionalproperties/models/CatAPTrue.java
  vanilla-tests/src/main/java/fixtures/bodycomplex/models/DotSalmon.java
  vanilla-tests/src/main/java/fixtures/bodycomplex/models/MyDerivedType.java
  vanilla-tests/src/main/java/fixtures/modelflattening/models/FlattenedProduct.java
  vanilla-tests/src/main/java/fixtures/requiredfieldsascotrargstransformation/models/TransformationAsParentRequiredFields.java
  vanilla-tests/src/main/java/fixtures/streamstyleserializationimmutableoutput/models/DotSalmon.java
  vanilla-tests/src/main/java/fixtures/streamstyleserializationimmutableoutput/models/MyDerivedType.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml
