Repository Azure/autorest.java: changes, and which Azure pipelines are due for each by the changed paths.
All: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

eng/pipelines/ci-cadl-java.yaml:
  jobs:
  - job: Build
    timeoutInMinutes: 30
    variables:
      JavaVersion: 1.8
      NodeVersion: 18.x
      isMain: $[eq(variables['Build.SourceBranch'], 'refs/heads/main')]
    pool:
      name: azsdk-pool-mms-ubuntu-2004-general
      vmImage: MMSUbuntu20.04
    steps:
    - task: NodeTool@0
  ...

eng/pipelines/ci-typespec-java.yaml:
  jobs:
  - job: Build
    timeoutInMinutes: 30
    variables:
    - template: /eng/pipelines/variables/globals.yml
    - name: isMain
      value: $[eq(variables['Build.SourceBranch'], 'refs/heads/main')]
    pool:
      name: azsdk-pool-mms-ubuntu-2004-general
      vmImage: MMSUbuntu20.04
    steps:
  ...

eng/pipelines/ci.yaml:
  jobs:
  - job: Build
    timeoutInMinutes: 60
    variables:
      JavaVersion: 1.11
      NodeVersion: 18.x
    pool:
      name: azsdk-pool-mms-ubuntu-2004-general
      vmImage: MMSUbuntu20.04
    steps:
    - task: NodeTool@0
      displayName: Install Node.js $(NodeVersion)
      inputs:
  ...

eng/pipelines/fluent_integration.yaml:
  jobs:
  - job: Build
    timeoutInMinutes: 60
    pool:
      name: azsdk-pool-mms-ubuntu-2004-general
      vmImage: MMSUbuntu20.04
    variables:
    - template: /eng/pipelines/variables/globals.yml
    steps:
    - task: NodeTool@0
      inputs:
        versionSpec: $(NodeVersion)
    - script: npm install autorest -g
  ...

revert unnecessary change
  fluentgen/src/main/java/com/azure/autorest/fluent/model/clientmodel/FluentStatic.java
Due: eng/pipelines/ci-typespec-java.yaml, eng/pipelines/fluent_integration.yaml

re-generate test code
  typespec-tests/src/main/java/com/azure/resourcemanager/models/resources/fluent/NestedProxyResourcesClient.java
  typespec-tests/src/main/java/com/azure/resourcemanager/models/resources/fluent/TopLevelTrackedResourcesClient.java
  typespec-tests/src/main/java/com/azure/resourcemanager/models/resources/implementation/NestedProxyResourceImpl.java
  typespec-tests/src/main/java/com/azure/resourcemanager/models/resources/implementation/NestedProxyResourcesClientImpl.java
  typespec-tests/src/main/java/com/azure/resourcemanager/models/resources/implementation/NestedProxyResourcesImpl.java
  typespec-tests/src/main/java/com/azure/resourcemanager/models/resources/implementation/TopLevelTrackedResourceImpl.java
  typespec-tests/src/main/java/com/azure/resourcemanager/models/resources/implementation/TopLevelTrackedResourcesClientImpl.java
  typespec-tests/src/main/java/com/azure/resourcemanager/models/resources/models/NestedProxyResource.java
  typespec-tests/src/main/java/com/azure/resourcemanager/models/resources/models/NestedProxyResourceUpdate.java
  typespec-tests/src/main/java/com/azure/resourcemanager/models/resources/models/NestedProxyResourceUpdateProperties.java
  typespec-tests/src/main/java/com/azure/resourcemanager/models/resources/models/NestedProxyResources.java
  typespec-tests/src/main/java/com/azure/resourcemanager/models/resources/models/TopLevelTrackedResource.java
  typespec-tests/src/main/java/com/azure/resourcemanager/models/resources/models/TopLevelTrackedResourceUpdate.java
  typespec-tests/src/main/java/com/azure/resourcemanager/models/resources/models/TopLevelTrackedResourceUpdateProperties.java
  typespec-tests/src/main/java/com/azure/specialheaders/xmsclientrequestid/implementation/XmsClientRequestIdClientImpl.java
  typespec-tests/src/main/java/com/cadl/armresourceprovider/fluent/ChildResourcesInterfacesClient.java
  typespec-tests/src/main/java/com/cadl/armresourceprovider/fluent/models/OperationInner.java
  typespec-tests/src/main/java/com/cadl/armresourceprovider/implementation/ChildResourcesInterfacesClientImpl.java
  typespec-tests/src/main/java/com/cadl/armresourceprovider/implementation/ChildResourcesInterfacesImpl.java
  typespec-tests/src/main/java/com/cadl/armresourceprovider/models/ChildResourcesInterfaces.java
  typespec-tests/src/main/java/com/cadl/armresourceprovider/models/OperationDisplay.java
  typespec-tests/src/main/java/com/cadl/armresourceprovider/models/TopLevelArmResourceUpdate.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

re-generate test code
  typespec-tests/src/main/java/com/azure/resourcemanager/models/resources/fluent/NestedProxyResourcesClient.java
  typespec-tests/src/main/java/com/azure/resourcemanager/models/resources/implementation/NestedProxyResourcesClientImpl.java
  typespec-tests/src/main/java/com/azure/resourcemanager/models/resources/implementation/NestedProxyResourcesImpl.java
  typespec-tests/src/main/java/com/azure/resourcemanager/models/resources/models/NestedProxyResources.java
  typespec-tests/src/main/java/com/cadl/armresourceprovider/implementation/ChildResourcesInterfacesClientImpl.java
  typespec-tests/src/main/java/com/cadl/armresourceprovider/implementation/ChildResourcesInterfacesImpl.java
  typespec-tests/src/main/java/com/cadl/armresourceprovider/models/ChildResourcesInterfaces.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

Update test cases for Type/Property/Optional/Plaintime
  typespec-tests/src/test/java/com/type/property/optional/PlaintimeClientTests.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

Compute information about having a Context overload to call into in mapper
  androidgen/src/main/java/com/azure/autorest/android/model/clientmodel/AndroidClientMethod.java
  fluentgen/src/main/java/com/azure/autorest/fluent/model/clientmodel/fluentmodel/method/FluentActionMethod.java
  fluentgen/src/main/java/com/azure/autorest/fluent/template/FluentClientMethodTemplate.java
  javagen/src/main/java/com/azure/autorest/mapper/ClientMethodMapper.java
  javagen/src/main/java/com/azure/autorest/model/clientmodel/ClientMethod.java
  javagen/src/main/java/com/azure/autorest/model/clientmodel/ProxyMethod.java
  javagen/src/main/java/com/azure/autorest/model/javamodel/JavaBlock.java
  javagen/src/main/java/com/azure/autorest/template/ClientMethodTemplate.java
  javagen/src/main/java/com/azure/autorest/util/MethodNamer.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

Begin removing Jackson from Autorest
  androidgen/src/main/java/com/azure/autorest/android/Main.java
  customization-base/src/main/java/com/azure/autorest/customization/implementation/ls/EclipseLanguageClient.java
  extension-base/pom.xml
  extension-base/src/main/java/com/azure/autorest/extension/base/jsonrpc/CallerResponse.java
  extension-base/src/main/java/com/azure/autorest/extension/base/jsonrpc/Connection.java
  extension-base/src/main/java/com/azure/autorest/extension/base/jsonrpc/PeekingBinaryReader.java
  extension-base/src/main/java/com/azure/autorest/extension/base/model/Message.java
  extension-base/src/main/java/com/azure/autorest/extension/base/model/MessageChannel.java
  extension-base/src/main/java/com/azure/autorest/extension/base/model/SmartLocation.java
  extension-base/src/main/java/com/azure/autorest/extension/base/model/SourceLocation.java
  extension-base/src/main/java/com/azure/autorest/extension/base/model/codemodel/CSharpLanguage.java
  extension-base/src/main/java/com/azure/autorest/extension/base/model/codemodel/DictionaryApiVersion.java
  extension-base/src/main/java/com/azure/autorest/extension/base/model/codemodel/Language.java
  extension-base/src/main/java/com/azure/autorest/extension/base/model/codemodel/Languages.java
  extension-base/src/main/java/com/azure/autorest/extension/base/model/codemodel/Metadata.java
  extension-base/src/main/java/com/azure/autorest/extension/base/model/extensionmodel/AllowedResource.java
  extension-base/src/main/java/com/azure/autorest/extension/base/model/extensionmodel/XmsArmIdDetails.java
  extension-base/src/main/java/com/azure/autorest/extension/base/model/extensionmodel/XmsEnum.java
  extension-base/src/main/java/com/azure/autorest/extension/base/model/extensionmodel/XmsExamples.java
  extension-base/src/main/java/com/azure/autorest/extension/base/model/extensionmodel/XmsInternalAutorestAnonymousSchema.java
  extension-base/src/main/java/com/azure/autorest/extension/base/model/extensionmodel/XmsLongRunningOperationOptions.java
  extension-base/src/main/java/com/azure/autorest/extension/base/plugin/JavaSettings.java
  extension-base/src/main/java/com/azure/autorest/extension/base/plugin/NewPlugin.java
  extension-base/src/main/java/com/azure/autorest/extension/base/plugin/PluginLogger.java
  extension-base/src/main/java/com/azure/autorest/extension/base/util/JsonUtils.java
  fluentgen/src/main/java/com/azure/autorest/fluent/Main.java
  javagen/src/main/java/com/azure/autorest/Main.java
  postprocessor/src/main/java/com/azure/autorest/postprocessor/Postprocessor.java
  preprocessor/src/main/java/com/azure/autorest/preprocessor/Preprocessor.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

Fix possible NPE in ProxyMethodExample
  javagen/src/main/java/com/azure/autorest/model/clientmodel/ProxyMethodExample.java
  javagen/src/main/java/com/azure/autorest/template/example/ClientMethodExampleWriter.java
  javagen/src/main/java/com/azure/autorest/template/example/ProtocolExampleWriter.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

format
  typespec-tests/tsp/arm.tsp
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

fix test
  typespec-tests/src/test/java/com/_specs_/azure/clientgenerator/core/usage/UsageTests.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

commitid
  eng/sdk/sync_sdk.py
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

update commitid only for arm
  eng/sdk/sync_sdk.py
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

add .Management
  eng/sdk/sync_sdk.py
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

tsp, add test for cadl-ranch (#2866)
  typespec-tests/src/test/java/com/_specs_/azure/core/model/ModelClientTests.java
  typespec-tests/src/test/java/com/azure/resourcemanager/models/commontypes/managedidentity/ManagedIdentityManagerTests.java
  typespec-tests/src/test/java/com/type/model/visibility/AutomaticClientTest.java
  typespec-tests/src/test/java/com/type/property/optional/PlaindateClientTests.java
  typespec-tests/src/test/java/com/type/property/optional/PlaintimeClientTests.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

make ModelPropertyMapper constructor protected
  javagen/src/main/java/com/azure/autorest/mapper/ModelPropertyMapper.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

tsp arm, generate empty class for emptymodel (#2859)
  fluent-tests/Initialize-Tests.ps1
  fluent-tests/swagger/empty-model.json
  fluentgen/src/main/java/com/azure/autorest/fluent/FluentGen.java
  javagen/src/main/java/com/azure/autorest/mapper/ModelMapper.java
  javagen/src/main/java/com/azure/autorest/mapper/ModelPropertyMapper.java
  javagen/src/main/java/com/azure/autorest/mapper/NeedsPlainObjectCheck.java
  javagen/src/main/java/com/azure/autorest/mapper/ObjectMapper.java
  typespec-extension/src/main/java/com/azure/autorest/TypeSpecPlugin.java
  typespec-extension/src/main/java/com/azure/autorest/fluent/TypeSpecFluentMapperFactory.java
  typespec-extension/src/main/java/com/azure/autorest/fluent/TypeSpecFluentModelMapper.java
  typespec-extension/src/main/java/com/azure/autorest/fluent/TypeSpecFluentModelPropertyMapper.java
  typespec-extension/src/main/java/com/azure/autorest/fluent/TypeSpecFluentObjectMapper.java
  typespec-extension/src/main/java/com/azure/autorest/fluent/TypeSpecFluentPlugin.java
  typespec-tests/src/main/java/com/cadl/armresourceprovider/fluent/ChildExtensionResourceInterfacesClient.java
  typespec-tests/src/main/java/com/cadl/armresourceprovider/fluent/ChildResourcesInterfacesClient.java
  typespec-tests/src/main/java/com/cadl/armresourceprovider/fluent/models/CustomTemplateResourceInner.java
  typespec-tests/src/main/java/com/cadl/armresourceprovider/fluent/models/CustomTemplateResourceProperties.java
  typespec-tests/src/main/java/com/cadl/armresourceprovider/implementation/ChildExtensionResourceImpl.java
  typespec-tests/src/main/java/com/cadl/armresourceprovider/implementation/ChildExtensionResourceInterfacesClientImpl.java
  typespec-tests/src/main/java/com/cadl/armresourceprovider/implementation/ChildExtensionResourceInterfacesImpl.java
  typespec-tests/src/main/java/com/cadl/armresourceprovider/implementation/ChildResourcesInterfacesClientImpl.java
  typespec-tests/src/main/java/com/cadl/armresourceprovider/implementation/ChildResourcesInterfacesImpl.java
  typespec-tests/src/main/java/com/cadl/armresourceprovider/implementation/CustomTemplateResourceImpl.java
  typespec-tests/src/main/java/com/cadl/armresourceprovider/models/ChildExtensionResource.java
  typespec-tests/src/main/java/com/cadl/armresourceprovider/models/ChildExtensionResourceInterfaces.java
  typespec-tests/src/main/java/com/cadl/armresourceprovider/models/ChildExtensionResourceUpdate.java
  typespec-tests/src/main/java/com/cadl/armresourceprovider/models/ChildResourcesInterfaces.java
  typespec-tests/src/main/java/com/cadl/armresourceprovider/models/CustomTemplateResource.java
  typespec-tests/src/main/java/com/cadl/armresourceprovider/models/CustomTemplateResourcePropertiesAnonymousEmptyModel.java
  typespec-tests/src/main/java/com/cadl/armresourceprovider/models/EmptyModel.java
  typespec-tests/src/main/resources/META-INF/native-image/com.azure.resourcemanager/azure-resourcemanager-armresourceprovider-generated/reflect-config.json
  typespec-tests/tsp/arm.tsp
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

Update package.json
  typespec-tests/package.json
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

re-generate test code
  typespec-tests/src/main/java/com/cadl/flatten/implementation/models/SendLongRequest.java
  typespec-tests/src/main/java/com/cadl/flatten/implementation/models/UploadTodoRequest.java
  typespec-tests/src/main/java/com/cadl/flatten/models/SendLongOptions.java
  typespec-tests/src/main/java/com/cadl/flatten/models/SendLongRequestStatus.java
  typespec-tests/src/main/java/com/cadl/flatten/models/TodoItem.java
  typespec-tests/src/main/java/com/cadl/flatten/models/UploadTodoOptions.java
  typespec-tests/src/samples/java/com/cadl/flatten/generated/FlattenOpSendLong.java
  typespec-tests/src/test/java/com/cadl/flatten/generated/FlattenOpSendLongTests.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

tsp, update typespec-tests/package.json (#2868)
  typespec-tests/package.json
  typespec-tests/src/main/java/com/cadl/flatten/implementation/models/SendLongRequest.java
  typespec-tests/src/main/java/com/cadl/flatten/implementation/models/UploadTodoRequest.java
  typespec-tests/src/main/java/com/cadl/flatten/models/SendLongOptions.java
  typespec-tests/src/main/java/com/cadl/flatten/models/SendLongRequestStatus.java
  typespec-tests/src/main/java/com/cadl/flatten/models/TodoItem.java
  typespec-tests/src/main/java/com/cadl/flatten/models/UploadTodoOptions.java
  typespec-tests/src/samples/java/com/cadl/flatten/generated/FlattenOpSendLong.java
  typespec-tests/src/test/java/com/cadl/flatten/generated/FlattenOpSendLongTests.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

use sdkResponse.description and do not use initializationProperty.type.serverUrl for arm
  typespec-extension/src/code-model-builder.ts
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

regen
  typespec-tests/src/main/java/com/_specs_/azure/core/basic/BasicAsyncClient.java
  typespec-tests/src/main/java/com/_specs_/azure/core/basic/TwoModelsAsPageItemAsyncClient.java
  typespec-tests/src/main/java/com/_specs_/azure/example/basic/implementation/AzureExampleClientImpl.java
  typespec-tests/src/main/java/com/azure/resourcemanager/models/commontypes/managedidentity/ManagedIdentityManager.java
  typespec-tests/src/main/java/com/azure/resourcemanager/models/commontypes/managedidentity/fluent/ManagedIdentityClient.java
  typespec-tests/src/main/java/com/azure/resourcemanager/models/commontypes/managedidentity/fluent/ManagedIdentityTrackedResourcesClient.java
  typespec-tests/src/main/java/com/azure/resourcemanager/models/commontypes/managedidentity/implementation/ManagedIdentityClientBuilder.java
  typespec-tests/src/main/java/com/azure/resourcemanager/models/commontypes/managedidentity/implementation/ManagedIdentityClientImpl.java
  typespec-tests/src/main/java/com/azure/resourcemanager/models/commontypes/managedidentity/implementation/ManagedIdentityTrackedResourcesClientImpl.java
  typespec-tests/src/main/java/com/azure/resourcemanager/models/commontypes/managedidentity/models/ManagedIdentityTrackedResources.java
  typespec-tests/src/main/java/com/azure/resourcemanager/models/resources/implementation/NestedProxyResourcesClientImpl.java
  typespec-tests/src/main/java/com/azure/resourcemanager/models/resources/implementation/TopLevelTrackedResourcesClientImpl.java
  typespec-tests/src/main/java/com/cadl/armresourceprovider/implementation/ChildExtensionResourceInterfacesClientImpl.java
  typespec-tests/src/main/java/com/cadl/armresourceprovider/implementation/ChildResourcesInterfacesClientImpl.java
  typespec-tests/src/main/java/com/cadl/armresourceprovider/implementation/CustomTemplateResourceInterfacesClientImpl.java
  typespec-tests/src/main/java/com/cadl/armresourceprovider/implementation/OperationsClientImpl.java
  typespec-tests/src/main/java/com/cadl/armresourceprovider/implementation/TopLevelArmResourceInterfacesClientImpl.java
  typespec-tests/src/main/java/com/cadl/armstreamstyleserialization/implementation/FishesClientImpl.java
  typespec-tests/src/main/java/com/cadl/armstreamstyleserialization/implementation/TopLevelArmResourcesClientImpl.java
  typespec-tests/src/main/java/com/cadl/flatten/implementation/models/SendLongRequest.java
  typespec-tests/src/main/java/com/cadl/flatten/implementation/models/UploadTodoRequest.java
  typespec-tests/src/main/java/com/cadl/flatten/models/SendLongOptions.java
  typespec-tests/src/main/java/com/cadl/flatten/models/SendLongRequestStatus.java
  typespec-tests/src/main/java/com/cadl/flatten/models/TodoItem.java
  typespec-tests/src/main/java/com/cadl/flatten/models/UploadTodoOptions.java
  typespec-tests/src/main/java/com/cadl/protocolandconvenient/ProtocolAndConvenientAsyncClient.java
  typespec-tests/src/main/java/com/cadl/response/ResponseAsyncClient.java
  typespec-tests/src/main/java/com/cadl/specialheaders/EtagHeadersAsyncClient.java
  typespec-tests/src/main/java/com/cadl/versioning/VersioningAsyncClient.java
  typespec-tests/src/main/java/com/payload/pageable/PageableAsyncClient.java
  typespec-tests/src/main/java/com/type/model/visibility/implementation/VisibilityClientImpl.java
  typespec-tests/src/main/java/com/type/property/optional/PlaindateAsyncClient.java
  typespec-tests/src/main/java/com/type/property/optional/PlaindateClient.java
  typespec-tests/src/main/java/com/type/property/optional/PlaintimeAsyncClient.java
  typespec-tests/src/main/java/com/type/property/optional/PlaintimeClient.java
  typespec-tests/src/main/java/com/type/property/optional/implementation/PlaindatesImpl.java
  typespec-tests/src/main/java/com/type/property/optional/implementation/PlaintimesImpl.java
  typespec-tests/src/samples/java/com/cadl/flatten/generated/FlattenOpSendLong.java
  typespec-tests/src/test/java/com/cadl/flatten/generated/FlattenOpSendLongTests.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

update cadl-ranch
  typespec-extension/package-lock.json
  typespec-extension/package.json
  typespec-tests/package.json
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

re-generate test code
  typespec-tests/src/main/java/com/_specs_/azure/clientgenerator/core/usage/UsageAsyncClient.java
  typespec-tests/src/main/java/com/_specs_/azure/clientgenerator/core/usage/UsageClient.java
  typespec-tests/src/main/java/com/_specs_/azure/clientgenerator/core/usage/implementation/ModelInOperationsImpl.java
  typespec-tests/src/main/java/com/type/property/optional/OptionalClientBuilder.java
  typespec-tests/src/main/java/com/type/property/optional/PlainDateAsyncClient.java
  typespec-tests/src/main/java/com/type/property/optional/PlainDateClient.java
  typespec-tests/src/main/java/com/type/property/optional/PlainTimeAsyncClient.java
  typespec-tests/src/main/java/com/type/property/optional/PlainTimeClient.java
  typespec-tests/src/main/java/com/type/property/optional/implementation/OptionalClientImpl.java
  typespec-tests/src/main/java/com/type/property/optional/implementation/PlainDatesImpl.java
  typespec-tests/src/main/java/com/type/property/optional/implementation/PlainTimesImpl.java
  typespec-tests/src/main/java/com/type/property/optional/models/PlainDateProperty.java
  typespec-tests/src/main/java/com/type/property/optional/models/PlainTimeProperty.java
  typespec-tests/src/test/java/com/type/property/optional/generated/OptionalClientTestBase.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

update test
  typespec-tests/src/test/java/com/type/property/optional/PlainDateClientTests.java
  typespec-tests/src/test/java/com/type/property/optional/PlainTimeClientTests.java
  typespec-tests/src/test/java/com/type/property/optional/PlaindateClientTests.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

tsp, bump cadl-ranch (#2869)
  typespec-extension/package-lock.json
  typespec-extension/package.json
  typespec-tests/package.json
  typespec-tests/src/main/java/com/_specs_/azure/clientgenerator/core/usage/UsageAsyncClient.java
  typespec-tests/src/main/java/com/_specs_/azure/clientgenerator/core/usage/UsageClient.java
  typespec-tests/src/main/java/com/_specs_/azure/clientgenerator/core/usage/implementation/ModelInOperationsImpl.java
  typespec-tests/src/main/java/com/type/property/optional/OptionalClientBuilder.java
  typespec-tests/src/main/java/com/type/property/optional/PlainDateAsyncClient.java
  typespec-tests/src/main/java/com/type/property/optional/PlainDateClient.java
  typespec-tests/src/main/java/com/type/property/optional/PlainTimeAsyncClient.java
  typespec-tests/src/main/java/com/type/property/optional/PlainTimeClient.java
  typespec-tests/src/main/java/com/type/property/optional/implementation/OptionalClientImpl.java
  typespec-tests/src/main/java/com/type/property/optional/implementation/PlainDatesImpl.java
  typespec-tests/src/main/java/com/type/property/optional/implementation/PlainTimesImpl.java
  typespec-tests/src/main/java/com/type/property/optional/models/PlainDateProperty.java
  typespec-tests/src/main/java/com/type/property/optional/models/PlainTimeProperty.java
  typespec-tests/src/test/java/com/_specs_/azure/clientgenerator/core/usage/UsageTests.java
  typespec-tests/src/test/java/com/type/property/optional/PlainDateClientTests.java
  typespec-tests/src/test/java/com/type/property/optional/PlainTimeClientTests.java
  typespec-tests/src/test/java/com/type/property/optional/PlaindateClientTests.java
  typespec-tests/src/test/java/com/type/property/optional/generated/OptionalClientTestBase.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

Fix possible NPE in ProxyMethodExample (#2867)
  javagen/src/main/java/com/azure/autorest/model/clientmodel/ProxyMethodExample.java
  javagen/src/main/java/com/azure/autorest/template/example/ClientMethodExampleWriter.java
  javagen/src/main/java/com/azure/autorest/template/example/ProtocolExampleWriter.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

tsp, bug fix, multiple content-type and json merge patch
  javagen/src/main/java/com/azure/autorest/mapper/ClientMethodMapper.java
  javagen/src/main/java/com/azure/autorest/mapper/ClientParameterMapper.java
  javagen/src/main/java/com/azure/autorest/mapper/CustomClientParameterMapper.java
  typespec-tests/tsp/multiple-content-types.tsp
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

bump version
  typespec-extension/changelog.md
  typespec-extension/package.json
  typespec-tests/package.json
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

re-generate test code
  typespec-tests/src/main/java/com/cadl/multicontenttypes/MultipleContentTypesOnRequestAsyncClient.java
  typespec-tests/src/main/java/com/cadl/multicontenttypes/MultipleContentTypesOnRequestClient.java
  typespec-tests/src/main/java/com/cadl/multicontenttypes/implementation/MultipleContentTypesOnRequestsImpl.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

Fix references to generic-core
  javagen/src/main/java/com/azure/autorest/mapper/PomMapper.java
  javagen/src/main/java/com/azure/autorest/model/clientmodel/Annotation.java
  javagen/src/main/java/com/azure/autorest/model/clientmodel/ClassType.java
  javagen/src/main/java/com/azure/autorest/model/clientmodel/ClientModel.java
  javagen/src/main/java/com/azure/autorest/model/clientmodel/ExternalPackage.java
  javagen/src/main/java/com/azure/autorest/model/clientmodel/GenericType.java
  javagen/src/main/java/com/azure/autorest/model/projectmodel/Project.java
  javagen/src/main/java/com/azure/autorest/template/EnumTemplate.java
  javagen/src/main/java/com/azure/autorest/template/ModelTemplate.java
  javagen/src/main/java/com/azure/autorest/template/ServiceClientBuilderTemplate.java
  javagen/src/main/java/com/azure/autorest/template/ServiceSyncClientTemplate.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

Fix references to generic-core (#2871)
  javagen/src/main/java/com/azure/autorest/mapper/PomMapper.java
  javagen/src/main/java/com/azure/autorest/model/clientmodel/Annotation.java
  javagen/src/main/java/com/azure/autorest/model/clientmodel/ClassType.java
  javagen/src/main/java/com/azure/autorest/model/clientmodel/ClientModel.java
  javagen/src/main/java/com/azure/autorest/model/clientmodel/ExternalPackage.java
  javagen/src/main/java/com/azure/autorest/model/clientmodel/GenericType.java
  javagen/src/main/java/com/azure/autorest/model/projectmodel/Project.java
  javagen/src/main/java/com/azure/autorest/template/EnumTemplate.java
  javagen/src/main/java/com/azure/autorest/template/ModelTemplate.java
  javagen/src/main/java/com/azure/autorest/template/ServiceClientBuilderTemplate.java
  javagen/src/main/java/com/azure/autorest/template/ServiceSyncClientTemplate.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

sync impl of CustomClientParameterMapper to that of ClientParameterMapper
  javagen/src/main/java/com/azure/autorest/mapper/CustomClientParameterMapper.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

temporary add an emitter option to control the filter behavior, default is not filter
  typespec-extension/src/code-model-builder.ts
  typespec-extension/src/emitter.ts
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

add service-version-exclude-preview to test
  typespec-tests/Generate.ps1
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

tsp, temporary use emitter option service-version-exclude-preview to enable "filter out preview if GA api-version" (#2872)
  typespec-extension/src/code-model-builder.ts
  typespec-extension/src/emitter.ts
  typespec-tests/Generate.ps1
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

Path conditions:
  eng/pipelines/ci-cadl-java.yaml: any of: *, but not: fluent*, postprocessor, vanilla-tests, protocol*
  eng/pipelines/ci-typespec-java.yaml: any of: *, but not: androidgen, azure-dataplane-tests, azure-tests, fluent-tests, partial-update-tests, vanilla-tests, protocol*
  eng/pipelines/ci.yaml: any of: *, but not: fluent*, typespec*
  eng/pipelines/fluent_integration.yaml: any of: *, but not: typespec*
