Repository Azure/autorest.java: changes, and which Azure pipelines are due for each by the changed paths.
All: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

eng/pipelines/ci-cadl-java.yaml:
  jobs:
  - job: Build
    timeoutInMinutes: 30
    variables:
      JavaVersion: 1.8
      NodeVersion: 18.x
      isMain: $[eq(variables['Build.SourceBranch'], 'refs/heads/main')]
    pool:
      name: azsdk-pool-mms-ubuntu-2004-general
      vmImage: MMSUbuntu20.04
    steps:
    - task: NodeTool@0
  ...

eng/pipelines/ci-typespec-java.yaml:
  jobs:
  - job: Build
    timeoutInMinutes: 30
    variables:
      JavaVersion: 1.11
      NodeVersion: 18.x
      isMain: $[eq(variables['Build.SourceBranch'], 'refs/heads/main')]
    pool:
      name: azsdk-pool-mms-ubuntu-2004-general
      vmImage: MMSUbuntu20.04
    steps:
    - task: NodeTool@0
  ...

eng/pipelines/ci.yaml:
  jobs:
  - job: Build
    timeoutInMinutes: 60
    variables:
      JavaVersion: 1.11
      NodeVersion: 18.x
    pool:
      name: azsdk-pool-mms-ubuntu-2004-general
      vmImage: MMSUbuntu20.04
    steps:
    - task: NodeTool@0
      displayName: Install Node.js $(NodeVersion)
      inputs:
  ...

eng/pipelines/fluent_integration.yaml:
  jobs:
  - job: Build
    timeoutInMinutes: 60
    pool:
      name: azsdk-pool-mms-ubuntu-2004-general
      vmImage: MMSUbuntu20.04
    steps:
    - task: NodeTool@0
      inputs:
        versionSpec: 18.x
    - script: npm install autorest -g
    - task: Maven@3
      retryCountOnTaskFailure: 1
      inputs:
  ...

nit on enum name
  extension-base/src/main/java/com/azure/autorest/extension/base/model/codemodel/SchemaContext.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

tsp, json-merge-patch, add usage.json-merge-patch to models (#2407)
  extension-base/src/main/java/com/azure/autorest/extension/base/model/codemodel/SchemaContext.java
  javagen/src/main/java/com/azure/autorest/model/clientmodel/ImplementationDetails.java
  typespec-extension/src/code-model-builder.ts
  typespec-extension/src/common/schemas/usage.ts
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

bug on pass-discriminator-to-child-deserialization
  vanilla-tests/src/main/java/fixtures/inheritance/passdiscriminator/models/MetricAlertSingleResourceMultipleMetricCriteria.java
  vanilla-tests/src/test/java/fixtures/Bug.java
Due: eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

include decimal128
  typespec-extension/src/code-model-builder.ts
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

fix bug of not using projectedName on body param
  typespec-extension/src/code-model-builder.ts
  typespec-tests/src/main/java/com/cadl/naming/NamingAsyncClient.java
  typespec-tests/src/main/java/com/cadl/naming/NamingClient.java
  typespec-tests/src/main/java/com/cadl/naming/implementation/NamingClientImpl.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

re-generate test code
  typespec-tests/src/main/java/com/cadl/naming/NamingClient.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

a few more lines
  vanilla-tests/src/test/java/fixtures/Bug.java
Due: eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

Handle ResponseError serialization
  javagen/src/main/java/com/azure/autorest/model/javamodel/JavaPackage.java
  javagen/src/main/java/com/azure/autorest/template/StreamSerializationModelTemplate.java
  javagen/src/main/java/com/azure/autorest/util/ClientModelUtil.java
  javagen/src/main/resources/ResponseErrorUtils.java
  typespec-tests/src/main/java/com/_specs_/azure/core/lro/rpc/legacy/implementation/ResponseErrorUtils.java
  typespec-tests/src/main/java/com/_specs_/azure/core/lro/rpc/legacy/models/ErrorResponse.java
  typespec-tests/src/main/java/com/cadl/errormodel/implementation/ResponseErrorUtils.java
  typespec-tests/src/main/java/com/cadl/errormodel/models/Diagnostic.java
  typespec-tests/src/main/java/com/cadl/response/implementation/ResponseErrorUtils.java
  typespec-tests/src/main/java/com/cadl/response/models/OperationDetails1.java
  typespec-tests/src/main/java/com/cadl/response/models/OperationDetails2.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

Regenerate non-TypeSpec
  azure-dataplane-tests/src/main/java/com/azure/containers/containerregistry/implementation/models/ArtifactManifestPropertiesInternal.java
  azure-dataplane-tests/src/main/java/com/azure/containers/containerregistry/implementation/models/ManifestAttributesBase.java
  azure-dataplane-tests/src/main/java/com/azure/containers/containerregistry/implementation/models/Paths108HwamOauth2ExchangePostRequestbodyContentApplicationXWwwFormUrlencodedSchema.java
  azure-dataplane-tests/src/main/java/com/azure/containers/containerregistry/implementation/models/PathsV3R3RxOauth2TokenPostRequestbodyContentApplicationXWwwFormUrlencodedSchema.java
  vanilla-tests/src/main/java/fixtures/streamstyleserialization/models/Basic.java
  vanilla-tests/src/main/java/fixtures/streamstyleserialization/models/Goblinshark.java
  vanilla-tests/src/main/java/fixtures/streamstyleserialization/models/MyDerivedType.java
  vanilla-tests/src/main/java/fixtures/streamstyleserializationctorargs/models/Basic.java
  vanilla-tests/src/main/java/fixtures/streamstyleserializationctorargs/models/Goblinshark.java
  vanilla-tests/src/main/java/fixtures/streamstyleserializationctorargs/models/MyDerivedType.java
  vanilla-tests/src/main/java/fixtures/streamstyleserializationctorargs/models/Salmon.java
  vanilla-tests/src/main/java/fixtures/streamstyleserializationctorargs/models/SmartSalmon.java
  vanilla-tests/src/main/java/fixtures/streamstylexmlserialization/models/BlobProperties.java
  vanilla-tests/src/main/java/fixtures/streamstylexmlserialization/models/ContainerProperties.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

Run build sequentially to see what deadlocks
  eng/pipelines/ci-typespec-java-dev-nightly.yaml
  eng/pipelines/ci-typespec-java.yaml
  eng/pipelines/ci.yaml
  eng/pipelines/publish-autorest-java.yaml
  eng/pipelines/publish-typespec-java.yaml
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

Forcibly close the server
  customization-base/src/main/java/com/azure/autorest/customization/Customization.java
  customization-base/src/main/java/com/azure/autorest/customization/implementation/ls/EclipseLanguageClient.java
  customization-base/src/main/java/com/azure/autorest/customization/implementation/ls/EclipseLanguageServerFacade.java
  customization-base/src/test/java/com/azure/autorest/customization/AnnotationTests.java
  customization-base/src/test/java/com/azure/autorest/customization/ClassCustomizationTests.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

bump version to 0.11.2
  typespec-extension/package.json
  typespec-tests/package.json
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

refactor, add comments
  javagen/src/main/java/com/azure/autorest/mapper/ClientMethodMapper.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

nit
  extension-base/src/main/java/com/azure/autorest/extension/base/plugin/JavaSettings.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

add sync-strategy to readme
  readme.md
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

update typespec-java readme
  typespec-extension/readme.md
  typespec-extension/src/main/java/com/azure/typespec/model/EmitterOptions.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

update readme
  readme.md
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

eng, ignore generated folder in sdk sync, if that folder not in sdk repo
  eng/sdk/sync_sdk.py
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

tsp, bug fix, not using projectedName on request body param (#2409)
  typespec-extension/package.json
  typespec-extension/src/code-model-builder.ts
  typespec-tests/package.json
  typespec-tests/src/main/java/com/cadl/naming/NamingAsyncClient.java
  typespec-tests/src/main/java/com/cadl/naming/NamingClient.java
  typespec-tests/src/main/java/com/cadl/naming/implementation/NamingClientImpl.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

tsp, minor refactor on merge of LongRunningMetadata and PollingDetails (#2412)
  extension-base/src/main/java/com/azure/autorest/extension/base/plugin/JavaSettings.java
  javagen/src/main/java/com/azure/autorest/mapper/ClientMethodMapper.java
  readme.md
  typespec-extension/readme.md
  typespec-extension/src/main/java/com/azure/typespec/model/EmitterOptions.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

eng, ignore generated folder in sdk sync, if that folder not in sdk repo (#2413)
  eng/sdk/sync_sdk.py
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

fix script
  eng/sdk/sync_sdk.py
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

Fix XML deserialization of enum types
  javagen/src/main/java/com/azure/autorest/model/clientmodel/ArrayType.java
  javagen/src/main/java/com/azure/autorest/model/clientmodel/ClassType.java
  javagen/src/main/java/com/azure/autorest/model/clientmodel/EnumType.java
  javagen/src/main/java/com/azure/autorest/model/clientmodel/GenericType.java
  javagen/src/main/java/com/azure/autorest/model/clientmodel/IType.java
  javagen/src/main/java/com/azure/autorest/model/clientmodel/PrimitiveType.java
  javagen/src/main/java/com/azure/autorest/template/StreamSerializationModelTemplate.java
  typespec-tests/src/main/java/com/_specs_/azure/core/lro/rpc/legacy/models/ErrorResponse.java
  typespec-tests/src/main/java/com/cadl/errormodel/models/Diagnostic.java
  typespec-tests/src/main/java/com/cadl/response/models/OperationDetails1.java
  typespec-tests/src/main/java/com/cadl/response/models/OperationDetails2.java
  vanilla-tests/src/main/java/fixtures/streamstylexmlserialization/models/BlobProperties.java
  vanilla-tests/src/main/java/fixtures/streamstylexmlserialization/models/ContainerProperties.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

Fix duplicate class issue
  typespec-tests/src/main/java/com/cadl/partialupdate/partialupdate/PartialUpdateAsyncClient.java
  typespec-tests/src/main/java/com/cadl/partialupdate/partialupdate/PartialUpdateClient.java
  typespec-tests/src/main/java/com/cadl/partialupdate/partialupdate/PartialUpdateClientBuilder.java
  typespec-tests/src/main/java/com/cadl/partialupdate/partialupdate/PartialUpdateServiceVersion.java
  typespec-tests/src/main/java/com/cadl/partialupdate/partialupdate/implementation/PartialUpdateClientImpl.java
  typespec-tests/src/main/java/com/cadl/partialupdate/partialupdate/implementation/package-info.java
  typespec-tests/src/main/java/com/cadl/partialupdate/partialupdate/models/PartialUpdateModel.java
  typespec-tests/src/main/java/com/cadl/partialupdate/partialupdate/models/package-info.java
  typespec-tests/src/main/java/com/cadl/partialupdate/partialupdate/package-info.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

Don't revalidate discriminator
  javagen/src/main/java/com/azure/autorest/template/StreamSerializationModelTemplate.java
  typespec-tests/src/main/java/com/type/model/inheritance/enumdiscriminator/models/Snake.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

Parallelize Generate scripts
  Generate.ps1
  typespec-tests/Generate.ps1
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

Finish TypeSpec generation
  typespec-tests/Generate.ps1
  typespec-tests/src/main/java/com/cadl/PartialUpdateAsyncClient.java
  typespec-tests/src/main/java/com/cadl/PartialUpdateClient.java
  typespec-tests/src/main/java/com/cadl/PartialUpdateClientBuilder.java
  typespec-tests/src/main/java/com/cadl/implementation/PartialUpdateClientImpl.java
  typespec-tests/src/main/java/com/cadl/implementation/package-info.java
  typespec-tests/src/main/java/com/cadl/models/PartialUpdateModel.java
  typespec-tests/src/main/java/com/cadl/models/package-info.java
  typespec-tests/src/main/java/com/cadl/package-info.java
  typespec-tests/src/main/java/com/cadl/partialupdate/PartialUpdateServiceVersion.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

Fix TypeSpec generation
  typespec-tests/Generate.ps1
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

Remove random 12
  Generate.ps1
  typespec-tests/Generate.ps1
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

Parallelize Generate scripts (#2415)
  Generate.ps1
  typespec-tests/Generate.ps1
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

Add version tooling from azure-sdk-for-java
  androidgen/pom.xml
  azure-dataplane-tests/pom.xml
  azure-tests/pom.xml
  customization-base/pom.xml
  customization-base/src/main/resources/pom.xml
  customization-tests/pom.xml
  eng/versioning/external_dependencies.txt
  eng/versioning/pom_file_version_scanner.ps1
  eng/versioning/scan_for_unreleased_dependencies.ps1
  eng/versioning/set_versions.py
  eng/versioning/update_versions.py
  eng/versioning/utils.py
  eng/versioning/version_client.txt
  extension-base/pom.xml
  fluent-tests/pom.xml
  fluentgen/pom.xml
  fluentgen/src/main/resources/eclipse-format-azure-sdk-for-java.xml
  fluentgen/src/main/resources/spotless-pom.xml
  fluentnamer/pom.xml
  javagen/pom.xml
  partial-update-tests/pom.xml
  partial-update/pom.xml
  pom.xml
  postprocessor/pom.xml
  preprocessor/pom.xml
  protocol-resilience-test/pom.xml
  protocol-tests/pom.xml
  typespec-extension/pom.xml
  typespec-extension/src/main/resources/eclipse-format-azure-sdk-for-java.xml
  typespec-extension/src/main/resources/spotless-pom.xml
  typespec-tests/pom.xml
  vanilla-tests/pom.xml
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

Align versions
  eng/versioning/__pycache__/utils.cpython-311.pyc
  eng/versioning/external_dependencies.txt
  fluent-tests/pom.xml
  protocol-tests/pom.xml
  vanilla-tests/pom.xml
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

Add gitignore
  eng/versioning/.gitignore
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

Add CI caching
  eng/pipelines/ci-typespec-java-dev-nightly.yaml
  eng/pipelines/ci-typespec-java.yaml
  eng/pipelines/ci.yaml
  eng/pipelines/fluent_integration.yaml
  eng/pipelines/post-publish-sdk.yaml
  eng/pipelines/publish-autorest-java.yaml
  eng/pipelines/publish-typespec-java.yaml
  eng/pipelines/steps/cache-maven-repository.yml
  eng/pipelines/steps/cleanup-maven-local-cache.yml
  eng/scripts/Remove-Azure-Artifacts-From-Cache.ps1
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

Fix issue
  eng/pipelines/steps/cleanup-maven-local-cache.yml
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

Path conditions:
  eng/pipelines/ci-cadl-java.yaml: any of: *, but not: fluent*, postprocessor, vanilla-tests, protocol*
  eng/pipelines/ci-typespec-java.yaml: any of: *, but not: fluent*, postprocessor, vanilla-tests, protocol*
  eng/pipelines/ci.yaml: any of: *, but not: fluent*, typespec*
  eng/pipelines/fluent_integration.yaml: any of: *, but not: typespec*
