Repository Azure/autorest.java: changes, and which Azure pipelines are due for each by the changed paths.
All: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

eng/pipelines/ci-cadl-java.yaml:
  jobs:
  - job: Build
    timeoutInMinutes: 30
    variables:
      JavaVersion: 1.8
      NodeVersion: 18.x
      isMain: $[eq(variables['Build.SourceBranch'], 'refs/heads/main')]
    pool:
      name: azsdk-pool-mms-ubuntu-2004-general
      vmImage: MMSUbuntu20.04
    steps:
    - task: NodeTool@0
  ...

eng/pipelines/ci-typespec-java.yaml:
  jobs:
  - job: Build
    timeoutInMinutes: 30
    variables:
    - template: /eng/pipelines/variables/globals.yml
    - name: isMain
      value: $[eq(variables['Build.SourceBranch'], 'refs/heads/main')]
    pool:
      name: azsdk-pool-mms-ubuntu-2004-general
      vmImage: MMSUbuntu20.04
    steps:
  ...

eng/pipelines/ci.yaml:
  jobs:
  - job: Build
    timeoutInMinutes: 60
    variables:
      JavaVersion: 1.11
      NodeVersion: 18.x
    pool:
      name: azsdk-pool-mms-ubuntu-2004-general
      vmImage: MMSUbuntu20.04
    steps:
    - task: NodeTool@0
      displayName: Install Node.js $(NodeVersion)
      inputs:
  ...

eng/pipelines/fluent_integration.yaml:
  jobs:
  - job: Build
    timeoutInMinutes: 60
    pool:
      name: azsdk-pool-mms-ubuntu-2004-general
      vmImage: MMSUbuntu20.04
    variables:
    - template: /eng/pipelines/variables/globals.yml
    steps:
    - task: NodeTool@0
      inputs:
        versionSpec: $(NodeVersion)
    - script: npm install autorest -g
  ...

Fix test
  fluent-tests/src/test/java/com/azure/mgmttest/RuntimeTests.java
Due: eng/pipelines/fluent_integration.yaml

avoid nested ternary
  javagen/src/main/java/com/azure/autorest/template/ClientMethodTemplateBase.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

bug fix, 'partial update' will execute twice when generate from TypeSpec. (#2572)
  partial-update/src/main/java/com/azure/autorest/partialupdate/util/PartialUpdateHandler.java
  typespec-extension/changelog.md
  typespec-extension/package.json
  typespec-extension/src/main/java/com/azure/typespec/Main.java
  typespec-tests/package.json
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

bump dependencies
  typespec-extension/changelog.md
  typespec-extension/package-lock.json
  typespec-extension/package.json
  typespec-tests/package.json
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

update as Azure.Core 0.39.1 has breaking change on member.variant -> member.type
  typespec-extension/src/code-model-builder.ts
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

test for clientName
  typespec-tests/tsp/naming.tsp
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

re-generate test code
  typespec-tests/src/main/java/com/cadl/naming/models/DataStatus.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

fix lint
  typespec-extension/src/code-model-builder.ts
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

fix format
  typespec-tests/tsp/naming.tsp
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

bug fixes: 1. set toJsonMergePatch as private, 2. switch the order of updatedProperties check and null check
  javagen/src/main/java/com/azure/autorest/template/StreamSerializationModelTemplate.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

regen
  typespec-tests/src/main/java/com/_specs_/azure/core/basic/models/User.java
  typespec-tests/src/main/java/com/_specs_/azure/core/basic/models/UserOrder.java
  typespec-tests/src/main/java/com/cadl/partialupdate/models/PartialUpdateModel.java
  typespec-tests/src/main/java/com/cadl/patch/models/Fish.java
  typespec-tests/src/main/java/com/cadl/patch/models/InnerModel.java
  typespec-tests/src/main/java/com/cadl/patch/models/Resource.java
  typespec-tests/src/main/java/com/cadl/patch/models/Salmon.java
  typespec-tests/src/main/java/com/cadl/patch/models/Shark.java
  typespec-tests/src/main/java/com/cadl/specialheaders/models/Resource.java
  typespec-tests/src/main/java/com/payload/jsonmergepatch/models/InnerModel.java
  typespec-tests/src/main/java/com/payload/jsonmergepatch/models/ResourcePatch.java
  typespec-tests/src/main/java/com/type/property/nullable/models/BytesProperty.java
  typespec-tests/src/main/java/com/type/property/nullable/models/CollectionsByteProperty.java
  typespec-tests/src/main/java/com/type/property/nullable/models/CollectionsModelProperty.java
  typespec-tests/src/main/java/com/type/property/nullable/models/DatetimeProperty.java
  typespec-tests/src/main/java/com/type/property/nullable/models/DurationProperty.java
  typespec-tests/src/main/java/com/type/property/nullable/models/InnerModel.java
  typespec-tests/src/main/java/com/type/property/nullable/models/StringProperty.java
  typespec-tests/src/test/java/com/cadl/patch/PatchClientTest.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

Remove mockito from mock tests (#2573)
  fluent-tests/pom.xml
  fluent-tests/src/test/java/com/azure/mgmttest/RuntimeTests.java
  fluentgen/src/main/java/com/azure/autorest/fluent/FluentGen.java
  fluentgen/src/main/java/com/azure/autorest/fluent/mapper/FluentPomMapper.java
  fluentgen/src/main/java/com/azure/autorest/fluent/template/FluentMethodMockTestTemplate.java
Due: eng/pipelines/ci-typespec-java.yaml, eng/pipelines/fluent_integration.yaml

Initial cleanup of Autorest extension
  extension-base/src/main/java/com/azure/autorest/extension/base/jsonrpc/CallerResponse.java
  extension-base/src/main/java/com/azure/autorest/extension/base/jsonrpc/Connection.java
  extension-base/src/main/java/com/azure/autorest/extension/base/jsonrpc/ProtocolUtils.java
  extension-base/src/main/java/com/azure/autorest/extension/base/model/codemodel/AndSchema.java
  extension-base/src/main/java/com/azure/autorest/extension/base/model/codemodel/AnnotatedPropertyUtils.java
  extension-base/src/main/java/com/azure/autorest/extension/base/model/codemodel/AnySchema.java
  extension-base/src/main/java/com/azure/autorest/extension/base/model/codemodel/ApiVersion.java
  extension-base/src/main/java/com/azure/autorest/extension/base/model/codemodel/ArmIdSchema.java
  extension-base/src/main/java/com/azure/autorest/extension/base/model/codemodel/ArraySchema.java
  extension-base/src/main/java/com/azure/autorest/extension/base/model/codemodel/BinarySchema.java
  extension-base/src/main/java/com/azure/autorest/extension/base/model/codemodel/BooleanSchema.java
  extension-base/src/main/java/com/azure/autorest/extension/base/model/codemodel/ByteArraySchema.java
  extension-base/src/main/java/com/azure/autorest/extension/base/model/codemodel/CharSchema.java
  extension-base/src/main/java/com/azure/autorest/extension/base/model/codemodel/ChoiceSchema.java
  extension-base/src/main/java/com/azure/autorest/extension/base/model/codemodel/ChoiceValue.java
  extension-base/src/main/java/com/azure/autorest/extension/base/plugin/AutorestSettings.java
  extension-base/src/main/java/com/azure/autorest/extension/base/plugin/NewPlugin.java
  javagen/src/main/java/com/azure/autorest/model/projectmodel/Project.java
  javagen/src/main/java/com/azure/autorest/template/SwaggerReadmeTemplate.java
  preprocessor/src/main/java/com/azure/autorest/preprocessor/Preprocessor.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

Everything but JavaSettings
  extension-base/src/main/java/com/azure/autorest/extension/base/model/Message.java
  extension-base/src/main/java/com/azure/autorest/extension/base/model/MessageChannel.java
  extension-base/src/main/java/com/azure/autorest/extension/base/model/SmartLocation.java
  extension-base/src/main/java/com/azure/autorest/extension/base/model/SourceLocation.java
  extension-base/src/main/java/com/azure/autorest/extension/base/model/extensionmodel/AllowedResource.java
  extension-base/src/main/java/com/azure/autorest/extension/base/model/extensionmodel/XmsArmIdDetails.java
  extension-base/src/main/java/com/azure/autorest/extension/base/model/extensionmodel/XmsEnum.java
  extension-base/src/main/java/com/azure/autorest/extension/base/model/extensionmodel/XmsExamples.java
  extension-base/src/main/java/com/azure/autorest/extension/base/model/extensionmodel/XmsExtensions.java
  extension-base/src/main/java/com/azure/autorest/extension/base/model/extensionmodel/XmsInternalAutorestAnonymousSchema.java
  extension-base/src/main/java/com/azure/autorest/extension/base/model/extensionmodel/XmsLongRunningOperationOptions.java
  extension-base/src/main/java/com/azure/autorest/extension/base/model/extensionmodel/XmsPageable.java
  extension-base/src/main/java/com/azure/autorest/extension/base/plugin/PluginLogger.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

JavaSettings
  extension-base/src/main/java/com/azure/autorest/extension/base/plugin/JavaSettings.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

fix PagedResponseBase<Void, int>
  javagen/src/main/java/com/azure/autorest/template/ConvenienceAsyncMethodTemplate.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

test case
  typespec-tests/tsp/response.tsp
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

re-generate test code
  typespec-tests/src/main/java/com/cadl/response/ResponseAsyncClient.java
  typespec-tests/src/main/java/com/cadl/response/ResponseClient.java
  typespec-tests/src/main/java/com/cadl/response/implementation/ResponseClientImpl.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

tsp, support paged scalar (#2580)
  javagen/src/main/java/com/azure/autorest/template/ConvenienceAsyncMethodTemplate.java
  typespec-tests/src/main/java/com/cadl/response/ResponseAsyncClient.java
  typespec-tests/src/main/java/com/cadl/response/ResponseClient.java
  typespec-tests/src/main/java/com/cadl/response/implementation/ResponseClientImpl.java
  typespec-tests/tsp/response.tsp
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

java code
  javagen/src/main/java/com/azure/autorest/template/ConvenienceAsyncMethodTemplate.java
  partial-update/src/main/java/com/azure/autorest/partialupdate/util/PartialUpdateHandler.java
  typespec-extension/src/main/java/com/azure/typespec/Main.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

tsp, refine unionAsEnum (#2575)
  typespec-extension/changelog.md
  typespec-extension/package-lock.json
  typespec-extension/package.json
  typespec-extension/src/code-model-builder.ts
  typespec-tests/package.json
  typespec-tests/src/main/java/com/cadl/naming/models/DataStatus.java
  typespec-tests/tsp/naming.tsp
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

typespec and dependencies
  typespec-extension/changelog.md
  typespec-extension/package-lock.json
  typespec-extension/package.json
  typespec-extension/src/code-model-builder.ts
  typespec-tests/package.json
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

bump to 0.13.9
  typespec-extension/changelog.md
  typespec-extension/package-lock.json
  typespec-extension/package.json
  typespec-tests/package.json
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

revert https://github.com/Azure/autorest.java/pull/2571
  typespec-extension/src/code-model-builder.ts
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

fix changelog
  typespec-extension/changelog.md
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

sync version
  typespec-extension/package-lock.json
  typespec-extension/package.json
  typespec-tests/package.json
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

re-generate test code
  typespec-tests/src/main/java/com/type/union/EnumsOnlyAsyncClient.java
  typespec-tests/src/main/java/com/type/union/EnumsOnlyClient.java
  typespec-tests/src/main/java/com/type/union/implementation/EnumsOnliesImpl.java
  typespec-tests/src/main/java/com/type/union/models/EnumsOnlyCases.java
  typespec-tests/src/main/java/com/type/union/models/EnumsOnlyCasesLr.java
  typespec-tests/src/main/java/com/type/union/models/EnumsOnlyCasesUd.java
  typespec-tests/src/main/java/com/type/union/models/LR.java
  typespec-tests/src/main/java/com/type/union/models/StringExtensibleNamedUnion.java
  typespec-tests/src/main/java/com/type/union/models/UD.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

update test
  typespec-tests/src/test/java/com/type/union/UnionsClientTest.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

script
  eng/sdk/sync_sdk.py
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

re-generate test code
  typespec-tests/src/main/java/com/client/naming/ModelAsyncClient.java
  typespec-tests/src/main/java/com/client/naming/ModelClient.java
  typespec-tests/src/main/java/com/client/naming/NamingAsyncClient.java
  typespec-tests/src/main/java/com/client/naming/NamingClient.java
  typespec-tests/src/main/java/com/client/naming/NamingClientBuilder.java
  typespec-tests/src/main/java/com/client/naming/implementation/ModelsImpl.java
  typespec-tests/src/main/java/com/client/naming/implementation/NamingClientImpl.java
  typespec-tests/src/main/java/com/client/naming/implementation/package-info.java
  typespec-tests/src/main/java/com/client/naming/models/ClientModel.java
  typespec-tests/src/main/java/com/client/naming/models/ClientNameAndJsonEncodedNameModel.java
  typespec-tests/src/main/java/com/client/naming/models/ClientNameModel.java
  typespec-tests/src/main/java/com/client/naming/models/JavaModel.java
  typespec-tests/src/main/java/com/client/naming/models/LanguageClientNameModel.java
  typespec-tests/src/main/java/com/client/naming/models/package-info.java
  typespec-tests/src/main/java/com/client/naming/package-info.java
  typespec-tests/src/main/java/com/serialization/encodedname/json/JsonAsyncClient.java
  typespec-tests/src/main/java/com/serialization/encodedname/json/JsonClient.java
  typespec-tests/src/main/java/com/serialization/encodedname/json/JsonClientBuilder.java
  typespec-tests/src/main/java/com/serialization/encodedname/json/implementation/JsonClientImpl.java
  typespec-tests/src/main/java/com/serialization/encodedname/json/implementation/PropertiesImpl.java
  typespec-tests/src/main/java/com/serialization/encodedname/json/implementation/package-info.java
  typespec-tests/src/main/java/com/serialization/encodedname/json/models/JsonEncodedNameModel.java
  typespec-tests/src/main/java/com/serialization/encodedname/json/models/package-info.java
  typespec-tests/src/main/java/com/serialization/encodedname/json/package-info.java
  typespec-tests/src/main/java/com/type/array/models/package-info.java
  typespec-tests/src/main/java/com/type/array/package-info.java
  typespec-tests/src/main/java/com/type/property/valuetypes/UnionFloatLiteralAsyncClient.java
  typespec-tests/src/main/java/com/type/property/valuetypes/models/FloatLiteralProperty.java
  typespec-tests/src/main/java/com/type/property/valuetypes/models/UnionFloatLiteralPropertyProperty.java
  typespec-tests/src/main/resources/client-naming.properties
  typespec-tests/src/main/resources/serialization-encodedname-json.properties
  typespec-tests/src/test/java/com/client/naming/generated/NamingClientTestBase.java
  typespec-tests/src/test/java/com/serialization/encodedname/json/generated/JsonClientTestBase.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

update tests
  typespec-tests/src/test/java/com/type/array/Float32ValueClientTest.java
  typespec-tests/src/test/java/com/type/dictionary/Float32ValueClientTest.java
  typespec-tests/src/test/java/com/type/property/additionalproperties/ExtendsTests.java
  typespec-tests/src/test/java/com/type/property/additionalproperties/IsFloatClientTest.java
  typespec-tests/src/test/java/com/type/property/valuetypes/FloatOperationClientTest.java
  typespec-tests/src/test/java/com/type/property/valuetypes/LiteralTests.java
  typespec-tests/src/test/java/com/type/property/valuetypes/UnionTests.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

new test
  typespec-tests/src/test/java/com/client/naming/NamingTests.java
  typespec-tests/src/test/java/com/serialization/encodedname/json/JsonTests.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

comment
  typespec-tests/src/test/java/com/client/naming/NamingTests.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

use the process in tcgc
  typespec-extension/src/code-model-builder.ts
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

update tests according to comments
  typespec-tests/src/test/java/com/cadl/patch/PatchClientTest.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

regen
  typespec-tests/src/main/java/com/cadl/partialupdate/models/PartialUpdateModel.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

0.31.0 fixed the problem
  typespec-tests/package.json
  typespec-tests/src/test/java/com/client/naming/NamingTests.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

Path conditions:
  eng/pipelines/ci-cadl-java.yaml: any of: *, but not: fluent*, postprocessor, vanilla-tests, protocol*
  eng/pipelines/ci-typespec-java.yaml: any of: *, but not: androidgen, azure-dataplane-tests, azure-tests, fluent-tests, partial-update-tests, vanilla-tests, protocol*
  eng/pipelines/ci.yaml: any of: *, but not: fluent*, typespec*
  eng/pipelines/fluent_integration.yaml: any of: *, but not: typespec*
