Repository Azure/autorest.java: changes, and which Azure pipelines are due for each by the changed paths.
All: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

Path conditions:
  eng/pipelines/ci-cadl-java.yaml: any of: *, but not: fluent*, postprocessor, vanilla-tests, protocol*
  eng/pipelines/ci-typespec-java.yaml: any of: *, but not: androidgen, azure-dataplane-tests, azure-tests, fluent-tests, partial-update-tests, vanilla-tests, protocol*
  eng/pipelines/ci.yaml: any of: *, but not: fluent*, typespec*
  eng/pipelines/fluent_integration.yaml: any of: *, but not: typespec*

nullable for array
  typespec-extension/src/code-model-builder.ts
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

format
  typespec-tests/tsp/nested-enum-discriminator.tsp
  typespec-tests/tsp/partialupdate.tsp
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

test case
  fluent-tests/src/test/java/com/azure/mgmttest/RuntimeTests.java
  fluent-tests/swagger/stream-style-serialization.json
  typespec-tests/tsp/arm-stream-style-serialization.tsp
  typespec-tests/tspconfig.yaml
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/fluent_integration.yaml

fix flatten
  javagen/src/main/java/com/azure/autorest/template/ModelTemplate.java
  javagen/src/main/java/com/azure/autorest/template/StreamSerializationModelTemplate.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

re-generate test code
  typespec-tests/src/main/java/com/cadl/armstreamstyleserialization/fluent/FishesClient.java
  typespec-tests/src/main/java/com/cadl/armstreamstyleserialization/fluent/models/AnotherFishProperties.java
  typespec-tests/src/main/java/com/cadl/armstreamstyleserialization/fluent/models/EyeProperties.java
  typespec-tests/src/main/java/com/cadl/armstreamstyleserialization/fluent/models/FishInner.java
  typespec-tests/src/main/java/com/cadl/armstreamstyleserialization/fluent/models/FishProperties.java
  typespec-tests/src/main/java/com/cadl/armstreamstyleserialization/fluent/models/SalmonInner.java
  typespec-tests/src/main/java/com/cadl/armstreamstyleserialization/fluent/models/TailProperties.java
  typespec-tests/src/main/java/com/cadl/armstreamstyleserialization/implementation/FishImpl.java
  typespec-tests/src/main/java/com/cadl/armstreamstyleserialization/implementation/FishesClientImpl.java
  typespec-tests/src/main/java/com/cadl/armstreamstyleserialization/implementation/FishesImpl.java
  typespec-tests/src/main/java/com/cadl/armstreamstyleserialization/implementation/SalmonImpl.java
  typespec-tests/src/main/java/com/cadl/armstreamstyleserialization/models/Fish.java
  typespec-tests/src/main/java/com/cadl/armstreamstyleserialization/models/Fishes.java
  typespec-tests/src/main/java/com/cadl/armstreamstyleserialization/models/GoblinShark.java
  typespec-tests/src/main/java/com/cadl/armstreamstyleserialization/models/Salmon.java
  typespec-tests/src/main/java/com/cadl/armstreamstyleserialization/models/SawShark.java
  typespec-tests/src/main/java/com/cadl/armstreamstyleserialization/models/Shark.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

avoid shadow properties conflict
  fluent-tests/src/test/java/com/azure/mgmttest/RuntimeTests.java
  fluent-tests/swagger/stream-style-serialization.json
  javagen/src/main/java/com/azure/autorest/template/StreamSerializationModelTemplate.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

format
  typespec-tests/tsp/arm-stream-style-serialization.tsp
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

changelog
  typespec-extension/changelog.md
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

test
  typespec-tests/tsp/arm.tsp
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

fix ExtensionResource
  fluentnamer/src/main/java/com/azure/autorest/fluent/model/ResourceTypeName.java
  fluentnamer/src/main/java/com/azure/autorest/fluent/transformer/ResourceTypeNormalization.java
Due: eng/pipelines/ci-typespec-java.yaml, eng/pipelines/fluent_integration.yaml

re-generate test code
  typespec-tests/src/main/java/com/cadl/armresourceprovider/ArmResourceProviderManager.java
  typespec-tests/src/main/java/com/cadl/armresourceprovider/fluent/ArmResourceProviderClient.java
  typespec-tests/src/main/java/com/cadl/armresourceprovider/fluent/ChildExtensionResourceInterfacesClient.java
  typespec-tests/src/main/java/com/cadl/armresourceprovider/fluent/models/ChildExtensionResourceInner.java
  typespec-tests/src/main/java/com/cadl/armresourceprovider/implementation/ArmResourceProviderClientImpl.java
  typespec-tests/src/main/java/com/cadl/armresourceprovider/implementation/ChildExtensionResourceImpl.java
  typespec-tests/src/main/java/com/cadl/armresourceprovider/implementation/ChildExtensionResourceInterfacesClientImpl.java
  typespec-tests/src/main/java/com/cadl/armresourceprovider/implementation/ChildExtensionResourceInterfacesImpl.java
  typespec-tests/src/main/java/com/cadl/armresourceprovider/implementation/models/ChildExtensionResourceListResult.java
  typespec-tests/src/main/java/com/cadl/armresourceprovider/models/ChildExtensionResource.java
  typespec-tests/src/main/java/com/cadl/armresourceprovider/models/ChildExtensionResourceInterfaces.java
  typespec-tests/src/main/java/com/cadl/armresourceprovider/models/ChildExtensionResourceProperties.java
  typespec-tests/src/main/resources/META-INF/native-image/com.azure.resourcemanager/azure-resourcemanager-armresourceprovider-generated/proxy-config.json
  typespec-tests/src/main/resources/META-INF/native-image/com.azure.resourcemanager/azure-resourcemanager-armresourceprovider-generated/reflect-config.json
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

try spread
  typespec-extension/src/code-model-builder.ts
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

address comments
  customization-base/README.md
  fluentgen/src/test/java/com/azure/autorest/fluent/template/ModelTemplateTests.java
  javagen/src/main/java/com/azure/autorest/template/ModelTemplate.java
  javagen/src/main/java/com/azure/autorest/template/StreamSerializationModelTemplate.java
  javagen/src/main/java/com/azure/autorest/util/ClientModelUtil.java
  typespec-tests/tsp/arm-stream-style-serialization.tsp
  typespec-tests/tspconfig.yaml
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

format
  typespec-tests/tsp/arm.tsp
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

revert unnecessary change
  customization-base/README.md
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

re-generate test code
  typespec-tests/src/main/java/com/cadl/armstreamstyleserialization/fluent/models/FishInner.java
  typespec-tests/src/main/java/com/cadl/armstreamstyleserialization/fluent/models/SalmonInner.java
  typespec-tests/src/main/java/com/cadl/armstreamstyleserialization/models/GoblinShark.java
  typespec-tests/src/main/java/com/cadl/armstreamstyleserialization/models/SawShark.java
  typespec-tests/src/main/java/com/cadl/armstreamstyleserialization/models/Shark.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

add back defaultValue to host
  typespec-extension/src/code-model-builder.ts
  typespec-extension/src/type-utils.ts
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

remove typespec-autorest
  typespec-extension/package.json
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

re-generate test code
  typespec-tests/src/main/java/com/cadl/server/HttpbinClientBuilder.java
  typespec-tests/src/test/java/com/cadl/server/generated/HttpbinClientTestBase.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

bump cadl-ranch
  typespec-tests/package.json
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

add a test on usage
  typespec-tests/src/test/java/com/_specs_/azure/clientgenerator/core/usage/UsageTests.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

disable clientDefault
  typespec-extension/src/code-model-builder.ts
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

update comment
  typespec-extension/src/code-model-builder.ts
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

disable mock test for arm
  typespec-tests/Generate.ps1
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

fix regex
  typespec-tests/Generate.ps1
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

delete mock test
  typespec-tests/src/test/java/com/azure/arm/models/resources/generated/NestedProxyResourceInnerTests.java
  typespec-tests/src/test/java/com/azure/arm/models/resources/generated/NestedProxyResourceListResultTests.java
  typespec-tests/src/test/java/com/azure/arm/models/resources/generated/NestedProxyResourcePropertiesTests.java
  typespec-tests/src/test/java/com/azure/arm/models/resources/generated/NestedProxyResourceUpdatePropertiesTests.java
  typespec-tests/src/test/java/com/azure/arm/models/resources/generated/NestedProxyResourceUpdateTests.java
  typespec-tests/src/test/java/com/azure/arm/models/resources/generated/TopLevelTrackedResourceInnerTests.java
  typespec-tests/src/test/java/com/azure/arm/models/resources/generated/TopLevelTrackedResourceListResultTests.java
  typespec-tests/src/test/java/com/azure/arm/models/resources/generated/TopLevelTrackedResourcePropertiesTests.java
  typespec-tests/src/test/java/com/azure/arm/models/resources/generated/TopLevelTrackedResourceUpdatePropertiesTests.java
  typespec-tests/src/test/java/com/azure/arm/models/resources/generated/TopLevelTrackedResourceUpdateTests.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

mgmt azure-json, fix flattened properties in parent class (#2817)
  fluent-tests/src/test/java/com/azure/mgmttest/RuntimeTests.java
  fluent-tests/swagger/stream-style-serialization.json
  fluentgen/src/test/java/com/azure/autorest/fluent/template/ModelTemplateTests.java
  javagen/src/main/java/com/azure/autorest/template/ModelTemplate.java
  javagen/src/main/java/com/azure/autorest/template/StreamSerializationModelTemplate.java
  javagen/src/main/java/com/azure/autorest/util/ClientModelUtil.java
  typespec-extension/changelog.md
  typespec-tests/src/main/java/com/cadl/armstreamstyleserialization/fluent/FishesClient.java
  typespec-tests/src/main/java/com/cadl/armstreamstyleserialization/fluent/models/AnotherFishProperties.java
  typespec-tests/src/main/java/com/cadl/armstreamstyleserialization/fluent/models/EyeProperties.java
  typespec-tests/src/main/java/com/cadl/armstreamstyleserialization/fluent/models/FishInner.java
  typespec-tests/src/main/java/com/cadl/armstreamstyleserialization/fluent/models/FishProperties.java
  typespec-tests/src/main/java/com/cadl/armstreamstyleserialization/fluent/models/SalmonInner.java
  typespec-tests/src/main/java/com/cadl/armstreamstyleserialization/fluent/models/TailProperties.java
  typespec-tests/src/main/java/com/cadl/armstreamstyleserialization/implementation/FishImpl.java
  typespec-tests/src/main/java/com/cadl/armstreamstyleserialization/implementation/FishesClientImpl.java
  typespec-tests/src/main/java/com/cadl/armstreamstyleserialization/implementation/FishesImpl.java
  typespec-tests/src/main/java/com/cadl/armstreamstyleserialization/implementation/SalmonImpl.java
  typespec-tests/src/main/java/com/cadl/armstreamstyleserialization/models/Fish.java
  typespec-tests/src/main/java/com/cadl/armstreamstyleserialization/models/Fishes.java
  typespec-tests/src/main/java/com/cadl/armstreamstyleserialization/models/GoblinShark.java
  typespec-tests/src/main/java/com/cadl/armstreamstyleserialization/models/Salmon.java
  typespec-tests/src/main/java/com/cadl/armstreamstyleserialization/models/SawShark.java
  typespec-tests/src/main/java/com/cadl/armstreamstyleserialization/models/Shark.java
  typespec-tests/tsp/arm-stream-style-serialization.tsp
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

address comment
  fluentnamer/src/main/java/com/azure/autorest/fluent/model/ResourceTypeName.java
  fluentnamer/src/main/java/com/azure/autorest/fluent/transformer/ResourceTypeNormalization.java
Due: eng/pipelines/ci-typespec-java.yaml, eng/pipelines/fluent_integration.yaml

enable stream-style-serialization
  fluent-tests/gen_all.py
Due: eng/pipelines/fluent_integration.yaml

mgmt, ExtensionResource as ResourceType (#2818)
  fluentnamer/src/main/java/com/azure/autorest/fluent/model/ResourceTypeName.java
  fluentnamer/src/main/java/com/azure/autorest/fluent/transformer/ResourceTypeNormalization.java
  typespec-tests/src/main/java/com/cadl/armresourceprovider/ArmResourceProviderManager.java
  typespec-tests/src/main/java/com/cadl/armresourceprovider/fluent/ArmResourceProviderClient.java
  typespec-tests/src/main/java/com/cadl/armresourceprovider/fluent/ChildExtensionResourceInterfacesClient.java
  typespec-tests/src/main/java/com/cadl/armresourceprovider/fluent/models/ChildExtensionResourceInner.java
  typespec-tests/src/main/java/com/cadl/armresourceprovider/implementation/ArmResourceProviderClientImpl.java
  typespec-tests/src/main/java/com/cadl/armresourceprovider/implementation/ChildExtensionResourceImpl.java
  typespec-tests/src/main/java/com/cadl/armresourceprovider/implementation/ChildExtensionResourceInterfacesClientImpl.java
  typespec-tests/src/main/java/com/cadl/armresourceprovider/implementation/ChildExtensionResourceInterfacesImpl.java
  typespec-tests/src/main/java/com/cadl/armresourceprovider/implementation/models/ChildExtensionResourceListResult.java
  typespec-tests/src/main/java/com/cadl/armresourceprovider/models/ChildExtensionResource.java
  typespec-tests/src/main/java/com/cadl/armresourceprovider/models/ChildExtensionResourceInterfaces.java
  typespec-tests/src/main/java/com/cadl/armresourceprovider/models/ChildExtensionResourceProperties.java
  typespec-tests/src/main/resources/META-INF/native-image/com.azure.resourcemanager/azure-resourcemanager-armresourceprovider-generated/proxy-config.json
  typespec-tests/src/main/resources/META-INF/native-image/com.azure.resourcemanager/azure-resourcemanager-armresourceprovider-generated/reflect-config.json
  typespec-tests/tsp/arm.tsp
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/fluent_integration.yaml

enable stream-style-serialization for mgmt
  fluentgen/readme.md
Due: eng/pipelines/ci-typespec-java.yaml, eng/pipelines/fluent_integration.yaml

bump version
  package.json
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

tsp, arm test
  typespec-tests/src/main/java/com/utils/ArmUtils.java
  typespec-tests/src/test/java/com/azure/arm/models/resources/ArmResourceTest.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

set log level to NONE
  typespec-tests/src/main/java/com/utils/ArmUtils.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

move ArmUtils
  typespec-tests/src/test/java/com/azure/arm/models/resources/ArmResourceTest.java
  typespec-tests/src/test/java/org/utils/ArmUtils.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml
