Repository Azure/autorest.java: changes, and which Azure pipelines are due for each by the changed paths.
All: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

Path conditions:
  eng/pipelines/ci-cadl-java.yaml: any of: *, but not: fluent*, postprocessor, vanilla-tests, protocol*
  eng/pipelines/ci-typespec-java.yaml: any of: *, but not: androidgen, azure-dataplane-tests, azure-tests, fluent-tests, partial-update-tests, vanilla-tests, protocol*
  eng/pipelines/ci.yaml: any of: *, but not: fluent*, typespec*
  eng/pipelines/fluent_integration.yaml: any of: *, but not: typespec*

Fix polymorphic XML stream-style serialization (#2761)
  javagen/src/main/java/com/azure/autorest/implementation/ClientModelPropertiesManager.java
  javagen/src/main/java/com/azure/autorest/template/StreamSerializationModelTemplate.java
  vanilla-tests/src/main/java/fixtures/streamstylexmlserialization/models/AccessPolicy.java
  vanilla-tests/src/main/java/fixtures/streamstylexmlserialization/models/Blob.java
  vanilla-tests/src/main/java/fixtures/streamstylexmlserialization/models/BlobPrefix.java
  vanilla-tests/src/main/java/fixtures/streamstylexmlserialization/models/BlobProperties.java
  vanilla-tests/src/main/java/fixtures/streamstylexmlserialization/models/Container.java
  vanilla-tests/src/main/java/fixtures/streamstylexmlserialization/models/ContainerProperties.java
  vanilla-tests/src/main/java/fixtures/streamstylexmlserialization/models/CorsRule.java
  vanilla-tests/src/main/java/fixtures/streamstylexmlserialization/models/ListBlobsResponse.java
  vanilla-tests/src/main/java/fixtures/streamstylexmlserialization/models/ListContainersResponse.java
  vanilla-tests/src/main/java/fixtures/streamstylexmlserialization/models/Logging.java
  vanilla-tests/src/main/java/fixtures/streamstylexmlserialization/models/Metrics.java
  vanilla-tests/src/main/java/fixtures/streamstylexmlserialization/models/RetentionPolicy.java
  vanilla-tests/src/main/java/fixtures/streamstylexmlserialization/models/SignedIdentifier.java
  vanilla-tests/src/main/java/fixtures/xmlservice/models/AccessPolicy.java
  vanilla-tests/src/main/java/fixtures/xmlservice/models/Blob.java
  vanilla-tests/src/main/java/fixtures/xmlservice/models/BlobPrefix.java
  vanilla-tests/src/main/java/fixtures/xmlservice/models/BlobProperties.java
  vanilla-tests/src/main/java/fixtures/xmlservice/models/Container.java
  vanilla-tests/src/main/java/fixtures/xmlservice/models/ContainerProperties.java
  vanilla-tests/src/main/java/fixtures/xmlservice/models/CorsRule.java
  vanilla-tests/src/main/java/fixtures/xmlservice/models/ListBlobsResponse.java
  vanilla-tests/src/main/java/fixtures/xmlservice/models/ListContainersResponse.java
  vanilla-tests/src/main/java/fixtures/xmlservice/models/Logging.java
  vanilla-tests/src/main/java/fixtures/xmlservice/models/Metrics.java
  vanilla-tests/src/main/java/fixtures/xmlservice/models/RetentionPolicy.java
  vanilla-tests/src/main/java/fixtures/xmlservice/models/SignedIdentifier.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

tsp, try remove default
  typespec-extension/src/code-model-builder.ts
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

remove default
  typespec-extension/src/code-model-builder.ts
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

update union tests
  typespec-tests/src/test/java/com/type/union/UnionsClientTest.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

re-generate test code
  typespec-tests/src/main/java/com/cadl/server/HttpbinClientBuilder.java
  typespec-tests/src/test/java/com/cadl/server/generated/HttpbinClientTestBase.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

remove clientDefaultValue
  typespec-extension/src/code-model-builder.ts
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

update test
  typespec-tests/main.tsp
  typespec-tests/src/test/java/com/cadl/server/ServerTests.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

eng, option to sync sdk with dev package
  eng/pipelines/post-publish-sdk.yaml
  eng/sdk/sync_sdk.py
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

improve pipeline
  eng/pipelines/post-publish-sdk.yaml
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

tsp, try remove default on host (#2762)
  typespec-extension/src/code-model-builder.ts
  typespec-tests/main.tsp
  typespec-tests/src/main/java/com/cadl/server/HttpbinClientBuilder.java
  typespec-tests/src/test/java/com/cadl/server/ServerTests.java
  typespec-tests/src/test/java/com/cadl/server/generated/HttpbinClientTestBase.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

fix pwsh path
  eng/pipelines/post-publish-sdk.yaml
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

fix yml
  eng/pipelines/post-publish-sdk.yaml
  eng/sdk/sync_sdk.py
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

add one retry
  eng/sdk/sync_sdk.py
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

use DEV as PR title suffix
  eng/pipelines/post-publish-sdk.yaml
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

parameters
  eng/pipelines/post-publish-sdk.yaml
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

fix
  eng/pipelines/post-publish-sdk.yaml
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

remove raw type for getting description
  typespec-extension/src/code-model-builder.ts
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

eng, add a DevPackage mode to sync sdk pipeline (#2763)
  eng/pipelines/post-publish-sdk.yaml
  eng/sdk/sync_sdk.py
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

use raw to get segment info
  typespec-extension/src/code-model-builder.ts
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

use raw to get segment info (#2764)
  typespec-extension/src/code-model-builder.ts
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

tsp, make code compatible with compiler/next
  typespec-extension/src/type-utils.ts
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

use setPlaybackPollerFluxPollInterval for async method
  javagen/src/main/java/com/azure/autorest/template/example/ClientMethodExampleWriter.java
  javagen/src/main/java/com/azure/autorest/template/example/ProtocolExampleWriter.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

tsp, make code compatible with compiler/next (#2765)
  typespec-extension/src/type-utils.ts
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

dpg, use setPlaybackSyncPollerPollInterval in test (#2758)
  javagen/src/main/java/com/azure/autorest/template/ClientMethodSampleTemplate.java
  javagen/src/main/java/com/azure/autorest/template/ClientMethodTestTemplate.java
  javagen/src/main/java/com/azure/autorest/template/ProtocolSampleTemplate.java
  javagen/src/main/java/com/azure/autorest/template/ProtocolTestTemplate.java
  javagen/src/main/java/com/azure/autorest/template/example/ClientMethodExampleWriter.java
  javagen/src/main/java/com/azure/autorest/template/example/ProtocolExampleWriter.java
  typespec-tests/src/test/java/com/cadl/longrunning/generated/LongRunningCreateJobTests.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

re-generate test code
  typespec-tests/src/test/java/com/cadl/longrunning/generated/LongRunningCreateJobTests.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

tsp, internal on op won't have effect if not convenient
  typespec-extension/src/code-model-builder.ts
  typespec-tests/main.tsp
  typespec-tests/tsp/internal.tsp
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

re-generate test code
  typespec-tests/src/main/java/com/cadl/internal/InternalAsyncClient.java
  typespec-tests/src/main/java/com/cadl/internal/InternalClient.java
  typespec-tests/src/main/java/com/cadl/internal/implementation/InternalOpsImpl.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

clean unused file
  typespec-tests/main.tsp
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

Delete typespec-tests/main.tsp
  typespec-tests/main.tsp
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

format
  typespec-extension/src/code-model-builder.ts
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

tsp, internal on op won't have effect on its model, if not convenient (#2773)
  typespec-extension/src/code-model-builder.ts
  typespec-tests/main.tsp
  typespec-tests/src/main/java/com/cadl/internal/InternalAsyncClient.java
  typespec-tests/src/main/java/com/cadl/internal/InternalClient.java
  typespec-tests/src/main/java/com/cadl/internal/implementation/InternalOpsImpl.java
  typespec-tests/tsp/internal.tsp
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

fix SchemaCleanup for discriminator property
  fluent-tests/swagger/schema-cleanup.json
  fluentnamer/src/main/java/com/azure/autorest/fluent/transformer/SchemaCleanup.java
  typespec-tests/tsp/arm.tsp
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/fluent_integration.yaml

re-generate test code
  typespec-tests/src/main/java/com/cadl/armresourceprovider/fluent/models/CustomTemplateResourceInner.java
  typespec-tests/src/main/java/com/cadl/armresourceprovider/fluent/models/CustomTemplateResourceProperties.java
  typespec-tests/src/main/java/com/cadl/armresourceprovider/implementation/CustomTemplateResourceImpl.java
  typespec-tests/src/main/java/com/cadl/armresourceprovider/models/CustomTemplateResource.java
  typespec-tests/src/main/java/com/cadl/armresourceprovider/models/Dog.java
  typespec-tests/src/main/java/com/cadl/armresourceprovider/models/DogKind.java
  typespec-tests/src/main/java/com/cadl/armresourceprovider/models/Golden.java
  typespec-tests/src/main/resources/META-INF/native-image/com.azure.resourcemanager/azure-resourcemanager-armresourceprovider-generated/reflect-config.json
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

regen flatten
  typespec-tests/src/main/java/com/cadl/flatten/FlattenAsyncClient.java
  typespec-tests/src/main/java/com/cadl/flatten/FlattenClient.java
  typespec-tests/src/main/java/com/cadl/flatten/FlattenClientBuilder.java
  typespec-tests/src/main/java/com/cadl/flatten/FlattenServiceVersion.java
  typespec-tests/src/main/java/com/cadl/flatten/implementation/FlattenClientImpl.java
  typespec-tests/src/main/java/com/cadl/flatten/implementation/JsonMergePatchHelper.java
  typespec-tests/src/main/java/com/cadl/flatten/implementation/MultipartFormDataHelper.java
  typespec-tests/src/main/java/com/cadl/flatten/implementation/models/SendLongRequest.java
  typespec-tests/src/main/java/com/cadl/flatten/implementation/models/SendProjectedNameRequest.java
  typespec-tests/src/main/java/com/cadl/flatten/implementation/models/SendRequest.java
  typespec-tests/src/main/java/com/cadl/flatten/implementation/models/UploadFileRequest.java
  typespec-tests/src/main/java/com/cadl/flatten/implementation/models/UploadTodoRequest.java
  typespec-tests/src/main/java/com/cadl/flatten/implementation/models/package-info.java
  typespec-tests/src/main/java/com/cadl/flatten/implementation/package-info.java
  typespec-tests/src/main/java/com/cadl/flatten/models/FileDataFileDetails.java
  typespec-tests/src/main/java/com/cadl/flatten/models/SendLongOptions.java
  typespec-tests/src/main/java/com/cadl/flatten/models/SendLongRequestStatus.java
  typespec-tests/src/main/java/com/cadl/flatten/models/TodoItem.java
  typespec-tests/src/main/java/com/cadl/flatten/models/TodoItemPatch.java
  typespec-tests/src/main/java/com/cadl/flatten/models/TodoItemPatchStatus.java
  typespec-tests/src/main/java/com/cadl/flatten/models/UpdatePatchRequest.java
  typespec-tests/src/main/java/com/cadl/flatten/models/UploadTodoOptions.java
  typespec-tests/src/main/java/com/cadl/flatten/models/User.java
  typespec-tests/src/main/java/com/cadl/flatten/models/package-info.java
  typespec-tests/src/main/java/com/cadl/flatten/package-info.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

mgmt, fix `SchemaCleanup` for discriminator property (#2774)
  fluent-tests/swagger/schema-cleanup.json
  fluentnamer/src/main/java/com/azure/autorest/fluent/transformer/SchemaCleanup.java
  typespec-tests/src/main/java/com/cadl/armresourceprovider/fluent/models/CustomTemplateResourceInner.java
  typespec-tests/src/main/java/com/cadl/armresourceprovider/fluent/models/CustomTemplateResourceProperties.java
  typespec-tests/src/main/java/com/cadl/armresourceprovider/implementation/CustomTemplateResourceImpl.java
  typespec-tests/src/main/java/com/cadl/armresourceprovider/models/CustomTemplateResource.java
  typespec-tests/src/main/java/com/cadl/armresourceprovider/models/Dog.java
  typespec-tests/src/main/java/com/cadl/armresourceprovider/models/DogKind.java
  typespec-tests/src/main/java/com/cadl/armresourceprovider/models/Golden.java
  typespec-tests/src/main/resources/META-INF/native-image/com.azure.resourcemanager/azure-resourcemanager-armresourceprovider-generated/reflect-config.json
  typespec-tests/tsp/arm.tsp
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/fluent_integration.yaml

Regenerate using latest
  typespec-tests/src/main/java/com/cadl/armresourceprovider/models/UserAssignedIdentities.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml
