Repository Azure/autorest.java: changes, and which Azure pipelines are due for each by the changed paths.
All: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

Path conditions:
  eng/pipelines/ci-cadl-java.yaml: any of: *, but not: fluent*, postprocessor, vanilla-tests, protocol*
  eng/pipelines/ci-typespec-java.yaml: any of: *, but not: androidgen, azure-dataplane-tests, azure-tests, fluent-tests, partial-update-tests, vanilla-tests, protocol*
  eng/pipelines/ci.yaml: any of: *, but not: fluent*, typespec*
  eng/pipelines/fluent_integration.yaml: any of: *, but not: typespec*

eng, sync core, prepare releases for both lib (#3022)
  azure-dataplane-tests/pom.xml
  azure-tests/pom.xml
  customization-base/pom.xml
  customization-base/src/main/resources/pom.xml
  customization-tests/pom.xml
  eng/sdk/sync_sdk.py
  extension-base/pom.xml
  fluent-tests/pom.xml
  package-lock.json
  package.json
  pom.xml
  protocol-sdk-integration-tests/eng/versioning/version_client.txt
  protocol-tests/pom.xml
  typespec-extension/changelog.md
  typespec-extension/package-lock.json
  typespec-extension/package.json
  typespec-tests/package.json
  typespec-tests/pom.xml
  typespec-tests/src/test/java/payload/pageable/PageableTests.java
  typespec-tests/src/test/java/versioning/removed/RemovedClientTests.java
  vanilla-tests/pom.xml
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

re-generate test code
  typespec-tests/src/main/java/azure/resourcemanager/commonproperties/CommonPropertiesManager.java
  typespec-tests/src/main/java/azure/resourcemanager/operationtemplates/OperationTemplatesManager.java
  typespec-tests/src/main/java/azure/resourcemanager/resources/ResourcesManager.java
  typespec-tests/src/main/java/tsptest/armresourceprovider/ArmResourceProviderManager.java
  typespec-tests/src/main/java/tsptest/armstreamstyleserialization/ArmStreamStyleSerializationManager.java
  typespec-tests/src/main/resources/azure-resourcemanager-armresourceprovider-generated.properties
  typespec-tests/src/main/resources/azure-resourcemanager-armstreamstyleserialization-generated.properties
  typespec-tests/src/main/resources/azure-resourcemanager-commonproperties-generated.properties
  typespec-tests/src/main/resources/azure-resourcemanager-operationtemplates-generated.properties
  typespec-tests/src/main/resources/azure-resourcemanager-resources-generated.properties
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

re-generate test code
  typespec-tests/src/main/java/azure/resourcemanager/commonproperties/CommonPropertiesManager.java
  typespec-tests/src/main/java/azure/resourcemanager/operationtemplates/OperationTemplatesManager.java
  typespec-tests/src/main/java/azure/resourcemanager/resources/ResourcesManager.java
  typespec-tests/src/main/java/tsptest/armresourceprovider/ArmResourceProviderManager.java
  typespec-tests/src/main/java/tsptest/armstreamstyleserialization/ArmStreamStyleSerializationManager.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

mgmt, add properties file (#3023)
  typespec-tests/src/main/java/azure/resourcemanager/commonproperties/CommonPropertiesManager.java
  typespec-tests/src/main/java/azure/resourcemanager/operationtemplates/OperationTemplatesManager.java
  typespec-tests/src/main/java/azure/resourcemanager/resources/ResourcesManager.java
  typespec-tests/src/main/java/tsptest/armresourceprovider/ArmResourceProviderManager.java
  typespec-tests/src/main/java/tsptest/armstreamstyleserialization/ArmStreamStyleSerializationManager.java
  typespec-tests/src/main/resources/azure-resourcemanager-armresourceprovider-generated.properties
  typespec-tests/src/main/resources/azure-resourcemanager-armstreamstyleserialization-generated.properties
  typespec-tests/src/main/resources/azure-resourcemanager-commonproperties-generated.properties
  typespec-tests/src/main/resources/azure-resourcemanager-operationtemplates-generated.properties
  typespec-tests/src/main/resources/azure-resourcemanager-resources-generated.properties
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

bump version
  typespec-extension/package-lock.json
  typespec-extension/package.json
  typespec-tests/package.json
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

bump npm
  typespec-extension/changelog.md
  typespec-extension/package-lock.json
  typespec-extension/package.json
  typespec-tests/package.json
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

update core.diff
  core.diff
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

update core
  typespec-extension/.eslintignore
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

sync test
  typespec-tests/src/test/java/azure/resourcemanager/operationtemplates/OperationTests.java
  typespec-tests/tsp/arm-stream-style-serialization.tsp
  typespec-tests/tsp/arm.tsp
  typespec-tests/tsp/flatten.tsp
  typespec-tests/tsp/lro.tsp
  typespec-tests/tsp/model.tsp
  typespec-tests/tsp/multiple-apiversion.tsp
  typespec-tests/tsp/multiple-content-types.tsp
  typespec-tests/tsp/optional.tsp
  typespec-tests/tsp/patch.tsp
  typespec-tests/tsp/protocol-api-convenient-api.tsp
  typespec-tests/tsp/response.tsp
  typespec-tests/tsp/special-headers.tsp
  typespec-tests/tsp/versioning.tsp
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

readme
  typespec-extension/readme.md
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

provisioning
  customization-base/README.md
  fluentgen/pom.xml
  fluentgen/src/main/java/com/azure/autorest/fluent/Main.java
  fluentgen/src/main/java/com/azure/autorest/fluent/provisioning/ProvisioningGen.java
  pom.xml
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

fix dependency
  Build-AutoRest.ps1
  fluentgen/pom.xml
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

sync tests
  typespec-tests/src/main/java/tsptest/armresourceprovider/models/PriorityModel.java
  typespec-tests/src/main/java/tsptest/armstreamstyleserialization/ArmStreamStyleSerializationManager.java
  typespec-tests/src/main/java/tsptest/armstreamstyleserialization/fluent/ArmStreamStyleSerializationClient.java
  typespec-tests/src/main/java/tsptest/armstreamstyleserialization/fluent/PrioritiesClient.java
  typespec-tests/src/main/java/tsptest/armstreamstyleserialization/implementation/ArmStreamStyleSerializationClientImpl.java
  typespec-tests/src/main/java/tsptest/armstreamstyleserialization/implementation/PrioritiesClientImpl.java
  typespec-tests/src/main/java/tsptest/armstreamstyleserialization/implementation/PrioritiesImpl.java
  typespec-tests/src/main/java/tsptest/armstreamstyleserialization/models/Priorities.java
  typespec-tests/src/main/java/tsptest/armstreamstyleserialization/models/Priority.java
  typespec-tests/src/main/java/tsptest/enumservice/models/PriorityModel.java
  typespec-tests/src/main/resources/META-INF/native-image/com.azure.resourcemanager/azure-resourcemanager-armstreamstyleserialization-generated/proxy-config.json
  typespec-tests/src/test/java/tsptest/armstreamstyleserialization/StreamStyleSerializationTests.java
  typespec-tests/tsp/arm-stream-style-serialization.tsp
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

bump autorest
  package-lock.json
  package.json
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

re-generate test code
  vanilla-tests/src/main/java/fixtures/nonstringenum/models/FloatEnum.java
  vanilla-tests/src/main/java/fixtures/nonstringenum/models/IntEnum.java
Due: eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

bump core and sync tests
  typespec-tests/src/test/java/tsptest/armstreamstyleserialization/StreamStyleSerializationTests.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

bump core, sync test
  typespec-tests/src/main/java/tsptest/armstreamstyleserialization/models/Priority.java
  typespec-tests/src/main/java/tsptest/enumservice/models/OlympicRecordModel.java
  typespec-tests/src/main/java/tsptest/enumservice/models/PriorityModel.java
  typespec-tests/src/test/java/tsptest/armstreamstyleserialization/StreamStyleSerializationTests.java
  typespec-tests/tsp/arm-stream-style-serialization.tsp
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

bump core, sync test
  typespec-tests/src/main/java/tsptest/armresourceprovider/models/PriorityModel.java
  typespec-tests/src/main/java/tsptest/armstreamstyleserialization/models/Priority.java
  typespec-tests/src/main/java/tsptest/enumservice/models/OlympicRecordModel.java
  typespec-tests/src/main/java/tsptest/enumservice/models/PriorityModel.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

include clientcore in sync_version script
  eng/versioning/external_dependencies.txt
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

bump clientcore
  azure-dataplane-tests/pom.xml
  azure-tests/pom.xml
  customization-base/src/main/resources/pom.xml
  customization-tests/pom.xml
  fluent-tests/pom.xml
  pom.xml
  protocol-sdk-integration-tests/eng/versioning/version_client.txt
  protocol-tests/pom.xml
  typespec-tests/pom.xml
  vanilla-tests/pom.xml
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

sync, fix expandableenum serialization and prepare release (#3027)
  package-lock.json
  package.json
  typespec-tests/src/main/java/tsptest/armstreamstyleserialization/ArmStreamStyleSerializationManager.java
  typespec-tests/src/main/java/tsptest/armstreamstyleserialization/fluent/ArmStreamStyleSerializationClient.java
  typespec-tests/src/main/java/tsptest/armstreamstyleserialization/fluent/PrioritiesClient.java
  typespec-tests/src/main/java/tsptest/armstreamstyleserialization/implementation/ArmStreamStyleSerializationClientImpl.java
  typespec-tests/src/main/java/tsptest/armstreamstyleserialization/implementation/PrioritiesClientImpl.java
  typespec-tests/src/main/java/tsptest/armstreamstyleserialization/implementation/PrioritiesImpl.java
  typespec-tests/src/main/java/tsptest/armstreamstyleserialization/models/Priorities.java
  typespec-tests/src/main/java/tsptest/armstreamstyleserialization/models/Priority.java
  typespec-tests/src/main/java/tsptest/enumservice/models/OlympicRecordModel.java
  typespec-tests/src/main/resources/META-INF/native-image/com.azure.resourcemanager/azure-resourcemanager-armstreamstyleserialization-generated/proxy-config.json
  typespec-tests/src/test/java/tsptest/armstreamstyleserialization/StreamStyleSerializationTests.java
  typespec-tests/tsp/arm-stream-style-serialization.tsp
  vanilla-tests/src/main/java/fixtures/nonstringenum/models/FloatEnum.java
  vanilla-tests/src/main/java/fixtures/nonstringenum/models/IntEnum.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml
