Repository Azure/autorest.java: changes, and which Azure pipelines are due for each by the changed paths.
All: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

eng/pipelines/ci-cadl-java.yaml:
  jobs:
  - job: Build
    timeoutInMinutes: 30
    variables:
      JavaVersion: 1.8
      NodeVersion: 18.x
      isMain: $[eq(variables['Build.SourceBranch'], 'refs/heads/main')]
    pool:
      name: azsdk-pool-mms-ubuntu-2004-general
      vmImage: MMSUbuntu20.04
    steps:
    - task: NodeTool@0
  ...

eng/pipelines/ci-typespec-java.yaml:
  jobs:
  - job: Build_TypeSpec
    timeoutInMinutes: 60
    variables:
    - template: /eng/pipelines/variables/globals.yml
    - template: /eng/pipelines/variables/image.yml
    pool:
      name: $(LINUXPOOL)
      image: $(LINUXVMIMAGE)
      os: linux
    steps:
    - template: /eng/pipelines/steps/build-typespec.yml
  ...

eng/pipelines/ci.yaml:
  jobs:
  - template: /eng/pipelines/jobs/autorest-java.yml

eng/pipelines/fluent_integration.yaml:
  jobs:
  - template: /eng/pipelines/jobs/build-autorest-mgmt.yml

sync tests
  typespec-tests/src/main/java/tsptest/armlegacy/ArmLegacyManager.java
  typespec-tests/src/main/java/tsptest/armlegacy/fluent/ArmLegacyClient.java
  typespec-tests/src/main/java/tsptest/armlegacy/fluent/SkusClient.java
  typespec-tests/src/main/java/tsptest/armlegacy/fluent/models/SkuResourceInner.java
  typespec-tests/src/main/java/tsptest/armlegacy/fluent/models/package-info.java
  typespec-tests/src/main/java/tsptest/armlegacy/fluent/package-info.java
  typespec-tests/src/main/java/tsptest/armlegacy/implementation/ArmLegacyClientBuilder.java
  typespec-tests/src/main/java/tsptest/armlegacy/implementation/ArmLegacyClientImpl.java
  typespec-tests/src/main/java/tsptest/armlegacy/implementation/ResourceManagerUtils.java
  typespec-tests/src/main/java/tsptest/armlegacy/implementation/SkuResourceImpl.java
  typespec-tests/src/main/java/tsptest/armlegacy/implementation/SkusClientImpl.java
  typespec-tests/src/main/java/tsptest/armlegacy/implementation/SkusImpl.java
  typespec-tests/src/main/java/tsptest/armlegacy/implementation/package-info.java
  typespec-tests/src/main/java/tsptest/armlegacy/models/ProvisioningState.java
  typespec-tests/src/main/java/tsptest/armlegacy/models/ResourceTypeSku.java
  typespec-tests/src/main/java/tsptest/armlegacy/models/SkuResource.java
  typespec-tests/src/main/java/tsptest/armlegacy/models/Skus.java
  typespec-tests/src/main/java/tsptest/armlegacy/models/package-info.java
  typespec-tests/src/main/java/tsptest/armlegacy/package-info.java
  typespec-tests/src/main/resources/META-INF/native-image/com.azure.resourcemanager/azure-resourcemanager-armlegacy-generated/proxy-config.json
  typespec-tests/src/main/resources/META-INF/native-image/com.azure.resourcemanager/azure-resourcemanager-armlegacy-generated/reflect-config.json
  typespec-tests/src/main/resources/azure-resourcemanager-armlegacy-generated.properties
  typespec-tests/tsp/arm-legacy.tsp
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

mgmt, Sync fix for multiple PUTs under same collection (#3253)
  fluent-tests/Initialize-Tests.ps1
  fluent-tests/src/test/java/com/azure/mgmttest/LiteCompilationTests.java
  typespec-tests/src/main/java/tsptest/armlegacy/ArmLegacyManager.java
  typespec-tests/src/main/java/tsptest/armlegacy/fluent/ArmLegacyClient.java
  typespec-tests/src/main/java/tsptest/armlegacy/fluent/SkusClient.java
  typespec-tests/src/main/java/tsptest/armlegacy/fluent/models/SkuResourceInner.java
  typespec-tests/src/main/java/tsptest/armlegacy/fluent/models/package-info.java
  typespec-tests/src/main/java/tsptest/armlegacy/fluent/package-info.java
  typespec-tests/src/main/java/tsptest/armlegacy/implementation/ArmLegacyClientBuilder.java
  typespec-tests/src/main/java/tsptest/armlegacy/implementation/ArmLegacyClientImpl.java
  typespec-tests/src/main/java/tsptest/armlegacy/implementation/ResourceManagerUtils.java
  typespec-tests/src/main/java/tsptest/armlegacy/implementation/SkuResourceImpl.java
  typespec-tests/src/main/java/tsptest/armlegacy/implementation/SkusClientImpl.java
  typespec-tests/src/main/java/tsptest/armlegacy/implementation/SkusImpl.java
  typespec-tests/src/main/java/tsptest/armlegacy/implementation/package-info.java
  typespec-tests/src/main/java/tsptest/armlegacy/models/ProvisioningState.java
  typespec-tests/src/main/java/tsptest/armlegacy/models/ResourceTypeSku.java
  typespec-tests/src/main/java/tsptest/armlegacy/models/SkuResource.java
  typespec-tests/src/main/java/tsptest/armlegacy/models/Skus.java
  typespec-tests/src/main/java/tsptest/armlegacy/models/package-info.java
  typespec-tests/src/main/java/tsptest/armlegacy/package-info.java
  typespec-tests/src/main/resources/META-INF/native-image/com.azure.resourcemanager/azure-resourcemanager-armlegacy-generated/proxy-config.json
  typespec-tests/src/main/resources/META-INF/native-image/com.azure.resourcemanager/azure-resourcemanager-armlegacy-generated/reflect-config.json
  typespec-tests/src/main/resources/azure-resourcemanager-armlegacy-generated.properties
  typespec-tests/tsp/arm-legacy.tsp
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/fluent_integration.yaml

prepare 0.38.0
  typespec-extension/changelog.md
  typespec-extension/package-lock.json
  typespec-extension/package.json
  typespec-tests/package.json
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

eng, sync support multiple service, prepare release 0.38.0 (#3251)
  typespec-extension/changelog.md
  typespec-extension/package-lock.json
  typespec-extension/package.json
  typespec-tests/package.json
  typespec-tests/src/main/java/azure/resourcemanager/multiservice/combined/fluent/Combined.java
  typespec-tests/src/main/java/azure/resourcemanager/multiservice/combined/implementation/CombinedImpl.java
  typespec-tests/src/main/java/azure/resourcemanager/multiservice/combined/implementation/DisksClientImpl.java
  typespec-tests/src/main/java/azure/resourcemanager/multiservice/combined/implementation/VirtualMachinesClientImpl.java
  typespec-tests/src/main/java/service/multiservice/combined/CombinedBuilder.java
  typespec-tests/src/main/java/service/multiservice/combined/ServiceAServiceVersion.java
  typespec-tests/src/main/java/service/multiservice/combined/implementation/BarsImpl.java
  typespec-tests/src/main/java/service/multiservice/combined/implementation/CombinedImpl.java
  typespec-tests/src/main/java/service/multiservice/combined/implementation/FoosImpl.java
  typespec-tests/src/test/java/azure/resourcemanager/multiservice/ArmMultipleServiceTests.java
  typespec-tests/src/test/java/service/multiservice/MultipleServiceTests.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

sync test
  typespec-tests/src/main/java/tsptest/subclass/SubclassAsyncClient.java
  typespec-tests/src/main/java/tsptest/subclass/SubclassClient.java
  typespec-tests/src/main/java/tsptest/subclass/implementation/SubclassImpl.java
  typespec-tests/src/main/java/tsptest/subclass/models/DuplicateRequiredProperty.java
  typespec-tests/src/main/java/tsptest/subclass/models/DuplicateRequiredPropertyParent.java
  typespec-tests/tsp/subclass.tsp
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

Update Node.js dependencies and prepare patch release 0.38.1 (#3256)
  typespec-extension/changelog.md
  typespec-extension/package-lock.json
  typespec-extension/package.json
  typespec-tests/package.json
  typespec-tests/src/main/java/tsptest/armstreamstyleserialization/models/SawShark.java
  typespec-tests/src/main/java/tsptest/subclass/SubclassAsyncClient.java
  typespec-tests/src/main/java/tsptest/subclass/SubclassClient.java
  typespec-tests/src/main/java/tsptest/subclass/SubclassClientBuilder.java
  typespec-tests/src/main/java/tsptest/subclass/implementation/SubclassClientImpl.java
  typespec-tests/src/main/java/tsptest/subclass/implementation/SubclassImpl.java
  typespec-tests/src/main/java/tsptest/subclass/implementation/package-info.java
  typespec-tests/src/main/java/tsptest/subclass/models/Body.java
  typespec-tests/src/main/java/tsptest/subclass/models/DuplicateRequiredProperty.java
  typespec-tests/src/main/java/tsptest/subclass/models/DuplicateRequiredPropertyParent.java
  typespec-tests/src/main/java/tsptest/subclass/models/PropertyChangedToConstant.java
  typespec-tests/src/main/java/tsptest/subclass/models/PropertyChangedToConstantParent.java
  typespec-tests/src/main/java/tsptest/subclass/models/PropertyChangedToRequired.java
  typespec-tests/src/main/java/tsptest/subclass/models/PropertyChangedToRequiredParent.java
  typespec-tests/src/main/java/tsptest/subclass/models/package-info.java
  typespec-tests/src/main/java/tsptest/subclass/package-info.java
  typespec-tests/src/main/resources/tsptest-subclass.properties
  typespec-tests/src/test/java/tsptest/subclass/SubclassPropertyTests.java
  typespec-tests/src/test/java/tsptest/subclass/generated/SubclassClientTestBase.java
  typespec-tests/tsp/subclass.tsp
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

Update Node.js dependencies and prepare patch release 0.38.3 (#3267)
  typespec-extension/changelog.md
  typespec-extension/package-lock.json
  typespec-extension/package.json
  typespec-tests/package.json
  typespec-tests/src/test/java/authentication/noauth/union/UnionTests.java
  typespec-tests/src/test/java/azure/clientgenerator/core/clientlocation/NewSubClientTests.java
  typespec-tests/src/test/java/azure/clientgenerator/core/clientlocation/ParameterTests.java
  typespec-tests/src/test/java/azure/clientgenerator/core/clientlocation/RootClientTests.java
  typespec-tests/src/test/java/azure/clientgenerator/core/clientlocation/SubClientTests.java
  typespec-tests/src/test/java/azure/resourcemanager/operationtemplates/OperationTests.java
  typespec-tests/src/test/java/documentation/DocumentationTests.java
  typespec-tests/src/test/java/parameters/query/QueryTests.java
  typespec-tests/src/test/java/payload/multipart/MultipartTests.java
  typespec-tests/src/test/java/specialwords/ModelPropertyClientTest.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

increase sync sdk timeout to 2 hours
  eng/pipelines/post-publish-sdk.yaml
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

add openai-typespec to emitter for sync to sdk
  typespec-extension/package-lock.json
  typespec-extension/package.json
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

try ai libs
  eng/sdk/sync_sdk.py
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

remove 2 libs
  eng/sdk/sync_sdk.py
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

should be in devDep
  typespec-extension/package-lock.json
  typespec-extension/package.json
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

chore(typespec): update deps and version
  typespec-extension/changelog.md
  typespec-extension/package-lock.json
  typespec-extension/package.json
  typespec-tests/Generate.ps1
  typespec-tests/package.json
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

nit on Generate.ps1
  typespec-tests/Generate.ps1
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

Update changelog.md
  typespec-extension/changelog.md
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

bump openai-typespec
  typespec-extension/package-lock.json
  typespec-extension/package.json
  typespec-tests/Generate.ps1
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

Update Node.js dependencies to latest (#3271)
  typespec-extension/package-lock.json
  typespec-extension/package.json
  typespec-tests/package.json
  typespec-tests/src/main/java/encode/array/models/CommaDelimitedArrayProperty.java
  typespec-tests/src/main/java/encode/array/models/NewlineDelimitedArrayProperty.java
  typespec-tests/src/main/java/encode/array/models/PipeDelimitedArrayProperty.java
  typespec-tests/src/main/java/encode/array/models/SpaceDelimitedArrayProperty.java
  typespec-tests/src/main/java/tsptest/builtin/models/Encoded.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

Added section on customizing generated code and TypeSpec mention.
  customization-base/README.md
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

Update Node.js dependencies and prepare v0.38.5 patch release (#3275)
  typespec-extension/changelog.md
  typespec-extension/package-lock.json
  typespec-extension/package.json
  typespec-tests/package.json
  typespec-tests/src/main/java/documentation/implementation/ListsImpl.java
  typespec-tests/src/main/java/specialwords/ModelPropertiesAsyncClient.java
  typespec-tests/src/main/java/specialwords/ModelPropertiesClient.java
  typespec-tests/src/main/java/specialwords/implementation/ModelPropertiesImpl.java
  typespec-tests/src/main/java/specialwords/implementation/package-info.java
  typespec-tests/src/main/java/specialwords/modelproperties/models/ModelWithList.java
  typespec-tests/src/main/java/specialwords/modelproperties/models/package-info.java
  typespec-tests/src/main/java/specialwords/models/models/package-info.java
  typespec-tests/src/main/java/specialwords/package-info.java
  typespec-tests/src/test/java/documentation/DocumentationTests.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

Added section on customizing generated code and TypeSpec mention. (#3273)
  customization-base/README.md
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

Update Node.js dependencies and prepare patch release 0.38.6 (#3276)
  typespec-extension/changelog.md
  typespec-extension/package-lock.json
  typespec-extension/package.json
  typespec-tests/package.json
  typespec-tests/src/test/java/specialwords/ModelPropertyClientTest.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

fix link
  fluent-tests/swagger/readme.network.md
Due: eng/pipelines/fluent_integration.yaml

update jar dep
  azure-dataplane-tests/pom.xml
  azure-tests/pom.xml
  customization-base/pom.xml
  customization-base/src/main/resources/pom.xml
  customization-tests/pom.xml
  extension-base/pom.xml
  fluent-tests/pom.xml
  fluentgen/pom.xml
  pom.xml
  protocol-sdk-integration-tests/eng/versioning/version_client.txt
  protocol-tests/pom.xml
  typespec-tests/pom.xml
  vanilla-tests/pom.xml
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

revert javadoc version in pom.xml
  pom.xml
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

update core
  typespec-tests/src/main/java/azure/resourcemanager/multiservicesharedmodels/combined/implementation/StorageAccountsClientImpl.java
  typespec-tests/src/main/java/tsptest/armlegacy/implementation/SkusClientImpl.java
  typespec-tests/src/main/java/tsptest/armstreamstyleserialization/models/Builtin.java
  typespec-tests/src/main/java/tsptest/armstreamstyleserialization/models/Encoded.java
  typespec-tests/src/test/java/azure/resourcemanager/multiservicesharedmodels/ArmMultiServiceSharedModelsTests.java
  typespec-tests/tsp/arm-stream-style-serialization.tsp
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

Update Node.js dependencies and prepare patch release 0.38.7 (#3279)
  azure-dataplane-tests/pom.xml
  azure-tests/pom.xml
  customization-base/pom.xml
  customization-base/src/main/resources/pom.xml
  customization-tests/pom.xml
  extension-base/pom.xml
  fluent-tests/pom.xml
  fluent-tests/swagger/readme.network.md
  fluentgen/pom.xml
  pom.xml
  protocol-sdk-integration-tests/eng/versioning/version_client.txt
  protocol-tests/pom.xml
  typespec-extension/changelog.md
  typespec-extension/package-lock.json
  typespec-extension/package.json
  typespec-tests/package.json
  typespec-tests/pom.xml
  typespec-tests/src/main/java/azure/resourcemanager/multiservicesharedmodels/combined/implementation/StorageAccountsClientImpl.java
  typespec-tests/src/main/java/tsptest/armlegacy/implementation/SkusClientImpl.java
  typespec-tests/src/main/java/tsptest/armresourceprovider/fluent/TopLevelArmResourceInterfacesClient.java
  typespec-tests/src/main/java/tsptest/armresourceprovider/implementation/TopLevelArmResourceImpl.java
  typespec-tests/src/main/java/tsptest/armresourceprovider/implementation/TopLevelArmResourceInterfacesClientImpl.java
  typespec-tests/src/main/java/tsptest/armresourceprovider/implementation/TopLevelArmResourceInterfacesImpl.java
  typespec-tests/src/main/java/tsptest/armresourceprovider/models/TopLevelArmResource.java
  typespec-tests/src/main/java/tsptest/armresourceprovider/models/TopLevelArmResourceInterfaces.java
  typespec-tests/src/main/java/tsptest/armstreamstyleserialization/models/Builtin.java
  typespec-tests/src/main/java/tsptest/armstreamstyleserialization/models/Encoded.java
  typespec-tests/src/test/java/azure/resourcemanager/multiservicesharedmodels/ArmMultiServiceSharedModelsTests.java
  typespec-tests/tsp/arm-stream-style-serialization.tsp
  typespec-tests/tsp/arm.tsp
  vanilla-tests/pom.xml
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

spelling
  AGENTS.md
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

Path conditions:
  eng/pipelines/ci-cadl-java.yaml: any of: *, but not: fluent*, postprocessor, vanilla-tests, protocol*
  eng/pipelines/ci-typespec-java.yaml: any of: *, but not: azure-dataplane-tests, azure-tests, fluent-tests, partial-update-tests, vanilla-tests, protocol*
  eng/pipelines/ci.yaml: any of: *, but not: fluent*, typespec*
  eng/pipelines/fluent_integration.yaml: any of: *, but not: typespec*
