Repository Azure/autorest.java: changes, and which Azure pipelines are due for each by the changed paths.
All: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

Path conditions:
  eng/pipelines/ci-cadl-java.yaml: any of: *, but not: fluent*, postprocessor, vanilla-tests, protocol*
  eng/pipelines/ci-typespec-java.yaml: any of: *, but not: androidgen, azure-dataplane-tests, azure-tests, fluent-tests, partial-update-tests, vanilla-tests, protocol*
  eng/pipelines/ci.yaml: any of: *, but not: fluent*, typespec*
  eng/pipelines/fluent_integration.yaml: any of: *, but not: typespec*

Fix for package-private setters
  customization-tests/src/main/java/fixtures/bodycomplex/implementation/models/Salmon.java
  customization-tests/src/main/java/fixtures/bodycomplex/implementation/models/Shark.java
  javagen/src/main/java/com/azure/autorest/template/ModelTemplate.java
  vanilla-tests/src/main/java/fixtures/bodycomplex/models/Salmon.java
  vanilla-tests/src/main/java/fixtures/bodycomplex/models/Shark.java
  vanilla-tests/src/main/java/fixtures/streamstyleserialization/models/Salmon.java
  vanilla-tests/src/main/java/fixtures/streamstyleserialization/models/Shark.java
  vanilla-tests/src/main/java/fixtures/streamstyleserializationctorargs/models/Salmon.java
  vanilla-tests/src/main/java/fixtures/streamstyleserializationctorargs/models/Shark.java
  vanilla-tests/src/main/java/fixtures/streamstyleserializationimmutableoutput/models/Salmon.java
  vanilla-tests/src/main/java/fixtures/streamstyleserializationimmutableoutput/models/Shark.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

Fix extra builder parameters
  javagen/src/main/java/com/azure/autorest/template/ModelTemplate.java
  typespec-tests/src/main/java/com/type/model/inheritance/nesteddiscriminator/models/GoblinShark.java
  typespec-tests/src/main/java/com/type/model/inheritance/nesteddiscriminator/models/SawShark.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

Fix missing polymorphic discriminator name
  androidgen/src/main/java/com/azure/autorest/android/model/clientmodel/AndroidClientModel.java
  extension-base/src/main/java/com/azure/autorest/extension/base/plugin/JavaSettings.java
  extension-base/src/main/java/com/azure/autorest/extension/base/plugin/NewPlugin.java
  fluentnamer/src/main/java/com/azure/autorest/fluent/util/FluentJavaSettings.java
  javagen/src/main/java/com/azure/autorest/mapper/ModelMapper.java
  javagen/src/main/java/com/azure/autorest/model/clientmodel/ClientModel.java
  javagen/src/main/java/com/azure/autorest/util/ClientModelUtil.java
  postprocessor/src/main/java/com/azure/autorest/postprocessor/Postprocessor.java
  vanilla-tests/src/main/java/fixtures/inheritance/donotpassdiscriminator/models/MetricAlertCriteria.java
  vanilla-tests/src/main/java/fixtures/inheritance/donotpassdiscriminator/models/MetricAlertSingleResourceMultipleMetricCriteria.java
  vanilla-tests/src/main/java/fixtures/inheritance/passdiscriminator/models/MetricAlertCriteria.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

Fix null polymorphic discriminator in base types and duplicate JSON property in Javadoc
  azure-dataplane-tests/src/main/java/com/azure/ai/formrecognizer/documentanalysis/implementation/models/OperationDetails.java
  customization-tests/src/main/java/fixtures/bodycomplex/implementation/models/DotFish.java
  customization-tests/src/main/java/fixtures/bodycomplex/implementation/models/Fish.java
  customization-tests/src/main/java/fixtures/bodycomplex/implementation/models/MyBaseType.java
  javagen/src/main/java/com/azure/autorest/mapper/ProxyMethodMapper.java
  javagen/src/main/java/com/azure/autorest/model/clientmodel/ClientMethodType.java
  javagen/src/main/java/com/azure/autorest/model/clientmodel/ServiceClientProperty.java
  javagen/src/main/java/com/azure/autorest/template/ClientMethodTemplateBase.java
  javagen/src/main/java/com/azure/autorest/template/ModelTemplate.java
  protocol-tests/src/main/java/fixtures/bodycomplex/PolymorphismAsyncClient.java
  protocol-tests/src/main/java/fixtures/bodycomplex/PolymorphismClient.java
  protocol-tests/src/main/java/fixtures/bodycomplex/implementation/PolymorphismsImpl.java
  typespec-tests/src/main/java/com/_specs_/azure/clientgenerator/core/access/implementation/models/AbstractModel.java
  typespec-tests/src/main/java/com/cadl/naming/models/Data.java
  typespec-tests/src/main/java/com/cadl/patch/models/Fish.java
  typespec-tests/src/main/java/com/type/model/inheritance/enumdiscriminator/models/Dog.java
  typespec-tests/src/main/java/com/type/model/inheritance/enumdiscriminator/models/Snake.java
  typespec-tests/src/main/java/com/type/model/inheritance/nesteddiscriminator/models/Fish.java
  typespec-tests/src/main/java/com/type/model/inheritance/singlediscriminator/models/Bird.java
  typespec-tests/src/main/java/com/type/model/inheritance/singlediscriminator/models/Dinosaur.java
  typespec-tests/src/main/java/com/type/property/additionalproperties/models/ExtendsUnknownAdditionalPropertiesDiscriminated.java
  typespec-tests/src/main/java/com/type/property/additionalproperties/models/IsUnknownAdditionalPropertiesDiscriminated.java
  vanilla-tests/src/main/java/fixtures/bodycomplex/models/DotFish.java
  vanilla-tests/src/main/java/fixtures/bodycomplex/models/Fish.java
  vanilla-tests/src/main/java/fixtures/bodycomplex/models/MyBaseType.java
  vanilla-tests/src/main/java/fixtures/discriminatorflattening/clientflatten/models/MetricAlertCriteria.java
  vanilla-tests/src/main/java/fixtures/discriminatorflattening/models/MetricAlertCriteria.java
  vanilla-tests/src/main/java/fixtures/discriminatorflattening/noflatten/models/MetricAlertCriteria.java
  vanilla-tests/src/main/java/fixtures/discriminatorflattening/requirexmsflattened/models/MetricAlertCriteria.java
  vanilla-tests/src/main/java/fixtures/streamstyleserialization/models/DotFish.java
  vanilla-tests/src/main/java/fixtures/streamstyleserialization/models/Fish.java
  vanilla-tests/src/main/java/fixtures/streamstyleserialization/models/MyBaseType.java
  vanilla-tests/src/main/java/fixtures/streamstyleserializationctorargs/models/DotFish.java
  vanilla-tests/src/main/java/fixtures/streamstyleserializationctorargs/models/Fish.java
  vanilla-tests/src/main/java/fixtures/streamstyleserializationctorargs/models/MyBaseType.java
  vanilla-tests/src/main/java/fixtures/streamstyleserializationimmutableoutput/models/DotFish.java
  vanilla-tests/src/main/java/fixtures/streamstyleserializationimmutableoutput/models/Fish.java
  vanilla-tests/src/main/java/fixtures/streamstyleserializationimmutableoutput/models/MyBaseType.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

use union as extensible enum
  typespec-tests/tsp/enum.tsp
  typespec-tests/tsp/internal.tsp
  typespec-tests/tsp/lro.tsp
  typespec-tests/tsp/multipart.tsp
  typespec-tests/tsp/naming.tsp
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

cannot use lroStatus on union
  typespec-tests/tsp/enum.tsp
  typespec-tests/tsp/lro.tsp
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

handle UnionVariant as reference in enum case
  typespec-extension/src/code-model-builder.ts
  typespec-tests/src/main/java/com/cadl/enumservice/EnumServiceAsyncClient.java
  typespec-tests/src/main/java/com/cadl/enumservice/EnumServiceClient.java
  typespec-tests/src/main/java/com/cadl/enumservice/implementation/EnumServiceClientImpl.java
  typespec-tests/tsp/enum.tsp
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

bump version
  typespec-extension/changelog.md
  typespec-extension/package-lock.json
  typespec-extension/package.json
  typespec-tests/package.json
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

exclude symbol type in name
  typespec-extension/src/code-model-builder.ts
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

lint reports if the case is not exact
  typespec-tests/src/main/java/com/cadl/longrunning/LongRunningAsyncClient.java
  typespec-tests/src/main/java/com/cadl/longrunning/LongRunningClient.java
  typespec-tests/src/main/java/com/cadl/longrunning/implementation/LongRunningClientImpl.java
  typespec-tests/src/main/java/com/cadl/longrunning/models/JobStatus.java
  typespec-tests/tsp/lro.tsp
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

handle access on union
  typespec-extension/src/code-model-builder.ts
  typespec-extension/src/type-utils.ts
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

add naming override
  fluentnamer/src/main/java/com/azure/autorest/fluent/transformer/SchemaNameNormalization.java
  typespec-extension/src/main/java/com/azure/autorest/fluent/TypeSpecFluentPlugin.java
  typespec-tests/tsp/arm.tsp
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/fluent_integration.yaml

re-generate test code
  typespec-tests/src/main/java/com/cadl/armresourceprovider/implementation/TopLevelArmResourceImpl.java
  typespec-tests/src/main/java/com/cadl/armresourceprovider/models/IpRules.java
  typespec-tests/src/main/java/com/cadl/armresourceprovider/models/TopLevelArmResource.java
  typespec-tests/src/main/java/com/cadl/armresourceprovider/models/TopLevelArmResourceProperties.java
  typespec-tests/src/main/java/com/cadl/armresourceprovider/models/TopLevelArmResourceUpdate.java
  typespec-tests/src/main/java/com/cadl/armresourceprovider/models/TopLevelArmResourceUpdateProperties.java
  typespec-tests/src/main/resources/META-INF/native-image/com.azure.resourcemanager/azure-resourcemanager-armresourceprovider-generated/reflect-config.json
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

Add test for null map key value case for json-merge-patch
  typespec-tests/src/test/java/com/cadl/patch/PatchClientTest.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

not add word wrap now
  javagen/src/main/java/com/azure/autorest/template/ServiceAsyncClientTemplate.java
  javagen/src/main/java/com/azure/autorest/template/ServiceClientBuilderTemplate.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

handle UnionVariant as disciminator value
  typespec-extension/changelog.md
  typespec-extension/src/code-model-builder.ts
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

comment
  typespec-extension/src/code-model-builder.ts
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

rename variable
  javagen/src/main/java/com/azure/autorest/model/javamodel/JavaBlock.java
  javagen/src/main/java/com/azure/autorest/model/javamodel/JavaClass.java
  javagen/src/main/java/com/azure/autorest/model/javamodel/JavaContext.java
  javagen/src/main/java/com/azure/autorest/model/javamodel/JavaFile.java
  javagen/src/main/java/com/azure/autorest/model/javamodel/JavaInterface.java
  javagen/src/main/java/com/azure/autorest/template/WrapperClientMethodTemplate.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

rename
  javagen/src/main/java/com/azure/autorest/model/javamodel/JavaClass.java
  javagen/src/main/java/com/azure/autorest/model/javamodel/JavaInterface.java
  javagen/src/main/java/com/azure/autorest/template/ClientMethodTemplate.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

minor changes
  typespec-extension/src/code-model-builder.ts
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

use explicit body
  typespec-tests/src/main/java/com/cadl/enumservice/EnumServiceAsyncClient.java
  typespec-tests/src/main/java/com/cadl/enumservice/EnumServiceClient.java
  typespec-tests/src/main/java/com/cadl/enumservice/implementation/EnumServiceClientImpl.java
  typespec-tests/tsp/enum.tsp
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

minor change
  typespec-extension/src/code-model-builder.ts
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

update logic for JavaBlock
  javagen/src/main/java/com/azure/autorest/model/javamodel/JavaBlock.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

Add test for null map key value case for json-merge-patch (#2559)
  typespec-tests/src/test/java/com/cadl/patch/PatchClientTest.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

tsp, in test, use union as extensible enum (#2557)
  typespec-extension/changelog.md
  typespec-extension/package-lock.json
  typespec-extension/package.json
  typespec-extension/src/code-model-builder.ts
  typespec-extension/src/type-utils.ts
  typespec-tests/package.json
  typespec-tests/src/main/java/com/cadl/longrunning/LongRunningAsyncClient.java
  typespec-tests/src/main/java/com/cadl/longrunning/LongRunningClient.java
  typespec-tests/src/main/java/com/cadl/longrunning/implementation/LongRunningClientImpl.java
  typespec-tests/src/main/java/com/cadl/longrunning/models/JobStatus.java
  typespec-tests/tsp/enum.tsp
  typespec-tests/tsp/internal.tsp
  typespec-tests/tsp/lro.tsp
  typespec-tests/tsp/multipart.tsp
  typespec-tests/tsp/naming.tsp
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

pick from https://github.com/Azure/autorest.java/pull/2557
  typespec-extension/changelog.md
  typespec-extension/package-lock.json
  typespec-extension/package.json
  typespec-extension/src/code-model-builder.ts
  typespec-extension/src/type-utils.ts
  typespec-tests/package.json
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

refactor
  javagen/src/main/java/com/azure/autorest/model/javamodel/JavaBlock.java
  javagen/src/main/java/com/azure/autorest/model/javamodel/JavaClass.java
  javagen/src/main/java/com/azure/autorest/model/javamodel/JavaContext.java
  javagen/src/main/java/com/azure/autorest/model/javamodel/JavaFile.java
  javagen/src/main/java/com/azure/autorest/model/javamodel/JavaInterface.java
  javagen/src/main/java/com/azure/autorest/model/javamodel/JavaType.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

refactor a bit
  fluentgen/src/main/java/com/azure/autorest/fluent/model/clientmodel/fluentmodel/method/CollectionMethodOperationByIdTemplate.java
  javagen/src/main/java/com/azure/autorest/model/javamodel/JavaFile.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

remove m4 migration and added more test
  fluentnamer/src/main/java/com/azure/autorest/fluent/transformer/SchemaNameNormalization.java
  typespec-extension/src/main/java/com/azure/autorest/fluent/TypeSpecFluentPlugin.java
  typespec-tests/tsp/arm.tsp
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/fluent_integration.yaml

update according to comments
  javagen/src/main/java/com/azure/autorest/model/javamodel/JavaClass.java
  javagen/src/main/java/com/azure/autorest/model/javamodel/JavaFile.java
  javagen/src/main/java/com/azure/autorest/model/javamodel/JavaInterface.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

re-generate test code
  typespec-tests/src/main/java/com/cadl/armresourceprovider/models/IpRules.java
  typespec-tests/src/main/java/com/cadl/armresourceprovider/models/TopLevelArmResourceProperties.java
  typespec-tests/src/main/java/com/cadl/armresourceprovider/models/TopLevelArmResourceUpdateProperties.java
  typespec-tests/src/main/resources/META-INF/native-image/com.azure.resourcemanager/azure-resourcemanager-armresourceprovider-generated/reflect-config.json
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

make the methods package private
  javagen/src/main/java/com/azure/autorest/model/javamodel/JavaFileContents.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

refactor
  javagen/src/main/java/com/azure/autorest/model/javamodel/JavaClass.java
  javagen/src/main/java/com/azure/autorest/model/javamodel/JavaFile.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

regen
  customization-tests/src/main/java/fixtures/bodycomplex/ArrayClient.java
  javagen/src/main/java/com/azure/autorest/model/javamodel/JavaInterface.java
  partial-update-tests/generated/src/main/java/fixtures/bodystring/AutoRestSwaggerBatServiceClientBuilder.java
  partial-update-tests/generated/src/main/java/fixtures/bodystring/EnumAsyncClient.java
  partial-update-tests/generated/src/main/java/fixtures/bodystring/EnumClient.java
  partial-update-tests/generated/src/main/java/fixtures/bodystring/StringOperationAsyncClient.java
  partial-update-tests/generated/src/main/java/fixtures/bodystring/StringOperationClient.java
  typespec-tests/src/main/java/com/cadl/partialupdate/PartialUpdateAsyncClient.java
  typespec-tests/src/main/java/com/cadl/partialupdate/PartialUpdateClient.java
  typespec-tests/src/main/java/com/cadl/partialupdate/PartialUpdateClientBuilder.java
  typespec-tests/src/main/java/com/cadl/partialupdate/models/PartialUpdateModel.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

Remove pass discriminator to children setting
  Generate.ps1
  extension-base/src/main/java/com/azure/autorest/extension/base/plugin/JavaSettings.java
  javagen/src/main/java/com/azure/autorest/mapper/ModelMapper.java
  javagen/src/main/java/com/azure/autorest/template/ModelTemplate.java
  javagen/src/main/java/com/azure/autorest/template/StreamSerializationModelTemplate.java
  readme.md
  vanilla-tests/src/main/java/fixtures/inheritance/donotpassdiscriminator/models/MetricAlertCriteria.java
  vanilla-tests/src/main/java/fixtures/inheritance/donotpassdiscriminator/models/MetricAlertSingleResourceMultipleMetricCriteria.java
  vanilla-tests/src/main/java/fixtures/inheritance/passdiscriminator/models/MetricAlertCriteria.java
  vanilla-tests/src/main/java/fixtures/inheritance/passdiscriminator/models/MetricAlertSingleResourceMultipleMetricCriteria.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

Skip generating clients if there are no operations
  javagen/src/main/java/com/azure/autorest/Javagen.java
  javagen/src/main/java/com/azure/autorest/mapper/ClientMapper.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml
