Repository Azure/autorest.java: changes, and which Azure pipelines are due for each by the changed paths.
All: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

Path conditions:
  eng/pipelines/ci-cadl-java.yaml: any of: *, but not: fluent*, postprocessor, vanilla-tests, protocol*
  eng/pipelines/ci-typespec-java.yaml: any of: *, but not: androidgen, azure-dataplane-tests, azure-tests, fluent-tests, partial-update-tests, vanilla-tests, protocol*
  eng/pipelines/ci.yaml: any of: *, but not: fluent*, typespec*
  eng/pipelines/fluent_integration.yaml: any of: *, but not: typespec*

fix mgmt shadow properties from Resource/ProxyResource
  fluentgen/src/main/java/com/azure/autorest/fluent/template/FluentStreamStyleSerializationModelTemplate.java
  javagen/src/main/java/com/azure/autorest/template/ModelTemplate.java
  javagen/src/main/java/com/azure/autorest/template/StreamSerializationModelTemplate.java
  javagen/src/main/java/com/azure/autorest/util/ClientModelUtil.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

add test
  fluent-tests/Initialize-Tests.ps1
  fluent-tests/src/test/java/com/azure/mgmttest/CompilationTests.java
Due: eng/pipelines/fluent_integration.yaml

re-generate test code
  typespec-tests/src/main/java/com/azure/resourcemanager/models/commontypes/managedidentity/fluent/models/ManagedIdentityTrackedResourceInner.java
  typespec-tests/src/main/java/com/azure/resourcemanager/models/resources/fluent/models/NestedProxyResourceInner.java
  typespec-tests/src/main/java/com/azure/resourcemanager/models/resources/fluent/models/TopLevelTrackedResourceInner.java
  typespec-tests/src/main/java/com/cadl/armstreamstyleserialization/fluent/models/SalmonInner.java
  typespec-tests/src/main/java/com/cadl/armstreamstyleserialization/fluent/models/TopLevelArmResourceInner.java
  typespec-tests/src/main/java/com/cadl/armstreamstyleserialization/models/Error.java
  typespec-tests/src/main/java/com/cadl/armstreamstyleserialization/models/ErrorMin.java
  typespec-tests/src/main/java/com/cadl/armstreamstyleserialization/models/GoblinShark.java
  typespec-tests/src/main/java/com/cadl/armstreamstyleserialization/models/OutputOnlyModelChild.java
  typespec-tests/src/main/java/com/cadl/armstreamstyleserialization/models/SawShark.java
  typespec-tests/src/main/java/com/cadl/armstreamstyleserialization/models/Shark.java
  vanilla-tests/src/main/java/fixtures/modelflattening/models/FlattenedProduct.java
  vanilla-tests/src/main/java/fixtures/streamstyleserializationimmutableoutput/models/MyDerivedType.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

use option from param
  typespec-extension/src/code-model-builder.ts
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

nit
  typespec-extension/src/code-model-builder.ts
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

tsp, path allowReserved (#2904)
  eng/sdk/sync_sdk.py
  typespec-extension/src/code-model-builder.ts
  typespec-tests/tsp/server.tsp
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

--debug option
  eng/sdk/sync_sdk.py
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

update commit id
  eng/sdk/sync_sdk.py
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

fix
  eng/sdk/sync_sdk.py
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

fix, mgmt shadow properties from Resource/ProxyResource (#2905)
  fluent-tests/Initialize-Tests.ps1
  fluent-tests/src/test/java/com/azure/mgmttest/CompilationTests.java
  fluentgen/src/main/java/com/azure/autorest/fluent/template/FluentStreamStyleSerializationModelTemplate.java
  javagen/src/main/java/com/azure/autorest/template/ModelTemplate.java
  javagen/src/main/java/com/azure/autorest/template/StreamSerializationModelTemplate.java
  javagen/src/main/java/com/azure/autorest/util/ClientModelUtil.java
  typespec-tests/src/main/java/com/azure/resourcemanager/models/commontypes/managedidentity/fluent/models/ManagedIdentityTrackedResourceInner.java
  typespec-tests/src/main/java/com/azure/resourcemanager/models/resources/fluent/models/NestedProxyResourceInner.java
  typespec-tests/src/main/java/com/azure/resourcemanager/models/resources/fluent/models/TopLevelTrackedResourceInner.java
  typespec-tests/src/main/java/com/cadl/armstreamstyleserialization/fluent/models/SalmonInner.java
  typespec-tests/src/main/java/com/cadl/armstreamstyleserialization/fluent/models/TopLevelArmResourceInner.java
  typespec-tests/src/main/java/com/cadl/armstreamstyleserialization/models/Error.java
  typespec-tests/src/main/java/com/cadl/armstreamstyleserialization/models/ErrorMin.java
  typespec-tests/src/main/java/com/cadl/armstreamstyleserialization/models/GoblinShark.java
  typespec-tests/src/main/java/com/cadl/armstreamstyleserialization/models/OutputOnlyModelChild.java
  typespec-tests/src/main/java/com/cadl/armstreamstyleserialization/models/SawShark.java
  typespec-tests/src/main/java/com/cadl/armstreamstyleserialization/models/Shark.java
  vanilla-tests/src/main/java/fixtures/modelflattening/models/FlattenedProduct.java
  vanilla-tests/src/main/java/fixtures/streamstyleserializationimmutableoutput/models/MyDerivedType.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

do not update commit id
  eng/sdk/sync_sdk.py
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

support new SdkClientType design
  typespec-extension/src/code-model-builder.ts
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

throw error if endpoint parameter is neither union nor endpoint
  typespec-extension/src/code-model-builder.ts
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

lint
  typespec-extension/src/code-model-builder.ts
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

remove unused functions and move removeClientSuffix to util
  typespec-extension/src/code-model-builder.ts
  typespec-extension/src/utils.ts
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

support client crossLanguageDefinitionId
  typespec-extension/src/code-model-builder.ts
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

remove unused functions
  typespec-extension/src/code-model-builder.ts
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

remove unused imports
  typespec-extension/src/code-model-builder.ts
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

update according to comments
  typespec-extension/src/code-model-builder.ts
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

lint
  typespec-extension/src/utils.ts
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

fix
  javagen/src/main/java/com/azure/autorest/mapper/ClientMethodMapper.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

test
  fluent-tests/Initialize-Tests.ps1
  fluent-tests/src/test/java/com/azure/mgmttest/LiteCompilationTests.java
Due: eng/pipelines/fluent_integration.yaml

regen
  typespec-tests/src/main/java/com/azure/resourcemanager/models/commontypes/managedidentity/fluent/models/ManagedIdentityTrackedResourceInner.java
  typespec-tests/src/main/java/com/azure/resourcemanager/models/resources/fluent/models/NestedProxyResourceInner.java
  typespec-tests/src/main/java/com/azure/resourcemanager/models/resources/fluent/models/TopLevelTrackedResourceInner.java
  typespec-tests/src/main/java/com/cadl/armstreamstyleserialization/fluent/models/SalmonInner.java
  typespec-tests/src/main/java/com/cadl/armstreamstyleserialization/fluent/models/TopLevelArmResourceInner.java
  typespec-tests/src/main/java/com/cadl/armstreamstyleserialization/models/Error.java
  typespec-tests/src/main/java/com/cadl/armstreamstyleserialization/models/ErrorMin.java
  typespec-tests/src/main/java/com/cadl/armstreamstyleserialization/models/GoblinShark.java
  typespec-tests/src/main/java/com/cadl/armstreamstyleserialization/models/OutputOnlyModelChild.java
  typespec-tests/src/main/java/com/cadl/armstreamstyleserialization/models/SawShark.java
  typespec-tests/src/main/java/com/cadl/armstreamstyleserialization/models/Shark.java
  typespec-tests/src/main/java/com/cadl/server/implementation/ContosoClientImpl.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

add TODO for allowReserved for path url
  typespec-extension/src/code-model-builder.ts
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

tsp, support encode int as string
  extension-base/src/main/java/com/azure/autorest/extension/base/model/codemodel/NumberSchema.java
  javagen/src/main/java/com/azure/autorest/mapper/PrimitiveMapper.java
  javagen/src/main/java/com/azure/autorest/model/clientmodel/ClassType.java
  javagen/src/main/java/com/azure/autorest/model/clientmodel/PrimitiveType.java
  typespec-extension/src/code-model-builder.ts
  typespec-extension/src/common/client.ts
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

regen
  typespec-tests/src/main/java/com/azure/resourcemanager/models/commontypes/managedidentity/fluent/models/ManagedIdentityTrackedResourceInner.java
  typespec-tests/src/main/java/com/azure/resourcemanager/models/resources/fluent/models/NestedProxyResourceInner.java
  typespec-tests/src/main/java/com/azure/resourcemanager/models/resources/fluent/models/TopLevelTrackedResourceInner.java
  typespec-tests/src/main/java/com/cadl/armstreamstyleserialization/fluent/models/SalmonInner.java
  typespec-tests/src/main/java/com/cadl/armstreamstyleserialization/fluent/models/TopLevelArmResourceInner.java
  typespec-tests/src/main/java/com/cadl/armstreamstyleserialization/models/Error.java
  typespec-tests/src/main/java/com/cadl/armstreamstyleserialization/models/ErrorMin.java
  typespec-tests/src/main/java/com/cadl/armstreamstyleserialization/models/GoblinShark.java
  typespec-tests/src/main/java/com/cadl/armstreamstyleserialization/models/OutputOnlyModelChild.java
  typespec-tests/src/main/java/com/cadl/armstreamstyleserialization/models/SawShark.java
  typespec-tests/src/main/java/com/cadl/armstreamstyleserialization/models/Shark.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

mgmt, fix pageable model inheritance (#2907)
  fluent-tests/Initialize-Tests.ps1
  fluent-tests/src/test/java/com/azure/mgmttest/LiteCompilationTests.java
  javagen/src/main/java/com/azure/autorest/mapper/ClientMethodMapper.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

move test
  typespec-tests/src/test/java/com/specialheaders/conditionalrequest/ConditionalTests.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

fix test
  typespec-tests/src/test/java/com/parameters/spread/SpreadTests.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

Begin setting up change
  javagen/src/main/java/com/azure/autorest/implementation/ClientModelPropertiesManager.java
  javagen/src/main/java/com/azure/autorest/template/StreamSerializationModelTemplate.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

Generate JSON merge patch with bit tracker
  javagen/src/main/java/com/azure/autorest/template/ModelTemplate.java
  javagen/src/main/java/com/azure/autorest/template/StreamSerializationModelTemplate.java
  typespec-tests/src/main/java/com/_specs_/azure/core/basic/models/User.java
  typespec-tests/src/main/java/com/_specs_/azure/core/basic/models/UserOrder.java
  typespec-tests/src/main/java/com/azure/resourcemanager/models/commontypes/managedidentity/fluent/models/ManagedIdentityTrackedResourceInner.java
  typespec-tests/src/main/java/com/azure/resourcemanager/models/resources/fluent/models/TopLevelTrackedResourceInner.java
  typespec-tests/src/main/java/com/cadl/armresourceprovider/fluent/models/ChildResourceInner.java
  typespec-tests/src/main/java/com/cadl/armresourceprovider/fluent/models/CustomTemplateResourceInner.java
  typespec-tests/src/main/java/com/cadl/armresourceprovider/fluent/models/TopLevelArmResourceInner.java
  typespec-tests/src/main/java/com/cadl/armresourceprovider/models/Golden.java
  typespec-tests/src/main/java/com/cadl/armstreamstyleserialization/fluent/models/SalmonInner.java
  typespec-tests/src/main/java/com/cadl/armstreamstyleserialization/models/GoblinShark.java
  typespec-tests/src/main/java/com/cadl/armstreamstyleserialization/models/Shark.java
  typespec-tests/src/main/java/com/cadl/flatten/models/TodoItemPatch.java
  typespec-tests/src/main/java/com/cadl/flatten/models/UpdatePatchRequest.java
  typespec-tests/src/main/java/com/cadl/patch/models/Fish.java
  typespec-tests/src/main/java/com/cadl/patch/models/InnerModel.java
  typespec-tests/src/main/java/com/cadl/patch/models/Resource.java
  typespec-tests/src/main/java/com/cadl/patch/models/Salmon.java
  typespec-tests/src/main/java/com/cadl/patch/models/SawShark.java
  typespec-tests/src/main/java/com/cadl/patch/models/Shark.java
  typespec-tests/src/main/java/com/cadl/specialheaders/models/Resource.java
  typespec-tests/src/main/java/com/cadl/union/implementation/models/SubResult.java
  typespec-tests/src/main/java/com/payload/jsonmergepatch/models/InnerModel.java
  typespec-tests/src/main/java/com/payload/jsonmergepatch/models/ResourcePatch.java
  typespec-tests/src/main/java/com/type/model/inheritance/recursive/models/Extension.java
  typespec-tests/src/main/java/com/type/property/nullable/models/BytesProperty.java
  typespec-tests/src/main/java/com/type/property/nullable/models/CollectionsByteProperty.java
  typespec-tests/src/main/java/com/type/property/nullable/models/CollectionsModelProperty.java
  typespec-tests/src/main/java/com/type/property/nullable/models/CollectionsStringProperty.java
  typespec-tests/src/main/java/com/type/property/nullable/models/DatetimeProperty.java
  typespec-tests/src/main/java/com/type/property/nullable/models/DurationProperty.java
  typespec-tests/src/main/java/com/type/property/nullable/models/InnerModel.java
  typespec-tests/src/main/java/com/type/property/nullable/models/StringProperty.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

cadl-ranch
  typespec-tests/package.json
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

re-generate test code
  typespec-tests/src/main/java/com/payload/multipart/MultiPartAsyncClient.java
  typespec-tests/src/main/java/com/payload/multipart/MultiPartClient.java
  typespec-tests/src/main/java/com/payload/multipart/implementation/FormDatasImpl.java
  typespec-tests/src/main/java/com/payload/multipart/models/ComplexHttpPartsModelRequest.java
  typespec-tests/src/main/java/com/payload/multipart/models/FileOptionalContentType.java
  typespec-tests/src/main/java/com/payload/multipart/models/FileRequiredMetaData.java
  typespec-tests/src/main/java/com/payload/multipart/models/FileSpecificContentType.java
  typespec-tests/src/main/java/com/payload/multipart/models/FileWithHttpPartOptionalContentTypeRequest.java
  typespec-tests/src/main/java/com/payload/multipart/models/FileWithHttpPartRequiredContentTypeRequest.java
  typespec-tests/src/main/java/com/payload/multipart/models/FileWithHttpPartSpecificContentTypeRequest.java
  typespec-tests/src/main/java/com/payload/multipart/models/JsonArrayPartsRequest.java
  typespec-tests/src/test/java/com/client/structure/service/generated/FirstClientTestBase.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml
