Repository Azure/autorest.java: changes, and which Azure pipelines are due for each by the changed paths.
All: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

Path conditions:
  eng/pipelines/ci-cadl-java.yaml: any of: *, but not: fluent*, postprocessor, vanilla-tests, protocol*
  eng/pipelines/ci-typespec-java.yaml: any of: *, but not: azure-dataplane-tests, azure-tests, fluent-tests, partial-update-tests, vanilla-tests, protocol*
  eng/pipelines/ci.yaml: any of: *, but not: fluent*, typespec*
  eng/pipelines/fluent_integration.yaml: any of: *, but not: typespec*

script and package
  Build-TypeSpec.ps1
  typespec-extension/package.json
  typespec-tests/tspconfig.yaml
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

changelog
  typespec-extension/changelog.md
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

fix script
  Build-TypeSpec.ps1
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

fix options.ts
  typespec-extension/src/options.ts
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

update release date
  typespec-extension/changelog.md
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

eng, sync 7745 for JFR profiling (#3152)
  Build-TypeSpec.ps1
  typespec-extension/changelog.md
  typespec-extension/package.json
  typespec-extension/src/options.ts
  typespec-tests/tspconfig.yaml
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

add sample.md
  eng/sdk/sync_sdk.py
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

Update Package for Latest Dependencies and Prepare for Patch Release 0.31.6 (#3156)
  package-lock.json
  package.json
  typespec-extension/changelog.md
  typespec-extension/package-lock.json
  typespec-extension/package.json
  typespec-extension/src/options.ts
  typespec-tests/package.json
  typespec-tests/src/main/java/azure/resourcemanager/operationtemplates/OperationTemplatesManager.java
  typespec-tests/src/main/java/azure/resourcemanager/operationtemplates/fluent/OperationTemplatesClient.java
  typespec-tests/src/main/java/azure/resourcemanager/operationtemplates/fluent/OptionalBodiesClient.java
  typespec-tests/src/main/java/azure/resourcemanager/operationtemplates/fluent/models/ActionResultInner.java
  typespec-tests/src/main/java/azure/resourcemanager/operationtemplates/fluent/models/ChangeAllowanceResultInner.java
  typespec-tests/src/main/java/azure/resourcemanager/operationtemplates/fluent/models/WidgetInner.java
  typespec-tests/src/main/java/azure/resourcemanager/operationtemplates/implementation/ActionResultImpl.java
  typespec-tests/src/main/java/azure/resourcemanager/operationtemplates/implementation/ChangeAllowanceResultImpl.java
  typespec-tests/src/main/java/azure/resourcemanager/operationtemplates/implementation/OperationTemplatesClientImpl.java
  typespec-tests/src/main/java/azure/resourcemanager/operationtemplates/implementation/OptionalBodiesClientImpl.java
  typespec-tests/src/main/java/azure/resourcemanager/operationtemplates/implementation/OptionalBodiesImpl.java
  typespec-tests/src/main/java/azure/resourcemanager/operationtemplates/implementation/WidgetImpl.java
  typespec-tests/src/main/java/azure/resourcemanager/operationtemplates/models/ActionRequest.java
  typespec-tests/src/main/java/azure/resourcemanager/operationtemplates/models/ActionResult.java
  typespec-tests/src/main/java/azure/resourcemanager/operationtemplates/models/ChangeAllowanceRequest.java
  typespec-tests/src/main/java/azure/resourcemanager/operationtemplates/models/ChangeAllowanceResult.java
  typespec-tests/src/main/java/azure/resourcemanager/operationtemplates/models/OptionalBodies.java
  typespec-tests/src/main/java/azure/resourcemanager/operationtemplates/models/Widget.java
  typespec-tests/src/main/java/azure/resourcemanager/operationtemplates/models/WidgetProperties.java
  typespec-tests/src/main/resources/META-INF/native-image/com.azure.resourcemanager/azure-resourcemanager-operationtemplates-generated/proxy-config.json
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

do not revert SAMPLE.md
  eng/sdk/sync_sdk.py
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

fail if commit id not found
  eng/pipelines/steps/update-submodule-commit.yml
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

use PR ID as input
  eng/pipelines/ci-submodule-commit.yaml
  eng/pipelines/jobs/build-autorest-mgmt.yml
  eng/pipelines/jobs/build-autorest.yml
  eng/pipelines/jobs/build-typespec.yml
  eng/pipelines/steps/build-typespec.yml
  eng/pipelines/steps/update-submodule-commit.yml
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

rename to ci-submodule-pull-request.yaml
  eng/pipelines/ci-submodule-pull-request.yaml
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

eng, fix submodule ci (#3159)
  eng/pipelines/ci-submodule-commit.yaml
  eng/pipelines/ci-submodule-pull-request.yaml
  eng/pipelines/jobs/build-autorest-mgmt.yml
  eng/pipelines/jobs/build-autorest.yml
  eng/pipelines/jobs/build-typespec.yml
  eng/pipelines/steps/build-typespec.yml
  eng/pipelines/steps/update-submodule-commit.yml
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

update core
  vanilla-tests/src/main/java/fixtures/streamstylexmlserialization/models/AppleBarrel.java
  vanilla-tests/src/main/java/fixtures/streamstylexmlserialization/models/ListContainersResponse.java
  vanilla-tests/src/main/java/fixtures/streamstylexmlserialization/models/StorageServiceProperties.java
Due: eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

Update package dependencies to latest versions
  typespec-extension/package-lock.json
  typespec-extension/package.json
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

autorest.java 4.1.55
  package-lock.json
  package.json
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

sync script
  typespec-tests/Generate.ps1
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

comment out rename-model
  typespec-extension/src/options.ts
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

emitter 0.31.7
  typespec-extension/changelog.md
  typespec-extension/package-lock.json
  typespec-extension/package.json
  typespec-tests/package.json
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

options
  typespec-extension/src/options.ts
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

commented out the mgmt flags for now
  typespec-extension/src/options.ts
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

nit
  typespec-extension/src/options.ts
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

4.1.56
  package-lock.json
  package.json
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

emitter 0.31.8
  typespec-extension/changelog.md
  typespec-extension/package-lock.json
  typespec-extension/package.json
  typespec-tests/package.json
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

eng, prepare release 0.31.8 (#3163)
  package-lock.json
  package.json
  typespec-extension/changelog.md
  typespec-extension/package-lock.json
  typespec-extension/package.json
  typespec-tests/package.json
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

remove generated code
  eng/sdk/sync_sdk.py
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

use os.remove
  eng/sdk/sync_sdk.py
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

sync-sdk, remove generated code for mgmt (#3164)
  eng/sdk/sync_sdk.py
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

re-generate test code
  azure-dataplane-tests/src/main/java/com/azure/data/schemaregistry/implementation/SchemaGroupsOperationsImpl.java
  azure-dataplane-tests/src/main/java/com/azure/data/schemaregistry/implementation/SchemasImpl.java
  protocol-tests/src/main/java/fixtures/dpgcustomization/implementation/DpgClientImpl.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml
