Repository Azure/autorest.java: changes, and which Azure pipelines are due for each by the changed paths.
All: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

Path conditions:
  eng/pipelines/ci-cadl-java.yaml: any of: *, but not: fluent*, postprocessor, vanilla-tests, protocol*
  eng/pipelines/ci-typespec-java.yaml: any of: *, but not: androidgen, azure-dataplane-tests, azure-tests, fluent-tests, partial-update-tests, vanilla-tests, protocol*
  eng/pipelines/ci.yaml: any of: *, but not: fluent*, typespec*
  eng/pipelines/fluent_integration.yaml: any of: *, but not: typespec*

4.1.40
  package-lock.json
  package.json
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

sync test
  typespec-tests/src/main/java/com/cadl/union/implementation/models/SendLongRequest.java
  typespec-tests/src/main/java/com/cadl/union/implementation/models/SendRequest.java
  typespec-tests/src/main/java/com/cadl/union/implementation/models/SubResult.java
  typespec-tests/src/main/java/com/cadl/union/models/Result.java
  typespec-tests/src/main/java/com/type/property/additionalproperties/models/ExtendsUnknownAdditionalProperties.java
  typespec-tests/src/main/java/com/type/property/additionalproperties/models/ExtendsUnknownAdditionalPropertiesDerived.java
  typespec-tests/src/main/java/com/type/property/additionalproperties/models/ExtendsUnknownAdditionalPropertiesDiscriminated.java
  typespec-tests/src/main/java/com/type/property/additionalproperties/models/ExtendsUnknownAdditionalPropertiesDiscriminatedDerived.java
  typespec-tests/src/main/java/com/type/property/additionalproperties/models/IsUnknownAdditionalProperties.java
  typespec-tests/src/main/java/com/type/property/additionalproperties/models/IsUnknownAdditionalPropertiesDerived.java
  typespec-tests/src/main/java/com/type/property/additionalproperties/models/IsUnknownAdditionalPropertiesDiscriminated.java
  typespec-tests/src/main/java/com/type/property/additionalproperties/models/IsUnknownAdditionalPropertiesDiscriminatedDerived.java
  typespec-tests/src/main/java/com/type/property/additionalproperties/models/MultipleSpreadRecord.java
  typespec-tests/src/main/java/com/type/property/additionalproperties/models/SpreadRecordForDiscriminatedUnion.java
  typespec-tests/src/main/java/com/type/property/additionalproperties/models/SpreadRecordForNonDiscriminatedUnion.java
  typespec-tests/src/main/java/com/type/property/additionalproperties/models/SpreadRecordForNonDiscriminatedUnion2.java
  typespec-tests/src/main/java/com/type/property/additionalproperties/models/SpreadRecordForNonDiscriminatedUnion3.java
  typespec-tests/src/main/java/com/type/property/additionalproperties/models/SpreadRecordForUnion.java
  typespec-tests/src/main/java/com/type/property/valuetypes/models/UnknownArrayProperty.java
  typespec-tests/src/main/java/com/type/property/valuetypes/models/UnknownDictProperty.java
  typespec-tests/src/main/java/com/type/property/valuetypes/models/UnknownIntProperty.java
  typespec-tests/src/main/java/com/type/property/valuetypes/models/UnknownStringProperty.java
  typespec-tests/src/main/java/com/type/union/implementation/models/SendRequest4.java
  typespec-tests/src/main/java/com/type/union/models/GetResponse4.java
  typespec-tests/src/main/java/com/type/union/models/MixedLiteralsCases.java
  typespec-tests/src/main/java/com/type/union/models/MixedTypesCases.java
  typespec-tests/src/main/java/com/type/union/models/StringAndArrayCases.java
  typespec-tests/src/main/java/com/versioning/added/models/ModelV1.java
  typespec-tests/src/main/java/com/versioning/added/models/ModelV2.java
  typespec-tests/src/main/java/com/versioning/removed/models/ModelV2.java
  typespec-tests/src/main/java/com/versioning/renamedfrom/models/NewModel.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

re-generate test code
  azure-tests/src/main/java/fixtures/azureparametergrouping/models/Grouper.java
  azure-tests/src/main/java/fixtures/azurespecials/models/Error.java
  vanilla-tests/src/main/java/fixtures/bodyformdataurlencoded/models/PathsPvivzlFormsdataurlencodedPartialconstantbodyPostRequestbodyContentApplicationXWwwFormUrlencodedSchema.java
  vanilla-tests/src/main/java/fixtures/bodystring/models/RefColorConstant.java
  vanilla-tests/src/main/java/fixtures/constants/models/NoModelAsStringNoRequiredOneValueDefault.java
  vanilla-tests/src/main/java/fixtures/constants/models/NoModelAsStringNoRequiredOneValueNoDefault.java
  vanilla-tests/src/main/java/fixtures/constants/models/NoModelAsStringRequiredOneValueDefault.java
  vanilla-tests/src/main/java/fixtures/constants/models/NoModelAsStringRequiredOneValueNoDefault.java
  vanilla-tests/src/main/java/fixtures/httpinfrastructure/models/HttpRedirectsDelete307Headers.java
  vanilla-tests/src/main/java/fixtures/httpinfrastructure/models/HttpRedirectsGet300Headers.java
  vanilla-tests/src/main/java/fixtures/httpinfrastructure/models/HttpRedirectsGet301Headers.java
  vanilla-tests/src/main/java/fixtures/httpinfrastructure/models/HttpRedirectsGet302Headers.java
  vanilla-tests/src/main/java/fixtures/httpinfrastructure/models/HttpRedirectsGet307Headers.java
  vanilla-tests/src/main/java/fixtures/httpinfrastructure/models/HttpRedirectsHead300Headers.java
  vanilla-tests/src/main/java/fixtures/httpinfrastructure/models/HttpRedirectsHead301Headers.java
  vanilla-tests/src/main/java/fixtures/httpinfrastructure/models/HttpRedirectsHead302Headers.java
  vanilla-tests/src/main/java/fixtures/httpinfrastructure/models/HttpRedirectsHead307Headers.java
  vanilla-tests/src/main/java/fixtures/httpinfrastructure/models/HttpRedirectsOptions307Headers.java
  vanilla-tests/src/main/java/fixtures/httpinfrastructure/models/HttpRedirectsPatch302Headers.java
  vanilla-tests/src/main/java/fixtures/httpinfrastructure/models/HttpRedirectsPatch307Headers.java
  vanilla-tests/src/main/java/fixtures/httpinfrastructure/models/HttpRedirectsPost303Headers.java
  vanilla-tests/src/main/java/fixtures/httpinfrastructure/models/HttpRedirectsPost307Headers.java
  vanilla-tests/src/main/java/fixtures/httpinfrastructure/models/HttpRedirectsPut301Headers.java
  vanilla-tests/src/main/java/fixtures/httpinfrastructure/models/HttpRedirectsPut307Headers.java
  vanilla-tests/src/main/java/fixtures/validation/models/ChildProduct.java
  vanilla-tests/src/main/java/fixtures/validation/models/ConstantProduct.java
  vanilla-tests/src/main/java/fixtures/validation/models/Product.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

re-generate test code
  vanilla-tests/src/main/java/fixtures/httpinfrastructure/models/HttpRedirectsDelete307Headers.java
  vanilla-tests/src/main/java/fixtures/httpinfrastructure/models/HttpRedirectsGet300Headers.java
  vanilla-tests/src/main/java/fixtures/httpinfrastructure/models/HttpRedirectsGet301Headers.java
  vanilla-tests/src/main/java/fixtures/httpinfrastructure/models/HttpRedirectsGet302Headers.java
  vanilla-tests/src/main/java/fixtures/httpinfrastructure/models/HttpRedirectsGet307Headers.java
  vanilla-tests/src/main/java/fixtures/httpinfrastructure/models/HttpRedirectsHead300Headers.java
  vanilla-tests/src/main/java/fixtures/httpinfrastructure/models/HttpRedirectsHead301Headers.java
  vanilla-tests/src/main/java/fixtures/httpinfrastructure/models/HttpRedirectsHead302Headers.java
  vanilla-tests/src/main/java/fixtures/httpinfrastructure/models/HttpRedirectsHead307Headers.java
  vanilla-tests/src/main/java/fixtures/httpinfrastructure/models/HttpRedirectsOptions307Headers.java
  vanilla-tests/src/main/java/fixtures/httpinfrastructure/models/HttpRedirectsPatch302Headers.java
  vanilla-tests/src/main/java/fixtures/httpinfrastructure/models/HttpRedirectsPatch307Headers.java
  vanilla-tests/src/main/java/fixtures/httpinfrastructure/models/HttpRedirectsPost303Headers.java
  vanilla-tests/src/main/java/fixtures/httpinfrastructure/models/HttpRedirectsPost307Headers.java
  vanilla-tests/src/main/java/fixtures/httpinfrastructure/models/HttpRedirectsPut301Headers.java
  vanilla-tests/src/main/java/fixtures/httpinfrastructure/models/HttpRedirectsPut307Headers.java
Due: eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

release 4.1.40 (#2979)
  package-lock.json
  package.json
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

suppress spotbug SS_SHOULD_BE_STATIC
  fluent-tests/spotbugs-exclude.xml
Due: eng/pipelines/fluent_integration.yaml

bump versions
  package-lock.json
  package.json
  typespec-extension/changelog.md
  typespec-extension/package-lock.json
  typespec-extension/package.json
  typespec-tests/package.json
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

re-generate test code
  azure-tests/src/main/java/fixtures/azureparametergrouping/models/Grouper.java
  vanilla-tests/src/main/java/fixtures/constants/models/NoModelAsStringNoRequiredOneValueDefault.java
  vanilla-tests/src/main/java/fixtures/constants/models/NoModelAsStringNoRequiredOneValueNoDefault.java
  vanilla-tests/src/main/java/fixtures/httpinfrastructure/models/HttpRedirectsDelete307Headers.java
  vanilla-tests/src/main/java/fixtures/httpinfrastructure/models/HttpRedirectsGet300Headers.java
  vanilla-tests/src/main/java/fixtures/httpinfrastructure/models/HttpRedirectsGet301Headers.java
  vanilla-tests/src/main/java/fixtures/httpinfrastructure/models/HttpRedirectsGet302Headers.java
  vanilla-tests/src/main/java/fixtures/httpinfrastructure/models/HttpRedirectsGet307Headers.java
  vanilla-tests/src/main/java/fixtures/httpinfrastructure/models/HttpRedirectsHead300Headers.java
  vanilla-tests/src/main/java/fixtures/httpinfrastructure/models/HttpRedirectsHead301Headers.java
  vanilla-tests/src/main/java/fixtures/httpinfrastructure/models/HttpRedirectsHead302Headers.java
  vanilla-tests/src/main/java/fixtures/httpinfrastructure/models/HttpRedirectsHead307Headers.java
  vanilla-tests/src/main/java/fixtures/httpinfrastructure/models/HttpRedirectsOptions307Headers.java
  vanilla-tests/src/main/java/fixtures/httpinfrastructure/models/HttpRedirectsPatch302Headers.java
  vanilla-tests/src/main/java/fixtures/httpinfrastructure/models/HttpRedirectsPatch307Headers.java
  vanilla-tests/src/main/java/fixtures/httpinfrastructure/models/HttpRedirectsPost303Headers.java
  vanilla-tests/src/main/java/fixtures/httpinfrastructure/models/HttpRedirectsPost307Headers.java
  vanilla-tests/src/main/java/fixtures/httpinfrastructure/models/HttpRedirectsPut301Headers.java
  vanilla-tests/src/main/java/fixtures/httpinfrastructure/models/HttpRedirectsPut307Headers.java
  vanilla-tests/src/main/java/fixtures/validation/models/Product.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

sync core
  typespec-tests/package.json
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

fix package
  typespec-extension/package-lock.json
  typespec-extension/package.json
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

fix script
  typespec-tests/Generate.ps1
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

suppress _specs_ in packageName
  checkstyle-suppressions.xml
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

update changelog
  typespec-extension/changelog.md
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

update readme of typespec-java
  typespec-extension/readme.md
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

update readme of typespec-java (#2983)
  typespec-extension/readme.md
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

add mock test for CAE
  typespec-tests/src/test/java/tsptest/armresourceprovider/ArmTests.java
  typespec-tests/src/test/java/tsptest/armstreamstyleserialization/StreamStyleSerializationTests.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

add mock test for CAE (#2985)
  typespec-tests/src/test/java/tsptest/armresourceprovider/ArmTests.java
  typespec-tests/src/test/java/tsptest/armstreamstyleserialization/StreamStyleSerializationTests.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

bump 1.0.0-beta.9; update changelog
  customization-base/CHANGELOG.md
  customization-base/pom.xml
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

other ref
  customization-tests/swagger/pom.xml
  fluentgen/src/main/resources/readme/pom.xml
  javagen/src/main/resources/readme/pom.xml
  typespec-tests/customization/pom.xml
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

update diff file
  core.diff
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

release azure autorest customization 1.0.0 beta.9 (#2987)
  core.diff
  customization-base/CHANGELOG.md
  customization-base/pom.xml
  customization-tests/swagger/pom.xml
  fluentgen/src/main/resources/readme/pom.xml
  javagen/src/main/resources/readme/pom.xml
  typespec-tests/customization/pom.xml
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

version bump
  azure-dataplane-tests/pom.xml
  azure-tests/pom.xml
  customization-base/src/main/resources/pom.xml
  customization-tests/pom.xml
  fluent-tests/pom.xml
  pom.xml
  protocol-sdk-integration-tests/eng/versioning/version_client.txt
  protocol-tests/pom.xml
  typespec-tests/pom.xml
  vanilla-tests/pom.xml
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

bump tcgc
  typespec-extension/package-lock.json
  typespec-extension/package.json
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

bump version for both package
  package-lock.json
  package.json
  typespec-extension/changelog.md
  typespec-extension/package-lock.json
  typespec-extension/package.json
  typespec-tests/package.json
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

update cadl-ranch
  typespec-tests/package.json
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

update readme to remove rarely used options
  typespec-extension/changelog.md
  typespec-extension/readme.md
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

sync tests
  typespec-tests/src/main/java/tsptest/armresourceprovider/models/PriorityModel.java
  typespec-tests/src/main/java/tsptest/armstreamstyleserialization/fluent/models/OutputOnlyModelInner.java
  typespec-tests/src/main/java/tsptest/armstreamstyleserialization/fluent/models/OutputOnlyModelProperties.java
  typespec-tests/src/main/java/tsptest/armstreamstyleserialization/implementation/OutputOnlyModelImpl.java
  typespec-tests/src/main/java/tsptest/armstreamstyleserialization/models/Dog.java
  typespec-tests/src/main/java/tsptest/armstreamstyleserialization/models/DogKind.java
  typespec-tests/src/main/java/tsptest/armstreamstyleserialization/models/Golden.java
  typespec-tests/src/main/java/tsptest/armstreamstyleserialization/models/OutputOnlyModel.java
  typespec-tests/src/main/java/tsptest/armstreamstyleserialization/models/OutputOnlyModelChild.java
  typespec-tests/src/main/java/tsptest/enumservice/models/OlympicRecordModel.java
  typespec-tests/src/main/java/tsptest/enumservice/models/PriorityModel.java
  typespec-tests/src/test/java/tsptest/enumservice/EnumTests.java
  typespec-tests/tsp/arm-stream-style-serialization.tsp
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

bump autorest.java
  package-lock.json
  package.json
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml
