Repository Azure/autorest.java: changes, and which Azure pipelines are due for each by the changed paths.
All: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

eng/pipelines/ci-cadl-java.yaml:
  jobs:
  - job: Build
    timeoutInMinutes: 30
    variables:
      JavaVersion: 1.8
      NodeVersion: 18.x
      isMain: $[eq(variables['Build.SourceBranch'], 'refs/heads/main')]
    pool:
      name: azsdk-pool-mms-ubuntu-2004-general
      vmImage: MMSUbuntu20.04
    steps:
    - task: NodeTool@0
  ...

eng/pipelines/ci-typespec-java.yaml:
  jobs:
  - job: Build
    timeoutInMinutes: 30
    variables:
    - template: /eng/pipelines/variables/globals.yml
    - name: isMain
      value: $[eq(variables['Build.SourceBranch'], 'refs/heads/main')]
    pool:
      name: azsdk-pool-mms-ubuntu-2004-general
      vmImage: MMSUbuntu20.04
    steps:
  ...

eng/pipelines/ci.yaml:
  jobs:
  - job: Build
    timeoutInMinutes: 60
    variables:
      JavaVersion: 1.11
      NodeVersion: 18.x
    pool:
      name: azsdk-pool-mms-ubuntu-2004-general
      vmImage: MMSUbuntu20.04
    steps:
    - task: NodeTool@0
      displayName: Install Node.js $(NodeVersion)
      inputs:
  ...

eng/pipelines/fluent_integration.yaml:
  jobs:
  - job: Build
    timeoutInMinutes: 60
    pool:
      name: azsdk-pool-mms-ubuntu-2004-general
      vmImage: MMSUbuntu20.04
    variables:
    - template: /eng/pipelines/variables/globals.yml
    steps:
    - task: NodeTool@0
      inputs:
        versionSpec: $(NodeVersion)
    - script: npm install autorest -g
  ...

re-generate test code
  vanilla-tests/src/main/java/fixtures/nonstringenum/models/FloatEnum.java
  vanilla-tests/src/main/java/fixtures/nonstringenum/models/IntEnum.java
Due: eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

update diff file
  core.diff
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

bump 0.27.1
  typespec-extension/changelog.md
  typespec-extension/package-lock.json
  typespec-extension/package.json
  typespec-extension/readme.md
  typespec-tests/package.json
  typespec-tests/tspconfig.yaml
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

readme, add details on emitter options
  typespec-extension/readme.md
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

readme for client.tsp
  typespec-extension/readme.md
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

update readme
  typespec-extension/readme.md
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

doc on partial-update
  typespec-extension/readme.md
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

Update typespec-extension/readme.md
  typespec-extension/readme.md
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

ask copilot to do one more proofread
  typespec-extension/readme.md
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

eng, update core, default flavor should be azure now (#2999)
  Generate.ps1
  core.diff
  typespec-extension/changelog.md
  typespec-extension/package-lock.json
  typespec-extension/package.json
  typespec-extension/readme.md
  typespec-tests/package.json
  typespec-tests/tspconfig.yaml
  vanilla-tests/src/main/java/fixtures/xmlconstant/models/QueryRequest.java
  vanilla-tests/src/main/java/fixtures/xmlconstant/models/package-info.java
  vanilla-tests/src/main/java/fixtures/xmlconstant/package-info.java
  vanilla-tests/swagger/xml-constant.json
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

add fluent test
  fluent-tests/Initialize-Tests.ps1
  fluent-tests/src/test/java/com/azure/mgmttest/LiteCompilationTests.java
Due: eng/pipelines/fluent_integration.yaml

sync-test
  typespec-tests/src/main/java/tsptest/armstreamstyleserialization/ArmStreamStyleSerializationManager.java
  typespec-tests/src/main/java/tsptest/armstreamstyleserialization/fluent/ArmStreamStyleSerializationClient.java
  typespec-tests/src/main/java/tsptest/armstreamstyleserialization/fluent/FunctionsClient.java
  typespec-tests/src/main/java/tsptest/armstreamstyleserialization/fluent/models/FunctionConfiguration.java
  typespec-tests/src/main/java/tsptest/armstreamstyleserialization/fluent/models/FunctionInner.java
  typespec-tests/src/main/java/tsptest/armstreamstyleserialization/implementation/ArmStreamStyleSerializationClientImpl.java
  typespec-tests/src/main/java/tsptest/armstreamstyleserialization/implementation/FunctionImpl.java
  typespec-tests/src/main/java/tsptest/armstreamstyleserialization/implementation/FunctionsClientImpl.java
  typespec-tests/src/main/java/tsptest/armstreamstyleserialization/implementation/FunctionsImpl.java
  typespec-tests/src/main/java/tsptest/armstreamstyleserialization/models/AggregateFunctionProperties.java
  typespec-tests/src/main/java/tsptest/armstreamstyleserialization/models/Function.java
  typespec-tests/src/main/java/tsptest/armstreamstyleserialization/models/FunctionProperties.java
  typespec-tests/src/main/java/tsptest/armstreamstyleserialization/models/Functions.java
  typespec-tests/src/main/resources/META-INF/native-image/com.azure.resourcemanager/azure-resourcemanager-armstreamstyleserialization-generated/proxy-config.json
  typespec-tests/src/test/java/payload/pageable/generated/PageableClientTestBase.java
  typespec-tests/tsp/arm-stream-style-serialization.tsp
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

mgmt, fix child with parent flatten (#3004)
  fluent-tests/Initialize-Tests.ps1
  fluent-tests/src/test/java/com/azure/mgmttest/LiteCompilationTests.java
  typespec-tests/src/main/java/tsptest/armstreamstyleserialization/ArmStreamStyleSerializationManager.java
  typespec-tests/src/main/java/tsptest/armstreamstyleserialization/fluent/ArmStreamStyleSerializationClient.java
  typespec-tests/src/main/java/tsptest/armstreamstyleserialization/fluent/FunctionsClient.java
  typespec-tests/src/main/java/tsptest/armstreamstyleserialization/fluent/models/FunctionConfiguration.java
  typespec-tests/src/main/java/tsptest/armstreamstyleserialization/fluent/models/FunctionInner.java
  typespec-tests/src/main/java/tsptest/armstreamstyleserialization/implementation/ArmStreamStyleSerializationClientImpl.java
  typespec-tests/src/main/java/tsptest/armstreamstyleserialization/implementation/FunctionImpl.java
  typespec-tests/src/main/java/tsptest/armstreamstyleserialization/implementation/FunctionsClientImpl.java
  typespec-tests/src/main/java/tsptest/armstreamstyleserialization/implementation/FunctionsImpl.java
  typespec-tests/src/main/java/tsptest/armstreamstyleserialization/models/AggregateFunctionProperties.java
  typespec-tests/src/main/java/tsptest/armstreamstyleserialization/models/Function.java
  typespec-tests/src/main/java/tsptest/armstreamstyleserialization/models/FunctionProperties.java
  typespec-tests/src/main/java/tsptest/armstreamstyleserialization/models/Functions.java
  typespec-tests/src/main/resources/META-INF/native-image/com.azure.resourcemanager/azure-resourcemanager-armstreamstyleserialization-generated/proxy-config.json
  typespec-tests/src/test/java/payload/pageable/generated/PageableClientTestBase.java
  typespec-tests/tsp/arm-stream-style-serialization.tsp
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/fluent_integration.yaml

add fluent tests
  fluent-tests/Initialize-Tests.ps1
  fluent-tests/src/test/java/com/azure/mgmttest/LiteCompilationTests.java
Due: eng/pipelines/fluent_integration.yaml

bump npm
  typespec-extension/package-lock.json
  typespec-extension/package.json
  typespec-tests/package.json
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

eng, bump tcgc 0.49.1 (#3008)
  typespec-extension/package-lock.json
  typespec-extension/package.json
  typespec-tests/package.json
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

mgmt, use `byte[0]` for client implementations (#3007)
  fluent-tests/Initialize-Tests.ps1
  fluent-tests/src/test/java/com/azure/mgmttest/LiteCompilationTests.java
Due: eng/pipelines/fluent_integration.yaml

sync arm lro test
  typespec-tests/src/test/java/azure/resourcemanager/operationtemplates/OperationTests.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

bump jar
  fluent-tests/pom.xml
  protocol-sdk-integration-tests/eng/versioning/version_client.txt
  typespec-tests/pom.xml
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

bump npm
  typespec-extension/changelog.md
  typespec-extension/package-lock.json
  typespec-extension/package.json
  typespec-extension/readme.md
  typespec-tests/package.json
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

remove typespec-liftr-base
  typespec-extension/package-lock.json
  typespec-extension/package.json
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

doc for submodule, and script to build for Autorest
  Build-AutoRest.ps1
  readme.md
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

add sample for using the emitter / extension
  readme.md
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

eng, bump core, prepare release 0.27.2 (#3011)
  fluent-tests/pom.xml
  protocol-sdk-integration-tests/eng/versioning/version_client.txt
  typespec-extension/changelog.md
  typespec-extension/package-lock.json
  typespec-extension/package.json
  typespec-extension/readme.md
  typespec-tests/package.json
  typespec-tests/pom.xml
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

update doc
  readme.md
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

assume-unchanged may help
  readme.md
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

Path conditions:
  eng/pipelines/ci-cadl-java.yaml: any of: *, but not: fluent*, postprocessor, vanilla-tests, protocol*
  eng/pipelines/ci-typespec-java.yaml: any of: *, but not: androidgen, azure-dataplane-tests, azure-tests, fluent-tests, partial-update-tests, vanilla-tests, protocol*
  eng/pipelines/ci.yaml: any of: *, but not: fluent*, typespec*
  eng/pipelines/fluent_integration.yaml: any of: *, but not: typespec*
