Repository Azure/autorest.java: changes, and which Azure pipelines are due for each by the changed paths.
All: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

Path conditions:
  eng/pipelines/ci-cadl-java.yaml: any of: *, but not: fluent*, postprocessor, vanilla-tests, protocol*
  eng/pipelines/ci-typespec-java.yaml: any of: *, but not: androidgen, azure-dataplane-tests, azure-tests, fluent-tests, partial-update-tests, vanilla-tests, protocol*
  eng/pipelines/ci.yaml: any of: *, but not: fluent*, typespec*
  eng/pipelines/fluent_integration.yaml: any of: *, but not: typespec*

update UT
  typespec-tests/src/test/java/com/cadl/flatten/FlattenTests.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

tsp, generic KeyCredentialPolicy ctor has 3 arguments
  javagen/src/main/java/com/azure/autorest/template/TemplateHelper.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

tsp, bug fix on grouping (#2612)
  typespec-extension/changelog.md
  typespec-extension/package-lock.json
  typespec-extension/package.json
  typespec-extension/src/code-model-builder.ts
  typespec-tests/package.json
  typespec-tests/src/main/java/com/cadl/flatten/FlattenAsyncClient.java
  typespec-tests/src/main/java/com/cadl/flatten/FlattenClient.java
  typespec-tests/src/main/java/com/cadl/flatten/implementation/FlattenClientImpl.java
  typespec-tests/src/main/java/com/cadl/flatten/implementation/models/SendLongRequest.java
  typespec-tests/src/main/java/com/cadl/flatten/implementation/models/SendRequest.java
  typespec-tests/src/main/java/com/cadl/flatten/models/SendLongOptions.java
  typespec-tests/src/main/java/com/cadl/flatten/models/Status.java
  typespec-tests/src/main/java/com/cadl/flatten/models/TodoItem.java
  typespec-tests/src/samples/java/com/cadl/flatten/generated/FlattenOpSendLong.java
  typespec-tests/src/test/java/com/cadl/flatten/FlattenTests.java
  typespec-tests/src/test/java/com/cadl/flatten/generated/FlattenOpSendLongTests.java
  typespec-tests/tsp/examples/2022-06-01-preview/FlattenOp_SendLong.json
  typespec-tests/tsp/flatten.tsp
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

tsp, generic KeyCredentialPolicy ctor has 3 arguments (#2613)
  javagen/src/main/java/com/azure/autorest/template/TemplateHelper.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

test case
  typespec-tests/tsp/examples/2022-06-01-preview/FlattenOp_Send.json
  typespec-tests/tsp/examples/2022-06-01-preview/FlattenOp_SendLong.json
  typespec-tests/tsp/multipart.tsp
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

ignore readonly in multipart
  javagen/src/main/java/com/azure/autorest/template/ConvenienceMethodTemplateBase.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

bump version 0.15.2
  typespec-extension/changelog.md
  typespec-extension/package-lock.json
  typespec-extension/package.json
  typespec-tests/package.json
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

re-generate test code
  typespec-tests/src/main/java/com/cadl/multipart/MultipartAsyncClient.java
  typespec-tests/src/main/java/com/cadl/multipart/MultipartClient.java
  typespec-tests/src/main/java/com/cadl/multipart/implementation/models/UploadFileRequest.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

tsp, improve multipart, ignore readonly field (#2614)
  javagen/src/main/java/com/azure/autorest/template/ConvenienceMethodTemplateBase.java
  typespec-extension/changelog.md
  typespec-extension/package-lock.json
  typespec-extension/package.json
  typespec-tests/package.json
  typespec-tests/src/main/java/com/cadl/multipart/MultipartAsyncClient.java
  typespec-tests/src/main/java/com/cadl/multipart/MultipartClient.java
  typespec-tests/src/main/java/com/cadl/multipart/implementation/models/UploadFileRequest.java
  typespec-tests/tsp/examples/2022-06-01-preview/FlattenOp_Send.json
  typespec-tests/tsp/examples/2022-06-01-preview/FlattenOp_SendLong.json
  typespec-tests/tsp/multipart.tsp
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

tsp, remove isErrorOrChildOfError
  typespec-extension/src/code-model-builder.ts
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

tsp, remove isErrorOrChildOfError (#2617)
  typespec-extension/src/code-model-builder.ts
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

test
  typespec-tests/src/test/java/com/client/naming/NamingTests.java
  typespec-tests/src/test/java/com/type/property/valuetypes/EnumValueTests.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

regen
  typespec-tests/src/main/java/com/client/naming/EnumAsyncClient.java
  typespec-tests/src/main/java/com/client/naming/EnumClient.java
  typespec-tests/src/main/java/com/client/naming/NamingClientBuilder.java
  typespec-tests/src/main/java/com/client/naming/UnionEnumAsyncClient.java
  typespec-tests/src/main/java/com/client/naming/UnionEnumClient.java
  typespec-tests/src/main/java/com/client/naming/implementation/EnumsImpl.java
  typespec-tests/src/main/java/com/client/naming/implementation/NamingClientImpl.java
  typespec-tests/src/main/java/com/client/naming/implementation/UnionEnumsImpl.java
  typespec-tests/src/main/java/com/client/naming/models/ClientExtensibleEnum.java
  typespec-tests/src/main/java/com/client/naming/models/ExtensibleEnum.java
  typespec-tests/src/main/java/com/type/property/valuetypes/EnumValueAsyncClient.java
  typespec-tests/src/main/java/com/type/property/valuetypes/EnumValueClient.java
  typespec-tests/src/main/java/com/type/property/valuetypes/UnionEnumValueAsyncClient.java
  typespec-tests/src/main/java/com/type/property/valuetypes/UnionEnumValueClient.java
  typespec-tests/src/main/java/com/type/property/valuetypes/ValueTypesClientBuilder.java
  typespec-tests/src/main/java/com/type/property/valuetypes/implementation/EnumValuesImpl.java
  typespec-tests/src/main/java/com/type/property/valuetypes/implementation/UnionEnumValuesImpl.java
  typespec-tests/src/main/java/com/type/property/valuetypes/implementation/ValueTypesClientImpl.java
  typespec-tests/src/main/java/com/type/property/valuetypes/models/EnumValueProperty.java
  typespec-tests/src/main/java/com/type/property/valuetypes/models/ExtendedEnum.java
  typespec-tests/src/main/java/com/type/property/valuetypes/models/UnionEnumValueProperty.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

bump cadl-ranch
  typespec-tests/package.json
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

client, remove duplicate code in 2 CodeNamer (#2610)
  javagen/src/main/java/com/azure/autorest/mapper/ProxyMethodExampleMapper.java
  javagen/src/main/java/com/azure/autorest/util/CodeNamer.java
  preprocessor/src/main/java/com/azure/autorest/preprocessor/namer/CodeNamer.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

re-generate test code
  typespec-tests/src/main/java/com/_specs_/azure/core/scalar/ScalarAsyncClient.java
  typespec-tests/src/main/java/com/_specs_/azure/core/scalar/ScalarClient.java
  typespec-tests/src/main/java/com/_specs_/azure/core/scalar/ScalarClientBuilder.java
  typespec-tests/src/main/java/com/_specs_/azure/core/scalar/ScalarServiceVersion.java
  typespec-tests/src/main/java/com/_specs_/azure/core/scalar/implementation/AzureLocationScalarsImpl.java
  typespec-tests/src/main/java/com/_specs_/azure/core/scalar/implementation/ScalarClientImpl.java
  typespec-tests/src/main/java/com/_specs_/azure/core/scalar/implementation/package-info.java
  typespec-tests/src/main/java/com/_specs_/azure/core/scalar/models/AzureLocationModel.java
  typespec-tests/src/main/java/com/_specs_/azure/core/scalar/models/package-info.java
  typespec-tests/src/main/java/com/_specs_/azure/core/scalar/package-info.java
  typespec-tests/src/main/java/com/client/naming/EnumAsyncClient.java
  typespec-tests/src/main/java/com/client/naming/EnumClient.java
  typespec-tests/src/main/java/com/client/naming/implementation/EnumsImpl.java
  typespec-tests/src/main/java/com/type/property/valuetypes/EnumValueAsyncClient.java
  typespec-tests/src/main/java/com/type/property/valuetypes/EnumValueClient.java
  typespec-tests/src/main/java/com/type/property/valuetypes/implementation/EnumValuesImpl.java
  typespec-tests/src/main/java/com/type/property/valuetypes/models/EnumValueProperty.java
  typespec-tests/src/main/resources/_specs_-azure-core-scalar.properties
  typespec-tests/src/test/java/com/_specs_/azure/core/scalar/generated/ScalarClientTestBase.java
  typespec-tests/src/test/java/com/client/naming/generated/NamingClientTestBase.java
  typespec-tests/src/test/java/com/type/property/valuetypes/generated/ValueTypesClientTestBase.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

fix for javadoc
  typespec-tests/src/main/java/com/cadl/partialupdate/models/PartialUpdateModel.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

tsp, update cadl-ranch 0.31.3 (#2618)
  typespec-tests/package.json
  typespec-tests/src/main/java/com/_specs_/azure/core/scalar/ScalarAsyncClient.java
  typespec-tests/src/main/java/com/_specs_/azure/core/scalar/ScalarClient.java
  typespec-tests/src/main/java/com/_specs_/azure/core/scalar/ScalarClientBuilder.java
  typespec-tests/src/main/java/com/_specs_/azure/core/scalar/ScalarServiceVersion.java
  typespec-tests/src/main/java/com/_specs_/azure/core/scalar/implementation/AzureLocationScalarsImpl.java
  typespec-tests/src/main/java/com/_specs_/azure/core/scalar/implementation/ScalarClientImpl.java
  typespec-tests/src/main/java/com/_specs_/azure/core/scalar/implementation/package-info.java
  typespec-tests/src/main/java/com/_specs_/azure/core/scalar/models/AzureLocationModel.java
  typespec-tests/src/main/java/com/_specs_/azure/core/scalar/models/package-info.java
  typespec-tests/src/main/java/com/_specs_/azure/core/scalar/package-info.java
  typespec-tests/src/main/java/com/client/naming/UnionEnumAsyncClient.java
  typespec-tests/src/main/java/com/client/naming/UnionEnumClient.java
  typespec-tests/src/main/java/com/client/naming/implementation/NamingClientImpl.java
  typespec-tests/src/main/java/com/client/naming/implementation/UnionEnumsImpl.java
  typespec-tests/src/main/java/com/client/naming/models/ClientExtensibleEnum.java
  typespec-tests/src/main/java/com/client/naming/models/ExtensibleEnum.java
  typespec-tests/src/main/java/com/type/property/valuetypes/UnionEnumValueAsyncClient.java
  typespec-tests/src/main/java/com/type/property/valuetypes/UnionEnumValueClient.java
  typespec-tests/src/main/java/com/type/property/valuetypes/ValueTypesClientBuilder.java
  typespec-tests/src/main/java/com/type/property/valuetypes/implementation/UnionEnumValuesImpl.java
  typespec-tests/src/main/java/com/type/property/valuetypes/implementation/ValueTypesClientImpl.java
  typespec-tests/src/main/java/com/type/property/valuetypes/models/ExtendedEnum.java
  typespec-tests/src/main/java/com/type/property/valuetypes/models/UnionEnumValueProperty.java
  typespec-tests/src/main/resources/_specs_-azure-core-scalar.properties
  typespec-tests/src/test/java/com/_specs_/azure/core/scalar/generated/ScalarClientTestBase.java
  typespec-tests/src/test/java/com/client/naming/NamingTests.java
  typespec-tests/src/test/java/com/client/naming/generated/NamingClientTestBase.java
  typespec-tests/src/test/java/com/type/property/valuetypes/EnumValueTests.java
  typespec-tests/src/test/java/com/type/property/valuetypes/generated/ValueTypesClientTestBase.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

temporary ignore com/cadl/naming/NamingAsyncClient.java
  typespec-tests/pom.xml
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

escape delimiter
  javagen/src/main/java/com/azure/autorest/template/ClientMethodTemplate.java
  javagen/src/main/java/com/azure/autorest/template/ClientMethodTemplateBase.java
  javagen/src/main/java/com/azure/autorest/template/ConvenienceMethodTemplateBase.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

re-generate test code
  typespec-tests/src/main/java/com/parameters/collectionformat/implementation/QueriesImpl.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

re-generate test code
  protocol-tests/src/main/java/fixtures/url/QueriesAsyncClient.java
  protocol-tests/src/main/java/fixtures/url/QueriesClient.java
  protocol-tests/src/main/java/fixtures/url/implementation/QueriesImpl.java
  vanilla-tests/src/main/java/fixtures/url/Queries.java
Due: eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

try DPG map BinarySchema to ClassType.BINARY_DATA
  javagen/src/main/java/com/azure/autorest/mapper/BinaryMapper.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

tsp, improve code/doc of tab separated items (#2606)
  eng/pipelines/ci-typespec-java.yaml
  javagen/src/main/java/com/azure/autorest/template/ClientMethodTemplate.java
  javagen/src/main/java/com/azure/autorest/template/ClientMethodTemplateBase.java
  javagen/src/main/java/com/azure/autorest/template/ConvenienceMethodTemplateBase.java
  protocol-tests/src/main/java/fixtures/url/QueriesAsyncClient.java
  protocol-tests/src/main/java/fixtures/url/QueriesClient.java
  protocol-tests/src/main/java/fixtures/url/implementation/QueriesImpl.java
  typespec-tests/pom.xml
  typespec-tests/src/main/java/com/cadl/partialupdate/models/PartialUpdateModel.java
  typespec-tests/src/main/java/com/parameters/collectionformat/implementation/QueriesImpl.java
  vanilla-tests/src/main/java/fixtures/url/Queries.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

re-generate test code
  typespec-tests/src/main/java/com/cadl/multipart/MultipartAsyncClient.java
  typespec-tests/src/main/java/com/cadl/multipart/MultipartClient.java
  typespec-tests/src/main/java/com/cadl/multipart/models/FileDataFileDetails.java
  typespec-tests/src/main/java/com/cadl/multipart/models/FileDetails.java
  typespec-tests/src/main/java/com/cadl/multipart/models/ImageFileDetails.java
  typespec-tests/src/main/java/com/payload/multipart/models/PictureFileDetails.java
  typespec-tests/src/main/java/com/payload/multipart/models/PicturesFileDetails.java
  typespec-tests/src/main/java/com/payload/multipart/models/ProfileImageFileDetails.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

format
  typespec-extension/src/external-schemas.ts
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

tsp, add test for cadl-ranch Azure/Core/Scalar
  typespec-tests/src/test/java/com/_specs_/azure/core/scalar/ScalarTests.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

Fixed comments
  typespec-tests/src/test/java/com/_specs_/azure/core/scalar/ScalarTests.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

test Jackson serialization
  vanilla-tests/src/test/java/fixtures/inheritance/passdiscriminator/ValidateDiscriminatorIsPassedTests.java
Due: eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

avoid call to deprecated method
  fluentgen/src/main/java/com/azure/autorest/fluent/template/FluentServiceClientTemplate.java
Due: eng/pipelines/ci-typespec-java.yaml, eng/pipelines/fluent_integration.yaml

re-generate test code
  typespec-tests/src/main/java/com/cadl/armresourceprovider/implementation/ArmResourceProviderClientImpl.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

tsp, add test for cadl-ranch Azure.Core.Scalar (#2621)
  typespec-tests/src/test/java/com/_specs_/azure/core/scalar/ScalarTests.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

include HttpHeaderName in imports
  javagen/src/main/java/com/azure/autorest/model/clientmodel/ServiceClient.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

test unknown kind
  vanilla-tests/src/test/java/fixtures/inheritance/passdiscriminator/ValidateDiscriminatorIsPassedTests.java
Due: eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

nit
  vanilla-tests/src/test/java/fixtures/inheritance/passdiscriminator/ValidateDiscriminatorIsPassedTests.java
Due: eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

client, add test case for Jackson serialization (#2622)
  fluentgen/src/main/java/com/azure/autorest/fluent/template/FluentServiceClientTemplate.java
  javagen/src/main/java/com/azure/autorest/model/clientmodel/ServiceClient.java
  typespec-tests/src/main/java/com/cadl/armresourceprovider/implementation/ArmResourceProviderClientImpl.java
  vanilla-tests/src/test/java/fixtures/inheritance/passdiscriminator/ValidateDiscriminatorIsPassedTests.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

tsp, refactor multipart/form-data, move the model to typescript (#2619)
  javagen/src/main/java/com/azure/autorest/mapper/BinaryMapper.java
  javagen/src/main/java/com/azure/autorest/mapper/ClientMethodMapper.java
  javagen/src/main/java/com/azure/autorest/mapper/ModelMapper.java
  javagen/src/main/java/com/azure/autorest/util/TypeUtil.java
  typespec-extension/src/code-model-builder.ts
  typespec-extension/src/external-schemas.ts
  typespec-tests/src/main/java/com/cadl/multipart/MultipartAsyncClient.java
  typespec-tests/src/main/java/com/cadl/multipart/MultipartClient.java
  typespec-tests/src/main/java/com/cadl/multipart/models/FileDataFileDetails.java
  typespec-tests/src/main/java/com/cadl/multipart/models/FileDetails.java
  typespec-tests/src/main/java/com/cadl/multipart/models/ImageFileDetails.java
  typespec-tests/src/main/java/com/payload/multipart/models/PictureFileDetails.java
  typespec-tests/src/main/java/com/payload/multipart/models/PicturesFileDetails.java
  typespec-tests/src/main/java/com/payload/multipart/models/ProfileImageFileDetails.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

test
  Generate.ps1
  fluent-tests/Initialize-Tests.ps1
  fluent-tests/src/test/java/com/azure/mgmttest/CompilationTests.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

polymorphic setter protected
  javagen/src/main/java/com/azure/autorest/template/ModelTemplate.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml
