Repository Azure/autorest.java: changes, and which Azure pipelines are due for each by the changed paths.
All: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

Path conditions:
  eng/pipelines/ci-cadl-java.yaml: any of: *, but not: fluent*, postprocessor, vanilla-tests, protocol*
  eng/pipelines/ci-typespec-java.yaml: any of: *, but not: androidgen, azure-dataplane-tests, azure-tests, fluent-tests, partial-update-tests, vanilla-tests, protocol*
  eng/pipelines/ci.yaml: any of: *, but not: fluent*, typespec*
  eng/pipelines/fluent_integration.yaml: any of: *, but not: typespec*

Use latest generic core types (#2630)
  javagen/src/main/java/com/azure/autorest/model/clientmodel/ClassType.java
  javagen/src/main/java/com/azure/autorest/model/clientmodel/ClientBuilderTrait.java
  javagen/src/main/java/com/azure/autorest/model/clientmodel/ClientMethod.java
  javagen/src/main/java/com/azure/autorest/model/clientmodel/ProxyMethod.java
  javagen/src/main/java/com/azure/autorest/template/ConvenienceMethodTemplateBase.java
  javagen/src/main/java/com/azure/autorest/template/MethodGroupTemplate.java
  javagen/src/main/java/com/azure/autorest/util/TemplateUtil.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

remove arm from tsp emitterOptions schema, disable group-etag for arm by default
  typespec-extension/src/code-model-builder.ts
  typespec-extension/src/emitter.ts
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

bug fix, preprocess etag flag
  typespec-extension/src/code-model-builder.ts
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

format
  typespec-extension/src/code-model-builder.ts
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

Add flag for etag grouping (#2638)
  typespec-extension/src/code-model-builder.ts
  typespec-extension/src/emitter.ts
  typespec-tests/Generate.ps1
  typespec-tests/src/main/java/com/cadl/armresourceprovider/fluent/CustomTemplateResourceInterfacesClient.java
  typespec-tests/src/main/java/com/cadl/armresourceprovider/implementation/CustomTemplateResourceImpl.java
  typespec-tests/src/main/java/com/cadl/armresourceprovider/implementation/CustomTemplateResourceInterfacesClientImpl.java
  typespec-tests/src/main/java/com/cadl/armresourceprovider/models/CustomTemplateResource.java
  typespec-tests/tsp/arm.tsp
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

fix
  fluentgen/src/main/java/com/azure/autorest/fluent/template/FluentExampleTemplate.java
  javagen/src/main/java/com/azure/autorest/template/ClientMethodTestTemplate.java
  javagen/src/main/java/com/azure/autorest/template/example/ClientMethodExampleWriter.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

test
  vanilla-tests/src/test/java/fixtures/inheritance/passdiscriminator/ValidateDiscriminatorIsPassedTests.java
Due: eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

temporary disable test
  vanilla-tests/src/test/java/fixtures/inheritance/ValidateDiscriminatorIsPassedTests.java
Due: eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

add a azure-json test
  vanilla-tests/src/test/java/fixtures/inheritance/ValidateDiscriminatorTests.java
Due: eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

update polymorphic logic
  javagen/src/main/java/com/azure/autorest/template/ModelTemplate.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

special logic for getter method of polymorphic property
  javagen/src/main/java/com/azure/autorest/template/ModelTemplate.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

add Override annotation
  javagen/src/main/java/com/azure/autorest/template/ModelTemplate.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

treat discriminator property not as superSettable
  javagen/src/main/java/com/azure/autorest/implementation/ClientModelPropertiesManager.java
  javagen/src/main/java/com/azure/autorest/template/ModelTemplate.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

tests
  typespec-tests/tsp/builtin.tsp
  typespec-tests/tsp/examples/2022-06-01-preview/LongRunning_CreateJob.json
  typespec-tests/tsp/examples/2022-06-01-preview/ResponseOp_ListStrings.json
  typespec-tests/tsp/examples/BuiltinOp_Write.json
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

re-generate test code
  typespec-tests/src/main/java/com/cadl/builtin/BuiltinAsyncClient.java
  typespec-tests/src/main/java/com/cadl/builtin/BuiltinClient.java
  typespec-tests/src/main/java/com/cadl/builtin/implementation/BuiltinOpsImpl.java
  typespec-tests/src/samples/java/com/cadl/builtin/generated/BuiltinOpWrite.java
  typespec-tests/src/samples/java/com/cadl/longrunning/generated/LongRunningCreateJob.java
  typespec-tests/src/samples/java/com/cadl/response/generated/ResponseOpListStrings.java
  typespec-tests/src/test/java/com/cadl/builtin/generated/BuiltinOpWriteTests.java
  typespec-tests/src/test/java/com/cadl/longrunning/generated/LongRunningCreateJobTests.java
  typespec-tests/src/test/java/com/cadl/response/generated/ResponseOpListStringsTests.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

test case
  typespec-tests/tsp/builtin.tsp
  typespec-tests/tsp/examples/2022-06-01-preview/LongRunning_CreateJob.json
  typespec-tests/tsp/examples/BuiltinOp_Write.json
  typespec-tests/tsp/lro.tsp
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

re-generate test code
  typespec-tests/src/main/java/com/cadl/builtin/BuiltinAsyncClient.java
  typespec-tests/src/main/java/com/cadl/builtin/BuiltinClient.java
  typespec-tests/src/main/java/com/cadl/builtin/implementation/BuiltinOpsImpl.java
  typespec-tests/src/main/java/com/cadl/longrunning/LongRunningAsyncClient.java
  typespec-tests/src/main/java/com/cadl/longrunning/LongRunningClient.java
  typespec-tests/src/main/java/com/cadl/longrunning/implementation/LongRunningClientImpl.java
  typespec-tests/src/main/java/com/cadl/longrunning/models/JobData.java
  typespec-tests/src/samples/java/com/cadl/longrunning/generated/LongRunningCreateJob.java
  typespec-tests/src/test/java/com/cadl/longrunning/generated/LongRunningCreateJobTests.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

fix Jackson
  javagen/src/main/java/com/azure/autorest/template/ModelTemplate.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

re-enable test
  vanilla-tests/src/main/java/fixtures/inheritance/passdiscriminator/models/MetricAlertSingleResourceMultipleMetricCriteria.java
  vanilla-tests/src/test/java/fixtures/inheritance/ValidateDiscriminatorIsPassedTests.java
Due: eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

customize nested-discriminator to bypass supported test
  typespec-tests/Generate.ps1
  typespec-tests/customization/src/main/java/CustomizationEncodeBytes.java
  typespec-tests/customization/src/main/java/CustomizationGoblinShark.java
  typespec-tests/customization/src/main/java/CustomizationTest.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

re-generate test code
  typespec-tests/src/main/java/com/type/model/inheritance/nesteddiscriminator/models/GoblinShark.java
  vanilla-tests/src/main/java/fixtures/inheritance/passdiscriminator/models/MetricAlertSingleResourceMultipleMetricCriteria.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

fix Jackson
  javagen/src/main/java/com/azure/autorest/template/ModelTemplate.java
  typespec-tests/Generate.ps1
  typespec-tests/customization/src/main/java/CustomizationNestedDiscriminator.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

re-generate test code
  typespec-tests/src/main/java/com/type/model/inheritance/nesteddiscriminator/models/SawShark.java
  vanilla-tests/src/main/java/fixtures/inheritance/passdiscriminator/models/MetricAlertSingleResourceMultipleMetricCriteria.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

remove unused generated code
  typespec-tests/src/samples/java/com/cadl/builtin/generated/BuiltinOpWrite.java
  typespec-tests/src/test/java/com/cadl/builtin/generated/BuiltinOpWriteTests.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

test case
  typespec-tests/src/test/java/com/server/endpoint/notdefined/EndpointTests.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

bump cadl-ranch
  typespec-tests/package.json
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

stupid test
  typespec-tests/src/test/java/com/_specs_/azure/core/basic/CoreTests.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

remove projectedName test
  typespec-tests/src/test/java/com/projection/projectedname/ProjectedNameClientTest.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

tsp, version 0.15.4
  package-lock.json
  package.json
  typespec-extension/changelog.md
  typespec-extension/package-lock.json
  typespec-extension/package.json
  typespec-tests/package.json
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

re-generate test code
  typespec-tests/src/main/java/com/server/endpoint/notdefined/NotDefinedAsyncClient.java
  typespec-tests/src/main/java/com/server/endpoint/notdefined/NotDefinedClient.java
  typespec-tests/src/main/java/com/server/endpoint/notdefined/NotDefinedClientBuilder.java
  typespec-tests/src/main/java/com/server/endpoint/notdefined/implementation/NotDefinedClientImpl.java
  typespec-tests/src/main/java/com/server/endpoint/notdefined/implementation/package-info.java
  typespec-tests/src/main/java/com/server/endpoint/notdefined/package-info.java
  typespec-tests/src/main/resources/server-endpoint-notdefined.properties
  typespec-tests/src/test/java/com/server/endpoint/notdefined/generated/NotDefinedClientTestBase.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

fix sample bugs (#2640)
  fluentgen/src/main/java/com/azure/autorest/fluent/template/FluentExampleTemplate.java
  javagen/src/main/java/com/azure/autorest/template/ClientMethodTestTemplate.java
  javagen/src/main/java/com/azure/autorest/template/example/ClientMethodExampleWriter.java
  typespec-tests/src/main/java/com/cadl/longrunning/LongRunningAsyncClient.java
  typespec-tests/src/main/java/com/cadl/longrunning/LongRunningClient.java
  typespec-tests/src/main/java/com/cadl/longrunning/implementation/LongRunningClientImpl.java
  typespec-tests/src/main/java/com/cadl/longrunning/models/JobData.java
  typespec-tests/src/samples/java/com/cadl/longrunning/generated/LongRunningCreateJob.java
  typespec-tests/src/samples/java/com/cadl/response/generated/ResponseOpListStrings.java
  typespec-tests/src/test/java/com/cadl/longrunning/generated/LongRunningCreateJobTests.java
  typespec-tests/src/test/java/com/cadl/response/generated/ResponseOpListStringsTests.java
  typespec-tests/tsp/examples/2022-06-01-preview/LongRunning_CreateJob.json
  typespec-tests/tsp/examples/2022-06-01-preview/ResponseOp_ListStrings.json
  typespec-tests/tsp/lro.tsp
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

tsp, prepare 0.15.4 (#2641)
  package-lock.json
  package.json
  typespec-extension/changelog.md
  typespec-extension/package-lock.json
  typespec-extension/package.json
  typespec-tests/package.json
  typespec-tests/src/main/java/com/server/endpoint/notdefined/NotDefinedAsyncClient.java
  typespec-tests/src/main/java/com/server/endpoint/notdefined/NotDefinedClient.java
  typespec-tests/src/main/java/com/server/endpoint/notdefined/NotDefinedClientBuilder.java
  typespec-tests/src/main/java/com/server/endpoint/notdefined/implementation/NotDefinedClientImpl.java
  typespec-tests/src/main/java/com/server/endpoint/notdefined/implementation/package-info.java
  typespec-tests/src/main/java/com/server/endpoint/notdefined/package-info.java
  typespec-tests/src/main/resources/server-endpoint-notdefined.properties
  typespec-tests/src/test/java/com/_specs_/azure/core/basic/CoreTests.java
  typespec-tests/src/test/java/com/projection/projectedname/ProjectedNameClientTest.java
  typespec-tests/src/test/java/com/server/endpoint/notdefined/EndpointTests.java
  typespec-tests/src/test/java/com/server/endpoint/notdefined/generated/NotDefinedClientTestBase.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

add code for scalar, dict
  typespec-extension/package-lock.json
  typespec-extension/package.json
  typespec-extension/src/code-model-builder.ts
  typespec-extension/src/type-utils.ts
  typespec-tests/Apply-cadl-ranch.ps1
  typespec-tests/Apply.ps1
  typespec-tests/code-model-patch.yaml
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

test
  typespec-tests/tsp/optional.tsp
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

apply cadl-ranch
  typespec-tests/Apply-cadl-ranch.ps1
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

correct test
  typespec-tests/tsp/optional.tsp
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

re-generate test code
  typespec-tests/src/main/java/com/cadl/optional/OptionalAsyncClient.java
  typespec-tests/src/main/java/com/cadl/optional/OptionalClient.java
  typespec-tests/src/main/java/com/cadl/optional/implementation/OptionalOpsImpl.java
  typespec-tests/src/main/java/com/cadl/optional/models/AllPropertiesOptional.java
  typespec-tests/src/main/java/com/cadl/optional/models/Optional.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

tsp, escape tab in javadoc
  javagen/src/main/java/com/azure/autorest/model/javamodel/JavaJavadocComment.java
  typespec-tests/tsp/naming.tsp
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml
