Repository Azure/autorest.java: changes, and which Azure pipelines are due for each by the changed paths.
All: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

Path conditions:
  eng/pipelines/ci-cadl-java.yaml: any of: *, but not: fluent*, postprocessor, vanilla-tests, protocol*
  eng/pipelines/ci-typespec-java.yaml: any of: *, but not: azure-dataplane-tests, azure-tests, fluent-tests, partial-update-tests, vanilla-tests, protocol*
  eng/pipelines/ci.yaml: any of: *, but not: fluent*, typespec*
  eng/pipelines/fluent_integration.yaml: any of: *, but not: typespec*

add skill to build from dev
  .github/skills/validate-dev-build/SKILL.md
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

add skill to use dev typespec dependencies
  .github/skills/validate-dev-build/SKILL.md
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

spellcheck
  AGENTS.md
  readme.md
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

remove the e2e part in AGENTS
  AGENTS.md
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

Update Node.js dependencies (#3280)
  typespec-extension/package-lock.json
  typespec-extension/package.json
  typespec-tests/package.json
  typespec-tests/src/main/java/tsptest/armstreamstyleserialization/fluent/FishesClient.java
  typespec-tests/src/main/java/tsptest/armstreamstyleserialization/implementation/FishesClientImpl.java
  typespec-tests/src/main/java/tsptest/armstreamstyleserialization/models/ErrorMax.java
  typespec-tests/src/main/java/tsptest/armstreamstyleserialization/models/ErrorMaxException.java
  typespec-tests/src/main/java/tsptest/armstreamstyleserialization/models/Fishes.java
  typespec-tests/src/main/resources/META-INF/native-image/com.azure.resourcemanager/armstreamstyleserialization-generated/reflect-config.json
  typespec-tests/src/test/java/tsptest/armstreamstyleserialization/StreamStyleSerializationTests.java
  typespec-tests/tsp/arm-stream-style-serialization.tsp
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

test case break, remove to pass nightly build
  typespec-tests/src/test/java/azure/clientgenerator/core/clientinitialization/ClientInitializationTests.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

use AGENTS.md for agent to work on the emitter, add SKILL for "validate-dev-build" (#3218)
  .github/copilot-instructions.md
  .github/skills/validate-dev-build/SKILL.md
  AGENTS.md
  docs/developer/typespec/readme.md
  readme.md
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

spector test break, remove the test to pass nightly (#3281)
  typespec-tests/src/test/java/azure/clientgenerator/core/clientinitialization/ClientInitializationTests.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

core on branch
  typespec-tests/src/test/java/azure/clientgenerator/core/clientinitialization/ClientInitializationTests.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

Update changelog.md
  typespec-extension/changelog.md
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

Bump Node.js dependencies to latest and release 0.39.0 (#3282)
  typespec-extension/changelog.md
  typespec-extension/package-lock.json
  typespec-extension/package.json
  typespec-tests/package.json
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

update core
  typespec-tests/src/test/java/tsptest/armstreamstyleserialization/StreamStyleSerializationTests.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

regen
  vanilla-tests/src/test/java/fixtures/bodycomplex/generated/SmartSalmonTests.java
Due: eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

Update dependencies and prepare v0.39.1 patch release (#3283)
  typespec-extension/changelog.md
  typespec-extension/package-lock.json
  typespec-extension/package.json
  typespec-tests/package.json
  typespec-tests/src/main/java/tsptest/armstreamstyleserialization/models/Builtin.java
  typespec-tests/src/main/java/tsptest/multipart/models/FileData2FileDetails.java
  typespec-tests/src/main/java/tsptest/multipart/models/UploadHttpPartRequest.java
  typespec-tests/src/main/java/type/union/models/MixedTypesCases.java
  typespec-tests/src/test/java/tsptest/armstreamstyleserialization/StreamStyleSerializationTests.java
  typespec-tests/tsp/arm-stream-style-serialization.tsp
  vanilla-tests/src/test/java/fixtures/bodycomplex/generated/SmartSalmonTests.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

Update Node.js dependencies and core submodule to latest (#3285)
  typespec-extension/package-lock.json
  typespec-extension/package.json
  typespec-tests/package.json
  typespec-tests/src/main/java/tsptest/clientinitialization/ClientInitializationClientBuilder.java
  typespec-tests/src/main/java/tsptest/clientinitialization/SubAsyncClient.java
  typespec-tests/src/main/java/tsptest/clientinitialization/SubClient.java
  typespec-tests/src/main/java/tsptest/clientinitialization/SubClientBuilder.java
  typespec-tests/src/test/java/azure/resourcemanager/operationtemplates/OperationTests.java
  typespec-tests/src/test/java/encode/array/EncodeArrayTests.java
  typespec-tests/src/test/java/payload/multipart/MultipartTests.java
  typespec-tests/src/test/java/tsptest/clientinitialization/generated/ClientInitializationClientTestBase.java
  typespec-tests/src/test/java/type/file/FileTests.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

update validate-dev-build
  .github/skills/validate-dev-build/SKILL.md
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

skill fix-sync-sdk
  .github/skills/fix-sync-sdk/SKILL.md
  .github/skills/fix-sync-sdk/common-error.md
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

update skill
  .github/skills/fix-sync-sdk/SKILL.md
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

update skill
  .github/skills/fix-sync-sdk/SKILL.md
  .github/skills/validate-dev-build/SKILL.md
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

add final step
  .github/skills/fix-sync-sdk/SKILL.md
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

Update SKILL.md
  .github/skills/fix-sync-sdk/SKILL.md
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

Apply suggestions from code review
  .github/skills/fix-sync-sdk/SKILL.md
  .github/skills/fix-sync-sdk/common-error.md
  .github/skills/validate-dev-build/SKILL.md
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

Update SKILL.md
  .github/skills/validate-dev-build/SKILL.md
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

Apply suggestion from @Copilot
  .github/skills/fix-sync-sdk/SKILL.md
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

eng, add skill fix-sync-sdk (#3287)
  .github/skills/fix-sync-sdk/SKILL.md
  .github/skills/fix-sync-sdk/common-error.md
  .github/skills/validate-dev-build/SKILL.md
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

fix moved swagger
  docs/samples/specification/management/readme.md
  fluentgen/src/test/java/com/microsoft/typespec/http/client/generator/mgmt/TestUtils.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

a few other links too
  fluentgen/src/test/java/com/microsoft/typespec/http/client/generator/mgmt/TestUtils.java
Due: eng/pipelines/ci-typespec-java.yaml, eng/pipelines/fluent_integration.yaml
