Repository Azure/autorest.java: changes, and which Azure pipelines are due for each by the changed paths.
All: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

Path conditions:
  eng/pipelines/ci-cadl-java.yaml: any of: *, but not: fluent*, postprocessor, vanilla-tests, protocol*
  eng/pipelines/ci-typespec-java.yaml: any of: *, but not: androidgen, azure-dataplane-tests, azure-tests, fluent-tests, partial-update-tests, vanilla-tests, protocol*
  eng/pipelines/ci.yaml: any of: *, but not: fluent*, typespec*
  eng/pipelines/fluent_integration.yaml: any of: *, but not: typespec*

lint
  typespec-extension/src/code-model-builder.ts
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

review feedback
  javagen/src/main/java/com/azure/autorest/template/ConvenienceMethodTemplateBase.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

Ensure polymorphic models close reader and support Java 21 Eclipse language server
  customization-base/src/main/java/com/azure/autorest/customization/Customization.java
  customization-base/src/main/java/com/azure/autorest/customization/implementation/ls/EclipseLanguageClient.java
  customization-base/src/main/java/com/azure/autorest/customization/implementation/ls/EclipseLanguageServerFacade.java
  javagen/src/main/java/com/azure/autorest/template/StreamSerializationModelTemplate.java
  vanilla-tests/src/main/java/fixtures/streamstyleserialization/models/DotFish.java
  vanilla-tests/src/main/java/fixtures/streamstyleserialization/models/Fish.java
  vanilla-tests/src/main/java/fixtures/streamstyleserialization/models/MyBaseType.java
  vanilla-tests/src/main/java/fixtures/streamstyleserialization/models/Salmon.java
  vanilla-tests/src/main/java/fixtures/streamstyleserialization/models/Shark.java
  vanilla-tests/src/main/java/fixtures/streamstyleserializationctorargs/models/DotFish.java
  vanilla-tests/src/main/java/fixtures/streamstyleserializationctorargs/models/Fish.java
  vanilla-tests/src/main/java/fixtures/streamstyleserializationctorargs/models/MyBaseType.java
  vanilla-tests/src/main/java/fixtures/streamstyleserializationctorargs/models/Salmon.java
  vanilla-tests/src/main/java/fixtures/streamstyleserializationctorargs/models/Shark.java
  vanilla-tests/src/main/java/fixtures/streamstyleserializationimmutableoutput/models/DotFish.java
  vanilla-tests/src/main/java/fixtures/streamstyleserializationimmutableoutput/models/Fish.java
  vanilla-tests/src/main/java/fixtures/streamstyleserializationimmutableoutput/models/MyBaseType.java
  vanilla-tests/src/main/java/fixtures/streamstyleserializationimmutableoutput/models/Salmon.java
  vanilla-tests/src/main/java/fixtures/streamstyleserializationimmutableoutput/models/Shark.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

Update code generation
  typespec-tests/src/main/java/com/_specs_/azure/clientgenerator/core/access/implementation/models/AbstractModel.java
  typespec-tests/src/main/java/com/cadl/naming/models/Data.java
  typespec-tests/src/main/java/com/cadl/patch/models/Fish.java
  typespec-tests/src/main/java/com/type/model/inheritance/enumdiscriminator/models/Dog.java
  typespec-tests/src/main/java/com/type/model/inheritance/enumdiscriminator/models/Snake.java
  typespec-tests/src/main/java/com/type/model/inheritance/nesteddiscriminator/models/Fish.java
  typespec-tests/src/main/java/com/type/model/inheritance/nesteddiscriminator/models/Shark.java
  typespec-tests/src/main/java/com/type/model/inheritance/singlediscriminator/models/Bird.java
  typespec-tests/src/main/java/com/type/model/inheritance/singlediscriminator/models/Dinosaur.java
  typespec-tests/src/main/java/com/type/property/additionalproperties/models/ExtendsUnknownAdditionalPropertiesDiscriminated.java
  typespec-tests/src/main/java/com/type/property/additionalproperties/models/IsUnknownAdditionalPropertiesDiscriminated.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

mpg, add host parameter if `server` is synthesized by `@armProviderNamespace` (#2532)
  typespec-extension/src/code-model-builder.ts
  typespec-tests/src/main/java/com/cadl/armresourceprovider/ArmResourceProviderManager.java
  typespec-tests/src/main/java/com/cadl/armresourceprovider/fluent/ArmResourceProviderClient.java
  typespec-tests/src/main/java/com/cadl/armresourceprovider/implementation/ArmResourceProviderClientBuilder.java
  typespec-tests/src/main/java/com/cadl/armresourceprovider/implementation/ArmResourceProviderClientImpl.java
  typespec-tests/src/main/java/com/cadl/armresourceprovider/implementation/ChildResourcesInterfacesClientImpl.java
  typespec-tests/src/main/java/com/cadl/armresourceprovider/implementation/OperationsClientImpl.java
  typespec-tests/src/main/java/com/cadl/armresourceprovider/implementation/TopLevelArmResourceInterfacesClientImpl.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

tsp, multipart with ##FileDetails class (#2525)
  javagen/src/main/java/com/azure/autorest/mapper/ClientMapper.java
  javagen/src/main/java/com/azure/autorest/mapper/ModelMapper.java
  javagen/src/main/java/com/azure/autorest/template/ClientMethodTemplateBase.java
  javagen/src/main/java/com/azure/autorest/template/ConvenienceMethodTemplateBase.java
  javagen/src/main/java/com/azure/autorest/template/ModelTemplate.java
  javagen/src/main/java/com/azure/autorest/util/ClientModelUtil.java
  javagen/src/main/resources/MultipartFormDataHelper.java
  typespec-extension/changelog.md
  typespec-extension/package-lock.json
  typespec-extension/package.json
  typespec-extension/src/code-model-builder.ts
  typespec-extension/src/main/java/com/azure/autorest/TypeSpecPlugin.java
  typespec-tests/package.json
  typespec-tests/src/main/java/com/cadl/multipart/MultipartAsyncClient.java
  typespec-tests/src/main/java/com/cadl/multipart/MultipartClient.java
  typespec-tests/src/main/java/com/cadl/multipart/implementation/MultipartFormDataHelper.java
  typespec-tests/src/main/java/com/cadl/multipart/models/FileDetails.java
  typespec-tests/src/main/java/com/cadl/multipart/models/FormData.java
  typespec-tests/src/main/java/com/cadl/multipart/models/ImageFileDetails.java
  typespec-tests/src/main/java/com/payload/multipart/MultiPartAsyncClient.java
  typespec-tests/src/main/java/com/payload/multipart/MultiPartClient.java
  typespec-tests/src/main/java/com/payload/multipart/implementation/MultipartFormDataHelper.java
  typespec-tests/src/main/java/com/payload/multipart/models/BinaryArrayPartsRequest.java
  typespec-tests/src/main/java/com/payload/multipart/models/ComplexPartsRequest.java
  typespec-tests/src/main/java/com/payload/multipart/models/JsonArrayPartsRequest.java
  typespec-tests/src/main/java/com/payload/multipart/models/JsonPartRequest.java
  typespec-tests/src/main/java/com/payload/multipart/models/MultiBinaryPartsRequest.java
  typespec-tests/src/main/java/com/payload/multipart/models/MultiPartRequest.java
  typespec-tests/src/main/java/com/payload/multipart/models/PictureFileDetails.java
  typespec-tests/src/main/java/com/payload/multipart/models/PicturesFileDetails.java
  typespec-tests/src/main/java/com/payload/multipart/models/ProfileImageFileDetails.java
  typespec-tests/src/test/java/com/payload/multipart/MultipartTests.java
  typespec-tests/tsp/multipart.tsp
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

Remove decrement of Parallelization
  Generate-TypeSpec.ps1
  Generate.ps1
  typespec-tests/Generate.ps1
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

Move Fluentgen to same pattern used in Javagen and TypeSpec
  azure-tests/pom.xml
  eng/pipelines/fluent_integration.yaml
  fluent-tests/pom.xml
  protocol-tests/pom.xml
  vanilla-tests/pom.xml
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

Fix incorrect reference
  eng/pipelines/fluent_integration.yaml
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

Make fluent code generation parallel
  fluent-tests/Initialize-Tests.ps1
Due: eng/pipelines/fluent_integration.yaml

Don't run tests before code generation
  eng/pipelines/fluent_integration.yaml
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

Use in-memory code formatting (#2479)
  Generate-TypeSpec.ps1
  Generate.ps1
  androidgen/package.json
  eng/pipelines/ci-typespec-java-dev-nightly.yaml
  eng/pipelines/ci-typespec-java.yaml
  eng/pipelines/ci.yaml
  extension-base/src/main/java/com/azure/autorest/extension/base/jsonrpc/Connection.java
  fluentgen/package.json
  javagen/package.json
  package.json
  postprocessor/pom.xml
  postprocessor/src/main/java/com/azure/autorest/postprocessor/Postprocessor.java
  postprocessor/src/main/java/com/azure/autorest/postprocessor/implementation/CodeFormatterUtil.java
  typespec-extension/src/emitter.ts
  typespec-tests/Generate.ps1
  typespec-tests/src/main/java/com/cadl/enumservice/EnumServiceAsyncClient.java
  typespec-tests/src/main/java/com/cadl/enumservice/EnumServiceClient.java
  typespec-tests/src/main/java/com/cadl/optional/OptionalAsyncClient.java
  vanilla-tests/src/test/java/fixtures/bodycomplex/generated/CookiecuttersharkTests.java
  vanilla-tests/src/test/java/fixtures/bodycomplex/generated/FishTests.java
  vanilla-tests/src/test/java/fixtures/bodycomplex/generated/GoblinsharkTests.java
  vanilla-tests/src/test/java/fixtures/bodycomplex/generated/SalmonTests.java
  vanilla-tests/src/test/java/fixtures/bodycomplex/generated/SawsharkTests.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

Fix script pathing
  eng/pipelines/fluent_integration.yaml
  fluent-tests/Initialize-Tests.ps1
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

Ensure polymorphic models close reader and support Java 21 Eclipse language server (#2533)
  customization-base/src/main/java/com/azure/autorest/customization/Customization.java
  customization-base/src/main/java/com/azure/autorest/customization/implementation/ls/EclipseLanguageClient.java
  customization-base/src/main/java/com/azure/autorest/customization/implementation/ls/EclipseLanguageServerFacade.java
  javagen/src/main/java/com/azure/autorest/template/StreamSerializationModelTemplate.java
  typespec-tests/src/main/java/com/_specs_/azure/clientgenerator/core/access/implementation/models/AbstractModel.java
  typespec-tests/src/main/java/com/cadl/naming/models/Data.java
  typespec-tests/src/main/java/com/cadl/patch/models/Fish.java
  typespec-tests/src/main/java/com/type/model/inheritance/enumdiscriminator/models/Dog.java
  typespec-tests/src/main/java/com/type/model/inheritance/enumdiscriminator/models/Snake.java
  typespec-tests/src/main/java/com/type/model/inheritance/nesteddiscriminator/models/Fish.java
  typespec-tests/src/main/java/com/type/model/inheritance/nesteddiscriminator/models/Shark.java
  typespec-tests/src/main/java/com/type/model/inheritance/singlediscriminator/models/Bird.java
  typespec-tests/src/main/java/com/type/model/inheritance/singlediscriminator/models/Dinosaur.java
  typespec-tests/src/main/java/com/type/property/additionalproperties/models/ExtendsUnknownAdditionalPropertiesDiscriminated.java
  typespec-tests/src/main/java/com/type/property/additionalproperties/models/IsUnknownAdditionalPropertiesDiscriminated.java
  vanilla-tests/src/main/java/fixtures/streamstyleserialization/models/DotFish.java
  vanilla-tests/src/main/java/fixtures/streamstyleserialization/models/Fish.java
  vanilla-tests/src/main/java/fixtures/streamstyleserialization/models/MyBaseType.java
  vanilla-tests/src/main/java/fixtures/streamstyleserialization/models/Salmon.java
  vanilla-tests/src/main/java/fixtures/streamstyleserialization/models/Shark.java
  vanilla-tests/src/main/java/fixtures/streamstyleserializationctorargs/models/DotFish.java
  vanilla-tests/src/main/java/fixtures/streamstyleserializationctorargs/models/Fish.java
  vanilla-tests/src/main/java/fixtures/streamstyleserializationctorargs/models/MyBaseType.java
  vanilla-tests/src/main/java/fixtures/streamstyleserializationctorargs/models/Salmon.java
  vanilla-tests/src/main/java/fixtures/streamstyleserializationctorargs/models/Shark.java
  vanilla-tests/src/main/java/fixtures/streamstyleserializationimmutableoutput/models/DotFish.java
  vanilla-tests/src/main/java/fixtures/streamstyleserializationimmutableoutput/models/Fish.java
  vanilla-tests/src/main/java/fixtures/streamstyleserializationimmutableoutput/models/MyBaseType.java
  vanilla-tests/src/main/java/fixtures/streamstyleserializationimmutableoutput/models/Salmon.java
  vanilla-tests/src/main/java/fixtures/streamstyleserializationimmutableoutput/models/Shark.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

Remove fluent-tests bat script, replaced by PowerShell script
  docs/developer/readme.md
  fluent-tests/Initialize-Tests.ps1
  fluent-tests/prepare-tests.bat
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

Move Fluentgen to same pattern used in Javagen and TypeSpec (#2534)
  azure-tests/pom.xml
  docs/developer/readme.md
  eng/pipelines/fluent_integration.yaml
  fluent-tests/Initialize-Tests.ps1
  fluent-tests/pom.xml
  fluent-tests/prepare-tests.bat
  protocol-tests/pom.xml
  vanilla-tests/pom.xml
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

update cadl-ranch
  typespec-tests/package.json
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

re-generate test code
  typespec-tests/src/main/java/com/payload/jsonmergepatch/JsonMergePatchAsyncClient.java
  typespec-tests/src/main/java/com/payload/jsonmergepatch/JsonMergePatchClient.java
  typespec-tests/src/main/java/com/payload/jsonmergepatch/JsonMergePatchClientBuilder.java
  typespec-tests/src/main/java/com/payload/jsonmergepatch/implementation/JsonMergePatchClientImpl.java
  typespec-tests/src/main/java/com/payload/jsonmergepatch/implementation/JsonMergePatchHelper.java
  typespec-tests/src/main/java/com/payload/jsonmergepatch/implementation/package-info.java
  typespec-tests/src/main/java/com/payload/jsonmergepatch/models/InnerModel.java
  typespec-tests/src/main/java/com/payload/jsonmergepatch/models/Resource.java
  typespec-tests/src/main/java/com/payload/jsonmergepatch/models/ResourcePatch.java
  typespec-tests/src/main/java/com/payload/jsonmergepatch/models/package-info.java
  typespec-tests/src/main/java/com/payload/jsonmergepatch/package-info.java
  typespec-tests/src/main/java/com/payload/multipart/MultiPartAsyncClient.java
  typespec-tests/src/main/java/com/payload/multipart/MultiPartClient.java
  typespec-tests/src/main/java/com/payload/multipart/implementation/FormDatasImpl.java
  typespec-tests/src/main/java/com/type/model/flatten/FlattenAsyncClient.java
  typespec-tests/src/main/java/com/type/model/flatten/FlattenClient.java
  typespec-tests/src/main/java/com/type/model/flatten/FlattenClientBuilder.java
  typespec-tests/src/main/java/com/type/model/flatten/implementation/FlattenClientImpl.java
  typespec-tests/src/main/java/com/type/model/flatten/implementation/package-info.java
  typespec-tests/src/main/java/com/type/model/flatten/models/ChildFlattenModel.java
  typespec-tests/src/main/java/com/type/model/flatten/models/ChildModel.java
  typespec-tests/src/main/java/com/type/model/flatten/models/FlattenModel.java
  typespec-tests/src/main/java/com/type/model/flatten/models/NestedFlattenModel.java
  typespec-tests/src/main/java/com/type/model/flatten/models/package-info.java
  typespec-tests/src/main/java/com/type/model/flatten/package-info.java
  typespec-tests/src/main/resources/payload-jsonmergepatch.properties
  typespec-tests/src/main/resources/type-model-flatten.properties
  typespec-tests/src/test/java/com/payload/jsonmergepatch/generated/JsonMergePatchClientTestBase.java
  typespec-tests/src/test/java/com/type/model/flatten/generated/FlattenClientTestBase.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

add 1 multipart test
  typespec-tests/src/test/java/com/payload/multipart/MultipartTests.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

update local test
  typespec-tests/tsp/flatten.tsp
  typespec-tests/tsp/naming.tsp
  typespec-tests/tsp/patch.tsp
  typespec-tests/tsp/protocol-api-convenient-api.tsp
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

support encodedName for application/json
  typespec-extension/changelog.md
  typespec-extension/package-lock.json
  typespec-extension/package.json
  typespec-extension/src/code-model-builder.ts
  typespec-tests/package.json
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

format
  typespec-tests/tsp/flatten.tsp
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

tsp, update cadl ranch (#2536)
  typespec-tests/package.json
  typespec-tests/src/main/java/com/payload/jsonmergepatch/JsonMergePatchAsyncClient.java
  typespec-tests/src/main/java/com/payload/jsonmergepatch/JsonMergePatchClient.java
  typespec-tests/src/main/java/com/payload/jsonmergepatch/JsonMergePatchClientBuilder.java
  typespec-tests/src/main/java/com/payload/jsonmergepatch/implementation/JsonMergePatchClientImpl.java
  typespec-tests/src/main/java/com/payload/jsonmergepatch/implementation/JsonMergePatchHelper.java
  typespec-tests/src/main/java/com/payload/jsonmergepatch/implementation/package-info.java
  typespec-tests/src/main/java/com/payload/jsonmergepatch/models/InnerModel.java
  typespec-tests/src/main/java/com/payload/jsonmergepatch/models/Resource.java
  typespec-tests/src/main/java/com/payload/jsonmergepatch/models/ResourcePatch.java
  typespec-tests/src/main/java/com/payload/jsonmergepatch/models/package-info.java
  typespec-tests/src/main/java/com/payload/jsonmergepatch/package-info.java
  typespec-tests/src/main/java/com/payload/multipart/MultiPartAsyncClient.java
  typespec-tests/src/main/java/com/payload/multipart/MultiPartClient.java
  typespec-tests/src/main/java/com/payload/multipart/implementation/FormDatasImpl.java
  typespec-tests/src/main/java/com/type/model/flatten/FlattenAsyncClient.java
  typespec-tests/src/main/java/com/type/model/flatten/FlattenClient.java
  typespec-tests/src/main/java/com/type/model/flatten/FlattenClientBuilder.java
  typespec-tests/src/main/java/com/type/model/flatten/implementation/FlattenClientImpl.java
  typespec-tests/src/main/java/com/type/model/flatten/implementation/package-info.java
  typespec-tests/src/main/java/com/type/model/flatten/models/ChildFlattenModel.java
  typespec-tests/src/main/java/com/type/model/flatten/models/ChildModel.java
  typespec-tests/src/main/java/com/type/model/flatten/models/FlattenModel.java
  typespec-tests/src/main/java/com/type/model/flatten/models/NestedFlattenModel.java
  typespec-tests/src/main/java/com/type/model/flatten/models/package-info.java
  typespec-tests/src/main/java/com/type/model/flatten/package-info.java
  typespec-tests/src/main/resources/payload-jsonmergepatch.properties
  typespec-tests/src/main/resources/type-model-flatten.properties
  typespec-tests/src/test/java/com/payload/jsonmergepatch/generated/JsonMergePatchClientTestBase.java
  typespec-tests/src/test/java/com/payload/multipart/MultipartTests.java
  typespec-tests/src/test/java/com/type/model/flatten/generated/FlattenClientTestBase.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

mgmt, format code before write to SAMPLE.md
  fluentgen/src/main/java/com/azure/autorest/fluent/template/SampleTemplate.java
  postprocessor/src/main/java/com/azure/autorest/postprocessor/implementation/CodeFormatterUtil.java
Due: eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

mgmt, format code before write to SAMPLE.md (#2540)
  fluentgen/src/main/java/com/azure/autorest/fluent/template/SampleTemplate.java
  postprocessor/src/main/java/com/azure/autorest/postprocessor/implementation/CodeFormatterUtil.java
Due: eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

tsp, support encodedName for JSON (#2537)
  typespec-extension/changelog.md
  typespec-extension/package-lock.json
  typespec-extension/package.json
  typespec-extension/src/code-model-builder.ts
  typespec-tests/package.json
  typespec-tests/tsp/flatten.tsp
  typespec-tests/tsp/naming.tsp
  typespec-tests/tsp/patch.tsp
  typespec-tests/tsp/protocol-api-convenient-api.tsp
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

fix fluent operations with header response
  fluentgen/src/main/java/com/azure/autorest/fluent/util/FluentUtils.java
  javagen/src/main/java/com/azure/autorest/mapper/ClientMethodMapper.java
  javagen/src/main/java/com/azure/autorest/util/ReturnTypeDescriptionAssembler.java
  javagen/src/main/java/com/azure/autorest/util/SchemaUtil.java
  typespec-tests/tsp/arm.tsp
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

re-generate test code
  typespec-tests/src/main/java/com/cadl/armresourceprovider/ArmResourceProviderManager.java
  typespec-tests/src/main/java/com/cadl/armresourceprovider/fluent/ArmResourceProviderClient.java
  typespec-tests/src/main/java/com/cadl/armresourceprovider/fluent/CustomTemplateResourceInterfacesClient.java
  typespec-tests/src/main/java/com/cadl/armresourceprovider/fluent/models/CustomTemplateResourceInner.java
  typespec-tests/src/main/java/com/cadl/armresourceprovider/implementation/ArmResourceProviderClientImpl.java
  typespec-tests/src/main/java/com/cadl/armresourceprovider/implementation/CustomTemplateResourceImpl.java
  typespec-tests/src/main/java/com/cadl/armresourceprovider/implementation/CustomTemplateResourceInterfacesClientImpl.java
  typespec-tests/src/main/java/com/cadl/armresourceprovider/implementation/CustomTemplateResourceInterfacesImpl.java
  typespec-tests/src/main/java/com/cadl/armresourceprovider/models/CustomTemplateResource.java
  typespec-tests/src/main/java/com/cadl/armresourceprovider/models/CustomTemplateResourceInterfaces.java
  typespec-tests/src/main/java/com/cadl/armresourceprovider/models/CustomTemplateResourceInterfacesUpdateHeaders.java
  typespec-tests/src/main/java/com/cadl/armresourceprovider/models/CustomTemplateResourceProperties.java
  typespec-tests/src/main/resources/META-INF/native-image/com.azure.resourcemanager/azure-resourcemanager-armresourceprovider-generated/proxy-config.json
  typespec-tests/src/main/resources/META-INF/native-image/com.azure.resourcemanager/azure-resourcemanager-armresourceprovider-generated/reflect-config.json
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

tsp, local test add a case of enum with access=public
  typespec-tests/tsp/internal.tsp
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

re-generate test code
  typespec-tests/src/main/java/com/cadl/internal/models/UnusedEnum.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

mpg set generic-response-type to false, format
  typespec-extension/src/main/java/com/azure/autorest/fluent/TypeSpecFluentPlugin.java
  typespec-tests/tsp/arm.tsp
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

re-generate test code
  typespec-tests/src/main/java/com/cadl/armresourceprovider/fluent/CustomTemplateResourceInterfacesClient.java
  typespec-tests/src/main/java/com/cadl/armresourceprovider/implementation/CustomTemplateResourceInterfacesClientImpl.java
  typespec-tests/src/main/java/com/cadl/armresourceprovider/models/CustomTemplateResourceInterfacesUpdateResponse.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

local test for client not using api-version
  typespec-tests/tsp/multiple-apiversion.tsp
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

always add ServiceVersion for DPG, if exist in client
  javagen/src/main/java/com/azure/autorest/mapper/ServiceClientMapper.java
  typespec-extension/src/code-model-builder.ts
  typespec-extension/src/operation-utils.ts
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

regen
  typespec-tests/readme.md
  typespec-tests/src/main/java/com/cadl/multipleapiversion/NoApiVersionAsyncClient.java
  typespec-tests/src/main/java/com/cadl/multipleapiversion/NoApiVersionClient.java
  typespec-tests/src/main/java/com/cadl/multipleapiversion/NoApiVersionClientBuilder.java
  typespec-tests/src/main/java/com/cadl/multipleapiversion/NoApiVersionServiceVersion.java
  typespec-tests/src/main/java/com/cadl/multipleapiversion/implementation/NoApiVersionClientImpl.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

fix
  javagen/src/main/java/com/azure/autorest/mapper/ServiceClientMapper.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

re-generate test code
  typespec-tests/src/main/java/com/cadl/patch/PatchClientBuilder.java
  typespec-tests/src/main/java/com/cadl/patch/PatchServiceVersion.java
  typespec-tests/src/main/java/com/cadl/patch/implementation/PatchClientImpl.java
  typespec-tests/src/main/java/com/cadl/patch/implementation/PatchesImpl.java
  typespec-tests/src/main/java/com/client/structure/service/ClientAClientBuilder.java
  typespec-tests/src/main/java/com/client/structure/service/ClientBClientBuilder.java
  typespec-tests/src/main/java/com/client/structure/service/RenamedOperationClientBuilder.java
  typespec-tests/src/main/java/com/client/structure/service/ServiceClientClientBuilder.java
  typespec-tests/src/main/java/com/client/structure/service/ServiceVersion.java
  typespec-tests/src/main/java/com/client/structure/service/TwoOperationGroupClientBuilder.java
  typespec-tests/src/main/java/com/client/structure/service/implementation/BarsImpl.java
  typespec-tests/src/main/java/com/client/structure/service/implementation/BazFoosImpl.java
  typespec-tests/src/main/java/com/client/structure/service/implementation/ClientAClientImpl.java
  typespec-tests/src/main/java/com/client/structure/service/implementation/ClientBClientImpl.java
  typespec-tests/src/main/java/com/client/structure/service/implementation/FoosImpl.java
  typespec-tests/src/main/java/com/client/structure/service/implementation/Group1sImpl.java
  typespec-tests/src/main/java/com/client/structure/service/implementation/Group2sImpl.java
  typespec-tests/src/main/java/com/client/structure/service/implementation/GroupsImpl.java
  typespec-tests/src/main/java/com/client/structure/service/implementation/QuxBarsImpl.java
  typespec-tests/src/main/java/com/client/structure/service/implementation/QuxesImpl.java
  typespec-tests/src/main/java/com/client/structure/service/implementation/RenamedOperationClientImpl.java
  typespec-tests/src/main/java/com/client/structure/service/implementation/ServiceClientClientImpl.java
  typespec-tests/src/main/java/com/client/structure/service/implementation/TwoOperationGroupClientImpl.java
  typespec-tests/src/test/java/com/cadl/multipleapiversion/generated/FirstClientTestBase.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

remove version from patch.tsp
  typespec-tests/tsp/patch.tsp
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

allow ServiceVersion class be named as ServiceVersion
  javagen/src/main/java/com/azure/autorest/template/ServiceVersionTemplate.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml
