Repository Azure/autorest.java: changes, and which Azure pipelines are due for each by the changed paths.
All: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

eng/pipelines/ci-cadl-java.yaml:
  jobs:
  - job: Build
    timeoutInMinutes: 30
    variables:
      JavaVersion: 1.8
      NodeVersion: 18.x
      isMain: $[eq(variables['Build.SourceBranch'], 'refs/heads/main')]
    pool:
      name: azsdk-pool-mms-ubuntu-2004-general
      vmImage: MMSUbuntu20.04
    steps:
    - task: NodeTool@0
  ...

eng/pipelines/ci-typespec-java.yaml:
  jobs:
  - job: Build
    timeoutInMinutes: 30
    variables:
    - template: /eng/pipelines/variables/globals.yml
    - name: isMain
      value: $[eq(variables['Build.SourceBranch'], 'refs/heads/main')]
    pool:
      name: azsdk-pool-mms-ubuntu-2004-general
      vmImage: MMSUbuntu20.04
    steps:
  ...

eng/pipelines/ci.yaml:
  jobs:
  - job: Build
    timeoutInMinutes: 60
    variables:
      JavaVersion: 1.11
      NodeVersion: 18.x
    pool:
      name: azsdk-pool-mms-ubuntu-2004-general
      vmImage: MMSUbuntu20.04
    steps:
    - task: NodeTool@0
      displayName: Install Node.js $(NodeVersion)
      inputs:
  ...

eng/pipelines/fluent_integration.yaml:
  jobs:
  - job: Build
    timeoutInMinutes: 60
    pool:
      name: azsdk-pool-mms-ubuntu-2004-general
      vmImage: MMSUbuntu20.04
    variables:
    - template: /eng/pipelines/variables/globals.yml
    steps:
    - task: NodeTool@0
      inputs:
        versionSpec: $(NodeVersion)
    - script: npm install autorest -g
  ...

fix
  javagen/src/main/java/com/azure/autorest/template/ModelTemplate.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

count noUsage as immutable
  javagen/src/main/java/com/azure/autorest/template/ModelTemplate.java
  javagen/src/main/java/com/azure/autorest/util/ClientModelUtil.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

fix package-private setter's parameter type
  javagen/src/main/java/com/azure/autorest/template/ModelTemplate.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

models with no usage as fluent
  javagen/src/main/java/com/azure/autorest/template/ModelTemplate.java
  vanilla-tests/swagger/required-fields-as-ctor-args-transformation.json
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

re-generate test code
  vanilla-tests/src/main/java/fixtures/requiredfieldsascotrargstransformation/RequiredFieldsAsCtorArgsTransformation.java
  vanilla-tests/src/main/java/fixtures/requiredfieldsascotrargstransformation/RequiredFieldsAsCtorArgsTransformationBuilder.java
  vanilla-tests/src/main/java/fixtures/requiredfieldsascotrargstransformation/models/TransformationAsParentRequiredFields.java
  vanilla-tests/src/main/java/fixtures/requiredfieldsascotrargstransformation/models/TransformationAsRequiredFields.java
Due: eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

rename method
  javagen/src/main/java/com/azure/autorest/template/ModelTemplate.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

fix method name
  javagen/src/main/java/com/azure/autorest/util/ClientModelUtil.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

azure-json, fix package-private setter type (#2806)
  javagen/src/main/java/com/azure/autorest/template/ModelTemplate.java
  javagen/src/main/java/com/azure/autorest/util/ClientModelUtil.java
  vanilla-tests/src/main/java/fixtures/requiredfieldsascotrargstransformation/RequiredFieldsAsCtorArgsTransformation.java
  vanilla-tests/src/main/java/fixtures/requiredfieldsascotrargstransformation/RequiredFieldsAsCtorArgsTransformationBuilder.java
  vanilla-tests/src/main/java/fixtures/requiredfieldsascotrargstransformation/models/TransformationAsParentRequiredFields.java
  vanilla-tests/src/main/java/fixtures/requiredfieldsascotrargstransformation/models/TransformationAsRequiredFields.java
  vanilla-tests/swagger/required-fields-as-ctor-args-transformation.json
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

fix property deserialization transformation
  javagen/src/main/java/com/azure/autorest/template/ModelTemplate.java
  javagen/src/main/java/com/azure/autorest/template/StreamSerializationModelTemplate.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

re-generate test code
  vanilla-tests/src/main/java/fixtures/requiredfieldsascotrargstransformation/models/TransformationAsParentRequiredFields.java
Due: eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

mgmt, verify operationId works in esample
  typespec-tests/tsp/arm.tsp
  typespec-tests/tsp/examples/2023-12-01-preview/TopLevelArmResourceInterface_Action.json
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

Begin update to JUnit 5 in all tests
  androidgen/pom.xml
  postprocessor/src/main/resources/readme/pom.xml
  vanilla-tests/pom.xml
  vanilla-tests/src/test/java/fixtures/additionalproperties/AdditionalPropertiesTests.java
  vanilla-tests/src/test/java/fixtures/annotatedgettersandsetters/GettersAndSettersTests.java
  vanilla-tests/src/test/java/fixtures/bodyarray/ArrayTests.java
  vanilla-tests/src/test/java/fixtures/bodyboolean/BoolTests.java
  vanilla-tests/src/test/java/fixtures/bodybyte/ByteOperationsTests.java
  vanilla-tests/src/test/java/fixtures/bodycomplex/ArrayTests.java
  vanilla-tests/src/test/java/fixtures/bodycomplex/BasicOperationsTests.java
  vanilla-tests/src/test/java/fixtures/bodycomplex/DictionaryTests.java
  vanilla-tests/src/test/java/fixtures/bodycomplex/InheritanceTests.java
  vanilla-tests/src/test/java/fixtures/bodycomplex/PolymorphismTests.java
  vanilla-tests/src/test/java/fixtures/bodycomplex/PolymorphismrecursiveTests.java
  vanilla-tests/src/test/java/fixtures/bodycomplex/PrimitiveTests.java
  vanilla-tests/src/test/java/fixtures/bodycomplex/ReadonlypropertyTests.java
  vanilla-tests/src/test/java/fixtures/bodydate/DateOperationsTests.java
  vanilla-tests/src/test/java/fixtures/bodydatetime/DatetimeOperationsTests.java
  vanilla-tests/src/test/java/fixtures/bodydatetimerfc1123/DateTimeRfc1123OperationsTests.java
  vanilla-tests/src/test/java/fixtures/bodydictionary/DictionaryOperationsTests.java
  vanilla-tests/src/test/java/fixtures/bodyduration/DurationOperationsTests.java
  vanilla-tests/src/test/java/fixtures/bodyfile/FilesTests.java
  vanilla-tests/src/test/java/fixtures/bodyformdataurlencoded/FormDataUrlEncodedTests.java
  vanilla-tests/src/test/java/fixtures/bodyinteger/IntOperationsTests.java
  vanilla-tests/src/test/java/fixtures/bodynumber/NumberOperationsTests.java
  vanilla-tests/src/test/java/fixtures/bodystring/EnumOperationsTests.java
  vanilla-tests/src/test/java/fixtures/bodystring/StringOperationsTests.java
  vanilla-tests/src/test/java/fixtures/complexstreamstylexmlserialization/ComplexXmlTagTests.java
  vanilla-tests/src/test/java/fixtures/complexxmltag/ComplexXmlTagTests.java
  vanilla-tests/src/test/java/fixtures/custombaseuri/CustomBaseUriTests.java
  vanilla-tests/src/test/java/fixtures/custombaseuri/moreoptions/CustomBaseUriMoreOptionsTests.java
  vanilla-tests/src/test/java/fixtures/discriminatorflattening/DiscriminatorTests.java
  vanilla-tests/src/test/java/fixtures/discriminatorflattening/clientflatten/DiscriminatorTests.java
  vanilla-tests/src/test/java/fixtures/discriminatorflattening/noflatten/DiscriminatorTests.java
  vanilla-tests/src/test/java/fixtures/discriminatorflattening/requirexmsflattened/RequiresFlattenedModelFlatteningTests.java
  vanilla-tests/src/test/java/fixtures/extensibleenums/PetsTests.java
  vanilla-tests/src/test/java/fixtures/head/HeadOperationsTests.java
  vanilla-tests/src/test/java/fixtures/header/HeaderOperationsTests.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

Complete JUnit 5 migration
  vanilla-tests/src/test/java/fixtures/header/HeaderOperationsTests.java
  vanilla-tests/src/test/java/fixtures/headexceptions/HeadExceptionsOperationsTests.java
  vanilla-tests/src/test/java/fixtures/httpinfrastructure/MultipleResponsesTests.java
  vanilla-tests/src/test/java/fixtures/inheritance/ValidateDiscriminatorIsPassedTests.java
  vanilla-tests/src/test/java/fixtures/inheritance/ValidateDiscriminatorTests.java
  vanilla-tests/src/test/java/fixtures/lro/LROsTests.java
  vanilla-tests/src/test/java/fixtures/mediatypes/MediaTypesTests.java
  vanilla-tests/src/test/java/fixtures/modelflattening/ModelFlatteningTests.java
  vanilla-tests/src/test/java/fixtures/multipleinheritance/MultipleInheritanceTests.java
  vanilla-tests/src/test/java/fixtures/nonstringenum/NonStringEnumTests.java
  vanilla-tests/src/test/java/fixtures/requiredoptional/ExplicitTests.java
  vanilla-tests/src/test/java/fixtures/requiredoptional/ImplicitTests.java
  vanilla-tests/src/test/java/fixtures/specialheader/SpecialHeaderTests.java
  vanilla-tests/src/test/java/fixtures/streamstylexmlserialization/XmlServiceTests.java
  vanilla-tests/src/test/java/fixtures/url/PathItemsTests.java
  vanilla-tests/src/test/java/fixtures/url/PathsTests.java
  vanilla-tests/src/test/java/fixtures/url/QueriesTests.java
  vanilla-tests/src/test/java/fixtures/url/multi/QueriesTests.java
  vanilla-tests/src/test/java/fixtures/validation/ValidationTests.java
  vanilla-tests/src/test/java/fixtures/xmlservice/XmlServiceTests.java
Due: eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

Remove JUnit 4 import
  vanilla-tests/src/test/java/fixtures/url/QueriesTests.java
Due: eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

Update to GAd azure-xml
  azure-dataplane-tests/pom.xml
  customization-base/pom.xml
  customization-base/src/main/resources/pom.xml
  javagen/pom.xml
  javagen/src/main/java/com/azure/autorest/model/projectmodel/Project.java
  vanilla-tests/pom.xml
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

Fix bug in stream-style JSON flattening
  javagen/src/main/java/com/azure/autorest/implementation/ClientModelPropertiesManager.java
  javagen/src/main/java/com/azure/autorest/template/XmlSequenceWrapperTemplate.java
  vanilla-tests/src/main/java/fixtures/modelflattening/models/FlattenedProduct.java
  vanilla-tests/src/main/java/fixtures/modelflattening/models/SimpleProduct.java
  vanilla-tests/src/test/java/fixtures/bodyfile/FilesTests.java
  vanilla-tests/src/test/java/fixtures/lro/LROsTests.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

graalvm, error model alone need reflect
  javagen/src/main/java/com/azure/autorest/mapper/GraalVmConfigMapper.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

mgmt, verify operationId works in esample (#2807)
  typespec-tests/tsp/arm.tsp
  typespec-tests/tsp/examples/2023-12-01-preview/TopLevelArmResourceInterface_Action.json
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

eng, sync pom versions
  azure-dataplane-tests/pom.xml
  azure-tests/pom.xml
  customization-base/src/main/resources/pom.xml
  customization-tests/pom.xml
  fluent-tests/pom.xml
  fluentnamer/pom.xml
  javagen/src/main/java/com/azure/autorest/model/projectmodel/Project.java
  pom.xml
  protocol-sdk-integration-tests/eng/versioning/version_client.txt
  protocol-tests/pom.xml
  typespec-tests/pom.xml
  vanilla-tests/pom.xml
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

Fix XML URL deserialization
  javagen/src/main/java/com/azure/autorest/model/clientmodel/ClassType.java
  vanilla-tests/src/main/java/fixtures/streamstylexmlserialization/models/ModelWithUrlProperty.java
  vanilla-tests/src/main/java/fixtures/xmlservice/models/ModelWithUrlProperty.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

regen
  javagen/src/main/java/com/azure/autorest/model/projectmodel/Project.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

add azure-xml
  eng/versioning/external_dependencies.txt
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

tsp, mgmt, default to uuid-as-string
  typespec-extension/changelog.md
  typespec-extension/package-lock.json
  typespec-extension/package.json
  typespec-extension/src/main/java/com/azure/autorest/fluent/TypeSpecFluentPlugin.java
  typespec-tests/package.json
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

eng, sync pom versions (#2813)
  azure-dataplane-tests/pom.xml
  azure-tests/pom.xml
  customization-base/src/main/resources/pom.xml
  customization-tests/pom.xml
  eng/versioning/external_dependencies.txt
  fluent-tests/pom.xml
  fluentnamer/pom.xml
  javagen/src/main/java/com/azure/autorest/model/projectmodel/Project.java
  pom.xml
  protocol-sdk-integration-tests/eng/versioning/version_client.txt
  protocol-tests/pom.xml
  typespec-tests/pom.xml
  vanilla-tests/pom.xml
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

tsp, mgmt, default to uuid-as-string (#2815)
  typespec-extension/changelog.md
  typespec-extension/package-lock.json
  typespec-extension/package.json
  typespec-extension/src/main/java/com/azure/autorest/fluent/TypeSpecFluentPlugin.java
  typespec-tests/package.json
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

graalvm, error model alone need reflect (#2811)
  javagen/src/main/java/com/azure/autorest/mapper/GraalVmConfigMapper.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

bump typespec compiler etc.
  typespec-extension/changelog.md
  typespec-extension/package-lock.json
  typespec-extension/package.json
  typespec-tests/package.json
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

nit
  package.json
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

update
  typespec-extension/src/code-model-builder.ts
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

bypass multipart
  typespec-extension/src/code-model-builder.ts
  typespec-extension/src/operation-utils.ts
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

handle nullable
  typespec-extension/src/code-model-builder.ts
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

deprecate
  typespec-extension/src/code-model-builder.ts
  typespec-extension/src/operation-utils.ts
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

fix
  typespec-extension/src/code-model-builder.ts
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

fix array
  typespec-extension/src/code-model-builder.ts
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

add getNonNullSdkType
  typespec-extension/src/code-model-builder.ts
  typespec-extension/src/type-utils.ts
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

fix test
  typespec-tests/src/test/java/com/type/property/optional/BooleanLiteralClientTests.java
  typespec-tests/src/test/java/com/type/property/optional/FloatLiteralClientTests.java
  typespec-tests/src/test/java/com/type/property/optional/IntLiteralClientTests.java
  typespec-tests/src/test/java/com/type/property/optional/StringLiteralClientTests.java
  typespec-tests/src/test/java/com/type/union/UnionsClientTest.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

Path conditions:
  eng/pipelines/ci-cadl-java.yaml: any of: *, but not: fluent*, postprocessor, vanilla-tests, protocol*
  eng/pipelines/ci-typespec-java.yaml: any of: *, but not: androidgen, azure-dataplane-tests, azure-tests, fluent-tests, partial-update-tests, vanilla-tests, protocol*
  eng/pipelines/ci.yaml: any of: *, but not: fluent*, typespec*
  eng/pipelines/fluent_integration.yaml: any of: *, but not: typespec*
