Repository Azure/autorest.java: changes, and which Azure pipelines are due for each by the changed paths.
All: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

Path conditions:
  eng/pipelines/ci-cadl-java.yaml: any of: *, but not: fluent*, postprocessor, vanilla-tests, protocol*
  eng/pipelines/ci-typespec-java.yaml: any of: *, but not: androidgen, azure-dataplane-tests, azure-tests, fluent-tests, partial-update-tests, vanilla-tests, protocol*
  eng/pipelines/ci.yaml: any of: *, but not: fluent*, typespec*
  eng/pipelines/fluent_integration.yaml: any of: *, but not: typespec*

or use commit and revert
  readme.md
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

doc for submodule, and convenience script to build for Autorest (#3012)
  Build-AutoRest.ps1
  readme.md
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

eng, add typespec-liftr-base
  typespec-extension/package-lock.json
  typespec-extension/package.json
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

copy from typespec
  customization-base/src/main/java/com/azure/autorest/customization/implementation/ls/EclipseLanguageServerFacade.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

replace instead of delete first
  customization-base/src/main/java/com/azure/autorest/customization/implementation/ls/EclipseLanguageServerFacade.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

checkstyle
  customization-base/src/main/java/com/azure/autorest/customization/implementation/ls/EclipseLanguageServerFacade.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

remove not supported copy option
  customization-base/src/main/java/com/azure/autorest/customization/implementation/ls/EclipseLanguageServerFacade.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

re-generate test code
  azure-dataplane-tests/src/main/java/com/azure/containers/containerregistry/implementation/ContainerRegistriesImpl.java
  typespec-tests/src/main/java/tsptest/specialheaders/EtagHeadersAsyncClient.java
  typespec-tests/src/main/java/tsptest/specialheaders/EtagHeadersClient.java
  typespec-tests/src/main/java/tsptest/specialheaders/EtagHeadersOptionalBodyAsyncClient.java
  typespec-tests/src/main/java/tsptest/specialheaders/EtagHeadersOptionalBodyClient.java
  typespec-tests/src/main/java/tsptest/specialheaders/RepeatabilityHeadersAsyncClient.java
  typespec-tests/src/main/java/tsptest/specialheaders/RepeatabilityHeadersClient.java
  typespec-tests/src/main/java/tsptest/specialheaders/SkipSpecialHeadersAsyncClient.java
  typespec-tests/src/main/java/tsptest/specialheaders/SkipSpecialHeadersClient.java
  typespec-tests/src/main/java/tsptest/specialheaders/SpecialHeadersClientBuilder.java
  typespec-tests/src/main/java/tsptest/specialheaders/SpecialHeadersServiceVersion.java
  typespec-tests/src/main/java/tsptest/specialheaders/implementation/EtagHeadersImpl.java
  typespec-tests/src/main/java/tsptest/specialheaders/implementation/EtagHeadersOptionalBodiesImpl.java
  typespec-tests/src/main/java/tsptest/specialheaders/implementation/JsonMergePatchHelper.java
  typespec-tests/src/main/java/tsptest/specialheaders/implementation/OperationLocationPollingStrategy.java
  typespec-tests/src/main/java/tsptest/specialheaders/implementation/PollingUtils.java
  typespec-tests/src/main/java/tsptest/specialheaders/implementation/RepeatabilityHeadersImpl.java
  typespec-tests/src/main/java/tsptest/specialheaders/implementation/SkipSpecialHeadersImpl.java
  typespec-tests/src/main/java/tsptest/specialheaders/implementation/SpecialHeadersClientImpl.java
  typespec-tests/src/main/java/tsptest/specialheaders/implementation/SyncOperationLocationPollingStrategy.java
  typespec-tests/src/main/java/tsptest/specialheaders/implementation/package-info.java
  typespec-tests/src/main/java/tsptest/specialheaders/models/Resource.java
  typespec-tests/src/main/java/tsptest/specialheaders/models/package-info.java
  typespec-tests/src/main/java/tsptest/specialheaders/package-info.java
  typespec-tests/src/main/resources/tsptest-specialheaders.properties
  typespec-tests/src/samples/java/tsptest/specialheaders/generated/EtagHeadersListWithEtag.java
  typespec-tests/src/samples/java/tsptest/specialheaders/generated/EtagHeadersPutWithRequestHeaders.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

eng, add typespec-liftr-base (#3015)
  typespec-extension/package-lock.json
  typespec-extension/package.json
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

exit with non-zero code when failure
  typespec-tests/Generate.ps1
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

re-generate test code
  typespec-tests/src/main/java/tsptest/specialheaders/EtagHeadersAsyncClient.java
  typespec-tests/src/main/java/tsptest/specialheaders/EtagHeadersClient.java
  typespec-tests/src/main/java/tsptest/specialheaders/EtagHeadersOptionalBodyAsyncClient.java
  typespec-tests/src/main/java/tsptest/specialheaders/EtagHeadersOptionalBodyClient.java
  typespec-tests/src/main/java/tsptest/specialheaders/RepeatabilityHeadersAsyncClient.java
  typespec-tests/src/main/java/tsptest/specialheaders/RepeatabilityHeadersClient.java
  typespec-tests/src/main/java/tsptest/specialheaders/SkipSpecialHeadersAsyncClient.java
  typespec-tests/src/main/java/tsptest/specialheaders/SkipSpecialHeadersClient.java
  typespec-tests/src/main/java/tsptest/specialheaders/SpecialHeadersClientBuilder.java
  typespec-tests/src/main/java/tsptest/specialheaders/SpecialHeadersServiceVersion.java
  typespec-tests/src/main/java/tsptest/specialheaders/implementation/EtagHeadersImpl.java
  typespec-tests/src/main/java/tsptest/specialheaders/implementation/EtagHeadersOptionalBodiesImpl.java
  typespec-tests/src/main/java/tsptest/specialheaders/implementation/JsonMergePatchHelper.java
  typespec-tests/src/main/java/tsptest/specialheaders/implementation/OperationLocationPollingStrategy.java
  typespec-tests/src/main/java/tsptest/specialheaders/implementation/PollingUtils.java
  typespec-tests/src/main/java/tsptest/specialheaders/implementation/RepeatabilityHeadersImpl.java
  typespec-tests/src/main/java/tsptest/specialheaders/implementation/SkipSpecialHeadersImpl.java
  typespec-tests/src/main/java/tsptest/specialheaders/implementation/SpecialHeadersClientImpl.java
  typespec-tests/src/main/java/tsptest/specialheaders/implementation/SyncOperationLocationPollingStrategy.java
  typespec-tests/src/main/java/tsptest/specialheaders/implementation/package-info.java
  typespec-tests/src/main/java/tsptest/specialheaders/models/Resource.java
  typespec-tests/src/main/java/tsptest/specialheaders/models/package-info.java
  typespec-tests/src/main/java/tsptest/specialheaders/package-info.java
  typespec-tests/src/main/resources/tsptest-specialheaders.properties
  typespec-tests/src/samples/java/tsptest/specialheaders/generated/EtagHeadersListWithEtag.java
  typespec-tests/src/samples/java/tsptest/specialheaders/generated/EtagHeadersPutWithRequestHeaders.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

regen
  azure-dataplane-tests/src/main/java/com/azure/containers/containerregistry/implementation/ContainerRegistriesImpl.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

eclipse language server, handle directory corruption (#3016)
  customization-base/src/main/java/com/azure/autorest/customization/implementation/ls/EclipseLanguageServerFacade.java
  typespec-tests/Generate.ps1
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

update core.diff as core changed
  core.diff
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

update readme
  readme.md
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

bump npm deps
  typespec-extension/package-lock.json
  typespec-extension/package.json
  typespec-tests/package.json
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

sync tests
  typespec-tests/src/main/java/payload/multipart/FormDataAsyncClient.java
  typespec-tests/src/main/java/payload/multipart/FormDataClient.java
  typespec-tests/src/main/java/payload/multipart/FormDataHttpPartsAsyncClient.java
  typespec-tests/src/main/java/payload/multipart/FormDataHttpPartsClient.java
  typespec-tests/src/main/java/payload/multipart/FormDataHttpPartsContentTypeAsyncClient.java
  typespec-tests/src/main/java/payload/multipart/FormDataHttpPartsContentTypeClient.java
  typespec-tests/src/main/java/payload/multipart/FormDataHttpPartsNonStringAsyncClient.java
  typespec-tests/src/main/java/payload/multipart/FormDataHttpPartsNonStringClient.java
  typespec-tests/src/main/java/tsptest/flatten/FlattenAsyncClient.java
  typespec-tests/src/main/java/tsptest/flatten/FlattenClient.java
  typespec-tests/src/main/java/tsptest/multicontenttypes/MultiContentTypesAsyncClient.java
  typespec-tests/src/main/java/tsptest/multicontenttypes/MultiContentTypesClient.java
  typespec-tests/src/main/java/tsptest/multicontenttypes/MultipleContentTypesOnRequestAsyncClient.java
  typespec-tests/src/main/java/tsptest/multicontenttypes/MultipleContentTypesOnRequestClient.java
  typespec-tests/src/main/java/tsptest/multipart/MultipartAsyncClient.java
  typespec-tests/src/main/java/tsptest/multipart/MultipartClient.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

update package.json
  typespec-extension/package.json
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

update npm
  typespec-tests/package.json
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

fix
  typespec-extension/package.json
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

fix npm dep
  typespec-extension/package.json
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

add a warning
  Build-AutoRest.ps1
  Build-TypeSpec.ps1
  readme.md
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

use tsp-client generate-config-files in eng script
  eng/sdk/sync_sdk.py
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

vitest
  .gitignore
  Build-TypeSpec.ps1
  typespec-extension/package-lock.json
  typespec-extension/package.json
  typespec-extension/vitest.config.ts
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

run ut in ci
  eng/pipelines/ci-typespec-java.yaml
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

eng, sync typespec lib (#3018)
  .gitignore
  Build-AutoRest.ps1
  Build-TypeSpec.ps1
  core.diff
  eng/pipelines/ci-typespec-java.yaml
  eng/sdk/sync_sdk.py
  readme.md
  typespec-extension/package-lock.json
  typespec-extension/package.json
  typespec-extension/vitest.config.ts
  typespec-tests/package.json
  typespec-tests/src/main/java/payload/multipart/FormDataAsyncClient.java
  typespec-tests/src/main/java/payload/multipart/FormDataClient.java
  typespec-tests/src/main/java/payload/multipart/FormDataHttpPartsAsyncClient.java
  typespec-tests/src/main/java/payload/multipart/FormDataHttpPartsClient.java
  typespec-tests/src/main/java/payload/multipart/FormDataHttpPartsContentTypeAsyncClient.java
  typespec-tests/src/main/java/payload/multipart/FormDataHttpPartsContentTypeClient.java
  typespec-tests/src/main/java/payload/multipart/FormDataHttpPartsNonStringAsyncClient.java
  typespec-tests/src/main/java/payload/multipart/FormDataHttpPartsNonStringClient.java
  typespec-tests/src/main/java/tsptest/flatten/FlattenAsyncClient.java
  typespec-tests/src/main/java/tsptest/flatten/FlattenClient.java
  typespec-tests/src/main/java/tsptest/multicontenttypes/MultiContentTypesAsyncClient.java
  typespec-tests/src/main/java/tsptest/multicontenttypes/MultiContentTypesClient.java
  typespec-tests/src/main/java/tsptest/multicontenttypes/MultipleContentTypesOnRequestAsyncClient.java
  typespec-tests/src/main/java/tsptest/multicontenttypes/MultipleContentTypesOnRequestClient.java
  typespec-tests/src/main/java/tsptest/multipart/MultipartAsyncClient.java
  typespec-tests/src/main/java/tsptest/multipart/MultipartClient.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

bump jar
  azure-dataplane-tests/pom.xml
  azure-tests/pom.xml
  customization-base/pom.xml
  customization-base/src/main/resources/pom.xml
  customization-tests/pom.xml
  extension-base/pom.xml
  fluent-tests/pom.xml
  pom.xml
  protocol-sdk-integration-tests/eng/versioning/version_client.txt
  protocol-tests/pom.xml
  typespec-tests/pom.xml
  vanilla-tests/pom.xml
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

sync tests
  typespec-tests/src/test/java/payload/pageable/PageableTests.java
  typespec-tests/src/test/java/versioning/removed/RemovedClientTests.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

bump npm
  package-lock.json
  package.json
  typespec-extension/changelog.md
  typespec-extension/package-lock.json
  typespec-extension/package.json
  typespec-tests/package.json
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

bump identity
  typespec-tests/pom.xml
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

use New-EmitterPackageJson.ps1 in dev mode
  eng/sdk/sync_sdk.py
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml
