Repository Azure/autorest.java: changes, and which Azure pipelines are due for each by the changed paths.
All: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

Path conditions:
  eng/pipelines/ci-cadl-java.yaml: any of: *, but not: fluent*, postprocessor, vanilla-tests, protocol*
  eng/pipelines/ci-typespec-java.yaml: any of: *, but not: azure-dataplane-tests, azure-tests, fluent-tests, partial-update-tests, vanilla-tests, protocol*
  eng/pipelines/ci.yaml: any of: *, but not: fluent*, typespec*
  eng/pipelines/fluent_integration.yaml: any of: *, but not: typespec*

Sync 7531, prepare typespec-java 0.31.1 release (#3124)
  typespec-extension/changelog.md
  typespec-extension/package-lock.json
  typespec-extension/package.json
  typespec-extension/src/options.ts
  typespec-tests/package.json
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

sync test
  typespec-tests/src/main/java/tsptest/armresourceprovider/ArmResourceProviderManager.java
  typespec-tests/src/main/java/tsptest/armresourceprovider/fluent/ArmClient.java
  typespec-tests/src/main/java/tsptest/armresourceprovider/fluent/ImmutableResourceModelsClient.java
  typespec-tests/src/main/java/tsptest/armresourceprovider/fluent/models/NginxConfigurationResponseInner.java
  typespec-tests/src/main/java/tsptest/armresourceprovider/implementation/ArmClientImpl.java
  typespec-tests/src/main/java/tsptest/armresourceprovider/implementation/ChildResourceImpl.java
  typespec-tests/src/main/java/tsptest/armresourceprovider/implementation/CustomTemplateResourceImpl.java
  typespec-tests/src/main/java/tsptest/armresourceprovider/implementation/ImmutableResourceModelsClientImpl.java
  typespec-tests/src/main/java/tsptest/armresourceprovider/implementation/ImmutableResourceModelsImpl.java
  typespec-tests/src/main/java/tsptest/armresourceprovider/implementation/NginxConfigurationResponseImpl.java
  typespec-tests/src/main/java/tsptest/armresourceprovider/implementation/TopLevelArmResourceImpl.java
  typespec-tests/src/main/java/tsptest/armresourceprovider/models/ImmutableResourceModels.java
  typespec-tests/src/main/java/tsptest/armresourceprovider/models/NginxConfigurationRequest.java
  typespec-tests/src/main/java/tsptest/armresourceprovider/models/NginxConfigurationResponse.java
  typespec-tests/src/main/java/tsptest/armresourceprovider/models/NginxConfigurationResponseProperties.java
  typespec-tests/src/main/resources/META-INF/native-image/com.azure.resourcemanager/azure-resourcemanager-armresourceprovider-generated/proxy-config.json
  typespec-tests/tsp/arm.tsp
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

update npm
  .github/copilot-instructions.md
  typespec-extension/package-lock.json
  typespec-extension/package.json
  typespec-tests/package.json
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

remove deployment in mgmt test
  fluent-tests/src/test/java/com/azure/mgmttest/CompilationTests.java
Due: eng/pipelines/fluent_integration.yaml

update core
  typespec-tests/package.json
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

update core
  typespec-tests/src/main/java/versioning/added/AddedClientBuilder.java
  typespec-tests/src/main/java/versioning/added/implementation/AddedClientImpl.java
  typespec-tests/src/main/java/versioning/added/implementation/InterfaceV2sImpl.java
  typespec-tests/src/main/java/versioning/added/models/Versions.java
  typespec-tests/src/main/java/versioning/madeoptional/MadeOptionalClientBuilder.java
  typespec-tests/src/main/java/versioning/madeoptional/implementation/MadeOptionalClientImpl.java
  typespec-tests/src/main/java/versioning/madeoptional/models/Versions.java
  typespec-tests/src/main/java/versioning/removed/RemovedClientBuilder.java
  typespec-tests/src/main/java/versioning/removed/implementation/RemovedClientImpl.java
  typespec-tests/src/main/java/versioning/removed/models/Versions.java
  typespec-tests/src/main/java/versioning/renamedfrom/RenamedFromClientBuilder.java
  typespec-tests/src/main/java/versioning/renamedfrom/implementation/NewInterfacesImpl.java
  typespec-tests/src/main/java/versioning/renamedfrom/implementation/RenamedFromClientImpl.java
  typespec-tests/src/main/java/versioning/renamedfrom/models/Versions.java
  typespec-tests/src/main/java/versioning/returntypechangedfrom/ReturnTypeChangedFromClientBuilder.java
  typespec-tests/src/main/java/versioning/returntypechangedfrom/implementation/ReturnTypeChangedFromClientImpl.java
  typespec-tests/src/main/java/versioning/returntypechangedfrom/models/Versions.java
  typespec-tests/src/main/java/versioning/returntypechangedfrom/models/package-info.java
  typespec-tests/src/main/java/versioning/typechangedfrom/TypeChangedFromClientBuilder.java
  typespec-tests/src/main/java/versioning/typechangedfrom/implementation/TypeChangedFromClientImpl.java
  typespec-tests/src/main/java/versioning/typechangedfrom/models/Versions.java
  typespec-tests/src/test/java/versioning/added/AddedClientTests.java
  typespec-tests/src/test/java/versioning/added/generated/AddedClientTestBase.java
  typespec-tests/src/test/java/versioning/madeoptional/MadeOptionalClienTests.java
  typespec-tests/src/test/java/versioning/madeoptional/generated/MadeOptionalClientTestBase.java
  typespec-tests/src/test/java/versioning/removed/RemovedClientTests.java
  typespec-tests/src/test/java/versioning/removed/generated/RemovedClientTestBase.java
  typespec-tests/src/test/java/versioning/renamedfrom/RenamedFromClientTests.java
  typespec-tests/src/test/java/versioning/renamedfrom/generated/RenamedFromClientTestBase.java
  typespec-tests/src/test/java/versioning/returntypechangedfrom/ReturnTypeChangedFromClientTests.java
  typespec-tests/src/test/java/versioning/returntypechangedfrom/generated/ReturnTypeChangedFromClientTestBase.java
  typespec-tests/src/test/java/versioning/typechangedfrom/TypeChangedFromClientTests.java
  typespec-tests/src/test/java/versioning/typechangedfrom/generated/TypeChangedFromClientTestBase.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

update option description
  typespec-extension/src/options.ts
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

add --add-exports to package
  fluentgen/package.json
  javagen/package.json
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

doc
  typespec-tests/readme.md
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

fix --add-exports
  fluentgen/package.json
  javagen/package.json
  package.json
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

bump jar
  azure-dataplane-tests/pom.xml
  azure-tests/pom.xml
  customization-base/src/main/resources/pom.xml
  customization-tests/pom.xml
  fluent-tests/pom.xml
  pom.xml
  protocol-sdk-integration-tests/eng/versioning/version_client.txt
  protocol-tests/pom.xml
  typespec-tests/pom.xml
  vanilla-tests/pom.xml
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

Update package dependencies to latest versions
  typespec-extension/package-lock.json
  typespec-extension/package.json
  typespec-tests/package.json
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

sync tests
  typespec-tests/src/test/java/azure/clientgenerator/core/deserialize/emptystringnull/DeserializeEmptyStringAsNullTests.java
  typespec-tests/src/test/java/azure/resourcemanager/largeheader/LargeHeaderTests.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

prepare 0.31.2
  typespec-extension/changelog.md
  typespec-extension/package-lock.json
  typespec-extension/package.json
  typespec-tests/package.json
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

prepare 4.1.51
  package-lock.json
  package.json
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

sync core
  typespec-tests/src/main/java/tsptest/armstreamstyleserialization/ArmResourceProviderManager.java
  typespec-tests/src/main/java/tsptest/armstreamstyleserialization/fluent/ArmResourceProviderManagementClient.java
  typespec-tests/src/main/java/tsptest/armstreamstyleserialization/fluent/ItemsClient.java
  typespec-tests/src/main/java/tsptest/armstreamstyleserialization/implementation/ArmResourceProviderManagementClientImpl.java
  typespec-tests/src/main/java/tsptest/armstreamstyleserialization/implementation/ItemsClientImpl.java
  typespec-tests/src/main/java/tsptest/armstreamstyleserialization/implementation/ItemsImpl.java
  typespec-tests/src/main/java/tsptest/armstreamstyleserialization/implementation/models/ListResult.java
  typespec-tests/src/main/java/tsptest/armstreamstyleserialization/models/Items.java
  typespec-tests/src/main/java/tsptest/armstreamstyleserialization/models/Result.java
  typespec-tests/src/main/resources/META-INF/native-image/com.azure.resourcemanager/armstreamstyleserialization-generated/proxy-config.json
  typespec-tests/tsp/arm-stream-style-serialization.tsp
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

typespec-java, prepare release 0.31.2 (#3130)
  azure-dataplane-tests/pom.xml
  azure-tests/pom.xml
  customization-base/src/main/resources/pom.xml
  customization-tests/pom.xml
  fluent-tests/pom.xml
  package-lock.json
  package.json
  pom.xml
  protocol-sdk-integration-tests/eng/versioning/version_client.txt
  protocol-tests/pom.xml
  typespec-extension/changelog.md
  typespec-extension/package-lock.json
  typespec-extension/package.json
  typespec-tests/package.json
  typespec-tests/pom.xml
  typespec-tests/src/main/java/tsptest/armstreamstyleserialization/ArmResourceProviderManager.java
  typespec-tests/src/main/java/tsptest/armstreamstyleserialization/fluent/ArmResourceProviderManagementClient.java
  typespec-tests/src/main/java/tsptest/armstreamstyleserialization/fluent/ItemsClient.java
  typespec-tests/src/main/java/tsptest/armstreamstyleserialization/implementation/ArmResourceProviderManagementClientImpl.java
  typespec-tests/src/main/java/tsptest/armstreamstyleserialization/implementation/ItemsClientImpl.java
  typespec-tests/src/main/java/tsptest/armstreamstyleserialization/implementation/ItemsImpl.java
  typespec-tests/src/main/java/tsptest/armstreamstyleserialization/implementation/models/ListResult.java
  typespec-tests/src/main/java/tsptest/armstreamstyleserialization/models/Items.java
  typespec-tests/src/main/java/tsptest/armstreamstyleserialization/models/Result.java
  typespec-tests/src/main/resources/META-INF/native-image/com.azure.resourcemanager/armstreamstyleserialization-generated/proxy-config.json
  typespec-tests/src/test/java/azure/clientgenerator/core/deserialize/emptystringnull/DeserializeEmptyStringAsNullTests.java
  typespec-tests/src/test/java/azure/resourcemanager/largeheader/LargeHeaderTests.java
  typespec-tests/tsp/arm-stream-style-serialization.tsp
  vanilla-tests/pom.xml
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

doc, add notice to docs/developer/typespec/readme.md
  docs/developer/typespec/readme.md
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

Update docs/developer/typespec/readme.md
  docs/developer/typespec/readme.md
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

review feedback
  typespec-tests/readme.md
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

eng, fix typespec-java upload report
  eng/pipelines/ci-typespec-java.yaml
  eng/pipelines/jobs/build-typespec.yml
  eng/pipelines/steps/build-typespec.yml
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

revert condition to main
  eng/pipelines/ci-typespec-java.yaml
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

eng, fix typespec-java upload report (#3132)
  eng/pipelines/ci-typespec-java.yaml
  eng/pipelines/jobs/build-typespec.yml
  eng/pipelines/steps/build-typespec.yml
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

update for API on unbranded
  docs/developer/code-generator-mode.md
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

Small cleanups
  customization-tests/src/main/java/fixtures/bodycomplex/ArrayClient.java
  customization-tests/src/main/java/fixtures/bodycomplex/implementation/models/CMYKColors.java
  customization-tests/src/main/java/fixtures/bodycomplex/implementation/models/DotSalmon.java
  customization-tests/src/main/java/fixtures/bodycomplex/implementation/models/ReadonlyObj.java
  customization-tests/swagger/src/main/java/BodyComplexCustomization.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

Fix few generation problems
  typespec-tests/customization/src/main/java/CustomizationTest.java
  typespec-tests/src/main/java/tsptest/naming/NamingClient.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

Update the customization version
  customization-base/CHANGELOG.md
  customization-base/README.md
  customization-base/pom.xml
  customization-tests/swagger/pom.xml
  fluentgen/src/main/resources/readme/pom.xml
  javagen/src/main/resources/readme/pom.xml
  typespec-tests/customization/pom.xml
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml
