Repository Azure/autorest.java: changes, and which Azure pipelines are due for each by the changed paths.
All: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

Path conditions:
  eng/pipelines/ci-cadl-java.yaml: any of: *, but not: fluent*, postprocessor, vanilla-tests, protocol*
  eng/pipelines/ci-typespec-java.yaml: any of: *, but not: androidgen, azure-dataplane-tests, azure-tests, fluent-tests, partial-update-tests, vanilla-tests, protocol*
  eng/pipelines/ci.yaml: any of: *, but not: fluent*, typespec*
  eng/pipelines/fluent_integration.yaml: any of: *, but not: typespec*

add Service API versions section under Examples
  javagen/src/main/resources/Readme_protocol.txt
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

ManagedIdentityManager test case sample
  typespec-tests/src/main/java/com/azure/resourcemanager/models/commontypes/managedidentity/ManagedIdentityManager.java
  typespec-tests/src/main/java/com/azure/resourcemanager/models/commontypes/managedidentity/fluent/ManagedIdentityClient.java
  typespec-tests/src/main/java/com/azure/resourcemanager/models/commontypes/managedidentity/fluent/ManagedIdentityTrackedResourcesClient.java
  typespec-tests/src/main/java/com/azure/resourcemanager/models/commontypes/managedidentity/fluent/models/ManagedIdentityTrackedResourceInner.java
  typespec-tests/src/main/java/com/azure/resourcemanager/models/commontypes/managedidentity/fluent/models/package-info.java
  typespec-tests/src/main/java/com/azure/resourcemanager/models/commontypes/managedidentity/fluent/package-info.java
  typespec-tests/src/main/java/com/azure/resourcemanager/models/commontypes/managedidentity/implementation/ManagedIdentityClientBuilder.java
  typespec-tests/src/main/java/com/azure/resourcemanager/models/commontypes/managedidentity/implementation/ManagedIdentityClientImpl.java
  typespec-tests/src/main/java/com/azure/resourcemanager/models/commontypes/managedidentity/implementation/ManagedIdentityTrackedResourceImpl.java
  typespec-tests/src/main/java/com/azure/resourcemanager/models/commontypes/managedidentity/implementation/ManagedIdentityTrackedResourcesClientImpl.java
  typespec-tests/src/main/java/com/azure/resourcemanager/models/commontypes/managedidentity/implementation/ManagedIdentityTrackedResourcesImpl.java
  typespec-tests/src/main/java/com/azure/resourcemanager/models/commontypes/managedidentity/implementation/ResourceManagerUtils.java
  typespec-tests/src/main/java/com/azure/resourcemanager/models/commontypes/managedidentity/implementation/package-info.java
  typespec-tests/src/main/java/com/azure/resourcemanager/models/commontypes/managedidentity/models/ManagedIdentityTrackedResource.java
  typespec-tests/src/main/java/com/azure/resourcemanager/models/commontypes/managedidentity/models/ManagedIdentityTrackedResourceProperties.java
  typespec-tests/src/main/java/com/azure/resourcemanager/models/commontypes/managedidentity/models/ManagedIdentityTrackedResourceUpdate.java
  typespec-tests/src/main/java/com/azure/resourcemanager/models/commontypes/managedidentity/models/ManagedIdentityTrackedResources.java
  typespec-tests/src/main/java/com/azure/resourcemanager/models/commontypes/managedidentity/models/ManagedServiceIdentity.java
  typespec-tests/src/main/java/com/azure/resourcemanager/models/commontypes/managedidentity/models/ManagedServiceIdentityType.java
  typespec-tests/src/main/java/com/azure/resourcemanager/models/commontypes/managedidentity/models/UserAssignedIdentity.java
  typespec-tests/src/main/java/com/azure/resourcemanager/models/commontypes/managedidentity/models/package-info.java
  typespec-tests/src/main/java/com/azure/resourcemanager/models/commontypes/managedidentity/package-info.java
  typespec-tests/src/test/java/com/azure/resourcemanager/models/commontypes/managedidentity/ManagedIdentityManagerTests.java
  typespec-tests/src/test/java/com/azure/resourcemanager/models/commontypes/managedidentity/generated/ManagedIdentityTrackedResourceInnerTests.java
  typespec-tests/src/test/java/com/azure/resourcemanager/models/commontypes/managedidentity/generated/ManagedIdentityTrackedResourcePropertiesTests.java
  typespec-tests/src/test/java/com/azure/resourcemanager/models/commontypes/managedidentity/generated/ManagedIdentityTrackedResourceUpdateTests.java
  typespec-tests/src/test/java/com/azure/resourcemanager/models/commontypes/managedidentity/generated/ManagedServiceIdentityTests.java
  typespec-tests/src/test/java/com/azure/resourcemanager/models/commontypes/managedidentity/generated/UserAssignedIdentityTests.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

Update javagen/src/main/resources/Readme_protocol.txt
  javagen/src/main/resources/Readme_protocol.txt
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

regen cadl-ranch
  typespec-tests/Generate.ps1
  typespec-tests/src/main/java/com/_specs_/azure/example/basic/AzureExampleAsyncClient.java
  typespec-tests/src/main/java/com/_specs_/azure/example/basic/AzureExampleClient.java
  typespec-tests/src/main/java/com/_specs_/azure/example/basic/AzureExampleClientBuilder.java
  typespec-tests/src/main/java/com/_specs_/azure/example/basic/BasicServiceVersion.java
  typespec-tests/src/main/java/com/_specs_/azure/example/basic/implementation/AzureExampleClientImpl.java
  typespec-tests/src/main/java/com/_specs_/azure/example/basic/implementation/package-info.java
  typespec-tests/src/main/java/com/_specs_/azure/example/basic/models/ActionRequest.java
  typespec-tests/src/main/java/com/_specs_/azure/example/basic/models/ActionResponse.java
  typespec-tests/src/main/java/com/_specs_/azure/example/basic/models/Enum.java
  typespec-tests/src/main/java/com/_specs_/azure/example/basic/models/Model.java
  typespec-tests/src/main/java/com/_specs_/azure/example/basic/models/package-info.java
  typespec-tests/src/main/java/com/_specs_/azure/example/basic/package-info.java
  typespec-tests/src/main/java/com/type/model/visibility/VisibilityAsyncClient.java
  typespec-tests/src/main/java/com/type/model/visibility/VisibilityClient.java
  typespec-tests/src/main/java/com/type/model/visibility/implementation/VisibilityClientImpl.java
  typespec-tests/src/main/java/com/type/model/visibility/models/ReadOnlyModel.java
  typespec-tests/src/main/java/com/type/property/optional/OptionalClientBuilder.java
  typespec-tests/src/main/java/com/type/property/optional/PlaindateAsyncClient.java
  typespec-tests/src/main/java/com/type/property/optional/PlaindateClient.java
  typespec-tests/src/main/java/com/type/property/optional/PlaintimeAsyncClient.java
  typespec-tests/src/main/java/com/type/property/optional/PlaintimeClient.java
  typespec-tests/src/main/java/com/type/property/optional/implementation/OptionalClientImpl.java
  typespec-tests/src/main/java/com/type/property/optional/implementation/PlaindatesImpl.java
  typespec-tests/src/main/java/com/type/property/optional/implementation/PlaintimesImpl.java
  typespec-tests/src/main/java/com/type/property/optional/models/PlainTimeProperty.java
  typespec-tests/src/main/java/com/type/property/optional/models/PlaindateProperty.java
  typespec-tests/src/main/resources/_specs_-azure-example-basic.properties
  typespec-tests/src/samples/java/com/_specs_/azure/example/basic/generated/BasicAction.java
  typespec-tests/src/test/java/com/_specs_/azure/example/basic/generated/AzureExampleClientTestBase.java
  typespec-tests/src/test/java/com/_specs_/azure/example/basic/generated/BasicActionTests.java
  typespec-tests/src/test/java/com/type/property/optional/generated/OptionalClientTestBase.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

test
  typespec-tests/src/main/java/com/_specs_/azure/example/basic/implementation/AzureExampleClientImpl.java
  typespec-tests/src/test/java/com/_specs_/azure/example/basic/BasicTests.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

test case
  fluent-tests/Initialize-Tests.ps1
  fluent-tests/swagger/empty-model.json
  typespec-tests/tsp/arm.tsp
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/fluent_integration.yaml

fix
  javagen/src/main/java/com/azure/autorest/mapper/ModelMapper.java
  javagen/src/main/java/com/azure/autorest/mapper/ModelPropertyMapper.java
  javagen/src/main/java/com/azure/autorest/mapper/ObjectMapper.java
  javagen/src/main/java/com/azure/autorest/util/SchemaUtil.java
  typespec-extension/src/main/java/com/azure/autorest/TypeSpecPlugin.java
  typespec-extension/src/main/java/com/azure/autorest/fluent/TypeSpecFluentPlugin.java
  typespec-extension/src/main/java/com/azure/autorest/util/SchemaUtilAdapter.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

re-generate test code
  typespec-tests/src/main/java/com/cadl/armresourceprovider/fluent/ChildExtensionResourceInterfacesClient.java
  typespec-tests/src/main/java/com/cadl/armresourceprovider/fluent/models/CustomTemplateResourceInner.java
  typespec-tests/src/main/java/com/cadl/armresourceprovider/fluent/models/CustomTemplateResourceProperties.java
  typespec-tests/src/main/java/com/cadl/armresourceprovider/implementation/ChildExtensionResourceImpl.java
  typespec-tests/src/main/java/com/cadl/armresourceprovider/implementation/ChildExtensionResourceInterfacesClientImpl.java
  typespec-tests/src/main/java/com/cadl/armresourceprovider/implementation/ChildExtensionResourceInterfacesImpl.java
  typespec-tests/src/main/java/com/cadl/armresourceprovider/implementation/CustomTemplateResourceImpl.java
  typespec-tests/src/main/java/com/cadl/armresourceprovider/models/ChildExtensionResource.java
  typespec-tests/src/main/java/com/cadl/armresourceprovider/models/ChildExtensionResourceInterfaces.java
  typespec-tests/src/main/java/com/cadl/armresourceprovider/models/ChildExtensionResourceUpdate.java
  typespec-tests/src/main/java/com/cadl/armresourceprovider/models/CustomTemplateResource.java
  typespec-tests/src/main/java/com/cadl/armresourceprovider/models/CustomTemplateResourcePropertiesAnonymousEmptyModel.java
  typespec-tests/src/main/java/com/cadl/armresourceprovider/models/EmptyModel.java
  typespec-tests/src/main/resources/META-INF/native-image/com.azure.resourcemanager/azure-resourcemanager-armresourceprovider-generated/reflect-config.json
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

update logics on spread param
  typespec-extension/src/code-model-builder.ts
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

fix listByParent
  typespec-tests/tsp/arm.tsp
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

re-generate test code
  typespec-tests/src/main/java/com/cadl/armresourceprovider/fluent/ChildResourcesInterfacesClient.java
  typespec-tests/src/main/java/com/cadl/armresourceprovider/implementation/ChildResourcesInterfacesClientImpl.java
  typespec-tests/src/main/java/com/cadl/armresourceprovider/implementation/ChildResourcesInterfacesImpl.java
  typespec-tests/src/main/java/com/cadl/armresourceprovider/models/ChildResourcesInterfaces.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

mgmt tsp, fix listByParent (#2860)
  typespec-tests/src/main/java/com/cadl/armresourceprovider/fluent/ChildResourcesInterfacesClient.java
  typespec-tests/src/main/java/com/cadl/armresourceprovider/implementation/ChildResourcesInterfacesClientImpl.java
  typespec-tests/src/main/java/com/cadl/armresourceprovider/implementation/ChildResourcesInterfacesImpl.java
  typespec-tests/src/main/java/com/cadl/armresourceprovider/models/ChildResourcesInterfaces.java
  typespec-tests/tsp/arm.tsp
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

DPG, add Service API versions section under Examples (#2856)
  javagen/src/main/resources/Readme_protocol.txt
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

refactor, subclass mappers
  javagen/src/main/java/com/azure/autorest/mapper/ModelMapper.java
  javagen/src/main/java/com/azure/autorest/mapper/ModelPropertyMapper.java
  javagen/src/main/java/com/azure/autorest/mapper/NeedsPlainObjectCheck.java
  javagen/src/main/java/com/azure/autorest/mapper/ObjectMapper.java
  javagen/src/main/java/com/azure/autorest/util/SchemaUtil.java
  typespec-extension/src/main/java/com/azure/autorest/TypeSpecPlugin.java
  typespec-extension/src/main/java/com/azure/autorest/fluent/TypeSpecFluentMapperFactory.java
  typespec-extension/src/main/java/com/azure/autorest/fluent/TypeSpecFluentModelMapper.java
  typespec-extension/src/main/java/com/azure/autorest/fluent/TypeSpecFluentObjectMapper.java
  typespec-extension/src/main/java/com/azure/autorest/fluent/TypeSpecFluentPlugin.java
  typespec-extension/src/main/java/com/azure/autorest/util/SchemaUtilAdapter.java
  typespec-extension/src/main/java/com/azure/typespec/mapper/TypeSpecMapperFactory.java
  typespec-extension/src/main/java/com/azure/typespec/mapper/TypeSpecModelMapper.java
  typespec-extension/src/main/java/com/azure/typespec/mapper/TypeSpecModelPropertyMapper.java
  typespec-extension/src/main/java/com/azure/typespec/mapper/TypeSpecObjectMapper.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

regen
  typespec-tests/src/main/java/com/cadl/armresourceprovider/implementation/ChildResourcesInterfacesClientImpl.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

fix listByParent rename
  typespec-tests/tsp/arm.tsp
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

update tsp
  typespec-extension/changelog.md
  typespec-extension/package.json
  typespec-tests/package.json
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

remove unnecessary DPG mappers
  typespec-extension/src/main/java/com/azure/autorest/fluent/TypeSpecFluentMapperFactory.java
  typespec-extension/src/main/java/com/azure/autorest/fluent/TypeSpecFluentModelPropertyMapper.java
  typespec-extension/src/main/java/com/azure/typespec/mapper/TypeSpecMapperFactory.java
  typespec-extension/src/main/java/com/azure/typespec/mapper/TypeSpecModelMapper.java
  typespec-extension/src/main/java/com/azure/typespec/mapper/TypeSpecObjectMapper.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

bump
  typespec-tests/package.json
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

test
  typespec-tests/src/test/java/com/azure/resourcemanager/models/resources/ArmResourceTest.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

lock
  typespec-extension/package-lock.json
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

test for azure example
  typespec-tests/Generate.ps1
  typespec-tests/src/test/java/com/_specs_/azure/example/basic/BasicTests.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

re-generate test code
  typespec-tests/src/samples/java/com/_specs_/azure/example/basic/generated/BasicAction.java
  typespec-tests/src/test/java/com/_specs_/azure/example/basic/generated/BasicActionTests.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

bump cadl-ranch-specs, enable arm update test
  typespec-tests/package.json
  typespec-tests/src/test/java/com/azure/resourcemanager/models/resources/ArmResourceTest.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

Add test cases for Azure.ResourceManager.Models.CommonTypes.ManagedIdentity
  typespec-tests/src/test/java/com/azure/resourcemanager/models/commontypes/managedidentity/ManagedIdentityManagerTests.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

bump cadl-ranch-specs, enable arm update test (#2865)
  typespec-tests/package.json
  typespec-tests/src/test/java/com/azure/resourcemanager/models/resources/ArmResourceTest.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

Add test cases for Type/Model/Usage/Visibility/putReadOnlyModel
  typespec-tests/src/test/java/com/type/model/visibility/AutomaticClientTest.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

Fix test cases for ArmResourceTest
  typespec-tests/src/test/java/com/azure/resourcemanager/models/resources/ArmResourceTest.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

Add test cases for Type/Property/Optional/Plaindate
  typespec-tests/src/test/java/com/type/property/optional/PlaindateClientTests.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

Add test cases for Type/Property/Optional/Plaintime
  typespec-tests/src/test/java/com/type/property/optional/PlaintimeClientTests.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

Fix test cases for Type/Property/Optional/Plaindate
  typespec-tests/src/test/java/com/azure/resourcemanager/models/resources/ArmResourceTest.java
  typespec-tests/src/test/java/com/type/property/optional/PlaindateClientTests.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

Fix for comment https://github.com/Azure/autorest.java/pull/2866/files#r1680597360
  typespec-tests/src/test/java/com/azure/resourcemanager/models/commontypes/managedidentity/ManagedIdentityManagerTests.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

Add test cases for azure/core/model
  typespec-tests/src/test/java/com/_specs_/azure/core/model/ModelClientTests.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

Update test cases for azure/core/model
  typespec-tests/src/test/java/com/_specs_/azure/core/model/ModelClientTests.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

fix empty model package-info
  fluentgen/src/main/java/com/azure/autorest/fluent/FluentGen.java
  fluentgen/src/main/java/com/azure/autorest/fluent/model/clientmodel/FluentStatic.java
Due: eng/pipelines/ci-typespec-java.yaml, eng/pipelines/fluent_integration.yaml
