Repository Azure/autorest.java: changes, and which Azure pipelines are due for each by the changed paths.
All: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

Path conditions:
  eng/pipelines/ci-cadl-java.yaml: any of: *, but not: fluent*, postprocessor, vanilla-tests, protocol*
  eng/pipelines/ci-typespec-java.yaml: any of: *, but not: azure-dataplane-tests, azure-tests, fluent-tests, partial-update-tests, vanilla-tests, protocol*
  eng/pipelines/ci.yaml: any of: *, but not: fluent*, typespec*
  eng/pipelines/fluent_integration.yaml: any of: *, but not: typespec*

update core and fix test
  fluentgen/src/test/java/com/microsoft/typespec/http/client/generator/mgmt/util/RetryOptionsTests.java
Due: eng/pipelines/ci-typespec-java.yaml, eng/pipelines/fluent_integration.yaml

move files, similar as core
  fluentgen/src/main/resources/eclipse-format-azure-sdk-for-java.xml
  javagen/src/main/resources/eclipse-format-azure-sdk-for-java.xml
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

remove spotless from readme/pom.xml
  fluentgen/src/main/resources/readme/pom.xml
  javagen/src/main/resources/readme/pom.xml
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

fix github action
  .github/workflows/generate-test-code.yml
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

Update Node.js package dependencies
  typespec-extension/package-lock.json
  typespec-extension/package.json
  typespec-tests/package.json
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

eng, sync core for https://github.com/microsoft/typespec/pull/9059 (#3224)
  .github/workflows/generate-test-code.yml
  core.patch
  fluentgen/pom.xml
  fluentgen/src/main/resources/eclipse-format-azure-sdk-for-java.xml
  fluentgen/src/main/resources/readme/pom.xml
  fluentgen/src/test/java/com/microsoft/typespec/http/client/generator/mgmt/mapper/FluentMethodGroupMapperTests.java
  fluentgen/src/test/java/com/microsoft/typespec/http/client/generator/mgmt/mapper/ResourceParserTests.java
  fluentgen/src/test/java/com/microsoft/typespec/http/client/generator/mgmt/util/TypeConversionUtilsTests.java
  javagen/src/main/resources/eclipse-format-azure-sdk-for-java.xml
  javagen/src/main/resources/readme/pom.xml
  typespec-extension/package-lock.json
  typespec-extension/package.json
  typespec-tests/package.json
  typespec-tests/src/main/java/tsptest/response/ResponseAsyncClient.java
  typespec-tests/src/main/java/tsptest/response/ResponseClient.java
  typespec-tests/src/main/java/tsptest/response/implementation/ResponseClientImpl.java
  typespec-tests/src/test/java/azure/resourcemanager/resources/ArmResourceTest.java
  typespec-tests/tsp/response.tsp
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

sync core on http-client-java_versioning-non-dpg
  typespec-tests/src/main/java/tsptest/armversioned/ArmVersionedManager.java
  typespec-tests/src/main/java/tsptest/armversioned/fluent/ArmVersionedClient.java
  typespec-tests/src/main/java/tsptest/armversioned/fluent/TopLevelArmResourcesClient.java
  typespec-tests/src/main/java/tsptest/armversioned/fluent/models/TopLevelArmResourceInner.java
  typespec-tests/src/main/java/tsptest/armversioned/fluent/models/package-info.java
  typespec-tests/src/main/java/tsptest/armversioned/fluent/package-info.java
  typespec-tests/src/main/java/tsptest/armversioned/implementation/ArmVersionedClientBuilder.java
  typespec-tests/src/main/java/tsptest/armversioned/implementation/ArmVersionedClientImpl.java
  typespec-tests/src/main/java/tsptest/armversioned/implementation/ResourceManagerUtils.java
  typespec-tests/src/main/java/tsptest/armversioned/implementation/TopLevelArmResourceImpl.java
  typespec-tests/src/main/java/tsptest/armversioned/implementation/TopLevelArmResourcesClientImpl.java
  typespec-tests/src/main/java/tsptest/armversioned/implementation/TopLevelArmResourcesImpl.java
  typespec-tests/src/main/java/tsptest/armversioned/implementation/models/TopLevelArmResourceListResult.java
  typespec-tests/src/main/java/tsptest/armversioned/implementation/package-info.java
  typespec-tests/src/main/java/tsptest/armversioned/models/ResourceProvisioningState.java
  typespec-tests/src/main/java/tsptest/armversioned/models/TopLevelArmResource.java
  typespec-tests/src/main/java/tsptest/armversioned/models/TopLevelArmResourceProperties.java
  typespec-tests/src/main/java/tsptest/armversioned/models/TopLevelArmResources.java
  typespec-tests/src/main/java/tsptest/armversioned/models/package-info.java
  typespec-tests/src/main/java/tsptest/armversioned/package-info.java
  typespec-tests/src/main/resources/META-INF/native-image/com.azure.resourcemanager/azure-resourcemanager-armversioned-generated/proxy-config.json
  typespec-tests/src/main/resources/META-INF/native-image/com.azure.resourcemanager/azure-resourcemanager-armversioned-generated/reflect-config.json
  typespec-tests/src/main/resources/azure-resourcemanager-armversioned-generated.properties
  typespec-tests/src/test/java/tsptest/armversioned/ArmVersionedTests.java
  typespec-tests/src/test/java/tsptest/armversioned/generated/TopLevelArmResourceInnerTests.java
  typespec-tests/src/test/java/tsptest/armversioned/generated/TopLevelArmResourceListResultTests.java
  typespec-tests/src/test/java/tsptest/armversioned/generated/TopLevelArmResourcePropertiesTests.java
  typespec-tests/tsp/arm-versioned.tsp
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

update script
  typespec-tests/Generate.ps1
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

update core
  typespec-tests/src/main/java/resiliency/servicedriven/ResiliencyServiceDrivenAsyncClient.java
  typespec-tests/src/main/java/resiliency/servicedriven/ResiliencyServiceDrivenClient.java
  typespec-tests/src/main/java/tsptest/armversioned/fluent/TopLevelArmResourcesClient.java
  typespec-tests/src/main/java/tsptest/armversioned/implementation/TopLevelArmResourceImpl.java
  typespec-tests/src/main/java/tsptest/armversioned/implementation/TopLevelArmResourcesClientImpl.java
  typespec-tests/src/main/java/tsptest/armversioned/implementation/TopLevelArmResourcesImpl.java
  typespec-tests/src/main/java/tsptest/armversioned/models/TopLevelArmResource.java
  typespec-tests/src/main/java/tsptest/armversioned/models/TopLevelArmResources.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

sync tests
  typespec-tests/src/main/java/tsptest/armresourceprovider/ArmResourceProviderManager.java
  typespec-tests/src/main/java/tsptest/armresourceprovider/fluent/ArmClient.java
  typespec-tests/src/main/java/tsptest/armresourceprovider/fluent/LroNoBodiesClient.java
  typespec-tests/src/main/java/tsptest/armresourceprovider/fluent/models/ResourceLroNoBodyProperties.java
  typespec-tests/src/main/java/tsptest/armresourceprovider/implementation/ArmClientImpl.java
  typespec-tests/src/main/java/tsptest/armresourceprovider/implementation/LroNoBodiesClientImpl.java
  typespec-tests/src/main/java/tsptest/armresourceprovider/implementation/LroNoBodiesImpl.java
  typespec-tests/src/main/java/tsptest/armresourceprovider/models/LroNoBodies.java
  typespec-tests/src/main/java/tsptest/armresourceprovider/models/ResourceLroNoBody.java
  typespec-tests/src/main/resources/META-INF/native-image/com.azure.resourcemanager/azure-resourcemanager-armresourceprovider-generated/proxy-config.json
  typespec-tests/tsp/arm.tsp
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

enable mock test for mgmt
  typespec-tests/.gitignore
  typespec-tests/Generate.ps1
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

sync test fix
  fluentgen/pom.xml
  fluentgen/src/test/java/com/microsoft/typespec/http/client/generator/mgmt/FluentGenAccessor.java
  fluentgen/src/test/java/com/microsoft/typespec/http/client/generator/mgmt/MockJavagen.java
  fluentgen/src/test/java/com/microsoft/typespec/http/client/generator/mgmt/TestUtils.java
  fluentgen/src/test/java/com/microsoft/typespec/http/client/generator/mgmt/mapper/FluentMethodGroupMapperTests.java
  fluentgen/src/test/java/com/microsoft/typespec/http/client/generator/mgmt/mapper/ResourceParserTests.java
  fluentgen/src/test/java/com/microsoft/typespec/http/client/generator/mgmt/model/projectmodel/ChangelogTests.java
  fluentgen/src/test/java/com/microsoft/typespec/http/client/generator/mgmt/model/projectmodel/ProjectTests.java
  fluentgen/src/test/java/com/microsoft/typespec/http/client/generator/mgmt/template/ModelTemplateTests.java
  fluentgen/src/test/java/com/microsoft/typespec/http/client/generator/mgmt/util/GeneratedUtilsClassWorkbenchTests.java
  fluentgen/src/test/java/com/microsoft/typespec/http/client/generator/mgmt/util/TypeConversionUtilsTests.java
Due: eng/pipelines/ci-typespec-java.yaml, eng/pipelines/fluent_integration.yaml

sync tests
  typespec-tests/src/main/java/tsptest/armstreamstyleserialization/models/Builtin.java
  typespec-tests/src/main/java/tsptest/armstreamstyleserialization/models/Encoded.java
  typespec-tests/src/main/java/tsptest/armstreamstyleserialization/models/TopLevelArmResourceProperties.java
  typespec-tests/tsp/arm-stream-style-serialization.tsp
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

enable arm mock tests
  typespec-tests/.gitignore
  typespec-tests/Generate.ps1
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

sync https://github.com/microsoft/typespec/pull/9111 (#3230)
  typespec-tests/.gitignore
  typespec-tests/Generate.ps1
  typespec-tests/src/main/java/tsptest/armstreamstyleserialization/models/Builtin.java
  typespec-tests/src/main/java/tsptest/armstreamstyleserialization/models/Encoded.java
  typespec-tests/src/main/java/tsptest/armstreamstyleserialization/models/TopLevelArmResourceProperties.java
  typespec-tests/tsp/arm-stream-style-serialization.tsp
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

chore(typespec): update prettier to 3.7.3 in extension and tests
  typespec-extension/package-lock.json
  typespec-extension/package.json
  typespec-tests/package.json
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

chore(typespec-tests): sync tests after dependency update
  typespec-tests/src/main/java/resiliency/servicedriven/ResiliencyServiceDrivenAsyncClient.java
  typespec-tests/src/main/java/resiliency/servicedriven/ResiliencyServiceDrivenClient.java
  typespec-tests/src/main/java/tsptest/armresourceprovider/fluent/ArmClient.java
  typespec-tests/src/main/java/tsptest/armresourceprovider/fluent/LroNoBodiesClient.java
  typespec-tests/src/main/java/tsptest/armresourceprovider/fluent/models/ResourceLroNoBodyProperties.java
  typespec-tests/src/main/java/tsptest/armresourceprovider/implementation/LroNoBodiesClientImpl.java
  typespec-tests/src/main/java/tsptest/armresourceprovider/implementation/LroNoBodiesImpl.java
  typespec-tests/src/main/java/tsptest/armresourceprovider/models/LroNoBodies.java
  typespec-tests/src/main/java/tsptest/armresourceprovider/models/ResourceLroNoBody.java
  typespec-tests/src/main/java/tsptest/armversioned/ArmVersionedManager.java
  typespec-tests/src/main/java/tsptest/armversioned/fluent/ArmVersionedClient.java
  typespec-tests/src/main/java/tsptest/armversioned/fluent/TopLevelArmResourcesClient.java
  typespec-tests/src/main/java/tsptest/armversioned/fluent/models/TopLevelArmResourceInner.java
  typespec-tests/src/main/java/tsptest/armversioned/fluent/models/package-info.java
  typespec-tests/src/main/java/tsptest/armversioned/fluent/package-info.java
  typespec-tests/src/main/java/tsptest/armversioned/implementation/ArmVersionedClientBuilder.java
  typespec-tests/src/main/java/tsptest/armversioned/implementation/ArmVersionedClientImpl.java
  typespec-tests/src/main/java/tsptest/armversioned/implementation/ResourceManagerUtils.java
  typespec-tests/src/main/java/tsptest/armversioned/implementation/TopLevelArmResourceImpl.java
  typespec-tests/src/main/java/tsptest/armversioned/implementation/TopLevelArmResourcesClientImpl.java
  typespec-tests/src/main/java/tsptest/armversioned/implementation/TopLevelArmResourcesImpl.java
  typespec-tests/src/main/java/tsptest/armversioned/implementation/models/TopLevelArmResourceListResult.java
  typespec-tests/src/main/java/tsptest/armversioned/implementation/package-info.java
  typespec-tests/src/main/java/tsptest/armversioned/models/ResourceProvisioningState.java
  typespec-tests/src/main/java/tsptest/armversioned/models/TopLevelArmResource.java
  typespec-tests/src/main/java/tsptest/armversioned/models/TopLevelArmResourceProperties.java
  typespec-tests/src/main/java/tsptest/armversioned/models/TopLevelArmResources.java
  typespec-tests/src/main/java/tsptest/armversioned/models/package-info.java
  typespec-tests/src/main/java/tsptest/armversioned/package-info.java
  typespec-tests/src/main/resources/META-INF/native-image/com.azure.resourcemanager/azure-resourcemanager-armresourceprovider-generated/proxy-config.json
  typespec-tests/src/main/resources/META-INF/native-image/com.azure.resourcemanager/azure-resourcemanager-armversioned-generated/proxy-config.json
  typespec-tests/src/main/resources/META-INF/native-image/com.azure.resourcemanager/azure-resourcemanager-armversioned-generated/reflect-config.json
  typespec-tests/src/main/resources/azure-resourcemanager-armversioned-generated.properties
  typespec-tests/src/test/java/tsptest/armversioned/ArmVersionedTests.java
  typespec-tests/tsp/arm-versioned.tsp
  typespec-tests/tsp/arm.tsp
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

release(typespec): bump to 0.37.0 and update changelog
  typespec-extension/changelog.md
  typespec-extension/package-lock.json
  typespec-extension/package.json
  typespec-tests/package.json
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

bump autorest.java
  package-lock.json
  package.json
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

changelog
  typespec-extension/changelog.md
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

sync script
  typespec-tests/Generate.ps1
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

sync test
  typespec-tests/src/main/java/tsptest/armstreamstyleserialization/models/Encoded.java
  typespec-tests/src/test/java/tsptest/armstreamstyleserialization/StreamStyleSerializationTests.java
  typespec-tests/tsp/arm-stream-style-serialization.tsp
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

prepare release typespec-java
  typespec-extension/changelog.md
  typespec-extension/package-lock.json
  typespec-extension/package.json
  typespec-tests/package.json
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

eng, prepare release typespec-java 0.37.1 (#3233)
  typespec-extension/changelog.md
  typespec-extension/package-lock.json
  typespec-extension/package.json
  typespec-tests/package.json
  typespec-tests/src/main/java/tsptest/armstreamstyleserialization/models/Encoded.java
  typespec-tests/src/test/java/tsptest/armstreamstyleserialization/StreamStyleSerializationTests.java
  typespec-tests/tsp/arm-stream-style-serialization.tsp
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml
