Repository Azure/autorest.java: changes, and which Azure pipelines are due for each by the changed paths.
All: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/fluent_integration.yaml

Path conditions:
  eng/pipelines/ci-cadl-java.yaml: any of: *, but not: fluent*, postprocessor, vanilla-tests, protocol*
  eng/pipelines/fluent_integration.yaml: any of: *, but not: cadl*

update cadl test script
  cadl-tests/Generate.ps1
Due: eng/pipelines/ci-cadl-java.yaml

update cadl test script (#2045)
  cadl-tests/Generate.ps1
Due: eng/pipelines/ci-cadl-java.yaml

Log warning for unsupported auth options
  cadl-extension/src/code-model-builder.ts
Due: eng/pipelines/ci-cadl-java.yaml

add break
  cadl-extension/src/code-model-builder.ts
Due: eng/pipelines/ci-cadl-java.yaml

update lro-base
  cadl-tests/src/test/java/com/azure/lro/LroTests.java
Due: eng/pipelines/ci-cadl-java.yaml

Log warning for unsupported auth options (#2046)
  cadl-extension/src/code-model-builder.ts
Due: eng/pipelines/ci-cadl-java.yaml

use service-name from options as code model
  cadl-extension/changelog.md
  cadl-extension/package.json
  cadl-extension/src/code-model-builder.ts
  cadl-tests/package.json
Due: eng/pipelines/ci-cadl-java.yaml

fix
  typespec-tests/package.json
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/fluent_integration.yaml

fix namespce of partialupdate, it is still cadl
  typespec-tests/Generate.ps1
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/fluent_integration.yaml

re-generate test code
  azure-dataplane-tests/src/main/java/com/azure/containers/containerregistry/implementation/AuthenticationsImpl.java
  azure-dataplane-tests/src/main/java/com/azure/containers/containerregistry/models/OciAnnotations.java
  azure-dataplane-tests/src/main/java/com/azure/containers/containerregistry/models/OciImageManifest.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/fluent_integration.yaml

use service-name from options as code model (#2047)
  cadl-extension/changelog.md
  cadl-extension/package.json
  cadl-extension/src/code-model-builder.ts
  cadl-tests/package.json
Due: eng/pipelines/ci-cadl-java.yaml

rename ci
  eng/pipelines/ci-typespec-java.yaml
  eng/pipelines/publish-typespec-java.yaml
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/fluent_integration.yaml

Rename typespec maven profile
  eng/pipelines/ci-typespec-java.yaml
  eng/pipelines/publish-typespec-java.yaml
  pom.xml
  typespec-tests/readme.md
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/fluent_integration.yaml

update github actions
  .github/workflows/generate-test-code.yml
  .github/workflows/pre-release-typespec.yml
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/fluent_integration.yaml

update profile name to tsp
  .github/workflows/generate-test-code.yml
  .github/workflows/pre-release-typespec.yml
  eng/pipelines/ci-typespec-java.yaml
  eng/pipelines/publish-typespec-java.yaml
  pom.xml
  typespec-tests/readme.md
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/fluent_integration.yaml

Rename typespec maven profile (#2049)
  .github/workflows/generate-test-code.yml
  .github/workflows/pre-release-typespec.yml
  eng/pipelines/ci-typespec-java.yaml
  eng/pipelines/publish-typespec-java.yaml
  pom.xml
  typespec-tests/readme.md
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/fluent_integration.yaml

tsp, test case for literal
  typespec-tests/tsp/literal.tsp
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/fluent_integration.yaml

convert optional constant to enum
  preprocessor/src/main/java/com/azure/autorest/preprocessor/Preprocessor.java
  typespec-extension/src/code-model-builder.ts
  typespec-extension/src/common/schemas/constant.ts
  typespec-extension/src/main/java/com/azure/autorest/CadlPlugin.java
  typespec-tests/tsp/literal.tsp
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/fluent_integration.yaml

gen lieteral test
  typespec-tests/src/main/java/com/cadl/literalservice/LiteralServiceAsyncClient.java
  typespec-tests/src/main/java/com/cadl/literalservice/LiteralServiceClient.java
  typespec-tests/src/main/java/com/cadl/literalservice/LiteralServiceClientBuilder.java
  typespec-tests/src/main/java/com/cadl/literalservice/implementation/LiteralServiceClientImpl.java
  typespec-tests/src/main/java/com/cadl/literalservice/implementation/package-info.java
  typespec-tests/src/main/java/com/cadl/literalservice/models/Model.java
  typespec-tests/src/main/java/com/cadl/literalservice/models/OptionalLiteral.java
  typespec-tests/src/main/java/com/cadl/literalservice/models/OptionalLiteralParam.java
  typespec-tests/src/main/java/com/cadl/literalservice/models/package-info.java
  typespec-tests/src/main/java/com/cadl/literalservice/package-info.java
  typespec-tests/src/main/resources/cadl-literalservice.properties
  typespec-tests/src/test/java/com/cadl/literalservice/generated/LiteralServiceClientTestBase.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/fluent_integration.yaml

tsp, test case for literal (#2050)
  preprocessor/src/main/java/com/azure/autorest/preprocessor/Preprocessor.java
  typespec-extension/src/code-model-builder.ts
  typespec-extension/src/common/schemas/constant.ts
  typespec-extension/src/main/java/com/azure/autorest/CadlPlugin.java
  typespec-tests/src/main/java/com/cadl/literalservice/LiteralServiceAsyncClient.java
  typespec-tests/src/main/java/com/cadl/literalservice/LiteralServiceClient.java
  typespec-tests/src/main/java/com/cadl/literalservice/LiteralServiceClientBuilder.java
  typespec-tests/src/main/java/com/cadl/literalservice/implementation/LiteralServiceClientImpl.java
  typespec-tests/src/main/java/com/cadl/literalservice/implementation/package-info.java
  typespec-tests/src/main/java/com/cadl/literalservice/models/Model.java
  typespec-tests/src/main/java/com/cadl/literalservice/models/OptionalLiteral.java
  typespec-tests/src/main/java/com/cadl/literalservice/models/OptionalLiteralParam.java
  typespec-tests/src/main/java/com/cadl/literalservice/models/package-info.java
  typespec-tests/src/main/java/com/cadl/literalservice/package-info.java
  typespec-tests/src/main/resources/cadl-literalservice.properties
  typespec-tests/src/test/java/com/cadl/literalservice/generated/LiteralServiceClientTestBase.java
  typespec-tests/tsp/literal.tsp
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/fluent_integration.yaml

support nullableItems in DictionarySchema
  extension-base/src/main/java/com/azure/autorest/extension/base/model/codemodel/DictionarySchema.java
  javagen/src/main/java/com/azure/autorest/mapper/DictionaryMapper.java
  javagen/src/main/java/com/azure/autorest/model/clientmodel/MapType.java
  javagen/src/main/java/com/azure/autorest/template/ModelTemplate.java
  typespec-extension/src/code-model-builder.ts
  typespec-tests/src/test/java/com/dictionary/NullableFloatValueClientTests.java
  typespec-tests/tsp/builtin.tsp
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/fluent_integration.yaml

regen test
  typespec-tests/src/main/java/com/cadl/builtin/BuiltinAsyncClient.java
  typespec-tests/src/main/java/com/cadl/builtin/BuiltinClient.java
  typespec-tests/src/main/java/com/cadl/builtin/implementation/BuiltinClientImpl.java
  typespec-tests/src/main/java/com/cadl/builtin/models/Builtin.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/fluent_integration.yaml

mgmt, redact "authorization" property
  javagen/src/main/java/com/azure/autorest/util/ModelTestCaseUtil.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/fluent_integration.yaml

redact in Map
  javagen/src/main/java/com/azure/autorest/util/ModelExampleUtil.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/fluent_integration.yaml

nit
  Generate-TypeSpec.ps1
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/fluent_integration.yaml

fix UT, after redact
  fluentgen/src/test/java/com/azure/autorest/fluent/template/FluentExampleTests.java
Due: eng/pipelines/fluent_integration.yaml

Always Buffer the JSON Object when Handling Polymorphism
  javagen/src/main/java/com/azure/autorest/template/StreamSerializationModelTemplate.java
  vanilla-tests/src/main/java/fixtures/streamstyleserialization/models/DotFish.java
  vanilla-tests/src/main/java/fixtures/streamstyleserialization/models/Fish.java
  vanilla-tests/src/main/java/fixtures/streamstyleserialization/models/MyBaseType.java
  vanilla-tests/src/main/java/fixtures/streamstyleserialization/models/Salmon.java
  vanilla-tests/src/main/java/fixtures/streamstyleserialization/models/Shark.java
  vanilla-tests/src/main/java/fixtures/streamstyleserializationctorargs/models/DotFish.java
  vanilla-tests/src/main/java/fixtures/streamstyleserializationctorargs/models/Fish.java
  vanilla-tests/src/main/java/fixtures/streamstyleserializationctorargs/models/MyBaseType.java
  vanilla-tests/src/main/java/fixtures/streamstyleserializationctorargs/models/Salmon.java
  vanilla-tests/src/main/java/fixtures/streamstyleserializationctorargs/models/Shark.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/fluent_integration.yaml

mgmt, redact "authorization" property, also redact values in Map (#2053)
  Generate-TypeSpec.ps1
  fluentgen/src/test/java/com/azure/autorest/fluent/template/FluentExampleTests.java
  javagen/src/main/java/com/azure/autorest/util/ModelExampleUtil.java
  javagen/src/main/java/com/azure/autorest/util/ModelTestCaseUtil.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/fluent_integration.yaml

enable sync stack
  typespec-extension/src/emitter.ts
  typespec-extension/src/main/java/com/azure/autorest/CadlPlugin.java
  typespec-extension/src/main/java/com/azure/cadl/model/EmitterOptions.java
  typespec-tests/tspconfig.yaml
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/fluent_integration.yaml

Always Buffer the JSON Object when Handling Polymorphism (#2054)
  javagen/src/main/java/com/azure/autorest/template/StreamSerializationModelTemplate.java
  vanilla-tests/src/main/java/fixtures/streamstyleserialization/models/DotFish.java
  vanilla-tests/src/main/java/fixtures/streamstyleserialization/models/Fish.java
  vanilla-tests/src/main/java/fixtures/streamstyleserialization/models/MyBaseType.java
  vanilla-tests/src/main/java/fixtures/streamstyleserialization/models/Salmon.java
  vanilla-tests/src/main/java/fixtures/streamstyleserialization/models/Shark.java
  vanilla-tests/src/main/java/fixtures/streamstyleserializationctorargs/models/DotFish.java
  vanilla-tests/src/main/java/fixtures/streamstyleserializationctorargs/models/Fish.java
  vanilla-tests/src/main/java/fixtures/streamstyleserializationctorargs/models/MyBaseType.java
  vanilla-tests/src/main/java/fixtures/streamstyleserializationctorargs/models/Salmon.java
  vanilla-tests/src/main/java/fixtures/streamstyleserializationctorargs/models/Shark.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/fluent_integration.yaml

tsp, support possible null value in Dictionary (#2052)
  extension-base/src/main/java/com/azure/autorest/extension/base/model/codemodel/DictionarySchema.java
  javagen/src/main/java/com/azure/autorest/mapper/DictionaryMapper.java
  javagen/src/main/java/com/azure/autorest/model/clientmodel/MapType.java
  javagen/src/main/java/com/azure/autorest/template/ModelTemplate.java
  typespec-extension/src/code-model-builder.ts
  typespec-tests/src/main/java/com/cadl/builtin/BuiltinAsyncClient.java
  typespec-tests/src/main/java/com/cadl/builtin/BuiltinClient.java
  typespec-tests/src/main/java/com/cadl/builtin/implementation/BuiltinClientImpl.java
  typespec-tests/src/main/java/com/cadl/builtin/models/Builtin.java
  typespec-tests/src/test/java/com/dictionary/NullableFloatValueClientTests.java
  typespec-tests/tsp/builtin.tsp
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/fluent_integration.yaml

client, minor fix on javadoc of non-string enum
  javagen/src/main/java/com/azure/autorest/template/EnumTemplate.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/fluent_integration.yaml

re-generate test code
  vanilla-tests/src/main/java/fixtures/nonstringenum/models/FloatEnum.java
  vanilla-tests/src/main/java/fixtures/nonstringenum/models/IntEnum.java
Due: eng/pipelines/fluent_integration.yaml

client, minor fix on javadoc of non-string enum (#2059)
  javagen/src/main/java/com/azure/autorest/template/EnumTemplate.java
  vanilla-tests/src/main/java/fixtures/nonstringenum/models/FloatEnum.java
  vanilla-tests/src/main/java/fixtures/nonstringenum/models/IntEnum.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/fluent_integration.yaml

tsp, refactor ts code
  typespec-extension/src/code-model-builder.ts
  typespec-extension/src/utils.ts
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/fluent_integration.yaml

re-generate test code
  typespec-tests/src/main/java/com/cadl/multicontenttypes/MultiContentTypesAsyncClient.java
  typespec-tests/src/main/java/com/cadl/multicontenttypes/MultiContentTypesClient.java
  typespec-tests/src/main/java/com/cadl/multicontenttypes/implementation/MultiContentTypesClientImpl.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/fluent_integration.yaml
