Repository Azure/autorest.java: changes, and which Azure pipelines are due for each by the changed paths.
All: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

Path conditions:
  eng/pipelines/ci-cadl-java.yaml: any of: *, but not: fluent*, postprocessor, vanilla-tests, protocol*
  eng/pipelines/ci-typespec-java.yaml: any of: *, but not: androidgen, azure-dataplane-tests, azure-tests, fluent-tests, partial-update-tests, vanilla-tests, protocol*
  eng/pipelines/ci.yaml: any of: *, but not: fluent*, typespec*
  eng/pipelines/fluent_integration.yaml: any of: *, but not: typespec*

Attempt to fix TSP linting error
  typespec-tests/src/main/java/com/cadl/discriminatoredgecases/DiscriminatorEdgeCasesAsyncClient.java
  typespec-tests/src/main/java/com/cadl/discriminatoredgecases/DiscriminatorEdgeCasesClient.java
  typespec-tests/src/main/java/com/cadl/discriminatoredgecases/implementation/DiscriminatorEdgeCasesClientImpl.java
  typespec-tests/src/main/java/com/cadl/discriminatoredgecases/models/ChildWithAnotherDiscriminator.java
  typespec-tests/src/main/java/com/cadl/discriminatoredgecases/models/ChildWithRequiredPropertyAsDiscriminator.java
  typespec-tests/src/main/java/com/cadl/discriminatoredgecases/models/GrandChildWithAnotherDiscriminator.java
  typespec-tests/src/main/java/com/cadl/discriminatoredgecases/models/GrandChildWithRequiredProperty.java
  typespec-tests/src/main/java/com/cadl/discriminatoredgecases/models/ParentWithRequiredProperty.java
  typespec-tests/tsp/discriminator-edge-cases.tsp
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

Fix case where discriminator property is defined in two different ways (#2943)
  javagen/src/main/java/com/azure/autorest/implementation/ClientModelPropertiesManager.java
  typespec-tests/src/main/java/com/cadl/discriminatoredgecases/DiscriminatorEdgeCasesAsyncClient.java
  typespec-tests/src/main/java/com/cadl/discriminatoredgecases/DiscriminatorEdgeCasesClient.java
  typespec-tests/src/main/java/com/cadl/discriminatoredgecases/DiscriminatorEdgeCasesClientBuilder.java
  typespec-tests/src/main/java/com/cadl/discriminatoredgecases/implementation/DiscriminatorEdgeCasesClientImpl.java
  typespec-tests/src/main/java/com/cadl/discriminatoredgecases/implementation/package-info.java
  typespec-tests/src/main/java/com/cadl/discriminatoredgecases/models/ChildWithAnotherDiscriminator.java
  typespec-tests/src/main/java/com/cadl/discriminatoredgecases/models/ChildWithRequiredPropertyAsDiscriminator.java
  typespec-tests/src/main/java/com/cadl/discriminatoredgecases/models/GrandChildWithAnotherDiscriminator.java
  typespec-tests/src/main/java/com/cadl/discriminatoredgecases/models/GrandChildWithRequiredProperty.java
  typespec-tests/src/main/java/com/cadl/discriminatoredgecases/models/ParentWithRequiredProperty.java
  typespec-tests/src/main/java/com/cadl/discriminatoredgecases/models/package-info.java
  typespec-tests/src/main/java/com/cadl/discriminatoredgecases/package-info.java
  typespec-tests/src/main/resources/cadl-discriminatoredgecases.properties
  typespec-tests/src/test/java/com/cadl/discriminatoredgecases/generated/DiscriminatorEdgeCasesClientTestBase.java
  typespec-tests/tsp/discriminator-edge-cases.tsp
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

bump version
  typespec-extension/changelog.md
  typespec-extension/package-lock.json
  typespec-extension/package.json
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

include diff of package name
  core.diff
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

fix
  typespec-tests/package.json
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

sync version
  eng/versioning/sync_versions.py
  pom.xml
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

bump npm packages
  typespec-extension/changelog.md
  typespec-extension/package-lock.json
  typespec-extension/package.json
  typespec-extension/readme.md
  typespec-tests/package.json
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

eng
  .github/workflows/fluent-test-gen-all.yml
  .github/workflows/generate-test-code.yml
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

sync cadl-ranch
  typespec-tests/src/main/java/com/cadl/naming/NamingClientBuilder.java
  typespec-tests/src/main/java/com/cadl/naming/implementation/NamingOpsImpl.java
  typespec-tests/src/main/java/com/cadl/naming/implementation/package-info.java
  typespec-tests/src/main/java/com/cadl/naming/models/package-info.java
  typespec-tests/src/main/java/com/cadl/naming/package-info.java
  typespec-tests/src/main/java/com/parameters/bodyoptionality/BodyOptionalityAsyncClient.java
  typespec-tests/src/main/java/com/parameters/bodyoptionality/BodyOptionalityClient.java
  typespec-tests/src/main/java/com/parameters/bodyoptionality/implementation/BodyOptionalityClientImpl.java
  typespec-tests/src/main/java/com/parameters/bodyoptionality/implementation/models/RequiredImplicitRequest.java
  typespec-tests/src/main/java/com/parameters/spread/ModelAsyncClient.java
  typespec-tests/src/main/java/com/parameters/spread/ModelClient.java
  typespec-tests/src/main/java/com/parameters/spread/implementation/ModelsImpl.java
  typespec-tests/src/main/java/com/parameters/spread/implementation/models/SpreadAsRequestBodyRequest1.java
  typespec-tests/src/main/resources/cadl-naming.properties
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

eng
  .github/workflows/generate-test-code.yml
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

remove token
  .github/workflows/fluent-test-gen-all.yml
  .github/workflows/generate-test-code.yml
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

bump core and use 0.21, as 0.60 seems having more break than expected
  typespec-extension/changelog.md
  typespec-extension/package-lock.json
  typespec-extension/package.json
  typespec-tests/package.json
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

sync cadl-ranch
  typespec-tests/src/main/java/com/azure/resourcemanager/models/commontypes/managedidentity/fluent/models/ManagedIdentityTrackedResourceInner.java
  typespec-tests/src/main/java/com/azure/resourcemanager/models/resources/fluent/models/SingletonTrackedResourceInner.java
  typespec-tests/src/main/java/com/azure/resourcemanager/models/resources/fluent/models/TopLevelTrackedResourceInner.java
  typespec-tests/src/main/java/com/cadl/armstreamstyleserialization/fluent/models/TopLevelArmResourceInner.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

bump autorest.java too
  package.json
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

prepare typespec-java 0.21.0 (#2945)
  .github/workflows/fluent-test-gen-all.yml
  .github/workflows/generate-test-code.yml
  package.json
  typespec-extension/changelog.md
  typespec-extension/package-lock.json
  typespec-extension/package.json
  typespec-extension/readme.md
  typespec-tests/package.json
  typespec-tests/src/main/java/com/azure/resourcemanager/models/commontypes/managedidentity/fluent/models/ManagedIdentityTrackedResourceInner.java
  typespec-tests/src/main/java/com/azure/resourcemanager/models/resources/fluent/models/SingletonTrackedResourceInner.java
  typespec-tests/src/main/java/com/azure/resourcemanager/models/resources/fluent/models/TopLevelTrackedResourceInner.java
  typespec-tests/src/main/java/com/cadl/armstreamstyleserialization/fluent/models/TopLevelArmResourceInner.java
  typespec-tests/src/main/java/com/cadl/naming/NamingClientBuilder.java
  typespec-tests/src/main/java/com/cadl/naming/implementation/NamingOpsImpl.java
  typespec-tests/src/main/java/com/cadl/naming/implementation/package-info.java
  typespec-tests/src/main/java/com/cadl/naming/models/package-info.java
  typespec-tests/src/main/java/com/cadl/naming/package-info.java
  typespec-tests/src/main/java/com/parameters/bodyoptionality/BodyOptionalityAsyncClient.java
  typespec-tests/src/main/java/com/parameters/bodyoptionality/BodyOptionalityClient.java
  typespec-tests/src/main/java/com/parameters/bodyoptionality/implementation/BodyOptionalityClientImpl.java
  typespec-tests/src/main/java/com/parameters/bodyoptionality/implementation/models/RequiredImplicitRequest.java
  typespec-tests/src/main/java/com/parameters/spread/ModelAsyncClient.java
  typespec-tests/src/main/java/com/parameters/spread/ModelClient.java
  typespec-tests/src/main/java/com/parameters/spread/implementation/ModelsImpl.java
  typespec-tests/src/main/java/com/parameters/spread/implementation/models/SpreadAsRequestBodyRequest1.java
  typespec-tests/src/main/resources/cadl-naming.properties
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

fix
  fluent-tests/Initialize-Tests.ps1
  fluent-tests/src/test/java/com/azure/mgmttest/CompilationTests.java
  pom.xml
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

eng, bump core jar
  azure-dataplane-tests/pom.xml
  azure-tests/pom.xml
  customization-base/pom.xml
  customization-base/src/main/resources/pom.xml
  customization-tests/pom.xml
  eng/versioning/sync_versions.py
  extension-base/pom.xml
  fluent-tests/pom.xml
  pom.xml
  protocol-sdk-integration-tests/eng/versioning/version_client.txt
  protocol-tests/pom.xml
  typespec-tests/pom.xml
  vanilla-tests/pom.xml
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

core as cross-cut
  typespec-tests/src/main/java/com/azure/resourcemanager/models/commontypes/managedidentity/models/ManagedServiceIdentityType.java
  typespec-tests/src/main/java/com/azure/resourcemanager/models/resources/models/ProvisioningState.java
  typespec-tests/src/main/java/com/cadl/armresourceprovider/models/ActionType.java
  typespec-tests/src/main/java/com/cadl/armresourceprovider/models/Dog.java
  typespec-tests/src/main/java/com/cadl/armresourceprovider/models/DogKind.java
  typespec-tests/src/main/java/com/cadl/armresourceprovider/models/Golden.java
  typespec-tests/src/main/java/com/cadl/armresourceprovider/models/ManagedServiceIdentityType.java
  typespec-tests/src/main/java/com/cadl/armresourceprovider/models/Origin.java
  typespec-tests/src/main/java/com/cadl/armresourceprovider/models/ProvisioningState.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

clean up
  fluent-tests/pom.xml
  pom.xml
  typespec-tests/customization/pom.xml
  typespec-tests/pom.xml
  typespec-tests/src/test/java/com/azure/resourcemanager/models/commontypes/managedidentity/ManagedIdentityManagerTests.java
  typespec-tests/src/test/java/com/client/naming/NamingTests.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

exclude azure-core-http-jdk-httpclient
  typespec-tests/pom.xml
  vanilla-tests/pom.xml
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

remove explict netty as it contained in azure-core-test
  typespec-tests/pom.xml
  vanilla-tests/pom.xml
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

revert fluent-test
  fluent-tests/pom.xml
Due: eng/pipelines/fluent_integration.yaml

fix protocol-tests
  protocol-tests/pom.xml
Due: eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

eng, bump core jar (#2954)
  azure-dataplane-tests/pom.xml
  azure-tests/pom.xml
  customization-base/pom.xml
  customization-base/src/main/resources/pom.xml
  customization-tests/pom.xml
  eng/versioning/sync_versions.py
  extension-base/pom.xml
  fluent-tests/pom.xml
  pom.xml
  protocol-sdk-integration-tests/eng/versioning/version_client.txt
  protocol-tests/pom.xml
  typespec-tests/customization/pom.xml
  typespec-tests/pom.xml
  typespec-tests/src/main/java/com/azure/resourcemanager/models/commontypes/managedidentity/models/ManagedServiceIdentityType.java
  typespec-tests/src/main/java/com/azure/resourcemanager/models/resources/models/ProvisioningState.java
  typespec-tests/src/main/java/com/cadl/armresourceprovider/models/ActionType.java
  typespec-tests/src/main/java/com/cadl/armresourceprovider/models/Dog.java
  typespec-tests/src/main/java/com/cadl/armresourceprovider/models/DogKind.java
  typespec-tests/src/main/java/com/cadl/armresourceprovider/models/Golden.java
  typespec-tests/src/main/java/com/cadl/armresourceprovider/models/ManagedServiceIdentityType.java
  typespec-tests/src/main/java/com/cadl/armresourceprovider/models/Origin.java
  typespec-tests/src/main/java/com/cadl/armresourceprovider/models/ProvisioningState.java
  typespec-tests/src/test/java/com/azure/resourcemanager/models/commontypes/managedidentity/ManagedIdentityManagerTests.java
  typespec-tests/src/test/java/com/client/naming/NamingTests.java
  vanilla-tests/pom.xml
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

bump npm dependencies
  typespec-extension/package-lock.json
  typespec-extension/package.json
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

update core.diff
  core.diff
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

fix nightly
  typespec-tests/src/test/java/com/azure/resourcemanager/models/commontypes/managedidentity/ManagedIdentityManagerTests.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

fix nightly (#2956)
  typespec-tests/src/test/java/com/azure/resourcemanager/models/commontypes/managedidentity/ManagedIdentityManagerTests.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

bump version
  package-lock.json
  package.json
  typespec-extension/changelog.md
  typespec-extension/package-lock.json
  typespec-extension/package.json
  typespec-tests/package.json
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

sync https://github.com/microsoft/typespec/pull/4535
  customization-base/src/main/java/com/azure/autorest/customization/implementation/ls/EclipseLanguageServerFacade.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml
