Repository Azure/autorest.java: changes, and which Azure pipelines are due for each by the changed paths.
All: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

eng/pipelines/ci-cadl-java.yaml:
  jobs:
  - job: Build
    timeoutInMinutes: 30
    variables:
      JavaVersion: 1.8
      NodeVersion: 18.x
      isMain: $[eq(variables['Build.SourceBranch'], 'refs/heads/main')]
    pool:
      name: azsdk-pool-mms-ubuntu-2004-general
      vmImage: MMSUbuntu20.04
    steps:
    - task: NodeTool@0
  ...

eng/pipelines/ci-typespec-java.yaml:
  jobs:
  - job: Build_TypeSpec
    timeoutInMinutes: 60
    variables:
    - template: /eng/pipelines/variables/globals.yml
    - template: /eng/pipelines/variables/image.yml
    pool:
      name: $(LINUXPOOL)
      image: $(LINUXVMIMAGE)
      os: linux
    steps:
    - template: /eng/pipelines/steps/build-typespec.yml
  ...

eng/pipelines/ci.yaml:
  jobs:
  - template: /eng/pipelines/jobs/autorest-java.yml

eng/pipelines/fluent_integration.yaml:
  jobs:
  - template: /eng/pipelines/jobs/build-autorest-mgmt.yml

fix
  typespec-extension/package-lock.json
  typespec-extension/package.json
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

fix
  typespec-tests/package.json
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

sync test
  typespec-tests/src/main/java/tsptest/armstreamstyleserialization/fluent/models/FunctionConfiguration.java
  typespec-tests/src/test/java/tsptest/armstreamstyleserialization/StreamStyleSerializationTests.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

update core
  typespec-tests/src/main/java/tsptest/armstreamstyleserialization/fluent/models/FunctionConfiguration.java
  typespec-tests/src/test/java/tsptest/armstreamstyleserialization/StreamStyleSerializationTests.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

bump npm
  .github/copilot-instructions.md
  typespec-extension/package-lock.json
  typespec-extension/package.json
  typespec-tests/package.json
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

no need to exclude lib in ncu
  .github/copilot-instructions.md
  typespec-extension/package-lock.json
  typespec-extension/package.json
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

sync test
  typespec-tests/src/main/java/authentication/apikey/implementation/ApiKeyClientImpl.java
  typespec-tests/src/main/java/authentication/http/custom/implementation/CustomClientImpl.java
  typespec-tests/src/main/java/authentication/oauth2/implementation/OAuth2ClientImpl.java
  typespec-tests/src/main/java/azure/core/basic/implementation/BasicClientImpl.java
  typespec-tests/src/main/java/azure/resourcemanager/operationtemplates/implementation/LroesClientImpl.java
  typespec-tests/src/main/java/azure/resourcemanager/resources/implementation/ExtensionsResourcesClientImpl.java
  typespec-tests/src/main/java/azure/resourcemanager/resources/implementation/LocationResourcesClientImpl.java
  typespec-tests/src/main/java/azure/resourcemanager/resources/implementation/NestedsClientImpl.java
  typespec-tests/src/main/java/azure/resourcemanager/resources/implementation/TopLevelsClientImpl.java
  typespec-tests/src/main/java/response/statuscoderange/implementation/StatusCodeRangeClientImpl.java
  typespec-tests/src/main/java/tsptest/armresourceprovider/implementation/ChildExtensionResourceInterfacesClientImpl.java
  typespec-tests/src/main/java/tsptest/armresourceprovider/implementation/ChildResourcesInterfacesClientImpl.java
  typespec-tests/src/main/java/tsptest/armresourceprovider/implementation/ManagedMaintenanceWindowStatusOperationsClientImpl.java
  typespec-tests/src/main/java/tsptest/armresourceprovider/implementation/ModelInterfaceSameNamesClientImpl.java
  typespec-tests/src/main/java/tsptest/armresourceprovider/implementation/TopLevelArmResourceInterfacesClientImpl.java
  typespec-tests/src/main/java/tsptest/methodoverride/implementation/MethodOverrideClientImpl.java
  typespec-tests/src/main/java/tsptest/response/implementation/ResponseClientImpl.java
  typespec-tests/src/main/java/tsptest/specialheaders/implementation/SkipSpecialHeadersImpl.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

0.31.12
  typespec-extension/changelog.md
  typespec-extension/package-lock.json
  typespec-extension/package.json
  typespec-tests/package.json
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

eng, prepare 0.31.12 (#3175)
  .github/copilot-instructions.md
  typespec-extension/changelog.md
  typespec-extension/package-lock.json
  typespec-extension/package.json
  typespec-tests/package.json
  typespec-tests/src/main/java/authentication/apikey/implementation/ApiKeyClientImpl.java
  typespec-tests/src/main/java/authentication/http/custom/implementation/CustomClientImpl.java
  typespec-tests/src/main/java/authentication/oauth2/implementation/OAuth2ClientImpl.java
  typespec-tests/src/main/java/azure/core/basic/implementation/BasicClientImpl.java
  typespec-tests/src/main/java/azure/resourcemanager/operationtemplates/implementation/LroesClientImpl.java
  typespec-tests/src/main/java/azure/resourcemanager/resources/implementation/ExtensionsResourcesClientImpl.java
  typespec-tests/src/main/java/azure/resourcemanager/resources/implementation/LocationResourcesClientImpl.java
  typespec-tests/src/main/java/azure/resourcemanager/resources/implementation/NestedsClientImpl.java
  typespec-tests/src/main/java/azure/resourcemanager/resources/implementation/TopLevelsClientImpl.java
  typespec-tests/src/main/java/response/statuscoderange/implementation/StatusCodeRangeClientImpl.java
  typespec-tests/src/main/java/tsptest/armresourceprovider/implementation/ChildExtensionResourceInterfacesClientImpl.java
  typespec-tests/src/main/java/tsptest/armresourceprovider/implementation/ChildResourcesInterfacesClientImpl.java
  typespec-tests/src/main/java/tsptest/armresourceprovider/implementation/ManagedMaintenanceWindowStatusOperationsClientImpl.java
  typespec-tests/src/main/java/tsptest/armresourceprovider/implementation/ModelInterfaceSameNamesClientImpl.java
  typespec-tests/src/main/java/tsptest/armresourceprovider/implementation/TopLevelArmResourceInterfacesClientImpl.java
  typespec-tests/src/main/java/tsptest/methodoverride/implementation/MethodOverrideClientImpl.java
  typespec-tests/src/main/java/tsptest/response/implementation/ResponseClientImpl.java
  typespec-tests/src/main/java/tsptest/specialheaders/implementation/SkipSpecialHeadersImpl.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

npm bump
  typespec-extension/package-lock.json
  typespec-extension/package.json
  typespec-tests/package.json
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

0.32.0
  typespec-extension/changelog.md
  typespec-extension/package-lock.json
  typespec-extension/package.json
  typespec-tests/package.json
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

update commit ID for ARM module
  eng/sdk/sync_sdk.py
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

patches
  eng/sdk/patches/0001-revert-impl-in-batch.patch
  eng/sdk/patches/0001-revert-impl-in-communication.patch
  eng/sdk/patches/0001-revert-impl-in-contentsafety.patch
  eng/sdk/patches/0001-revert-impl-in-documentintelligence.patch
  eng/sdk/patches/0001-revert-impl-in-easm.patch
  eng/sdk/patches/0001-revert-impl-in-healthdataaiservices-azure-health-dei.patch
  eng/sdk/patches/0001-revert-impl-in-keyvault.patch
  eng/sdk/patches/0001-revert-impl-in-loadtesting.patch
  eng/sdk/patches/0001-revert-impl-in-monitor.patch
  eng/sdk/patches/0001-revert-impl-in-onlineexperimentation.patch
  eng/sdk/patches/0001-revert-impl-in-translation.patch
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

apply patches in script
  eng/sdk/sync_sdk.py
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

rename to core.patch
  Build-AutoRest.ps1
  Build-TypeSpec.ps1
  core.patch
  eng/pipelines/jobs/build-autorest-mgmt.yml
  eng/pipelines/jobs/build-autorest.yml
  eng/pipelines/publish-autorest-java.yaml
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

comment out commit ID bump
  eng/sdk/sync_sdk.py
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

Update Node.js packages to latest versions (#3180)
  typespec-extension/package-lock.json
  typespec-extension/package.json
  typespec-tests/package.json
  typespec-tests/src/main/java/azure/clientgenerator/core/hierarchybuilding/AnimalOperationsAsyncClient.java
  typespec-tests/src/main/java/azure/clientgenerator/core/hierarchybuilding/AnimalOperationsClient.java
  typespec-tests/src/main/java/azure/clientgenerator/core/hierarchybuilding/DogOperationsAsyncClient.java
  typespec-tests/src/main/java/azure/clientgenerator/core/hierarchybuilding/DogOperationsClient.java
  typespec-tests/src/main/java/azure/clientgenerator/core/hierarchybuilding/HierarchyBuildingClientBuilder.java
  typespec-tests/src/main/java/azure/clientgenerator/core/hierarchybuilding/PetOperationsAsyncClient.java
  typespec-tests/src/main/java/azure/clientgenerator/core/hierarchybuilding/PetOperationsClient.java
  typespec-tests/src/main/java/azure/clientgenerator/core/hierarchybuilding/implementation/AnimalOperationsImpl.java
  typespec-tests/src/main/java/azure/clientgenerator/core/hierarchybuilding/implementation/DogOperationsImpl.java
  typespec-tests/src/main/java/azure/clientgenerator/core/hierarchybuilding/implementation/HierarchyBuildingClientImpl.java
  typespec-tests/src/main/java/azure/clientgenerator/core/hierarchybuilding/implementation/PetOperationsImpl.java
  typespec-tests/src/test/java/azure/clientgenerator/core/hierarchybuilding/HierarchyBuildingTests.java
  typespec-tests/src/test/java/azure/clientgenerator/core/hierarchybuilding/generated/HierarchyBuildingClientTestBase.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

add networkSecurityPerimeter.json to storage test, to cause ResourceAutoGenerated
  fluent-tests/swagger/readme.storage.md
Due: eng/pipelines/fluent_integration.yaml

add a test
  fluent-tests/src/test/java/com/azure/mgmttest/CompilationTests.java
Due: eng/pipelines/fluent_integration.yaml

prepare 4.1.58
  package-lock.json
  package.json
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

move test to Runtime
  fluent-tests/src/test/java/com/azure/mgmttest/CompilationTests.java
  fluent-tests/src/test/java/com/azure/mgmttest/RuntimeTests.java
Due: eng/pipelines/fluent_integration.yaml

eng, add apply patches as post sdk-sync step (#3178)
  Build-AutoRest.ps1
  Build-TypeSpec.ps1
  core.patch
  eng/pipelines/jobs/build-autorest-mgmt.yml
  eng/pipelines/jobs/build-autorest.yml
  eng/pipelines/publish-autorest-java.yaml
  eng/sdk/patches/0001-revert-impl-in-batch.patch
  eng/sdk/patches/0001-revert-impl-in-communication.patch
  eng/sdk/patches/0001-revert-impl-in-contentsafety.patch
  eng/sdk/patches/0001-revert-impl-in-documentintelligence.patch
  eng/sdk/patches/0001-revert-impl-in-easm.patch
  eng/sdk/patches/0001-revert-impl-in-healthdataaiservices-azure-health-dei.patch
  eng/sdk/patches/0001-revert-impl-in-keyvault.patch
  eng/sdk/patches/0001-revert-impl-in-loadtesting.patch
  eng/sdk/patches/0001-revert-impl-in-monitor.patch
  eng/sdk/patches/0001-revert-impl-in-onlineexperimentation.patch
  eng/sdk/patches/0001-revert-impl-in-translation.patch
  eng/sdk/sync_sdk.py
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

Update Node.js packages to latest versions
  typespec-extension/package-lock.json
  typespec-extension/package.json
  typespec-tests/package.json
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

Sync tests after package updates
  typespec-tests/src/main/java/tsptest/patch/PatchAsyncClient.java
  typespec-tests/src/main/java/tsptest/patch/PatchClient.java
  typespec-tests/src/main/java/tsptest/patch/implementation/PatchesImpl.java
  typespec-tests/tsp/patch.tsp
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

patch version 0.32.1
  typespec-extension/changelog.md
  typespec-extension/package-lock.json
  typespec-extension/package.json
  typespec-tests/package.json
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

ignore azure-ai-projects on regen
  eng/sdk/sync_sdk.py
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

use latest core
  typespec-tests/src/test/java/tsptest/patch/PatchClientTest.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

update changelog
  typespec-extension/changelog.md
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

Path conditions:
  eng/pipelines/ci-cadl-java.yaml: any of: *, but not: fluent*, postprocessor, vanilla-tests, protocol*
  eng/pipelines/ci-typespec-java.yaml: any of: *, but not: azure-dataplane-tests, azure-tests, fluent-tests, partial-update-tests, vanilla-tests, protocol*
  eng/pipelines/ci.yaml: any of: *, but not: fluent*, typespec*
  eng/pipelines/fluent_integration.yaml: any of: *, but not: typespec*
