Repository Azure/autorest.java: changes, and which Azure pipelines are due for each by the changed paths.
All: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

eng/pipelines/ci-cadl-java.yaml:
  jobs:
  - job: Build
    timeoutInMinutes: 30
    variables:
      JavaVersion: 1.8
      NodeVersion: 18.x
      isMain: $[eq(variables['Build.SourceBranch'], 'refs/heads/main')]
    pool:
      name: azsdk-pool-mms-ubuntu-2004-general
      vmImage: MMSUbuntu20.04
    steps:
    - task: NodeTool@0
  ...

eng/pipelines/ci-typespec-java.yaml:
  jobs:
  - job: Build
    timeoutInMinutes: 30
    variables:
    - template: /eng/pipelines/variables/globals.yml
    - name: isMain
      value: $[eq(variables['Build.SourceBranch'], 'refs/heads/main')]
    pool:
      name: azsdk-pool-mms-ubuntu-2004-general
      vmImage: MMSUbuntu20.04
    steps:
  ...

eng/pipelines/ci.yaml:
  jobs:
  - job: Build
    timeoutInMinutes: 60
    variables:
      JavaVersion: 1.11
      NodeVersion: 18.x
    pool:
      name: azsdk-pool-mms-ubuntu-2004-general
      vmImage: MMSUbuntu20.04
    steps:
    - task: NodeTool@0
      displayName: Install Node.js $(NodeVersion)
      inputs:
  ...

eng/pipelines/fluent_integration.yaml:
  jobs:
  - job: Build
    timeoutInMinutes: 60
    pool:
      name: azsdk-pool-mms-ubuntu-2004-general
      vmImage: MMSUbuntu20.04
    variables:
    - template: /eng/pipelines/variables/globals.yml
    steps:
    - task: NodeTool@0
      inputs:
        versionSpec: $(NodeVersion)
    - script: npm install autorest -g
  ...

tsp, arm test utils (#2825)
  typespec-tests/src/test/java/com/azure/arm/models/resources/ArmResourceTest.java
  typespec-tests/src/test/java/org/utils/ArmUtils.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

disable stream-style for some RPs
  fluent-tests/Initialize-Tests.ps1
  fluent-tests/src/test/java/com/azure/mgmttest/RuntimeTests.java
Due: eng/pipelines/fluent_integration.yaml

address comments
  fluent-tests/Initialize-Tests.ps1
  fluent-tests/src/test/java/com/azure/mgmttest/RuntimeTests.java
  package-lock.json
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

tsp, cadl-ranch add test case for ARM
  typespec-tests/src/test/java/com/azure/arm/models/resources/ArmResourceTest.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

Fixed comments for pr#2827
  typespec-tests/src/test/java/com/azure/arm/models/resources/ArmResourceTest.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

enable stream-style for mgmt, prepare release 4.1.31 (#2824)
  fluent-tests/Initialize-Tests.ps1
  fluent-tests/src/test/java/com/azure/mgmttest/RuntimeTests.java
  fluentgen/readme.md
  package-lock.json
  package.json
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

tsp, cadl-ranch add test case for ARM (#2827)
  typespec-tests/src/test/java/com/azure/arm/models/resources/ArmResourceTest.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

tsp, add test for cadl-ranch Type/Array
  typespec-tests/src/test/java/com/type/array/NullableBooleanValueClientTest.java
  typespec-tests/src/test/java/com/type/array/NullableInt32ValueClientTest.java
  typespec-tests/src/test/java/com/type/array/NullableModelValueClientTest.java
  typespec-tests/src/test/java/com/type/array/NullableStringValueClientTest.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

tsp, add test for cadl-ranch Type/Property/Nullable
  typespec-tests/src/test/java/com/type/property/nullable/CollectionsStringClientTest.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

Fixed comments for pr#2830
  typespec-tests/src/test/java/com/type/array/NullableBooleanValueClientTest.java
  typespec-tests/src/test/java/com/type/array/NullableInt32ValueClientTest.java
  typespec-tests/src/test/java/com/type/array/NullableModelValueClientTest.java
  typespec-tests/src/test/java/com/type/array/NullableStringValueClientTest.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

Fixed comments for pr#2832
  typespec-tests/src/test/java/com/type/property/nullable/CollectionsStringClientTest.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

tsp, add test for cadl-ranch Type/Array (#2830)
  typespec-tests/src/test/java/com/type/array/NullableBooleanValueClientTest.java
  typespec-tests/src/test/java/com/type/array/NullableInt32ValueClientTest.java
  typespec-tests/src/test/java/com/type/array/NullableModelValueClientTest.java
  typespec-tests/src/test/java/com/type/array/NullableStringValueClientTest.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

tsp, add test for cadl-ranch Type/Property/Nullable (#2832)
  typespec-tests/src/test/java/com/type/property/nullable/CollectionsStringClientTest.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

add logics for process clients and operation
  typespec-extension/src/code-model-builder.ts
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

remove getEffectiveSchemaType from request body
  typespec-extension/src/code-model-builder.ts
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

update test
  typespec-tests/tsp/internal.tsp
  typespec-tests/tsp/literal.tsp
  typespec-tests/tsp/lro.tsp
  typespec-tests/tsp/naming.tsp
  typespec-tests/tsp/wire-type.tsp
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

re-generate test code
  typespec-tests/src/main/java/com/_specs_/azure/core/lro/rpc/RpcAsyncClient.java
  typespec-tests/src/main/java/com/_specs_/azure/core/lro/rpc/RpcClient.java
  typespec-tests/src/main/java/com/_specs_/azure/core/lro/rpc/implementation/RpcClientImpl.java
  typespec-tests/src/main/java/com/_specs_/azure/core/traits/TraitsAsyncClient.java
  typespec-tests/src/main/java/com/_specs_/azure/core/traits/TraitsClient.java
  typespec-tests/src/main/java/com/_specs_/azure/core/traits/implementation/TraitsClientImpl.java
  typespec-tests/src/main/java/com/cadl/internal/InternalAsyncClient.java
  typespec-tests/src/main/java/com/cadl/internal/InternalClient.java
  typespec-tests/src/main/java/com/cadl/internal/implementation/InternalOpsImpl.java
  typespec-tests/src/main/java/com/cadl/internal/models/ApiRequest.java
  typespec-tests/src/main/java/com/cadl/literalservice/LiteralServiceAsyncClient.java
  typespec-tests/src/main/java/com/cadl/literalservice/LiteralServiceClient.java
  typespec-tests/src/main/java/com/cadl/literalservice/implementation/LiteralOpsImpl.java
  typespec-tests/src/main/java/com/cadl/literalservice/implementation/models/package-info.java
  typespec-tests/src/main/java/com/cadl/literalservice/models/Model.java
  typespec-tests/src/main/java/com/cadl/longrunning/LongRunningAsyncClient.java
  typespec-tests/src/main/java/com/cadl/longrunning/LongRunningClient.java
  typespec-tests/src/main/java/com/cadl/longrunning/implementation/LongRunningClientImpl.java
  typespec-tests/src/main/java/com/cadl/longrunning/implementation/models/package-info.java
  typespec-tests/src/main/java/com/cadl/longrunning/models/JobData.java
  typespec-tests/src/main/java/com/cadl/naming/NamingAsyncClient.java
  typespec-tests/src/main/java/com/cadl/naming/NamingClient.java
  typespec-tests/src/main/java/com/cadl/naming/implementation/NamingOpsImpl.java
  typespec-tests/src/main/java/com/cadl/naming/implementation/models/package-info.java
  typespec-tests/src/main/java/com/cadl/naming/models/DataRequest.java
  typespec-tests/src/main/java/com/cadl/wiretype/WireTypeAsyncClient.java
  typespec-tests/src/main/java/com/cadl/wiretype/WireTypeClient.java
  typespec-tests/src/main/java/com/cadl/wiretype/implementation/WireTypeOpsImpl.java
  typespec-tests/src/main/java/com/cadl/wiretype/implementation/models/package-info.java
  typespec-tests/src/main/java/com/cadl/wiretype/models/SubClass.java
  typespec-tests/src/main/java/com/cadl/wiretype/models/SubClassBothMismatch.java
  typespec-tests/src/main/java/com/cadl/wiretype/models/SubClassMismatch.java
  typespec-tests/src/main/java/com/parameters/spread/ModelAsyncClient.java
  typespec-tests/src/main/java/com/parameters/spread/ModelClient.java
  typespec-tests/src/main/java/com/parameters/spread/implementation/ModelsImpl.java
  typespec-tests/src/samples/java/com/cadl/longrunning/generated/LongRunningCreateJob.java
  typespec-tests/src/test/java/com/cadl/longrunning/generated/LongRunningCreateJobTests.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

should use bodyRoot for model containing query etc.
  typespec-tests/tsp/naming.tsp
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

re-generate test code
  typespec-tests/src/main/java/com/cadl/internal/InternalAsyncClient.java
  typespec-tests/src/main/java/com/cadl/internal/InternalClient.java
  typespec-tests/src/main/java/com/cadl/internal/implementation/InternalOpsImpl.java
  typespec-tests/src/main/java/com/cadl/literalservice/LiteralServiceAsyncClient.java
  typespec-tests/src/main/java/com/cadl/literalservice/LiteralServiceClient.java
  typespec-tests/src/main/java/com/cadl/literalservice/implementation/LiteralOpsImpl.java
  typespec-tests/src/main/java/com/cadl/longrunning/LongRunningAsyncClient.java
  typespec-tests/src/main/java/com/cadl/longrunning/LongRunningClient.java
  typespec-tests/src/main/java/com/cadl/longrunning/implementation/LongRunningClientImpl.java
  typespec-tests/src/main/java/com/cadl/naming/NamingAsyncClient.java
  typespec-tests/src/main/java/com/cadl/naming/NamingClient.java
  typespec-tests/src/main/java/com/cadl/naming/implementation/NamingOpsImpl.java
  typespec-tests/src/main/java/com/cadl/wiretype/WireTypeAsyncClient.java
  typespec-tests/src/main/java/com/cadl/wiretype/WireTypeClient.java
  typespec-tests/src/main/java/com/cadl/wiretype/implementation/WireTypeOpsImpl.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

add typespec-autorest to dependency
  typespec-extension/package-lock.json
  typespec-extension/package.json
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

tsp, update local test for spread (#2835)
  typespec-extension/package-lock.json
  typespec-extension/package.json
  typespec-tests/src/main/java/com/cadl/internal/InternalAsyncClient.java
  typespec-tests/src/main/java/com/cadl/internal/InternalClient.java
  typespec-tests/src/main/java/com/cadl/internal/implementation/InternalOpsImpl.java
  typespec-tests/src/main/java/com/cadl/literalservice/LiteralServiceAsyncClient.java
  typespec-tests/src/main/java/com/cadl/literalservice/LiteralServiceClient.java
  typespec-tests/src/main/java/com/cadl/literalservice/implementation/LiteralOpsImpl.java
  typespec-tests/src/main/java/com/cadl/longrunning/LongRunningAsyncClient.java
  typespec-tests/src/main/java/com/cadl/longrunning/LongRunningClient.java
  typespec-tests/src/main/java/com/cadl/longrunning/implementation/LongRunningClientImpl.java
  typespec-tests/src/main/java/com/cadl/naming/NamingAsyncClient.java
  typespec-tests/src/main/java/com/cadl/naming/NamingClient.java
  typespec-tests/src/main/java/com/cadl/naming/implementation/NamingOpsImpl.java
  typespec-tests/src/main/java/com/cadl/wiretype/WireTypeAsyncClient.java
  typespec-tests/src/main/java/com/cadl/wiretype/WireTypeClient.java
  typespec-tests/src/main/java/com/cadl/wiretype/implementation/WireTypeOpsImpl.java
  typespec-tests/tsp/internal.tsp
  typespec-tests/tsp/literal.tsp
  typespec-tests/tsp/lro.tsp
  typespec-tests/tsp/naming.tsp
  typespec-tests/tsp/wire-type.tsp
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

tsp, set request mediaTypes from body.contentTypes
  typespec-extension/src/code-model-builder.ts
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

re-generate test code
  typespec-tests/src/main/java/com/cadl/optional/OptionalAsyncClient.java
  typespec-tests/src/main/java/com/cadl/optional/OptionalClient.java
  typespec-tests/src/main/java/com/cadl/optional/implementation/OptionalOpsImpl.java
  typespec-tests/src/main/java/com/cadl/specialheaders/EtagHeadersOptionalBodyAsyncClient.java
  typespec-tests/src/main/java/com/cadl/specialheaders/EtagHeadersOptionalBodyClient.java
  typespec-tests/src/main/java/com/cadl/specialheaders/implementation/EtagHeadersOptionalBodiesImpl.java
  typespec-tests/src/main/java/com/parameters/bodyoptionality/OptionalExplicitAsyncClient.java
  typespec-tests/src/main/java/com/parameters/bodyoptionality/OptionalExplicitClient.java
  typespec-tests/src/main/java/com/parameters/bodyoptionality/implementation/OptionalExplicitsImpl.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

format
  typespec-extension/src/code-model-builder.ts
  typespec-extension/src/operation-utils.ts
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

tsp, set request mediaTypes from body.contentTypes (#2836)
  typespec-extension/src/code-model-builder.ts
  typespec-extension/src/operation-utils.ts
  typespec-tests/src/main/java/com/cadl/optional/OptionalAsyncClient.java
  typespec-tests/src/main/java/com/cadl/optional/OptionalClient.java
  typespec-tests/src/main/java/com/cadl/optional/implementation/OptionalOpsImpl.java
  typespec-tests/src/main/java/com/cadl/specialheaders/EtagHeadersOptionalBodyAsyncClient.java
  typespec-tests/src/main/java/com/cadl/specialheaders/EtagHeadersOptionalBodyClient.java
  typespec-tests/src/main/java/com/cadl/specialheaders/implementation/EtagHeadersOptionalBodiesImpl.java
  typespec-tests/src/main/java/com/parameters/bodyoptionality/OptionalExplicitAsyncClient.java
  typespec-tests/src/main/java/com/parameters/bodyoptionality/OptionalExplicitClient.java
  typespec-tests/src/main/java/com/parameters/bodyoptionality/implementation/OptionalExplicitsImpl.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

bump version
  package-lock.json
  package.json
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

mgmt, update readme template, avoid AZURE_CLIENT_SECRET
  fluentgen/src/main/resources/Readme.txt
Due: eng/pipelines/ci-typespec-java.yaml, eng/pipelines/fluent_integration.yaml

client, use CoreUtils.randomUuid
  javagen/src/main/java/com/azure/autorest/model/clientmodel/ClientMethod.java
  javagen/src/main/java/com/azure/autorest/template/ClientMethodTemplate.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

re-generate test code
  typespec-tests/src/main/java/com/_specs_/azure/core/traits/implementation/TraitsClientImpl.java
  typespec-tests/src/main/java/com/cadl/longrunning/implementation/LongRunningClientImpl.java
  typespec-tests/src/main/java/com/cadl/specialheaders/implementation/RepeatabilityHeadersImpl.java
  typespec-tests/src/main/java/com/specialheaders/repeatability/implementation/RepeatabilityClientImpl.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

re-generate test code
  protocol-tests/src/main/java/fixtures/specialheader/implementation/HeadersImpl.java
  vanilla-tests/src/main/java/fixtures/specialheader/Headers.java
Due: eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

client, CoreUtils.randomUuid (#2838)
  javagen/src/main/java/com/azure/autorest/model/clientmodel/ClientMethod.java
  javagen/src/main/java/com/azure/autorest/template/ClientMethodTemplate.java
  protocol-tests/src/main/java/fixtures/specialheader/implementation/HeadersImpl.java
  typespec-tests/src/main/java/com/_specs_/azure/core/traits/implementation/TraitsClientImpl.java
  typespec-tests/src/main/java/com/cadl/longrunning/implementation/LongRunningClientImpl.java
  typespec-tests/src/main/java/com/cadl/specialheaders/implementation/RepeatabilityHeadersImpl.java
  typespec-tests/src/main/java/com/specialheaders/repeatability/implementation/RepeatabilityClientImpl.java
  vanilla-tests/src/main/java/fixtures/specialheader/Headers.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

client, repeatability-first-sent should be set when sending request
  fluentgen/src/main/java/com/azure/autorest/fluent/template/FluentClientMethodTemplate.java
  javagen/src/main/java/com/azure/autorest/mapper/ProxyMethodMapper.java
  javagen/src/main/java/com/azure/autorest/template/ClientMethodTemplate.java
  javagen/src/main/java/com/azure/autorest/util/MethodUtil.java
  protocol-tests/src/main/java/fixtures/specialheader/implementation/HeadersImpl.java
  protocol-tests/src/test/java/fixtures/specialheader/SpecialHeaderTests.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

Update Readme.txt
  fluentgen/src/main/resources/Readme.txt
Due: eng/pipelines/ci-typespec-java.yaml, eng/pipelines/fluent_integration.yaml

re-generate test code
  protocol-tests/src/main/java/fixtures/specialheader/implementation/HeadersImpl.java
  typespec-tests/src/main/java/com/_specs_/azure/core/traits/implementation/TraitsClientImpl.java
  typespec-tests/src/main/java/com/cadl/longrunning/implementation/LongRunningClientImpl.java
  typespec-tests/src/main/java/com/cadl/specialheaders/implementation/RepeatabilityHeadersImpl.java
  typespec-tests/src/main/java/com/specialheaders/repeatability/implementation/RepeatabilityClientImpl.java
  vanilla-tests/src/main/java/fixtures/specialheader/Headers.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

use MockHttpResponse from core-test
  protocol-tests/pom.xml
  protocol-tests/src/test/java/fixtures/MockHttpResponse.java
  protocol-tests/src/test/java/fixtures/dpgcustomization/DpgSendRequestTests.java
  protocol-tests/src/test/java/fixtures/specialheader/SpecialHeaderTests.java
  vanilla-tests/pom.xml
  vanilla-tests/src/test/java/fixtures/specialheader/SpecialHeaderTests.java
Due: eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

mgmt, update readme template, avoid AZURE_CLIENT_SECRET (#2837)
  fluentgen/src/main/resources/Readme.txt
  package-lock.json
  package.json
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

client, include file content on format error
  postprocessor/src/main/java/com/azure/autorest/postprocessor/implementation/CodeFormatterUtil.java
Due: eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

client, print file content, if format error
  postprocessor/src/main/java/com/azure/autorest/postprocessor/implementation/CodeFormatterUtil.java
Due: eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

replace logic to process response
  typespec-extension/src/code-model-builder.ts
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

Path conditions:
  eng/pipelines/ci-cadl-java.yaml: any of: *, but not: fluent*, postprocessor, vanilla-tests, protocol*
  eng/pipelines/ci-typespec-java.yaml: any of: *, but not: androidgen, azure-dataplane-tests, azure-tests, fluent-tests, partial-update-tests, vanilla-tests, protocol*
  eng/pipelines/ci.yaml: any of: *, but not: fluent*, typespec*
  eng/pipelines/fluent_integration.yaml: any of: *, but not: typespec*
