Repository Azure/autorest.java: changes, and which Azure pipelines are due for each by the changed paths.
All: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

Path conditions:
  eng/pipelines/ci-cadl-java.yaml: any of: *, but not: fluent*, postprocessor, vanilla-tests, protocol*
  eng/pipelines/ci-typespec-java.yaml: any of: *, but not: fluent*, postprocessor, vanilla-tests, protocol*
  eng/pipelines/ci.yaml: any of: *, but not: fluent*, typespec*
  eng/pipelines/fluent_integration.yaml: any of: *, but not: typespec*

remove mockito from DPG pom
  javagen/src/main/java/com/azure/autorest/mapper/PomMapper.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

client, add bytebuddy to test dependency in pom (#2490)
  eng/versioning/external_dependencies.txt
  eng/versioning/sync_versions.py
  fluentgen/src/main/java/com/azure/autorest/fluent/mapper/FluentPomMapper.java
  javagen/src/main/java/com/azure/autorest/mapper/PomMapper.java
  javagen/src/main/java/com/azure/autorest/model/projectmodel/Project.java
  typespec-tests/src/test/java/com/server/versions/NotVersionedTests.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

fix dependency
  typespec-extension/package-lock.json
  typespec-extension/package.json
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

fix dependency, use fixed version for devDependency
  typespec-extension/package-lock.json
  typespec-extension/package.json
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

tsp, refactor, move multipart in code-model to serializationFormats
  extension-base/src/main/java/com/azure/autorest/extension/base/model/codemodel/SchemaContext.java
  javagen/src/main/java/com/azure/autorest/mapper/ModelMapper.java
  javagen/src/main/java/com/azure/autorest/model/clientmodel/ClientModel.java
  javagen/src/main/java/com/azure/autorest/model/clientmodel/ImplementationDetails.java
  javagen/src/main/java/com/azure/autorest/template/ConvenienceAsyncMethodTemplate.java
  javagen/src/main/java/com/azure/autorest/template/ConvenienceMethodTemplateBase.java
  javagen/src/main/java/com/azure/autorest/template/ConvenienceSyncMethodTemplate.java
  typespec-extension/src/code-model-builder.ts
  typespec-extension/src/common/schemas/usage.ts
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

format
  typespec-extension/src/code-model-builder.ts
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

fix
  androidgen/src/main/java/com/azure/autorest/android/model/clientmodel/AndroidClientModel.java
  javagen/src/main/java/com/azure/autorest/mapper/ModelMapper.java
  javagen/src/main/java/com/azure/autorest/model/clientmodel/ClientModel.java
  javagen/src/main/java/com/azure/autorest/template/ConvenienceMethodTemplateBase.java
  typespec-extension/src/main/java/com/azure/autorest/TypeSpecPlugin.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

remove unused class
  javagen/src/main/java/com/azure/autorest/template/ModelTemplate.java
  javagen/src/main/java/com/azure/autorest/template/PatchModelTemplate.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

fix
  typespec-extension/src/main/java/com/azure/autorest/TypeSpecPlugin.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

fix code-model-builder
  typespec-extension/src/code-model-builder.ts
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

nitg
  javagen/src/main/java/com/azure/autorest/template/ConvenienceMethodTemplateBase.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

avoid hardcoded
  javagen/src/main/java/com/azure/autorest/template/ConvenienceMethodTemplateBase.java
  javagen/src/main/java/com/azure/autorest/util/SchemaUtil.java
  typespec-extension/src/main/java/com/azure/autorest/TypeSpecPlugin.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

do not generate convenient method for json merge patch operation if stream-style-serialization is not enabled
  typespec-extension/src/code-model-builder.ts
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

use fromBytes() and toBytes() to fire serialization
  javagen/src/main/java/com/azure/autorest/template/ConvenienceMethodTemplateBase.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

fix
  javagen/src/main/java/com/azure/autorest/model/clientmodel/ClientModel.java
  javagen/src/main/java/com/azure/autorest/util/SchemaUtil.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

eng, bump version on checkstyle and spotbugs
  eng/versioning/external_dependencies.txt
  fluent-tests/pom.xml
  pom.xml
  protocol-sdk-integration-tests/eng/code-quality-reports/pom.xml
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

fix arm api-version
  typespec-extension/src/code-model-builder.ts
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

tsp, refactor, move multipart in code-model to serializationFormats (#2494)
  androidgen/src/main/java/com/azure/autorest/android/model/clientmodel/AndroidClientModel.java
  extension-base/src/main/java/com/azure/autorest/extension/base/model/codemodel/SchemaContext.java
  javagen/src/main/java/com/azure/autorest/mapper/ModelMapper.java
  javagen/src/main/java/com/azure/autorest/model/clientmodel/ClientModel.java
  javagen/src/main/java/com/azure/autorest/model/clientmodel/ImplementationDetails.java
  javagen/src/main/java/com/azure/autorest/template/ConvenienceAsyncMethodTemplate.java
  javagen/src/main/java/com/azure/autorest/template/ConvenienceMethodTemplateBase.java
  javagen/src/main/java/com/azure/autorest/template/ConvenienceSyncMethodTemplate.java
  javagen/src/main/java/com/azure/autorest/template/ModelTemplate.java
  javagen/src/main/java/com/azure/autorest/template/PatchModelTemplate.java
  javagen/src/main/java/com/azure/autorest/util/SchemaUtil.java
  typespec-extension/src/code-model-builder.ts
  typespec-extension/src/common/schemas/usage.ts
  typespec-extension/src/main/java/com/azure/autorest/TypeSpecPlugin.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

update comment
  javagen/src/main/java/com/azure/autorest/template/ConvenienceMethodTemplateBase.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

ModelTemplate handle model without serialization code
  javagen/src/main/java/com/azure/autorest/template/ModelTemplate.java
  typespec-tests/src/main/java/com/cadl/multipart/models/FormData.java
  typespec-tests/src/main/java/com/payload/multipart/models/BinaryArrayPartsRequest.java
  typespec-tests/src/main/java/com/payload/multipart/models/ComplexPartsRequest.java
  typespec-tests/src/main/java/com/payload/multipart/models/JsonArrayPartsRequest.java
  typespec-tests/src/main/java/com/payload/multipart/models/JsonPartRequest.java
  typespec-tests/src/main/java/com/payload/multipart/models/MultiBinaryPartsRequest.java
  typespec-tests/src/main/java/com/payload/multipart/models/MultiPartRequest.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

regen
  typespec-tests/src/main/java/com/_specs_/azure/core/basic/BasicAsyncClient.java
  typespec-tests/src/main/java/com/_specs_/azure/core/basic/BasicClient.java
  typespec-tests/src/main/java/com/cadl/patch/PatchAsyncClient.java
  typespec-tests/src/main/java/com/cadl/patch/PatchClient.java
  typespec-tests/src/main/java/com/cadl/specialheaders/RepeatabilityHeadersAsyncClient.java
  typespec-tests/src/main/java/com/cadl/specialheaders/RepeatabilityHeadersClient.java
  typespec-tests/src/main/java/com/type/property/nullable/BytesAsyncClient.java
  typespec-tests/src/main/java/com/type/property/nullable/BytesClient.java
  typespec-tests/src/main/java/com/type/property/nullable/CollectionsByteAsyncClient.java
  typespec-tests/src/main/java/com/type/property/nullable/CollectionsByteClient.java
  typespec-tests/src/main/java/com/type/property/nullable/CollectionsModelAsyncClient.java
  typespec-tests/src/main/java/com/type/property/nullable/CollectionsModelClient.java
  typespec-tests/src/main/java/com/type/property/nullable/DatetimeOperationAsyncClient.java
  typespec-tests/src/main/java/com/type/property/nullable/DatetimeOperationClient.java
  typespec-tests/src/main/java/com/type/property/nullable/DurationOperationAsyncClient.java
  typespec-tests/src/main/java/com/type/property/nullable/DurationOperationClient.java
  typespec-tests/src/main/java/com/type/property/nullable/StringOperationAsyncClient.java
  typespec-tests/src/main/java/com/type/property/nullable/StringOperationClient.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

sync spotbug
  fluent-tests/pom.xml
Due: eng/pipelines/fluent_integration.yaml

suppress EI_EXPOSE_REP,EI_EXPOSE_REP2,PI_DO_NOT_REUSE_PUBLIC_IDENTIFIERS_CLASS_NAMES
  fluent-tests/spotbugs-exclude.xml
Due: eng/pipelines/fluent_integration.yaml

fix
  javagen/src/main/java/com/azure/autorest/template/ModelTemplate.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

json-merge-patch, turnoff convenient method for json-merge-patch if stream-style-serialization is disabled (#2497)
  javagen/src/main/java/com/azure/autorest/template/ConvenienceMethodTemplateBase.java
  typespec-extension/src/code-model-builder.ts
  typespec-tests/src/main/java/com/_specs_/azure/core/basic/BasicAsyncClient.java
  typespec-tests/src/main/java/com/_specs_/azure/core/basic/BasicClient.java
  typespec-tests/src/main/java/com/cadl/patch/PatchAsyncClient.java
  typespec-tests/src/main/java/com/cadl/patch/PatchClient.java
  typespec-tests/src/main/java/com/cadl/specialheaders/RepeatabilityHeadersAsyncClient.java
  typespec-tests/src/main/java/com/cadl/specialheaders/RepeatabilityHeadersClient.java
  typespec-tests/src/main/java/com/type/property/nullable/BytesAsyncClient.java
  typespec-tests/src/main/java/com/type/property/nullable/BytesClient.java
  typespec-tests/src/main/java/com/type/property/nullable/CollectionsByteAsyncClient.java
  typespec-tests/src/main/java/com/type/property/nullable/CollectionsByteClient.java
  typespec-tests/src/main/java/com/type/property/nullable/CollectionsModelAsyncClient.java
  typespec-tests/src/main/java/com/type/property/nullable/CollectionsModelClient.java
  typespec-tests/src/main/java/com/type/property/nullable/DatetimeOperationAsyncClient.java
  typespec-tests/src/main/java/com/type/property/nullable/DatetimeOperationClient.java
  typespec-tests/src/main/java/com/type/property/nullable/DurationOperationAsyncClient.java
  typespec-tests/src/main/java/com/type/property/nullable/DurationOperationClient.java
  typespec-tests/src/main/java/com/type/property/nullable/StringOperationAsyncClient.java
  typespec-tests/src/main/java/com/type/property/nullable/StringOperationClient.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

tsp, prepare for release 0.12.2
  typespec-extension/changelog.md
  typespec-extension/package.json
  typespec-tests/package.json
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

tsp, add test for cadl-ranch Type/Model and Type/Property (#2489)
  typespec-tests/src/test/java/com/type/model/inheritance/NestedDiscriminatorTests.java
  typespec-tests/src/test/java/com/type/property/additionalproperties/ExtendsTests.java
  typespec-tests/src/test/java/com/type/property/additionalproperties/IsUnknownClientTest.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

add back default service version for mpg
  typespec-extension/src/code-model-builder.ts
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

fix typespec
  typespec-extension/src/code-model-builder.ts
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

regen
  typespec-tests/src/main/java/com/type/property/additionalproperties/IsUnknownDerivedAsyncClient.java
  typespec-tests/src/main/java/com/type/property/additionalproperties/IsUnknownDerivedClient.java
  typespec-tests/src/main/java/com/type/property/additionalproperties/implementation/IsUnknownDerivedsImpl.java
  typespec-tests/src/main/java/com/type/property/additionalproperties/models/IsFloatAdditionalProperties.java
  typespec-tests/src/main/java/com/type/property/additionalproperties/models/IsStringAdditionalProperties.java
  typespec-tests/src/main/java/com/type/property/additionalproperties/models/IsUnknownAdditionalProperties.java
  typespec-tests/src/main/java/com/type/property/additionalproperties/models/IsUnknownAdditionalPropertiesDerived.java
  typespec-tests/src/main/java/com/type/property/additionalproperties/models/IsUnknownAdditionalPropertiesDiscriminated.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

fix test
  typespec-tests/src/test/java/com/type/property/additionalproperties/IsUnknownClientTest.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

Update changelog.md
  typespec-extension/changelog.md
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

disable test
  typespec-tests/src/main/java/com/type/property/additionalproperties/models/IsUnknownAdditionalPropertiesDiscriminatedDerived.java
  typespec-tests/src/test/java/com/type/property/additionalproperties/IsUnknownClientTest.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

tsp, typespec-java, prepare for release 0.12.2 (#2498)
  typespec-extension/changelog.md
  typespec-extension/package.json
  typespec-tests/package.json
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

eng, bump version on checkstyle and spotbugs (#2495)
  eng/versioning/external_dependencies.txt
  fluent-tests/pom.xml
  fluent-tests/spotbugs-exclude.xml
  pom.xml
  protocol-sdk-integration-tests/eng/code-quality-reports/pom.xml
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

fix extends test, which works in Jackson
  typespec-tests/src/test/java/com/type/property/additionalproperties/ExtendsTests.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

tsp, remove serialization interface/code from multipart model (#2496)
  javagen/src/main/java/com/azure/autorest/template/ModelTemplate.java
  typespec-tests/src/main/java/com/cadl/multipart/models/FormData.java
  typespec-tests/src/main/java/com/payload/multipart/models/BinaryArrayPartsRequest.java
  typespec-tests/src/main/java/com/payload/multipart/models/ComplexPartsRequest.java
  typespec-tests/src/main/java/com/payload/multipart/models/JsonArrayPartsRequest.java
  typespec-tests/src/main/java/com/payload/multipart/models/JsonPartRequest.java
  typespec-tests/src/main/java/com/payload/multipart/models/MultiBinaryPartsRequest.java
  typespec-tests/src/main/java/com/payload/multipart/models/MultiPartRequest.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

avoid naming a std scalar
  typespec-extension/src/code-model-builder.ts
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

update class name in CustomizationEncodeBytes
  typespec-tests/customization/src/main/java/CustomizationEncodeBytes.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml
