Repository Azure/autorest.java: changes, and which Azure pipelines are due for each by the changed paths.
All: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

eng/pipelines/ci-cadl-java.yaml:
  jobs:
  - job: Build
    timeoutInMinutes: 30
    variables:
      JavaVersion: 1.8
      NodeVersion: 18.x
      isMain: $[eq(variables['Build.SourceBranch'], 'refs/heads/main')]
    pool:
      name: azsdk-pool-mms-ubuntu-2004-general
      vmImage: MMSUbuntu20.04
    steps:
    - task: NodeTool@0
  ...

eng/pipelines/ci-typespec-java.yaml:
  jobs:
  - job: Build
    timeoutInMinutes: 30
    variables:
    - template: /eng/pipelines/variables/globals.yml
    - name: isMain
      value: $[eq(variables['Build.SourceBranch'], 'refs/heads/main')]
    pool:
      name: azsdk-pool-mms-ubuntu-2004-general
      vmImage: MMSUbuntu20.04
    steps:
  ...

eng/pipelines/ci.yaml:
  jobs:
  - job: Build
    timeoutInMinutes: 60
    variables:
      JavaVersion: 1.11
      NodeVersion: 18.x
    pool:
      name: azsdk-pool-mms-ubuntu-2004-general
      vmImage: MMSUbuntu20.04
    steps:
    - task: NodeTool@0
      displayName: Install Node.js $(NodeVersion)
      inputs:
  ...

eng/pipelines/fluent_integration.yaml:
  jobs:
  - job: Build
    timeoutInMinutes: 60
    pool:
      name: azsdk-pool-mms-ubuntu-2004-general
      vmImage: MMSUbuntu20.04
    variables:
    - template: /eng/pipelines/variables/globals.yml
    steps:
    - task: NodeTool@0
      inputs:
        versionSpec: $(NodeVersion)
    - script: npm install autorest -g
  ...

Limit accessor to parent models only
  javagen/src/main/java/com/azure/autorest/template/ConvenienceMethodTemplateBase.java
  javagen/src/main/java/com/azure/autorest/template/JsonMergePatchHelperTemplate.java
  javagen/src/main/java/com/azure/autorest/template/ModelTemplate.java
  javagen/src/main/java/com/azure/autorest/template/StreamSerializationModelTemplate.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

Support json-merge-patch deserialization without setter
  javagen/src/main/java/com/azure/autorest/model/javamodel/JavaClass.java
  javagen/src/main/java/com/azure/autorest/template/ModelTemplate.java
  javagen/src/main/java/com/azure/autorest/template/StreamSerializationModelTemplate.java
  typespec-tests/src/main/java/com/cadl/armresourceprovider/models/UserAssignedIdentities.java
  typespec-tests/src/main/java/com/cadl/patch/models/Fish.java
  typespec-tests/src/main/java/com/cadl/patch/models/Salmon.java
  typespec-tests/src/main/java/com/cadl/patch/models/Shark.java
  vanilla-tests/src/main/java/fixtures/inheritance/passdiscriminator/models/MetricAlertCriteria.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

logic change to use tcgc description instead of raw
  typespec-extension/src/code-model-builder.ts
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

re-generate test code
  typespec-tests/src/main/java/com/cadl/armresourceprovider/fluent/models/CustomTemplateResourceInner.java
  typespec-tests/src/main/java/com/cadl/armresourceprovider/fluent/models/CustomTemplateResourceProperties.java
  typespec-tests/src/main/java/com/cadl/armresourceprovider/models/CustomTemplateResource.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

codegen change to only use dummy description when summary+description on schema is empty
  javagen/src/main/java/com/azure/autorest/util/MethodUtil.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

get description and summary from operation parameter instead of from type
  typespec-extension/src/code-model-builder.ts
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

remove the fallback to summary and description logics, also only use dummy description when both summary and description are empty
  javagen/src/main/java/com/azure/autorest/mapper/ModelPropertyMapper.java
  javagen/src/main/java/com/azure/autorest/util/MethodUtil.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

Fix test failing due to TypeSpec change and non-related codegen bug
  typespec-tests/src/test/java/com/cadl/patch/PatchClientTest.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

re-generate test code
  typespec-tests/src/main/java/com/cadl/armresourceprovider/models/ManagedServiceIdentity.java
  typespec-tests/src/main/java/com/cadl/armresourceprovider/models/UserAssignedIdentities.java
  typespec-tests/src/main/resources/META-INF/native-image/com.azure.resourcemanager/azure-resourcemanager-armresourceprovider-generated/reflect-config.json
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

bump tsp dep
  typespec-extension/package-lock.json
  typespec-extension/package.json
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

Revert "codegen change to only use dummy description when summary+description on schema is empty"
  javagen/src/main/java/com/azure/autorest/util/MethodUtil.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

tsp, bump dependencies (#2778)
  typespec-extension/package-lock.json
  typespec-extension/package.json
  typespec-tests/src/main/java/com/cadl/armresourceprovider/models/ManagedServiceIdentity.java
  typespec-tests/src/main/java/com/cadl/armresourceprovider/models/UserAssignedIdentities.java
  typespec-tests/src/main/resources/META-INF/native-image/com.azure.resourcemanager/azure-resourcemanager-armresourceprovider-generated/reflect-config.json
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

Remove empty line to test issue with formatting
  typespec-tests/tsp/patch.tsp
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

Fix tests
  typespec-tests/pom.xml
  typespec-tests/src/test/java/com/cadl/builtin/ExceptionTests.java
  typespec-tests/src/test/java/com/cadl/flatten/FlattenTests.java
  typespec-tests/src/test/java/com/type/model/inheritance/NestedDiscriminatorTests.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

codegen changes on javadoc: 1. remove fallback to get desc from type's summary/desc 2. only generate dummy desc when both summary and description are empty
  javagen/src/main/java/com/azure/autorest/mapper/ModelPropertyMapper.java
  javagen/src/main/java/com/azure/autorest/util/MethodUtil.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

Clean up diff in ModelMapper
  javagen/src/main/java/com/azure/autorest/mapper/ModelMapper.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

add the invalid test
  typespec-tests/src/test/java/com/type/enums/fixed/FixedClientTest.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

add validateBuilder private method
  javagen/src/main/java/com/azure/autorest/template/ServiceClientBuilderTemplate.java
  javagen/src/main/java/com/azure/autorest/template/TemplateHelper.java
  typespec-extension/src/code-model-builder.ts
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

update test
  typespec-tests/tsp/server.tsp
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

fix
  javagen/src/main/java/com/azure/autorest/template/ServiceClientBuilderTemplate.java
  typespec-tests/tsp/server.tsp
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

comment
  javagen/src/main/java/com/azure/autorest/template/ServiceClientBuilderTemplate.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

fix test
  typespec-tests/src/test/java/com/versioning/added/AddedClientTests.java
  typespec-tests/src/test/java/com/versioning/madeoptional/MadeOptionalClienTests.java
  typespec-tests/src/test/java/com/versioning/removed/RemovedClientTests.java
  typespec-tests/src/test/java/com/versioning/renamedfrom/RenamedFromClientTests.java
  typespec-tests/src/test/java/com/versioning/returntypechangedfrom/ReturnTypeChangedFromClientTests.java
  typespec-tests/src/test/java/com/versioning/typechangedfrom/TypeChangedFromClientTests.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

fix test
  protocol-tests/src/test/java/fixtures/url/PathsTests.java
  protocol-tests/src/test/java/fixtures/url/QueriesTests.java
  vanilla-tests/src/test/java/fixtures/url/PathsTests.java
  vanilla-tests/src/test/java/fixtures/url/QueriesTests.java
Due: eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

revert merge error
  typespec-extension/src/code-model-builder.ts
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

code
  typespec-extension/src/code-model-builder.ts
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

re-generate test code
  typespec-tests/src/main/java/com/cadl/naming/models/DataStatus.java
  typespec-tests/src/main/java/com/cadl/naming/models/TypesModel.java
  typespec-tests/src/main/java/com/encode/bytes/ResponseBodyAsyncClient.java
  typespec-tests/src/main/java/com/encode/bytes/ResponseBodyClient.java
  typespec-tests/src/main/java/com/encode/bytes/implementation/ResponseBodiesImpl.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

Remove polymorphic discriminator from JSON merge patch tracking
  javagen/src/main/java/com/azure/autorest/template/ModelTemplate.java
  javagen/src/main/java/com/azure/autorest/template/StreamSerializationModelTemplate.java
  typespec-tests/src/main/java/com/_specs_/azure/core/basic/models/UserOrder.java
  typespec-tests/src/main/java/com/cadl/patch/models/Fish.java
  typespec-tests/src/main/java/com/cadl/patch/models/Salmon.java
  typespec-tests/src/main/java/com/cadl/patch/models/SawShark.java
  typespec-tests/src/main/java/com/cadl/patch/models/Shark.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

Path conditions:
  eng/pipelines/ci-cadl-java.yaml: any of: *, but not: fluent*, postprocessor, vanilla-tests, protocol*
  eng/pipelines/ci-typespec-java.yaml: any of: *, but not: androidgen, azure-dataplane-tests, azure-tests, fluent-tests, partial-update-tests, vanilla-tests, protocol*
  eng/pipelines/ci.yaml: any of: *, but not: fluent*, typespec*
  eng/pipelines/fluent_integration.yaml: any of: *, but not: typespec*
