Repository Azure/autorest.java: changes, and which Azure pipelines are due for each by the changed paths.
All: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

eng/pipelines/ci-cadl-java.yaml:
  jobs:
  - job: Build
    timeoutInMinutes: 30
    variables:
      JavaVersion: 1.8
      NodeVersion: 18.x
      isMain: $[eq(variables['Build.SourceBranch'], 'refs/heads/main')]
    pool:
      name: azsdk-pool-mms-ubuntu-2004-general
      vmImage: MMSUbuntu20.04
    steps:
    - task: NodeTool@0
  ...

eng/pipelines/ci-typespec-java.yaml:
  jobs:
  - job: Build_TypeSpec
    timeoutInMinutes: 60
    variables:
    - template: /eng/pipelines/variables/globals.yml
    - template: /eng/pipelines/variables/image.yml
    pool:
      name: $(LINUXPOOL)
      image: $(LINUXVMIMAGE)
      os: linux
    steps:
    - template: /eng/pipelines/steps/build-typespec.yml
  ...

eng/pipelines/ci.yaml:
  jobs:
  - template: /eng/pipelines/jobs/autorest-java.yml

eng/pipelines/fluent_integration.yaml:
  jobs:
  - template: /eng/pipelines/jobs/build-autorest-mgmt.yml

chore(typespec-extension): npm install -> update package-lock.json
  typespec-extension/package-lock.json
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

update script
  typespec-tests/Generate.ps1
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

version
  typespec-extension/changelog.md
  typespec-extension/package-lock.json
  typespec-extension/package.json
  typespec-tests/package.json
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

update core
  typespec-tests/src/test/java/azure/clientgenerator/core/methodoverride/OverrideTests.java
  typespec-tests/src/test/java/azure/versioning/previewversion/PreviewVersionTests.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

swagger moved
  fluent-tests/swagger/readme.appservice.md
  fluent-tests/swagger/readme.network.md
Due: eng/pipelines/fluent_integration.yaml

update commit
  eng/sdk/sync_sdk.py
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

remove patch
  eng/sdk/patches/0001-revert-impl-in-healthdataaiservices-azure-health-dei.patch
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

run again for dpg
  eng/sdk/sync_sdk.py
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

http-client-java, eng, update jar deps
  azure-dataplane-tests/pom.xml
  azure-tests/pom.xml
  customization-base/pom.xml
  customization-base/src/main/resources/pom.xml
  customization-tests/pom.xml
  fluent-tests/pom.xml
  fluentgen/pom.xml
  javagen/pom.xml
  partial-update/pom.xml
  pom.xml
  protocol-sdk-integration-tests/eng/versioning/version_client.txt
  protocol-tests/pom.xml
  typespec-tests/pom.xml
  vanilla-tests/pom.xml
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

chore(typespec): bump Node.js dependencies and update peerDependencies/overrides
  typespec-extension/package-lock.json
  typespec-extension/package.json
  typespec-tests/package.json
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

sync test
  typespec-tests/src/main/java/azure/clientgenerator/core/alternatetype/AlternateTypeAsyncClient.java
  typespec-tests/src/main/java/azure/clientgenerator/core/alternatetype/AlternateTypeClient.java
  typespec-tests/src/main/java/azure/clientgenerator/core/alternatetype/AlternateTypeClientBuilder.java
  typespec-tests/src/main/java/azure/clientgenerator/core/alternatetype/externaltype/models/Feature.java
  typespec-tests/src/main/java/azure/clientgenerator/core/alternatetype/externaltype/models/Geometry.java
  typespec-tests/src/main/java/azure/clientgenerator/core/alternatetype/externaltype/models/ModelWithFeatureProperty.java
  typespec-tests/src/main/java/azure/clientgenerator/core/alternatetype/externaltype/models/package-info.java
  typespec-tests/src/main/java/azure/clientgenerator/core/alternatetype/implementation/AlternateTypeClientImpl.java
  typespec-tests/src/main/java/azure/clientgenerator/core/alternatetype/implementation/ExternalTypesImpl.java
  typespec-tests/src/main/java/azure/clientgenerator/core/alternatetype/implementation/package-info.java
  typespec-tests/src/main/java/azure/clientgenerator/core/alternatetype/package-info.java
  typespec-tests/src/main/java/azure/versioning/previewversion/implementation/PreviewVersionClientImpl.java
  typespec-tests/src/main/resources/azure-clientgenerator-core-alternatetype.properties
  typespec-tests/src/test/java/azure/clientgenerator/core/alternatetype/generated/AlternateTypeClientTestBase.java
  typespec-tests/src/test/java/azure/versioning/previewversion/PreviewVersionTests.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

bump jar
  eng/versioning/sync_versions.py
  pom.xml
  typespec-tests/pom.xml
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

graphrbac is removed
  fluent-tests/Initialize-Tests.ps1
Due: eng/pipelines/fluent_integration.yaml

eng, update jar deps (#3207)
  azure-dataplane-tests/pom.xml
  azure-tests/pom.xml
  customization-base/pom.xml
  customization-base/src/main/resources/pom.xml
  customization-tests/pom.xml
  eng/versioning/sync_versions.py
  fluent-tests/Initialize-Tests.ps1
  fluent-tests/pom.xml
  fluentgen/pom.xml
  javagen/pom.xml
  partial-update/pom.xml
  pom.xml
  protocol-sdk-integration-tests/eng/versioning/version_client.txt
  protocol-tests/pom.xml
  typespec-extension/package-lock.json
  typespec-extension/package.json
  typespec-tests/package.json
  typespec-tests/pom.xml
  typespec-tests/src/main/java/azure/clientgenerator/core/alternatetype/AlternateTypeAsyncClient.java
  typespec-tests/src/main/java/azure/clientgenerator/core/alternatetype/AlternateTypeClient.java
  typespec-tests/src/main/java/azure/clientgenerator/core/alternatetype/AlternateTypeClientBuilder.java
  typespec-tests/src/main/java/azure/clientgenerator/core/alternatetype/externaltype/models/Feature.java
  typespec-tests/src/main/java/azure/clientgenerator/core/alternatetype/externaltype/models/Geometry.java
  typespec-tests/src/main/java/azure/clientgenerator/core/alternatetype/externaltype/models/ModelWithFeatureProperty.java
  typespec-tests/src/main/java/azure/clientgenerator/core/alternatetype/externaltype/models/package-info.java
  typespec-tests/src/main/java/azure/clientgenerator/core/alternatetype/implementation/AlternateTypeClientImpl.java
  typespec-tests/src/main/java/azure/clientgenerator/core/alternatetype/implementation/ExternalTypesImpl.java
  typespec-tests/src/main/java/azure/clientgenerator/core/alternatetype/implementation/package-info.java
  typespec-tests/src/main/java/azure/clientgenerator/core/alternatetype/package-info.java
  typespec-tests/src/main/java/azure/versioning/previewversion/implementation/PreviewVersionClientImpl.java
  typespec-tests/src/main/resources/azure-clientgenerator-core-alternatetype.properties
  typespec-tests/src/test/java/azure/clientgenerator/core/alternatetype/generated/AlternateTypeClientTestBase.java
  typespec-tests/src/test/java/azure/versioning/previewversion/PreviewVersionTests.java
  vanilla-tests/pom.xml
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

sync tests
  typespec-tests/Generate.ps1
  typespec-tests/customization/src/main/java/KeyVaultCustomization.java
  typespec-tests/src/main/java/tsptest/armcustomization/ArmCustomizationManager.java
  typespec-tests/src/main/java/tsptest/armcustomization/fluent/ArmCustomizationClient.java
  typespec-tests/src/main/java/tsptest/armcustomization/fluent/VaultsClient.java
  typespec-tests/src/main/java/tsptest/armcustomization/fluent/models/VaultInner.java
  typespec-tests/src/main/java/tsptest/armcustomization/fluent/models/package-info.java
  typespec-tests/src/main/java/tsptest/armcustomization/fluent/package-info.java
  typespec-tests/src/main/java/tsptest/armcustomization/implementation/ArmCustomizationClientBuilder.java
  typespec-tests/src/main/java/tsptest/armcustomization/implementation/ArmCustomizationClientImpl.java
  typespec-tests/src/main/java/tsptest/armcustomization/implementation/ResourceManagerUtils.java
  typespec-tests/src/main/java/tsptest/armcustomization/implementation/VaultImpl.java
  typespec-tests/src/main/java/tsptest/armcustomization/implementation/VaultsClientImpl.java
  typespec-tests/src/main/java/tsptest/armcustomization/implementation/VaultsImpl.java
  typespec-tests/src/main/java/tsptest/armcustomization/implementation/package-info.java
  typespec-tests/src/main/java/tsptest/armcustomization/models/Vault.java
  typespec-tests/src/main/java/tsptest/armcustomization/models/VaultProperties.java
  typespec-tests/src/main/java/tsptest/armcustomization/models/Vaults.java
  typespec-tests/src/main/java/tsptest/armcustomization/models/package-info.java
  typespec-tests/src/main/java/tsptest/armcustomization/package-info.java
  typespec-tests/src/main/resources/META-INF/native-image/com.azure.resourcemanager/azure-resourcemanager-armcustomization-generated/proxy-config.json
  typespec-tests/src/main/resources/META-INF/native-image/com.azure.resourcemanager/azure-resourcemanager-armcustomization-generated/reflect-config.json
  typespec-tests/src/main/resources/azure-resourcemanager-armcustomization-generated.properties
  typespec-tests/tsp/arm-customization.tsp
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

prepare release typespec-java
  typespec-extension/changelog.md
  typespec-extension/package-lock.json
  typespec-extension/package.json
  typespec-tests/package.json
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

changelog date
  typespec-extension/changelog.md
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

changelog
  typespec-extension/changelog.md
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

remove invalid line
  typespec-tests/customization/src/main/java/KeyVaultCustomization.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

sync core, prepare release typespec-java 0.36.0 (#3208)
  typespec-extension/changelog.md
  typespec-extension/package-lock.json
  typespec-extension/package.json
  typespec-tests/Generate.ps1
  typespec-tests/customization/src/main/java/KeyVaultCustomization.java
  typespec-tests/package.json
  typespec-tests/src/main/java/tsptest/armcustomization/ArmCustomizationManager.java
  typespec-tests/src/main/java/tsptest/armcustomization/fluent/ArmCustomizationClient.java
  typespec-tests/src/main/java/tsptest/armcustomization/fluent/VaultsClient.java
  typespec-tests/src/main/java/tsptest/armcustomization/fluent/models/VaultInner.java
  typespec-tests/src/main/java/tsptest/armcustomization/fluent/models/package-info.java
  typespec-tests/src/main/java/tsptest/armcustomization/fluent/package-info.java
  typespec-tests/src/main/java/tsptest/armcustomization/implementation/ArmCustomizationClientBuilder.java
  typespec-tests/src/main/java/tsptest/armcustomization/implementation/ArmCustomizationClientImpl.java
  typespec-tests/src/main/java/tsptest/armcustomization/implementation/ResourceManagerUtils.java
  typespec-tests/src/main/java/tsptest/armcustomization/implementation/VaultImpl.java
  typespec-tests/src/main/java/tsptest/armcustomization/implementation/VaultsClientImpl.java
  typespec-tests/src/main/java/tsptest/armcustomization/implementation/VaultsImpl.java
  typespec-tests/src/main/java/tsptest/armcustomization/implementation/package-info.java
  typespec-tests/src/main/java/tsptest/armcustomization/models/Vault.java
  typespec-tests/src/main/java/tsptest/armcustomization/models/VaultProperties.java
  typespec-tests/src/main/java/tsptest/armcustomization/models/Vaults.java
  typespec-tests/src/main/java/tsptest/armcustomization/models/package-info.java
  typespec-tests/src/main/java/tsptest/armcustomization/package-info.java
  typespec-tests/src/main/resources/META-INF/native-image/com.azure.resourcemanager/azure-resourcemanager-armcustomization-generated/proxy-config.json
  typespec-tests/src/main/resources/META-INF/native-image/com.azure.resourcemanager/azure-resourcemanager-armcustomization-generated/reflect-config.json
  typespec-tests/src/main/resources/azure-resourcemanager-armcustomization-generated.properties
  typespec-tests/tsp/arm-customization.tsp
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

tsp, update doc on options
  typespec-extension/src/options.ts
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

tsp, update doc on options (#3210)
  typespec-extension/src/options.ts
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

skip azure-ai-agents-persistent
  eng/sdk/sync_sdk.py
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

disable test that being changed
  typespec-tests/src/test/java/azure/resourcemanager/resources/ArmResourceTest.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

eng, disable test on extension resource (#3211)
  eng/sdk/sync_sdk.py
  typespec-tests/src/test/java/azure/resourcemanager/resources/ArmResourceTest.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

chore(typespec): update dependencies and bump minor version to 0.37.0
  typespec-extension/changelog.md
  typespec-extension/package.json
  typespec-tests/package.json
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

chore(typespec-tests): sync tests after dependency update
  typespec-tests/src/main/java/tsptest/armresourceprovider/fluent/models/TopLevelArmResourceInner.java
  typespec-tests/src/main/java/tsptest/armresourceprovider/fluent/models/TopLevelArmResourceProperties.java
  typespec-tests/src/main/java/tsptest/armresourceprovider/implementation/TopLevelArmResourceImpl.java
  typespec-tests/src/main/java/tsptest/armresourceprovider/models/ManagedServiceIdentity.java
  typespec-tests/src/main/java/tsptest/armresourceprovider/models/TopLevelArmResource.java
  typespec-tests/src/main/java/tsptest/armresourceprovider/models/UserAssignedIdentity.java
  typespec-tests/src/main/java/tsptest/builtin/BuiltinAsyncClient.java
  typespec-tests/src/main/java/tsptest/builtin/BuiltinClient.java
  typespec-tests/src/main/java/tsptest/builtin/implementation/BuiltinOpsImpl.java
  typespec-tests/src/main/java/tsptest/builtin/models/Builtin.java
  typespec-tests/src/test/java/azure/resourcemanager/resources/ArmResourceTest.java
  typespec-tests/tsp/arm.tsp
  typespec-tests/tsp/builtin.tsp
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

revert disabled test
  typespec-tests/src/test/java/azure/resourcemanager/resources/ArmResourceTest.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

Path conditions:
  eng/pipelines/ci-cadl-java.yaml: any of: *, but not: fluent*, postprocessor, vanilla-tests, protocol*
  eng/pipelines/ci-typespec-java.yaml: any of: *, but not: azure-dataplane-tests, azure-tests, fluent-tests, partial-update-tests, vanilla-tests, protocol*
  eng/pipelines/ci.yaml: any of: *, but not: fluent*, typespec*
  eng/pipelines/fluent_integration.yaml: any of: *, but not: typespec*
