Repository Azure/autorest.java: changes, and which Azure pipelines are due for each by the changed paths.
All: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

Path conditions:
  eng/pipelines/ci-cadl-java.yaml: any of: *, but not: fluent*, postprocessor, vanilla-tests, protocol*
  eng/pipelines/ci-typespec-java.yaml: any of: *, but not: fluent*, postprocessor, vanilla-tests, protocol*
  eng/pipelines/ci.yaml: any of: *, but not: fluent*, typespec*
  eng/pipelines/fluent_integration.yaml: any of: *, but not: typespec*

Bump typespec dependencies to 0.51/37
  typespec-extension/package-lock.json
  typespec-extension/package.json
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

Ignore changes in package-lock.json during generation tests
  eng/pipelines/ci-typespec-java.yaml
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

Update .gitignore
  .gitignore
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

Add preview pipeline for regenerating clients in azure-sdk-for-java (#2434)
  .github/workflows/fluent-test-gen-all.yml
  .github/workflows/generate-test-code.yml
  .github/workflows/pre-release-typespec.yml
  .gitignore
  Build-TypeSpec.ps1
  Generate-TypeSpec.ps1
  Generate.ps1
  eng/pipelines/ci-typespec-java.yaml
  eng/pipelines/ci.yaml
  eng/pipelines/preview.yml
  eng/scripts/Build-Packages.ps1
  eng/scripts/Command-InvocationHelpers.ps1
  eng/scripts/Initialize-Repository.ps1
  package-lock.json
  typespec-extension/package-lock.json
  typespec-extension/package.json
  typespec-tests/Setup.ps1
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

use finalResult
  typespec-extension/src/code-model-builder.ts
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

regen
  protocol-tests/src/samples/java/fixtures/bodystring/generated/StringGetBase64Encoded.java
  protocol-tests/src/samples/java/fixtures/bodystring/generated/StringGetBase64UrlEncoded.java
  protocol-tests/src/samples/java/fixtures/bodystring/generated/StringGetNullBase64UrlEncoded.java
  protocol-tests/src/samples/java/fixtures/bodystring/generated/StringPutBase64UrlEncoded.java
Due: eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

keep consistency with DPG 1.0; finalResult be Void only if httpMethod is DELETE
  javagen/src/main/java/com/azure/autorest/mapper/ClientMethodMapper.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

update test
  typespec-tests/src/test/java/com/_specs_/azure/core/lro/rpc/legacy/LegacyRpcTests.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

regen
  typespec-tests/src/main/java/com/_specs_/azure/core/lro/rpc/legacy/LegacyAsyncClient.java
  typespec-tests/src/main/java/com/_specs_/azure/core/lro/rpc/legacy/LegacyClient.java
  typespec-tests/src/main/java/com/_specs_/azure/core/lro/rpc/legacy/implementation/CreateResourcePollViaOperationLocationsImpl.java
  typespec-tests/src/main/java/com/longrunning/LongRunningAsyncClient.java
  typespec-tests/src/main/java/com/longrunning/LongRunningClient.java
  typespec-tests/src/main/java/com/longrunning/implementation/LongRunningClientImpl.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

add logic to update updatedProperties for override setters in subclass.
  javagen/src/main/java/com/azure/autorest/template/ModelTemplate.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

fix lint
  typespec-extension/src/code-model-builder.ts
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

handle map entry value can be null
  javagen/src/main/java/com/azure/autorest/template/StreamSerializationModelTemplate.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

enable generate jsonMergePatchHelper
  typespec-extension/src/main/java/com/azure/autorest/TypeSpecPlugin.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

add test case
  typespec-tests/src/test/java/com/cadl/patch/PatchClientTest.java
  typespec-tests/tsp/patch.tsp
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

support application/json for multipart
  javagen/src/main/java/com/azure/autorest/template/ConvenienceMethodTemplateBase.java
  javagen/src/main/resources/MultipartFormDataHelper.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

regen
  typespec-tests/src/main/java/com/_specs_/azure/core/basic/implementation/JsonMergePatchHelper.java
  typespec-tests/src/main/java/com/_specs_/azure/core/basic/models/User.java
  typespec-tests/src/main/java/com/_specs_/azure/core/basic/models/UserOrder.java
  typespec-tests/src/main/java/com/cadl/patch/PatchAsyncClient.java
  typespec-tests/src/main/java/com/cadl/patch/PatchClient.java
  typespec-tests/src/main/java/com/cadl/patch/implementation/JsonMergePatchHelper.java
  typespec-tests/src/main/java/com/cadl/patch/implementation/PatchClientImpl.java
  typespec-tests/src/main/java/com/cadl/patch/implementation/PatchesImpl.java
  typespec-tests/src/main/java/com/cadl/patch/models/Fish.java
  typespec-tests/src/main/java/com/cadl/patch/models/GoblinShark.java
  typespec-tests/src/main/java/com/cadl/patch/models/InnerModel.java
  typespec-tests/src/main/java/com/cadl/patch/models/Resource.java
  typespec-tests/src/main/java/com/cadl/patch/models/ResourceEnumValue.java
  typespec-tests/src/main/java/com/cadl/patch/models/Salmon.java
  typespec-tests/src/main/java/com/cadl/patch/models/SawShark.java
  typespec-tests/src/main/java/com/cadl/patch/models/Shark.java
  typespec-tests/src/main/java/com/cadl/specialheaders/RepeatabilityHeadersAsyncClient.java
  typespec-tests/src/main/java/com/cadl/specialheaders/RepeatabilityHeadersClient.java
  typespec-tests/src/main/java/com/cadl/specialheaders/implementation/JsonMergePatchHelper.java
  typespec-tests/src/main/java/com/cadl/specialheaders/implementation/RepeatabilityHeadersImpl.java
  typespec-tests/src/main/java/com/cadl/specialheaders/models/Resource.java
  typespec-tests/src/main/java/com/type/array/models/InnerModel.java
  typespec-tests/src/main/java/com/type/dictionary/models/InnerModel.java
  typespec-tests/src/main/java/com/type/model/inheritance/nesteddiscriminator/models/Salmon.java
  typespec-tests/src/main/java/com/type/model/inheritance/recursive/models/Element.java
  typespec-tests/src/main/java/com/type/model/inheritance/recursive/models/Extension.java
  typespec-tests/src/main/java/com/type/model/inheritance/singlediscriminator/models/Eagle.java
  typespec-tests/src/main/java/com/type/property/nullable/implementation/JsonMergePatchHelper.java
  typespec-tests/src/main/java/com/type/property/nullable/models/BytesProperty.java
  typespec-tests/src/main/java/com/type/property/nullable/models/CollectionsByteProperty.java
  typespec-tests/src/main/java/com/type/property/nullable/models/CollectionsModelProperty.java
  typespec-tests/src/main/java/com/type/property/nullable/models/DatetimeProperty.java
  typespec-tests/src/main/java/com/type/property/nullable/models/DurationProperty.java
  typespec-tests/src/main/java/com/type/property/nullable/models/StringProperty.java
  typespec-tests/src/main/java/com/type/property/optional/models/CollectionsModelProperty.java
  typespec-tests/src/main/java/com/type/property/valuetypes/models/CollectionsModelProperty.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

add test
  typespec-tests/tsp/multipart.tsp
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

format
  typespec-tests/tsp/patch.tsp
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

regen
  typespec-tests/src/main/java/com/cadl/multipart/MultipartAsyncClient.java
  typespec-tests/src/main/java/com/cadl/multipart/MultipartClient.java
  typespec-tests/src/main/java/com/cadl/multipart/implementation/MultipartClientImpl.java
  typespec-tests/src/main/java/com/cadl/multipart/implementation/MultipartFormDataHelper.java
  typespec-tests/src/main/java/com/cadl/multipart/models/FormData.java
  typespec-tests/src/main/java/com/cadl/multipart/models/Size.java
  typespec-tests/src/main/java/com/payload/multipart/MultiPartAsyncClient.java
  typespec-tests/src/main/java/com/payload/multipart/MultiPartClient.java
  typespec-tests/src/main/java/com/payload/multipart/implementation/MultipartFormDataHelper.java
  typespec-tests/src/test/java/com/payload/multipart/MultipartTests.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

regen autorest
  azure-dataplane-tests/src/main/java/com/azure/containers/containerregistry/implementation/models/AcrErrors.java
  azure-dataplane-tests/src/main/java/com/azure/containers/containerregistry/implementation/models/AcrManifests.java
  azure-dataplane-tests/src/main/java/com/azure/containers/containerregistry/implementation/models/ArtifactManifestPropertiesInternal.java
  azure-dataplane-tests/src/main/java/com/azure/containers/containerregistry/implementation/models/ManifestAttributesBase.java
  azure-dataplane-tests/src/main/java/com/azure/containers/containerregistry/implementation/models/ManifestAttributesManifest.java
  azure-dataplane-tests/src/main/java/com/azure/containers/containerregistry/implementation/models/ManifestList.java
  azure-dataplane-tests/src/main/java/com/azure/containers/containerregistry/implementation/models/ManifestWrapper.java
  azure-dataplane-tests/src/main/java/com/azure/containers/containerregistry/implementation/models/OCIIndex.java
  azure-dataplane-tests/src/main/java/com/azure/containers/containerregistry/implementation/models/TagList.java
  azure-dataplane-tests/src/main/java/com/azure/containers/containerregistry/implementation/models/V1Manifest.java
  azure-dataplane-tests/src/main/java/com/azure/containers/containerregistry/implementation/models/V2Manifest.java
  azure-dataplane-tests/src/main/java/com/azure/containers/containerregistry/models/OciImageManifest.java
  azure-dataplane-tests/src/main/java/com/azure/data/schemaregistry/implementation/models/ErrorDetail.java
  vanilla-tests/src/main/java/fixtures/streamstyleserialization/models/Cat.java
  vanilla-tests/src/main/java/fixtures/streamstyleserialization/models/Cookiecuttershark.java
  vanilla-tests/src/main/java/fixtures/streamstyleserialization/models/DotFishMarket.java
  vanilla-tests/src/main/java/fixtures/streamstyleserialization/models/Fish.java
  vanilla-tests/src/main/java/fixtures/streamstyleserialization/models/Goblinshark.java
  vanilla-tests/src/main/java/fixtures/streamstyleserialization/models/Salmon.java
  vanilla-tests/src/main/java/fixtures/streamstyleserialization/models/Sawshark.java
  vanilla-tests/src/main/java/fixtures/streamstyleserialization/models/Shark.java
  vanilla-tests/src/main/java/fixtures/streamstyleserialization/models/Siamese.java
  vanilla-tests/src/main/java/fixtures/streamstyleserialization/models/SmartSalmon.java
  vanilla-tests/src/main/java/fixtures/streamstyleserializationctorargs/models/Cat.java
  vanilla-tests/src/main/java/fixtures/streamstyleserializationctorargs/models/Cookiecuttershark.java
  vanilla-tests/src/main/java/fixtures/streamstyleserializationctorargs/models/DotFishMarket.java
  vanilla-tests/src/main/java/fixtures/streamstyleserializationctorargs/models/Fish.java
  vanilla-tests/src/main/java/fixtures/streamstyleserializationctorargs/models/Goblinshark.java
  vanilla-tests/src/main/java/fixtures/streamstyleserializationctorargs/models/Salmon.java
  vanilla-tests/src/main/java/fixtures/streamstyleserializationctorargs/models/Sawshark.java
  vanilla-tests/src/main/java/fixtures/streamstyleserializationctorargs/models/Shark.java
  vanilla-tests/src/main/java/fixtures/streamstyleserializationctorargs/models/Siamese.java
  vanilla-tests/src/main/java/fixtures/streamstyleserializationctorargs/models/SmartSalmon.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

revert from a test on unreleased cadl-ranch
  typespec-tests/src/test/java/com/payload/multipart/MultipartTests.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

Revert change to ci yaml ignoring package-lock changes
  eng/pipelines/ci-typespec-java.yaml
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

fix projectedName on spread/flatten
  typespec-extension/src/code-model-builder.ts
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

test case
  typespec-tests/src/main/java/com/cadl/flatten/FlattenAsyncClient.java
  typespec-tests/src/main/java/com/cadl/flatten/FlattenClient.java
  typespec-tests/src/main/java/com/cadl/flatten/implementation/FlattenClientImpl.java
  typespec-tests/tsp/flatten.tsp
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

tsp, adapt finalResult from LroMetadata (#2458)
  javagen/src/main/java/com/azure/autorest/mapper/ClientMethodMapper.java
  typespec-extension/src/code-model-builder.ts
  typespec-tests/src/main/java/com/_specs_/azure/core/lro/rpc/legacy/LegacyAsyncClient.java
  typespec-tests/src/main/java/com/_specs_/azure/core/lro/rpc/legacy/LegacyClient.java
  typespec-tests/src/main/java/com/_specs_/azure/core/lro/rpc/legacy/implementation/CreateResourcePollViaOperationLocationsImpl.java
  typespec-tests/src/main/java/com/longrunning/LongRunningAsyncClient.java
  typespec-tests/src/main/java/com/longrunning/LongRunningClient.java
  typespec-tests/src/main/java/com/longrunning/implementation/LongRunningClientImpl.java
  typespec-tests/src/test/java/com/_specs_/azure/core/lro/rpc/legacy/LegacyRpcTests.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

retry on unstable ci task
  eng/pipelines/ci-typespec-java-dev-nightly.yaml
  eng/pipelines/ci-typespec-java.yaml
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

eng, fix tsp nightly ci
  eng/pipelines/ci-typespec-java-dev-nightly.yaml
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

handle projectedName(json) for discriminator property
  typespec-extension/src/code-model-builder.ts
  typespec-tests/tsp/flatten.tsp
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

fix format
  typespec-extension/src/code-model-builder.ts
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

eng, fix tsp nightly ci (#2463)
  eng/pipelines/ci-typespec-java-dev-nightly.yaml
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

distinguish property name, projected client name, projected json
  typespec-extension/src/code-model-builder.ts
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

add test case
  typespec-tests/src/main/java/com/cadl/flatten/FlattenAsyncClient.java
  typespec-tests/src/main/java/com/cadl/flatten/FlattenClient.java
  typespec-tests/src/main/java/com/cadl/naming/NamingAsyncClient.java
  typespec-tests/src/main/java/com/cadl/naming/implementation/NamingOpsImpl.java
  typespec-tests/src/main/java/com/cadl/naming/models/BinaryData.java
  typespec-tests/src/main/java/com/cadl/naming/models/BytesData.java
  typespec-tests/src/main/java/com/cadl/naming/models/Data.java
  typespec-tests/src/main/java/com/type/model/inheritance/enumdiscriminator/EnumDiscriminatorAsyncClient.java
  typespec-tests/src/main/java/com/type/model/inheritance/enumdiscriminator/EnumDiscriminatorClient.java
  typespec-tests/src/main/java/com/type/model/inheritance/enumdiscriminator/implementation/EnumDiscriminatorClientImpl.java
  typespec-tests/src/main/java/com/type/model/inheritance/enumdiscriminator/models/Cobra.java
  typespec-tests/src/main/java/com/type/model/inheritance/enumdiscriminator/models/Golden.java
  typespec-tests/tsp/flatten.tsp
  typespec-tests/tsp/naming.tsp
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

fix
  typespec-extension/src/code-model-builder.ts
  typespec-tests/src/main/java/com/type/model/inheritance/enumdiscriminator/EnumDiscriminatorAsyncClient.java
  typespec-tests/src/main/java/com/type/model/inheritance/enumdiscriminator/EnumDiscriminatorClient.java
  typespec-tests/src/main/java/com/type/model/inheritance/enumdiscriminator/implementation/EnumDiscriminatorClientImpl.java
  typespec-tests/src/main/java/com/type/model/inheritance/enumdiscriminator/models/Cobra.java
  typespec-tests/src/main/java/com/type/model/inheritance/enumdiscriminator/models/Golden.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

changelog
  typespec-extension/changelog.md
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

nit, avoid use any
  typespec-extension/src/code-model-builder.ts
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

format
  typespec-tests/tsp/flatten.tsp
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

tsp, multipart/form-data content-type=applicaiton/json (#2459)
  javagen/src/main/java/com/azure/autorest/template/ConvenienceMethodTemplateBase.java
  javagen/src/main/resources/MultipartFormDataHelper.java
  typespec-tests/src/main/java/com/cadl/multipart/MultipartAsyncClient.java
  typespec-tests/src/main/java/com/cadl/multipart/MultipartClient.java
  typespec-tests/src/main/java/com/cadl/multipart/implementation/MultipartClientImpl.java
  typespec-tests/src/main/java/com/cadl/multipart/implementation/MultipartFormDataHelper.java
  typespec-tests/src/main/java/com/cadl/multipart/models/FormData.java
  typespec-tests/src/main/java/com/cadl/multipart/models/Size.java
  typespec-tests/src/main/java/com/payload/multipart/MultiPartAsyncClient.java
  typespec-tests/src/main/java/com/payload/multipart/MultiPartClient.java
  typespec-tests/src/main/java/com/payload/multipart/implementation/MultipartFormDataHelper.java
  typespec-tests/src/test/java/com/payload/multipart/MultipartTests.java
  typespec-tests/tsp/multipart.tsp
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

Add a unit test first
  typespec-tests/src/test/java/com/cadl/builtin/BuiltinClientTest.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

not handle nullable value map for now
  javagen/src/main/java/com/azure/autorest/template/StreamSerializationModelTemplate.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

tsp, fix projectedName json on spread/flatten (#2462)
  eng/pipelines/ci-typespec-java-dev-nightly.yaml
  eng/pipelines/ci-typespec-java.yaml
  typespec-extension/changelog.md
  typespec-extension/src/code-model-builder.ts
  typespec-tests/src/main/java/com/cadl/flatten/FlattenAsyncClient.java
  typespec-tests/src/main/java/com/cadl/flatten/FlattenClient.java
  typespec-tests/src/main/java/com/cadl/flatten/implementation/FlattenClientImpl.java
  typespec-tests/src/main/java/com/cadl/naming/NamingAsyncClient.java
  typespec-tests/src/main/java/com/cadl/naming/implementation/NamingOpsImpl.java
  typespec-tests/src/main/java/com/cadl/naming/models/BinaryData.java
  typespec-tests/src/main/java/com/cadl/naming/models/BytesData.java
  typespec-tests/src/main/java/com/cadl/naming/models/Data.java
  typespec-tests/tsp/flatten.tsp
  typespec-tests/tsp/naming.tsp
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml
