Repository Azure/autorest.java: changes, and which Azure pipelines are due for each by the changed paths.
All: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

Path conditions:
  eng/pipelines/ci-cadl-java.yaml: any of: *, but not: fluent*, postprocessor, vanilla-tests, protocol*
  eng/pipelines/ci-typespec-java.yaml: any of: *, but not: azure-dataplane-tests, azure-tests, fluent-tests, partial-update-tests, vanilla-tests, protocol*
  eng/pipelines/ci.yaml: any of: *, but not: fluent*, typespec*
  eng/pipelines/fluent_integration.yaml: any of: *, but not: typespec*

fix
  eng/pipelines/jobs/build-autorest-mgmt.yml
  eng/pipelines/jobs/build-autorest.yml
  eng/pipelines/jobs/build-typespec.yml
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

use ne
  eng/pipelines/jobs/build-autorest-mgmt.yml
  eng/pipelines/jobs/build-autorest.yml
  eng/pipelines/jobs/build-typespec.yml
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

pull --unshallow
  eng/pipelines/steps/update-submodule-commit.yml
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

update to PublishCodeCoverageResults@2
  eng/pipelines/jobs/build-autorest-mgmt.yml
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

fix default
  eng/pipelines/jobs/build-autorest-mgmt.yml
  eng/pipelines/jobs/build-typespec.yml
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

disable changelog/project tests
  fluentgen/src/test/java/com/microsoft/typespec/http/client/generator/mgmt/FluentGenAccessor.java
  fluentgen/src/test/java/com/microsoft/typespec/http/client/generator/mgmt/model/projectmodel/ChangelogTests.java
  fluentgen/src/test/java/com/microsoft/typespec/http/client/generator/mgmt/model/projectmodel/ProjectTests.java
Due: eng/pipelines/ci-typespec-java.yaml, eng/pipelines/fluent_integration.yaml

update test
  fluentgen/src/test/java/com/microsoft/typespec/http/client/generator/mgmt/FluentGenAccessor.java
  fluentgen/src/test/java/com/microsoft/typespec/http/client/generator/mgmt/model/projectmodel/ChangelogTests.java
  fluentgen/src/test/java/com/microsoft/typespec/http/client/generator/mgmt/model/projectmodel/ProjectTests.java
Due: eng/pipelines/ci-typespec-java.yaml, eng/pipelines/fluent_integration.yaml

update jar
  fluentgen/pom.xml
  vanilla-tests/pom.xml
Due: eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

update generate script
  typespec-tests/Generate.ps1
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

bump npm
  typespec-extension/changelog.md
  typespec-extension/package-lock.json
  typespec-extension/package.json
  typespec-tests/package.json
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

Update ChangelogTests.java
  fluentgen/src/test/java/com/microsoft/typespec/http/client/generator/mgmt/model/projectmodel/ChangelogTests.java
Due: eng/pipelines/ci-typespec-java.yaml, eng/pipelines/fluent_integration.yaml

eng, add pipeline to run CI on a different submodule commit (#3090)
  eng/pipelines/ci-submodule-commit.yaml
  eng/pipelines/ci-typespec-java.yaml
  eng/pipelines/ci.yaml
  eng/pipelines/fluent_integration.yaml
  eng/pipelines/jobs/build-autorest-mgmt.yml
  eng/pipelines/jobs/build-autorest.yml
  eng/pipelines/jobs/build-typespec.yml
  eng/pipelines/steps/update-submodule-commit.yml
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

sync test
  typespec-tests/src/main/java/_specs_/azure/clientgenerator/core/deserializeemptystringasnull/DeserializeEmptyStringAsNullAsyncClient.java
  typespec-tests/src/main/java/_specs_/azure/clientgenerator/core/deserializeemptystringasnull/DeserializeEmptyStringAsNullClient.java
  typespec-tests/src/main/java/_specs_/azure/clientgenerator/core/deserializeemptystringasnull/DeserializeEmptyStringAsNullClientBuilder.java
  typespec-tests/src/main/java/_specs_/azure/clientgenerator/core/deserializeemptystringasnull/implementation/DeserializeEmptyStringAsNullClientImpl.java
  typespec-tests/src/main/java/_specs_/azure/clientgenerator/core/deserializeemptystringasnull/implementation/package-info.java
  typespec-tests/src/main/java/_specs_/azure/clientgenerator/core/deserializeemptystringasnull/models/ResponseModel.java
  typespec-tests/src/main/java/_specs_/azure/clientgenerator/core/deserializeemptystringasnull/models/package-info.java
  typespec-tests/src/main/java/_specs_/azure/clientgenerator/core/deserializeemptystringasnull/package-info.java
  typespec-tests/src/main/java/azure/clientgenerator/core/clientinitialization/implementation/ChildClientImpl.java
  typespec-tests/src/main/java/azure/clientgenerator/core/clientinitialization/implementation/ParentClientImpl.java
  typespec-tests/src/main/java/azure/clientgenerator/core/clientinitialization/parentclient/ChildAsyncClient.java
  typespec-tests/src/main/java/azure/clientgenerator/core/clientinitialization/parentclient/ChildClient.java
  typespec-tests/src/main/java/azure/clientgenerator/core/clientinitialization/parentclient/ChildClientBuilder.java
  typespec-tests/src/main/java/azure/clientgenerator/core/clientinitialization/parentclient/ParentAsyncClient.java
  typespec-tests/src/main/java/azure/clientgenerator/core/clientinitialization/parentclient/ParentClient.java
  typespec-tests/src/main/java/azure/clientgenerator/core/clientinitialization/parentclient/ParentClientBuilder.java
  typespec-tests/src/main/java/azure/clientgenerator/core/clientinitialization/parentclient/package-info.java
  typespec-tests/src/main/java/tsptest/errormodel/models/InnerError.java
  typespec-tests/src/main/resources/_specs_-azure-clientgenerator-core-deserializeemptystringasnull.properties
  typespec-tests/src/test/java/_specs_/azure/clientgenerator/core/deserializeemptystringasnull/generated/DeserializeEmptyStringAsNullClientTestBase.java
  typespec-tests/src/test/java/azure/clientgenerator/core/clientinitialization/ClientInitializationTests.java
  typespec-tests/src/test/java/azure/clientgenerator/core/clientinitialization/generated/HeaderParamClientTestBase.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

fix incorrect version
  typespec-tests/package.json
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

fix script
  typespec-tests/Generate.ps1
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

revert jackson-dataformat-xml 2.17.2 -- new version 2.18.3 is in external_dependencies.txt but no azure core lib has it published
  fluentgen/pom.xml
  vanilla-tests/pom.xml
Due: eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

eng, sync core on api-version doc (#3096)
  fluentgen/src/test/java/com/microsoft/typespec/http/client/generator/mgmt/FluentGenAccessor.java
  fluentgen/src/test/java/com/microsoft/typespec/http/client/generator/mgmt/model/projectmodel/ChangelogTests.java
  fluentgen/src/test/java/com/microsoft/typespec/http/client/generator/mgmt/model/projectmodel/ProjectTests.java
  typespec-extension/changelog.md
  typespec-extension/package-lock.json
  typespec-extension/package.json
  typespec-tests/Generate.ps1
  typespec-tests/package.json
  typespec-tests/src/main/java/_specs_/azure/clientgenerator/core/deserializeemptystringasnull/DeserializeEmptyStringAsNullAsyncClient.java
  typespec-tests/src/main/java/_specs_/azure/clientgenerator/core/deserializeemptystringasnull/DeserializeEmptyStringAsNullClient.java
  typespec-tests/src/main/java/_specs_/azure/clientgenerator/core/deserializeemptystringasnull/DeserializeEmptyStringAsNullClientBuilder.java
  typespec-tests/src/main/java/_specs_/azure/clientgenerator/core/deserializeemptystringasnull/implementation/DeserializeEmptyStringAsNullClientImpl.java
  typespec-tests/src/main/java/_specs_/azure/clientgenerator/core/deserializeemptystringasnull/implementation/package-info.java
  typespec-tests/src/main/java/_specs_/azure/clientgenerator/core/deserializeemptystringasnull/models/ResponseModel.java
  typespec-tests/src/main/java/_specs_/azure/clientgenerator/core/deserializeemptystringasnull/models/package-info.java
  typespec-tests/src/main/java/_specs_/azure/clientgenerator/core/deserializeemptystringasnull/package-info.java
  typespec-tests/src/main/java/azure/clientgenerator/core/clientinitialization/implementation/ChildClientImpl.java
  typespec-tests/src/main/java/azure/clientgenerator/core/clientinitialization/implementation/ParentClientImpl.java
  typespec-tests/src/main/java/azure/clientgenerator/core/clientinitialization/parentclient/ChildAsyncClient.java
  typespec-tests/src/main/java/azure/clientgenerator/core/clientinitialization/parentclient/ChildClient.java
  typespec-tests/src/main/java/azure/clientgenerator/core/clientinitialization/parentclient/ChildClientBuilder.java
  typespec-tests/src/main/java/azure/clientgenerator/core/clientinitialization/parentclient/ParentAsyncClient.java
  typespec-tests/src/main/java/azure/clientgenerator/core/clientinitialization/parentclient/ParentClient.java
  typespec-tests/src/main/java/azure/clientgenerator/core/clientinitialization/parentclient/ParentClientBuilder.java
  typespec-tests/src/main/java/azure/clientgenerator/core/clientinitialization/parentclient/package-info.java
  typespec-tests/src/main/java/tsptest/errormodel/models/InnerError.java
  typespec-tests/src/main/resources/_specs_-azure-clientgenerator-core-deserializeemptystringasnull.properties
  typespec-tests/src/test/java/_specs_/azure/clientgenerator/core/deserializeemptystringasnull/generated/DeserializeEmptyStringAsNullClientTestBase.java
  typespec-tests/src/test/java/azure/clientgenerator/core/clientinitialization/ClientInitializationTests.java
  typespec-tests/src/test/java/azure/clientgenerator/core/clientinitialization/generated/HeaderParamClientTestBase.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/fluent_integration.yaml

eng, fix sync sdk pipeline, add image ref
  eng/pipelines/post-publish-sdk.yaml
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

azure-ai-inference is also good now
  eng/sdk/sync_sdk.py
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

eng, fix sync sdk pipeline, add image ref (#3098)
  eng/pipelines/post-publish-sdk.yaml
  eng/sdk/sync_sdk.py
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

do not ignore the lib, service may fix them without notify us
  eng/sdk/sync_sdk.py
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

copilot instruction
  .github/copilot-instructions.md
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

prepare release
  .github/copilot-instructions.md
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

Update package dependencies
  typespec-extension/package-lock.json
  typespec-extension/package.json
  typespec-tests/package.json
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

use raw url
  fluent-tests/Initialize-Tests.ps1
Due: eng/pipelines/fluent_integration.yaml

refine script
  fluent-tests/Initialize-Tests.ps1
Due: eng/pipelines/fluent_integration.yaml

also delete generated tests
  typespec-tests/Generate.ps1
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml
