Repository Azure/autorest.java: changes, and which Azure pipelines are due for each by the changed paths.
All: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

Path conditions:
  eng/pipelines/ci-cadl-java.yaml: any of: *, but not: fluent*, postprocessor, vanilla-tests, protocol*
  eng/pipelines/ci-typespec-java.yaml: any of: *, but not: fluent*, postprocessor, vanilla-tests, protocol*
  eng/pipelines/ci.yaml: any of: *, but not: fluent*, typespec*
  eng/pipelines/fluent_integration.yaml: any of: *, but not: cadl*

bypass CoreUtils removed
  javagen/src/main/java/com/azure/autorest/model/clientmodel/ProxyMethod.java
  javagen/src/main/java/com/azure/autorest/template/ModelTemplate.java
  javagen/src/main/java/com/azure/autorest/template/PatchModelTemplate.java
  javagen/src/main/java/com/azure/autorest/template/TemplateHelper.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

[lro] polling strategy not generate the line when serviceVersion and endpoint is null (#2366)
  azure-dataplane-tests/src/main/java/com/azure/ai/formrecognizer/documentanalysis/implementation/FormRecognizerClientImpl.java
  javagen/src/main/java/com/azure/autorest/template/ClientMethodTemplate.java
  protocol-tests/src/main/java/fixtures/dpgcustomization/implementation/DpgClientImpl.java
  protocol-tests/src/main/java/fixtures/endpointlro/implementation/LROsImpl.java
  protocol-tests/src/main/java/fixtures/lro/implementation/LROsImpl.java
  protocol-tests/src/main/java/fixtures/lro/implementation/LroRetrysImpl.java
  protocol-tests/src/main/java/fixtures/lro/implementation/LrosCustomHeadersImpl.java
  protocol-tests/src/main/java/fixtures/lro/implementation/LrosaDsImpl.java
  protocol-tests/src/main/java/fixtures/specialheader/implementation/HeadersImpl.java
  typespec-tests/src/main/java/com/_specs_/azure/core/lro/rpc/implementation/RpcClientImpl.java
  typespec-tests/src/main/java/com/_specs_/azure/core/lro/rpc/legacy/implementation/LegacyClientImpl.java
  typespec-tests/src/main/java/com/_specs_/azure/core/lro/standard/implementation/StandardClientImpl.java
  vanilla-tests/src/main/java/fixtures/lro/LRORetrys.java
  vanilla-tests/src/main/java/fixtures/lro/LROs.java
  vanilla-tests/src/main/java/fixtures/lro/LROsCustomHeaders.java
  vanilla-tests/src/main/java/fixtures/lro/LrosaDs.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

tsp, merge https://github.com/Azure/autorest.java/pull/2360 with https://github.com/Azure/autorest.java/pull/2365 (#2370)
  extension-base/src/main/java/com/azure/autorest/extension/base/plugin/JavaSettings.java
  javagen/src/main/java/com/azure/autorest/mapper/ClientMapper.java
  javagen/src/main/java/com/azure/autorest/mapper/ModelMapper.java
  javagen/src/main/java/com/azure/autorest/mapper/PomMapper.java
  javagen/src/main/java/com/azure/autorest/mapper/ServiceClientMapper.java
  javagen/src/main/java/com/azure/autorest/model/clientmodel/Annotation.java
  javagen/src/main/java/com/azure/autorest/model/clientmodel/ClassType.java
  javagen/src/main/java/com/azure/autorest/model/clientmodel/ClientBuilderTrait.java
  javagen/src/main/java/com/azure/autorest/model/clientmodel/ClientMethod.java
  javagen/src/main/java/com/azure/autorest/model/clientmodel/ClientModel.java
  javagen/src/main/java/com/azure/autorest/model/clientmodel/ClientModelProperty.java
  javagen/src/main/java/com/azure/autorest/model/clientmodel/ExternalPackage.java
  javagen/src/main/java/com/azure/autorest/model/clientmodel/GenericType.java
  javagen/src/main/java/com/azure/autorest/model/clientmodel/Proxy.java
  javagen/src/main/java/com/azure/autorest/model/clientmodel/ProxyMethod.java
  javagen/src/main/java/com/azure/autorest/model/clientmodel/ProxyMethodParameter.java
  javagen/src/main/java/com/azure/autorest/model/clientmodel/ServiceClient.java
  javagen/src/main/java/com/azure/autorest/model/projectmodel/Project.java
  javagen/src/main/java/com/azure/autorest/template/ConvenienceAsyncMethodTemplate.java
  javagen/src/main/java/com/azure/autorest/template/ConvenienceMethodTemplateBase.java
  javagen/src/main/java/com/azure/autorest/template/ConvenienceSyncMethodTemplate.java
  javagen/src/main/java/com/azure/autorest/template/EnumTemplate.java
  javagen/src/main/java/com/azure/autorest/template/ModelTemplate.java
  javagen/src/main/java/com/azure/autorest/template/PatchModelTemplate.java
  javagen/src/main/java/com/azure/autorest/template/PomTemplate.java
  javagen/src/main/java/com/azure/autorest/template/ServiceAsyncClientTemplate.java
  javagen/src/main/java/com/azure/autorest/template/ServiceClientBuilderTemplate.java
  javagen/src/main/java/com/azure/autorest/template/ServiceClientTemplate.java
  javagen/src/main/java/com/azure/autorest/template/ServiceSyncClientTemplate.java
  javagen/src/main/java/com/azure/autorest/template/StreamSerializationModelTemplate.java
  javagen/src/main/java/com/azure/autorest/template/TemplateHelper.java
  javagen/src/main/java/com/azure/autorest/template/WrapperClientMethodTemplate.java
  javagen/src/main/java/com/azure/autorest/template/XmlSequenceWrapperTemplate.java
  javagen/src/main/java/com/azure/autorest/util/SchemaUtil.java
  typespec-extension/src/emitter.ts
  typespec-extension/src/main/java/com/azure/autorest/TypeSpecPlugin.java
  typespec-extension/src/main/java/com/azure/typespec/model/EmitterOptions.java
  typespec-tests/Setup.ps1
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

client, fix bug on contant property in stream style
  javagen/src/main/java/com/azure/autorest/implementation/ClientModelPropertiesManager.java
  javagen/src/main/java/com/azure/autorest/template/ModelTemplate.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

regen
  azure-tests/src/main/java/fixtures/azureparametergrouping/models/Grouper.java
  azure-tests/src/main/java/fixtures/azurespecials/models/Error.java
  typespec-tests/src/main/java/com/cadl/enumservice/models/Operation.java
  typespec-tests/src/main/java/com/cadl/literalservice/models/Model.java
  vanilla-tests/src/main/java/fixtures/bodyformdataurlencoded/models/PathsPvivzlFormsdataurlencodedPartialconstantbodyPostRequestbodyContentApplicationXWwwFormUrlencodedSchema.java
  vanilla-tests/src/main/java/fixtures/bodystring/models/RefColorConstant.java
  vanilla-tests/src/main/java/fixtures/constants/models/NoModelAsStringNoRequiredOneValueDefault.java
  vanilla-tests/src/main/java/fixtures/constants/models/NoModelAsStringNoRequiredOneValueNoDefault.java
  vanilla-tests/src/main/java/fixtures/constants/models/NoModelAsStringRequiredOneValueDefault.java
  vanilla-tests/src/main/java/fixtures/constants/models/NoModelAsStringRequiredOneValueNoDefault.java
  vanilla-tests/src/main/java/fixtures/validation/models/ChildProduct.java
  vanilla-tests/src/main/java/fixtures/validation/models/ConstantProduct.java
  vanilla-tests/src/main/java/fixtures/validation/models/Product.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

Regenerated example
  vanilla-tests/src/main/java/fixtures/additionalproperties/AdditionalPropertiesClient.java
  vanilla-tests/src/main/java/fixtures/additionalproperties/AdditionalPropertiesClientBuilder.java
  vanilla-tests/src/main/java/fixtures/additionalproperties/Pets.java
  vanilla-tests/src/main/java/fixtures/additionalproperties/models/CatAPTrue.java
  vanilla-tests/src/main/java/fixtures/additionalproperties/models/Error.java
  vanilla-tests/src/main/java/fixtures/additionalproperties/models/ErrorException.java
  vanilla-tests/src/main/java/fixtures/additionalproperties/models/PetAPInProperties.java
  vanilla-tests/src/main/java/fixtures/additionalproperties/models/PetAPInPropertiesWithAPString.java
  vanilla-tests/src/main/java/fixtures/additionalproperties/models/PetAPObject.java
  vanilla-tests/src/main/java/fixtures/additionalproperties/models/PetAPString.java
  vanilla-tests/src/main/java/fixtures/additionalproperties/models/PetAPTrue.java
  vanilla-tests/src/main/java/fixtures/additionalproperties/models/package-info.java
  vanilla-tests/src/main/java/fixtures/additionalproperties/package-info.java
Due: eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

client, fix bug on constant property in stream style (#2371)
  azure-tests/src/main/java/fixtures/azureparametergrouping/models/Grouper.java
  azure-tests/src/main/java/fixtures/azurespecials/models/Error.java
  javagen/src/main/java/com/azure/autorest/implementation/ClientModelPropertiesManager.java
  javagen/src/main/java/com/azure/autorest/template/ModelTemplate.java
  typespec-tests/src/main/java/com/cadl/enumservice/models/Operation.java
  typespec-tests/src/main/java/com/cadl/literalservice/models/Model.java
  vanilla-tests/src/main/java/fixtures/bodyformdataurlencoded/models/PathsPvivzlFormsdataurlencodedPartialconstantbodyPostRequestbodyContentApplicationXWwwFormUrlencodedSchema.java
  vanilla-tests/src/main/java/fixtures/bodystring/models/RefColorConstant.java
  vanilla-tests/src/main/java/fixtures/constants/models/NoModelAsStringNoRequiredOneValueDefault.java
  vanilla-tests/src/main/java/fixtures/constants/models/NoModelAsStringNoRequiredOneValueNoDefault.java
  vanilla-tests/src/main/java/fixtures/constants/models/NoModelAsStringRequiredOneValueDefault.java
  vanilla-tests/src/main/java/fixtures/constants/models/NoModelAsStringRequiredOneValueNoDefault.java
  vanilla-tests/src/main/java/fixtures/validation/models/ChildProduct.java
  vanilla-tests/src/main/java/fixtures/validation/models/ConstantProduct.java
  vanilla-tests/src/main/java/fixtures/validation/models/Product.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

skip Trait and RetryPolicy
  javagen/src/main/java/com/azure/autorest/mapper/ClientMapper.java
  javagen/src/main/java/com/azure/autorest/template/ServiceClientBuilderTemplate.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

handle HttpPipelineBuilder
  javagen/src/main/java/com/azure/autorest/model/clientmodel/ClassType.java
  javagen/src/main/java/com/azure/autorest/model/clientmodel/ServiceClient.java
  javagen/src/main/java/com/azure/autorest/template/ServiceClientBuilderTemplate.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

remove serializerAdapter
  javagen/src/main/java/com/azure/autorest/mapper/ServiceClientMapper.java
  javagen/src/main/java/com/azure/autorest/template/ServiceClientTemplate.java
  javagen/src/main/java/com/azure/autorest/template/TemplateHelper.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

fluentgen
  typespec-extension/package.json
  typespec-extension/pom.xml
  typespec-extension/src/emitter.ts
  typespec-extension/src/main/java/com/azure/autorest/fluent/TypeSpecFluentPlugin.java
  typespec-extension/src/main/java/com/azure/typespec/Main.java
  typespec-extension/src/main/java/com/azure/typespec/model/EmitterOptions.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/fluent_integration.yaml

refactor Main code
  fluentgen/src/main/java/com/azure/autorest/fluent/FluentGen.java
  typespec-extension/src/main/java/com/azure/autorest/TypeSpecPlugin.java
  typespec-extension/src/main/java/com/azure/autorest/fluent/TypeSpecFluentPlugin.java
  typespec-extension/src/main/java/com/azure/typespec/Main.java
  typespec-extension/src/main/java/com/azure/typespec/util/FileUtil.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/fluent_integration.yaml

Update CI to Java 11
  eng/pipelines/ci-typespec-java-dev-nightly.yaml
  eng/pipelines/ci-typespec-java.yaml
  eng/pipelines/ci.yaml
  eng/pipelines/publish-autorest-java.yaml
  eng/pipelines/publish-typespec-java.yaml
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

Use Maven to compile code customization
  extension-base/pom.xml
  postprocessor/pom.xml
  postprocessor/src/main/java/com/azure/autorest/postprocessor/Postprocessor.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

Make sure Java 11 is set
  eng/pipelines/ci-typespec-java-dev-nightly.yaml
  eng/pipelines/ci-typespec-java.yaml
  eng/pipelines/ci.yaml
  fluentgen/src/main/java/com/azure/autorest/fluent/FluentGen.java
  typespec-extension/src/main/java/com/azure/typespec/Main.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

Add more logging details
  fluentgen/src/main/java/com/azure/autorest/fluent/FluentGen.java
  postprocessor/src/main/java/com/azure/autorest/postprocessor/Postprocessor.java
  typespec-extension/src/main/java/com/azure/typespec/Main.java
  typespec-extension/src/main/resources/spotless-pom.xml
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

Use different way to output error
  fluentgen/src/main/java/com/azure/autorest/fluent/FluentGen.java
  postprocessor/src/main/java/com/azure/autorest/postprocessor/Postprocessor.java
  typespec-extension/src/main/java/com/azure/typespec/Main.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

Log command array
  fluentgen/src/main/java/com/azure/autorest/fluent/FluentGen.java
  postprocessor/src/main/java/com/azure/autorest/postprocessor/Postprocessor.java
  typespec-extension/src/main/java/com/azure/typespec/Main.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

Start Maven process in POM directory
  eng/pipelines/fluent_integration.yaml
  fluentgen/src/main/java/com/azure/autorest/fluent/FluentGen.java
  postprocessor/src/main/java/com/azure/autorest/postprocessor/Postprocessor.java
  typespec-extension/src/main/java/com/azure/typespec/Main.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

Add execution to Spotless configuration
  eng/pipelines/ci-typespec-java-dev-nightly.yaml
  eng/pipelines/ci-typespec-java.yaml
  eng/pipelines/ci.yaml
  eng/pipelines/publish-autorest-java.yaml
  eng/pipelines/publish-typespec-java.yaml
  fluentgen/src/main/resources/spotless-pom.xml
  postprocessor/src/main/resources/readme/pom.xml
  typespec-extension/src/main/resources/spotless-pom.xml
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

Use validate for running Spotless
  eng/pipelines/fluent_integration.yaml
  fluentgen/src/main/java/com/azure/autorest/fluent/FluentGen.java
  fluentgen/src/main/resources/spotless-pom.xml
  postprocessor/src/main/java/com/azure/autorest/postprocessor/Postprocessor.java
  postprocessor/src/main/resources/readme/pom.xml
  typespec-extension/src/main/java/com/azure/typespec/Main.java
  typespec-extension/src/main/resources/spotless-pom.xml
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

Also log compile task
  Generate.ps1
  postprocessor/src/main/java/com/azure/autorest/postprocessor/Postprocessor.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

tsp, unbranded, remove Trait, Policy, SerializerAdapter (#2372)
  javagen/src/main/java/com/azure/autorest/mapper/ClientMapper.java
  javagen/src/main/java/com/azure/autorest/mapper/ServiceClientMapper.java
  javagen/src/main/java/com/azure/autorest/model/clientmodel/ClassType.java
  javagen/src/main/java/com/azure/autorest/model/clientmodel/ServiceClient.java
  javagen/src/main/java/com/azure/autorest/template/ServiceClientBuilderTemplate.java
  javagen/src/main/java/com/azure/autorest/template/ServiceClientTemplate.java
  javagen/src/main/java/com/azure/autorest/template/TemplateHelper.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

copy from https://github.com/bterlson/openai-in-typespec
  openai-in-typespec/.vscode/settings.json
  openai-in-typespec/LICENSE
  openai-in-typespec/audio/main.tsp
  openai-in-typespec/audio/models.tsp
  openai-in-typespec/audio/operations.tsp
  openai-in-typespec/common/errors.tsp
  openai-in-typespec/common/models.tsp
  openai-in-typespec/completions/chat-meta.tsp
  openai-in-typespec/completions/main.tsp
  openai-in-typespec/completions/models.tsp
  openai-in-typespec/completions/operations.tsp
  openai-in-typespec/edits/main.tsp
  openai-in-typespec/edits/models.tsp
  openai-in-typespec/edits/operations.tsp
  openai-in-typespec/embeddings/main.tsp
  openai-in-typespec/embeddings/models.tsp
  openai-in-typespec/embeddings/operations.tsp
  openai-in-typespec/files/main.tsp
  openai-in-typespec/files/models.tsp
  openai-in-typespec/files/operations.tsp
  openai-in-typespec/fine-tuning/main.tsp
  openai-in-typespec/fine-tuning/models.tsp
  openai-in-typespec/fine-tuning/operations.tsp
  openai-in-typespec/images/main.tsp
  openai-in-typespec/images/models.tsp
  openai-in-typespec/images/operations.tsp
  openai-in-typespec/main.tsp
  openai-in-typespec/moderation/main.tsp
  openai-in-typespec/moderation/models.tsp
  openai-in-typespec/moderation/operations.tsp
  openai-in-typespec/openapi.yaml
  openai-in-typespec/readme.md
  openai-in-typespec/tsp-output/@typespec/openapi3/openapi.yaml
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

config and script
  Build-TypeSpec.ps1
  openai-in-typespec/Build.ps1
  openai-in-typespec/package.json
  openai-in-typespec/tspconfig.yaml
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

refactor
  fluentnamer/src/main/java/com/azure/autorest/fluentnamer/FluentNamer.java
  typespec-extension/src/main/java/com/azure/autorest/TypeSpecPlugin.java
  typespec-extension/src/main/java/com/azure/autorest/fluent/TypeSpecFluentNamer.java
  typespec-extension/src/main/java/com/azure/autorest/fluent/TypeSpecFluentPlugin.java
  typespec-extension/src/main/java/com/azure/typespec/Main.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/fluent_integration.yaml

fix codegen
  fluentgen/src/main/java/com/azure/autorest/fluent/FluentGen.java
  typespec-extension/src/main/java/com/azure/autorest/fluent/TypeSpecFluentMapperFactory.java
  typespec-extension/src/main/java/com/azure/autorest/fluent/TypeSpecFluentPlugin.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/fluent_integration.yaml

fix fluent=lite
  fluentgen/src/main/java/com/azure/autorest/fluent/FluentGen.java
  typespec-extension/src/main/java/com/azure/autorest/fluent/TypeSpecFluentPlugin.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/fluent_integration.yaml

update script
  Build-TypeSpec.ps1
  openai-in-typespec/Build.ps1
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

regen
  openai-in-typespec/openai-sdk/src/main/java/com/openai/OpenAIClientBuilder.java
  openai-in-typespec/openai-sdk/src/main/java/com/openai/implementation/OpenAIClientImpl.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

format
  typespec-extension/src/emitter.ts
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/fluent_integration.yaml

update according to comments
  fluentgen/src/main/java/com/azure/autorest/fluent/FluentGen.java
  typespec-extension/pom.xml
  typespec-extension/src/main/java/com/azure/autorest/fluent/TypeSpecFluentPlugin.java
  typespec-extension/src/main/java/com/azure/typespec/Main.java
  typespec-extension/src/main/java/com/azure/typespec/util/FileUtil.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/fluent_integration.yaml

add KeyCredentialPolicy
  javagen/src/main/java/com/azure/autorest/model/clientmodel/ClassType.java
  javagen/src/main/java/com/azure/autorest/template/ServiceClientBuilderTemplate.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

allow BasicAuth and BearerAuth for non-azure
  typespec-extension/src/code-model-builder.ts
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/fluent_integration.yaml

remove --force
  typespec-tests/Setup.ps1
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/fluent_integration.yaml

allow KeyCredentialTrait in non-azure
  javagen/src/main/java/com/azure/autorest/mapper/ClientMapper.java
  javagen/src/main/java/com/azure/autorest/model/clientmodel/ClassType.java
  javagen/src/main/java/com/azure/autorest/model/clientmodel/ClientBuilderTrait.java
  javagen/src/main/java/com/azure/autorest/template/ServiceClientBuilderTemplate.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

bug fix
  javagen/src/main/java/com/azure/autorest/model/clientmodel/ClassType.java
  javagen/src/main/java/com/azure/autorest/template/ServiceClientBuilderTemplate.java
  javagen/src/main/java/com/azure/autorest/template/TemplateHelper.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

nit
  javagen/src/main/java/com/azure/autorest/template/ServiceClientBuilderTemplate.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml
