Repository Azure/autorest.java: changes, and which Azure pipelines are due for each by the changed paths.
All: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

eng/pipelines/ci-cadl-java.yaml:
  jobs:
  - job: Build
    timeoutInMinutes: 30
    variables:
      JavaVersion: 1.8
      NodeVersion: 18.x
      isMain: $[eq(variables['Build.SourceBranch'], 'refs/heads/main')]
    pool:
      name: azsdk-pool-mms-ubuntu-2004-general
      vmImage: MMSUbuntu20.04
    steps:
    - task: NodeTool@0
  ...

eng/pipelines/ci-typespec-java.yaml:
  jobs:
  - job: Build
    timeoutInMinutes: 30
    variables:
    - template: /eng/pipelines/variables/globals.yml
    - name: isMain
      value: $[eq(variables['Build.SourceBranch'], 'refs/heads/main')]
    pool:
      name: azsdk-pool-mms-ubuntu-2004-general
      vmImage: MMSUbuntu20.04
    steps:
  ...

eng/pipelines/ci.yaml:
  jobs:
  - job: Build
    timeoutInMinutes: 60
    variables:
      JavaVersion: 1.11
      NodeVersion: 18.x
    pool:
      name: azsdk-pool-mms-ubuntu-2004-general
      vmImage: MMSUbuntu20.04
    steps:
    - task: NodeTool@0
      displayName: Install Node.js $(NodeVersion)
      inputs:
  ...

eng/pipelines/fluent_integration.yaml:
  jobs:
  - job: Build
    timeoutInMinutes: 60
    pool:
      name: azsdk-pool-mms-ubuntu-2004-general
      vmImage: MMSUbuntu20.04
    variables:
    - template: /eng/pipelines/variables/globals.yml
    steps:
    - task: NodeTool@0
      inputs:
        versionSpec: $(NodeVersion)
    - script: npm install autorest -g
  ...

re-generate test code
  vanilla-tests/src/test/java/fixtures/bodycomplex/generated/BooleanWrapperTests.java
  vanilla-tests/src/test/java/fixtures/bodycomplex/generated/DotFishMarketTests.java
  vanilla-tests/src/test/java/fixtures/bodycomplex/generated/DotSalmonTests.java
  vanilla-tests/src/test/java/fixtures/bodycomplex/generated/SalmonTests.java
  vanilla-tests/src/test/java/fixtures/bodycomplex/generated/SmartSalmonTests.java
Due: eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

mgmt, sync 6969 for HEAD mock test (#3074)
  vanilla-tests/src/test/java/fixtures/bodycomplex/generated/BooleanWrapperTests.java
  vanilla-tests/src/test/java/fixtures/bodycomplex/generated/DotFishMarketTests.java
  vanilla-tests/src/test/java/fixtures/bodycomplex/generated/DotSalmonTests.java
  vanilla-tests/src/test/java/fixtures/bodycomplex/generated/SalmonTests.java
  vanilla-tests/src/test/java/fixtures/bodycomplex/generated/SmartSalmonTests.java
Due: eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

verify codemodel to-from json removal
  typespec-tests/src/test/java/tsptest/namespaceclient/generated/NamespaceClientTestBase.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

re-generate test code
  vanilla-tests/src/test/java/fixtures/bodycomplex/generated/SmartSalmonTests.java
Due: eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

doc, update developer documentation (#3052)
  .gitignore
  checkstyle-suppressions.xml
  docs/developer/code-generator-mode.md
  docs/developer/design.md
  docs/developer/readme.md
  docs/developer/typespec/readme.md
  generate-android.bat
  package.json
  readme.md
  typespec-tests/.vscode/launch.json
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

update autorest.java
  typespec-extension/package-lock.json
  typespec-extension/package.json
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

increase autorest.java
  package-lock.json
  package.json
  typespec-extension/package-lock.json
  typespec-extension/package.json
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

update typespec-extension
  typespec-extension/changelog.md
  typespec-extension/package-lock.json
  typespec-extension/package.json
  typespec-tests/package.json
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

mgmt, sync PR 6995, prepare release autorest.java/typespec-java for mock test fix (#3076)
  package-lock.json
  package.json
  typespec-extension/changelog.md
  typespec-extension/package-lock.json
  typespec-extension/package.json
  typespec-tests/package.json
  vanilla-tests/src/test/java/fixtures/bodycomplex/generated/SmartSalmonTests.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

sync test
  typespec-extension/package-lock.json
  typespec-extension/package.json
  typespec-tests/package.json
  typespec-tests/src/main/java/azure/clientgenerator/core/clientinitialization/ParamAliasClientBuilder.java
  typespec-tests/src/main/java/azure/clientgenerator/core/clientinitialization/implementation/ParamAliasClientImpl.java
  typespec-tests/src/main/java/tsptest/flatten/FlattenAsyncClient.java
  typespec-tests/src/main/java/tsptest/flatten/FlattenClient.java
  typespec-tests/src/main/java/tsptest/flatten/implementation/FlattenClientImpl.java
  typespec-tests/src/main/java/tsptest/flatten/implementation/models/SendOptionalBodyRequest.java
  typespec-tests/src/test/java/azure/clientgenerator/core/clientinitialization/ClientInitializationTests.java
  typespec-tests/src/test/java/azure/clientgenerator/core/clientinitialization/generated/HeaderParamClientTestBase.java
  typespec-tests/src/test/java/tsptest/flatten/FlattenTests.java
  typespec-tests/tsp/flatten.tsp
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

deidentification should be good now
  eng/sdk/sync_sdk.py
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

update changelog
  typespec-extension/changelog.md
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

eng, unify pool from image.yml
  eng/pipelines/ci-typespec-java-dev-nightly.yaml
  eng/pipelines/ci-typespec-java.yaml
  eng/pipelines/ci.yaml
  eng/pipelines/fluent_integration.yaml
  eng/pipelines/post-publish-sdk.yaml
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

eng, unify pool from image.yml (#3089)
  eng/pipelines/ci-typespec-java-dev-nightly.yaml
  eng/pipelines/ci-typespec-java.yaml
  eng/pipelines/ci.yaml
  eng/pipelines/fluent_integration.yaml
  eng/pipelines/post-publish-sdk.yaml
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

eng, pipeline for 3 jobs
  eng/pipelines/ci-submodule-commit.yaml
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

refact jobs
  eng/pipelines/ci-submodule-commit.yaml
  eng/pipelines/ci-typespec-java.yaml
  eng/pipelines/ci.yaml
  eng/pipelines/fluent_integration.yaml
  eng/pipelines/jobs/autorest-java-mgmt.yml
  eng/pipelines/jobs/autorest-java.yml
  eng/pipelines/jobs/typespec-java.yml
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

fix job name
  eng/pipelines/jobs/autorest-java-mgmt.yml
  eng/pipelines/jobs/autorest-java.yml
  eng/pipelines/jobs/typespec-java.yml
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

rename
  eng/pipelines/ci-submodule-commit.yaml
  eng/pipelines/ci-typespec-java.yaml
  eng/pipelines/ci.yaml
  eng/pipelines/fluent_integration.yaml
  eng/pipelines/jobs/build-autorest-mgmt.yml
  eng/pipelines/jobs/build-autorest.yml
  eng/pipelines/jobs/build-typespec.yml
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

UploadSpectorReport param
  eng/pipelines/ci-typespec-java.yaml
  eng/pipelines/jobs/build-typespec.yml
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

load tast by condition
  eng/pipelines/jobs/build-typespec.yml
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

update parameter definition
  eng/pipelines/jobs/build-typespec.yml
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

add step of Update Submodule to Commit
  eng/pipelines/jobs/build-autorest-mgmt.yml
  eng/pipelines/jobs/build-autorest.yml
  eng/pipelines/jobs/build-typespec.yml
  eng/pipelines/steps/update-submodule-commit.yml
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

commit id in pipeline parameter
  eng/pipelines/ci-submodule-commit.yaml
  eng/pipelines/ci-typespec-java.yaml
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

remove extends
  eng/pipelines/ci-submodule-commit.yaml
  eng/pipelines/ci-typespec-java.yaml
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

Path conditions:
  eng/pipelines/ci-cadl-java.yaml: any of: *, but not: fluent*, postprocessor, vanilla-tests, protocol*
  eng/pipelines/ci-typespec-java.yaml: any of: *, but not: androidgen, azure-dataplane-tests, azure-tests, fluent-tests, partial-update-tests, vanilla-tests, protocol*
  eng/pipelines/ci.yaml: any of: *, but not: fluent*, typespec*
  eng/pipelines/fluent_integration.yaml: any of: *, but not: typespec*
