Repository Azure/autorest.java: changes, and which Azure pipelines are due for each by the changed paths.
All: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

Path conditions:
  eng/pipelines/ci-cadl-java.yaml: any of: *, but not: fluent*, postprocessor, vanilla-tests, protocol*
  eng/pipelines/ci-typespec-java.yaml: any of: *, but not: azure-dataplane-tests, azure-tests, fluent-tests, partial-update-tests, vanilla-tests, protocol*
  eng/pipelines/ci.yaml: any of: *, but not: fluent*, typespec*
  eng/pipelines/fluent_integration.yaml: any of: *, but not: typespec*

fix script
  typespec-tests/Generate.ps1
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

delete removed generated test
  typespec-tests/src/test/java/client/clientnamespace/generated/ClientNamespaceSecondClientTestBase.java
  typespec-tests/src/test/java/type/model/inheritance/enumnesteddiscriminator/generated/EnumNestedDiscriminatorClientTestBase.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

eng, copilot instruction for typespec-java emitter, update dependency versions and script (#3103)
  .github/copilot-instructions.md
  fluent-tests/Initialize-Tests.ps1
  typespec-extension/package-lock.json
  typespec-extension/package.json
  typespec-tests/Generate.ps1
  typespec-tests/package.json
  typespec-tests/src/test/java/client/clientnamespace/generated/ClientNamespaceSecondClientTestBase.java
  typespec-tests/src/test/java/type/model/inheritance/enumnesteddiscriminator/generated/EnumNestedDiscriminatorClientTestBase.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

update diff
  core.diff
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

add test
  fluent-tests/src/test/java/com/azure/mgmttest/RuntimeTests.java
Due: eng/pipelines/fluent_integration.yaml

revert core.diff
  core.diff
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

update tcgc
  typespec-extension/package-lock.json
  typespec-extension/package.json
  typespec-tests/package.json
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

sync core on main
  typespec-tests/src/main/java/azure/resourcemanager/commonproperties/models/ManagedServiceIdentityType.java
  typespec-tests/src/main/java/azure/resourcemanager/operationtemplates/models/ActionType.java
  typespec-tests/src/main/java/azure/resourcemanager/operationtemplates/models/CheckNameAvailabilityReason.java
  typespec-tests/src/main/java/azure/resourcemanager/operationtemplates/models/Origin.java
  typespec-tests/src/main/java/azure/resourcemanager/resources/models/ProvisioningState.java
  typespec-tests/src/main/java/tsptest/armresourceprovider/models/ActionType.java
  typespec-tests/src/main/java/tsptest/armresourceprovider/models/DogKind.java
  typespec-tests/src/main/java/tsptest/armresourceprovider/models/ManagedServiceIdentityType.java
  typespec-tests/src/main/java/tsptest/armresourceprovider/models/Origin.java
  typespec-tests/src/main/java/tsptest/armresourceprovider/models/PriorityModel.java
  typespec-tests/src/main/java/tsptest/armresourceprovider/models/ProvisioningState.java
  typespec-tests/src/main/java/tsptest/armstreamstyleserialization/models/DogKind.java
  typespec-tests/src/main/java/tsptest/armstreamstyleserialization/models/Priority.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

skip azure-compute-batch as PR open
  eng/sdk/sync_sdk.py
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

test for non-null writeUntypedField
  fluent-tests/src/test/java/com/azure/mgmttest/RuntimeTests.java
Due: eng/pipelines/fluent_integration.yaml

enable sync-stack by default
  fluentgen/readme.md
Due: eng/pipelines/ci-typespec-java.yaml, eng/pipelines/fluent_integration.yaml

sync tests
  typespec-tests/src/main/java/azure/resourcemanager/commonproperties/implementation/CommonPropertiesClientImpl.java
  typespec-tests/src/main/java/azure/resourcemanager/commonproperties/implementation/ErrorsClientImpl.java
  typespec-tests/src/main/java/azure/resourcemanager/commonproperties/implementation/ManagedIdentitiesClientImpl.java
  typespec-tests/src/main/java/azure/resourcemanager/nonresource/implementation/NonResourceClientImpl.java
  typespec-tests/src/main/java/azure/resourcemanager/nonresource/implementation/NonResourceOperationsClientImpl.java
  typespec-tests/src/main/java/azure/resourcemanager/operationtemplates/implementation/CheckNameAvailabilitiesClientImpl.java
  typespec-tests/src/main/java/azure/resourcemanager/operationtemplates/implementation/LroesClientImpl.java
  typespec-tests/src/main/java/azure/resourcemanager/operationtemplates/implementation/OperationTemplatesClientImpl.java
  typespec-tests/src/main/java/azure/resourcemanager/operationtemplates/implementation/OperationsClientImpl.java
  typespec-tests/src/main/java/azure/resourcemanager/resources/implementation/ExtensionsResourcesClientImpl.java
  typespec-tests/src/main/java/azure/resourcemanager/resources/implementation/LocationResourcesClientImpl.java
  typespec-tests/src/main/java/azure/resourcemanager/resources/implementation/NestedsClientImpl.java
  typespec-tests/src/main/java/azure/resourcemanager/resources/implementation/ResourcesClientImpl.java
  typespec-tests/src/main/java/azure/resourcemanager/resources/implementation/SingletonsClientImpl.java
  typespec-tests/src/main/java/azure/resourcemanager/resources/implementation/TopLevelsClientImpl.java
  typespec-tests/src/main/java/tsptest/armstreamstyleserialization/implementation/ArmStreamStyleSerializationClientImpl.java
  typespec-tests/src/main/java/tsptest/armstreamstyleserialization/implementation/FishesClientImpl.java
  typespec-tests/src/main/java/tsptest/armstreamstyleserialization/implementation/FunctionsClientImpl.java
  typespec-tests/src/main/java/tsptest/armstreamstyleserialization/implementation/PrioritiesClientImpl.java
  typespec-tests/src/main/java/tsptest/armstreamstyleserialization/implementation/TopLevelArmResourcesClientImpl.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

premium still async
  fluent-tests/Initialize-Tests.ps1
Due: eng/pipelines/fluent_integration.yaml

update autorest.java
  package-lock.json
  package.json
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

update typespec.java
  typespec-extension/changelog.md
  typespec-extension/package-lock.json
  typespec-extension/package.json
  typespec-tests/package.json
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

re-generate test code
  azure-dataplane-tests/src/main/java/com/azure/containers/containerregistry/implementation/models/AcrErrorInfo.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

enable-sync-stack for non-premium
  fluent-tests/Initialize-Tests.ps1
Due: eng/pipelines/fluent_integration.yaml

prepare release for typespec.java/0.30.1 and autorest.java/4.1.47 (#3109)
  azure-dataplane-tests/src/main/java/com/azure/containers/containerregistry/implementation/models/AcrErrorInfo.java
  fluent-tests/Initialize-Tests.ps1
  fluent-tests/src/test/java/com/azure/mgmttest/RuntimeTests.java
  fluentgen/readme.md
  package-lock.json
  package.json
  typespec-extension/changelog.md
  typespec-extension/package-lock.json
  typespec-extension/package.json
  typespec-tests/package.json
  typespec-tests/src/main/java/azure/resourcemanager/commonproperties/implementation/CommonPropertiesClientImpl.java
  typespec-tests/src/main/java/azure/resourcemanager/commonproperties/implementation/ErrorsClientImpl.java
  typespec-tests/src/main/java/azure/resourcemanager/commonproperties/implementation/ManagedIdentitiesClientImpl.java
  typespec-tests/src/main/java/azure/resourcemanager/nonresource/implementation/NonResourceClientImpl.java
  typespec-tests/src/main/java/azure/resourcemanager/nonresource/implementation/NonResourceOperationsClientImpl.java
  typespec-tests/src/main/java/azure/resourcemanager/operationtemplates/implementation/CheckNameAvailabilitiesClientImpl.java
  typespec-tests/src/main/java/azure/resourcemanager/operationtemplates/implementation/LroesClientImpl.java
  typespec-tests/src/main/java/azure/resourcemanager/operationtemplates/implementation/OperationTemplatesClientImpl.java
  typespec-tests/src/main/java/azure/resourcemanager/operationtemplates/implementation/OperationsClientImpl.java
  typespec-tests/src/main/java/azure/resourcemanager/resources/implementation/ExtensionsResourcesClientImpl.java
  typespec-tests/src/main/java/azure/resourcemanager/resources/implementation/LocationResourcesClientImpl.java
  typespec-tests/src/main/java/azure/resourcemanager/resources/implementation/NestedsClientImpl.java
  typespec-tests/src/main/java/azure/resourcemanager/resources/implementation/ResourcesClientImpl.java
  typespec-tests/src/main/java/azure/resourcemanager/resources/implementation/SingletonsClientImpl.java
  typespec-tests/src/main/java/azure/resourcemanager/resources/implementation/TopLevelsClientImpl.java
  typespec-tests/src/main/java/tsptest/armstreamstyleserialization/implementation/ArmStreamStyleSerializationClientImpl.java
  typespec-tests/src/main/java/tsptest/armstreamstyleserialization/implementation/FishesClientImpl.java
  typespec-tests/src/main/java/tsptest/armstreamstyleserialization/implementation/FunctionsClientImpl.java
  typespec-tests/src/main/java/tsptest/armstreamstyleserialization/implementation/PrioritiesClientImpl.java
  typespec-tests/src/main/java/tsptest/armstreamstyleserialization/implementation/TopLevelArmResourcesClientImpl.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

sync test
  typespec-extension/package-lock.json
  typespec-extension/package.json
  typespec-tests/package.json
  typespec-tests/src/main/java/azure/core/lro/rpc/implementation/RpcClientImpl.java
  typespec-tests/src/main/java/azure/core/lro/standard/implementation/StandardClientImpl.java
  typespec-tests/src/main/java/tsptest/longrunning/implementation/LongRunningClientImpl.java
  typespec-tests/src/main/java/tsptest/protocolandconvenient/implementation/ProtocolAndConvenienceOpsImpl.java
  typespec-tests/src/main/java/tsptest/response/implementation/ResponseClientImpl.java
  typespec-tests/src/main/java/tsptest/specialheaders/implementation/RepeatabilityHeadersImpl.java
  typespec-tests/src/main/java/tsptest/union/implementation/UnionFlattenOpsImpl.java
  typespec-tests/src/main/java/tsptest/versioning/implementation/VersioningOpsImpl.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

test pageable with use-iterable=true
  Generate.ps1
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

bump 4.1.48
  package-lock.json
  package.json
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml
