Repository Azure/autorest.java: changes, and which Azure pipelines are due for each by the changed paths.
All: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

Path conditions:
  eng/pipelines/ci-cadl-java.yaml: any of: *, but not: fluent*, postprocessor, vanilla-tests, protocol*
  eng/pipelines/ci-typespec-java.yaml: any of: *, but not: fluent*, postprocessor, vanilla-tests, protocol*
  eng/pipelines/ci.yaml: any of: *, but not: fluent*, typespec*
  eng/pipelines/fluent_integration.yaml: any of: *, but not: typespec*

clean up
  typespec-extension/src/code-model-builder.ts
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

regen
  typespec-tests/src/main/java/com/cadl/multipart/implementation/models/FormData.java
  typespec-tests/src/main/java/com/cadl/multipart/implementation/models/package-info.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

remove toReplayableBinaryData(), it seems involve IO
  javagen/src/main/resources/MultipartFormDataHelper.java
  typespec-tests/src/main/java/com/cadl/multipart/implementation/MultipartFormDataHelper.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

Update javagen/src/main/java/com/azure/autorest/model/javamodel/JavaPackage.java
  javagen/src/main/java/com/azure/autorest/model/javamodel/JavaPackage.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

tsp, json-merge-patch, add `JsonMergePatchHelper` (#2419)
  javagen/src/main/java/com/azure/autorest/model/javamodel/JavaPackage.java
  javagen/src/main/java/com/azure/autorest/template/DefaultTemplateFactory.java
  javagen/src/main/java/com/azure/autorest/template/JsonMergePatchHelperTemplate.java
  javagen/src/main/java/com/azure/autorest/template/TemplateFactory.java
  javagen/src/main/java/com/azure/autorest/template/Templates.java
  javagen/src/main/java/com/azure/autorest/util/ClientModelUtil.java
  typespec-extension/src/main/java/com/azure/autorest/TypeSpecPlugin.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

tsp, bump npm
  typespec-extension/package.json
  typespec-tests/package.json
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

bump prettier to ~3
  typespec-extension/package.json
  typespec-extension/src/code-model-builder.ts
  typespec-extension/src/prenamer/formatter.ts
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

tsp, bump npm dependencies (#2423)
  typespec-extension/package.json
  typespec-extension/src/code-model-builder.ts
  typespec-extension/src/prenamer/formatter.ts
  typespec-tests/package.json
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

model related code change
  javagen/src/main/java/com/azure/autorest/model/javamodel/JavaClass.java
  javagen/src/main/java/com/azure/autorest/template/ModelTemplate.java
  javagen/src/main/java/com/azure/autorest/template/StreamSerializationModelTemplate.java
  typespec-extension/src/main/java/com/azure/autorest/TypeSpecPlugin.java
  typespec-tests/Generate.ps1
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

re-generate test code
  typespec-tests/src/main/java/com/_specs_/azure/core/basic/implementation/JsonMergePatchHelper.java
  typespec-tests/src/main/java/com/_specs_/azure/core/basic/models/User.java
  typespec-tests/src/main/java/com/_specs_/azure/core/basic/models/UserOrder.java
  typespec-tests/src/main/java/com/cadl/specialheaders/implementation/JsonMergePatchHelper.java
  typespec-tests/src/main/java/com/cadl/specialheaders/models/Resource.java
  typespec-tests/src/main/java/com/encode/bytes/models/Base64UrlArrayBytesProperty.java
  typespec-tests/src/main/java/com/type/property/nullable/implementation/JsonMergePatchHelper.java
  typespec-tests/src/main/java/com/type/property/nullable/models/BytesProperty.java
  typespec-tests/src/main/java/com/type/property/nullable/models/CollectionsByteProperty.java
  typespec-tests/src/main/java/com/type/property/nullable/models/CollectionsModelProperty.java
  typespec-tests/src/main/java/com/type/property/nullable/models/DatetimeProperty.java
  typespec-tests/src/main/java/com/type/property/nullable/models/DurationProperty.java
  typespec-tests/src/main/java/com/type/property/nullable/models/InnerModel.java
  typespec-tests/src/main/java/com/type/property/nullable/models/StringProperty.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

update
  javagen/src/main/java/com/azure/autorest/template/StreamSerializationModelTemplate.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

Add preview pipeline
  eng/pipelines/preview.yml
  eng/scripts/Build-Packages.ps1
  eng/scripts/Command-InvocationHelpers.ps1
  eng/scripts/Initialize-Repository.ps1
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

Don't change expression converter
  javagen/src/main/java/com/azure/autorest/model/clientmodel/ClassType.java
  javagen/src/main/java/com/azure/autorest/template/ModelTemplate.java
  protocol-tests/src/main/java/fixtures/url/implementation/PathsImpl.java
  protocol-tests/src/main/java/fixtures/url/implementation/QueriesImpl.java
  protocol-tests/src/samples/java/fixtures/requiredheaderquery/generated/HeaderParamters.java
  protocol-tests/src/samples/java/fixtures/requiredheaderquery/generated/QueryParamters.java
  typespec-tests/src/main/java/com/cadl/wiretype/models/SubClassBothMismatch.java
  typespec-tests/src/main/java/com/cadl/wiretype/models/SuperClassMismatch.java
  typespec-tests/src/main/java/com/encode/datetime/models/Rfc7231DatetimeProperty.java
  vanilla-tests/src/main/java/fixtures/streamstyleserialization/models/Datetimerfc1123Wrapper.java
  vanilla-tests/src/main/java/fixtures/streamstyleserializationctorargs/models/Datetimerfc1123Wrapper.java
  vanilla-tests/src/main/java/fixtures/streamstylexmlserialization/models/BlobProperties.java
  vanilla-tests/src/main/java/fixtures/streamstylexmlserialization/models/ContainerProperties.java
  vanilla-tests/src/main/java/fixtures/url/Paths.java
  vanilla-tests/src/main/java/fixtures/url/Queries.java
  vanilla-tests/src/test/java/fixtures/bodycomplex/generated/CookiecuttersharkTests.java
  vanilla-tests/src/test/java/fixtures/bodycomplex/generated/DatetimeWrapperTests.java
  vanilla-tests/src/test/java/fixtures/bodycomplex/generated/Datetimerfc1123WrapperTests.java
  vanilla-tests/src/test/java/fixtures/bodycomplex/generated/GoblinsharkTests.java
  vanilla-tests/src/test/java/fixtures/bodycomplex/generated/SawsharkTests.java
  vanilla-tests/src/test/java/fixtures/bodycomplex/generated/SharkTests.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

Add package locks to repo
  .gitignore
  eng/scripts/Build-Packages.ps1
  eng/scripts/Initialize-Repository.ps1
  package-lock.json
  typespec-extension/package-lock.json
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

Remove generator from list of preview packages
  eng/pipelines/preview.yml
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

Pin ranged peer deps
  typespec-extension/package-lock.json
  typespec-extension/package.json
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

Add peerDep @typespec/http
  typespec-extension/package.json
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

update
  javagen/src/main/java/com/azure/autorest/template/ModelTemplate.java
  javagen/src/main/java/com/azure/autorest/template/StreamSerializationModelTemplate.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

remove the check on generation script
  typespec-tests/Generate.ps1
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

re-generate test code
  typespec-tests/src/main/java/com/_specs_/azure/core/basic/models/User.java
  typespec-tests/src/main/java/com/_specs_/azure/core/basic/models/UserOrder.java
  typespec-tests/src/main/java/com/cadl/specialheaders/models/Resource.java
  typespec-tests/src/main/java/com/encode/bytes/models/Base64UrlArrayBytesProperty.java
  typespec-tests/src/main/java/com/type/property/nullable/models/BytesProperty.java
  typespec-tests/src/main/java/com/type/property/nullable/models/CollectionsByteProperty.java
  typespec-tests/src/main/java/com/type/property/nullable/models/CollectionsModelProperty.java
  typespec-tests/src/main/java/com/type/property/nullable/models/DatetimeProperty.java
  typespec-tests/src/main/java/com/type/property/nullable/models/DurationProperty.java
  typespec-tests/src/main/java/com/type/property/nullable/models/InnerModel.java
  typespec-tests/src/main/java/com/type/property/nullable/models/StringProperty.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

disable helper
  typespec-extension/src/main/java/com/azure/autorest/TypeSpecPlugin.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

Only use ISO-8601 on serialization
  azure-dataplane-tests/src/main/java/com/azure/containers/containerregistry/implementation/models/ArtifactManifestPropertiesInternal.java
  azure-dataplane-tests/src/main/java/com/azure/containers/containerregistry/implementation/models/ArtifactTagPropertiesInternal.java
  azure-dataplane-tests/src/main/java/com/azure/containers/containerregistry/implementation/models/ManifestAttributesBase.java
  azure-dataplane-tests/src/main/java/com/azure/containers/containerregistry/implementation/models/TagAttributesBase.java
  azure-dataplane-tests/src/main/java/com/azure/containers/containerregistry/models/ContainerRepositoryProperties.java
  azure-dataplane-tests/src/main/java/com/azure/containers/containerregistry/models/OciAnnotations.java
  javagen/src/main/java/com/azure/autorest/model/clientmodel/ClassType.java
  typespec-tests/src/main/java/com/cadl/builtin/models/Builtin.java
  typespec-tests/src/main/java/com/cadl/builtin/models/Encoded.java
  typespec-tests/src/main/java/com/cadl/optional/models/AllPropertiesOptional.java
  typespec-tests/src/main/java/com/cadl/optional/models/Optional.java
  typespec-tests/src/main/java/com/cadl/wiretype/models/SubClass.java
  typespec-tests/src/main/java/com/cadl/wiretype/models/SubClassMismatch.java
  typespec-tests/src/main/java/com/cadl/wiretype/models/SuperClass.java
  typespec-tests/src/main/java/com/encode/datetime/models/DefaultDatetimeProperty.java
  typespec-tests/src/main/java/com/encode/datetime/models/Rfc3339DatetimeProperty.java
  typespec-tests/src/main/java/com/type/property/nullable/models/DatetimeProperty.java
  typespec-tests/src/main/java/com/type/property/optional/models/DatetimeProperty.java
  typespec-tests/src/main/java/com/type/property/valuetypes/models/DatetimeProperty.java
  vanilla-tests/src/main/java/fixtures/streamstyleserialization/models/Cookiecuttershark.java
  vanilla-tests/src/main/java/fixtures/streamstyleserialization/models/DatetimeWrapper.java
  vanilla-tests/src/main/java/fixtures/streamstyleserialization/models/Goblinshark.java
  vanilla-tests/src/main/java/fixtures/streamstyleserialization/models/Sawshark.java
  vanilla-tests/src/main/java/fixtures/streamstyleserialization/models/Shark.java
  vanilla-tests/src/main/java/fixtures/streamstyleserializationctorargs/models/Cookiecuttershark.java
  vanilla-tests/src/main/java/fixtures/streamstyleserializationctorargs/models/DatetimeWrapper.java
  vanilla-tests/src/main/java/fixtures/streamstyleserializationctorargs/models/Goblinshark.java
  vanilla-tests/src/main/java/fixtures/streamstyleserializationctorargs/models/Sawshark.java
  vanilla-tests/src/main/java/fixtures/streamstyleserializationctorargs/models/Shark.java
  vanilla-tests/src/main/java/fixtures/streamstylexmlserialization/models/AccessPolicy.java
  vanilla-tests/src/main/java/fixtures/streamstylexmlserialization/models/Banana.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

Use sdk repo's main branch for preview pipeline
  eng/pipelines/preview.yml
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

Fix documentation
  azure-dataplane-tests/src/main/java/com/azure/containers/containerregistry/implementation/models/PostContentSchemaGrantType.java
  azure-dataplane-tests/src/main/java/com/azure/containers/containerregistry/implementation/models/TokenGrantType.java
  azure-dataplane-tests/src/main/java/com/azure/containers/containerregistry/models/ArtifactArchitecture.java
  azure-dataplane-tests/src/main/java/com/azure/containers/containerregistry/models/ArtifactManifestOrder.java
  azure-dataplane-tests/src/main/java/com/azure/containers/containerregistry/models/ArtifactOperatingSystem.java
  azure-dataplane-tests/src/main/java/com/azure/containers/containerregistry/models/ArtifactTagOrder.java
  javagen/src/main/java/com/azure/autorest/template/EnumTemplate.java
  typespec-tests/src/main/java/com/_specs_/azure/core/lro/rpc/legacy/models/JobStatus.java
  typespec-tests/src/main/java/com/cadl/enumservice/models/Color.java
  typespec-tests/src/main/java/com/cadl/enumservice/models/ColorModel.java
  typespec-tests/src/main/java/com/cadl/enumservice/models/OperationName.java
  typespec-tests/src/main/java/com/cadl/enumservice/models/OperationStateValues.java
  typespec-tests/src/main/java/com/cadl/enumservice/models/Priority.java
  typespec-tests/src/main/java/com/cadl/enumservice/models/Unit.java
  typespec-tests/src/main/java/com/cadl/internal/implementation/models/Color.java
  typespec-tests/src/main/java/com/cadl/internal/implementation/models/ColorModel.java
  typespec-tests/src/main/java/com/cadl/literalservice/models/ModelOptionalLiteral.java
  typespec-tests/src/main/java/com/cadl/literalservice/models/OptionalLiteralParam.java
  typespec-tests/src/main/java/com/cadl/naming/models/DataStatus.java
  typespec-tests/src/main/java/com/cadl/naming/models/RequestType.java
  typespec-tests/src/main/java/com/cadl/naming/models/TypesModel.java
  typespec-tests/src/main/java/com/cadl/response/models/OperationState.java
  typespec-tests/src/main/java/com/type/enums/extensible/models/DaysOfWeekExtensibleEnum.java
  typespec-tests/src/main/java/com/type/enums/fixed/models/DaysOfWeekEnum.java
  typespec-tests/src/main/java/com/type/property/valuetypes/models/FixedInnerEnum.java
  typespec-tests/src/main/java/com/type/property/valuetypes/models/InnerEnum.java
  vanilla-tests/src/main/java/fixtures/streamstyleserialization/models/CMYKColors.java
  vanilla-tests/src/main/java/fixtures/streamstyleserialization/models/GoblinSharkColor.java
  vanilla-tests/src/main/java/fixtures/streamstyleserialization/models/MyKind.java
  vanilla-tests/src/main/java/fixtures/streamstyleserializationctorargs/models/CMYKColors.java
  vanilla-tests/src/main/java/fixtures/streamstyleserializationctorargs/models/GoblinSharkColor.java
  vanilla-tests/src/main/java/fixtures/streamstyleserializationctorargs/models/MyKind.java
  vanilla-tests/src/main/java/fixtures/streamstylexmlserialization/models/AccessTier.java
  vanilla-tests/src/main/java/fixtures/streamstylexmlserialization/models/ArchiveStatus.java
  vanilla-tests/src/main/java/fixtures/streamstylexmlserialization/models/BlobType.java
  vanilla-tests/src/main/java/fixtures/streamstylexmlserialization/models/CopyStatusType.java
  vanilla-tests/src/main/java/fixtures/streamstylexmlserialization/models/LeaseDurationType.java
  vanilla-tests/src/main/java/fixtures/streamstylexmlserialization/models/LeaseStateType.java
  vanilla-tests/src/main/java/fixtures/streamstylexmlserialization/models/LeaseStatusType.java
  vanilla-tests/src/main/java/fixtures/streamstylexmlserialization/models/PublicAccessType.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

Add DevOps caching
  eng/pipelines/ci-typespec-java-dev-nightly.yaml
  eng/pipelines/ci-typespec-java.yaml
  eng/pipelines/ci.yaml
  eng/pipelines/fluent_integration.yaml
  eng/pipelines/publish-autorest-java.yaml
  eng/pipelines/publish-typespec-java.yaml
  eng/pipelines/steps/cache-maven-repository.yml
  eng/pipelines/steps/cleanup-maven-local-cache.yml
  eng/pipelines/variables/globals.yml
  eng/scripts/Remove-AzureArtifactsFromCache.ps1
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

Remove folder from key
  eng/pipelines/steps/cache-maven-repository.yml
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

Have fluent tests depend on fluent gen
  fluent-tests/pom.xml
Due: eng/pipelines/fluent_integration.yaml

Fix script reference path
  eng/pipelines/steps/cleanup-maven-local-cache.yml
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

Pass DefaultOptions
  eng/pipelines/ci-typespec-java-dev-nightly.yaml
  eng/pipelines/ci-typespec-java.yaml
  eng/pipelines/ci.yaml
  eng/pipelines/fluent_integration.yaml
  eng/pipelines/publish-autorest-java.yaml
  eng/pipelines/publish-typespec-java.yaml
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

re-generate test code
  typespec-tests/src/main/java/com/_specs_/azure/core/basic/implementation/JsonMergePatchHelper.java
  typespec-tests/src/main/java/com/cadl/specialheaders/implementation/JsonMergePatchHelper.java
  typespec-tests/src/main/java/com/type/property/nullable/implementation/JsonMergePatchHelper.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

revert format change.
  javagen/src/main/java/com/azure/autorest/template/StreamSerializationModelTemplate.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

Last few changes before merge
  javagen/src/main/java/com/azure/autorest/template/EnumTemplate.java
  javagen/src/main/java/com/azure/autorest/util/ClientModelUtil.java
  javagen/src/main/resources/CoreToCodegenBridgeUtils.java
  typespec-extension/src/emitter.ts
  typespec-extension/src/main/java/com/azure/typespec/model/EmitterOptions.java
  typespec-tests/src/main/java/com/_specs_/azure/core/lro/rpc/legacy/implementation/CoreToCodegenBridgeUtils.java
  typespec-tests/src/main/java/com/_specs_/azure/core/lro/rpc/legacy/models/JobStatus.java
  typespec-tests/src/main/java/com/cadl/builtin/implementation/CoreToCodegenBridgeUtils.java
  typespec-tests/src/main/java/com/cadl/enumservice/models/Color.java
  typespec-tests/src/main/java/com/cadl/enumservice/models/ColorModel.java
  typespec-tests/src/main/java/com/cadl/enumservice/models/OperationName.java
  typespec-tests/src/main/java/com/cadl/enumservice/models/OperationStateValues.java
  typespec-tests/src/main/java/com/cadl/enumservice/models/Priority.java
  typespec-tests/src/main/java/com/cadl/enumservice/models/Unit.java
  typespec-tests/src/main/java/com/cadl/errormodel/implementation/CoreToCodegenBridgeUtils.java
  typespec-tests/src/main/java/com/cadl/internal/implementation/models/Color.java
  typespec-tests/src/main/java/com/cadl/internal/implementation/models/ColorModel.java
  typespec-tests/src/main/java/com/cadl/literalservice/models/ModelOptionalLiteral.java
  typespec-tests/src/main/java/com/cadl/literalservice/models/OptionalLiteralParam.java
  typespec-tests/src/main/java/com/cadl/naming/models/DataStatus.java
  typespec-tests/src/main/java/com/cadl/naming/models/RequestType.java
  typespec-tests/src/main/java/com/cadl/naming/models/TypesModel.java
  typespec-tests/src/main/java/com/cadl/optional/implementation/CoreToCodegenBridgeUtils.java
  typespec-tests/src/main/java/com/cadl/response/implementation/CoreToCodegenBridgeUtils.java
  typespec-tests/src/main/java/com/cadl/response/models/OperationState.java
  typespec-tests/src/main/java/com/encode/duration/implementation/CoreToCodegenBridgeUtils.java
  typespec-tests/src/main/java/com/type/enums/extensible/models/DaysOfWeekExtensibleEnum.java
  typespec-tests/src/main/java/com/type/enums/fixed/models/DaysOfWeekEnum.java
  typespec-tests/src/main/java/com/type/property/nullable/implementation/CoreToCodegenBridgeUtils.java
  typespec-tests/src/main/java/com/type/property/optional/implementation/CoreToCodegenBridgeUtils.java
  typespec-tests/src/main/java/com/type/property/valuetypes/implementation/CoreToCodegenBridgeUtils.java
  typespec-tests/src/main/java/com/type/property/valuetypes/models/FixedInnerEnum.java
  typespec-tests/src/main/java/com/type/property/valuetypes/models/InnerEnum.java
  typespec-tests/tspconfig.yaml
  vanilla-tests/src/main/java/fixtures/streamstyleserialization/implementation/CoreToCodegenBridgeUtils.java
  vanilla-tests/src/main/java/fixtures/streamstyleserializationctorargs/implementation/CoreToCodegenBridgeUtils.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

Remove invalid DefaultOptions
  eng/pipelines/variables/globals.yml
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

Move DefaultOptions to the right place in autorest.java and make --no-transfer-progress a default option
  eng/pipelines/ci-typespec-java-dev-nightly.yaml
  eng/pipelines/ci-typespec-java.yaml
  eng/pipelines/ci.yaml
  eng/pipelines/fluent_integration.yaml
  eng/pipelines/publish-autorest-java.yaml
  eng/pipelines/publish-typespec-java.yaml
  eng/pipelines/variables/globals.yml
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

Add DevOps caching (#2425)
  eng/pipelines/ci-typespec-java-dev-nightly.yaml
  eng/pipelines/ci-typespec-java.yaml
  eng/pipelines/ci.yaml
  eng/pipelines/fluent_integration.yaml
  eng/pipelines/publish-autorest-java.yaml
  eng/pipelines/publish-typespec-java.yaml
  eng/pipelines/steps/cache-maven-repository.yml
  eng/pipelines/steps/cleanup-maven-local-cache.yml
  eng/pipelines/variables/globals.yml
  eng/scripts/Remove-AzureArtifactsFromCache.ps1
  fluent-tests/pom.xml
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml
