Repository Azure/autorest.java: changes, and which Azure pipelines are due for each by the changed paths.
All: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

eng/pipelines/ci-cadl-java.yaml:
  jobs:
  - job: Build
    timeoutInMinutes: 30
    variables:
      JavaVersion: 1.8
      NodeVersion: 18.x
      isMain: $[eq(variables['Build.SourceBranch'], 'refs/heads/main')]
    pool:
      name: azsdk-pool-mms-ubuntu-2004-general
      vmImage: MMSUbuntu20.04
    steps:
    - task: NodeTool@0
  ...

eng/pipelines/ci-typespec-java.yaml:
  jobs:
  - job: Build
    timeoutInMinutes: 30
    variables:
    - template: /eng/pipelines/variables/globals.yml
    - name: isMain
      value: $[eq(variables['Build.SourceBranch'], 'refs/heads/main')]
    pool:
      name: azsdk-pool-mms-ubuntu-2004-general
      vmImage: MMSUbuntu20.04
    steps:
  ...

eng/pipelines/ci.yaml:
  jobs:
  - job: Build
    timeoutInMinutes: 60
    variables:
      JavaVersion: 1.11
      NodeVersion: 18.x
    pool:
      name: azsdk-pool-mms-ubuntu-2004-general
      vmImage: MMSUbuntu20.04
    steps:
    - task: NodeTool@0
      displayName: Install Node.js $(NodeVersion)
      inputs:
  ...

eng/pipelines/fluent_integration.yaml:
  jobs:
  - job: Build
    timeoutInMinutes: 60
    pool:
      name: azsdk-pool-mms-ubuntu-2004-general
      vmImage: MMSUbuntu20.04
    variables:
    - template: /eng/pipelines/variables/globals.yml
    steps:
    - task: NodeTool@0
      inputs:
        versionSpec: $(NodeVersion)
    - script: npm install autorest -g
  ...

logic on the JavaClass and JavaFile to add markers
  javagen/src/main/java/com/azure/autorest/model/javamodel/JavaClass.java
  javagen/src/main/java/com/azure/autorest/model/javamodel/JavaFile.java
  javagen/src/main/java/com/azure/autorest/model/javamodel/JavaFileContents.java
  javagen/src/main/java/com/azure/autorest/util/TemplateUtil.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

more redact on filename
  javagen/src/main/resources/MultipartFormDataHelper.java
  typespec-tests/src/main/java/com/cadl/multipart/implementation/MultipartFormDataHelper.java
  typespec-tests/src/main/java/com/payload/multipart/implementation/MultipartFormDataHelper.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

now need to provide name to each file in test
  typespec-tests/src/test/java/com/payload/multipart/MultipartTests.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

minor refact
  javagen/src/main/resources/MultipartFormDataHelper.java
  typespec-tests/src/main/java/com/cadl/multipart/implementation/MultipartFormDataHelper.java
  typespec-tests/src/main/java/com/payload/multipart/implementation/MultipartFormDataHelper.java
  typespec-tests/src/test/java/com/payload/multipart/MultipartTests.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

changelog
  typespec-extension/changelog.md
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

tsp, local test add a case of enum with access=public (#2542)
  typespec-tests/src/main/java/com/cadl/internal/models/UnusedEnum.java
  typespec-tests/tsp/internal.tsp
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

fallback to type.getTypeArguments[0] if unable to determin Response type
  fluentgen/src/main/java/com/azure/autorest/fluent/util/FluentUtils.java
Due: eng/pipelines/ci-typespec-java.yaml, eng/pipelines/fluent_integration.yaml

use internal model for anonymous model, for better serialization support
  javagen/src/main/java/com/azure/autorest/model/clientmodel/ClientMethodParameter.java
  javagen/src/main/java/com/azure/autorest/template/ConvenienceMethodTemplateBase.java
  typespec-extension/src/code-model-builder.ts
  typespec-extension/src/main/java/com/azure/typespec/util/ModelUtil.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

remove skip on multipart flatten
  typespec-extension/src/code-model-builder.ts
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

local test case
  typespec-tests/tsp/multipart.tsp
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

mgmt, fix fluent operations with header response (#2541)
  fluentgen/src/main/java/com/azure/autorest/fluent/util/FluentUtils.java
  javagen/src/main/java/com/azure/autorest/mapper/ClientMethodMapper.java
  javagen/src/main/java/com/azure/autorest/util/ReturnTypeDescriptionAssembler.java
  javagen/src/main/java/com/azure/autorest/util/SchemaUtil.java
  typespec-extension/src/main/java/com/azure/autorest/fluent/TypeSpecFluentPlugin.java
  typespec-tests/src/main/java/com/cadl/armresourceprovider/ArmResourceProviderManager.java
  typespec-tests/src/main/java/com/cadl/armresourceprovider/fluent/ArmResourceProviderClient.java
  typespec-tests/src/main/java/com/cadl/armresourceprovider/fluent/CustomTemplateResourceInterfacesClient.java
  typespec-tests/src/main/java/com/cadl/armresourceprovider/fluent/models/CustomTemplateResourceInner.java
  typespec-tests/src/main/java/com/cadl/armresourceprovider/implementation/ArmResourceProviderClientImpl.java
  typespec-tests/src/main/java/com/cadl/armresourceprovider/implementation/CustomTemplateResourceImpl.java
  typespec-tests/src/main/java/com/cadl/armresourceprovider/implementation/CustomTemplateResourceInterfacesClientImpl.java
  typespec-tests/src/main/java/com/cadl/armresourceprovider/implementation/CustomTemplateResourceInterfacesImpl.java
  typespec-tests/src/main/java/com/cadl/armresourceprovider/models/CustomTemplateResource.java
  typespec-tests/src/main/java/com/cadl/armresourceprovider/models/CustomTemplateResourceInterfaces.java
  typespec-tests/src/main/java/com/cadl/armresourceprovider/models/CustomTemplateResourceInterfacesUpdateHeaders.java
  typespec-tests/src/main/java/com/cadl/armresourceprovider/models/CustomTemplateResourceInterfacesUpdateResponse.java
  typespec-tests/src/main/java/com/cadl/armresourceprovider/models/CustomTemplateResourceProperties.java
  typespec-tests/src/main/resources/META-INF/native-image/com.azure.resourcemanager/azure-resourcemanager-armresourceprovider-generated/proxy-config.json
  typespec-tests/src/main/resources/META-INF/native-image/com.azure.resourcemanager/azure-resourcemanager-armresourceprovider-generated/reflect-config.json
  typespec-tests/tsp/arm.tsp
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

refactor, move some function to TypeUtil class
  fluentgen/src/main/java/com/azure/autorest/fluent/util/FluentUtils.java
  javagen/src/main/java/com/azure/autorest/mapper/ModelMapper.java
  javagen/src/main/java/com/azure/autorest/util/ClientModelUtil.java
  javagen/src/main/java/com/azure/autorest/util/ReturnTypeDescriptionAssembler.java
  javagen/src/main/java/com/azure/autorest/util/SchemaUtil.java
  javagen/src/main/java/com/azure/autorest/util/TypeUtil.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

fix name on contentType
  javagen/src/main/java/com/azure/autorest/util/MethodUtil.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

support flatten on multipart
  fluentgen/src/main/java/com/azure/autorest/fluent/util/FluentUtils.java
  javagen/src/main/java/com/azure/autorest/mapper/ClientMethodMapper.java
  javagen/src/main/java/com/azure/autorest/mapper/ModelMapper.java
  javagen/src/main/java/com/azure/autorest/template/ConvenienceMethodTemplateBase.java
  javagen/src/main/java/com/azure/autorest/util/MethodUtil.java
  javagen/src/main/java/com/azure/autorest/util/TypeUtil.java
  typespec-extension/src/code-model-builder.ts
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

regen
  typespec-tests/src/main/java/com/cadl/multipart/MultipartAsyncClient.java
  typespec-tests/src/main/java/com/cadl/multipart/MultipartClient.java
  typespec-tests/src/main/java/com/cadl/multipart/implementation/MultipartClientImpl.java
  typespec-tests/src/main/java/com/cadl/multipart/implementation/models/UploadFileRequest.java
  typespec-tests/src/main/java/com/cadl/multipart/implementation/models/package-info.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

comment
  javagen/src/main/java/com/azure/autorest/template/ConvenienceMethodTemplateBase.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

fix bug on process of flattened model
  javagen/src/main/java/com/azure/autorest/template/ConvenienceMethodTemplateBase.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

fix void request body
  typespec-extension/src/code-model-builder.ts
  typespec-tests/tsp/arm.tsp
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

re-generate test code
  typespec-tests/src/main/java/com/cadl/armresourceprovider/fluent/ChildResourcesInterfacesClient.java
  typespec-tests/src/main/java/com/cadl/armresourceprovider/implementation/ChildResourceImpl.java
  typespec-tests/src/main/java/com/cadl/armresourceprovider/implementation/ChildResourcesInterfacesClientImpl.java
  typespec-tests/src/main/java/com/cadl/armresourceprovider/implementation/ChildResourcesInterfacesImpl.java
  typespec-tests/src/main/java/com/cadl/armresourceprovider/models/ChildResource.java
  typespec-tests/src/main/java/com/cadl/armresourceprovider/models/ChildResourcesInterfaces.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

revert ServiceVersionTemplate
  javagen/src/main/java/com/azure/autorest/template/ServiceVersionTemplate.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

avoid ServiceVersion
  typespec-extension/src/operation-utils.ts
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

re-generate test code
  typespec-tests/src/main/java/com/_specs_/azure/core/basic/BasicServiceVersion.java
  typespec-tests/src/main/java/com/_specs_/azure/core/lro/rpc/RpcServiceVersion.java
  typespec-tests/src/main/java/com/_specs_/azure/core/lro/rpc/legacy/LegacyServiceVersion.java
  typespec-tests/src/main/java/com/_specs_/azure/core/lro/standard/StandardServiceVersion.java
  typespec-tests/src/main/java/com/_specs_/azure/core/traits/TraitsServiceVersion.java
  typespec-tests/src/main/java/com/cadl/flatten/FlattenServiceVersion.java
  typespec-tests/src/main/java/com/cadl/longrunning/LongRunningServiceVersion.java
  typespec-tests/src/main/java/com/cadl/multipleapiversion/FirstServiceVersion.java
  typespec-tests/src/main/java/com/cadl/multipleapiversion/NoApiVersionServiceVersion.java
  typespec-tests/src/main/java/com/cadl/multipleapiversion/SecondServiceVersion.java
  typespec-tests/src/main/java/com/cadl/protocolandconvenient/ProtocolAndConvenientServiceVersion.java
  typespec-tests/src/main/java/com/cadl/response/ResponseServiceVersion.java
  typespec-tests/src/main/java/com/cadl/server/ContosoServiceVersion.java
  typespec-tests/src/main/java/com/cadl/specialheaders/SpecialHeadersServiceVersion.java
  typespec-tests/src/main/java/com/cadl/union/UnionServiceVersion.java
  typespec-tests/src/main/java/com/cadl/versioning/VersioningServiceVersion.java
  typespec-tests/src/main/java/com/client/structure/service/ClientAClientBuilder.java
  typespec-tests/src/main/java/com/client/structure/service/ClientBClientBuilder.java
  typespec-tests/src/main/java/com/client/structure/service/RenamedOperationClientBuilder.java
  typespec-tests/src/main/java/com/client/structure/service/ServiceClientClientBuilder.java
  typespec-tests/src/main/java/com/client/structure/service/ServiceServiceVersion.java
  typespec-tests/src/main/java/com/client/structure/service/TwoOperationGroupClientBuilder.java
  typespec-tests/src/main/java/com/client/structure/service/implementation/BarsImpl.java
  typespec-tests/src/main/java/com/client/structure/service/implementation/BazFoosImpl.java
  typespec-tests/src/main/java/com/client/structure/service/implementation/ClientAClientImpl.java
  typespec-tests/src/main/java/com/client/structure/service/implementation/ClientBClientImpl.java
  typespec-tests/src/main/java/com/client/structure/service/implementation/FoosImpl.java
  typespec-tests/src/main/java/com/client/structure/service/implementation/Group1sImpl.java
  typespec-tests/src/main/java/com/client/structure/service/implementation/Group2sImpl.java
  typespec-tests/src/main/java/com/client/structure/service/implementation/GroupsImpl.java
  typespec-tests/src/main/java/com/client/structure/service/implementation/QuxBarsImpl.java
  typespec-tests/src/main/java/com/client/structure/service/implementation/QuxesImpl.java
  typespec-tests/src/main/java/com/client/structure/service/implementation/RenamedOperationClientImpl.java
  typespec-tests/src/main/java/com/client/structure/service/implementation/ServiceClientClientImpl.java
  typespec-tests/src/main/java/com/client/structure/service/implementation/TwoOperationGroupClientImpl.java
  typespec-tests/src/main/java/com/resiliency/servicedriven/ServiceDrivenServiceVersion.java
  typespec-tests/src/main/java/com/resiliency/servicedriven/v1/ServiceDrivenServiceVersion.java
  typespec-tests/src/main/java/com/server/path/multiple/MultipleServiceVersion.java
  typespec-tests/src/main/java/com/server/versions/versioned/VersionedServiceVersion.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

github action permission to create tag and release
  .github/workflows/pre-release-typespec.yml
  .github/workflows/pre-release.yml
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

bump version
  typespec-extension/changelog.md
  typespec-extension/package-lock.json
  typespec-extension/package.json
  typespec-tests/package.json
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

mpg, fix void request body (#2546)
  typespec-extension/src/code-model-builder.ts
  typespec-tests/src/main/java/com/cadl/armresourceprovider/fluent/ChildResourcesInterfacesClient.java
  typespec-tests/src/main/java/com/cadl/armresourceprovider/implementation/ChildResourceImpl.java
  typespec-tests/src/main/java/com/cadl/armresourceprovider/implementation/ChildResourcesInterfacesClientImpl.java
  typespec-tests/src/main/java/com/cadl/armresourceprovider/implementation/ChildResourcesInterfacesImpl.java
  typespec-tests/src/main/java/com/cadl/armresourceprovider/models/ChildResource.java
  typespec-tests/src/main/java/com/cadl/armresourceprovider/models/ChildResourcesInterfaces.java
  typespec-tests/tsp/arm.tsp
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

fix for multipart anonymous model
  javagen/src/main/java/com/azure/autorest/util/TypeUtil.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

test case
  typespec-tests/src/main/java/com/cadl/multipart/MultipartAsyncClient.java
  typespec-tests/src/main/java/com/cadl/multipart/MultipartClient.java
  typespec-tests/src/main/java/com/cadl/multipart/implementation/models/UploadFileRequest.java
  typespec-tests/src/main/java/com/cadl/multipart/models/FileDataFileDetails.java
  typespec-tests/tsp/multipart.tsp
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

re-generate test code
  azure-dataplane-tests/src/main/java/com/azure/ai/formrecognizer/documentanalysis/dpg/FormRecognizerServiceVersion.java
  partial-update-tests/generated/src/main/java/fixtures/bodystring/AutoRestSwaggerBatServiceVersion.java
  protocol-resilience-test/llcinitial/src/main/java/fixtures/llcresi/DpgServiceVersion.java
  protocol-resilience-test/llcupdate1/src/main/java/fixtures/llcresi/DpgServiceVersion.java
  protocol-tests/src/main/java/fixtures/bodycomplex/AutoRestComplexTestServiceVersion.java
  protocol-tests/src/main/java/fixtures/bodyfile/AutoRestSwaggerBatFileServiceVersion.java
  protocol-tests/src/main/java/fixtures/bodystring/AutoRestSwaggerBatServiceVersion.java
  protocol-tests/src/main/java/fixtures/constantandclientparam/ConstantAndClientParameterServiceVersion.java
  protocol-tests/src/main/java/fixtures/constants/AutoRestSwaggerConstantServiceVersion.java
  protocol-tests/src/main/java/fixtures/dpgcustomization/DpgServiceVersion.java
  protocol-tests/src/main/java/fixtures/endpointlro/LroEndpointServiceVersion.java
  protocol-tests/src/main/java/fixtures/enums/EnumServiceVersion.java
  protocol-tests/src/main/java/fixtures/header/AutoRestSwaggerBatHeaderServiceVersion.java
  protocol-tests/src/main/java/fixtures/headexceptions/AutoRestHeadExceptionTestServiceVersion.java
  protocol-tests/src/main/java/fixtures/httpinfrastructure/AutoRestHttpInfrastructureTestServiceVersion.java
  protocol-tests/src/main/java/fixtures/llcinitial/DpgServiceVersion.java
  protocol-tests/src/main/java/fixtures/llcupdate1/DpgServiceVersion.java
  protocol-tests/src/main/java/fixtures/lro/AutoRestLongRunningOperationTestServiceVersion.java
  protocol-tests/src/main/java/fixtures/mediatypes/MediaTypesServiceVersion.java
  protocol-tests/src/main/java/fixtures/multimediatypes/DpgMultiMediaTypesServiceVersion.java
  protocol-tests/src/main/java/fixtures/paging/AutoRestPagingTestServiceVersion.java
  protocol-tests/src/main/java/fixtures/parameterizedendpoint/ParmaterizedEndpointServiceVersion.java
  protocol-tests/src/main/java/fixtures/requiredheaderquery/DpgRequiredHeaderQueryServiceVersion.java
  protocol-tests/src/main/java/fixtures/requiredoptionalbody/RequiredOptionalBodyServiceVersion.java
  protocol-tests/src/main/java/fixtures/specialheader/SpecialHeaderServiceVersion.java
  protocol-tests/src/main/java/fixtures/url/AutoRestUrlTestServiceVersion.java
  protocol-tests/src/main/java/fixtures/url/multi/AutoRestUrlMutliCollectionFormatTestServiceVersion.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

minor change
  javagen/src/main/java/com/azure/autorest/util/TypeUtil.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

remove unused imports
  javagen/src/main/java/com/azure/autorest/model/javamodel/JavaClass.java
  javagen/src/main/java/com/azure/autorest/model/javamodel/JavaFile.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

refactor
  javagen/src/main/java/com/azure/autorest/model/javamodel/JavaClass.java
  javagen/src/main/java/com/azure/autorest/model/javamodel/JavaFile.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

update template to use the new javadocComment API
  javagen/src/main/java/com/azure/autorest/template/ModelTemplate.java
  javagen/src/main/java/com/azure/autorest/template/ServiceAsyncClientTemplate.java
  javagen/src/main/java/com/azure/autorest/template/ServiceClientBuilderTemplate.java
  javagen/src/main/java/com/azure/autorest/template/ServiceSyncClientTemplate.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

add isPartialUpdateSupported for client method template
  androidgen/src/main/java/com/azure/autorest/android/template/AndroidWrapperClientMethodTemplate.java
  javagen/src/main/java/com/azure/autorest/template/WrapperClientMethodTemplate.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

logic for client method
  fluentgen/src/main/java/com/azure/autorest/fluent/model/clientmodel/fluentmodel/method/CollectionMethodOperationByIdTemplate.java
  javagen/src/main/java/com/azure/autorest/model/javamodel/JavaBlock.java
  javagen/src/main/java/com/azure/autorest/model/javamodel/JavaClass.java
  javagen/src/main/java/com/azure/autorest/model/javamodel/JavaContext.java
  javagen/src/main/java/com/azure/autorest/model/javamodel/JavaFile.java
  javagen/src/main/java/com/azure/autorest/model/javamodel/JavaInterface.java
  javagen/src/main/java/com/azure/autorest/template/ClientMethodTemplate.java
  javagen/src/main/java/com/azure/autorest/template/ClientMethodTemplateBase.java
  javagen/src/main/java/com/azure/autorest/template/ConvenienceMethodTemplateBase.java
  javagen/src/main/java/com/azure/autorest/template/WrapperClientMethodTemplate.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

update modeltemplate
  javagen/src/main/java/com/azure/autorest/template/ModelTemplate.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

Path conditions:
  eng/pipelines/ci-cadl-java.yaml: any of: *, but not: fluent*, postprocessor, vanilla-tests, protocol*
  eng/pipelines/ci-typespec-java.yaml: any of: *, but not: androidgen, azure-dataplane-tests, azure-tests, fluent-tests, partial-update-tests, vanilla-tests, protocol*
  eng/pipelines/ci.yaml: any of: *, but not: fluent*, typespec*
  eng/pipelines/fluent_integration.yaml: any of: *, but not: typespec*
