Repository Azure/autorest.java: changes, and which Azure pipelines are due for each by the changed paths.
All: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

eng/pipelines/ci-cadl-java.yaml:
  jobs:
  - job: Build
    timeoutInMinutes: 30
    variables:
      JavaVersion: 1.8
      NodeVersion: 18.x
      isMain: $[eq(variables['Build.SourceBranch'], 'refs/heads/main')]
    pool:
      name: azsdk-pool-mms-ubuntu-2004-general
      vmImage: MMSUbuntu20.04
    steps:
    - task: NodeTool@0
  ...

eng/pipelines/ci-typespec-java.yaml:
  jobs:
  - job: Build
    timeoutInMinutes: 30
    variables:
    - template: /eng/pipelines/variables/globals.yml
    - name: isMain
      value: $[eq(variables['Build.SourceBranch'], 'refs/heads/main')]
    pool:
      name: azsdk-pool-mms-ubuntu-2004-general
      vmImage: MMSUbuntu20.04
    steps:
  ...

eng/pipelines/ci.yaml:
  jobs:
  - job: Build
    timeoutInMinutes: 60
    variables:
      JavaVersion: 1.11
      NodeVersion: 18.x
    pool:
      name: azsdk-pool-mms-ubuntu-2004-general
      vmImage: MMSUbuntu20.04
    steps:
    - task: NodeTool@0
      displayName: Install Node.js $(NodeVersion)
      inputs:
  ...

eng/pipelines/fluent_integration.yaml:
  jobs:
  - job: Build
    timeoutInMinutes: 60
    pool:
      name: azsdk-pool-mms-ubuntu-2004-general
      vmImage: MMSUbuntu20.04
    variables:
    - template: /eng/pipelines/variables/globals.yml
    steps:
    - task: NodeTool@0
      inputs:
        versionSpec: $(NodeVersion)
    - script: npm install autorest -g
  ...

sync protocol-sdk-integration-tests
  protocol-sdk-integration-tests/.vscode/eclipse-format-azure-sdk-for-java.xml
  protocol-sdk-integration-tests/sdk/parents/azure-client-sdk-parent/pom.xml
Due: eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

sync code-quality-reports
  protocol-sdk-integration-tests/eng/code-quality-reports/README.md
  protocol-sdk-integration-tests/eng/code-quality-reports/pom.xml
  protocol-sdk-integration-tests/eng/code-quality-reports/src/main/java/com/azure/tools/checkstyle/checks/DenyListedWordsCheck.java
  protocol-sdk-integration-tests/eng/code-quality-reports/src/main/java/com/azure/tools/checkstyle/checks/EnforceFinalFieldsCheck.java
  protocol-sdk-integration-tests/eng/code-quality-reports/src/main/java/com/azure/tools/checkstyle/checks/ExternalDependencyExposedCheck.java
  protocol-sdk-integration-tests/eng/code-quality-reports/src/main/java/com/azure/tools/checkstyle/checks/GoodLoggingCheck.java
  protocol-sdk-integration-tests/eng/code-quality-reports/src/main/java/com/azure/tools/checkstyle/checks/ImmutableClassCheck.java
  protocol-sdk-integration-tests/eng/code-quality-reports/src/main/java/com/azure/tools/checkstyle/checks/JavadocThrowsChecks.java
  protocol-sdk-integration-tests/eng/code-quality-reports/src/main/java/com/azure/tools/checkstyle/checks/NoImplInPublicAPI.java
  protocol-sdk-integration-tests/eng/code-quality-reports/src/main/java/com/azure/tools/checkstyle/checks/OnlyFinalFieldsForImmutableClassCheck.java
  protocol-sdk-integration-tests/eng/code-quality-reports/src/main/java/com/azure/tools/checkstyle/checks/StepVerifierCheck.java
  protocol-sdk-integration-tests/eng/code-quality-reports/src/main/java/com/azure/tools/checkstyle/checks/UseCaughtExceptionCauseCheck.java
  protocol-sdk-integration-tests/eng/code-quality-reports/src/main/java/com/azure/tools/checkstyle/checks/Utils.java
  protocol-sdk-integration-tests/eng/code-quality-reports/src/main/java/com/azure/tools/checkstyle/filters/AzureSdkFilter.java
  protocol-sdk-integration-tests/eng/code-quality-reports/src/main/java/com/azure/tools/checkstyle/filters/package-info.java
  protocol-sdk-integration-tests/eng/code-quality-reports/src/main/java/com/azure/tools/revapi/transforms/AzureSdkAllowedExternalApis.java
  protocol-sdk-integration-tests/eng/code-quality-reports/src/main/java/com/azure/tools/revapi/transforms/AzureSdkTreeFilterProvider.java
  protocol-sdk-integration-tests/eng/code-quality-reports/src/main/java/com/azure/tools/revapi/transforms/JacksonDatabindRemovalTransform.java
  protocol-sdk-integration-tests/eng/code-quality-reports/src/main/java/com/azure/tools/revapi/transforms/TransitiveCoreChangesTransform.java
  protocol-sdk-integration-tests/eng/code-quality-reports/src/main/resources/META-INF/services/org.revapi.DifferenceTransform
  protocol-sdk-integration-tests/eng/code-quality-reports/src/main/resources/META-INF/services/org.revapi.TreeFilterProvider
  protocol-sdk-integration-tests/eng/code-quality-reports/src/main/resources/checkstyle/checkstyle-suppressions.xml
  protocol-sdk-integration-tests/eng/code-quality-reports/src/main/resources/checkstyle/checkstyle.xml
  protocol-sdk-integration-tests/eng/code-quality-reports/src/main/resources/dependency-allowlist.html
  protocol-sdk-integration-tests/eng/code-quality-reports/src/main/resources/index.html
  protocol-sdk-integration-tests/eng/code-quality-reports/src/main/resources/revapi/revapi.json
  protocol-sdk-integration-tests/eng/code-quality-reports/src/main/resources/spotbugs/spotbugs-exclude.xml
Due: eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

sync tsp-test
  typespec-tests/src/main/java/com/_specs_/azure/core/page/implementation/PageClientImpl.java
  typespec-tests/src/main/java/com/_specs_/azure/core/page/implementation/TwoModelsAsPageItemsImpl.java
  typespec-tests/src/main/java/com/azure/resourcemanager/models/resources/implementation/NestedProxyResourcesClientImpl.java
  typespec-tests/src/main/java/com/azure/resourcemanager/models/resources/implementation/SingletonTrackedResourcesClientImpl.java
  typespec-tests/src/main/java/com/azure/resourcemanager/models/resources/implementation/TopLevelTrackedResourcesClientImpl.java
  typespec-tests/src/main/java/com/cadl/armresourceprovider/implementation/ChildExtensionResourceInterfacesClientImpl.java
  typespec-tests/src/main/java/com/cadl/armresourceprovider/implementation/ChildResourcesInterfacesClientImpl.java
  typespec-tests/src/main/java/com/cadl/armresourceprovider/implementation/OperationsClientImpl.java
  typespec-tests/src/main/java/com/cadl/armresourceprovider/implementation/TopLevelArmResourceInterfacesClientImpl.java
  typespec-tests/src/main/java/com/cadl/protocolandconvenient/implementation/ProtocolAndConvenienceOpsImpl.java
  typespec-tests/src/main/java/com/cadl/specialheaders/implementation/EtagHeadersImpl.java
  typespec-tests/src/main/java/com/cadl/versioning/implementation/VersioningOpsImpl.java
  typespec-tests/src/main/java/com/payload/pageable/implementation/PageableClientImpl.java
  typespec-tests/tsp/arm.tsp
  typespec-tests/tsp/error.tsp
  typespec-tests/tsp/examples/2022-06-01-preview/EtagHeaders_PutWithRequestHeaders.json
  typespec-tests/tsp/examples/2022-06-01-preview/FlattenOp_Send.json
  typespec-tests/tsp/examples/2022-06-01-preview/FlattenOp_SendLong.json
  typespec-tests/tsp/examples/2022-06-01-preview/LongRunning_CreateJob.json
  typespec-tests/tsp/examples/2022-09-01/VersioningOp_List.json
  typespec-tests/tsp/examples/2023-12-01-preview/TopLevelArmResourceInterface_Action.json
  typespec-tests/tsp/examples/ModelOp_PutNested.json
  typespec-tests/tsp/internal.tsp
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

fix dependency merge
  fluentgen/pom.xml
  fluentgen/src/test/java/com/microsoft/typespec/http/client/generator/core/model/projectmodel/ProjectTests.java
  fluentgen/src/test/java/com/microsoft/typespec/http/client/generator/mgmt/mapper/FluentPomMapperTests.java
  fluentgen/src/test/resources/test-pom.xml
Due: eng/pipelines/ci-typespec-java.yaml, eng/pipelines/fluent_integration.yaml

bump versions
  package.json
  typespec-extension/changelog.md
  typespec-extension/package-lock.json
  typespec-extension/package.json
  typespec-tests/package.json
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

bump versions
  package-lock.json
  package.json
  typespec-extension/changelog.md
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

bump core
  typespec-tests/src/main/java/com/cadl/multipart/models/InheritFileData.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

client, fix bug on POM dependency parse (#2958)
  fluentgen/pom.xml
  fluentgen/src/test/java/com/microsoft/typespec/http/client/generator/core/model/projectmodel/ProjectTests.java
  fluentgen/src/test/java/com/microsoft/typespec/http/client/generator/mgmt/mapper/FluentPomMapperTests.java
  fluentgen/src/test/resources/test-pom.xml
  package-lock.json
  package.json
  typespec-extension/changelog.md
  typespec-extension/package-lock.json
  typespec-extension/package.json
  typespec-tests/package.json
  typespec-tests/src/main/java/com/cadl/multipart/models/InheritFileData.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

autorest.java version 4.1.39
  package-lock.json
  package.json
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

add SyncTests script
  typespec-tests/SyncTests.ps1
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

sync tests
  typespec-tests/src/main/java/com/type/model/templated/TemplatedAsyncClient.java
  typespec-tests/src/main/java/com/type/model/templated/TemplatedClient.java
  typespec-tests/src/main/java/com/type/model/templated/TemplatedClientBuilder.java
  typespec-tests/src/main/java/com/type/model/templated/implementation/TemplatedClientImpl.java
  typespec-tests/src/main/java/com/type/model/templated/implementation/package-info.java
  typespec-tests/src/main/java/com/type/model/templated/models/Float32Type.java
  typespec-tests/src/main/java/com/type/model/templated/models/Float32ValuesType.java
  typespec-tests/src/main/java/com/type/model/templated/models/Int32Type.java
  typespec-tests/src/main/java/com/type/model/templated/models/Int32ValuesType.java
  typespec-tests/src/main/java/com/type/model/templated/models/package-info.java
  typespec-tests/src/main/java/com/type/model/templated/package-info.java
  typespec-tests/src/main/java/com/versioning/removed/RemovedAsyncClient.java
  typespec-tests/src/main/java/com/versioning/removed/RemovedClient.java
  typespec-tests/src/main/java/com/versioning/removed/RemovedServiceVersion.java
  typespec-tests/src/main/java/com/versioning/removed/implementation/RemovedClientImpl.java
  typespec-tests/src/main/java/com/versioning/removed/models/EnumV3.java
  typespec-tests/src/main/java/com/versioning/removed/models/ModelV3.java
  typespec-tests/src/main/resources/type-model-templated.properties
  typespec-tests/src/test/java/com/type/model/templated/TemplatedTests.java
  typespec-tests/src/test/java/com/type/model/templated/generated/TemplatedClientTestBase.java
  typespec-tests/src/test/java/com/versioning/removed/RemovedClientTests.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

bump cadl-ranch
  typespec-tests/package.json
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

remove javagen test, as code moved to microsoft/typespec
  fluentgen/src/test/java/com/microsoft/typespec/http/client/generator/core/model/projectmodel/ProjectTests.java
  fluentgen/src/test/resources/test-pom.xml
  javagen/src/test/java/com/microsoft/typespec/http/client/generator/core/BeforeAllTestsExtension.java
  javagen/src/test/java/com/microsoft/typespec/http/client/generator/core/JavaSettingsAccessor.java
  javagen/src/test/java/com/microsoft/typespec/http/client/generator/core/JavagenUnitTests.java
  javagen/src/test/java/com/microsoft/typespec/http/client/generator/core/MockUnitJavagen.java
  javagen/src/test/java/com/microsoft/typespec/http/client/generator/core/mapper/ClientMethodMapperAccessor.java
  javagen/src/test/java/com/microsoft/typespec/http/client/generator/core/mapper/ClientMethodMapperTests.java
  javagen/src/test/java/com/microsoft/typespec/http/client/generator/core/mapper/PomMapperTests.java
  javagen/src/test/java/com/microsoft/typespec/http/client/generator/core/model/clientmodel/ProxyMethodExampleTests.java
  javagen/src/test/java/com/microsoft/typespec/http/client/generator/core/template/TestProxyAssertsTemplateTests.java
  javagen/src/test/java/com/microsoft/typespec/http/client/generator/core/util/ClassNameUtilTests.java
  javagen/src/test/java/com/microsoft/typespec/http/client/generator/core/util/CodeNamerTests.java
  javagen/src/test/java/com/microsoft/typespec/http/client/generator/core/util/ModelTestCaseUtilTests.java
  javagen/src/test/java/com/microsoft/typespec/http/client/generator/core/util/SchemaUtilTests.java
  javagen/src/test/resources/META-INF/services/org.junit.jupiter.api.extension.Extension
  javagen/src/test/resources/containerregistry-code-model-processed-no-tags.yaml
  javagen/src/test/resources/webpubsub-code-model-processed-no-tags.yaml
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

script
  eng/scripts/Build-Packages.ps1
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

submodule
  eng/pipelines/preview.yml
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

bump azure core versions
  azure-dataplane-tests/pom.xml
  azure-tests/pom.xml
  customization-base/src/main/resources/pom.xml
  customization-tests/pom.xml
  fluent-tests/pom.xml
  pom.xml
  protocol-sdk-integration-tests/eng/versioning/version_client.txt
  protocol-tests/pom.xml
  vanilla-tests/pom.xml
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

bump azure core versions
  typespec-tests/pom.xml
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

bump tsp related lib versions and prepare for release
  typespec-extension/changelog.md
  typespec-extension/package-lock.json
  typespec-extension/package.json
  typespec-tests/package.json
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

re-generate test code
  vanilla-tests/src/main/java/fixtures/nonstringenum/models/FloatEnum.java
  vanilla-tests/src/main/java/fixtures/nonstringenum/models/IntEnum.java
Due: eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

disabled tests due to wire type changed for Swagger extensible non-string enum
  vanilla-tests/src/test/java/fixtures/nonstringenum/NonStringEnumTests.java
Due: eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

Update readme.md
  typespec-extension/readme.md
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

Revert "bump azure core versions"
  azure-dataplane-tests/pom.xml
  azure-tests/pom.xml
  customization-base/src/main/resources/pom.xml
  customization-tests/pom.xml
  fluent-tests/pom.xml
  pom.xml
  protocol-sdk-integration-tests/eng/versioning/version_client.txt
  protocol-tests/pom.xml
  typespec-tests/pom.xml
  vanilla-tests/pom.xml
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

eng, fix preview pipeline after microsoft/typespec refactor (#2960)
  eng/pipelines/preview.yml
  eng/scripts/Build-Packages.ps1
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

eng, update jar versions
  azure-dataplane-tests/pom.xml
  azure-tests/pom.xml
  customization-base/src/main/resources/pom.xml
  customization-tests/pom.xml
  fluent-tests/pom.xml
  pom.xml
  protocol-sdk-integration-tests/eng/versioning/version_client.txt
  protocol-tests/pom.xml
  typespec-tests/pom.xml
  vanilla-tests/pom.xml
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

eng, add suppression from typespec
  eng/pipelines/templates/stages/1es-redirect.yml
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

update core and sync tests
  typespec-tests/src/main/java/com/type/model/templated/TemplatedAsyncClient.java
  typespec-tests/src/main/java/com/type/model/templated/TemplatedClient.java
  typespec-tests/src/main/java/com/type/model/templated/TemplatedClientBuilder.java
  typespec-tests/src/main/java/com/type/model/templated/implementation/TemplatedClientImpl.java
  typespec-tests/src/main/java/com/type/model/templated/implementation/package-info.java
  typespec-tests/src/main/java/com/type/model/templated/models/Float32Type.java
  typespec-tests/src/main/java/com/type/model/templated/models/Float32ValuesType.java
  typespec-tests/src/main/java/com/type/model/templated/models/Int32Type.java
  typespec-tests/src/main/java/com/type/model/templated/models/Int32ValuesType.java
  typespec-tests/src/main/java/com/type/model/templated/models/package-info.java
  typespec-tests/src/main/java/com/type/model/templated/package-info.java
  typespec-tests/src/main/java/com/versioning/removed/RemovedAsyncClient.java
  typespec-tests/src/main/java/com/versioning/removed/RemovedClient.java
  typespec-tests/src/main/java/com/versioning/removed/RemovedClientBuilder.java
  typespec-tests/src/main/java/com/versioning/removed/RemovedServiceVersion.java
  typespec-tests/src/main/java/com/versioning/removed/implementation/RemovedClientImpl.java
  typespec-tests/src/main/java/com/versioning/removed/models/EnumV3.java
  typespec-tests/src/main/java/com/versioning/removed/models/ModelV3.java
  typespec-tests/src/main/resources/type-model-templated.properties
  typespec-tests/src/test/java/com/routes/RouteTests.java
  typespec-tests/src/test/java/com/type/model/templated/TemplatedTests.java
  typespec-tests/src/test/java/com/type/model/templated/generated/TemplatedClientTestBase.java
  typespec-tests/src/test/java/com/versioning/removed/RemovedClientTests.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

fix (#2953)
  fluent-tests/Initialize-Tests.ps1
  fluent-tests/src/test/java/com/azure/mgmttest/CompilationTests.java
Due: eng/pipelines/fluent_integration.yaml

bump npm packages
  typespec-extension/package-lock.json
  typespec-extension/package.json
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

update cadl-ranch
  typespec-tests/package.json
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

bump 0.22.1
  typespec-extension/changelog.md
  typespec-extension/package-lock.json
  typespec-extension/package.json
  typespec-tests/package.json
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

eng, update mvn/npm packages (#2963)
  azure-dataplane-tests/pom.xml
  azure-tests/pom.xml
  customization-base/src/main/resources/pom.xml
  customization-tests/pom.xml
  fluent-tests/pom.xml
  pom.xml
  protocol-sdk-integration-tests/eng/versioning/version_client.txt
  protocol-tests/pom.xml
  typespec-extension/changelog.md
  typespec-extension/package-lock.json
  typespec-extension/package.json
  typespec-tests/package.json
  typespec-tests/pom.xml
  typespec-tests/src/main/java/com/type/model/templated/TemplatedAsyncClient.java
  typespec-tests/src/main/java/com/type/model/templated/TemplatedClient.java
  typespec-tests/src/main/java/com/type/model/templated/TemplatedClientBuilder.java
  typespec-tests/src/main/java/com/type/model/templated/implementation/TemplatedClientImpl.java
  typespec-tests/src/main/java/com/type/model/templated/implementation/package-info.java
  typespec-tests/src/main/java/com/type/model/templated/models/Float32Type.java
  typespec-tests/src/main/java/com/type/model/templated/models/Float32ValuesType.java
  typespec-tests/src/main/java/com/type/model/templated/models/Int32Type.java
  typespec-tests/src/main/java/com/type/model/templated/models/Int32ValuesType.java
  typespec-tests/src/main/java/com/type/model/templated/models/package-info.java
  typespec-tests/src/main/java/com/type/model/templated/package-info.java
  typespec-tests/src/main/java/com/versioning/removed/RemovedAsyncClient.java
  typespec-tests/src/main/java/com/versioning/removed/RemovedClient.java
  typespec-tests/src/main/java/com/versioning/removed/RemovedClientBuilder.java
  typespec-tests/src/main/java/com/versioning/removed/RemovedServiceVersion.java
  typespec-tests/src/main/java/com/versioning/removed/implementation/RemovedClientImpl.java
  typespec-tests/src/main/java/com/versioning/removed/models/EnumV3.java
  typespec-tests/src/main/java/com/versioning/removed/models/ModelV3.java
  typespec-tests/src/main/resources/type-model-templated.properties
  typespec-tests/src/test/java/com/routes/RouteTests.java
  typespec-tests/src/test/java/com/type/model/templated/TemplatedTests.java
  typespec-tests/src/test/java/com/type/model/templated/generated/TemplatedClientTestBase.java
  typespec-tests/src/test/java/com/versioning/removed/RemovedClientTests.java
  vanilla-tests/pom.xml
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

Path conditions:
  eng/pipelines/ci-cadl-java.yaml: any of: *, but not: fluent*, postprocessor, vanilla-tests, protocol*
  eng/pipelines/ci-typespec-java.yaml: any of: *, but not: androidgen, azure-dataplane-tests, azure-tests, fluent-tests, partial-update-tests, vanilla-tests, protocol*
  eng/pipelines/ci.yaml: any of: *, but not: fluent*, typespec*
  eng/pipelines/fluent_integration.yaml: any of: *, but not: typespec*
