Repository Azure/autorest.java: changes, and which Azure pipelines are due for each by the changed paths.
All: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

Path conditions:
  eng/pipelines/ci-cadl-java.yaml: any of: *, but not: fluent*, postprocessor, vanilla-tests, protocol*
  eng/pipelines/ci-typespec-java.yaml: any of: *, but not: androidgen, azure-dataplane-tests, azure-tests, fluent-tests, partial-update-tests, vanilla-tests, protocol*
  eng/pipelines/ci.yaml: any of: *, but not: fluent*, typespec*
  eng/pipelines/fluent_integration.yaml: any of: *, but not: typespec*

re-generate test code
  typespec-tests/src/main/java/com/_specs_/azure/core/lro/rpc/legacy/LegacyAsyncClient.java
  typespec-tests/src/main/java/com/_specs_/azure/core/lro/rpc/legacy/LegacyClient.java
  typespec-tests/src/main/java/com/_specs_/azure/core/lro/rpc/legacy/implementation/CreateResourcePollViaOperationLocationsImpl.java
  typespec-tests/src/main/java/com/_specs_/azure/core/lro/rpc/legacy/models/JobStatus.java
  typespec-tests/src/main/java/com/type/property/valuetypes/models/InnerEnum.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

add another test case for inheritance
  typespec-tests/src/main/java/com/cadl/patch/PatchAsyncClient.java
  typespec-tests/src/main/java/com/cadl/patch/PatchClient.java
  typespec-tests/src/main/java/com/cadl/patch/implementation/PatchesImpl.java
  typespec-tests/src/main/java/com/cadl/patch/models/Resource.java
  typespec-tests/tsp/patch.tsp
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

Remove non-null annotation setting
  androidgen/src/main/java/com/azure/autorest/android/mapper/AndroidServiceClientMapper.java
  extension-base/src/main/java/com/azure/autorest/extension/base/plugin/JavaSettings.java
  javagen/src/main/java/com/azure/autorest/mapper/ClientParameterMapper.java
  javagen/src/main/java/com/azure/autorest/mapper/CustomClientParameterMapper.java
  javagen/src/main/java/com/azure/autorest/mapper/ServiceClientMapper.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

Remove NON_NULL ClassType
  javagen/src/main/java/com/azure/autorest/model/clientmodel/ClassType.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

Add flag to fail Javadoc to ensure maintenance
  extension-base/pom.xml
  pom.xml
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

Fix linting problem
  javagen/src/main/java/com/azure/autorest/mapper/ClientParameterMapper.java
  javagen/src/main/java/com/azure/autorest/mapper/CustomClientParameterMapper.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

escape "at" in Javadoc description
  javagen/src/main/java/com/azure/autorest/model/javamodel/JavaJavadocComment.java
  typespec-tests/tsp/naming.tsp
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

bump version
  typespec-extension/changelog.md
  typespec-extension/package-lock.json
  typespec-extension/package.json
  typespec-tests/package.json
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

re-generate test code
  typespec-tests/src/main/java/com/cadl/naming/NamingAsyncClient.java
  typespec-tests/src/main/java/com/cadl/naming/implementation/NamingOpsImpl.java
  typespec-tests/src/main/java/com/cadl/naming/models/BytesData.java
  typespec-tests/src/main/java/com/cadl/naming/models/Data.java
  typespec-tests/src/main/java/com/client/naming/implementation/package-info.java
  typespec-tests/src/main/java/com/client/naming/models/package-info.java
  typespec-tests/src/main/java/com/client/naming/package-info.java
  typespec-tests/src/main/java/com/client/structure/service/implementation/package-info.java
  typespec-tests/src/main/java/com/client/structure/service/package-info.java
  typespec-tests/src/main/java/com/server/path/single/implementation/package-info.java
  typespec-tests/src/main/java/com/server/path/single/package-info.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

comment
  javagen/src/main/java/com/azure/autorest/model/javamodel/JavaJavadocComment.java
  typespec-tests/tsp/naming.tsp
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

format
  typespec-tests/tsp/patch.tsp
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

add the test
  typespec-tests/src/test/java/com/cadl/patch/PatchClientTest.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

bump a minor version
  typespec-extension/changelog.md
  typespec-extension/package.json
  typespec-tests/package.json
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

re-generate test code
  protocol-tests/src/main/java/fixtures/enums/EnumServiceAsyncClient.java
  protocol-tests/src/main/java/fixtures/enums/EnumServiceClient.java
  protocol-tests/src/main/java/fixtures/enums/implementation/EnumServiceClientImpl.java
  protocol-tests/src/main/java/fixtures/url/PathsAsyncClient.java
  protocol-tests/src/main/java/fixtures/url/PathsClient.java
  protocol-tests/src/main/java/fixtures/url/QueriesAsyncClient.java
  protocol-tests/src/main/java/fixtures/url/QueriesClient.java
  protocol-tests/src/main/java/fixtures/url/implementation/PathsImpl.java
  protocol-tests/src/main/java/fixtures/url/implementation/QueriesImpl.java
  protocol-tests/src/main/java/fixtures/url/multi/AutoRestUrlMutliCollectionFormatTestServiceAsyncClient.java
  protocol-tests/src/main/java/fixtures/url/multi/AutoRestUrlMutliCollectionFormatTestServiceClient.java
  protocol-tests/src/main/java/fixtures/url/multi/implementation/QueriesImpl.java
  vanilla-tests/src/main/java/fixtures/additionalproperties/models/PetAPInPropertiesWithAPString.java
  vanilla-tests/src/main/java/fixtures/url/Paths.java
  vanilla-tests/src/main/java/fixtures/url/Queries.java
  vanilla-tests/src/main/java/fixtures/url/multi/Queries.java
Due: eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

update the version
  typespec-extension/package-lock.json
  typespec-extension/package.json
  typespec-tests/package.json
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

fix access of union variant as property
  typespec-extension/src/code-model-builder.ts
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

client, escape "at" in Javadoc description (#2587)
  javagen/src/main/java/com/azure/autorest/model/javamodel/JavaJavadocComment.java
  protocol-tests/src/main/java/fixtures/enums/EnumServiceAsyncClient.java
  protocol-tests/src/main/java/fixtures/enums/EnumServiceClient.java
  protocol-tests/src/main/java/fixtures/enums/implementation/EnumServiceClientImpl.java
  protocol-tests/src/main/java/fixtures/url/PathsAsyncClient.java
  protocol-tests/src/main/java/fixtures/url/PathsClient.java
  protocol-tests/src/main/java/fixtures/url/QueriesAsyncClient.java
  protocol-tests/src/main/java/fixtures/url/QueriesClient.java
  protocol-tests/src/main/java/fixtures/url/implementation/PathsImpl.java
  protocol-tests/src/main/java/fixtures/url/implementation/QueriesImpl.java
  protocol-tests/src/main/java/fixtures/url/multi/AutoRestUrlMutliCollectionFormatTestServiceAsyncClient.java
  protocol-tests/src/main/java/fixtures/url/multi/AutoRestUrlMutliCollectionFormatTestServiceClient.java
  protocol-tests/src/main/java/fixtures/url/multi/implementation/QueriesImpl.java
  typespec-extension/changelog.md
  typespec-extension/package-lock.json
  typespec-extension/package.json
  typespec-extension/src/code-model-builder.ts
  typespec-tests/package.json
  typespec-tests/src/main/java/com/cadl/naming/NamingAsyncClient.java
  typespec-tests/src/main/java/com/cadl/naming/implementation/NamingOpsImpl.java
  typespec-tests/src/main/java/com/cadl/naming/models/BytesData.java
  typespec-tests/src/main/java/com/cadl/naming/models/Data.java
  typespec-tests/src/main/java/com/client/naming/implementation/package-info.java
  typespec-tests/src/main/java/com/client/naming/models/package-info.java
  typespec-tests/src/main/java/com/client/naming/package-info.java
  typespec-tests/src/main/java/com/client/structure/service/implementation/package-info.java
  typespec-tests/src/main/java/com/client/structure/service/package-info.java
  typespec-tests/src/main/java/com/server/path/single/implementation/package-info.java
  typespec-tests/src/main/java/com/server/path/single/package-info.java
  typespec-tests/tsp/naming.tsp
  vanilla-tests/src/main/java/fixtures/additionalproperties/models/PetAPInPropertiesWithAPString.java
  vanilla-tests/src/main/java/fixtures/url/Paths.java
  vanilla-tests/src/main/java/fixtures/url/Queries.java
  vanilla-tests/src/main/java/fixtures/url/multi/Queries.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

script
  PreparePatchRelease.ps1
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

sync release version
  typespec-extension/changelog.md
  typespec-extension/package-lock.json
  typespec-extension/package.json
  typespec-tests/package.json
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

sync patch from main
  javagen/src/main/java/com/azure/autorest/model/javamodel/JavaJavadocComment.java
  typespec-extension/src/code-model-builder.ts
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

update test
  typespec-tests/src/test/java/com/type/array/Float32ValueClientTest.java
  typespec-tests/src/test/java/com/type/dictionary/Float32ValueClientTest.java
  typespec-tests/src/test/java/com/type/property/additionalproperties/ExtendsTests.java
  typespec-tests/src/test/java/com/type/property/additionalproperties/IsFloatClientTest.java
  typespec-tests/src/test/java/com/type/property/valuetypes/FloatOperationClientTest.java
  typespec-tests/src/test/java/com/type/property/valuetypes/LiteralTests.java
  typespec-tests/src/test/java/com/type/property/valuetypes/UnionTests.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml

update emitter-package-lock.json
  eng/sdk/sync_sdk.py
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

Remove non null configuration (#2584)
  androidgen/src/main/java/com/azure/autorest/android/mapper/AndroidServiceClientMapper.java
  extension-base/src/main/java/com/azure/autorest/extension/base/plugin/JavaSettings.java
  javagen/src/main/java/com/azure/autorest/mapper/ClientParameterMapper.java
  javagen/src/main/java/com/azure/autorest/mapper/CustomClientParameterMapper.java
  javagen/src/main/java/com/azure/autorest/mapper/ServiceClientMapper.java
  javagen/src/main/java/com/azure/autorest/model/clientmodel/ClassType.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

update to use New-EmitterPackageJson.ps1
  eng/pipelines/post-publish-sdk.yaml
  eng/sdk/sync_sdk.py
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

Remove JSON flatten setting
  customization-tests/src/main/java/fixtures/bodycomplex/implementation/models/DotFish.java
  customization-tests/src/main/java/fixtures/bodycomplex/implementation/models/DotSalmon.java
  extension-base/src/main/java/com/azure/autorest/extension/base/plugin/JavaSettings.java
  javagen/src/main/java/com/azure/autorest/mapper/ModelMapper.java
  readme.md
  vanilla-tests/src/main/java/fixtures/bodycomplex/models/DotFish.java
  vanilla-tests/src/main/java/fixtures/bodycomplex/models/DotSalmon.java
  vanilla-tests/src/main/java/fixtures/inheritance/passdiscriminator/models/MetricAlertCriteria.java
  vanilla-tests/src/main/java/fixtures/inheritance/passdiscriminator/models/MetricAlertSingleResourceMultipleMetricCriteria.java
  vanilla-tests/src/main/java/fixtures/streamstyleserialization/models/DotFish.java
  vanilla-tests/src/main/java/fixtures/streamstyleserialization/models/DotSalmon.java
  vanilla-tests/src/main/java/fixtures/streamstyleserializationctorargs/models/DotFish.java
  vanilla-tests/src/main/java/fixtures/streamstyleserializationctorargs/models/DotSalmon.java
  vanilla-tests/src/main/java/fixtures/streamstyleserializationimmutableoutput/models/DotFish.java
  vanilla-tests/src/main/java/fixtures/streamstyleserializationimmutableoutput/models/DotSalmon.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

add test case
  partial-update/src/test/java/com/azure/autorest/partialupdate/util/PartialUpdateHandlerTest.java
  partial-update/src/test/resources/partialupdate/ModelWithStaticBlock.java
  partial-update/src/test/resources/partialupdate/ModelWithStaticBlockGenerated.java
  partial-update/src/test/resources/partialupdate/ModelWithoutStaticBlock.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

a token to test replacement
  partial-update/src/test/resources/partialupdate/ModelWithStaticBlockGenerated.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

more test
  partial-update/src/test/java/com/azure/autorest/partialupdate/util/PartialUpdateHandlerTest.java
  partial-update/src/test/resources/partialupdate/ModelWithoutStaticBlockGenerated.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

verify at most 1 static initializer declaration; and replace it if find both in exist code and generated code
  partial-update/src/main/java/com/azure/autorest/partialupdate/util/PartialUpdateHandler.java
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

remove generate-models
  docs/generate/dataplane-customization.md
  extension-base/src/main/java/com/azure/autorest/extension/base/plugin/JavaSettings.java
  javagen/src/main/java/com/azure/autorest/Javagen.java
  javagen/src/main/java/com/azure/autorest/mapper/ClientMapper.java
  protocol-sdk-integration-tests/test.py
  protocol-tests/swagger/dpg-customization.md
  readme.md
Due: eng/pipelines/ci-cadl-java.yaml, eng/pipelines/ci-typespec-java.yaml, eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

re-generate test code
  protocol-tests/src/main/java/fixtures/dpgcustomization/implementation/DpgClientImpl.java
  protocol-tests/src/main/java/fixtures/dpgcustomization/implementation/models/ProductResult.java
  protocol-tests/src/main/java/fixtures/dpgcustomization/implementation/models/package-info.java
  protocol-tests/src/main/java/fixtures/dpgcustomization/models/Input.java
  protocol-tests/src/main/java/fixtures/dpgcustomization/models/LroProduct.java
  protocol-tests/src/main/java/fixtures/dpgcustomization/models/Product.java
  protocol-tests/src/main/java/fixtures/dpgcustomization/models/ProductReceived.java
  protocol-tests/src/main/java/fixtures/dpgcustomization/models/package-info.java
Due: eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml

remove model in test
  protocol-tests/src/test/java/fixtures/dpgcustomization/DpgCustomizationTests.java
Due: eng/pipelines/ci.yaml, eng/pipelines/fluent_integration.yaml
